In [2]:
import pandas as pd
df = pd.read_csv('C:\\Users\\Administrator\\Desktop\\Work\\data\\account\\account_order_history_fixed_pl\\account_order_history_fixed_pl.csv')

In [3]:
df

,A0001,HSIK3,2,22568.000000,2013-05-02 09:15:03.000,22537.000000,2013-05-02 09:16:12.000
0,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000
1,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000
2,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000
3,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000
4,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000
5,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000
6,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000
7,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000
8,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000
9,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000
10,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000
11,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000
12,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000
13,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000
14,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000
15,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000
16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000
17,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000
18,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000
19,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000
20,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000
21,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000
22,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000
23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000
24,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000
25,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000
26,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000
27,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000
28,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000
29,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000
...,...,...,...,...,...,...,...
402730,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000
402731,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000
402732,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000
402733,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000
402734,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000
402735,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000
402736,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000
402737,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000
402738,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000
402739,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000
402740,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000
402741,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000
402742,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000
402743,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000
402744,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000
402745,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000
402746,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000
402747,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000
402748,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000
402749,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000
402750,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000
402751,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000
402752,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000
402753,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000
402754,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000
402755,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000
402756,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000
402757,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000
402758,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000
402759,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000

In [4]:
df.columns= ['account', 'product', 'buy_sell', 'take_price', 'take_time', 'close_price', 'close_time']

In [5]:
df

,account,product,buy_sell,take_price,take_time,close_price,close_time
0,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000
1,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000
2,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000
3,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000
4,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000
5,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000
6,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000
7,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000
8,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000
9,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000
10,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000
11,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000
12,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000
13,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000
14,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000
15,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000
16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000
17,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000
18,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000
19,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000
20,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000
21,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000
22,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000
23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000
24,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000
25,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000
26,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000
27,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000
28,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000
29,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000
...,...,...,...,...,...,...,...
402730,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000
402731,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000
402732,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000
402733,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000
402734,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000
402735,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000
402736,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000
402737,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000
402738,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000
402739,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000
402740,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000
402741,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000
402742,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000
402743,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000
402744,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000
402745,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000
402746,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000
402747,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000
402748,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000
402749,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000
402750,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000
402751,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000
402752,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000
402753,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000
402754,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000
402755,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000
402756,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000
402757,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000
402758,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000
402759,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000

In [6]:
df.index = pd.to_datetime(df.take_time)

In [7]:
df

,account,product,buy_sell,take_price,take_time,close_price,close_time
take_time,,,,,,,
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000
...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000

In [13]:
df.index.date

array([datetime.date(2013, 5, 2), datetime.date(2013, 5, 2),
       datetime.date(2013, 5, 2), ..., datetime.date(2015, 12, 30),
       datetime.date(2015, 12, 30), datetime.date(2015, 12, 30)], dtype=object)

In [8]:
df2 = df[df.index.year == 2014]

In [9]:
df2

,account,product,buy_sell,take_price,take_time,close_price,close_time
take_time,,,,,,,
2014-01-02 09:15:07,A0004,HSIF4,2,23383.0,2014-01-02 09:15:07.000,23379.0,2014-01-02 09:16:25.000
2014-01-02 09:15:07,A0505,HSIF4,2,23384.0,2014-01-02 09:15:07.000,23370.0,2014-01-02 09:16:03.000
2014-01-02 09:15:12,A0509,HSIF4,2,23373.0,2014-01-02 09:15:12.000,23420.0,2014-01-02 09:17:51.000
2014-01-02 09:15:19,A0501,HSIF4,2,23375.0,2014-01-02 09:15:19.000,23471.0,2014-01-02 09:23:14.000
2014-01-02 09:15:43,A0184,HSIF4,1,23383.0,2014-01-02 09:15:43.000,23391.0,2014-01-02 09:16:59.000
2014-01-02 09:15:54,A0545,HSIF4,1,23376.0,2014-01-02 09:15:54.000,23429.0,2014-01-02 09:17:51.000
2014-01-02 09:16:12,A0030,HSIF4,2,23366.0,2014-01-02 09:16:12.000,23399.0,2014-01-02 09:17:05.000
2014-01-02 09:16:20,A0482,HSIF4,2,23377.0,2014-01-02 09:16:20.000,23424.0,2014-01-02 09:17:51.000
2014-01-02 09:16:25,A0218,HSIF4,1,23379.0,2014-01-02 09:16:25.000,23391.0,2014-01-02 09:17:08.000
2014-01-02 09:17:03,A0501,HSIF4,1,23401.0,2014-01-02 09:17:03.000,23411.0,2014-01-02 09:21:39.000
2014-01-02 09:17:12,A0505,HSIF4,2,23402.0,2014-01-02 09:17:12.000,23394.0,2014-01-02 09:20:08.000
2014-01-02 09:17:46,A0335,HSIF4,2,23402.0,2014-01-02 09:17:46.000,23498.0,2014-01-02 09:28:27.000
2014-01-02 09:18:02,A0086,HSIF4,2,23429.0,2014-01-02 09:18:02.000,23416.0,2014-01-02 09:19:24.000
2014-01-02 09:18:16,A0501,HSIF4,1,23427.0,2014-01-02 09:18:16.000,23478.0,2014-01-02 09:23:22.000
2014-01-02 09:18:17,A0367,HSIF4,1,23428.0,2014-01-02 09:18:17.000,23410.0,2014-01-02 09:19:44.000
2014-01-02 09:18:41,A0545,HSIF4,1,23431.0,2014-01-02 09:18:41.000,23484.0,2014-01-02 09:23:15.000
2014-01-02 09:18:45,A0464,HSIF4,2,23431.0,2014-01-02 09:18:45.000,23418.0,2014-01-02 09:38:29.000
2014-01-02 09:18:45,A0482,HSIF4,1,23431.0,2014-01-02 09:18:45.000,23396.0,2014-01-02 09:19:53.000
2014-01-02 09:19:23,A0014,HSIF4,1,23416.0,2014-01-02 09:19:23.000,23221.0,2014-01-02 10:42:59.000
2014-01-02 09:19:28,A0124,HSIF4,1,23417.0,2014-01-02 09:19:28.000,23471.0,2014-01-02 09:28:05.000
2014-01-02 09:19:48,A0435,HSIF4,1,23409.0,2014-01-02 09:19:48.000,23426.0,2014-01-02 09:22:56.000
2014-01-02 09:19:50,A0343,HSIF4,2,23410.0,2014-01-02 09:19:50.000,23401.0,2014-01-02 09:20:44.000
2014-01-02 09:20:17,A0472,HSIF4,2,23392.0,2014-01-02 09:20:17.000,23488.0,2014-01-02 09:23:16.000
2014-01-02 09:20:19,A0367,HSIF4,2,23394.0,2014-01-02 09:20:19.000,23490.0,2014-01-02 09:23:16.000
2014-01-02 09:20:45,A0509,HSIF4,1,23401.0,2014-01-02 09:20:45.000,23426.0,2014-01-02 09:22:56.000
2014-01-02 09:20:50,A0343,HSIF4,1,23401.0,2014-01-02 09:20:50.000,23454.0,2014-01-02 09:23:14.000
2014-01-02 09:21:15,A0435,HSIF4,1,23401.0,2014-01-02 09:21:15.000,23416.0,2014-01-02 09:22:05.000
2014-01-02 09:21:19,A0482,HSIF4,1,23403.0,2014-01-02 09:21:19.000,23456.0,2014-01-02 09:23:14.000
2014-01-02 09:21:27,A0393,HSIF4,2,23405.0,2014-01-02 09:21:27.000,23368.0,2014-01-02 09:58:51.000
2014-01-02 09:21:27,A0505,HSIF4,2,23405.0,2014-01-02 09:21:27.000,23339.0,2014-01-02 09:43:42.000
...,...,...,...,...,...,...,...
2014-12-31 11:35:58,A0577,HSIF5,1,23593.0,2014-12-31 11:35:58.000,23602.0,2014-12-31 11:41:27.000
2014-12-31 11:37:10,A1020,HSIF5,2,23584.0,2014-12-31 11:37:10.000,23591.0,2014-12-31 11:38:50.000
2014-12-31 11:38:55,A1020,HSIF5,1,23590.0,2014-12-31 11:38:55.000,23589.0,2014-12-31 11:39:42.000
2014-12-31 11:40:17,A1074,HSIF5,2,23593.0,2014-12-31 11:40:17.000,23640.0,2014-12-31 11:51:29.000
2014-12-31 11:40:55,A1074,HSIF5,2,23604.0,2014-12-31 11:40:55.000,23649.0,2014-12-31 12:00:00.000
2014-12-31 11:40:57,A1020,HSIF5,1,23605.0,2014-12-31 11:40:57.000,23608.0,2014-12-31 11:43:41.000
2014-12-31 11:41:34,A1109,HSIF5,2,23602.0,2014-12-31 11:41:34.000,23608.0,2014-12-31 11:43:42.000
2014-12-31 11:43:17,A0577,HSIF5,1,23599.0,2014-12-31 11:43:17.000,23623.0,2014-12-31 11:46:05.000
2014-12-31 11:43:17,A1109,HSIF5,2,23599.0,2014-12-31 11:43:17.000,23646.0,2014-12-31 11:59:02.000
2014-12-31 11:43:38,A1151,HSIF5,2,23608.0,2014-12-31 11:43:38.000,23649.0,2014-12-31 12:00:00.000
2014-12-31 11:43:46,A1020,HSIF5,1,23609.0,2014-12-31 11:43:46.000,23624.0,2014-12-31 11:44:43.000
2014-12-31 11:43:57,A0026,HSIF5,2,23614.0,2014-12-31 11:43:57.000,23661.0,2014-12-31 11:59:50.000
2014-12-31 11:44:43,A0973,HSIF5,2,23625.0,2014-12-31 11:44:43.000,23639.0,2014-12-31 11:57:55.000
2014-12-31 11:44:52,A1020,HSIF5,1,23625.0,2014-12-31 11:44:52.000,23638.0,2014-12-31 11:51:28.000
2014-12-31 11:44:54,A1021,HSIF5,2,23625.0,2014-12-31 11:44:54.000,23649.0,2014-12-31 12:00:00.000
2014-12-31 11:45:24,A1109,HSIF5,2,23627.0,2014-12-31 11:45:24.000,23617.0,2014-12-31 11:47:05.000
2014-12-31 11:46:03,A0333,HSIF5,1,23622.0,2014-12-31 11:46:03.000,23631.0,2014-12-31 11:49:18.000
2014-12-31 11:46:57,A0166,HSIF5,2,23617.0,2014-12-31 11:46:57.000,23620.0,2014-12-31 11:48:00.000
2014-12-31 11:48:14,A1127,HSIF5,1,23622.0,2014-12-31 11:48:14.000,23642.0,2014-12-31 11:53:29.000
2014-12-31 11:48:18,A1020,HSIF5,1,23622.0,2014-12-31 11:48:18.000,23632.0,2014-12-31 11:49:22.000
2014-12-31 11:49:41,A0577,HSIF5,2,23629.0,2014-12-31 11:49:41.000,23647.0,2014-12-31 11:59:17.000
2014-12-31 11:50:06,A1021,HSIF5,2,23631.0,2014-12-31 11:50:06.000,23648.0,2014-12-31 11:59:45.000
2014-12-31 11:51:35,A1020,HSIF5,1,23638.0,2014-12-31 11:51:35.000,23640.0,2014-12-31 11:59:08.000
2014-12-31 11:51:51,A0354,HSIF5,2,23636.0,2014-12-31 11:51:51.000,23645.0,2014-12-31 11:55:10.000
2014-12-31 11:55:57,A1109,HSIF5,2,23639.0,2014-12-31 11:55:57.000,23649.0,2014-12-31 12:00:00.000
2014-12-31 11:56:39,A1020,HSIF5,2,23636.0,2014-12-31 11:56:39.000,23649.0,2014-12-31 12:00:00.000
2014-12-31 11:57:16,A0397,HSIF5,2,23637.0,2014-12-31 11:57:16.000,23649.0,2014-12-31 12:00:00.000
2014-12-31 11:58:48,A1109,HSIF5,1,23641.0,2014-12-31 11:58:48.000,23667.0,2014-12-31 11:59:55.000
2014-12-31 11:58:56,A1020,HSIF5,1,23644.0,2014-12-31 11:58:56.000,23650.0,2014-12-31 11:59:35.000
2014-12-31 11:59:27,A1020,HSIF5,1,23649.0,2014-12-31 11:59:27.000,23649.0,2014-12-31 12:00:00.000

In [10]:
df3 = df2[df2.index.month == 9]

In [11]:
df3

,account,product,buy_sell,take_price,take_time,close_price,close_time
take_time,,,,,,,
2014-09-01 09:15:17,A0048,HSIU4,1,24632.0,2014-09-01 09:15:17.000,24607.0,2014-09-01 09:17:24.000
2014-09-01 09:15:25,A0581,HSIU4,1,24639.0,2014-09-01 09:15:25.000,24652.0,2014-09-01 09:16:27.000
2014-09-01 09:15:30,A0877,HSIU4,2,24638.0,2014-09-01 09:15:30.000,24618.0,2014-09-01 09:17:55.000
2014-09-01 09:15:49,A0333,HSIU4,1,24631.0,2014-09-01 09:15:49.000,24654.0,2014-09-01 09:16:21.000
2014-09-01 09:16:04,A0841,HSIU4,1,24644.0,2014-09-01 09:16:04.000,24655.0,2014-09-01 09:16:38.000
2014-09-01 09:16:08,A0026,HSIU4,1,24648.0,2014-09-01 09:16:08.000,24601.0,2014-09-01 09:17:25.000
2014-09-01 09:16:43,A0059,HSIU4,2,24651.0,2014-09-01 09:16:43.000,24846.0,2014-09-01 09:53:08.000
2014-09-01 09:17:09,A0302,HSIU4,2,24648.0,2014-09-01 09:17:09.000,24612.0,2014-09-01 09:17:44.000
2014-09-01 09:17:15,A0408,HSIU4,2,24643.0,2014-09-01 09:17:15.000,24621.0,2014-09-01 09:18:01.000
2014-09-01 09:17:20,A0877,HSIU4,2,24625.0,2014-09-01 09:17:20.000,24820.0,2014-09-01 09:51:13.000
2014-09-01 09:17:26,A0865,HSIU4,1,24600.0,2014-09-01 09:17:26.000,24623.0,2014-09-01 09:18:28.000
2014-09-01 09:17:28,A0004,HSIU4,2,24603.0,2014-09-01 09:17:28.000,24647.0,2014-09-01 09:22:06.000
2014-09-01 09:17:35,A0685,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24629.0,2014-09-01 09:19:21.000
2014-09-01 09:17:35,A0403,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24625.0,2014-09-01 09:18:08.000
2014-09-01 09:17:55,A0343,HSIU4,1,24619.0,2014-09-01 09:17:55.000,24704.0,2014-09-01 09:33:14.000
2014-09-01 09:18:04,A0683,HSIU4,1,24622.0,2014-09-01 09:18:04.000,24636.0,2014-09-01 09:19:32.000
2014-09-01 09:18:21,A0048,HSIU4,1,24621.0,2014-09-01 09:18:21.000,24627.0,2014-09-01 09:18:53.000
2014-09-01 09:19:12,A0230,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24638.0,2014-09-01 09:19:49.000
2014-09-01 09:19:12,A0048,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24639.0,2014-09-01 09:19:48.000
2014-09-01 09:19:18,A0470,HSIU4,1,24633.0,2014-09-01 09:19:18.000,24648.0,2014-09-01 09:22:26.000
2014-09-01 09:19:27,A0251,HSIU4,1,24640.0,2014-09-01 09:19:27.000,24665.0,2014-09-01 09:25:12.000
2014-09-01 09:19:30,A0038,HSIU4,2,24636.0,2014-09-01 09:19:30.000,24683.0,2014-09-01 09:28:48.000
2014-09-01 09:19:38,A0872,HSIU4,1,24639.0,2014-09-01 09:19:38.000,24672.0,2014-09-01 09:24:31.000
2014-09-01 09:19:39,A0968,HSIU4,2,24639.0,2014-09-01 09:19:39.000,24673.0,2014-09-01 09:41:13.000
2014-09-01 09:20:04,A0048,HSIU4,1,24642.0,2014-09-01 09:20:04.000,24683.0,2014-09-01 09:29:09.000
2014-09-01 09:20:08,A0302,HSIU4,2,24641.0,2014-09-01 09:20:08.000,24836.0,2014-09-01 09:52:17.000
2014-09-01 09:20:21,A0865,HSIU4,1,24637.0,2014-09-01 09:20:21.000,24646.0,2014-09-01 09:21:53.000
2014-09-01 09:20:26,A0872,HSIU4,2,24637.0,2014-09-01 09:20:26.000,24832.0,2014-09-01 09:52:16.000
2014-09-01 09:20:39,A0408,HSIU4,2,24640.0,2014-09-01 09:20:39.000,24648.0,2014-09-01 09:22:02.000
2014-09-01 09:20:49,A0973,HSIU4,2,24640.0,2014-09-01 09:20:49.000,24736.0,2014-09-01 09:49:04.000
...,...,...,...,...,...,...,...
2014-09-30 15:24:22,A0188,HSIV4,1,22972.0,2014-09-30 15:24:22.000,22876.0,2014-09-30 15:57:40.000
2014-09-30 15:25:01,A0775,HSIV4,1,22966.0,2014-09-30 15:25:01.000,22963.0,2014-09-30 15:29:42.000
2014-09-30 15:25:44,A0202,HSIV4,1,22957.0,2014-09-30 15:25:44.000,22964.0,2014-09-30 15:30:09.000
2014-09-30 15:27:06,A0923,HSIV4,1,22955.0,2014-09-30 15:27:06.000,22859.0,2014-09-30 15:58:56.000
2014-09-30 15:27:59,A0501,HSIV4,1,22951.0,2014-09-30 15:27:59.000,22958.0,2014-09-30 15:28:53.000
2014-09-30 15:28:41,A0976,HSIV4,2,22954.0,2014-09-30 15:28:41.000,22873.0,2014-09-30 15:58:28.000
2014-09-30 15:31:32,A0511,HSIV4,2,22956.0,2014-09-30 15:31:32.000,22934.0,2014-09-30 15:34:34.000
2014-09-30 15:34:17,A0841,HSIV4,2,22939.0,2014-09-30 15:34:17.000,22930.0,2014-09-30 15:36:06.000
2014-09-30 15:34:21,A0775,HSIV4,1,22936.0,2014-09-30 15:34:21.000,22949.0,2014-09-30 15:39:03.000
2014-09-30 15:34:26,A0302,HSIV4,2,22938.0,2014-09-30 15:34:26.000,22925.0,2014-09-30 15:53:10.000
2014-09-30 15:35:11,A0581,HSIV4,2,22935.0,2014-09-30 15:35:11.000,22929.0,2014-09-30 15:36:08.000
2014-09-30 15:36:03,A0188,HSIV4,1,22929.0,2014-09-30 15:36:03.000,22943.0,2014-09-30 15:42:24.000
2014-09-30 15:38:06,A0501,HSIV4,2,22940.0,2014-09-30 15:38:06.000,22936.0,2014-09-30 15:50:45.000
2014-09-30 15:42:37,A0551,HSIV4,2,22944.0,2014-09-30 15:42:37.000,22888.0,2014-09-30 15:59:31.000
2014-09-30 15:43:13,A0841,HSIV4,2,22934.0,2014-09-30 15:43:13.000,22899.0,2014-09-30 15:54:17.000
2014-09-30 15:44:07,A1036,HSIV4,2,22948.0,2014-09-30 15:44:07.000,22923.0,2014-09-30 15:53:10.000
2014-09-30 15:45:08,A0511,HSIV4,2,22945.0,2014-09-30 15:45:08.000,22938.0,2014-09-30 15:51:50.000
2014-09-30 15:46:43,A0818,HSIV4,2,22940.0,2014-09-30 15:46:43.000,22887.0,2014-09-30 15:56:32.000
2014-09-30 15:53:05,A0775,HSIV4,1,22923.0,2014-09-30 15:53:05.000,22876.0,2014-09-30 15:57:40.000
2014-09-30 15:53:50,A0581,HSIV4,2,22921.0,2014-09-30 15:53:50.000,22899.0,2014-09-30 15:54:28.000
2014-09-30 15:54:08,A0302,HSIV4,2,22914.0,2014-09-30 15:54:08.000,22898.0,2014-09-30 15:54:41.000
2014-09-30 15:54:31,A0501,HSIV4,1,22898.0,2014-09-30 15:54:31.000,22899.0,2014-09-30 15:55:04.000
2014-09-30 15:56:01,A0541,HSIV4,1,22896.0,2014-09-30 15:56:01.000,22809.0,2014-09-30 16:09:17.000
2014-09-30 15:56:31,A0501,HSIV4,1,22890.0,2014-09-30 15:56:31.000,22843.0,2014-09-30 16:02:01.000
2014-09-30 15:56:40,A0302,HSIV4,2,22888.0,2014-09-30 15:56:40.000,22874.0,2014-09-30 15:58:09.000
2014-09-30 15:57:33,A0446,HSIV4,1,22881.0,2014-09-30 15:57:33.000,22887.0,2014-09-30 15:59:12.000
2014-09-30 15:57:43,A0775,HSIV4,1,22878.0,2014-09-30 15:57:43.000,22831.0,2014-09-30 16:02:33.000
2014-09-30 15:58:27,A0302,HSIV4,2,22872.0,2014-09-30 15:58:27.000,22858.0,2014-09-30 16:00:00.000
2014-09-30 16:02:01,A0551,HSIV4,2,22842.0,2014-09-30 16:02:01.000,22838.0,2014-09-30 16:02:37.000
2014-09-30 16:03:15,A0086,HSIV4,1,22840.0,2014-09-30 16:03:15.000,22818.0,2014-09-30 16:12:15.000

In [37]:
df.to_hdf('account_data.h5', 'df')

In [12]:
df.index.name

'take_time'

In [13]:
del df.index.name

In [14]:
df

,account,product,buy_sell,take_price,take_time,close_price,close_time
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000
...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000

In [41]:
df.to_hdf('account_data.h5', 'df')

In [42]:
df2

,account,product,buy_sell,take_price,take_time,close_price,close_time
take_time,,,,,,,
2014-01-02 09:15:07,A0004,HSIF4,2,23383.0,2014-01-02 09:15:07.000,23379.0,2014-01-02 09:16:25.000
2014-01-02 09:15:07,A0505,HSIF4,2,23384.0,2014-01-02 09:15:07.000,23370.0,2014-01-02 09:16:03.000
2014-01-02 09:15:12,A0509,HSIF4,2,23373.0,2014-01-02 09:15:12.000,23420.0,2014-01-02 09:17:51.000
2014-01-02 09:15:19,A0501,HSIF4,2,23375.0,2014-01-02 09:15:19.000,23471.0,2014-01-02 09:23:14.000
2014-01-02 09:15:43,A0184,HSIF4,1,23383.0,2014-01-02 09:15:43.000,23391.0,2014-01-02 09:16:59.000
2014-01-02 09:15:54,A0545,HSIF4,1,23376.0,2014-01-02 09:15:54.000,23429.0,2014-01-02 09:17:51.000
2014-01-02 09:16:12,A0030,HSIF4,2,23366.0,2014-01-02 09:16:12.000,23399.0,2014-01-02 09:17:05.000
2014-01-02 09:16:20,A0482,HSIF4,2,23377.0,2014-01-02 09:16:20.000,23424.0,2014-01-02 09:17:51.000
2014-01-02 09:16:25,A0218,HSIF4,1,23379.0,2014-01-02 09:16:25.000,23391.0,2014-01-02 09:17:08.000
2014-01-02 09:17:03,A0501,HSIF4,1,23401.0,2014-01-02 09:17:03.000,23411.0,2014-01-02 09:21:39.000
2014-01-02 09:17:12,A0505,HSIF4,2,23402.0,2014-01-02 09:17:12.000,23394.0,2014-01-02 09:20:08.000
2014-01-02 09:17:46,A0335,HSIF4,2,23402.0,2014-01-02 09:17:46.000,23498.0,2014-01-02 09:28:27.000
2014-01-02 09:18:02,A0086,HSIF4,2,23429.0,2014-01-02 09:18:02.000,23416.0,2014-01-02 09:19:24.000
2014-01-02 09:18:16,A0501,HSIF4,1,23427.0,2014-01-02 09:18:16.000,23478.0,2014-01-02 09:23:22.000
2014-01-02 09:18:17,A0367,HSIF4,1,23428.0,2014-01-02 09:18:17.000,23410.0,2014-01-02 09:19:44.000
2014-01-02 09:18:41,A0545,HSIF4,1,23431.0,2014-01-02 09:18:41.000,23484.0,2014-01-02 09:23:15.000
2014-01-02 09:18:45,A0464,HSIF4,2,23431.0,2014-01-02 09:18:45.000,23418.0,2014-01-02 09:38:29.000
2014-01-02 09:18:45,A0482,HSIF4,1,23431.0,2014-01-02 09:18:45.000,23396.0,2014-01-02 09:19:53.000
2014-01-02 09:19:23,A0014,HSIF4,1,23416.0,2014-01-02 09:19:23.000,23221.0,2014-01-02 10:42:59.000
2014-01-02 09:19:28,A0124,HSIF4,1,23417.0,2014-01-02 09:19:28.000,23471.0,2014-01-02 09:28:05.000
2014-01-02 09:19:48,A0435,HSIF4,1,23409.0,2014-01-02 09:19:48.000,23426.0,2014-01-02 09:22:56.000
2014-01-02 09:19:50,A0343,HSIF4,2,23410.0,2014-01-02 09:19:50.000,23401.0,2014-01-02 09:20:44.000
2014-01-02 09:20:17,A0472,HSIF4,2,23392.0,2014-01-02 09:20:17.000,23488.0,2014-01-02 09:23:16.000
2014-01-02 09:20:19,A0367,HSIF4,2,23394.0,2014-01-02 09:20:19.000,23490.0,2014-01-02 09:23:16.000
2014-01-02 09:20:45,A0509,HSIF4,1,23401.0,2014-01-02 09:20:45.000,23426.0,2014-01-02 09:22:56.000
2014-01-02 09:20:50,A0343,HSIF4,1,23401.0,2014-01-02 09:20:50.000,23454.0,2014-01-02 09:23:14.000
2014-01-02 09:21:15,A0435,HSIF4,1,23401.0,2014-01-02 09:21:15.000,23416.0,2014-01-02 09:22:05.000
2014-01-02 09:21:19,A0482,HSIF4,1,23403.0,2014-01-02 09:21:19.000,23456.0,2014-01-02 09:23:14.000
2014-01-02 09:21:27,A0393,HSIF4,2,23405.0,2014-01-02 09:21:27.000,23368.0,2014-01-02 09:58:51.000
2014-01-02 09:21:27,A0505,HSIF4,2,23405.0,2014-01-02 09:21:27.000,23339.0,2014-01-02 09:43:42.000
...,...,...,...,...,...,...,...
2014-12-31 11:35:58,A0577,HSIF5,1,23593.0,2014-12-31 11:35:58.000,23602.0,2014-12-31 11:41:27.000
2014-12-31 11:37:10,A1020,HSIF5,2,23584.0,2014-12-31 11:37:10.000,23591.0,2014-12-31 11:38:50.000
2014-12-31 11:38:55,A1020,HSIF5,1,23590.0,2014-12-31 11:38:55.000,23589.0,2014-12-31 11:39:42.000
2014-12-31 11:40:17,A1074,HSIF5,2,23593.0,2014-12-31 11:40:17.000,23640.0,2014-12-31 11:51:29.000
2014-12-31 11:40:55,A1074,HSIF5,2,23604.0,2014-12-31 11:40:55.000,23649.0,2014-12-31 12:00:00.000
2014-12-31 11:40:57,A1020,HSIF5,1,23605.0,2014-12-31 11:40:57.000,23608.0,2014-12-31 11:43:41.000
2014-12-31 11:41:34,A1109,HSIF5,2,23602.0,2014-12-31 11:41:34.000,23608.0,2014-12-31 11:43:42.000
2014-12-31 11:43:17,A0577,HSIF5,1,23599.0,2014-12-31 11:43:17.000,23623.0,2014-12-31 11:46:05.000
2014-12-31 11:43:17,A1109,HSIF5,2,23599.0,2014-12-31 11:43:17.000,23646.0,2014-12-31 11:59:02.000
2014-12-31 11:43:38,A1151,HSIF5,2,23608.0,2014-12-31 11:43:38.000,23649.0,2014-12-31 12:00:00.000
2014-12-31 11:43:46,A1020,HSIF5,1,23609.0,2014-12-31 11:43:46.000,23624.0,2014-12-31 11:44:43.000
2014-12-31 11:43:57,A0026,HSIF5,2,23614.0,2014-12-31 11:43:57.000,23661.0,2014-12-31 11:59:50.000
2014-12-31 11:44:43,A0973,HSIF5,2,23625.0,2014-12-31 11:44:43.000,23639.0,2014-12-31 11:57:55.000
2014-12-31 11:44:52,A1020,HSIF5,1,23625.0,2014-12-31 11:44:52.000,23638.0,2014-12-31 11:51:28.000
2014-12-31 11:44:54,A1021,HSIF5,2,23625.0,2014-12-31 11:44:54.000,23649.0,2014-12-31 12:00:00.000
2014-12-31 11:45:24,A1109,HSIF5,2,23627.0,2014-12-31 11:45:24.000,23617.0,2014-12-31 11:47:05.000
2014-12-31 11:46:03,A0333,HSIF5,1,23622.0,2014-12-31 11:46:03.000,23631.0,2014-12-31 11:49:18.000
2014-12-31 11:46:57,A0166,HSIF5,2,23617.0,2014-12-31 11:46:57.000,23620.0,2014-12-31 11:48:00.000
2014-12-31 11:48:14,A1127,HSIF5,1,23622.0,2014-12-31 11:48:14.000,23642.0,2014-12-31 11:53:29.000
2014-12-31 11:48:18,A1020,HSIF5,1,23622.0,2014-12-31 11:48:18.000,23632.0,2014-12-31 11:49:22.000
2014-12-31 11:49:41,A0577,HSIF5,2,23629.0,2014-12-31 11:49:41.000,23647.0,2014-12-31 11:59:17.000
2014-12-31 11:50:06,A1021,HSIF5,2,23631.0,2014-12-31 11:50:06.000,23648.0,2014-12-31 11:59:45.000
2014-12-31 11:51:35,A1020,HSIF5,1,23638.0,2014-12-31 11:51:35.000,23640.0,2014-12-31 11:59:08.000
2014-12-31 11:51:51,A0354,HSIF5,2,23636.0,2014-12-31 11:51:51.000,23645.0,2014-12-31 11:55:10.000
2014-12-31 11:55:57,A1109,HSIF5,2,23639.0,2014-12-31 11:55:57.000,23649.0,2014-12-31 12:00:00.000
2014-12-31 11:56:39,A1020,HSIF5,2,23636.0,2014-12-31 11:56:39.000,23649.0,2014-12-31 12:00:00.000
2014-12-31 11:57:16,A0397,HSIF5,2,23637.0,2014-12-31 11:57:16.000,23649.0,2014-12-31 12:00:00.000
2014-12-31 11:58:48,A1109,HSIF5,1,23641.0,2014-12-31 11:58:48.000,23667.0,2014-12-31 11:59:55.000
2014-12-31 11:58:56,A1020,HSIF5,1,23644.0,2014-12-31 11:58:56.000,23650.0,2014-12-31 11:59:35.000
2014-12-31 11:59:27,A1020,HSIF5,1,23649.0,2014-12-31 11:59:27.000,23649.0,2014-12-31 12:00:00.000

In [15]:
df3

,account,product,buy_sell,take_price,take_time,close_price,close_time
take_time,,,,,,,
2014-09-01 09:15:17,A0048,HSIU4,1,24632.0,2014-09-01 09:15:17.000,24607.0,2014-09-01 09:17:24.000
2014-09-01 09:15:25,A0581,HSIU4,1,24639.0,2014-09-01 09:15:25.000,24652.0,2014-09-01 09:16:27.000
2014-09-01 09:15:30,A0877,HSIU4,2,24638.0,2014-09-01 09:15:30.000,24618.0,2014-09-01 09:17:55.000
2014-09-01 09:15:49,A0333,HSIU4,1,24631.0,2014-09-01 09:15:49.000,24654.0,2014-09-01 09:16:21.000
2014-09-01 09:16:04,A0841,HSIU4,1,24644.0,2014-09-01 09:16:04.000,24655.0,2014-09-01 09:16:38.000
2014-09-01 09:16:08,A0026,HSIU4,1,24648.0,2014-09-01 09:16:08.000,24601.0,2014-09-01 09:17:25.000
2014-09-01 09:16:43,A0059,HSIU4,2,24651.0,2014-09-01 09:16:43.000,24846.0,2014-09-01 09:53:08.000
2014-09-01 09:17:09,A0302,HSIU4,2,24648.0,2014-09-01 09:17:09.000,24612.0,2014-09-01 09:17:44.000
2014-09-01 09:17:15,A0408,HSIU4,2,24643.0,2014-09-01 09:17:15.000,24621.0,2014-09-01 09:18:01.000
2014-09-01 09:17:20,A0877,HSIU4,2,24625.0,2014-09-01 09:17:20.000,24820.0,2014-09-01 09:51:13.000
2014-09-01 09:17:26,A0865,HSIU4,1,24600.0,2014-09-01 09:17:26.000,24623.0,2014-09-01 09:18:28.000
2014-09-01 09:17:28,A0004,HSIU4,2,24603.0,2014-09-01 09:17:28.000,24647.0,2014-09-01 09:22:06.000
2014-09-01 09:17:35,A0685,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24629.0,2014-09-01 09:19:21.000
2014-09-01 09:17:35,A0403,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24625.0,2014-09-01 09:18:08.000
2014-09-01 09:17:55,A0343,HSIU4,1,24619.0,2014-09-01 09:17:55.000,24704.0,2014-09-01 09:33:14.000
2014-09-01 09:18:04,A0683,HSIU4,1,24622.0,2014-09-01 09:18:04.000,24636.0,2014-09-01 09:19:32.000
2014-09-01 09:18:21,A0048,HSIU4,1,24621.0,2014-09-01 09:18:21.000,24627.0,2014-09-01 09:18:53.000
2014-09-01 09:19:12,A0230,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24638.0,2014-09-01 09:19:49.000
2014-09-01 09:19:12,A0048,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24639.0,2014-09-01 09:19:48.000
2014-09-01 09:19:18,A0470,HSIU4,1,24633.0,2014-09-01 09:19:18.000,24648.0,2014-09-01 09:22:26.000
2014-09-01 09:19:27,A0251,HSIU4,1,24640.0,2014-09-01 09:19:27.000,24665.0,2014-09-01 09:25:12.000
2014-09-01 09:19:30,A0038,HSIU4,2,24636.0,2014-09-01 09:19:30.000,24683.0,2014-09-01 09:28:48.000
2014-09-01 09:19:38,A0872,HSIU4,1,24639.0,2014-09-01 09:19:38.000,24672.0,2014-09-01 09:24:31.000
2014-09-01 09:19:39,A0968,HSIU4,2,24639.0,2014-09-01 09:19:39.000,24673.0,2014-09-01 09:41:13.000
2014-09-01 09:20:04,A0048,HSIU4,1,24642.0,2014-09-01 09:20:04.000,24683.0,2014-09-01 09:29:09.000
2014-09-01 09:20:08,A0302,HSIU4,2,24641.0,2014-09-01 09:20:08.000,24836.0,2014-09-01 09:52:17.000
2014-09-01 09:20:21,A0865,HSIU4,1,24637.0,2014-09-01 09:20:21.000,24646.0,2014-09-01 09:21:53.000
2014-09-01 09:20:26,A0872,HSIU4,2,24637.0,2014-09-01 09:20:26.000,24832.0,2014-09-01 09:52:16.000
2014-09-01 09:20:39,A0408,HSIU4,2,24640.0,2014-09-01 09:20:39.000,24648.0,2014-09-01 09:22:02.000
2014-09-01 09:20:49,A0973,HSIU4,2,24640.0,2014-09-01 09:20:49.000,24736.0,2014-09-01 09:49:04.000
...,...,...,...,...,...,...,...
2014-09-30 15:24:22,A0188,HSIV4,1,22972.0,2014-09-30 15:24:22.000,22876.0,2014-09-30 15:57:40.000
2014-09-30 15:25:01,A0775,HSIV4,1,22966.0,2014-09-30 15:25:01.000,22963.0,2014-09-30 15:29:42.000
2014-09-30 15:25:44,A0202,HSIV4,1,22957.0,2014-09-30 15:25:44.000,22964.0,2014-09-30 15:30:09.000
2014-09-30 15:27:06,A0923,HSIV4,1,22955.0,2014-09-30 15:27:06.000,22859.0,2014-09-30 15:58:56.000
2014-09-30 15:27:59,A0501,HSIV4,1,22951.0,2014-09-30 15:27:59.000,22958.0,2014-09-30 15:28:53.000
2014-09-30 15:28:41,A0976,HSIV4,2,22954.0,2014-09-30 15:28:41.000,22873.0,2014-09-30 15:58:28.000
2014-09-30 15:31:32,A0511,HSIV4,2,22956.0,2014-09-30 15:31:32.000,22934.0,2014-09-30 15:34:34.000
2014-09-30 15:34:17,A0841,HSIV4,2,22939.0,2014-09-30 15:34:17.000,22930.0,2014-09-30 15:36:06.000
2014-09-30 15:34:21,A0775,HSIV4,1,22936.0,2014-09-30 15:34:21.000,22949.0,2014-09-30 15:39:03.000
2014-09-30 15:34:26,A0302,HSIV4,2,22938.0,2014-09-30 15:34:26.000,22925.0,2014-09-30 15:53:10.000
2014-09-30 15:35:11,A0581,HSIV4,2,22935.0,2014-09-30 15:35:11.000,22929.0,2014-09-30 15:36:08.000
2014-09-30 15:36:03,A0188,HSIV4,1,22929.0,2014-09-30 15:36:03.000,22943.0,2014-09-30 15:42:24.000
2014-09-30 15:38:06,A0501,HSIV4,2,22940.0,2014-09-30 15:38:06.000,22936.0,2014-09-30 15:50:45.000
2014-09-30 15:42:37,A0551,HSIV4,2,22944.0,2014-09-30 15:42:37.000,22888.0,2014-09-30 15:59:31.000
2014-09-30 15:43:13,A0841,HSIV4,2,22934.0,2014-09-30 15:43:13.000,22899.0,2014-09-30 15:54:17.000
2014-09-30 15:44:07,A1036,HSIV4,2,22948.0,2014-09-30 15:44:07.000,22923.0,2014-09-30 15:53:10.000
2014-09-30 15:45:08,A0511,HSIV4,2,22945.0,2014-09-30 15:45:08.000,22938.0,2014-09-30 15:51:50.000
2014-09-30 15:46:43,A0818,HSIV4,2,22940.0,2014-09-30 15:46:43.000,22887.0,2014-09-30 15:56:32.000
2014-09-30 15:53:05,A0775,HSIV4,1,22923.0,2014-09-30 15:53:05.000,22876.0,2014-09-30 15:57:40.000
2014-09-30 15:53:50,A0581,HSIV4,2,22921.0,2014-09-30 15:53:50.000,22899.0,2014-09-30 15:54:28.000
2014-09-30 15:54:08,A0302,HSIV4,2,22914.0,2014-09-30 15:54:08.000,22898.0,2014-09-30 15:54:41.000
2014-09-30 15:54:31,A0501,HSIV4,1,22898.0,2014-09-30 15:54:31.000,22899.0,2014-09-30 15:55:04.000
2014-09-30 15:56:01,A0541,HSIV4,1,22896.0,2014-09-30 15:56:01.000,22809.0,2014-09-30 16:09:17.000
2014-09-30 15:56:31,A0501,HSIV4,1,22890.0,2014-09-30 15:56:31.000,22843.0,2014-09-30 16:02:01.000
2014-09-30 15:56:40,A0302,HSIV4,2,22888.0,2014-09-30 15:56:40.000,22874.0,2014-09-30 15:58:09.000
2014-09-30 15:57:33,A0446,HSIV4,1,22881.0,2014-09-30 15:57:33.000,22887.0,2014-09-30 15:59:12.000
2014-09-30 15:57:43,A0775,HSIV4,1,22878.0,2014-09-30 15:57:43.000,22831.0,2014-09-30 16:02:33.000
2014-09-30 15:58:27,A0302,HSIV4,2,22872.0,2014-09-30 15:58:27.000,22858.0,2014-09-30 16:00:00.000
2014-09-30 16:02:01,A0551,HSIV4,2,22842.0,2014-09-30 16:02:01.000,22838.0,2014-09-30 16:02:37.000
2014-09-30 16:03:15,A0086,HSIV4,1,22840.0,2014-09-30 16:03:15.000,22818.0,2014-09-30 16:12:15.000

In [16]:
del df3.index.name

In [17]:
df3

,account,product,buy_sell,take_price,take_time,close_price,close_time
2014-09-01 09:15:17,A0048,HSIU4,1,24632.0,2014-09-01 09:15:17.000,24607.0,2014-09-01 09:17:24.000
2014-09-01 09:15:25,A0581,HSIU4,1,24639.0,2014-09-01 09:15:25.000,24652.0,2014-09-01 09:16:27.000
2014-09-01 09:15:30,A0877,HSIU4,2,24638.0,2014-09-01 09:15:30.000,24618.0,2014-09-01 09:17:55.000
2014-09-01 09:15:49,A0333,HSIU4,1,24631.0,2014-09-01 09:15:49.000,24654.0,2014-09-01 09:16:21.000
2014-09-01 09:16:04,A0841,HSIU4,1,24644.0,2014-09-01 09:16:04.000,24655.0,2014-09-01 09:16:38.000
2014-09-01 09:16:08,A0026,HSIU4,1,24648.0,2014-09-01 09:16:08.000,24601.0,2014-09-01 09:17:25.000
2014-09-01 09:16:43,A0059,HSIU4,2,24651.0,2014-09-01 09:16:43.000,24846.0,2014-09-01 09:53:08.000
2014-09-01 09:17:09,A0302,HSIU4,2,24648.0,2014-09-01 09:17:09.000,24612.0,2014-09-01 09:17:44.000
2014-09-01 09:17:15,A0408,HSIU4,2,24643.0,2014-09-01 09:17:15.000,24621.0,2014-09-01 09:18:01.000
2014-09-01 09:17:20,A0877,HSIU4,2,24625.0,2014-09-01 09:17:20.000,24820.0,2014-09-01 09:51:13.000
2014-09-01 09:17:26,A0865,HSIU4,1,24600.0,2014-09-01 09:17:26.000,24623.0,2014-09-01 09:18:28.000
2014-09-01 09:17:28,A0004,HSIU4,2,24603.0,2014-09-01 09:17:28.000,24647.0,2014-09-01 09:22:06.000
2014-09-01 09:17:35,A0685,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24629.0,2014-09-01 09:19:21.000
2014-09-01 09:17:35,A0403,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24625.0,2014-09-01 09:18:08.000
2014-09-01 09:17:55,A0343,HSIU4,1,24619.0,2014-09-01 09:17:55.000,24704.0,2014-09-01 09:33:14.000
2014-09-01 09:18:04,A0683,HSIU4,1,24622.0,2014-09-01 09:18:04.000,24636.0,2014-09-01 09:19:32.000
2014-09-01 09:18:21,A0048,HSIU4,1,24621.0,2014-09-01 09:18:21.000,24627.0,2014-09-01 09:18:53.000
2014-09-01 09:19:12,A0230,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24638.0,2014-09-01 09:19:49.000
2014-09-01 09:19:12,A0048,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24639.0,2014-09-01 09:19:48.000
2014-09-01 09:19:18,A0470,HSIU4,1,24633.0,2014-09-01 09:19:18.000,24648.0,2014-09-01 09:22:26.000
2014-09-01 09:19:27,A0251,HSIU4,1,24640.0,2014-09-01 09:19:27.000,24665.0,2014-09-01 09:25:12.000
2014-09-01 09:19:30,A0038,HSIU4,2,24636.0,2014-09-01 09:19:30.000,24683.0,2014-09-01 09:28:48.000
2014-09-01 09:19:38,A0872,HSIU4,1,24639.0,2014-09-01 09:19:38.000,24672.0,2014-09-01 09:24:31.000
2014-09-01 09:19:39,A0968,HSIU4,2,24639.0,2014-09-01 09:19:39.000,24673.0,2014-09-01 09:41:13.000
2014-09-01 09:20:04,A0048,HSIU4,1,24642.0,2014-09-01 09:20:04.000,24683.0,2014-09-01 09:29:09.000
2014-09-01 09:20:08,A0302,HSIU4,2,24641.0,2014-09-01 09:20:08.000,24836.0,2014-09-01 09:52:17.000
2014-09-01 09:20:21,A0865,HSIU4,1,24637.0,2014-09-01 09:20:21.000,24646.0,2014-09-01 09:21:53.000
2014-09-01 09:20:26,A0872,HSIU4,2,24637.0,2014-09-01 09:20:26.000,24832.0,2014-09-01 09:52:16.000
2014-09-01 09:20:39,A0408,HSIU4,2,24640.0,2014-09-01 09:20:39.000,24648.0,2014-09-01 09:22:02.000
2014-09-01 09:20:49,A0973,HSIU4,2,24640.0,2014-09-01 09:20:49.000,24736.0,2014-09-01 09:49:04.000
...,...,...,...,...,...,...,...
2014-09-30 15:24:22,A0188,HSIV4,1,22972.0,2014-09-30 15:24:22.000,22876.0,2014-09-30 15:57:40.000
2014-09-30 15:25:01,A0775,HSIV4,1,22966.0,2014-09-30 15:25:01.000,22963.0,2014-09-30 15:29:42.000
2014-09-30 15:25:44,A0202,HSIV4,1,22957.0,2014-09-30 15:25:44.000,22964.0,2014-09-30 15:30:09.000
2014-09-30 15:27:06,A0923,HSIV4,1,22955.0,2014-09-30 15:27:06.000,22859.0,2014-09-30 15:58:56.000
2014-09-30 15:27:59,A0501,HSIV4,1,22951.0,2014-09-30 15:27:59.000,22958.0,2014-09-30 15:28:53.000
2014-09-30 15:28:41,A0976,HSIV4,2,22954.0,2014-09-30 15:28:41.000,22873.0,2014-09-30 15:58:28.000
2014-09-30 15:31:32,A0511,HSIV4,2,22956.0,2014-09-30 15:31:32.000,22934.0,2014-09-30 15:34:34.000
2014-09-30 15:34:17,A0841,HSIV4,2,22939.0,2014-09-30 15:34:17.000,22930.0,2014-09-30 15:36:06.000
2014-09-30 15:34:21,A0775,HSIV4,1,22936.0,2014-09-30 15:34:21.000,22949.0,2014-09-30 15:39:03.000
2014-09-30 15:34:26,A0302,HSIV4,2,22938.0,2014-09-30 15:34:26.000,22925.0,2014-09-30 15:53:10.000
2014-09-30 15:35:11,A0581,HSIV4,2,22935.0,2014-09-30 15:35:11.000,22929.0,2014-09-30 15:36:08.000
2014-09-30 15:36:03,A0188,HSIV4,1,22929.0,2014-09-30 15:36:03.000,22943.0,2014-09-30 15:42:24.000
2014-09-30 15:38:06,A0501,HSIV4,2,22940.0,2014-09-30 15:38:06.000,22936.0,2014-09-30 15:50:45.000
2014-09-30 15:42:37,A0551,HSIV4,2,22944.0,2014-09-30 15:42:37.000,22888.0,2014-09-30 15:59:31.000
2014-09-30 15:43:13,A0841,HSIV4,2,22934.0,2014-09-30 15:43:13.000,22899.0,2014-09-30 15:54:17.000
2014-09-30 15:44:07,A1036,HSIV4,2,22948.0,2014-09-30 15:44:07.000,22923.0,2014-09-30 15:53:10.000
2014-09-30 15:45:08,A0511,HSIV4,2,22945.0,2014-09-30 15:45:08.000,22938.0,2014-09-30 15:51:50.000
2014-09-30 15:46:43,A0818,HSIV4,2,22940.0,2014-09-30 15:46:43.000,22887.0,2014-09-30 15:56:32.000
2014-09-30 15:53:05,A0775,HSIV4,1,22923.0,2014-09-30 15:53:05.000,22876.0,2014-09-30 15:57:40.000
2014-09-30 15:53:50,A0581,HSIV4,2,22921.0,2014-09-30 15:53:50.000,22899.0,2014-09-30 15:54:28.000
2014-09-30 15:54:08,A0302,HSIV4,2,22914.0,2014-09-30 15:54:08.000,22898.0,2014-09-30 15:54:41.000
2014-09-30 15:54:31,A0501,HSIV4,1,22898.0,2014-09-30 15:54:31.000,22899.0,2014-09-30 15:55:04.000
2014-09-30 15:56:01,A0541,HSIV4,1,22896.0,2014-09-30 15:56:01.000,22809.0,2014-09-30 16:09:17.000
2014-09-30 15:56:31,A0501,HSIV4,1,22890.0,2014-09-30 15:56:31.000,22843.0,2014-09-30 16:02:01.000
2014-09-30 15:56:40,A0302,HSIV4,2,22888.0,2014-09-30 15:56:40.000,22874.0,2014-09-30 15:58:09.000
2014-09-30 15:57:33,A0446,HSIV4,1,22881.0,2014-09-30 15:57:33.000,22887.0,2014-09-30 15:59:12.000
2014-09-30 15:57:43,A0775,HSIV4,1,22878.0,2014-09-30 15:57:43.000,22831.0,2014-09-30 16:02:33.000
2014-09-30 15:58:27,A0302,HSIV4,2,22872.0,2014-09-30 15:58:27.000,22858.0,2014-09-30 16:00:00.000
2014-09-30 16:02:01,A0551,HSIV4,2,22842.0,2014-09-30 16:02:01.000,22838.0,2014-09-30 16:02:37.000
2014-09-30 16:03:15,A0086,HSIV4,1,22840.0,2014-09-30 16:03:15.000,22818.0,2014-09-30 16:12:15.000

In [18]:
profit = df3.close_price - df3.take_price

In [19]:
profit

2014-09-01 09:15:17    -25.0
2014-09-01 09:15:25     13.0
2014-09-01 09:15:30    -20.0
2014-09-01 09:15:49     23.0
2014-09-01 09:16:04     11.0
2014-09-01 09:16:08    -47.0
2014-09-01 09:16:43    195.0
2014-09-01 09:17:09    -36.0
2014-09-01 09:17:15    -22.0
2014-09-01 09:17:20    195.0
2014-09-01 09:17:26     23.0
2014-09-01 09:17:28     44.0
2014-09-01 09:17:35     19.0
2014-09-01 09:17:35     15.0
2014-09-01 09:17:55     85.0
2014-09-01 09:18:04     14.0
2014-09-01 09:18:21      6.0
2014-09-01 09:19:12      8.0
2014-09-01 09:19:12      9.0
2014-09-01 09:19:18     15.0
2014-09-01 09:19:27     25.0
2014-09-01 09:19:30     47.0
2014-09-01 09:19:38     33.0
2014-09-01 09:19:39     34.0
2014-09-01 09:20:04     41.0
2014-09-01 09:20:08    195.0
2014-09-01 09:20:21      9.0
2014-09-01 09:20:26    195.0
2014-09-01 09:20:39      8.0
2014-09-01 09:20:49     96.0
                       ...
2014-09-30 15:24:22    -96.0
2014-09-30 15:25:01     -3.0
2014-09-30 15:25:44      7.0
2014-09-30 15:27:06    -96.0
2014-09-30 15:27:59      7.0
2014-09-30 15:28:41    -81.0
2014-09-30 15:31:32    -22.0
2014-09-30 15:34:17     -9.0
2014-09-30 15:34:21     13.0
2014-09-30 15:34:26    -13.0
2014-09-30 15:35:11     -6.0
2014-09-30 15:36:03     14.0
2014-09-30 15:38:06     -4.0
2014-09-30 15:42:37    -56.0
2014-09-30 15:43:13    -35.0
2014-09-30 15:44:07    -25.0
2014-09-30 15:45:08     -7.0
2014-09-30 15:46:43    -53.0
2014-09-30 15:53:05    -47.0
2014-09-30 15:53:50    -22.0
2014-09-30 15:54:08    -16.0
2014-09-30 15:54:31      1.0
2014-09-30 15:56:01    -87.0
2014-09-30 15:56:31    -47.0
2014-09-30 15:56:40    -14.0
2014-09-30 15:57:33      6.0
2014-09-30 15:57:43    -47.0
2014-09-30 15:58:27    -14.0
2014-09-30 16:02:01     -4.0
2014-09-30 16:03:15    -22.0
Length: 12882, dtype: float64

In [20]:
df3.insert(7, 'profit', profit)

df3

In [21]:
df3

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit
2014-09-01 09:15:17,A0048,HSIU4,1,24632.0,2014-09-01 09:15:17.000,24607.0,2014-09-01 09:17:24.000,-25.0
2014-09-01 09:15:25,A0581,HSIU4,1,24639.0,2014-09-01 09:15:25.000,24652.0,2014-09-01 09:16:27.000,13.0
2014-09-01 09:15:30,A0877,HSIU4,2,24638.0,2014-09-01 09:15:30.000,24618.0,2014-09-01 09:17:55.000,-20.0
2014-09-01 09:15:49,A0333,HSIU4,1,24631.0,2014-09-01 09:15:49.000,24654.0,2014-09-01 09:16:21.000,23.0
2014-09-01 09:16:04,A0841,HSIU4,1,24644.0,2014-09-01 09:16:04.000,24655.0,2014-09-01 09:16:38.000,11.0
2014-09-01 09:16:08,A0026,HSIU4,1,24648.0,2014-09-01 09:16:08.000,24601.0,2014-09-01 09:17:25.000,-47.0
2014-09-01 09:16:43,A0059,HSIU4,2,24651.0,2014-09-01 09:16:43.000,24846.0,2014-09-01 09:53:08.000,195.0
2014-09-01 09:17:09,A0302,HSIU4,2,24648.0,2014-09-01 09:17:09.000,24612.0,2014-09-01 09:17:44.000,-36.0
2014-09-01 09:17:15,A0408,HSIU4,2,24643.0,2014-09-01 09:17:15.000,24621.0,2014-09-01 09:18:01.000,-22.0
2014-09-01 09:17:20,A0877,HSIU4,2,24625.0,2014-09-01 09:17:20.000,24820.0,2014-09-01 09:51:13.000,195.0
2014-09-01 09:17:26,A0865,HSIU4,1,24600.0,2014-09-01 09:17:26.000,24623.0,2014-09-01 09:18:28.000,23.0
2014-09-01 09:17:28,A0004,HSIU4,2,24603.0,2014-09-01 09:17:28.000,24647.0,2014-09-01 09:22:06.000,44.0
2014-09-01 09:17:35,A0685,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24629.0,2014-09-01 09:19:21.000,19.0
2014-09-01 09:17:35,A0403,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24625.0,2014-09-01 09:18:08.000,15.0
2014-09-01 09:17:55,A0343,HSIU4,1,24619.0,2014-09-01 09:17:55.000,24704.0,2014-09-01 09:33:14.000,85.0
2014-09-01 09:18:04,A0683,HSIU4,1,24622.0,2014-09-01 09:18:04.000,24636.0,2014-09-01 09:19:32.000,14.0
2014-09-01 09:18:21,A0048,HSIU4,1,24621.0,2014-09-01 09:18:21.000,24627.0,2014-09-01 09:18:53.000,6.0
2014-09-01 09:19:12,A0230,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24638.0,2014-09-01 09:19:49.000,8.0
2014-09-01 09:19:12,A0048,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24639.0,2014-09-01 09:19:48.000,9.0
2014-09-01 09:19:18,A0470,HSIU4,1,24633.0,2014-09-01 09:19:18.000,24648.0,2014-09-01 09:22:26.000,15.0
2014-09-01 09:19:27,A0251,HSIU4,1,24640.0,2014-09-01 09:19:27.000,24665.0,2014-09-01 09:25:12.000,25.0
2014-09-01 09:19:30,A0038,HSIU4,2,24636.0,2014-09-01 09:19:30.000,24683.0,2014-09-01 09:28:48.000,47.0
2014-09-01 09:19:38,A0872,HSIU4,1,24639.0,2014-09-01 09:19:38.000,24672.0,2014-09-01 09:24:31.000,33.0
2014-09-01 09:19:39,A0968,HSIU4,2,24639.0,2014-09-01 09:19:39.000,24673.0,2014-09-01 09:41:13.000,34.0
2014-09-01 09:20:04,A0048,HSIU4,1,24642.0,2014-09-01 09:20:04.000,24683.0,2014-09-01 09:29:09.000,41.0
2014-09-01 09:20:08,A0302,HSIU4,2,24641.0,2014-09-01 09:20:08.000,24836.0,2014-09-01 09:52:17.000,195.0
2014-09-01 09:20:21,A0865,HSIU4,1,24637.0,2014-09-01 09:20:21.000,24646.0,2014-09-01 09:21:53.000,9.0
2014-09-01 09:20:26,A0872,HSIU4,2,24637.0,2014-09-01 09:20:26.000,24832.0,2014-09-01 09:52:16.000,195.0
2014-09-01 09:20:39,A0408,HSIU4,2,24640.0,2014-09-01 09:20:39.000,24648.0,2014-09-01 09:22:02.000,8.0
2014-09-01 09:20:49,A0973,HSIU4,2,24640.0,2014-09-01 09:20:49.000,24736.0,2014-09-01 09:49:04.000,96.0
...,...,...,...,...,...,...,...,...
2014-09-30 15:24:22,A0188,HSIV4,1,22972.0,2014-09-30 15:24:22.000,22876.0,2014-09-30 15:57:40.000,-96.0
2014-09-30 15:25:01,A0775,HSIV4,1,22966.0,2014-09-30 15:25:01.000,22963.0,2014-09-30 15:29:42.000,-3.0
2014-09-30 15:25:44,A0202,HSIV4,1,22957.0,2014-09-30 15:25:44.000,22964.0,2014-09-30 15:30:09.000,7.0
2014-09-30 15:27:06,A0923,HSIV4,1,22955.0,2014-09-30 15:27:06.000,22859.0,2014-09-30 15:58:56.000,-96.0
2014-09-30 15:27:59,A0501,HSIV4,1,22951.0,2014-09-30 15:27:59.000,22958.0,2014-09-30 15:28:53.000,7.0
2014-09-30 15:28:41,A0976,HSIV4,2,22954.0,2014-09-30 15:28:41.000,22873.0,2014-09-30 15:58:28.000,-81.0
2014-09-30 15:31:32,A0511,HSIV4,2,22956.0,2014-09-30 15:31:32.000,22934.0,2014-09-30 15:34:34.000,-22.0
2014-09-30 15:34:17,A0841,HSIV4,2,22939.0,2014-09-30 15:34:17.000,22930.0,2014-09-30 15:36:06.000,-9.0
2014-09-30 15:34:21,A0775,HSIV4,1,22936.0,2014-09-30 15:34:21.000,22949.0,2014-09-30 15:39:03.000,13.0
2014-09-30 15:34:26,A0302,HSIV4,2,22938.0,2014-09-30 15:34:26.000,22925.0,2014-09-30 15:53:10.000,-13.0
2014-09-30 15:35:11,A0581,HSIV4,2,22935.0,2014-09-30 15:35:11.000,22929.0,2014-09-30 15:36:08.000,-6.0
2014-09-30 15:36:03,A0188,HSIV4,1,22929.0,2014-09-30 15:36:03.000,22943.0,2014-09-30 15:42:24.000,14.0
2014-09-30 15:38:06,A0501,HSIV4,2,22940.0,2014-09-30 15:38:06.000,22936.0,2014-09-30 15:50:45.000,-4.0
2014-09-30 15:42:37,A0551,HSIV4,2,22944.0,2014-09-30 15:42:37.000,22888.0,2014-09-30 15:59:31.000,-56.0
2014-09-30 15:43:13,A0841,HSIV4,2,22934.0,2014-09-30 15:43:13.000,22899.0,2014-09-30 15:54:17.000,-35.0
2014-09-30 15:44:07,A1036,HSIV4,2,22948.0,2014-09-30 15:44:07.000,22923.0,2014-09-30 15:53:10.000,-25.0
2014-09-30 15:45:08,A0511,HSIV4,2,22945.0,2014-09-30 15:45:08.000,22938.0,2014-09-30 15:51:50.000,-7.0
2014-09-30 15:46:43,A0818,HSIV4,2,22940.0,2014-09-30 15:46:43.000,22887.0,2014-09-30 15:56:32.000,-53.0
2014-09-30 15:53:05,A0775,HSIV4,1,22923.0,2014-09-30 15:53:05.000,22876.0,2014-09-30 15:57:40.000,-47.0
2014-09-30 15:53:50,A0581,HSIV4,2,22921.0,2014-09-30 15:53:50.000,22899.0,2014-09-30 15:54:28.000,-22.0
2014-09-30 15:54:08,A0302,HSIV4,2,22914.0,2014-09-30 15:54:08.000,22898.0,2014-09-30 15:54:41.000,-16.0
2014-09-30 15:54:31,A0501,HSIV4,1,22898.0,2014-09-30 15:54:31.000,22899.0,2014-09-30 15:55:04.000,1.0
2014-09-30 15:56:01,A0541,HSIV4,1,22896.0,2014-09-30 15:56:01.000,22809.0,2014-09-30 16:09:17.000,-87.0
2014-09-30 15:56:31,A0501,HSIV4,1,22890.0,2014-09-30 15:56:31.000,22843.0,2014-09-30 16:02:01.000,-47.0
2014-09-30 15:56:40,A0302,HSIV4,2,22888.0,2014-09-30 15:56:40.000,22874.0,2014-09-30 15:58:09.000,-14.0
2014-09-30 15:57:33,A0446,HSIV4,1,22881.0,2014-09-30 15:57:33.000,22887.0,2014-09-30 15:59:12.000,6.0
2014-09-30 15:57:43,A0775,HSIV4,1,22878.0,2014-09-30 15:57:43.000,22831.0,2014-09-30 16:02:33.000,-47.0
2014-09-30 15:58:27,A0302,HSIV4,2,22872.0,2014-09-30 15:58:27.000,22858.0,2014-09-30 16:00:00.000,-14.0
2014-09-30 16:02:01,A0551,HSIV4,2,22842.0,2014-09-30 16:02:01.000,22838.0,2014-09-30 16:02:37.000,-4.0
2014-09-30 16:03:15,A0086,HSIV4,1,22840.0,2014-09-30 16:03:15.000,22818.0,2014-09-30 16:12:15.000,-22.0

In [44]:
def count_profit(x):
    if x == 1:
        df3.profit = df3.close_price - df3.take_price
    else:
        df3.profit = df3.take_price - df3.close_price
    return

In [45]:
df3.groupby('buy_sell').size()

buy_sell
1    6774
2    6108
dtype: int64

In [46]:
df3[df3.buy_sell == 1]

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit
2014-09-01 09:15:17,A0048,HSIU4,1,24632.0,2014-09-01 09:15:17.000,24607.0,2014-09-01 09:17:24.000,25.0
2014-09-01 09:15:25,A0581,HSIU4,1,24639.0,2014-09-01 09:15:25.000,24652.0,2014-09-01 09:16:27.000,-13.0
2014-09-01 09:15:49,A0333,HSIU4,1,24631.0,2014-09-01 09:15:49.000,24654.0,2014-09-01 09:16:21.000,-23.0
2014-09-01 09:16:04,A0841,HSIU4,1,24644.0,2014-09-01 09:16:04.000,24655.0,2014-09-01 09:16:38.000,-11.0
2014-09-01 09:16:08,A0026,HSIU4,1,24648.0,2014-09-01 09:16:08.000,24601.0,2014-09-01 09:17:25.000,47.0
2014-09-01 09:17:26,A0865,HSIU4,1,24600.0,2014-09-01 09:17:26.000,24623.0,2014-09-01 09:18:28.000,-23.0
2014-09-01 09:17:35,A0685,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24629.0,2014-09-01 09:19:21.000,-19.0
2014-09-01 09:17:35,A0403,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24625.0,2014-09-01 09:18:08.000,-15.0
2014-09-01 09:17:55,A0343,HSIU4,1,24619.0,2014-09-01 09:17:55.000,24704.0,2014-09-01 09:33:14.000,-85.0
2014-09-01 09:18:04,A0683,HSIU4,1,24622.0,2014-09-01 09:18:04.000,24636.0,2014-09-01 09:19:32.000,-14.0
2014-09-01 09:18:21,A0048,HSIU4,1,24621.0,2014-09-01 09:18:21.000,24627.0,2014-09-01 09:18:53.000,-6.0
2014-09-01 09:19:12,A0230,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24638.0,2014-09-01 09:19:49.000,-8.0
2014-09-01 09:19:12,A0048,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24639.0,2014-09-01 09:19:48.000,-9.0
2014-09-01 09:19:18,A0470,HSIU4,1,24633.0,2014-09-01 09:19:18.000,24648.0,2014-09-01 09:22:26.000,-15.0
2014-09-01 09:19:27,A0251,HSIU4,1,24640.0,2014-09-01 09:19:27.000,24665.0,2014-09-01 09:25:12.000,-25.0
2014-09-01 09:19:38,A0872,HSIU4,1,24639.0,2014-09-01 09:19:38.000,24672.0,2014-09-01 09:24:31.000,-33.0
2014-09-01 09:20:04,A0048,HSIU4,1,24642.0,2014-09-01 09:20:04.000,24683.0,2014-09-01 09:29:09.000,-41.0
2014-09-01 09:20:21,A0865,HSIU4,1,24637.0,2014-09-01 09:20:21.000,24646.0,2014-09-01 09:21:53.000,-9.0
2014-09-01 09:22:46,A0408,HSIU4,1,24653.0,2014-09-01 09:22:46.000,24663.0,2014-09-01 09:25:16.000,-10.0
2014-09-01 09:23:06,A0581,HSIU4,1,24659.0,2014-09-01 09:23:06.000,24666.0,2014-09-01 09:24:41.000,-7.0
2014-09-01 09:23:06,A0048,HSIU4,1,24659.0,2014-09-01 09:23:06.000,24680.0,2014-09-01 09:29:32.000,-21.0
2014-09-01 09:24:18,A0395,HSIU4,1,24663.0,2014-09-01 09:24:18.000,24677.0,2014-09-01 09:27:31.000,-14.0
2014-09-01 09:24:33,A0048,HSIU4,1,24669.0,2014-09-01 09:24:33.000,24705.0,2014-09-01 09:33:30.000,-36.0
2014-09-01 09:27:24,A0639,HSIU4,1,24672.0,2014-09-01 09:27:24.000,24677.0,2014-09-01 09:28:20.000,-5.0
2014-09-01 09:27:24,A0048,HSIU4,1,24672.0,2014-09-01 09:27:24.000,24699.0,2014-09-01 09:34:35.000,-27.0
2014-09-01 09:27:26,A0581,HSIU4,1,24680.0,2014-09-01 09:27:26.000,24672.0,2014-09-01 09:30:36.000,8.0
2014-09-01 09:28:03,A0048,HSIU4,1,24675.0,2014-09-01 09:28:03.000,24698.0,2014-09-01 09:34:37.000,-23.0
2014-09-01 09:28:50,A0408,HSIU4,1,24683.0,2014-09-01 09:28:50.000,24672.0,2014-09-01 09:30:36.000,11.0
2014-09-01 09:29:01,A0873,HSIU4,1,24680.0,2014-09-01 09:29:01.000,24691.0,2014-09-01 09:31:10.000,-11.0
2014-09-01 09:30:21,A0048,HSIU4,1,24676.0,2014-09-01 09:30:21.000,24690.0,2014-09-01 09:39:42.000,-14.0
...,...,...,...,...,...,...,...,...
2014-09-30 15:06:55,A0775,HSIV4,1,22931.0,2014-09-30 15:06:55.000,22949.0,2014-09-30 15:13:32.000,-18.0
2014-09-30 15:07:01,A0862,HSIV4,1,22929.0,2014-09-30 15:07:01.000,22948.0,2014-09-30 15:13:30.000,-19.0
2014-09-30 15:07:18,A0593,HSIV4,1,22933.0,2014-09-30 15:07:18.000,22936.0,2014-09-30 15:11:20.000,-3.0
2014-09-30 15:07:43,A0505,HSIV4,1,22930.0,2014-09-30 15:07:43.000,22834.0,2014-09-30 16:02:32.000,96.0
2014-09-30 15:10:17,A0247,HSIV4,1,22929.0,2014-09-30 15:10:17.000,22951.0,2014-09-30 15:14:17.000,-22.0
2014-09-30 15:12:25,A0872,HSIV4,1,22943.0,2014-09-30 15:12:25.000,22954.0,2014-09-30 15:14:44.000,-11.0
2014-09-30 15:13:25,A0251,HSIV4,1,22944.0,2014-09-30 15:13:25.000,22948.0,2014-09-30 15:14:25.000,-4.0
2014-09-30 15:13:57,A0424,HSIV4,1,22955.0,2014-09-30 15:13:57.000,22960.0,2014-09-30 15:16:02.000,-5.0
2014-09-30 15:16:48,A0581,HSIV4,1,22977.0,2014-09-30 15:16:48.000,22987.0,2014-09-30 15:18:08.000,-10.0
2014-09-30 15:17:26,A0841,HSIV4,1,22993.0,2014-09-30 15:17:26.000,23000.0,2014-09-30 15:19:14.000,-7.0
2014-09-30 15:17:30,A0302,HSIV4,1,22990.0,2014-09-30 15:17:30.000,22966.0,2014-09-30 15:24:50.000,24.0
2014-09-30 15:17:41,A0251,HSIV4,1,22998.0,2014-09-30 15:17:41.000,22990.0,2014-09-30 15:18:40.000,8.0
2014-09-30 15:18:48,A0302,HSIV4,1,22994.0,2014-09-30 15:18:48.000,22961.0,2014-09-30 15:25:37.000,33.0
2014-09-30 15:18:52,A0568,HSIV4,1,22994.0,2014-09-30 15:18:52.000,22898.0,2014-09-30 15:54:17.000,96.0
2014-09-30 15:20:42,A0568,HSIV4,1,22994.0,2014-09-30 15:20:42.000,22898.0,2014-09-30 15:54:17.000,96.0
2014-09-30 15:21:17,A0551,HSIV4,1,22995.0,2014-09-30 15:21:17.000,22987.0,2014-09-30 15:22:38.000,8.0
2014-09-30 15:24:22,A0188,HSIV4,1,22972.0,2014-09-30 15:24:22.000,22876.0,2014-09-30 15:57:40.000,96.0
2014-09-30 15:25:01,A0775,HSIV4,1,22966.0,2014-09-30 15:25:01.000,22963.0,2014-09-30 15:29:42.000,3.0
2014-09-30 15:25:44,A0202,HSIV4,1,22957.0,2014-09-30 15:25:44.000,22964.0,2014-09-30 15:30:09.000,-7.0
2014-09-30 15:27:06,A0923,HSIV4,1,22955.0,2014-09-30 15:27:06.000,22859.0,2014-09-30 15:58:56.000,96.0
2014-09-30 15:27:59,A0501,HSIV4,1,22951.0,2014-09-30 15:27:59.000,22958.0,2014-09-30 15:28:53.000,-7.0
2014-09-30 15:34:21,A0775,HSIV4,1,22936.0,2014-09-30 15:34:21.000,22949.0,2014-09-30 15:39:03.000,-13.0
2014-09-30 15:36:03,A0188,HSIV4,1,22929.0,2014-09-30 15:36:03.000,22943.0,2014-09-30 15:42:24.000,-14.0
2014-09-30 15:53:05,A0775,HSIV4,1,22923.0,2014-09-30 15:53:05.000,22876.0,2014-09-30 15:57:40.000,47.0
2014-09-30 15:54:31,A0501,HSIV4,1,22898.0,2014-09-30 15:54:31.000,22899.0,2014-09-30 15:55:04.000,-1.0
2014-09-30 15:56:01,A0541,HSIV4,1,22896.0,2014-09-30 15:56:01.000,22809.0,2014-09-30 16:09:17.000,87.0
2014-09-30 15:56:31,A0501,HSIV4,1,22890.0,2014-09-30 15:56:31.000,22843.0,2014-09-30 16:02:01.000,47.0
2014-09-30 15:57:33,A0446,HSIV4,1,22881.0,2014-09-30 15:57:33.000,22887.0,2014-09-30 15:59:12.000,-6.0
2014-09-30 15:57:43,A0775,HSIV4,1,22878.0,2014-09-30 15:57:43.000,22831.0,2014-09-30 16:02:33.000,47.0
2014-09-30 16:03:15,A0086,HSIV4,1,22840.0,2014-09-30 16:03:15.000,22818.0,2014-09-30 16:12:15.000,22.0

In [31]:
df3[df3.buy_sell ==2].profit.apply(lambda x: x == x*(-1))

2014-09-01 09:15:30    False
2014-09-01 09:16:43    False
2014-09-01 09:17:09    False
2014-09-01 09:17:15    False
2014-09-01 09:17:20    False
2014-09-01 09:17:28    False
2014-09-01 09:19:30    False
2014-09-01 09:19:39    False
2014-09-01 09:20:08    False
2014-09-01 09:20:26    False
2014-09-01 09:20:39    False
2014-09-01 09:20:49    False
2014-09-01 09:20:54    False
2014-09-01 09:22:12    False
2014-09-01 09:22:29    False
2014-09-01 09:22:29    False
2014-09-01 09:23:39    False
2014-09-01 09:23:45    False
2014-09-01 09:24:44    False
2014-09-01 09:25:05    False
2014-09-01 09:25:15    False
2014-09-01 09:25:26    False
2014-09-01 09:26:17    False
2014-09-01 09:26:54    False
2014-09-01 09:27:16    False
2014-09-01 09:27:45    False
2014-09-01 09:27:56    False
2014-09-01 09:28:36    False
2014-09-01 09:29:07    False
2014-09-01 09:29:39    False
                       ...
2014-09-30 15:05:42    False
2014-09-30 15:05:47    False
2014-09-30 15:06:43    False
2014-09-30 15:07:04    False
2014-09-30 15:08:16    False
2014-09-30 15:08:27    False
2014-09-30 15:14:08    False
2014-09-30 15:17:02     True
2014-09-30 15:18:10    False
2014-09-30 15:18:23    False
2014-09-30 15:21:13    False
2014-09-30 15:22:31    False
2014-09-30 15:22:40    False
2014-09-30 15:24:11    False
2014-09-30 15:28:41    False
2014-09-30 15:31:32    False
2014-09-30 15:34:17    False
2014-09-30 15:34:26    False
2014-09-30 15:35:11    False
2014-09-30 15:38:06    False
2014-09-30 15:42:37    False
2014-09-30 15:43:13    False
2014-09-30 15:44:07    False
2014-09-30 15:45:08    False
2014-09-30 15:46:43    False
2014-09-30 15:53:50    False
2014-09-30 15:54:08    False
2014-09-30 15:56:40    False
2014-09-30 15:58:27    False
2014-09-30 16:02:01    False
Name: profit, Length: 6108, dtype: bool

In [26]:
df3

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit
2014-09-01 09:15:17,A0048,HSIU4,1,24632.0,2014-09-01 09:15:17.000,24607.0,2014-09-01 09:17:24.000,-25.0
2014-09-01 09:15:25,A0581,HSIU4,1,24639.0,2014-09-01 09:15:25.000,24652.0,2014-09-01 09:16:27.000,13.0
2014-09-01 09:15:30,A0877,HSIU4,2,24638.0,2014-09-01 09:15:30.000,24618.0,2014-09-01 09:17:55.000,-20.0
2014-09-01 09:15:49,A0333,HSIU4,1,24631.0,2014-09-01 09:15:49.000,24654.0,2014-09-01 09:16:21.000,23.0
2014-09-01 09:16:04,A0841,HSIU4,1,24644.0,2014-09-01 09:16:04.000,24655.0,2014-09-01 09:16:38.000,11.0
2014-09-01 09:16:08,A0026,HSIU4,1,24648.0,2014-09-01 09:16:08.000,24601.0,2014-09-01 09:17:25.000,-47.0
2014-09-01 09:16:43,A0059,HSIU4,2,24651.0,2014-09-01 09:16:43.000,24846.0,2014-09-01 09:53:08.000,195.0
2014-09-01 09:17:09,A0302,HSIU4,2,24648.0,2014-09-01 09:17:09.000,24612.0,2014-09-01 09:17:44.000,-36.0
2014-09-01 09:17:15,A0408,HSIU4,2,24643.0,2014-09-01 09:17:15.000,24621.0,2014-09-01 09:18:01.000,-22.0
2014-09-01 09:17:20,A0877,HSIU4,2,24625.0,2014-09-01 09:17:20.000,24820.0,2014-09-01 09:51:13.000,195.0
2014-09-01 09:17:26,A0865,HSIU4,1,24600.0,2014-09-01 09:17:26.000,24623.0,2014-09-01 09:18:28.000,23.0
2014-09-01 09:17:28,A0004,HSIU4,2,24603.0,2014-09-01 09:17:28.000,24647.0,2014-09-01 09:22:06.000,44.0
2014-09-01 09:17:35,A0685,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24629.0,2014-09-01 09:19:21.000,19.0
2014-09-01 09:17:35,A0403,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24625.0,2014-09-01 09:18:08.000,15.0
2014-09-01 09:17:55,A0343,HSIU4,1,24619.0,2014-09-01 09:17:55.000,24704.0,2014-09-01 09:33:14.000,85.0
2014-09-01 09:18:04,A0683,HSIU4,1,24622.0,2014-09-01 09:18:04.000,24636.0,2014-09-01 09:19:32.000,14.0
2014-09-01 09:18:21,A0048,HSIU4,1,24621.0,2014-09-01 09:18:21.000,24627.0,2014-09-01 09:18:53.000,6.0
2014-09-01 09:19:12,A0230,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24638.0,2014-09-01 09:19:49.000,8.0
2014-09-01 09:19:12,A0048,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24639.0,2014-09-01 09:19:48.000,9.0
2014-09-01 09:19:18,A0470,HSIU4,1,24633.0,2014-09-01 09:19:18.000,24648.0,2014-09-01 09:22:26.000,15.0
2014-09-01 09:19:27,A0251,HSIU4,1,24640.0,2014-09-01 09:19:27.000,24665.0,2014-09-01 09:25:12.000,25.0
2014-09-01 09:19:30,A0038,HSIU4,2,24636.0,2014-09-01 09:19:30.000,24683.0,2014-09-01 09:28:48.000,47.0
2014-09-01 09:19:38,A0872,HSIU4,1,24639.0,2014-09-01 09:19:38.000,24672.0,2014-09-01 09:24:31.000,33.0
2014-09-01 09:19:39,A0968,HSIU4,2,24639.0,2014-09-01 09:19:39.000,24673.0,2014-09-01 09:41:13.000,34.0
2014-09-01 09:20:04,A0048,HSIU4,1,24642.0,2014-09-01 09:20:04.000,24683.0,2014-09-01 09:29:09.000,41.0
2014-09-01 09:20:08,A0302,HSIU4,2,24641.0,2014-09-01 09:20:08.000,24836.0,2014-09-01 09:52:17.000,195.0
2014-09-01 09:20:21,A0865,HSIU4,1,24637.0,2014-09-01 09:20:21.000,24646.0,2014-09-01 09:21:53.000,9.0
2014-09-01 09:20:26,A0872,HSIU4,2,24637.0,2014-09-01 09:20:26.000,24832.0,2014-09-01 09:52:16.000,195.0
2014-09-01 09:20:39,A0408,HSIU4,2,24640.0,2014-09-01 09:20:39.000,24648.0,2014-09-01 09:22:02.000,8.0
2014-09-01 09:20:49,A0973,HSIU4,2,24640.0,2014-09-01 09:20:49.000,24736.0,2014-09-01 09:49:04.000,96.0
...,...,...,...,...,...,...,...,...
2014-09-30 15:24:22,A0188,HSIV4,1,22972.0,2014-09-30 15:24:22.000,22876.0,2014-09-30 15:57:40.000,-96.0
2014-09-30 15:25:01,A0775,HSIV4,1,22966.0,2014-09-30 15:25:01.000,22963.0,2014-09-30 15:29:42.000,-3.0
2014-09-30 15:25:44,A0202,HSIV4,1,22957.0,2014-09-30 15:25:44.000,22964.0,2014-09-30 15:30:09.000,7.0
2014-09-30 15:27:06,A0923,HSIV4,1,22955.0,2014-09-30 15:27:06.000,22859.0,2014-09-30 15:58:56.000,-96.0
2014-09-30 15:27:59,A0501,HSIV4,1,22951.0,2014-09-30 15:27:59.000,22958.0,2014-09-30 15:28:53.000,7.0
2014-09-30 15:28:41,A0976,HSIV4,2,22954.0,2014-09-30 15:28:41.000,22873.0,2014-09-30 15:58:28.000,-81.0
2014-09-30 15:31:32,A0511,HSIV4,2,22956.0,2014-09-30 15:31:32.000,22934.0,2014-09-30 15:34:34.000,-22.0
2014-09-30 15:34:17,A0841,HSIV4,2,22939.0,2014-09-30 15:34:17.000,22930.0,2014-09-30 15:36:06.000,-9.0
2014-09-30 15:34:21,A0775,HSIV4,1,22936.0,2014-09-30 15:34:21.000,22949.0,2014-09-30 15:39:03.000,13.0
2014-09-30 15:34:26,A0302,HSIV4,2,22938.0,2014-09-30 15:34:26.000,22925.0,2014-09-30 15:53:10.000,-13.0
2014-09-30 15:35:11,A0581,HSIV4,2,22935.0,2014-09-30 15:35:11.000,22929.0,2014-09-30 15:36:08.000,-6.0
2014-09-30 15:36:03,A0188,HSIV4,1,22929.0,2014-09-30 15:36:03.000,22943.0,2014-09-30 15:42:24.000,14.0
2014-09-30 15:38:06,A0501,HSIV4,2,22940.0,2014-09-30 15:38:06.000,22936.0,2014-09-30 15:50:45.000,-4.0
2014-09-30 15:42:37,A0551,HSIV4,2,22944.0,2014-09-30 15:42:37.000,22888.0,2014-09-30 15:59:31.000,-56.0
2014-09-30 15:43:13,A0841,HSIV4,2,22934.0,2014-09-30 15:43:13.000,22899.0,2014-09-30 15:54:17.000,-35.0
2014-09-30 15:44:07,A1036,HSIV4,2,22948.0,2014-09-30 15:44:07.000,22923.0,2014-09-30 15:53:10.000,-25.0
2014-09-30 15:45:08,A0511,HSIV4,2,22945.0,2014-09-30 15:45:08.000,22938.0,2014-09-30 15:51:50.000,-7.0
2014-09-30 15:46:43,A0818,HSIV4,2,22940.0,2014-09-30 15:46:43.000,22887.0,2014-09-30 15:56:32.000,-53.0
2014-09-30 15:53:05,A0775,HSIV4,1,22923.0,2014-09-30 15:53:05.000,22876.0,2014-09-30 15:57:40.000,-47.0
2014-09-30 15:53:50,A0581,HSIV4,2,22921.0,2014-09-30 15:53:50.000,22899.0,2014-09-30 15:54:28.000,-22.0
2014-09-30 15:54:08,A0302,HSIV4,2,22914.0,2014-09-30 15:54:08.000,22898.0,2014-09-30 15:54:41.000,-16.0
2014-09-30 15:54:31,A0501,HSIV4,1,22898.0,2014-09-30 15:54:31.000,22899.0,2014-09-30 15:55:04.000,1.0
2014-09-30 15:56:01,A0541,HSIV4,1,22896.0,2014-09-30 15:56:01.000,22809.0,2014-09-30 16:09:17.000,-87.0
2014-09-30 15:56:31,A0501,HSIV4,1,22890.0,2014-09-30 15:56:31.000,22843.0,2014-09-30 16:02:01.000,-47.0
2014-09-30 15:56:40,A0302,HSIV4,2,22888.0,2014-09-30 15:56:40.000,22874.0,2014-09-30 15:58:09.000,-14.0
2014-09-30 15:57:33,A0446,HSIV4,1,22881.0,2014-09-30 15:57:33.000,22887.0,2014-09-30 15:59:12.000,6.0
2014-09-30 15:57:43,A0775,HSIV4,1,22878.0,2014-09-30 15:57:43.000,22831.0,2014-09-30 16:02:33.000,-47.0
2014-09-30 15:58:27,A0302,HSIV4,2,22872.0,2014-09-30 15:58:27.000,22858.0,2014-09-30 16:00:00.000,-14.0
2014-09-30 16:02:01,A0551,HSIV4,2,22842.0,2014-09-30 16:02:01.000,22838.0,2014-09-30 16:02:37.000,-4.0
2014-09-30 16:03:15,A0086,HSIV4,1,22840.0,2014-09-30 16:03:15.000,22818.0,2014-09-30 16:12:15.000,-22.0

In [32]:
df3[df3.buy_sell ==2]

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit
2014-09-01 09:15:30,A0877,HSIU4,2,24638.0,2014-09-01 09:15:30.000,24618.0,2014-09-01 09:17:55.000,-20.0
2014-09-01 09:16:43,A0059,HSIU4,2,24651.0,2014-09-01 09:16:43.000,24846.0,2014-09-01 09:53:08.000,195.0
2014-09-01 09:17:09,A0302,HSIU4,2,24648.0,2014-09-01 09:17:09.000,24612.0,2014-09-01 09:17:44.000,-36.0
2014-09-01 09:17:15,A0408,HSIU4,2,24643.0,2014-09-01 09:17:15.000,24621.0,2014-09-01 09:18:01.000,-22.0
2014-09-01 09:17:20,A0877,HSIU4,2,24625.0,2014-09-01 09:17:20.000,24820.0,2014-09-01 09:51:13.000,195.0
2014-09-01 09:17:28,A0004,HSIU4,2,24603.0,2014-09-01 09:17:28.000,24647.0,2014-09-01 09:22:06.000,44.0
2014-09-01 09:19:30,A0038,HSIU4,2,24636.0,2014-09-01 09:19:30.000,24683.0,2014-09-01 09:28:48.000,47.0
2014-09-01 09:19:39,A0968,HSIU4,2,24639.0,2014-09-01 09:19:39.000,24673.0,2014-09-01 09:41:13.000,34.0
2014-09-01 09:20:08,A0302,HSIU4,2,24641.0,2014-09-01 09:20:08.000,24836.0,2014-09-01 09:52:17.000,195.0
2014-09-01 09:20:26,A0872,HSIU4,2,24637.0,2014-09-01 09:20:26.000,24832.0,2014-09-01 09:52:16.000,195.0
2014-09-01 09:20:39,A0408,HSIU4,2,24640.0,2014-09-01 09:20:39.000,24648.0,2014-09-01 09:22:02.000,8.0
2014-09-01 09:20:49,A0973,HSIU4,2,24640.0,2014-09-01 09:20:49.000,24736.0,2014-09-01 09:49:04.000,96.0
2014-09-01 09:20:54,A0141,HSIU4,2,24642.0,2014-09-01 09:20:54.000,24738.0,2014-09-01 09:49:04.000,96.0
2014-09-01 09:22:12,A0877,HSIU4,2,24646.0,2014-09-01 09:22:12.000,24841.0,2014-09-01 09:52:56.000,195.0
2014-09-01 09:22:29,A0302,HSIU4,2,24648.0,2014-09-01 09:22:29.000,24843.0,2014-09-01 09:52:56.000,195.0
2014-09-01 09:22:29,A0403,HSIU4,2,24648.0,2014-09-01 09:22:29.000,24695.0,2014-09-01 09:31:18.000,47.0
2014-09-01 09:23:39,A0968,HSIU4,2,24659.0,2014-09-01 09:23:39.000,24675.0,2014-09-01 09:41:18.000,16.0
2014-09-01 09:23:45,A0641,HSIU4,2,24660.0,2014-09-01 09:23:45.000,24665.0,2014-09-01 09:24:22.000,5.0
2014-09-01 09:24:44,A0038,HSIU4,2,24664.0,2014-09-01 09:24:44.000,24760.0,2014-09-01 09:50:01.000,96.0
2014-09-01 09:25:05,A0685,HSIU4,2,24668.0,2014-09-01 09:25:05.000,24665.0,2014-09-01 09:43:32.000,-3.0
2014-09-01 09:25:15,A0038,HSIU4,2,24663.0,2014-09-01 09:25:15.000,24759.0,2014-09-01 09:49:58.000,96.0
2014-09-01 09:25:26,A0865,HSIU4,2,24663.0,2014-09-01 09:25:26.000,24677.0,2014-09-01 09:27:31.000,14.0
2014-09-01 09:26:17,A0038,HSIU4,2,24667.0,2014-09-01 09:26:17.000,24714.0,2014-09-01 09:36:41.000,47.0
2014-09-01 09:26:54,A0874,HSIU4,2,24665.0,2014-09-01 09:26:54.000,24712.0,2014-09-01 09:33:01.000,47.0
2014-09-01 09:27:16,A0408,HSIU4,2,24669.0,2014-09-01 09:27:16.000,24678.0,2014-09-01 09:28:22.000,9.0
2014-09-01 09:27:45,A0403,HSIU4,2,24675.0,2014-09-01 09:27:45.000,24670.0,2014-09-01 09:43:57.000,-5.0
2014-09-01 09:27:56,A0123,HSIU4,2,24675.0,2014-09-01 09:27:56.000,24656.0,2014-09-01 09:45:30.000,-19.0
2014-09-01 09:28:36,A0968,HSIU4,2,24680.0,2014-09-01 09:28:36.000,24776.0,2014-09-01 09:50:04.000,96.0
2014-09-01 09:29:07,A0865,HSIU4,2,24680.0,2014-09-01 09:29:07.000,24668.0,2014-09-01 09:43:21.000,-12.0
2014-09-01 09:29:39,A0247,HSIU4,2,24679.0,2014-09-01 09:29:39.000,24694.0,2014-09-01 09:39:24.000,15.0
...,...,...,...,...,...,...,...,...
2014-09-30 15:05:42,A0202,HSIV4,2,22946.0,2014-09-30 15:05:42.000,22937.0,2014-09-30 15:06:44.000,-9.0
2014-09-30 15:05:47,A1014,HSIV4,2,22945.0,2014-09-30 15:05:47.000,22992.0,2014-09-30 15:17:24.000,47.0
2014-09-30 15:06:43,A0666,HSIV4,2,22939.0,2014-09-30 15:06:43.000,22928.0,2014-09-30 15:07:40.000,-11.0
2014-09-30 15:07:04,A0026,HSIV4,2,22930.0,2014-09-30 15:07:04.000,22977.0,2014-09-30 15:16:46.000,47.0
2014-09-30 15:08:16,A0026,HSIV4,2,22935.0,2014-09-30 15:08:16.000,22982.0,2014-09-30 15:17:05.000,47.0
2014-09-30 15:08:27,A0976,HSIV4,2,22931.0,2014-09-30 15:08:27.000,22964.0,2014-09-30 15:15:35.000,33.0
2014-09-30 15:14:08,A0095,HSIV4,2,22951.0,2014-09-30 15:14:08.000,22998.0,2014-09-30 15:17:41.000,47.0
2014-09-30 15:17:02,A0446,HSIV4,2,22974.0,2014-09-30 15:17:02.000,22974.0,2014-09-30 15:24:18.000,0.0
2014-09-30 15:18:10,A0511,HSIV4,2,22987.0,2014-09-30 15:18:10.000,22962.0,2014-09-30 15:25:18.000,-25.0
2014-09-30 15:18:23,A0501,HSIV4,2,22987.0,2014-09-30 15:18:23.000,22983.0,2014-09-30 15:22:54.000,-4.0
2014-09-30 15:21:13,A0002,HSIV4,2,22992.0,2014-09-30 15:21:13.000,22976.0,2014-09-30 15:23:44.000,-16.0
2014-09-30 15:22:31,A0541,HSIV4,2,22990.0,2014-09-30 15:22:31.000,22896.0,2014-09-30 15:55:27.000,-94.0
2014-09-30 15:22:40,A0551,HSIV4,2,22985.0,2014-09-30 15:22:40.000,22953.0,2014-09-30 15:39:15.000,-32.0
2014-09-30 15:24:11,A0976,HSIV4,2,22973.0,2014-09-30 15:24:11.000,22892.0,2014-09-30 15:57:03.000,-81.0
2014-09-30 15:28:41,A0976,HSIV4,2,22954.0,2014-09-30 15:28:41.000,22873.0,2014-09-30 15:58:28.000,-81.0
2014-09-30 15:31:32,A0511,HSIV4,2,22956.0,2014-09-30 15:31:32.000,22934.0,2014-09-30 15:34:34.000,-22.0
2014-09-30 15:34:17,A0841,HSIV4,2,22939.0,2014-09-30 15:34:17.000,22930.0,2014-09-30 15:36:06.000,-9.0
2014-09-30 15:34:26,A0302,HSIV4,2,22938.0,2014-09-30 15:34:26.000,22925.0,2014-09-30 15:53:10.000,-13.0
2014-09-30 15:35:11,A0581,HSIV4,2,22935.0,2014-09-30 15:35:11.000,22929.0,2014-09-30 15:36:08.000,-6.0
2014-09-30 15:38:06,A0501,HSIV4,2,22940.0,2014-09-30 15:38:06.000,22936.0,2014-09-30 15:50:45.000,-4.0
2014-09-30 15:42:37,A0551,HSIV4,2,22944.0,2014-09-30 15:42:37.000,22888.0,2014-09-30 15:59:31.000,-56.0
2014-09-30 15:43:13,A0841,HSIV4,2,22934.0,2014-09-30 15:43:13.000,22899.0,2014-09-30 15:54:17.000,-35.0
2014-09-30 15:44:07,A1036,HSIV4,2,22948.0,2014-09-30 15:44:07.000,22923.0,2014-09-30 15:53:10.000,-25.0
2014-09-30 15:45:08,A0511,HSIV4,2,22945.0,2014-09-30 15:45:08.000,22938.0,2014-09-30 15:51:50.000,-7.0
2014-09-30 15:46:43,A0818,HSIV4,2,22940.0,2014-09-30 15:46:43.000,22887.0,2014-09-30 15:56:32.000,-53.0
2014-09-30 15:53:50,A0581,HSIV4,2,22921.0,2014-09-30 15:53:50.000,22899.0,2014-09-30 15:54:28.000,-22.0
2014-09-30 15:54:08,A0302,HSIV4,2,22914.0,2014-09-30 15:54:08.000,22898.0,2014-09-30 15:54:41.000,-16.0
2014-09-30 15:56:40,A0302,HSIV4,2,22888.0,2014-09-30 15:56:40.000,22874.0,2014-09-30 15:58:09.000,-14.0
2014-09-30 15:58:27,A0302,HSIV4,2,22872.0,2014-09-30 15:58:27.000,22858.0,2014-09-30 16:00:00.000,-14.0
2014-09-30 16:02:01,A0551,HSIV4,2,22842.0,2014-09-30 16:02:01.000,22838.0,2014-09-30 16:02:37.000,-4.0

In [28]:
df3

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit
2014-09-01 09:15:17,A0048,HSIU4,1,24632.0,2014-09-01 09:15:17.000,24607.0,2014-09-01 09:17:24.000,-25.0
2014-09-01 09:15:25,A0581,HSIU4,1,24639.0,2014-09-01 09:15:25.000,24652.0,2014-09-01 09:16:27.000,13.0
2014-09-01 09:15:30,A0877,HSIU4,2,24638.0,2014-09-01 09:15:30.000,24618.0,2014-09-01 09:17:55.000,-20.0
2014-09-01 09:15:49,A0333,HSIU4,1,24631.0,2014-09-01 09:15:49.000,24654.0,2014-09-01 09:16:21.000,23.0
2014-09-01 09:16:04,A0841,HSIU4,1,24644.0,2014-09-01 09:16:04.000,24655.0,2014-09-01 09:16:38.000,11.0
2014-09-01 09:16:08,A0026,HSIU4,1,24648.0,2014-09-01 09:16:08.000,24601.0,2014-09-01 09:17:25.000,-47.0
2014-09-01 09:16:43,A0059,HSIU4,2,24651.0,2014-09-01 09:16:43.000,24846.0,2014-09-01 09:53:08.000,195.0
2014-09-01 09:17:09,A0302,HSIU4,2,24648.0,2014-09-01 09:17:09.000,24612.0,2014-09-01 09:17:44.000,-36.0
2014-09-01 09:17:15,A0408,HSIU4,2,24643.0,2014-09-01 09:17:15.000,24621.0,2014-09-01 09:18:01.000,-22.0
2014-09-01 09:17:20,A0877,HSIU4,2,24625.0,2014-09-01 09:17:20.000,24820.0,2014-09-01 09:51:13.000,195.0
2014-09-01 09:17:26,A0865,HSIU4,1,24600.0,2014-09-01 09:17:26.000,24623.0,2014-09-01 09:18:28.000,23.0
2014-09-01 09:17:28,A0004,HSIU4,2,24603.0,2014-09-01 09:17:28.000,24647.0,2014-09-01 09:22:06.000,44.0
2014-09-01 09:17:35,A0685,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24629.0,2014-09-01 09:19:21.000,19.0
2014-09-01 09:17:35,A0403,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24625.0,2014-09-01 09:18:08.000,15.0
2014-09-01 09:17:55,A0343,HSIU4,1,24619.0,2014-09-01 09:17:55.000,24704.0,2014-09-01 09:33:14.000,85.0
2014-09-01 09:18:04,A0683,HSIU4,1,24622.0,2014-09-01 09:18:04.000,24636.0,2014-09-01 09:19:32.000,14.0
2014-09-01 09:18:21,A0048,HSIU4,1,24621.0,2014-09-01 09:18:21.000,24627.0,2014-09-01 09:18:53.000,6.0
2014-09-01 09:19:12,A0230,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24638.0,2014-09-01 09:19:49.000,8.0
2014-09-01 09:19:12,A0048,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24639.0,2014-09-01 09:19:48.000,9.0
2014-09-01 09:19:18,A0470,HSIU4,1,24633.0,2014-09-01 09:19:18.000,24648.0,2014-09-01 09:22:26.000,15.0
2014-09-01 09:19:27,A0251,HSIU4,1,24640.0,2014-09-01 09:19:27.000,24665.0,2014-09-01 09:25:12.000,25.0
2014-09-01 09:19:30,A0038,HSIU4,2,24636.0,2014-09-01 09:19:30.000,24683.0,2014-09-01 09:28:48.000,47.0
2014-09-01 09:19:38,A0872,HSIU4,1,24639.0,2014-09-01 09:19:38.000,24672.0,2014-09-01 09:24:31.000,33.0
2014-09-01 09:19:39,A0968,HSIU4,2,24639.0,2014-09-01 09:19:39.000,24673.0,2014-09-01 09:41:13.000,34.0
2014-09-01 09:20:04,A0048,HSIU4,1,24642.0,2014-09-01 09:20:04.000,24683.0,2014-09-01 09:29:09.000,41.0
2014-09-01 09:20:08,A0302,HSIU4,2,24641.0,2014-09-01 09:20:08.000,24836.0,2014-09-01 09:52:17.000,195.0
2014-09-01 09:20:21,A0865,HSIU4,1,24637.0,2014-09-01 09:20:21.000,24646.0,2014-09-01 09:21:53.000,9.0
2014-09-01 09:20:26,A0872,HSIU4,2,24637.0,2014-09-01 09:20:26.000,24832.0,2014-09-01 09:52:16.000,195.0
2014-09-01 09:20:39,A0408,HSIU4,2,24640.0,2014-09-01 09:20:39.000,24648.0,2014-09-01 09:22:02.000,8.0
2014-09-01 09:20:49,A0973,HSIU4,2,24640.0,2014-09-01 09:20:49.000,24736.0,2014-09-01 09:49:04.000,96.0
...,...,...,...,...,...,...,...,...
2014-09-30 15:24:22,A0188,HSIV4,1,22972.0,2014-09-30 15:24:22.000,22876.0,2014-09-30 15:57:40.000,-96.0
2014-09-30 15:25:01,A0775,HSIV4,1,22966.0,2014-09-30 15:25:01.000,22963.0,2014-09-30 15:29:42.000,-3.0
2014-09-30 15:25:44,A0202,HSIV4,1,22957.0,2014-09-30 15:25:44.000,22964.0,2014-09-30 15:30:09.000,7.0
2014-09-30 15:27:06,A0923,HSIV4,1,22955.0,2014-09-30 15:27:06.000,22859.0,2014-09-30 15:58:56.000,-96.0
2014-09-30 15:27:59,A0501,HSIV4,1,22951.0,2014-09-30 15:27:59.000,22958.0,2014-09-30 15:28:53.000,7.0
2014-09-30 15:28:41,A0976,HSIV4,2,22954.0,2014-09-30 15:28:41.000,22873.0,2014-09-30 15:58:28.000,-81.0
2014-09-30 15:31:32,A0511,HSIV4,2,22956.0,2014-09-30 15:31:32.000,22934.0,2014-09-30 15:34:34.000,-22.0
2014-09-30 15:34:17,A0841,HSIV4,2,22939.0,2014-09-30 15:34:17.000,22930.0,2014-09-30 15:36:06.000,-9.0
2014-09-30 15:34:21,A0775,HSIV4,1,22936.0,2014-09-30 15:34:21.000,22949.0,2014-09-30 15:39:03.000,13.0
2014-09-30 15:34:26,A0302,HSIV4,2,22938.0,2014-09-30 15:34:26.000,22925.0,2014-09-30 15:53:10.000,-13.0
2014-09-30 15:35:11,A0581,HSIV4,2,22935.0,2014-09-30 15:35:11.000,22929.0,2014-09-30 15:36:08.000,-6.0
2014-09-30 15:36:03,A0188,HSIV4,1,22929.0,2014-09-30 15:36:03.000,22943.0,2014-09-30 15:42:24.000,14.0
2014-09-30 15:38:06,A0501,HSIV4,2,22940.0,2014-09-30 15:38:06.000,22936.0,2014-09-30 15:50:45.000,-4.0
2014-09-30 15:42:37,A0551,HSIV4,2,22944.0,2014-09-30 15:42:37.000,22888.0,2014-09-30 15:59:31.000,-56.0
2014-09-30 15:43:13,A0841,HSIV4,2,22934.0,2014-09-30 15:43:13.000,22899.0,2014-09-30 15:54:17.000,-35.0
2014-09-30 15:44:07,A1036,HSIV4,2,22948.0,2014-09-30 15:44:07.000,22923.0,2014-09-30 15:53:10.000,-25.0
2014-09-30 15:45:08,A0511,HSIV4,2,22945.0,2014-09-30 15:45:08.000,22938.0,2014-09-30 15:51:50.000,-7.0
2014-09-30 15:46:43,A0818,HSIV4,2,22940.0,2014-09-30 15:46:43.000,22887.0,2014-09-30 15:56:32.000,-53.0
2014-09-30 15:53:05,A0775,HSIV4,1,22923.0,2014-09-30 15:53:05.000,22876.0,2014-09-30 15:57:40.000,-47.0
2014-09-30 15:53:50,A0581,HSIV4,2,22921.0,2014-09-30 15:53:50.000,22899.0,2014-09-30 15:54:28.000,-22.0
2014-09-30 15:54:08,A0302,HSIV4,2,22914.0,2014-09-30 15:54:08.000,22898.0,2014-09-30 15:54:41.000,-16.0
2014-09-30 15:54:31,A0501,HSIV4,1,22898.0,2014-09-30 15:54:31.000,22899.0,2014-09-30 15:55:04.000,1.0
2014-09-30 15:56:01,A0541,HSIV4,1,22896.0,2014-09-30 15:56:01.000,22809.0,2014-09-30 16:09:17.000,-87.0
2014-09-30 15:56:31,A0501,HSIV4,1,22890.0,2014-09-30 15:56:31.000,22843.0,2014-09-30 16:02:01.000,-47.0
2014-09-30 15:56:40,A0302,HSIV4,2,22888.0,2014-09-30 15:56:40.000,22874.0,2014-09-30 15:58:09.000,-14.0
2014-09-30 15:57:33,A0446,HSIV4,1,22881.0,2014-09-30 15:57:33.000,22887.0,2014-09-30 15:59:12.000,6.0
2014-09-30 15:57:43,A0775,HSIV4,1,22878.0,2014-09-30 15:57:43.000,22831.0,2014-09-30 16:02:33.000,-47.0
2014-09-30 15:58:27,A0302,HSIV4,2,22872.0,2014-09-30 15:58:27.000,22858.0,2014-09-30 16:00:00.000,-14.0
2014-09-30 16:02:01,A0551,HSIV4,2,22842.0,2014-09-30 16:02:01.000,22838.0,2014-09-30 16:02:37.000,-4.0
2014-09-30 16:03:15,A0086,HSIV4,1,22840.0,2014-09-30 16:03:15.000,22818.0,2014-09-30 16:12:15.000,-22.0

In [95]:
df3.account.duplicated()

2014-09-01 09:15:17    False
2014-09-01 09:15:25    False
2014-09-01 09:15:30    False
2014-09-01 09:15:49    False
2014-09-01 09:16:04    False
2014-09-01 09:16:08    False
2014-09-01 09:16:43    False
2014-09-01 09:17:09    False
2014-09-01 09:17:15    False
2014-09-01 09:17:20     True
2014-09-01 09:17:26    False
2014-09-01 09:17:28    False
2014-09-01 09:17:35    False
2014-09-01 09:17:35    False
2014-09-01 09:17:55    False
2014-09-01 09:18:04    False
2014-09-01 09:18:21     True
2014-09-01 09:19:12    False
2014-09-01 09:19:12     True
2014-09-01 09:19:18    False
2014-09-01 09:19:27    False
2014-09-01 09:19:30    False
2014-09-01 09:19:38    False
2014-09-01 09:19:39    False
2014-09-01 09:20:04     True
2014-09-01 09:20:08     True
2014-09-01 09:20:21     True
2014-09-01 09:20:26     True
2014-09-01 09:20:39     True
2014-09-01 09:20:49    False
                       ...
2014-09-30 15:24:22     True
2014-09-30 15:25:01     True
2014-09-30 15:25:44     True
2014-09-30 15:27:06     True
2014-09-30 15:27:59     True
2014-09-30 15:28:41     True
2014-09-30 15:31:32     True
2014-09-30 15:34:17     True
2014-09-30 15:34:21     True
2014-09-30 15:34:26     True
2014-09-30 15:35:11     True
2014-09-30 15:36:03     True
2014-09-30 15:38:06     True
2014-09-30 15:42:37     True
2014-09-30 15:43:13     True
2014-09-30 15:44:07     True
2014-09-30 15:45:08     True
2014-09-30 15:46:43     True
2014-09-30 15:53:05     True
2014-09-30 15:53:50     True
2014-09-30 15:54:08     True
2014-09-30 15:54:31     True
2014-09-30 15:56:01     True
2014-09-30 15:56:31     True
2014-09-30 15:56:40     True
2014-09-30 15:57:33     True
2014-09-30 15:57:43     True
2014-09-30 15:58:27     True
2014-09-30 16:02:01     True
2014-09-30 16:03:15     True
Name: account, Length: 12882, dtype: bool

In [29]:
df3

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit
2014-09-01 09:15:17,A0048,HSIU4,1,24632.0,2014-09-01 09:15:17.000,24607.0,2014-09-01 09:17:24.000,-25.0
2014-09-01 09:15:25,A0581,HSIU4,1,24639.0,2014-09-01 09:15:25.000,24652.0,2014-09-01 09:16:27.000,13.0
2014-09-01 09:15:30,A0877,HSIU4,2,24638.0,2014-09-01 09:15:30.000,24618.0,2014-09-01 09:17:55.000,-20.0
2014-09-01 09:15:49,A0333,HSIU4,1,24631.0,2014-09-01 09:15:49.000,24654.0,2014-09-01 09:16:21.000,23.0
2014-09-01 09:16:04,A0841,HSIU4,1,24644.0,2014-09-01 09:16:04.000,24655.0,2014-09-01 09:16:38.000,11.0
2014-09-01 09:16:08,A0026,HSIU4,1,24648.0,2014-09-01 09:16:08.000,24601.0,2014-09-01 09:17:25.000,-47.0
2014-09-01 09:16:43,A0059,HSIU4,2,24651.0,2014-09-01 09:16:43.000,24846.0,2014-09-01 09:53:08.000,195.0
2014-09-01 09:17:09,A0302,HSIU4,2,24648.0,2014-09-01 09:17:09.000,24612.0,2014-09-01 09:17:44.000,-36.0
2014-09-01 09:17:15,A0408,HSIU4,2,24643.0,2014-09-01 09:17:15.000,24621.0,2014-09-01 09:18:01.000,-22.0
2014-09-01 09:17:20,A0877,HSIU4,2,24625.0,2014-09-01 09:17:20.000,24820.0,2014-09-01 09:51:13.000,195.0
2014-09-01 09:17:26,A0865,HSIU4,1,24600.0,2014-09-01 09:17:26.000,24623.0,2014-09-01 09:18:28.000,23.0
2014-09-01 09:17:28,A0004,HSIU4,2,24603.0,2014-09-01 09:17:28.000,24647.0,2014-09-01 09:22:06.000,44.0
2014-09-01 09:17:35,A0685,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24629.0,2014-09-01 09:19:21.000,19.0
2014-09-01 09:17:35,A0403,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24625.0,2014-09-01 09:18:08.000,15.0
2014-09-01 09:17:55,A0343,HSIU4,1,24619.0,2014-09-01 09:17:55.000,24704.0,2014-09-01 09:33:14.000,85.0
2014-09-01 09:18:04,A0683,HSIU4,1,24622.0,2014-09-01 09:18:04.000,24636.0,2014-09-01 09:19:32.000,14.0
2014-09-01 09:18:21,A0048,HSIU4,1,24621.0,2014-09-01 09:18:21.000,24627.0,2014-09-01 09:18:53.000,6.0
2014-09-01 09:19:12,A0230,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24638.0,2014-09-01 09:19:49.000,8.0
2014-09-01 09:19:12,A0048,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24639.0,2014-09-01 09:19:48.000,9.0
2014-09-01 09:19:18,A0470,HSIU4,1,24633.0,2014-09-01 09:19:18.000,24648.0,2014-09-01 09:22:26.000,15.0
2014-09-01 09:19:27,A0251,HSIU4,1,24640.0,2014-09-01 09:19:27.000,24665.0,2014-09-01 09:25:12.000,25.0
2014-09-01 09:19:30,A0038,HSIU4,2,24636.0,2014-09-01 09:19:30.000,24683.0,2014-09-01 09:28:48.000,47.0
2014-09-01 09:19:38,A0872,HSIU4,1,24639.0,2014-09-01 09:19:38.000,24672.0,2014-09-01 09:24:31.000,33.0
2014-09-01 09:19:39,A0968,HSIU4,2,24639.0,2014-09-01 09:19:39.000,24673.0,2014-09-01 09:41:13.000,34.0
2014-09-01 09:20:04,A0048,HSIU4,1,24642.0,2014-09-01 09:20:04.000,24683.0,2014-09-01 09:29:09.000,41.0
2014-09-01 09:20:08,A0302,HSIU4,2,24641.0,2014-09-01 09:20:08.000,24836.0,2014-09-01 09:52:17.000,195.0
2014-09-01 09:20:21,A0865,HSIU4,1,24637.0,2014-09-01 09:20:21.000,24646.0,2014-09-01 09:21:53.000,9.0
2014-09-01 09:20:26,A0872,HSIU4,2,24637.0,2014-09-01 09:20:26.000,24832.0,2014-09-01 09:52:16.000,195.0
2014-09-01 09:20:39,A0408,HSIU4,2,24640.0,2014-09-01 09:20:39.000,24648.0,2014-09-01 09:22:02.000,8.0
2014-09-01 09:20:49,A0973,HSIU4,2,24640.0,2014-09-01 09:20:49.000,24736.0,2014-09-01 09:49:04.000,96.0
...,...,...,...,...,...,...,...,...
2014-09-30 15:24:22,A0188,HSIV4,1,22972.0,2014-09-30 15:24:22.000,22876.0,2014-09-30 15:57:40.000,-96.0
2014-09-30 15:25:01,A0775,HSIV4,1,22966.0,2014-09-30 15:25:01.000,22963.0,2014-09-30 15:29:42.000,-3.0
2014-09-30 15:25:44,A0202,HSIV4,1,22957.0,2014-09-30 15:25:44.000,22964.0,2014-09-30 15:30:09.000,7.0
2014-09-30 15:27:06,A0923,HSIV4,1,22955.0,2014-09-30 15:27:06.000,22859.0,2014-09-30 15:58:56.000,-96.0
2014-09-30 15:27:59,A0501,HSIV4,1,22951.0,2014-09-30 15:27:59.000,22958.0,2014-09-30 15:28:53.000,7.0
2014-09-30 15:28:41,A0976,HSIV4,2,22954.0,2014-09-30 15:28:41.000,22873.0,2014-09-30 15:58:28.000,-81.0
2014-09-30 15:31:32,A0511,HSIV4,2,22956.0,2014-09-30 15:31:32.000,22934.0,2014-09-30 15:34:34.000,-22.0
2014-09-30 15:34:17,A0841,HSIV4,2,22939.0,2014-09-30 15:34:17.000,22930.0,2014-09-30 15:36:06.000,-9.0
2014-09-30 15:34:21,A0775,HSIV4,1,22936.0,2014-09-30 15:34:21.000,22949.0,2014-09-30 15:39:03.000,13.0
2014-09-30 15:34:26,A0302,HSIV4,2,22938.0,2014-09-30 15:34:26.000,22925.0,2014-09-30 15:53:10.000,-13.0
2014-09-30 15:35:11,A0581,HSIV4,2,22935.0,2014-09-30 15:35:11.000,22929.0,2014-09-30 15:36:08.000,-6.0
2014-09-30 15:36:03,A0188,HSIV4,1,22929.0,2014-09-30 15:36:03.000,22943.0,2014-09-30 15:42:24.000,14.0
2014-09-30 15:38:06,A0501,HSIV4,2,22940.0,2014-09-30 15:38:06.000,22936.0,2014-09-30 15:50:45.000,-4.0
2014-09-30 15:42:37,A0551,HSIV4,2,22944.0,2014-09-30 15:42:37.000,22888.0,2014-09-30 15:59:31.000,-56.0
2014-09-30 15:43:13,A0841,HSIV4,2,22934.0,2014-09-30 15:43:13.000,22899.0,2014-09-30 15:54:17.000,-35.0
2014-09-30 15:44:07,A1036,HSIV4,2,22948.0,2014-09-30 15:44:07.000,22923.0,2014-09-30 15:53:10.000,-25.0
2014-09-30 15:45:08,A0511,HSIV4,2,22945.0,2014-09-30 15:45:08.000,22938.0,2014-09-30 15:51:50.000,-7.0
2014-09-30 15:46:43,A0818,HSIV4,2,22940.0,2014-09-30 15:46:43.000,22887.0,2014-09-30 15:56:32.000,-53.0
2014-09-30 15:53:05,A0775,HSIV4,1,22923.0,2014-09-30 15:53:05.000,22876.0,2014-09-30 15:57:40.000,-47.0
2014-09-30 15:53:50,A0581,HSIV4,2,22921.0,2014-09-30 15:53:50.000,22899.0,2014-09-30 15:54:28.000,-22.0
2014-09-30 15:54:08,A0302,HSIV4,2,22914.0,2014-09-30 15:54:08.000,22898.0,2014-09-30 15:54:41.000,-16.0
2014-09-30 15:54:31,A0501,HSIV4,1,22898.0,2014-09-30 15:54:31.000,22899.0,2014-09-30 15:55:04.000,1.0
2014-09-30 15:56:01,A0541,HSIV4,1,22896.0,2014-09-30 15:56:01.000,22809.0,2014-09-30 16:09:17.000,-87.0
2014-09-30 15:56:31,A0501,HSIV4,1,22890.0,2014-09-30 15:56:31.000,22843.0,2014-09-30 16:02:01.000,-47.0
2014-09-30 15:56:40,A0302,HSIV4,2,22888.0,2014-09-30 15:56:40.000,22874.0,2014-09-30 15:58:09.000,-14.0
2014-09-30 15:57:33,A0446,HSIV4,1,22881.0,2014-09-30 15:57:33.000,22887.0,2014-09-30 15:59:12.000,6.0
2014-09-30 15:57:43,A0775,HSIV4,1,22878.0,2014-09-30 15:57:43.000,22831.0,2014-09-30 16:02:33.000,-47.0
2014-09-30 15:58:27,A0302,HSIV4,2,22872.0,2014-09-30 15:58:27.000,22858.0,2014-09-30 16:00:00.000,-14.0
2014-09-30 16:02:01,A0551,HSIV4,2,22842.0,2014-09-30 16:02:01.000,22838.0,2014-09-30 16:02:37.000,-4.0
2014-09-30 16:03:15,A0086,HSIV4,1,22840.0,2014-09-30 16:03:15.000,22818.0,2014-09-30 16:12:15.000,-22.0

In [106]:
df3.profit.groupby([df3.account])

In [107]:
df3['sum_profit'] = df3.profit.groupby([df3.account]).cumsum()

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [108]:
df3

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit,sum_profit
2014-09-01 09:15:17,A0048,HSIU4,1,24632.0,2014-09-01 09:15:17.000,24607.0,2014-09-01 09:17:24.000,25.0,25.0
2014-09-01 09:15:25,A0581,HSIU4,1,24639.0,2014-09-01 09:15:25.000,24652.0,2014-09-01 09:16:27.000,-13.0,-13.0
2014-09-01 09:15:30,A0877,HSIU4,2,24638.0,2014-09-01 09:15:30.000,24618.0,2014-09-01 09:17:55.000,20.0,20.0
2014-09-01 09:15:49,A0333,HSIU4,1,24631.0,2014-09-01 09:15:49.000,24654.0,2014-09-01 09:16:21.000,-23.0,-23.0
2014-09-01 09:16:04,A0841,HSIU4,1,24644.0,2014-09-01 09:16:04.000,24655.0,2014-09-01 09:16:38.000,-11.0,-11.0
2014-09-01 09:16:08,A0026,HSIU4,1,24648.0,2014-09-01 09:16:08.000,24601.0,2014-09-01 09:17:25.000,47.0,47.0
2014-09-01 09:16:43,A0059,HSIU4,2,24651.0,2014-09-01 09:16:43.000,24846.0,2014-09-01 09:53:08.000,-195.0,-195.0
2014-09-01 09:17:09,A0302,HSIU4,2,24648.0,2014-09-01 09:17:09.000,24612.0,2014-09-01 09:17:44.000,36.0,36.0
2014-09-01 09:17:15,A0408,HSIU4,2,24643.0,2014-09-01 09:17:15.000,24621.0,2014-09-01 09:18:01.000,22.0,22.0
2014-09-01 09:17:20,A0877,HSIU4,2,24625.0,2014-09-01 09:17:20.000,24820.0,2014-09-01 09:51:13.000,-195.0,-175.0
2014-09-01 09:17:26,A0865,HSIU4,1,24600.0,2014-09-01 09:17:26.000,24623.0,2014-09-01 09:18:28.000,-23.0,-23.0
2014-09-01 09:17:28,A0004,HSIU4,2,24603.0,2014-09-01 09:17:28.000,24647.0,2014-09-01 09:22:06.000,-44.0,-44.0
2014-09-01 09:17:35,A0685,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24629.0,2014-09-01 09:19:21.000,-19.0,-19.0
2014-09-01 09:17:35,A0403,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24625.0,2014-09-01 09:18:08.000,-15.0,-15.0
2014-09-01 09:17:55,A0343,HSIU4,1,24619.0,2014-09-01 09:17:55.000,24704.0,2014-09-01 09:33:14.000,-85.0,-85.0
2014-09-01 09:18:04,A0683,HSIU4,1,24622.0,2014-09-01 09:18:04.000,24636.0,2014-09-01 09:19:32.000,-14.0,-14.0
2014-09-01 09:18:21,A0048,HSIU4,1,24621.0,2014-09-01 09:18:21.000,24627.0,2014-09-01 09:18:53.000,-6.0,19.0
2014-09-01 09:19:12,A0230,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24638.0,2014-09-01 09:19:49.000,-8.0,-8.0
2014-09-01 09:19:12,A0048,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24639.0,2014-09-01 09:19:48.000,-9.0,10.0
2014-09-01 09:19:18,A0470,HSIU4,1,24633.0,2014-09-01 09:19:18.000,24648.0,2014-09-01 09:22:26.000,-15.0,-15.0
2014-09-01 09:19:27,A0251,HSIU4,1,24640.0,2014-09-01 09:19:27.000,24665.0,2014-09-01 09:25:12.000,-25.0,-25.0
2014-09-01 09:19:30,A0038,HSIU4,2,24636.0,2014-09-01 09:19:30.000,24683.0,2014-09-01 09:28:48.000,-47.0,-47.0
2014-09-01 09:19:38,A0872,HSIU4,1,24639.0,2014-09-01 09:19:38.000,24672.0,2014-09-01 09:24:31.000,-33.0,-33.0
2014-09-01 09:19:39,A0968,HSIU4,2,24639.0,2014-09-01 09:19:39.000,24673.0,2014-09-01 09:41:13.000,-34.0,-34.0
2014-09-01 09:20:04,A0048,HSIU4,1,24642.0,2014-09-01 09:20:04.000,24683.0,2014-09-01 09:29:09.000,-41.0,-31.0
2014-09-01 09:20:08,A0302,HSIU4,2,24641.0,2014-09-01 09:20:08.000,24836.0,2014-09-01 09:52:17.000,-195.0,-159.0
2014-09-01 09:20:21,A0865,HSIU4,1,24637.0,2014-09-01 09:20:21.000,24646.0,2014-09-01 09:21:53.000,-9.0,-32.0
2014-09-01 09:20:26,A0872,HSIU4,2,24637.0,2014-09-01 09:20:26.000,24832.0,2014-09-01 09:52:16.000,-195.0,-228.0
2014-09-01 09:20:39,A0408,HSIU4,2,24640.0,2014-09-01 09:20:39.000,24648.0,2014-09-01 09:22:02.000,-8.0,14.0
2014-09-01 09:20:49,A0973,HSIU4,2,24640.0,2014-09-01 09:20:49.000,24736.0,2014-09-01 09:49:04.000,-96.0,-96.0
...,...,...,...,...,...,...,...,...,...
2014-09-30 15:24:22,A0188,HSIV4,1,22972.0,2014-09-30 15:24:22.000,22876.0,2014-09-30 15:57:40.000,96.0,-128.0
2014-09-30 15:25:01,A0775,HSIV4,1,22966.0,2014-09-30 15:25:01.000,22963.0,2014-09-30 15:29:42.000,3.0,-137.0
2014-09-30 15:25:44,A0202,HSIV4,1,22957.0,2014-09-30 15:25:44.000,22964.0,2014-09-30 15:30:09.000,-7.0,153.0
2014-09-30 15:27:06,A0923,HSIV4,1,22955.0,2014-09-30 15:27:06.000,22859.0,2014-09-30 15:58:56.000,96.0,-12.0
2014-09-30 15:27:59,A0501,HSIV4,1,22951.0,2014-09-30 15:27:59.000,22958.0,2014-09-30 15:28:53.000,-7.0,456.0
2014-09-30 15:28:41,A0976,HSIV4,2,22954.0,2014-09-30 15:28:41.000,22873.0,2014-09-30 15:58:28.000,81.0,198.0
2014-09-30 15:31:32,A0511,HSIV4,2,22956.0,2014-09-30 15:31:32.000,22934.0,2014-09-30 15:34:34.000,22.0,195.0
2014-09-30 15:34:17,A0841,HSIV4,2,22939.0,2014-09-30 15:34:17.000,22930.0,2014-09-30 15:36:06.000,9.0,639.0
2014-09-30 15:34:21,A0775,HSIV4,1,22936.0,2014-09-30 15:34:21.000,22949.0,2014-09-30 15:39:03.000,-13.0,-150.0
2014-09-30 15:34:26,A0302,HSIV4,2,22938.0,2014-09-30 15:34:26.000,22925.0,2014-09-30 15:53:10.000,13.0,347.0
2014-09-30 15:35:11,A0581,HSIV4,2,22935.0,2014-09-30 15:35:11.000,22929.0,2014-09-30 15:36:08.000,6.0,169.0
2014-09-30 15:36:03,A0188,HSIV4,1,22929.0,2014-09-30 15:36:03.000,22943.0,2014-09-30 15:42:24.000,-14.0,-142.0
2014-09-30 15:38:06,A0501,HSIV4,2,22940.0,2014-09-30 15:38:06.000,22936.0,2014-09-30 15:50:45.000,4.0,460.0
2014-09-30 15:42:37,A0551,HSIV4,2,22944.0,2014-09-30 15:42:37.000,22888.0,2014-09-30 15:59:31.000,56.0,385.0
2014-09-30 15:43:13,A0841,HSIV4,2,22934.0,2014-09-30 15:43:13.000,22899.0,2014-09-30 15:54:17.000,35.0,674.0
2014-09-30 15:44:07,A1036,HSIV4,2,22948.0,2014-09-30 15:44:07.000,22923.0,2014-09-30 15:53:10.000,25.0,-550.0
2014-09-30 15:45:08,A0511,HSIV4,2,22945.0,2014-09-30 15:45:08.000,22938.0,2014-09-30 15:51:50.000,7.0,202.0
2014-09-30 15:46:43,A0818,HSIV4,2,22940.0,2014-09-30 15:46:43.000,22887.0,2014-09-30 15:56:32.000,53.0,77.0
2014-09-30 15:53:05,A0775,HSIV4,1,22923.0,2014-09-30 15:53:05.000,22876.0,2014-09-30 15:57:40.000,47.0,-103.0
2014-09-30 15:53:50,A0581,HSIV4,2,22921.0,2014-09-30 15:53:50.000,22899.0,2014-09-30 15:54:28.000,22.0,191.0
2014-09-30 15:54:08,A0302,HSIV4,2,22914.0,2014-09-30 15:54:08.000,22898.0,2014-09-30 15:54:41.000,16.0,363.0
2014-09-30 15:54:31,A0501,HSIV4,1,22898.0,2014-09-30 15:54:31.000,22899.0,2014-09-30 15:55:04.000,-1.0,459.0
2014-09-30 15:56:01,A0541,HSIV4,1,22896.0,2014-09-30 15:56:01.000,22809.0,2014-09-30 16:09:17.000,87.0,317.0
2014-09-30 15:56:31,A0501,HSIV4,1,22890.0,2014-09-30 15:56:31.000,22843.0,2014-09-30 16:02:01.000,47.0,506.0
2014-09-30 15:56:40,A0302,HSIV4,2,22888.0,2014-09-30 15:56:40.000,22874.0,2014-09-30 15:58:09.000,14.0,377.0
2014-09-30 15:57:33,A0446,HSIV4,1,22881.0,2014-09-30 15:57:33.000,22887.0,2014-09-30 15:59:12.000,-6.0,271.0
2014-09-30 15:57:43,A0775,HSIV4,1,22878.0,2014-09-30 15:57:43.000,22831.0,2014-09-30 16:02:33.000,47.0,-56.0
2014-09-30 15:58:27,A0302,HSIV4,2,22872.0,2014-09-30 15:58:27.000,22858.0,2014-09-30 16:00:00.000,14.0,391.0
2014-09-30 16:02:01,A0551,HSIV4,2,22842.0,2014-09-30 16:02:01.000,22838.0,2014-09-30 16:02:37.000,4.0,389.0
2014-09-30 16:03:15,A0086,HSIV4,1,22840.0,2014-09-30 16:03:15.000,22818.0,2014-09-30 16:12:15.000,22.0,-470.0

In [109]:
df3.account.duplicated()

2014-09-01 09:15:17    False
2014-09-01 09:15:25    False
2014-09-01 09:15:30    False
2014-09-01 09:15:49    False
2014-09-01 09:16:04    False
2014-09-01 09:16:08    False
2014-09-01 09:16:43    False
2014-09-01 09:17:09    False
2014-09-01 09:17:15    False
2014-09-01 09:17:20     True
2014-09-01 09:17:26    False
2014-09-01 09:17:28    False
2014-09-01 09:17:35    False
2014-09-01 09:17:35    False
2014-09-01 09:17:55    False
2014-09-01 09:18:04    False
2014-09-01 09:18:21     True
2014-09-01 09:19:12    False
2014-09-01 09:19:12     True
2014-09-01 09:19:18    False
2014-09-01 09:19:27    False
2014-09-01 09:19:30    False
2014-09-01 09:19:38    False
2014-09-01 09:19:39    False
2014-09-01 09:20:04     True
2014-09-01 09:20:08     True
2014-09-01 09:20:21     True
2014-09-01 09:20:26     True
2014-09-01 09:20:39     True
2014-09-01 09:20:49    False
                       ...
2014-09-30 15:24:22     True
2014-09-30 15:25:01     True
2014-09-30 15:25:44     True
2014-09-30 15:27:06     True
2014-09-30 15:27:59     True
2014-09-30 15:28:41     True
2014-09-30 15:31:32     True
2014-09-30 15:34:17     True
2014-09-30 15:34:21     True
2014-09-30 15:34:26     True
2014-09-30 15:35:11     True
2014-09-30 15:36:03     True
2014-09-30 15:38:06     True
2014-09-30 15:42:37     True
2014-09-30 15:43:13     True
2014-09-30 15:44:07     True
2014-09-30 15:45:08     True
2014-09-30 15:46:43     True
2014-09-30 15:53:05     True
2014-09-30 15:53:50     True
2014-09-30 15:54:08     True
2014-09-30 15:54:31     True
2014-09-30 15:56:01     True
2014-09-30 15:56:31     True
2014-09-30 15:56:40     True
2014-09-30 15:57:33     True
2014-09-30 15:57:43     True
2014-09-30 15:58:27     True
2014-09-30 16:02:01     True
2014-09-30 16:03:15     True
Name: account, Length: 12882, dtype: bool

In [110]:
df

,account,product,buy_sell,take_price,take_time,close_price,close_time
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000
...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000

In [111]:
profit = df.close_price - df.take_price

In [112]:
profit

2013-05-02 09:15:05   -104.0
2013-05-02 09:15:12    -11.0
2013-05-02 09:15:53    -25.0
2013-05-02 09:15:55    -27.0
2013-05-02 09:16:21   -104.0
2013-05-02 09:17:08     28.0
2013-05-02 09:18:56     20.0
2013-05-02 09:19:49   -106.0
2013-05-02 09:22:39     42.0
2013-05-02 09:22:47     47.0
2013-05-02 09:23:07     15.0
2013-05-02 09:24:09    -13.0
2013-05-02 09:24:45     -3.0
2013-05-02 09:25:00   -104.0
2013-05-02 09:26:24    -47.0
2013-05-02 09:29:04    -10.0
2013-05-02 09:30:16    -71.0
2013-05-02 09:30:30    -47.0
2013-05-02 09:31:06    -58.0
2013-05-02 09:31:25     -9.0
2013-05-02 09:32:51    -17.0
2013-05-02 09:33:04     48.0
2013-05-02 09:33:16     28.0
2013-05-02 09:35:23     34.0
2013-05-02 09:35:34     28.0
2013-05-02 09:36:08     -6.0
2013-05-02 09:37:18      9.0
2013-05-02 09:37:19     46.0
2013-05-02 09:38:03    -15.0
2013-05-02 09:39:46    -28.0
                       ...
2015-12-30 15:37:27      8.0
2015-12-30 15:37:54      8.0
2015-12-30 15:39:08     -7.0
2015-12-30 15:39:14      9.0
2015-12-30 15:39:24      4.0
2015-12-30 15:40:09     10.0
2015-12-30 15:40:42      8.0
2015-12-30 15:40:58     -8.0
2015-12-30 15:44:52     10.0
2015-12-30 15:45:11     10.0
2015-12-30 15:45:33     -8.0
2015-12-30 15:45:47     18.0
2015-12-30 15:46:34      8.0
2015-12-30 15:48:11     10.0
2015-12-30 15:48:19      4.0
2015-12-30 15:50:32     10.0
2015-12-30 15:51:13      5.0
2015-12-30 15:52:10      4.0
2015-12-30 15:52:42      9.0
2015-12-30 15:52:57     10.0
2015-12-30 15:53:05      9.0
2015-12-30 15:56:14    -37.0
2015-12-30 15:56:51    -35.0
2015-12-30 15:57:40    -20.0
2015-12-30 15:58:29     -8.0
2015-12-30 15:58:41    -11.0
2015-12-30 15:59:19     -6.0
2015-12-30 15:59:20     11.0
2015-12-30 15:59:28    -11.0
2015-12-30 16:08:16      7.0
Length: 402760, dtype: float64

In [113]:
df.insert(7, 'profit', profit)

In [114]:
df

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000,-104.0
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000,-11.0
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000,-25.0
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000,-27.0
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000,-104.0
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000,20.0
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000,-106.0
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000,42.0
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000,47.0
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000,15.0
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000,-13.0
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000,-3.0
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000,-104.0
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000,-47.0
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000,-10.0
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000,-71.0
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000,-58.0
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000,-9.0
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000,-17.0
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000,48.0
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000,34.0
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000,-6.0
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000,9.0
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000,46.0
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000,-15.0
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000,-28.0
...,...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000,8.0
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000,8.0
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000,-7.0
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000,9.0
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000,4.0
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000,10.0
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000,8.0
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000,-8.0
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000,10.0
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000,10.0
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000,-8.0
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000,18.0
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000,8.0
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000,10.0
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000,4.0
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000,10.0
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000,5.0
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000,4.0
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000,9.0
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000,10.0
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000,9.0
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000,-37.0
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000,-35.0
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000,-20.0
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000,-8.0
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000,-11.0
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000,-6.0
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000,11.0
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000,-11.0
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000,7.0

In [119]:
df[df.buy_sell == 2].profit.apply(lambda x: x == x*(-1))

2013-05-02 09:15:05    False
2013-05-02 09:15:12    False
2013-05-02 09:15:53    False
2013-05-02 09:16:21    False
2013-05-02 09:19:49    False
2013-05-02 09:22:39    False
2013-05-02 09:22:47    False
2013-05-02 09:24:09    False
2013-05-02 09:24:45    False
2013-05-02 09:25:00    False
2013-05-02 09:29:04    False
2013-05-02 09:30:16    False
2013-05-02 09:31:06    False
2013-05-02 09:31:25    False
2013-05-02 09:32:51    False
2013-05-02 09:36:08    False
2013-05-02 09:38:03    False
2013-05-02 09:39:46    False
2013-05-02 09:41:28    False
2013-05-02 09:42:11    False
2013-05-02 09:42:39    False
2013-05-02 09:45:21    False
2013-05-02 09:45:27    False
2013-05-02 09:46:50    False
2013-05-02 09:50:27    False
2013-05-02 09:51:25    False
2013-05-02 10:10:13    False
2013-05-02 10:10:22    False
2013-05-02 10:12:04    False
2013-05-02 10:12:07    False
                       ...
2015-12-30 14:40:24    False
2015-12-30 14:41:30    False
2015-12-30 14:51:05    False
2015-12-30 14:51:22    False
2015-12-30 14:54:03    False
2015-12-30 14:54:45    False
2015-12-30 14:57:24    False
2015-12-30 15:00:54    False
2015-12-30 15:01:16    False
2015-12-30 15:02:05    False
2015-12-30 15:05:20    False
2015-12-30 15:05:46    False
2015-12-30 15:05:57    False
2015-12-30 15:06:09    False
2015-12-30 15:12:57    False
2015-12-30 15:14:35    False
2015-12-30 15:19:06    False
2015-12-30 15:19:49    False
2015-12-30 15:19:50    False
2015-12-30 15:20:16    False
2015-12-30 15:20:31    False
2015-12-30 15:21:58    False
2015-12-30 15:39:08    False
2015-12-30 15:40:58    False
2015-12-30 15:44:52    False
2015-12-30 15:51:13    False
2015-12-30 15:58:29    False
2015-12-30 15:58:41    False
2015-12-30 15:59:19    False
2015-12-30 15:59:28    False
Name: profit, Length: 217596, dtype: bool

In [120]:
df

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000,-104.0
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000,-11.0
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000,-25.0
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000,-27.0
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000,-104.0
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000,20.0
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000,-106.0
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000,42.0
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000,47.0
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000,15.0
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000,-13.0
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000,-3.0
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000,-104.0
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000,-47.0
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000,-10.0
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000,-71.0
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000,-58.0
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000,-9.0
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000,-17.0
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000,48.0
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000,34.0
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000,-6.0
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000,9.0
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000,46.0
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000,-15.0
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000,-28.0
...,...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000,8.0
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000,8.0
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000,-7.0
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000,9.0
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000,4.0
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000,10.0
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000,8.0
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000,-8.0
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000,10.0
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000,10.0
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000,-8.0
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000,18.0
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000,8.0
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000,10.0
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000,4.0
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000,10.0
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000,5.0
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000,4.0
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000,9.0
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000,10.0
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000,9.0
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000,-37.0
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000,-35.0
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000,-20.0
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000,-8.0
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000,-11.0
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000,-6.0
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000,11.0
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000,-11.0
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000,7.0

In [125]:
df[df.buy_sell==-2].profit.apply(lambda y: y == y*(-1))

SyntaxError: invalid syntax (<ipython-input-125-258e1cd6d299>, line 1)

In [126]:
df.groupby('buy_sell').size()

buy_sell
1    185164
2    217596
dtype: int64

In [143]:
 df[df.buy_sell==2].profit.apply(lambda y: y*(-1))

2013-05-02 09:15:05    104.0
2013-05-02 09:15:12     11.0
2013-05-02 09:15:53     25.0
2013-05-02 09:16:21    104.0
2013-05-02 09:19:49    106.0
2013-05-02 09:22:39    -42.0
2013-05-02 09:22:47    -47.0
2013-05-02 09:24:09     13.0
2013-05-02 09:24:45      3.0
2013-05-02 09:25:00    104.0
2013-05-02 09:29:04     10.0
2013-05-02 09:30:16     71.0
2013-05-02 09:31:06     58.0
2013-05-02 09:31:25      9.0
2013-05-02 09:32:51     17.0
2013-05-02 09:36:08      6.0
2013-05-02 09:38:03     15.0
2013-05-02 09:39:46     28.0
2013-05-02 09:41:28      7.0
2013-05-02 09:42:11     37.0
2013-05-02 09:42:39      5.0
2013-05-02 09:45:21      6.0
2013-05-02 09:45:27     11.0
2013-05-02 09:46:50      4.0
2013-05-02 09:50:27    -19.0
2013-05-02 09:51:25    -29.0
2013-05-02 10:10:13     33.0
2013-05-02 10:10:22     27.0
2013-05-02 10:12:04      9.0
2013-05-02 10:12:07      7.0
                       ...
2015-12-30 14:40:24     -7.0
2015-12-30 14:41:30      2.0
2015-12-30 14:51:05     17.0
2015-12-30 14:51:22     14.0
2015-12-30 14:54:03     25.0
2015-12-30 14:54:45      8.0
2015-12-30 14:57:24     10.0
2015-12-30 15:00:54     15.0
2015-12-30 15:01:16     10.0
2015-12-30 15:02:05     13.0
2015-12-30 15:05:20     15.0
2015-12-30 15:05:46     11.0
2015-12-30 15:05:57      6.0
2015-12-30 15:06:09      8.0
2015-12-30 15:12:57      7.0
2015-12-30 15:14:35     13.0
2015-12-30 15:19:06      4.0
2015-12-30 15:19:49    -42.0
2015-12-30 15:19:50    -24.0
2015-12-30 15:20:16    -28.0
2015-12-30 15:20:31    -21.0
2015-12-30 15:21:58    -16.0
2015-12-30 15:39:08      7.0
2015-12-30 15:40:58      8.0
2015-12-30 15:44:52    -10.0
2015-12-30 15:51:13     -5.0
2015-12-30 15:58:29      8.0
2015-12-30 15:58:41     11.0
2015-12-30 15:59:19      6.0
2015-12-30 15:59:28     11.0
Name: profit, Length: 217596, dtype: float64

In [141]:
df

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000,-104.0
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000,-11.0
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000,-25.0
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000,-27.0
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000,-104.0
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000,20.0
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000,-106.0
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000,42.0
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000,47.0
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000,15.0
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000,-13.0
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000,-3.0
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000,-104.0
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000,-47.0
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000,-10.0
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000,-71.0
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000,-58.0
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000,-9.0
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000,-17.0
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000,48.0
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000,34.0
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000,-6.0
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000,9.0
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000,46.0
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000,-15.0
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000,-28.0
...,...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000,8.0
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000,8.0
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000,-7.0
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000,9.0
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000,4.0
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000,10.0
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000,8.0
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000,-8.0
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000,10.0
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000,10.0
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000,-8.0
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000,18.0
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000,8.0
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000,10.0
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000,4.0
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000,10.0
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000,5.0
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000,4.0
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000,9.0
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000,10.0
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000,9.0
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000,-37.0
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000,-35.0
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000,-20.0
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000,-8.0
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000,-11.0
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000,-6.0
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000,11.0
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000,-11.0
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000,7.0

In [33]:
df3.buy_sell.apply(count_profit)

D:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

KeyboardInterrupt:

In [36]:
df3[df3.buy_sell == 2].profit =df3[df3.buy_sell == 2].profit * (-1)

D:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [37]:
import numpy as np

In [39]:
df3[df3.buy_sell == 2].profit =df3[df3.buy_sell == 2].profit * (-1)

D:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [42]:
df3[df3.buy_sell ==1 ].profit == df3[df3.buy_sell == 1].profit * (-1)

2014-09-01 09:15:17    False
2014-09-01 09:15:25    False
2014-09-01 09:15:49    False
2014-09-01 09:16:04    False
2014-09-01 09:16:08    False
2014-09-01 09:17:26    False
2014-09-01 09:17:35    False
2014-09-01 09:17:35    False
2014-09-01 09:17:55    False
2014-09-01 09:18:04    False
2014-09-01 09:18:21    False
2014-09-01 09:19:12    False
2014-09-01 09:19:12    False
2014-09-01 09:19:18    False
2014-09-01 09:19:27    False
2014-09-01 09:19:38    False
2014-09-01 09:20:04    False
2014-09-01 09:20:21    False
2014-09-01 09:22:46    False
2014-09-01 09:23:06    False
2014-09-01 09:23:06    False
2014-09-01 09:24:18    False
2014-09-01 09:24:33    False
2014-09-01 09:27:24    False
2014-09-01 09:27:24    False
2014-09-01 09:27:26    False
2014-09-01 09:28:03    False
2014-09-01 09:28:50    False
2014-09-01 09:29:01    False
2014-09-01 09:30:21    False
                       ...
2014-09-30 15:06:55    False
2014-09-30 15:07:01    False
2014-09-30 15:07:18    False
2014-09-30 15:07:43    False
2014-09-30 15:10:17    False
2014-09-30 15:12:25    False
2014-09-30 15:13:25    False
2014-09-30 15:13:57    False
2014-09-30 15:16:48    False
2014-09-30 15:17:26    False
2014-09-30 15:17:30    False
2014-09-30 15:17:41    False
2014-09-30 15:18:48    False
2014-09-30 15:18:52    False
2014-09-30 15:20:42    False
2014-09-30 15:21:17    False
2014-09-30 15:24:22    False
2014-09-30 15:25:01    False
2014-09-30 15:25:44    False
2014-09-30 15:27:06    False
2014-09-30 15:27:59    False
2014-09-30 15:34:21    False
2014-09-30 15:36:03    False
2014-09-30 15:53:05    False
2014-09-30 15:54:31    False
2014-09-30 15:56:01    False
2014-09-30 15:56:31    False
2014-09-30 15:57:33    False
2014-09-30 15:57:43    False
2014-09-30 16:03:15    False
Name: profit, Length: 6774, dtype: bool

In [43]:
df3

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit
2014-09-01 09:15:17,A0048,HSIU4,1,24632.0,2014-09-01 09:15:17.000,24607.0,2014-09-01 09:17:24.000,25.0
2014-09-01 09:15:25,A0581,HSIU4,1,24639.0,2014-09-01 09:15:25.000,24652.0,2014-09-01 09:16:27.000,-13.0
2014-09-01 09:15:30,A0877,HSIU4,2,24638.0,2014-09-01 09:15:30.000,24618.0,2014-09-01 09:17:55.000,20.0
2014-09-01 09:15:49,A0333,HSIU4,1,24631.0,2014-09-01 09:15:49.000,24654.0,2014-09-01 09:16:21.000,-23.0
2014-09-01 09:16:04,A0841,HSIU4,1,24644.0,2014-09-01 09:16:04.000,24655.0,2014-09-01 09:16:38.000,-11.0
2014-09-01 09:16:08,A0026,HSIU4,1,24648.0,2014-09-01 09:16:08.000,24601.0,2014-09-01 09:17:25.000,47.0
2014-09-01 09:16:43,A0059,HSIU4,2,24651.0,2014-09-01 09:16:43.000,24846.0,2014-09-01 09:53:08.000,-195.0
2014-09-01 09:17:09,A0302,HSIU4,2,24648.0,2014-09-01 09:17:09.000,24612.0,2014-09-01 09:17:44.000,36.0
2014-09-01 09:17:15,A0408,HSIU4,2,24643.0,2014-09-01 09:17:15.000,24621.0,2014-09-01 09:18:01.000,22.0
2014-09-01 09:17:20,A0877,HSIU4,2,24625.0,2014-09-01 09:17:20.000,24820.0,2014-09-01 09:51:13.000,-195.0
2014-09-01 09:17:26,A0865,HSIU4,1,24600.0,2014-09-01 09:17:26.000,24623.0,2014-09-01 09:18:28.000,-23.0
2014-09-01 09:17:28,A0004,HSIU4,2,24603.0,2014-09-01 09:17:28.000,24647.0,2014-09-01 09:22:06.000,-44.0
2014-09-01 09:17:35,A0685,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24629.0,2014-09-01 09:19:21.000,-19.0
2014-09-01 09:17:35,A0403,HSIU4,1,24610.0,2014-09-01 09:17:35.000,24625.0,2014-09-01 09:18:08.000,-15.0
2014-09-01 09:17:55,A0343,HSIU4,1,24619.0,2014-09-01 09:17:55.000,24704.0,2014-09-01 09:33:14.000,-85.0
2014-09-01 09:18:04,A0683,HSIU4,1,24622.0,2014-09-01 09:18:04.000,24636.0,2014-09-01 09:19:32.000,-14.0
2014-09-01 09:18:21,A0048,HSIU4,1,24621.0,2014-09-01 09:18:21.000,24627.0,2014-09-01 09:18:53.000,-6.0
2014-09-01 09:19:12,A0230,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24638.0,2014-09-01 09:19:49.000,-8.0
2014-09-01 09:19:12,A0048,HSIU4,1,24630.0,2014-09-01 09:19:12.000,24639.0,2014-09-01 09:19:48.000,-9.0
2014-09-01 09:19:18,A0470,HSIU4,1,24633.0,2014-09-01 09:19:18.000,24648.0,2014-09-01 09:22:26.000,-15.0
2014-09-01 09:19:27,A0251,HSIU4,1,24640.0,2014-09-01 09:19:27.000,24665.0,2014-09-01 09:25:12.000,-25.0
2014-09-01 09:19:30,A0038,HSIU4,2,24636.0,2014-09-01 09:19:30.000,24683.0,2014-09-01 09:28:48.000,-47.0
2014-09-01 09:19:38,A0872,HSIU4,1,24639.0,2014-09-01 09:19:38.000,24672.0,2014-09-01 09:24:31.000,-33.0
2014-09-01 09:19:39,A0968,HSIU4,2,24639.0,2014-09-01 09:19:39.000,24673.0,2014-09-01 09:41:13.000,-34.0
2014-09-01 09:20:04,A0048,HSIU4,1,24642.0,2014-09-01 09:20:04.000,24683.0,2014-09-01 09:29:09.000,-41.0
2014-09-01 09:20:08,A0302,HSIU4,2,24641.0,2014-09-01 09:20:08.000,24836.0,2014-09-01 09:52:17.000,-195.0
2014-09-01 09:20:21,A0865,HSIU4,1,24637.0,2014-09-01 09:20:21.000,24646.0,2014-09-01 09:21:53.000,-9.0
2014-09-01 09:20:26,A0872,HSIU4,2,24637.0,2014-09-01 09:20:26.000,24832.0,2014-09-01 09:52:16.000,-195.0
2014-09-01 09:20:39,A0408,HSIU4,2,24640.0,2014-09-01 09:20:39.000,24648.0,2014-09-01 09:22:02.000,-8.0
2014-09-01 09:20:49,A0973,HSIU4,2,24640.0,2014-09-01 09:20:49.000,24736.0,2014-09-01 09:49:04.000,-96.0
...,...,...,...,...,...,...,...,...
2014-09-30 15:24:22,A0188,HSIV4,1,22972.0,2014-09-30 15:24:22.000,22876.0,2014-09-30 15:57:40.000,96.0
2014-09-30 15:25:01,A0775,HSIV4,1,22966.0,2014-09-30 15:25:01.000,22963.0,2014-09-30 15:29:42.000,3.0
2014-09-30 15:25:44,A0202,HSIV4,1,22957.0,2014-09-30 15:25:44.000,22964.0,2014-09-30 15:30:09.000,-7.0
2014-09-30 15:27:06,A0923,HSIV4,1,22955.0,2014-09-30 15:27:06.000,22859.0,2014-09-30 15:58:56.000,96.0
2014-09-30 15:27:59,A0501,HSIV4,1,22951.0,2014-09-30 15:27:59.000,22958.0,2014-09-30 15:28:53.000,-7.0
2014-09-30 15:28:41,A0976,HSIV4,2,22954.0,2014-09-30 15:28:41.000,22873.0,2014-09-30 15:58:28.000,81.0
2014-09-30 15:31:32,A0511,HSIV4,2,22956.0,2014-09-30 15:31:32.000,22934.0,2014-09-30 15:34:34.000,22.0
2014-09-30 15:34:17,A0841,HSIV4,2,22939.0,2014-09-30 15:34:17.000,22930.0,2014-09-30 15:36:06.000,9.0
2014-09-30 15:34:21,A0775,HSIV4,1,22936.0,2014-09-30 15:34:21.000,22949.0,2014-09-30 15:39:03.000,-13.0
2014-09-30 15:34:26,A0302,HSIV4,2,22938.0,2014-09-30 15:34:26.000,22925.0,2014-09-30 15:53:10.000,13.0
2014-09-30 15:35:11,A0581,HSIV4,2,22935.0,2014-09-30 15:35:11.000,22929.0,2014-09-30 15:36:08.000,6.0
2014-09-30 15:36:03,A0188,HSIV4,1,22929.0,2014-09-30 15:36:03.000,22943.0,2014-09-30 15:42:24.000,-14.0
2014-09-30 15:38:06,A0501,HSIV4,2,22940.0,2014-09-30 15:38:06.000,22936.0,2014-09-30 15:50:45.000,4.0
2014-09-30 15:42:37,A0551,HSIV4,2,22944.0,2014-09-30 15:42:37.000,22888.0,2014-09-30 15:59:31.000,56.0
2014-09-30 15:43:13,A0841,HSIV4,2,22934.0,2014-09-30 15:43:13.000,22899.0,2014-09-30 15:54:17.000,35.0
2014-09-30 15:44:07,A1036,HSIV4,2,22948.0,2014-09-30 15:44:07.000,22923.0,2014-09-30 15:53:10.000,25.0
2014-09-30 15:45:08,A0511,HSIV4,2,22945.0,2014-09-30 15:45:08.000,22938.0,2014-09-30 15:51:50.000,7.0
2014-09-30 15:46:43,A0818,HSIV4,2,22940.0,2014-09-30 15:46:43.000,22887.0,2014-09-30 15:56:32.000,53.0
2014-09-30 15:53:05,A0775,HSIV4,1,22923.0,2014-09-30 15:53:05.000,22876.0,2014-09-30 15:57:40.000,47.0
2014-09-30 15:53:50,A0581,HSIV4,2,22921.0,2014-09-30 15:53:50.000,22899.0,2014-09-30 15:54:28.000,22.0
2014-09-30 15:54:08,A0302,HSIV4,2,22914.0,2014-09-30 15:54:08.000,22898.0,2014-09-30 15:54:41.000,16.0
2014-09-30 15:54:31,A0501,HSIV4,1,22898.0,2014-09-30 15:54:31.000,22899.0,2014-09-30 15:55:04.000,-1.0
2014-09-30 15:56:01,A0541,HSIV4,1,22896.0,2014-09-30 15:56:01.000,22809.0,2014-09-30 16:09:17.000,87.0
2014-09-30 15:56:31,A0501,HSIV4,1,22890.0,2014-09-30 15:56:31.000,22843.0,2014-09-30 16:02:01.000,47.0
2014-09-30 15:56:40,A0302,HSIV4,2,22888.0,2014-09-30 15:56:40.000,22874.0,2014-09-30 15:58:09.000,14.0
2014-09-30 15:57:33,A0446,HSIV4,1,22881.0,2014-09-30 15:57:33.000,22887.0,2014-09-30 15:59:12.000,-6.0
2014-09-30 15:57:43,A0775,HSIV4,1,22878.0,2014-09-30 15:57:43.000,22831.0,2014-09-30 16:02:33.000,47.0
2014-09-30 15:58:27,A0302,HSIV4,2,22872.0,2014-09-30 15:58:27.000,22858.0,2014-09-30 16:00:00.000,14.0
2014-09-30 16:02:01,A0551,HSIV4,2,22842.0,2014-09-30 16:02:01.000,22838.0,2014-09-30 16:02:37.000,4.0
2014-09-30 16:03:15,A0086,HSIV4,1,22840.0,2014-09-30 16:03:15.000,22818.0,2014-09-30 16:12:15.000,22.0