In [9]:
import pandas as pd

In [66]:
df = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\account_data.h5')

In [67]:
df

,account,product,buy_sell,take_price,take_time,close_price,close_time
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000
...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000

In [69]:
def count_profit(buy_sell):
    if buy_sell ==1:
        profit = close_price - take_price
    else:
        profit = take_price - close_price
    return profit
profit

2013-05-02 09:15:05   -104.0
2013-05-02 09:15:12    -11.0
2013-05-02 09:15:53    -25.0
2013-05-02 09:15:55    -27.0
2013-05-02 09:16:21   -104.0
2013-05-02 09:17:08     28.0
2013-05-02 09:18:56     20.0
2013-05-02 09:19:49   -106.0
2013-05-02 09:22:39     42.0
2013-05-02 09:22:47     47.0
2013-05-02 09:23:07     15.0
2013-05-02 09:24:09    -13.0
2013-05-02 09:24:45     -3.0
2013-05-02 09:25:00   -104.0
2013-05-02 09:26:24    -47.0
2013-05-02 09:29:04    -10.0
2013-05-02 09:30:16    -71.0
2013-05-02 09:30:30    -47.0
2013-05-02 09:31:06    -58.0
2013-05-02 09:31:25     -9.0
2013-05-02 09:32:51    -17.0
2013-05-02 09:33:04     48.0
2013-05-02 09:33:16     28.0
2013-05-02 09:35:23     34.0
2013-05-02 09:35:34     28.0
2013-05-02 09:36:08     -6.0
2013-05-02 09:37:18      9.0
2013-05-02 09:37:19     46.0
2013-05-02 09:38:03    -15.0
2013-05-02 09:39:46    -28.0
                       ...
2015-12-30 15:37:27      8.0
2015-12-30 15:37:54      8.0
2015-12-30 15:39:08     -7.0
2015-12-30 15:39:14      9.0
2015-12-30 15:39:24      4.0
2015-12-30 15:40:09     10.0
2015-12-30 15:40:42      8.0
2015-12-30 15:40:58     -8.0
2015-12-30 15:44:52     10.0
2015-12-30 15:45:11     10.0
2015-12-30 15:45:33     -8.0
2015-12-30 15:45:47     18.0
2015-12-30 15:46:34      8.0
2015-12-30 15:48:11     10.0
2015-12-30 15:48:19      4.0
2015-12-30 15:50:32     10.0
2015-12-30 15:51:13      5.0
2015-12-30 15:52:10      4.0
2015-12-30 15:52:42      9.0
2015-12-30 15:52:57     10.0
2015-12-30 15:53:05      9.0
2015-12-30 15:56:14    -37.0
2015-12-30 15:56:51    -35.0
2015-12-30 15:57:40    -20.0
2015-12-30 15:58:29     -8.0
2015-12-30 15:58:41    -11.0
2015-12-30 15:59:19     -6.0
2015-12-30 15:59:20     11.0
2015-12-30 15:59:28    -11.0
2015-12-30 16:08:16      7.0
Length: 402760, dtype: float64

In [13]:
df.insert(7,'profit',profit)

In [14]:
df

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000,-104.0
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000,-11.0
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000,-25.0
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000,-27.0
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000,-104.0
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000,20.0
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000,-106.0
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000,42.0
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000,47.0
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000,15.0
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000,-13.0
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000,-3.0
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000,-104.0
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000,-47.0
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000,-10.0
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000,-71.0
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000,-58.0
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000,-9.0
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000,-17.0
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000,48.0
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000,34.0
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000,-6.0
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000,9.0
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000,46.0
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000,-15.0
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000,-28.0
...,...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000,8.0
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000,8.0
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000,-7.0
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000,9.0
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000,4.0
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000,10.0
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000,8.0
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000,-8.0
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000,10.0
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000,10.0
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000,-8.0
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000,18.0
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000,8.0
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000,10.0
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000,4.0
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000,10.0
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000,5.0
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000,4.0
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000,9.0
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000,10.0
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000,9.0
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000,-37.0
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000,-35.0
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000,-20.0
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000,-8.0
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000,-11.0
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000,-6.0
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000,11.0
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000,-11.0
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000,7.0

In [18]:
 (df[df.buy_sell == 2].profit)*(-1)

2013-05-02 09:15:05    104.0
2013-05-02 09:15:12     11.0
2013-05-02 09:15:53     25.0
2013-05-02 09:16:21    104.0
2013-05-02 09:19:49    106.0
2013-05-02 09:22:39    -42.0
2013-05-02 09:22:47    -47.0
2013-05-02 09:24:09     13.0
2013-05-02 09:24:45      3.0
2013-05-02 09:25:00    104.0
2013-05-02 09:29:04     10.0
2013-05-02 09:30:16     71.0
2013-05-02 09:31:06     58.0
2013-05-02 09:31:25      9.0
2013-05-02 09:32:51     17.0
2013-05-02 09:36:08      6.0
2013-05-02 09:38:03     15.0
2013-05-02 09:39:46     28.0
2013-05-02 09:41:28      7.0
2013-05-02 09:42:11     37.0
2013-05-02 09:42:39      5.0
2013-05-02 09:45:21      6.0
2013-05-02 09:45:27     11.0
2013-05-02 09:46:50      4.0
2013-05-02 09:50:27    -19.0
2013-05-02 09:51:25    -29.0
2013-05-02 10:10:13     33.0
2013-05-02 10:10:22     27.0
2013-05-02 10:12:04      9.0
2013-05-02 10:12:07      7.0
                       ...
2015-12-30 14:40:24     -7.0
2015-12-30 14:41:30      2.0
2015-12-30 14:51:05     17.0
2015-12-30 14:51:22     14.0
2015-12-30 14:54:03     25.0
2015-12-30 14:54:45      8.0
2015-12-30 14:57:24     10.0
2015-12-30 15:00:54     15.0
2015-12-30 15:01:16     10.0
2015-12-30 15:02:05     13.0
2015-12-30 15:05:20     15.0
2015-12-30 15:05:46     11.0
2015-12-30 15:05:57      6.0
2015-12-30 15:06:09      8.0
2015-12-30 15:12:57      7.0
2015-12-30 15:14:35     13.0
2015-12-30 15:19:06      4.0
2015-12-30 15:19:49    -42.0
2015-12-30 15:19:50    -24.0
2015-12-30 15:20:16    -28.0
2015-12-30 15:20:31    -21.0
2015-12-30 15:21:58    -16.0
2015-12-30 15:39:08      7.0
2015-12-30 15:40:58      8.0
2015-12-30 15:44:52    -10.0
2015-12-30 15:51:13     -5.0
2015-12-30 15:58:29      8.0
2015-12-30 15:58:41     11.0
2015-12-30 15:59:19      6.0
2015-12-30 15:59:28     11.0
Name: profit, Length: 217596, dtype: float64

In [21]:
group1 = df.groupby('buy_sell')

In [22]:
group1

In [32]:
[x for x in group1]

[(1,                     account product  buy_sell  take_price  \
  2013-05-02 09:15:55   A0005   HSIK3         1     22553.0
  2013-05-02 09:17:08   A0006   HSIK3         1     22535.0
  2013-05-02 09:18:56   A0007   HSIK3         1     22528.0
  2013-05-02 09:23:07   A0010   HSIK3         1     22540.0
  2013-05-02 09:26:24   A0007   HSIK3         1     22542.0
  2013-05-02 09:30:30   A0006   HSIK3         1     22534.0
  2013-05-02 09:33:04   A0007   HSIK3         1     22442.0
  2013-05-02 09:33:16   A0006   HSIK3         1     22442.0
  2013-05-02 09:35:23   A0013   HSIK3         1     22425.0
  2013-05-02 09:35:34   A0006   HSIK3         1     22432.0
  2013-05-02 09:37:18   A0012   HSIK3         1     22472.0
  2013-05-02 09:37:19   A0010   HSIK3         1     22472.0
  2013-05-02 09:41:18   A0007   HSIK3         1     22486.0
  2013-05-02 09:47:27   A0007   HSIK3         1     22452.0
  2013-05-02 09:48:43   A0012   HSIK3         1     22454.0
  2013-05-02 09:51:35   A0007   HSIK3         1     22452.0
  2013-05-02 09:56:33   A0006   HSIK3         1     22467.0
  2013-05-02 10:00:04   A0004   HSIK3         1     22456.0
  2013-05-02 10:01:49   A0010   HSIK3         1     22450.0
  2013-05-02 10:06:09   A0016   HSIK3         1     22468.0
  2013-05-02 10:09:17   A0017   HSIK3         1     22490.0
  2013-05-02 10:09:38   A0004   HSIK3         1     22497.0
  2013-05-02 10:10:02   A0007   HSIK3         1     22520.0
  2013-05-02 10:11:31   A0007   HSIK3         1     22517.0
  2013-05-02 10:17:28   A0021   HSIK3         1     22530.0
  2013-05-02 10:19:29   A0007   HSIK3         1     22519.0
  2013-05-02 10:24:53   A0021   HSIK3         1     22511.0
  2013-05-02 10:31:05   A0007   HSIK3         1     22512.0
  2013-05-02 10:33:02   A0007   HSIK3         1     22493.0
  2013-05-02 10:37:52   A0007   HSIK3         1     22500.0
  ...                     ...     ...       ...         ...
  2015-12-30 15:30:09   A0184   HSIF6         1     21893.0
  2015-12-30 15:32:33   A1502   HSIF6         1     21895.0
  2015-12-30 15:34:15   A0775   HSIF6         1     21906.0
  2015-12-30 15:34:21   A1583   HSIF6         1     21907.0
  2015-12-30 15:34:42   A0231   HSIF6         1     21911.0
  2015-12-30 15:34:48   A0577   HSIF6         1     21913.0
  2015-12-30 15:34:51   A1635   HSIF6         1     21912.0
  2015-12-30 15:35:42   A1381   HSIF6         1     21905.0
  2015-12-30 15:37:27   A1247   HSIF6         1     21910.0
  2015-12-30 15:37:54   A1537   HSIF6         1     21908.0
  2015-12-30 15:39:14   A0877   HSIF6         1     21916.0
  2015-12-30 15:39:24   A1630   HSIF6         1     21914.0
  2015-12-30 15:40:09   A1502   HSIF6         1     21905.0
  2015-12-30 15:40:42   A0025   HSIF6         1     21907.0
  2015-12-30 15:45:11   A1502   HSIF6         1     21907.0
  2015-12-30 15:45:33   A1381   HSIF6         1     21910.0
  2015-12-30 15:45:47   A0025   HSIF6         1     21910.0
  2015-12-30 15:46:34   A1502   HSIF6         1     21909.0
  2015-12-30 15:48:11   A0184   HSIF6         1     21905.0
  2015-12-30 15:48:19   A1502   HSIF6         1     21898.0
  2015-12-30 15:50:32   A1502   HSIF6         1     21900.0
  2015-12-30 15:52:10   A1247   HSIF6         1     21911.0
  2015-12-30 15:52:42   A1058   HSIF6         1     21916.0
  2015-12-30 15:52:57   A1600   HSIF6         1     21914.0
  2015-12-30 15:53:05   A1516   HSIF6         1     21915.0
  2015-12-30 15:56:14   A1630   HSIF6         1     21931.0
  2015-12-30 15:56:51   A0481   HSIF6         1     21930.0
  2015-12-30 15:57:40   A0481   HSIF6         1     21930.0
  2015-12-30 15:59:20   A0025   HSIF6         1     21907.0
  2015-12-30 16:08:16   A1116   HSIF6         1     21902.0

                                     take_time  close_price  \
  2013-05-02 09:15:55  2013-05-02 09:15:55.000      22526.0
  2013-05-02 09:17:08  2013-05-02 09:17:08.000      22563.0
  2013-05-02 09:18:56  2013-05-02 09:18:56.000      22548.0
  2013-05-02 09:23:07  2013-05-02 09:23:07.000      22555.0
  2013-05-02 09:26:24  2013-05-02 09:26:24.000      22495.0
  2013-05-02 09:30:30  2013-05-02 09:30:30.000      22487.0
  2013-05-02 09:33:04  2013-05-02 09:33:04.000      22490.0
  2013-05-02 09:33:16  2013-05-02 09:33:16.000      22470.0
  2013-05-02 09:35:23  2013-05-02 09:35:23.000      22459.0
  2013-05-02 09:35:34  2013-05-02 09:35:34.000      22460.0
  2013-05-02 09:37:18  2013-05-02 09:37:18.000      22481.0
  2013-05-02 09:37:19  2013-05-02 09:37:19.000      22518.0
  2013-05-02 09:41:18  2013-05-02 09:41:18.000      22439.0
  2013-05-02 09:47:27  2013-05-02 09:47:27.000      22459.0
  2013-05-02 09:48:43  2013-05-02 09:48:43.000      22511.0
  2013-05-02 09:51:35  2013-05-02 09:51:35.000      22505.0
  2013-05-02 09:56:33  2013-05-02 09:56:33.000      22480.0
  2013-05-02 10:00:04  2013-05-02 10:00:04.000      22459.0
  2013-05-02 10:01:49  2013-05-02 10:01:49.000      22484.0
  2013-05-02 10:06:09  2013-05-02 10:06:09.000      22481.0
  2013-05-02 10:09:17  2013-05-02 10:09:17.000      22543.0
  2013-05-02 10:09:38  2013-05-02 10:09:38.000      22531.0
  2013-05-02 10:10:02  2013-05-02 10:10:02.000      22530.0
  2013-05-02 10:11:31  2013-05-02 10:11:31.000      22527.0
  2013-05-02 10:17:28  2013-05-02 10:17:28.000      22541.0
  2013-05-02 10:19:29  2013-05-02 10:19:29.000      22543.0
  2013-05-02 10:24:53  2013-05-02 10:24:53.000      22482.0
  2013-05-02 10:31:05  2013-05-02 10:31:05.000      22500.0
  2013-05-02 10:33:02  2013-05-02 10:33:02.000      22508.0
  2013-05-02 10:37:52  2013-05-02 10:37:52.000      22520.0
  ...                                      ...          ...
  2015-12-30 15:30:09  2015-12-30 15:30:09.000      21907.0
  2015-12-30 15:32:33  2015-12-30 15:32:33.000      21902.0
  2015-12-30 15:34:15  2015-12-30 15:34:15.000      21912.0
  2015-12-30 15:34:21  2015-12-30 15:34:21.000      21914.0
  2015-12-30 15:34:42  2015-12-30 15:34:42.000      21914.0
  2015-12-30 15:34:48  2015-12-30 15:34:48.000      21925.0
  2015-12-30 15:34:51  2015-12-30 15:34:51.000      21927.0
  2015-12-30 15:35:42  2015-12-30 15:35:42.000      21915.0
  2015-12-30 15:37:27  2015-12-30 15:37:27.000      21918.0
  2015-12-30 15:37:54  2015-12-30 15:37:54.000      21916.0
  2015-12-30 15:39:14  2015-12-30 15:39:14.000      21925.0
  2015-12-30 15:39:24  2015-12-30 15:39:24.000      21918.0
  2015-12-30 15:40:09  2015-12-30 15:40:09.000      21915.0
  2015-12-30 15:40:42  2015-12-30 15:40:42.000      21915.0
  2015-12-30 15:45:11  2015-12-30 15:45:11.000      21917.0
  2015-12-30 15:45:33  2015-12-30 15:45:33.000      21902.0
  2015-12-30 15:45:47  2015-12-30 15:45:47.000      21928.0
  2015-12-30 15:46:34  2015-12-30 15:46:34.000      21917.0
  2015-12-30 15:48:11  2015-12-30 15:48:11.000      21915.0
  2015-12-30 15:48:19  2015-12-30 15:48:19.000      21902.0
  2015-12-30 15:50:32  2015-12-30 15:50:32.000      21910.0
  2015-12-30 15:52:10  2015-12-30 15:52:10.000      21915.0
  2015-12-30 15:52:42  2015-12-30 15:52:42.000      21925.0
  2015-12-30 15:52:57  2015-12-30 15:52:57.000      21924.0
  2015-12-30 15:53:05  2015-12-30 15:53:05.000      21924.0
  2015-12-30 15:56:14  2015-12-30 15:56:14.000      21894.0
  2015-12-30 15:56:51  2015-12-30 15:56:51.000      21895.0
  2015-12-30 15:57:40  2015-12-30 15:57:40.000      21910.0
  2015-12-30 15:59:20  2015-12-30 15:59:20.000      21918.0
  2015-12-30 16:08:16  2015-12-30 16:08:16.000      21909.0

                                    close_time  profit
  2013-05-02 09:15:55  2013-05-02 09:19:00.000   -27.0
  2013-05-02 09:17:08  2013-05-02 09:23:30.000    28.0
  2013-05-02 09:18:56  2013-05-02 09:26:14.000    20.0
  2013-05-02 09:23:07  2013-05-02 09:25:44.000    15.0
  2013-05-02 09:26:24  2013-05-02 09:32:36.000   -47.0
  2013-05-02 09:30:30  2013-05-02 09:32:39.000   -47.0
  2013-05-02 09:33:04  2013-05-02 09:41:04.000    48.0
  2013-05-02 09:33:16  2013-05-02 09:36:23.000    28.0
  2013-05-02 09:35:23  2013-05-02 09:35:57.000    34.0
  2013-05-02 09:35:34  2013-05-02 09:36:12.000    28.0
  2013-05-02 09:37:18  2013-05-02 09:43:45.000     9.0
  2013-05-02 09:37:19  2013-05-02 10:15:28.000    46.0
  2013-05-02 09:41:18  2013-05-02 09:51:21.000   -47.0
  2013-05-02 09:47:27  2013-05-02 09:49:44.000     7.0
  2013-05-02 09:48:43  2013-05-02 10:11:45.000    57.0
  2013-05-02 09:51:35  2013-05-02 10:09:39.000    53.0
  2013-05-02 09:56:33  2013-05-02 10:07:47.000    13.0
  2013-05-02 10:00:04  2013-05-02 10:00:54.000     3.0
  2013-05-02 10:01:49  2013-05-02 10:08:12.000    34.0
  2013-05-02 10:06:09  2013-05-02 10:07:54.000    13.0
  2013-05-02 10:09:17  2013-05-02 10:10:14.000    53.0
  2013-05-02 10:09:38  2013-05-02 10:10:12.000    34.0
  2013-05-02 10:10:02  2013-05-02 10:10:33.000    10.0
  2013-05-02 10:11:31  2013-05-02 10:19:16.000    10.0
  2013-05-02 10:17:28  2013-05-02 10:56:42.000    11.0
  2013-05-02 10:19:29  2013-05-02 10:48:26.000    24.0
  2013-05-02 10:24:53  2013-05-02 10:34:49.000   -29.0
  2013-05-02 10:31:05  2013-05-02 10:32:23.000   -12.0
  2013-05-02 10:33:02  2013-05-02 10:37:03.000    15.0
  2013-05-02 10:37:52  2013-05-02 10:45:15.000    20.0
  ...                                      ...     ...
  2015-12-30 15:30:09  2015-12-30 15:35:30.000    14.0
  2015-12-30 15:32:33  2015-12-30 15:33:17.000     7.0
  2015-12-30 15:34:15  2015-12-30 15:39:01.000     6.0
  2015-12-30 15:34:21  2015-12-30 15:41:55.000     7.0
  2015-12-30 15:34:42  2015-12-30 15:39:18.000     3.0
  2015-12-30 15:34:48  2015-12-30 15:54:54.000    12.0
  2015-12-30 15:34:51  2015-12-30 15:55:00.000    15.0
  2015-12-30 15:35:42  2015-12-30 15:41:57.000    10.0
  2015-12-30 15:37:27  2015-12-30 15:43:50.000     8.0
  2015-12-30 15:37:54  2015-12-30 15:53:51.000     8.0
  2015-12-30 15:39:14  2015-12-30 15:54:27.000     9.0
  2015-12-30 15:39:24  2015-12-30 15:54:06.000     4.0
  2015-12-30 15:40:09  2015-12-30 15:42:09.000    10.0
  2015-12-30 15:40:42  2015-12-30 15:44:37.000     8.0
  2015-12-30 15:45:11  2015-12-30 15:52:37.000    10.0
  2015-12-30 15:45:33  2015-12-30 15:48:34.000    -8.0
  2015-12-30 15:45:47  2015-12-30 15:55:54.000    18.0
  2015-12-30 15:46:34  2015-12-30 15:53:47.000     8.0
  2015-12-30 15:48:11  2015-12-30 15:52:49.000    10.0
  2015-12-30 15:48:19  2015-12-30 15:49:12.000     4.0
  2015-12-30 15:50:32  2015-12-30 15:51:28.000    10.0
  2015-12-30 15:52:10  2015-12-30 15:52:49.000     4.0
  2015-12-30 15:52:42  2015-12-30 15:54:55.000     9.0
  2015-12-30 15:52:57  2015-12-30 15:54:49.000    10.0
  2015-12-30 15:53:05  2015-12-30 15:54:53.000     9.0
  2015-12-30 15:56:14  2015-12-30 15:59:49.000   -37.0
  2015-12-30 15:56:51  2015-12-30 15:59:45.000   -35.0
  2015-12-30 15:57:40  2015-12-30 16:00:09.000   -20.0
  2015-12-30 15:59:20  2015-12-30 16:00:25.000    11.0
  2015-12-30 16:08:16  2015-12-30 16:13:51.000     7.0

  [185164 rows x 8 columns]),
 (2,                     account product  buy_sell  take_price  \
  2013-05-02 09:15:05   A0002   HSIK3         2     22565.0
  2013-05-02 09:15:12   A0003   HSIK3         2     22560.0
  2013-05-02 09:15:53   A0004   HSIK3         2     22554.0
  2013-05-02 09:16:21   A0001   HSIK3         2     22524.0
  2013-05-02 09:19:49   A0008   HSIK3         2     22527.0
  2013-05-02 09:22:39   A0004   HSIK3         2     22513.0
  2013-05-02 09:22:47   A0009   HSIK3         2     22515.0
  2013-05-02 09:24:09   A0009   HSIK3         2     22552.0
  2013-05-02 09:24:45   A0011   HSIK3         2     22543.0
  2013-05-02 09:25:00   A0012   HSIK3         2     22549.0
  2013-05-02 09:29:04   A0004   HSIK3         2     22538.0
  2013-05-02 09:30:16   A0009   HSIK3         2     22514.0
  2013-05-02 09:31:06   A0003   HSIK3         2     22510.0
  2013-05-02 09:31:25   A0004   HSIK3         2     22508.0
  2013-05-02 09:32:51   A0004   HSIK3         2     22451.0
  2013-05-02 09:36:08   A0001   HSIK3         2     22457.0
  2013-05-02 09:38:03   A0002   HSIK3         2     22476.0
  2013-05-02 09:39:46   A0001   HSIK3         2     22481.0
  2013-05-02 09:41:28   A0003   HSIK3         2     22486.0
  2013-05-02 09:42:11   A0008   HSIK3         2     22493.0
  2013-05-02 09:42:39   A0004   HSIK3         2     22477.0
  2013-05-02 09:45:21   A0004   HSIK3         2     22465.0
  2013-05-02 09:45:27   A0006   HSIK3         2     22464.0
  2013-05-02 09:46:50   A0014   HSIK3         2     22466.0
  2013-05-02 09:50:27   A0015   HSIK3         2     22452.0
  2013-05-02 09:51:25   A0004   HSIK3         2     22440.0
  2013-05-02 10:10:13   A0014   HSIK3         2     22540.0
  2013-05-02 10:10:22   A0018   HSIK3         2     22539.0
  2013-05-02 10:12:04   A0008   HSIK3         2     22522.0
  2013-05-02 10:12:07   A0019   HSIK3         2     22523.0
  ...                     ...     ...       ...         ...
  2015-12-30 14:40:24   A0019   HSIF6         2     21893.0
  2015-12-30 14:41:30   A0577   HSIF6         2     21898.0
  2015-12-30 14:51:05   A1583   HSIF6         2     21914.0
  2015-12-30 14:51:22   A0481   HSIF6         2     21921.0
  2015-12-30 14:54:03   A0025   HSIF6         2     21928.0
  2015-12-30 14:54:45   A0411   HSIF6         2     21925.0
  2015-12-30 14:57:24   A1583   HSIF6         2     21928.0
  2015-12-30 15:00:54   A0903   HSIF6         2     21923.0
  2015-12-30 15:01:16   A0335   HSIF6         2     21922.0
  2015-12-30 15:02:05   A1207   HSIF6         2     21917.0
  2015-12-30 15:05:20   A1548   HSIF6         2     21914.0
  2015-12-30 15:05:46   A0903   HSIF6         2     21908.0
  2015-12-30 15:05:57   A0481   HSIF6         2     21906.0
  2015-12-30 15:06:09   A1535   HSIF6         2     21906.0
  2015-12-30 15:12:57   A0775   HSIF6         2     21905.0
  2015-12-30 15:14:35   A1207   HSIF6         2     21903.0
  2015-12-30 15:19:06   A1040   HSIF6         2     21896.0
  2015-12-30 15:19:49   A0481   HSIF6         2     21890.0
  2015-12-30 15:19:50   A1130   HSIF6         2     21889.0
  2015-12-30 15:20:16   A1516   HSIF6         2     21888.0
  2015-12-30 15:20:31   A1058   HSIF6         2     21893.0
  2015-12-30 15:21:58   A1600   HSIF6         2     21898.0
  2015-12-30 15:39:08   A0775   HSIF6         2     21912.0
  2015-12-30 15:40:58   A1207   HSIF6         2     21910.0
  2015-12-30 15:44:52   A1583   HSIF6         2     21912.0
  2015-12-30 15:51:13   A1381   HSIF6         2     21905.0
  2015-12-30 15:58:29   A1256   HSIF6         2     21924.0
  2015-12-30 15:58:41   A0305   HSIF6         2     21921.0
  2015-12-30 15:59:19   A0231   HSIF6         2     21908.0
  2015-12-30 15:59:28   A0305   HSIF6         2     21912.0

                                     take_time  close_price  \
  2013-05-02 09:15:05  2013-05-02 09:15:05.000      22461.0
  2013-05-02 09:15:12  2013-05-02 09:15:12.000      22549.0
  2013-05-02 09:15:53  2013-05-02 09:15:53.000      22529.0
  2013-05-02 09:16:21  2013-05-02 09:16:21.000      22420.0
  2013-05-02 09:19:49  2013-05-02 09:19:49.000      22421.0
  2013-05-02 09:22:39  2013-05-02 09:22:39.000      22555.0
  2013-05-02 09:22:47  2013-05-02 09:22:47.000      22562.0
  2013-05-02 09:24:09  2013-05-02 09:24:09.000      22539.0
  2013-05-02 09:24:45  2013-05-02 09:24:45.000      22540.0
  2013-05-02 09:25:00  2013-05-02 09:25:00.000      22445.0
  2013-05-02 09:29:04  2013-05-02 09:29:04.000      22528.0
  2013-05-02 09:30:16  2013-05-02 09:30:16.000      22443.0
  2013-05-02 09:31:06  2013-05-02 09:31:06.000      22452.0
  2013-05-02 09:31:25  2013-05-02 09:31:25.000      22499.0
  2013-05-02 09:32:51  2013-05-02 09:32:51.000      22434.0
  2013-05-02 09:36:08  2013-05-02 09:36:08.000      22451.0
  2013-05-02 09:38:03  2013-05-02 09:38:03.000      22461.0
  2013-05-02 09:39:46  2013-05-02 09:39:46.000      22453.0
  2013-05-02 09:41:28  2013-05-02 09:41:28.000      22479.0
  2013-05-02 09:42:11  2013-05-02 09:42:11.000      22456.0
  2013-05-02 09:42:39  2013-05-02 09:42:39.000      22472.0
  2013-05-02 09:45:21  2013-05-02 09:45:21.000      22459.0
  2013-05-02 09:45:27  2013-05-02 09:45:27.000      22453.0
  2013-05-02 09:46:50  2013-05-02 09:46:50.000      22462.0
  2013-05-02 09:50:27  2013-05-02 09:50:27.000      22471.0
  2013-05-02 09:51:25  2013-05-02 09:51:25.000      22469.0
  2013-05-02 10:10:13  2013-05-02 10:10:13.000      22507.0
  2013-05-02 10:10:22  2013-05-02 10:10:22.000      22512.0
  2013-05-02 10:12:04  2013-05-02 10:12:04.000      22513.0
  2013-05-02 10:12:07  2013-05-02 10:12:07.000      22516.0
  ...                                      ...          ...
  2015-12-30 14:40:24  2015-12-30 14:40:24.000      21900.0
  2015-12-30 14:41:30  2015-12-30 14:41:30.000      21896.0
  2015-12-30 14:51:05  2015-12-30 14:51:05.000      21897.0
  2015-12-30 14:51:22  2015-12-30 14:51:22.000      21907.0
  2015-12-30 14:54:03  2015-12-30 14:54:03.000      21903.0
  2015-12-30 14:54:45  2015-12-30 14:54:45.000      21917.0
  2015-12-30 14:57:24  2015-12-30 14:57:24.000      21918.0
  2015-12-30 15:00:54  2015-12-30 15:00:54.000      21908.0
  2015-12-30 15:01:16  2015-12-30 15:01:16.000      21912.0
  2015-12-30 15:02:05  2015-12-30 15:02:05.000      21904.0
  2015-12-30 15:05:20  2015-12-30 15:05:20.000      21899.0
  2015-12-30 15:05:46  2015-12-30 15:05:46.000      21897.0
  2015-12-30 15:05:57  2015-12-30 15:05:57.000      21900.0
  2015-12-30 15:06:09  2015-12-30 15:06:09.000      21898.0
  2015-12-30 15:12:57  2015-12-30 15:12:57.000      21898.0
  2015-12-30 15:14:35  2015-12-30 15:14:35.000      21890.0
  2015-12-30 15:19:06  2015-12-30 15:19:06.000      21892.0
  2015-12-30 15:19:49  2015-12-30 15:19:49.000      21932.0
  2015-12-30 15:19:50  2015-12-30 15:19:50.000      21913.0
  2015-12-30 15:20:16  2015-12-30 15:20:16.000      21916.0
  2015-12-30 15:20:31  2015-12-30 15:20:31.000      21914.0
  2015-12-30 15:21:58  2015-12-30 15:21:58.000      21914.0
  2015-12-30 15:39:08  2015-12-30 15:39:08.000      21905.0
  2015-12-30 15:40:58  2015-12-30 15:40:58.000      21902.0
  2015-12-30 15:44:52  2015-12-30 15:44:52.000      21922.0
  2015-12-30 15:51:13  2015-12-30 15:51:13.000      21910.0
  2015-12-30 15:58:29  2015-12-30 15:58:29.000      21916.0
  2015-12-30 15:58:41  2015-12-30 15:58:41.000      21910.0
  2015-12-30 15:59:19  2015-12-30 15:59:19.000      21902.0
  2015-12-30 15:59:28  2015-12-30 15:59:28.000      21901.0

                                    close_time  profit
  2013-05-02 09:15:05  2013-05-02 09:32:49.000  -104.0
  2013-05-02 09:15:12  2013-05-02 09:27:56.000   -11.0
  2013-05-02 09:15:53  2013-05-02 09:16:26.000   -25.0
  2013-05-02 09:16:21  2013-05-02 09:35:12.000  -104.0
  2013-05-02 09:19:49  2013-05-02 09:35:15.000  -106.0
  2013-05-02 09:22:39  2013-05-02 09:23:16.000    42.0
  2013-05-02 09:22:47  2013-05-02 09:23:23.000    47.0
  2013-05-02 09:24:09  2013-05-02 09:24:40.000   -13.0
  2013-05-02 09:24:45  2013-05-02 09:29:48.000    -3.0
  2013-05-02 09:25:00  2013-05-02 09:33:02.000  -104.0
  2013-05-02 09:29:04  2013-05-02 09:30:47.000   -10.0
  2013-05-02 09:30:16  2013-05-02 09:33:16.000   -71.0
  2013-05-02 09:31:06  2013-05-02 09:32:57.000   -58.0
  2013-05-02 09:31:25  2013-05-02 09:32:00.000    -9.0
  2013-05-02 09:32:51  2013-05-02 09:33:35.000   -17.0
  2013-05-02 09:36:08  2013-05-02 09:48:12.000    -6.0
  2013-05-02 09:38:03  2013-05-02 09:38:38.000   -15.0
  2013-05-02 09:39:46  2013-05-02 09:46:17.000   -28.0
  2013-05-02 09:41:28  2013-05-02 09:44:43.000    -7.0
  2013-05-02 09:42:11  2013-05-02 09:48:27.000   -37.0
  2013-05-02 09:42:39  2013-05-02 09:43:13.000    -5.0
  2013-05-02 09:45:21  2013-05-02 09:46:44.000    -6.0
  2013-05-02 09:45:27  2013-05-02 09:46:12.000   -11.0
  2013-05-02 09:46:50  2013-05-02 09:56:45.000    -4.0
  2013-05-02 09:50:27  2013-05-02 09:52:43.000    19.0
  2013-05-02 09:51:25  2013-05-02 09:52:52.000    29.0
  2013-05-02 10:10:13  2013-05-02 10:20:42.000   -33.0
  2013-05-02 10:10:22  2013-05-02 10:11:49.000   -27.0
  2013-05-02 10:12:04  2013-05-02 10:20:02.000    -9.0

In [41]:
df2 = df[df.buy_sell == 2]

In [51]:
df

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000,-104.0
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000,-11.0
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000,-25.0
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000,-27.0
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000,-104.0
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000,20.0
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000,-106.0
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000,42.0
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000,47.0
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000,15.0
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000,-13.0
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000,-3.0
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000,-104.0
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000,-47.0
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000,-10.0
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000,-71.0
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000,-58.0
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000,-9.0
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000,-17.0
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000,48.0
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000,34.0
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000,-6.0
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000,9.0
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000,46.0
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000,-15.0
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000,-28.0
...,...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000,8.0
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000,8.0
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000,-7.0
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000,9.0
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000,4.0
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000,10.0
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000,8.0
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000,-8.0
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000,10.0
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000,10.0
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000,-8.0
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000,18.0
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000,8.0
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000,10.0
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000,4.0
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000,10.0
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000,5.0
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000,4.0
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000,9.0
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000,10.0
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000,9.0
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000,-37.0
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000,-35.0
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000,-20.0
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000,-8.0
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000,-11.0
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000,-6.0
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000,11.0
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000,-11.0
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000,7.0

In [63]:
for x in df[df.buy_sell ==1]:
    df.profit = df.profit*(-1)