In [1]:
import pandas as pd
df = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\Work\\data\\trade_detail_001810115002.h5')
df

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
0,C1709,10397523,13:31:28,1,1670.0,5,83500.0,0,3.05,0.0,2017-07-17
1,C1709,10424539,13:42:18,1,1669.0,3,50070.0,0,1.83,0.0,2017-07-17
2,MA709,01736313,13:47:54,0,2502.0,1,25020.0,0,2.04,0.0,2017-07-17
3,MA709,01736315,13:47:54,0,2502.0,2,50040.0,0,4.08,0.0,2017-07-17
4,MA709,01743943,13:49:44,0,2501.0,2,50020.0,0,4.08,0.0,2017-07-17
5,C1709,10438422,13:50:38,0,1673.0,8,133840.0,1,4.88,-270.0,2017-07-17
6,L1709,30479260,13:52:29,0,9200.0,2,92000.0,0,4.08,0.0,2017-07-17
7,RU1709,01716175,13:53:04,0,13560.0,1,135600.0,0,6.22,0.0,2017-07-17
8,MA709,01772932,13:57:01,0,2501.0,3,75030.0,0,6.12,0.0,2017-07-17
9,MA709,01791156,14:00:51,1,2496.0,1,24960.0,1,6.12,-60.0,2017-07-17
10,RU1709,01769795,14:05:35,1,13515.0,1,135150.0,1,24.81,-450.0,2017-07-17
11,MA709,01822370,14:06:07,1,2495.0,2,49900.0,1,12.24,-140.0,2017-07-17
12,MA709,01822756,14:06:13,1,2495.0,2,49900.0,1,12.24,-120.0,2017-07-17
13,L1709,30498397,14:07:10,1,9190.0,1,45950.0,1,2.04,-50.0,2017-07-17
14,MA709,01838051,14:08:52,0,2496.0,1,24960.0,0,2.04,0.0,2017-07-17
15,MA709,01838053,14:08:52,0,2496.0,3,74880.0,0,6.12,0.0,2017-07-17
16,PP1709,30503055,14:11:09,0,8163.0,1,40815.0,0,5.00,0.0,2017-07-17
17,PP1709,30503589,14:11:41,0,8164.0,1,40820.0,0,5.00,0.0,2017-07-17
18,MA709,01870076,14:14:14,0,2496.0,3,74880.0,0,6.12,0.0,2017-07-17
19,L1709,30507395,14:14:50,0,9215.0,1,46075.0,0,2.04,0.0,2017-07-17
20,MA709,01895570,14:18:33,1,2491.0,3,74730.0,1,18.36,-300.0,2017-07-17
21,MA709,01895571,14:18:33,1,2491.0,1,24910.0,1,6.12,-50.0,2017-07-17
22,MA709,01895572,14:18:33,1,2491.0,3,74730.0,1,18.36,-150.0,2017-07-17
23,MA709,01895573,14:18:33,1,2491.0,1,24910.0,1,6.12,-50.0,2017-07-17
24,L1709,30516778,14:19:51,1,9195.0,2,91950.0,1,4.08,-125.0,2017-07-17
25,MA709,01919216,14:21:37,0,2492.0,2,49840.0,0,4.08,0.0,2017-07-17
26,MA709,01919218,14:21:37,0,2492.0,1,24920.0,0,2.04,0.0,2017-07-17
27,MA709,01936405,14:23:20,0,2488.0,1,24880.0,0,2.04,0.0,2017-07-17
28,PP1709,30523818,14:24:09,0,8161.0,1,40805.0,0,4.99,0.0,2017-07-17
29,MA709,01953813,14:25:32,0,2488.0,1,24880.0,0,2.04,0.0,2017-07-17
...,...,...,...,...,...,...,...,...,...,...,...
369,M1801,10216700,10:45:26,0,2779.0,1,27790.0,0,1.53,0.0,2017-10-09
370,M1801,10216964,10:45:42,0,2779.0,1,27790.0,0,1.53,0.0,2017-10-09
371,RM801,00687851,10:49:46,0,2211.0,2,44220.0,0,3.06,0.0,2017-10-09
372,RM801,00688894,10:50:03,0,2210.0,1,22100.0,0,1.53,0.0,2017-10-09
373,MA801,00760163,11:12:35,1,2704.0,3,81120.0,0,6.12,0.0,2017-10-09
374,JD1801,10249519,11:19:37,1,4160.0,1,41600.0,1,6.36,-10.0,2017-10-09
375,MA801,00829122,13:31:01,1,2698.0,1,26980.0,0,2.04,0.0,2017-10-09
376,RM801,00851014,13:35:16,1,2208.0,1,22080.0,1,3.06,-40.0,2017-10-09
377,RM801,00851016,13:35:16,1,2208.0,1,22080.0,1,3.06,-70.0,2017-10-09
378,RM801,00874733,13:38:34,0,2209.0,2,44180.0,0,3.06,0.0,2017-10-09
379,RM801,00902947,13:42:37,0,2210.0,2,44200.0,0,3.06,0.0,2017-10-09
380,M1801,10270261,13:45:44,0,2780.0,3,83400.0,0,4.59,0.0,2017-10-09
381,MA801,00915851,13:46:21,0,2702.0,2,54040.0,1,12.24,40.0,2017-10-09
382,MA801,00921502,13:48:08,0,2704.0,1,27040.0,1,6.12,0.0,2017-10-09
383,MA801,00926299,13:49:13,0,2707.0,1,27070.0,1,6.12,-90.0,2017-10-09
384,JD1801,10279484,13:58:04,0,4174.0,2,83480.0,0,12.77,0.0,2017-10-09
385,JD1801,10283058,14:02:26,0,4187.0,1,41870.0,0,6.41,0.0,2017-10-09
386,JD1801,10285640,14:04:00,0,4192.0,1,41920.0,0,6.41,0.0,2017-10-09
387,MA801,01028175,14:14:42,1,2700.0,3,81000.0,0,6.12,0.0,2017-10-09
388,RM801,01033495,14:16:16,0,2211.0,1,22110.0,0,1.53,0.0,2017-10-09
389,MA801,01038083,14:17:36,0,2704.0,1,27040.0,1,6.12,-40.0,2017-10-09
390,MA801,01038984,14:17:50,0,2703.0,1,27030.0,1,6.12,-30.0,2017-10-09
391,MA801,01039350,14:17:56,0,2702.0,1,27020.0,1,6.12,-20.0,2017-10-09
392,JD1801,10296207,14:20:00,0,4190.0,1,41900.0,0,6.41,0.0,2017-10-09
393,TA801,01087862,14:33:09,0,5118.0,1,25590.0,1,0.00,270.0,2017-10-09
394,TA801,01087863,14:33:09,0,5118.0,1,25590.0,1,0.00,290.0,2017-10-09
395,RM801,01205970,14:59:21,1,2212.0,1,22120.0,1,3.06,-30.0,2017-10-09
396,RM801,01205971,14:59:21,1,2212.0,1,22120.0,1,3.06,-50.0,2017-10-09
397,RM801,01205972,14:59:21,1,2212.0,1,22120.0,1,3.06,-100.0,2017-10-09
398,M1801,10334675,14:59:50,1,2782.0,3,83460.0,1,4.59,60.0,2017-10-09

In [2]:
df1 = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\Work\\data\\trade_detail_007738030022.h5')

In [3]:
df1

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
0,M1705,10545298,10:05:32,0,2909.0,1,29090.0,0,1.65,0.0,2016-12-05
1,M1705,10548973,10:05:59,1,2912.0,1,29120.0,1,1.65,30.0,2016-12-05
2,RM705,01513316,10:31:32,0,2441.0,5,122050.0,0,16.50,0.0,2016-12-05
3,M1705,10612069,10:42:27,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
4,M1705,10612494,10:42:45,0,2913.0,1,29130.0,0,1.65,0.0,2016-12-05
5,M1705,10613334,10:43:10,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
6,M1705,10659448,10:59:45,1,2914.0,2,58280.0,1,3.30,30.0,2016-12-05
7,M1705,10659449,10:59:45,1,2914.0,1,29140.0,1,1.65,20.0,2016-12-05
8,RM705,01630287,11:01:03,1,2449.0,2,48980.0,1,13.20,160.0,2016-12-05
9,RM705,01630519,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
10,RM705,01630521,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
11,RM705,01639663,11:03:24,1,2446.0,1,24460.0,1,6.60,50.0,2016-12-05
12,RM705,01673866,11:10:48,0,2441.0,1,24410.0,0,3.30,0.0,2016-12-05
13,P1705,10706475,11:22:25,0,6332.0,1,63320.0,0,2.75,0.0,2016-12-05
14,RM705,01718548,11:27:20,0,2448.0,1,24480.0,0,3.30,0.0,2016-12-05
15,P1705,10717070,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
16,P1705,10717084,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
17,P1705,10719102,13:30:24,0,6346.0,1,63460.0,0,2.75,0.0,2016-12-05
18,P1705,10719103,13:30:24,0,6346.0,1,63460.0,0,2.75,0.0,2016-12-05
19,TA705,01754694,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
20,TA705,01754696,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
21,TA705,01754698,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
22,TA705,01759740,13:32:09,0,5280.0,3,79200.0,0,9.90,0.0,2016-12-05
23,RM705,01802209,13:39:02,0,2450.0,1,24500.0,0,3.30,0.0,2016-12-05
24,Y1705,10777410,13:48:00,0,7192.0,2,143840.0,0,5.50,0.0,2016-12-05
25,TA705,01869120,13:48:16,1,5268.0,1,26340.0,1,0.00,-60.0,2016-12-05
26,TA705,01871372,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
27,TA705,01871373,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
28,Y1705,10783183,13:50:26,1,7178.0,2,143560.0,1,5.50,-280.0,2016-12-05
29,RM705,01883174,13:50:45,1,2447.0,1,24470.0,1,6.60,60.0,2016-12-05
...,...,...,...,...,...,...,...,...,...,...,...
998,ZN1709,00005154,21:00:03,1,22830.0,1,114150.0,1,3.30,750.0,2017-07-21
999,ZN1709,00005611,21:00:04,1,22825.0,1,114125.0,1,3.30,725.0,2017-07-21
1000,RM709,00050722,21:01:55,0,2354.0,1,23540.0,0,2.21,0.0,2017-07-21
1001,A1709,10035131,21:05:52,0,3814.0,2,76280.0,0,4.40,0.0,2017-07-21
1002,A1801,10055619,21:11:18,0,3873.0,2,77460.0,0,4.40,0.0,2017-07-21
1003,A1801,10067251,21:17:36,0,3878.0,1,38780.0,0,2.20,0.0,2017-07-21
1004,A1801,10075977,21:23:53,0,3877.0,1,38770.0,0,2.20,0.0,2017-07-21
1005,A1801,10080129,21:26:05,0,3874.0,1,38740.0,0,2.20,0.0,2017-07-21
1006,RM709,00356435,21:36:40,0,2355.0,1,23550.0,0,2.21,0.0,2017-07-21
1007,A1709,10100943,21:42:56,1,3810.0,2,76200.0,1,4.40,-80.0,2017-07-21
1008,A1801,10101370,21:43:19,0,3873.0,1,38730.0,0,2.20,0.0,2017-07-21
1009,A1801,10115134,21:52:01,0,3872.0,1,38720.0,0,2.20,0.0,2017-07-21
1010,A1801,10189159,23:11:35,1,3868.0,3,116040.0,1,6.60,-200.0,2017-07-21
1011,A1801,10189160,23:11:35,1,3868.0,1,38680.0,1,2.20,-90.0,2017-07-21
1012,A1801,10189161,23:11:35,1,3868.0,1,38680.0,1,2.20,-60.0,2017-07-21
1013,Y1801,10190180,23:11:49,0,6288.0,1,62880.0,0,2.75,0.0,2017-07-21
1014,A1801,10192752,23:12:22,1,3862.0,1,38620.0,1,2.20,-110.0,2017-07-21
1015,A1801,10192753,23:12:22,1,3862.0,1,38620.0,1,2.20,-100.0,2017-07-21
1016,RM709,00735317,23:13:46,0,2352.0,1,23520.0,0,2.21,0.0,2017-07-21
1017,RM709,00735881,23:13:52,0,2352.0,1,23520.0,0,2.21,0.0,2017-07-21
1018,P1801,10201205,23:15:17,0,5308.0,1,53080.0,0,2.75,0.0,2017-07-21
0,M1801,10000988,21:00:00,1,2881.0,1,28810.0,1,1.65,-80.0,2017-07-24
1,M1801,10000989,21:00:00,1,2881.0,1,28810.0,1,1.65,-80.0,2017-07-24
2,M1801,10000990,21:00:00,1,2881.0,1,28810.0,1,1.65,-80.0,2017-07-24
3,P1801,10067430,22:00:21,1,5294.0,2,105880.0,1,5.50,20.0,2017-07-24
4,A1801,10090697,22:22:01,1,3862.0,1,38620.0,1,2.20,0.0,2017-07-24
5,A1801,10090698,22:22:01,1,3862.0,1,38620.0,1,2.20,0.0,2017-07-24
6,A1801,10090699,22:22:01,1,3862.0,1,38620.0,1,2.20,-40.0,2017-07-24
7,A1801,10091405,22:22:18,1,3859.0,4,154360.0,1,8.80,-290.0,2017-07-24
8,P1801,10100807,22:24:39,1,5276.0,3,158280.0,1,8.25,-860.0,2017-07-24

In [4]:
df2 = df1.append(df, ignore_index=True)
df2

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
0,M1705,10545298,10:05:32,0,2909.0,1,29090.0,0,1.65,0.0,2016-12-05
1,M1705,10548973,10:05:59,1,2912.0,1,29120.0,1,1.65,30.0,2016-12-05
2,RM705,01513316,10:31:32,0,2441.0,5,122050.0,0,16.50,0.0,2016-12-05
3,M1705,10612069,10:42:27,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
4,M1705,10612494,10:42:45,0,2913.0,1,29130.0,0,1.65,0.0,2016-12-05
5,M1705,10613334,10:43:10,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
6,M1705,10659448,10:59:45,1,2914.0,2,58280.0,1,3.30,30.0,2016-12-05
7,M1705,10659449,10:59:45,1,2914.0,1,29140.0,1,1.65,20.0,2016-12-05
8,RM705,01630287,11:01:03,1,2449.0,2,48980.0,1,13.20,160.0,2016-12-05
9,RM705,01630519,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
10,RM705,01630521,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
11,RM705,01639663,11:03:24,1,2446.0,1,24460.0,1,6.60,50.0,2016-12-05
12,RM705,01673866,11:10:48,0,2441.0,1,24410.0,0,3.30,0.0,2016-12-05
13,P1705,10706475,11:22:25,0,6332.0,1,63320.0,0,2.75,0.0,2016-12-05
14,RM705,01718548,11:27:20,0,2448.0,1,24480.0,0,3.30,0.0,2016-12-05
15,P1705,10717070,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
16,P1705,10717084,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
17,P1705,10719102,13:30:24,0,6346.0,1,63460.0,0,2.75,0.0,2016-12-05
18,P1705,10719103,13:30:24,0,6346.0,1,63460.0,0,2.75,0.0,2016-12-05
19,TA705,01754694,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
20,TA705,01754696,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
21,TA705,01754698,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
22,TA705,01759740,13:32:09,0,5280.0,3,79200.0,0,9.90,0.0,2016-12-05
23,RM705,01802209,13:39:02,0,2450.0,1,24500.0,0,3.30,0.0,2016-12-05
24,Y1705,10777410,13:48:00,0,7192.0,2,143840.0,0,5.50,0.0,2016-12-05
25,TA705,01869120,13:48:16,1,5268.0,1,26340.0,1,0.00,-60.0,2016-12-05
26,TA705,01871372,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
27,TA705,01871373,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
28,Y1705,10783183,13:50:26,1,7178.0,2,143560.0,1,5.50,-280.0,2016-12-05
29,RM705,01883174,13:50:45,1,2447.0,1,24470.0,1,6.60,60.0,2016-12-05
...,...,...,...,...,...,...,...,...,...,...,...
49308,M1801,10216700,10:45:26,0,2779.0,1,27790.0,0,1.53,0.0,2017-10-09
49309,M1801,10216964,10:45:42,0,2779.0,1,27790.0,0,1.53,0.0,2017-10-09
49310,RM801,00687851,10:49:46,0,2211.0,2,44220.0,0,3.06,0.0,2017-10-09
49311,RM801,00688894,10:50:03,0,2210.0,1,22100.0,0,1.53,0.0,2017-10-09
49312,MA801,00760163,11:12:35,1,2704.0,3,81120.0,0,6.12,0.0,2017-10-09
49313,JD1801,10249519,11:19:37,1,4160.0,1,41600.0,1,6.36,-10.0,2017-10-09
49314,MA801,00829122,13:31:01,1,2698.0,1,26980.0,0,2.04,0.0,2017-10-09
49315,RM801,00851014,13:35:16,1,2208.0,1,22080.0,1,3.06,-40.0,2017-10-09
49316,RM801,00851016,13:35:16,1,2208.0,1,22080.0,1,3.06,-70.0,2017-10-09
49317,RM801,00874733,13:38:34,0,2209.0,2,44180.0,0,3.06,0.0,2017-10-09
49318,RM801,00902947,13:42:37,0,2210.0,2,44200.0,0,3.06,0.0,2017-10-09
49319,M1801,10270261,13:45:44,0,2780.0,3,83400.0,0,4.59,0.0,2017-10-09
49320,MA801,00915851,13:46:21,0,2702.0,2,54040.0,1,12.24,40.0,2017-10-09
49321,MA801,00921502,13:48:08,0,2704.0,1,27040.0,1,6.12,0.0,2017-10-09
49322,MA801,00926299,13:49:13,0,2707.0,1,27070.0,1,6.12,-90.0,2017-10-09
49323,JD1801,10279484,13:58:04,0,4174.0,2,83480.0,0,12.77,0.0,2017-10-09
49324,JD1801,10283058,14:02:26,0,4187.0,1,41870.0,0,6.41,0.0,2017-10-09
49325,JD1801,10285640,14:04:00,0,4192.0,1,41920.0,0,6.41,0.0,2017-10-09
49326,MA801,01028175,14:14:42,1,2700.0,3,81000.0,0,6.12,0.0,2017-10-09
49327,RM801,01033495,14:16:16,0,2211.0,1,22110.0,0,1.53,0.0,2017-10-09
49328,MA801,01038083,14:17:36,0,2704.0,1,27040.0,1,6.12,-40.0,2017-10-09
49329,MA801,01038984,14:17:50,0,2703.0,1,27030.0,1,6.12,-30.0,2017-10-09
49330,MA801,01039350,14:17:56,0,2702.0,1,27020.0,1,6.12,-20.0,2017-10-09
49331,JD1801,10296207,14:20:00,0,4190.0,1,41900.0,0,6.41,0.0,2017-10-09
49332,TA801,01087862,14:33:09,0,5118.0,1,25590.0,1,0.00,270.0,2017-10-09
49333,TA801,01087863,14:33:09,0,5118.0,1,25590.0,1,0.00,290.0,2017-10-09
49334,RM801,01205970,14:59:21,1,2212.0,1,22120.0,1,3.06,-30.0,2017-10-09
49335,RM801,01205971,14:59:21,1,2212.0,1,22120.0,1,3.06,-50.0,2017-10-09
49336,RM801,01205972,14:59:21,1,2212.0,1,22120.0,1,3.06,-100.0,2017-10-09
49337,M1801,10334675,14:59:50,1,2782.0,3,83460.0,1,4.59,60.0,2017-10-09

In [5]:
df2.to_hdf('tradeaccount_merged.h5','trade')

In [8]:
df3 = df2[df2.open_close ==1]
df3

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
1,M1705,10548973,10:05:59,1,2912.0,1,29120.0,1,1.65,30.0,2016-12-05
6,M1705,10659448,10:59:45,1,2914.0,2,58280.0,1,3.30,30.0,2016-12-05
7,M1705,10659449,10:59:45,1,2914.0,1,29140.0,1,1.65,20.0,2016-12-05
8,RM705,01630287,11:01:03,1,2449.0,2,48980.0,1,13.20,160.0,2016-12-05
9,RM705,01630519,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
10,RM705,01630521,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
11,RM705,01639663,11:03:24,1,2446.0,1,24460.0,1,6.60,50.0,2016-12-05
25,TA705,01869120,13:48:16,1,5268.0,1,26340.0,1,0.00,-60.0,2016-12-05
26,TA705,01871372,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
27,TA705,01871373,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
28,Y1705,10783183,13:50:26,1,7178.0,2,143560.0,1,5.50,-280.0,2016-12-05
29,RM705,01883174,13:50:45,1,2447.0,1,24470.0,1,6.60,60.0,2016-12-05
30,RM705,01883175,13:50:45,1,2447.0,1,24470.0,1,6.60,-10.0,2016-12-05
31,RM705,01883742,13:50:48,1,2445.0,1,24450.0,1,6.60,-50.0,2016-12-05
33,TA705,01900561,13:54:20,1,5264.0,3,78960.0,1,0.00,-240.0,2016-12-05
34,P1705,10794368,13:54:28,1,6330.0,2,126600.0,1,5.50,-200.0,2016-12-05
35,P1705,10794420,13:54:28,1,6330.0,2,126600.0,1,5.50,-340.0,2016-12-05
40,RM705,01980780,14:10:58,1,2446.0,2,48920.0,1,13.20,-80.0,2016-12-05
42,P1705,10864916,14:12:32,1,6358.0,2,127160.0,1,5.50,260.0,2016-12-05
43,CF705,01987493,14:12:51,0,15855.0,1,79275.0,1,6.60,-100.0,2016-12-05
44,P1705,10868540,14:13:30,1,6354.0,3,190620.0,1,8.25,300.0,2016-12-05
49,RM705,02010803,14:17:48,0,2449.0,1,24490.0,1,6.60,-20.0,2016-12-05
50,RM705,02010805,14:17:48,0,2449.0,1,24490.0,1,6.60,-40.0,2016-12-05
51,RM705,02010807,14:17:48,0,2449.0,1,24490.0,1,6.60,-40.0,2016-12-05
52,RM705,02020407,14:21:09,0,2450.0,1,24500.0,1,6.60,-40.0,2016-12-05
53,RM705,02020411,14:21:09,0,2450.0,1,24500.0,1,6.60,-40.0,2016-12-05
55,M1705,10909331,14:28:51,1,2913.0,1,29130.0,1,1.65,-30.0,2016-12-05
60,CS1705,10922581,14:35:38,0,1929.0,2,38580.0,1,3.30,-20.0,2016-12-05
65,M1705,10941143,14:45:18,0,2919.0,2,58380.0,1,3.30,-110.0,2016-12-05
67,M1705,10987192,14:59:29,0,2914.0,1,29140.0,1,1.65,20.0,2016-12-05
...,...,...,...,...,...,...,...,...,...,...,...
49243,SR801,01243242,11:13:56,0,6134.0,1,61340.0,1,3.06,-350.0,2017-09-29
49244,TA801,01558965,14:23:54,0,5156.0,1,25780.0,1,0.00,570.0,2017-09-29
49245,TA801,01558966,14:23:54,0,5156.0,1,25780.0,1,0.00,580.0,2017-09-29
49246,TA801,01560575,14:24:06,0,5156.0,1,25780.0,1,0.00,410.0,2017-09-29
49247,TA801,01560576,14:24:06,0,5156.0,1,25780.0,1,0.00,10.0,2017-09-29
49248,TA801,01571498,14:25:04,0,5154.0,2,51540.0,1,6.12,140.0,2017-09-29
49256,SR801,00138726,21:09:26,0,6108.0,1,61080.0,1,3.06,110.0,2017-09-29
49262,TA801,00791836,23:14:47,0,5190.0,1,25950.0,1,0.00,490.0,2017-09-29
49263,TA801,00791837,23:14:47,0,5190.0,1,25950.0,1,0.00,380.0,2017-09-29
49270,C1801,10000085,08:59:00,0,1680.0,6,100800.0,1,7.32,730.0,2017-10-09
49271,CS1801,10000495,08:59:00,0,1965.0,5,98250.0,1,7.65,1410.0,2017-10-09
49302,RM801,00607841,10:31:38,1,2212.0,1,22120.0,1,3.06,0.0,2017-10-09
49303,RM801,00617917,10:33:55,1,2208.0,1,22080.0,1,3.06,-40.0,2017-10-09
49304,RM801,00617918,10:33:55,1,2208.0,1,22080.0,1,3.06,-40.0,2017-10-09
49305,RM801,00617919,10:33:55,1,2208.0,1,22080.0,1,3.06,-40.0,2017-10-09
49313,JD1801,10249519,11:19:37,1,4160.0,1,41600.0,1,6.36,-10.0,2017-10-09
49315,RM801,00851014,13:35:16,1,2208.0,1,22080.0,1,3.06,-40.0,2017-10-09
49316,RM801,00851016,13:35:16,1,2208.0,1,22080.0,1,3.06,-70.0,2017-10-09
49320,MA801,00915851,13:46:21,0,2702.0,2,54040.0,1,12.24,40.0,2017-10-09
49321,MA801,00921502,13:48:08,0,2704.0,1,27040.0,1,6.12,0.0,2017-10-09
49322,MA801,00926299,13:49:13,0,2707.0,1,27070.0,1,6.12,-90.0,2017-10-09
49328,MA801,01038083,14:17:36,0,2704.0,1,27040.0,1,6.12,-40.0,2017-10-09
49329,MA801,01038984,14:17:50,0,2703.0,1,27030.0,1,6.12,-30.0,2017-10-09
49330,MA801,01039350,14:17:56,0,2702.0,1,27020.0,1,6.12,-20.0,2017-10-09
49332,TA801,01087862,14:33:09,0,5118.0,1,25590.0,1,0.00,270.0,2017-10-09
49333,TA801,01087863,14:33:09,0,5118.0,1,25590.0,1,0.00,290.0,2017-10-09
49334,RM801,01205970,14:59:21,1,2212.0,1,22120.0,1,3.06,-30.0,2017-10-09
49335,RM801,01205971,14:59:21,1,2212.0,1,22120.0,1,3.06,-50.0,2017-10-09
49336,RM801,01205972,14:59:21,1,2212.0,1,22120.0,1,3.06,-100.0,2017-10-09
49337,M1801,10334675,14:59:50,1,2782.0,3,83460.0,1,4.59,60.0,2017-10-09

In [9]:
df3.open_close.sum()

26021

In [12]:
sr1 = df3.groupby(df3.real_trade_date).realized_pl.sum()

In [13]:
sr2 = df2.groupby(df2.real_trade_date).fee.sum()

In [14]:
sr1

real_trade_date
2016-12-05     -670.0
2016-12-06    12255.0
2016-12-07   -13060.0
2016-12-08   -23440.0
2016-12-09    42380.0
2016-12-12    -4905.0
2016-12-13    -1210.0
2016-12-14    26075.0
2016-12-15   -29795.0
2016-12-16     4630.0
2016-12-19    20360.0
2016-12-20    49110.0
2016-12-21    -1860.0
2016-12-22     5520.0
2016-12-23      340.0
2016-12-26    16640.0
2016-12-27     3950.0
2016-12-28   -22795.0
2016-12-29    13195.0
2016-12-30    22790.0
2017-01-03    -6790.0
2017-01-04    25855.0
2017-01-05    -8130.0
2017-01-06    18900.0
2017-01-09     9055.0
2017-01-10     -630.0
2017-01-11    15700.0
2017-01-12   -14045.0
2017-01-13    27655.0
2017-01-16    30740.0
               ...
2017-08-22     -730.0
2017-08-23     -850.0
2017-08-24    13255.0
2017-08-25    -4805.0
2017-08-28    -4560.0
2017-08-29   -12255.0
2017-08-30     1140.0
2017-08-31    -1300.0
2017-09-01     7995.0
2017-09-04     9490.0
2017-09-05    13735.0
2017-09-06     6200.0
2017-09-07    14190.0
2017-09-08    -6655.0
2017-09-11    -2550.0
2017-09-12     4695.0
2017-09-13     -630.0
2017-09-14     1130.0
2017-09-15     5990.0
2017-09-18    10965.0
2017-09-19    -9810.0
2017-09-20     5520.0
2017-09-21   -10670.0
2017-09-22     7310.0
2017-09-25     3975.0
2017-09-26    -3730.0
2017-09-27    -4910.0
2017-09-28    19410.0
2017-09-29     5490.0
2017-10-09     2200.0
Name: realized_pl, Length: 205, dtype: float64

In [15]:
sr2

real_trade_date
2016-12-05      293.15
2016-12-06     4952.26
2016-12-07     6135.63
2016-12-08     7411.74
2016-12-09     3346.29
2016-12-12     4239.37
2016-12-13     9550.37
2016-12-14     8682.82
2016-12-15    10425.22
2016-12-16     4422.29
2016-12-19     2519.71
2016-12-20     2283.04
2016-12-21     3845.94
2016-12-22     4803.14
2016-12-23     1729.20
2016-12-26     3353.89
2016-12-27     2459.27
2016-12-28     4460.60
2016-12-29     3984.01
2016-12-30     4308.33
2017-01-03     2199.49
2017-01-04     1957.85
2017-01-05     2754.22
2017-01-06     4530.47
2017-01-09     3146.98
2017-01-10     3175.49
2017-01-11     2296.54
2017-01-12     5016.14
2017-01-13     4037.46
2017-01-16     2868.22
                ...
2017-08-22      387.31
2017-08-23      555.53
2017-08-24      805.10
2017-08-25      497.90
2017-08-28      511.43
2017-08-29      686.77
2017-08-30      412.12
2017-08-31      238.79
2017-09-01      317.45
2017-09-04      605.09
2017-09-05      486.94
2017-09-06      664.78
2017-09-07      843.95
2017-09-08      922.04
2017-09-11      585.40
2017-09-12     1205.81
2017-09-13      563.04
2017-09-14      420.76
2017-09-15      570.70
2017-09-18      895.89
2017-09-19      870.57
2017-09-20      619.00
2017-09-21      740.27
2017-09-22      535.05
2017-09-25      391.22
2017-09-26      545.38
2017-09-27      717.27
2017-09-28      484.56
2017-09-29       68.83
2017-10-09      238.56
Name: fee, Length: 205, dtype: float64

In [17]:
sr3 = sr1 - sr2

In [18]:
sr3.sum()

165708.63000000006

In [19]:
df2.realized_pl.sum()

523395.0

In [22]:
sr3

real_trade_date
2016-12-05     -963.15
2016-12-06     7302.74
2016-12-07   -19195.63
2016-12-08   -30851.74
2016-12-09    39033.71
2016-12-12    -9144.37
2016-12-13   -10760.37
2016-12-14    17392.18
2016-12-15   -40220.22
2016-12-16      207.71
2016-12-19    17840.29
2016-12-20    46826.96
2016-12-21    -5705.94
2016-12-22      716.86
2016-12-23    -1389.20
2016-12-26    13286.11
2016-12-27     1490.73
2016-12-28   -27255.60
2016-12-29     9210.99
2016-12-30    18481.67
2017-01-03    -8989.49
2017-01-04    23897.15
2017-01-05   -10884.22
2017-01-06    14369.53
2017-01-09     5908.02
2017-01-10    -3805.49
2017-01-11    13403.46
2017-01-12   -19061.14
2017-01-13    23617.54
2017-01-16    27871.78
                ...
2017-08-22    -1117.31
2017-08-23    -1405.53
2017-08-24    12449.90
2017-08-25    -5302.90
2017-08-28    -5071.43
2017-08-29   -12941.77
2017-08-30      727.88
2017-08-31    -1538.79
2017-09-01     7677.55
2017-09-04     8884.91
2017-09-05    13248.06
2017-09-06     5535.22
2017-09-07    13346.05
2017-09-08    -7577.04
2017-09-11    -3135.40
2017-09-12     3489.19
2017-09-13    -1193.04
2017-09-14      709.24
2017-09-15     5419.30
2017-09-18    10069.11
2017-09-19   -10680.57
2017-09-20     4901.00
2017-09-21   -11410.27
2017-09-22     6774.95
2017-09-25     3583.78
2017-09-26    -4275.38
2017-09-27    -5627.27
2017-09-28    18925.44
2017-09-29     5421.17
2017-10-09     1961.44
Length: 205, dtype: float64

In [23]:
df4 = pd.DataFrame([sr3])

In [27]:
df4 = df4.T

In [28]:
df4

                        0
real_trade_date
2016-12-05        -963.15
2016-12-06        7302.74
2016-12-07      -19195.63
2016-12-08      -30851.74
2016-12-09       39033.71
2016-12-12       -9144.37
2016-12-13      -10760.37
2016-12-14       17392.18
2016-12-15      -40220.22
2016-12-16         207.71
2016-12-19       17840.29
2016-12-20       46826.96
2016-12-21       -5705.94
2016-12-22         716.86
2016-12-23       -1389.20
2016-12-26       13286.11
2016-12-27        1490.73
2016-12-28      -27255.60
2016-12-29        9210.99
2016-12-30       18481.67
2017-01-03       -8989.49
2017-01-04       23897.15
2017-01-05      -10884.22
2017-01-06       14369.53
2017-01-09        5908.02
2017-01-10       -3805.49
2017-01-11       13403.46
2017-01-12      -19061.14
2017-01-13       23617.54
2017-01-16       27871.78
...                   ...
2017-08-22       -1117.31
2017-08-23       -1405.53
2017-08-24       12449.90
2017-08-25       -5302.90
2017-08-28       -5071.43
2017-08-29      -12941.77
2017-08-30         727.88
2017-08-31       -1538.79
2017-09-01        7677.55
2017-09-04        8884.91
2017-09-05       13248.06
2017-09-06        5535.22
2017-09-07       13346.05
2017-09-08       -7577.04
2017-09-11       -3135.40
2017-09-12        3489.19
2017-09-13       -1193.04
2017-09-14         709.24
2017-09-15        5419.30
2017-09-18       10069.11
2017-09-19      -10680.57
2017-09-20        4901.00
2017-09-21      -11410.27
2017-09-22        6774.95
2017-09-25        3583.78
2017-09-26       -4275.38
2017-09-27       -5627.27
2017-09-28       18925.44
2017-09-29        5421.17
2017-10-09        1961.44

[205 rows x 1 columns]

In [29]:
df4.columns = ['day_profit']

In [30]:
df4

                 day_profit
real_trade_date
2016-12-05          -963.15
2016-12-06          7302.74
2016-12-07        -19195.63
2016-12-08        -30851.74
2016-12-09         39033.71
2016-12-12         -9144.37
2016-12-13        -10760.37
2016-12-14         17392.18
2016-12-15        -40220.22
2016-12-16           207.71
2016-12-19         17840.29
2016-12-20         46826.96
2016-12-21         -5705.94
2016-12-22           716.86
2016-12-23         -1389.20
2016-12-26         13286.11
2016-12-27          1490.73
2016-12-28        -27255.60
2016-12-29          9210.99
2016-12-30         18481.67
2017-01-03         -8989.49
2017-01-04         23897.15
2017-01-05        -10884.22
2017-01-06         14369.53
2017-01-09          5908.02
2017-01-10         -3805.49
2017-01-11         13403.46
2017-01-12        -19061.14
2017-01-13         23617.54
2017-01-16         27871.78
...                     ...
2017-08-22         -1117.31
2017-08-23         -1405.53
2017-08-24         12449.90
2017-08-25         -5302.90
2017-08-28         -5071.43
2017-08-29        -12941.77
2017-08-30           727.88
2017-08-31         -1538.79
2017-09-01          7677.55
2017-09-04          8884.91
2017-09-05         13248.06
2017-09-06          5535.22
2017-09-07         13346.05
2017-09-08         -7577.04
2017-09-11         -3135.40
2017-09-12          3489.19
2017-09-13         -1193.04
2017-09-14           709.24
2017-09-15          5419.30
2017-09-18         10069.11
2017-09-19        -10680.57
2017-09-20          4901.00
2017-09-21        -11410.27
2017-09-22          6774.95
2017-09-25          3583.78
2017-09-26         -4275.38
2017-09-27         -5627.27
2017-09-28         18925.44
2017-09-29          5421.17
2017-10-09          1961.44

[205 rows x 1 columns]

In [31]:
df4['cum_profit'] = df4.day_profit.cumsum()

In [32]:
df4

                 day_profit  cum_profit
real_trade_date
2016-12-05          -963.15     -963.15
2016-12-06          7302.74     6339.59
2016-12-07        -19195.63   -12856.04
2016-12-08        -30851.74   -43707.78
2016-12-09         39033.71    -4674.07
2016-12-12         -9144.37   -13818.44
2016-12-13        -10760.37   -24578.81
2016-12-14         17392.18    -7186.63
2016-12-15        -40220.22   -47406.85
2016-12-16           207.71   -47199.14
2016-12-19         17840.29   -29358.85
2016-12-20         46826.96    17468.11
2016-12-21         -5705.94    11762.17
2016-12-22           716.86    12479.03
2016-12-23         -1389.20    11089.83
2016-12-26         13286.11    24375.94
2016-12-27          1490.73    25866.67
2016-12-28        -27255.60    -1388.93
2016-12-29          9210.99     7822.06
2016-12-30         18481.67    26303.73
2017-01-03         -8989.49    17314.24
2017-01-04         23897.15    41211.39
2017-01-05        -10884.22    30327.17
2017-01-06         14369.53    44696.70
2017-01-09          5908.02    50604.72
2017-01-10         -3805.49    46799.23
2017-01-11         13403.46    60202.69
2017-01-12        -19061.14    41141.55
2017-01-13         23617.54    64759.09
2017-01-16         27871.78    92630.87
...                     ...         ...
2017-08-22         -1117.31   112743.83
2017-08-23         -1405.53   111338.30
2017-08-24         12449.90   123788.20
2017-08-25         -5302.90   118485.30
2017-08-28         -5071.43   113413.87
2017-08-29        -12941.77   100472.10
2017-08-30           727.88   101199.98
2017-08-31         -1538.79    99661.19
2017-09-01          7677.55   107338.74
2017-09-04          8884.91   116223.65
2017-09-05         13248.06   129471.71
2017-09-06          5535.22   135006.93
2017-09-07         13346.05   148352.98
2017-09-08         -7577.04   140775.94
2017-09-11         -3135.40   137640.54
2017-09-12          3489.19   141129.73
2017-09-13         -1193.04   139936.69
2017-09-14           709.24   140645.93
2017-09-15          5419.30   146065.23
2017-09-18         10069.11   156134.34
2017-09-19        -10680.57   145453.77
2017-09-20          4901.00   150354.77
2017-09-21        -11410.27   138944.50
2017-09-22          6774.95   145719.45
2017-09-25          3583.78   149303.23
2017-09-26         -4275.38   145027.85
2017-09-27         -5627.27   139400.58
2017-09-28         18925.44   158326.02
2017-09-29          5421.17   163747.19
2017-10-09          1961.44   165708.63

[205 rows x 2 columns]

In [33]:
df4.to_excel('trade_profit.xlsx',sheet_name='sheet1')