In [27]:
import pandas as pd
from datetime import datetime
df = pd.read_hdf('C:/Users/Administrator/Desktop/Work/data/CTA_trade_detail_all/trade_detail_007738030022.h5')

In [28]:
df_expands = []
def expand_by_lots(row):
    lots = row.lots
    row.lots = 1
    df_expands.append(pd.DataFrame([row for x in range(lots)]))
    return row

df.apply(expand_by_lots, axis=1)
df_expand = pd.concat(df_expands[1:])

In [30]:
df

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
0,M1705,10545298,10:05:32,0,2909.0,1,29090.0,0,1.65,0.0,2016-12-05
1,M1705,10548973,10:05:59,1,2912.0,1,29120.0,1,1.65,30.0,2016-12-05
2,RM705,01513316,10:31:32,0,2441.0,5,122050.0,0,16.50,0.0,2016-12-05
3,M1705,10612069,10:42:27,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
4,M1705,10612494,10:42:45,0,2913.0,1,29130.0,0,1.65,0.0,2016-12-05
5,M1705,10613334,10:43:10,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
6,M1705,10659448,10:59:45,1,2914.0,2,58280.0,1,3.30,30.0,2016-12-05
7,M1705,10659449,10:59:45,1,2914.0,1,29140.0,1,1.65,20.0,2016-12-05
8,RM705,01630287,11:01:03,1,2449.0,2,48980.0,1,13.20,160.0,2016-12-05
9,RM705,01630519,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
10,RM705,01630521,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
11,RM705,01639663,11:03:24,1,2446.0,1,24460.0,1,6.60,50.0,2016-12-05
12,RM705,01673866,11:10:48,0,2441.0,1,24410.0,0,3.30,0.0,2016-12-05
13,P1705,10706475,11:22:25,0,6332.0,1,63320.0,0,2.75,0.0,2016-12-05
14,RM705,01718548,11:27:20,0,2448.0,1,24480.0,0,3.30,0.0,2016-12-05
15,P1705,10717070,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
16,P1705,10717084,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
17,P1705,10719102,13:30:24,0,6346.0,1,63460.0,0,2.75,0.0,2016-12-05
18,P1705,10719103,13:30:24,0,6346.0,1,63460.0,0,2.75,0.0,2016-12-05
19,TA705,01754694,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
20,TA705,01754696,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
21,TA705,01754698,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
22,TA705,01759740,13:32:09,0,5280.0,3,79200.0,0,9.90,0.0,2016-12-05
23,RM705,01802209,13:39:02,0,2450.0,1,24500.0,0,3.30,0.0,2016-12-05
24,Y1705,10777410,13:48:00,0,7192.0,2,143840.0,0,5.50,0.0,2016-12-05
25,TA705,01869120,13:48:16,1,5268.0,1,26340.0,1,0.00,-60.0,2016-12-05
26,TA705,01871372,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
27,TA705,01871373,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
28,Y1705,10783183,13:50:26,1,7178.0,2,143560.0,1,5.50,-280.0,2016-12-05
29,RM705,01883174,13:50:45,1,2447.0,1,24470.0,1,6.60,60.0,2016-12-05
...,...,...,...,...,...,...,...,...,...,...,...
998,ZN1709,00005154,21:00:03,1,22830.0,1,114150.0,1,3.30,750.0,2017-07-21
999,ZN1709,00005611,21:00:04,1,22825.0,1,114125.0,1,3.30,725.0,2017-07-21
1000,RM709,00050722,21:01:55,0,2354.0,1,23540.0,0,2.21,0.0,2017-07-21
1001,A1709,10035131,21:05:52,0,3814.0,2,76280.0,0,4.40,0.0,2017-07-21
1002,A1801,10055619,21:11:18,0,3873.0,2,77460.0,0,4.40,0.0,2017-07-21
1003,A1801,10067251,21:17:36,0,3878.0,1,38780.0,0,2.20,0.0,2017-07-21
1004,A1801,10075977,21:23:53,0,3877.0,1,38770.0,0,2.20,0.0,2017-07-21
1005,A1801,10080129,21:26:05,0,3874.0,1,38740.0,0,2.20,0.0,2017-07-21
1006,RM709,00356435,21:36:40,0,2355.0,1,23550.0,0,2.21,0.0,2017-07-21
1007,A1709,10100943,21:42:56,1,3810.0,2,76200.0,1,4.40,-80.0,2017-07-21
1008,A1801,10101370,21:43:19,0,3873.0,1,38730.0,0,2.20,0.0,2017-07-21
1009,A1801,10115134,21:52:01,0,3872.0,1,38720.0,0,2.20,0.0,2017-07-21
1010,A1801,10189159,23:11:35,1,3868.0,3,116040.0,1,6.60,-200.0,2017-07-21
1011,A1801,10189160,23:11:35,1,3868.0,1,38680.0,1,2.20,-90.0,2017-07-21
1012,A1801,10189161,23:11:35,1,3868.0,1,38680.0,1,2.20,-60.0,2017-07-21
1013,Y1801,10190180,23:11:49,0,6288.0,1,62880.0,0,2.75,0.0,2017-07-21
1014,A1801,10192752,23:12:22,1,3862.0,1,38620.0,1,2.20,-110.0,2017-07-21
1015,A1801,10192753,23:12:22,1,3862.0,1,38620.0,1,2.20,-100.0,2017-07-21
1016,RM709,00735317,23:13:46,0,2352.0,1,23520.0,0,2.21,0.0,2017-07-21
1017,RM709,00735881,23:13:52,0,2352.0,1,23520.0,0,2.21,0.0,2017-07-21
1018,P1801,10201205,23:15:17,0,5308.0,1,53080.0,0,2.75,0.0,2017-07-21
0,M1801,10000988,21:00:00,1,2881.0,1,28810.0,1,1.65,-80.0,2017-07-24
1,M1801,10000989,21:00:00,1,2881.0,1,28810.0,1,1.65,-80.0,2017-07-24
2,M1801,10000990,21:00:00,1,2881.0,1,28810.0,1,1.65,-80.0,2017-07-24
3,P1801,10067430,22:00:21,1,5294.0,2,105880.0,1,5.50,20.0,2017-07-24
4,A1801,10090697,22:22:01,1,3862.0,1,38620.0,1,2.20,0.0,2017-07-24
5,A1801,10090698,22:22:01,1,3862.0,1,38620.0,1,2.20,0.0,2017-07-24
6,A1801,10090699,22:22:01,1,3862.0,1,38620.0,1,2.20,-40.0,2017-07-24
7,A1801,10091405,22:22:18,1,3859.0,4,154360.0,1,8.80,-290.0,2017-07-24
8,P1801,10100807,22:24:39,1,5276.0,3,158280.0,1,8.25,-860.0,2017-07-24

In [29]:
df_expand

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
0,M1705,10545298,10:05:32,0,2909.0,1,29090.0,0,1.65,0.0,2016-12-05
1,M1705,10548973,10:05:59,1,2912.0,1,29120.0,1,1.65,30.0,2016-12-05
2,RM705,01513316,10:31:32,0,2441.0,1,122050.0,0,16.50,0.0,2016-12-05
2,RM705,01513316,10:31:32,0,2441.0,1,122050.0,0,16.50,0.0,2016-12-05
2,RM705,01513316,10:31:32,0,2441.0,1,122050.0,0,16.50,0.0,2016-12-05
2,RM705,01513316,10:31:32,0,2441.0,1,122050.0,0,16.50,0.0,2016-12-05
2,RM705,01513316,10:31:32,0,2441.0,1,122050.0,0,16.50,0.0,2016-12-05
3,M1705,10612069,10:42:27,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
4,M1705,10612494,10:42:45,0,2913.0,1,29130.0,0,1.65,0.0,2016-12-05
5,M1705,10613334,10:43:10,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
6,M1705,10659448,10:59:45,1,2914.0,1,58280.0,1,3.30,30.0,2016-12-05
6,M1705,10659448,10:59:45,1,2914.0,1,58280.0,1,3.30,30.0,2016-12-05
7,M1705,10659449,10:59:45,1,2914.0,1,29140.0,1,1.65,20.0,2016-12-05
8,RM705,01630287,11:01:03,1,2449.0,1,48980.0,1,13.20,160.0,2016-12-05
8,RM705,01630287,11:01:03,1,2449.0,1,48980.0,1,13.20,160.0,2016-12-05
9,RM705,01630519,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
10,RM705,01630521,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
11,RM705,01639663,11:03:24,1,2446.0,1,24460.0,1,6.60,50.0,2016-12-05
12,RM705,01673866,11:10:48,0,2441.0,1,24410.0,0,3.30,0.0,2016-12-05
13,P1705,10706475,11:22:25,0,6332.0,1,63320.0,0,2.75,0.0,2016-12-05
14,RM705,01718548,11:27:20,0,2448.0,1,24480.0,0,3.30,0.0,2016-12-05
15,P1705,10717070,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
16,P1705,10717084,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
17,P1705,10719102,13:30:24,0,6346.0,1,63460.0,0,2.75,0.0,2016-12-05
18,P1705,10719103,13:30:24,0,6346.0,1,63460.0,0,2.75,0.0,2016-12-05
19,TA705,01754694,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
20,TA705,01754696,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
21,TA705,01754698,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
22,TA705,01759740,13:32:09,0,5280.0,1,79200.0,0,9.90,0.0,2016-12-05
22,TA705,01759740,13:32:09,0,5280.0,1,79200.0,0,9.90,0.0,2016-12-05
...,...,...,...,...,...,...,...,...,...,...,...
1007,A1709,10100943,21:42:56,1,3810.0,1,76200.0,1,4.40,-80.0,2017-07-21
1007,A1709,10100943,21:42:56,1,3810.0,1,76200.0,1,4.40,-80.0,2017-07-21
1008,A1801,10101370,21:43:19,0,3873.0,1,38730.0,0,2.20,0.0,2017-07-21
1009,A1801,10115134,21:52:01,0,3872.0,1,38720.0,0,2.20,0.0,2017-07-21
1010,A1801,10189159,23:11:35,1,3868.0,1,116040.0,1,6.60,-200.0,2017-07-21
1010,A1801,10189159,23:11:35,1,3868.0,1,116040.0,1,6.60,-200.0,2017-07-21
1010,A1801,10189159,23:11:35,1,3868.0,1,116040.0,1,6.60,-200.0,2017-07-21
1011,A1801,10189160,23:11:35,1,3868.0,1,38680.0,1,2.20,-90.0,2017-07-21
1012,A1801,10189161,23:11:35,1,3868.0,1,38680.0,1,2.20,-60.0,2017-07-21
1013,Y1801,10190180,23:11:49,0,6288.0,1,62880.0,0,2.75,0.0,2017-07-21
1014,A1801,10192752,23:12:22,1,3862.0,1,38620.0,1,2.20,-110.0,2017-07-21
1015,A1801,10192753,23:12:22,1,3862.0,1,38620.0,1,2.20,-100.0,2017-07-21
1016,RM709,00735317,23:13:46,0,2352.0,1,23520.0,0,2.21,0.0,2017-07-21
1017,RM709,00735881,23:13:52,0,2352.0,1,23520.0,0,2.21,0.0,2017-07-21
1018,P1801,10201205,23:15:17,0,5308.0,1,53080.0,0,2.75,0.0,2017-07-21
0,M1801,10000988,21:00:00,1,2881.0,1,28810.0,1,1.65,-80.0,2017-07-24
1,M1801,10000989,21:00:00,1,2881.0,1,28810.0,1,1.65,-80.0,2017-07-24
2,M1801,10000990,21:00:00,1,2881.0,1,28810.0,1,1.65,-80.0,2017-07-24
3,P1801,10067430,22:00:21,1,5294.0,1,105880.0,1,5.50,20.0,2017-07-24
3,P1801,10067430,22:00:21,1,5294.0,1,105880.0,1,5.50,20.0,2017-07-24
4,A1801,10090697,22:22:01,1,3862.0,1,38620.0,1,2.20,0.0,2017-07-24
5,A1801,10090698,22:22:01,1,3862.0,1,38620.0,1,2.20,0.0,2017-07-24
6,A1801,10090699,22:22:01,1,3862.0,1,38620.0,1,2.20,-40.0,2017-07-24
7,A1801,10091405,22:22:18,1,3859.0,1,154360.0,1,8.80,-290.0,2017-07-24
7,A1801,10091405,22:22:18,1,3859.0,1,154360.0,1,8.80,-290.0,2017-07-24
7,A1801,10091405,22:22:18,1,3859.0,1,154360.0,1,8.80,-290.0,2017-07-24
7,A1801,10091405,22:22:18,1,3859.0,1,154360.0,1,8.80,-290.0,2017-07-24
8,P1801,10100807,22:24:39,1,5276.0,1,158280.0,1,8.25,-860.0,2017-07-24
8,P1801,10100807,22:24:39,1,5276.0,1,158280.0,1,8.25,-860.0,2017-07-24
8,P1801,10100807,22:24:39,1,5276.0,1,158280.0,1,8.25,-860.0,2017-07-24

In [31]:
df1 = df[df.open_close == 1]
df1.lots.sum()

50669

In [36]:
df_expand[df_expand.open_close==1].lots.sum()

50669

In [9]:
df2 = df1.groupby(df1.order_no).apply(lambda x: x[x.lots >0])
df2

,,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
order_no,,,,,,,,,,,,
00000110,35767,FG709,00000110,20:59:00,1,1304.0,1,26080.0,1,3.30,-160.0,2017-06-07
00000112,35768,FG709,00000112,20:59:00,1,1304.0,1,26080.0,1,3.30,-160.0,2017-06-07
00000134,502,FG709,00000134,20:59:00,1,1363.0,1,27260.0,1,3.30,20.0,2017-07-10
00000165,23116,FG705,00000165,20:59:00,1,1237.0,2,49480.0,1,6.60,-320.0,2017-03-15
00000167,23117,FG705,00000167,20:59:00,1,1237.0,1,24740.0,1,3.30,-160.0,2017-03-15
00000225,35215,FG709,00000225,20:59:00,1,1303.0,1,26060.0,1,3.30,80.0,2017-06-05
00000237,30093,BU1709,00000237,20:59:00,1,2538.0,2,50760.0,1,5.58,-380.0,2017-04-25
00000312,32078,BU1709,00000312,20:59:00,0,2468.0,2,49360.0,1,5.43,-360.0,2017-05-11
00000314,26452,CU1705,00000314,08:59:00,1,47090.0,1,235450.0,1,12.95,-2600.0,2017-04-05
00000336,37269,FG709,00000336,20:59:00,1,1314.0,1,26280.0,1,3.30,-100.0,2017-06-16
00000337,37270,FG709,00000337,20:59:00,1,1314.0,1,26280.0,1,3.30,-100.0,2017-06-16
00000338,37271,FG709,00000338,20:59:00,1,1314.0,1,26280.0,1,3.30,-60.0,2017-06-16
00000391,35492,FG709,00000391,20:59:00,1,1307.0,1,26140.0,1,3.30,-180.0,2017-06-06
00000434,36815,FG709,00000434,20:59:00,1,1302.0,1,26040.0,1,3.30,-100.0,2017-06-14
00000436,36816,FG709,00000436,20:59:00,1,1302.0,1,26040.0,1,3.30,-100.0,2017-06-14
00000448,36817,FG709,00000448,20:59:00,1,1302.0,2,52080.0,1,6.60,-200.0,2017-06-14
00000568,20871,CU1704,00000568,20:59:00,0,47880.0,2,478800.0,1,26.33,-1150.0,2017-03-01
00000627,34662,RB1710,00000627,08:59:00,1,3248.0,3,97440.0,1,10.72,710.0,2017-05-31
00000634,21950,RM705,00000634,20:59:00,1,2477.0,1,24770.0,1,3.30,-100.0,2017-03-08
00000636,21951,RM705,00000636,20:59:00,1,2477.0,1,24770.0,1,3.30,-100.0,2017-03-08
00000637,21952,RM705,00000637,20:59:00,1,2477.0,1,24770.0,1,3.30,-100.0,2017-03-08
00000638,21953,RM705,00000638,20:59:00,1,2477.0,1,24770.0,1,3.30,-100.0,2017-03-08
00000639,21954,RM705,00000639,20:59:00,1,2477.0,1,24770.0,1,3.30,-100.0,2017-03-08
00000640,21955,RM705,00000640,20:59:00,1,2477.0,1,24770.0,1,3.30,-80.0,2017-03-08
00000641,21956,RM705,00000641,20:59:00,1,2477.0,1,24770.0,1,3.30,-80.0,2017-03-08
00000642,21957,RM705,00000642,20:59:00,1,2477.0,1,24770.0,1,3.30,-80.0,2017-03-08
00000643,21958,RM705,00000643,20:59:00,1,2477.0,2,49540.0,1,6.60,-160.0,2017-03-08
00000708,29108,FG709,00000708,08:59:00,1,1203.0,2,48120.0,1,6.60,-600.0,2017-04-19
00000819,20872,ZN1704,00000819,20:59:00,0,22900.0,1,114500.0,1,3.30,-475.0,2017-03-01
00000841,36818,MA709,00000841,20:59:00,1,2290.0,1,22900.0,1,2.20,-130.0,2017-06-14
...,...,...,...,...,...,...,...,...,...,...,...,...
30584966,233,L1709,30584966,14:57:19,1,9160.0,2,91600.0,1,4.40,1050.0,2017-07-13
30587648,66,PP1709,30587648,11:19:54,1,7885.0,1,39425.0,1,5.68,575.0,2017-06-29
30589043,67,PP1709,30589043,11:20:41,1,7893.0,1,39465.0,1,5.68,610.0,2017-06-29
30590083,68,PP1709,30590083,11:21:30,1,7894.0,1,39470.0,1,5.68,635.0,2017-06-29
30592455,69,PP1709,30592455,11:23:15,1,7900.0,1,39500.0,1,5.69,665.0,2017-06-29
30594128,29549,PP1709,30594128,14:26:07,1,7690.0,2,76900.0,1,11.07,285.0,2017-04-21
30596890,31090,L1709,30596890,14:45:24,0,8675.0,1,43375.0,1,2.20,200.0,2017-05-04
30597038,31091,L1709,30597038,14:45:30,0,8675.0,1,43375.0,1,2.20,175.0,2017-05-04
30597460,200,PP1709,30597460,14:53:10,1,8158.0,2,81580.0,1,11.75,-55.0,2017-07-17
30598342,29555,L1709,30598342,14:26:56,1,8765.0,1,43825.0,1,2.20,-175.0,2017-04-21
30598935,29556,PP1709,30598935,14:26:59,1,7678.0,1,38390.0,1,2.53,-215.0,2017-04-21
30598937,29557,PP1709,30598937,14:26:59,1,7678.0,1,38390.0,1,2.53,-160.0,2017-04-21
30599644,70,PP1709,30599644,11:27:05,1,7911.0,1,39555.0,1,5.70,720.0,2017-06-29
30599724,71,PP1709,30599724,11:27:10,1,7912.0,1,39560.0,1,5.70,725.0,2017-06-29
30603752,31094,L1709,30603752,14:49:05,0,8705.0,1,43525.0,1,2.20,-50.0,2017-05-04
30604911,201,PP1709,30604911,14:56:58,1,8159.0,1,40795.0,1,5.87,-10.0,2017-07-17
30614198,33307,I1709,30614198,14:12:12,1,478.0,1,47800.0,1,12.91,100.0,2017-05-19
30620254,29565,PP1709,30620254,14:34:21,1,7658.0,3,114870.0,1,10.57,-405.0,2017-04-21
30623597,3419,L1705,30623597,14:31:00,1,10365.0,1,51825.0,1,2.20,-50.0,2016-12-14
30623598,3420,L1705,30623598,14:31:00,1,10365.0,1,51825.0,1,2.20,-50.0,2016-12-14
30623599,3421,L1705,30623599,14:31:00,1,10365.0,3,155475.0,1,6.60,-150.0,2016-12-14
30633807,33309,I1709,30633807,14:22:07,1,481.0,1,48100.0,1,12.99,250.0,2017-05-19
30637833,3451,L1705,30637833,14:38:10,1,10380.0,1,51900.0,1,2.20,25.0,2016-12-14
30637834,3452,L1705,30637834,14:38:10,1,10380.0,1,51900.0,1,2.20,25.0,2016-12-14
30637835,3453,L1705,30637835,14:38:10,1,10380.0,1,51900.0,1,2.20,25.0,2016-12-14
30637836,3454,L1705,30637836,14:38:10,1,10380.0,1,51900.0,1,2.20,25.0,2016-12-14
30637837,3455,L1705,30637837,14:38:10,1,10380.0,1,51900.0,1,2.20,25.0,2016-12-14
30660477,96,PP1709,30660477,13:57:34,1,7835.0,4,156700.0,1,22.56,535.0,2017-06-29
30726449,125,PP1709,30726449,14:39:23,1,7865.0,1,39325.0,1,5.66,110.0,2017-06-29
30736691,127,PP1709,30736691,14:40:58,1,7856.0,3,117840.0,1,16.97,20.0,2017-06-29

In [6]:
df1.groupby(df1.instrument).lots.sum()

instrument
A1705      915
A1709      823
A1801       14
AL1705      31
BU1705       5
BU1706     807
BU1709     591
C1705      915
C1709     3300
C1801       80
CF705      347
CF709      153
CS1705    4232
CS1709    2684
CS1801      67
CU1702      74
CU1703      25
CU1704      54
CU1705      39
CU1706       4
CU1707      20
CU1708      35
CU1709       7
FG705      983
FG709      859
I1705       41
I1709       40
J1705        3
J1709        1
JD1705     879
          ...
P1709      232
P1801       35
PP1705     156
PP1709     351
RB1705     968
RB1710     313
RM705     3929
RM709     2884
RM801       18
RU1705     175
RU1709      87
RU1801       2
SM709      324
SR705      510
SR709      258
TA705     3372
TA709      953
V1709       46
Y1705      891
Y1709       92
Y1801        2
ZC705        1
ZN1702      22
ZN1703      25
ZN1704      30
ZN1705      42
ZN1706      22
ZN1707      13
ZN1708      16
ZN1709      24
Name: lots, Length: 75, dtype: int32