In [54]:
import pandas as pd
df = pd.read_csv('C:\\Users\\Administrator\\Desktop\\Work\\data\\hsi_data\\hsi_index.csv')

In [55]:
df

,日期,最新股价,开盘,高,低,交易量,百分比变化
0,2013年5月2日,"22,668.30","22,692.33","22,706.07","22,552.31",1.43B,-0.30
1,2013年5月3日,"22,689.96","22,811.84","22,886.17","22,678.67",1.28B,0.10
2,2013年5月6日,"22,915.09","22,967.78","22,980.56","22,864.91",1.33B,0.99
3,2013年5月7日,"23,047.09","22,924.29","23,058.74","22,855.58",1.42B,0.58
4,2013年5月8日,"23,244.35","23,215.95","23,270.00","23,156.26",1.76B,0.86
5,2013年5月9日,"23,211.48","23,353.68","23,353.68","23,126.81",1.41B,-0.14
6,2013年5月10日,"23,321.22","23,213.59","23,330.60","23,144.12",1.41B,0.47
7,2013年5月13日,"22,989.81","23,245.58","23,245.58","22,958.87",1.49B,-1.42
8,2013年5月14日,"22,930.28","23,124.24","23,145.91","22,878.64",1.38B,-0.26
9,2013年5月15日,"23,044.24","23,074.26","23,163.56","23,002.32",1.51B,0.50
10,2013年5月16日,"23,082.68","23,110.19","23,163.00","22,955.90",1.32B,0.17
11,2013年5月20日,"23,493.03","23,348.74","23,512.42","23,348.74",1.58B,1.78
12,2013年5月21日,"23,366.37","23,425.69","23,446.00","23,337.75",3.48B,-0.54
13,2013年5月22日,"23,261.08","23,341.06","23,423.51","23,179.46",1.47B,-0.45
14,2013年5月23日,"22,669.68","23,066.71","23,123.43","22,605.69",2.51B,-2.54
15,2013年5月24日,"22,618.67","22,679.36","22,781.54","22,470.53",1.41B,-0.23
16,2013年5月27日,"22,686.05","22,571.63","22,729.87","22,544.89",993.59M,0.30
17,2013年5月28日,"22,924.25","22,710.20","22,942.15","22,639.54",1.15B,1.05
18,2013年5月29日,"22,554.93","22,826.85","22,861.60","22,532.57",1.54B,-1.61
19,2013年5月30日,"22,484.31","22,562.51","22,630.64","22,290.72",1.75B,-0.31
20,2013年5月31日,"22,392.16","22,582.55","22,582.55","22,346.18",2.49B,-0.41
21,2013年6月3日,"22,282.19","22,301.68","22,564.18","22,249.65",1.55B,-0.49
22,2013年6月4日,"22,285.52","22,320.50","22,330.05","22,178.64",1.42B,0.01
23,2013年6月5日,"22,069.24","22,141.67","22,174.69","21,933.92",1.52B,-0.97
24,2013年6月6日,"21,838.43","21,908.45","21,949.81","21,799.25",1.71B,-1.05
25,2013年6月7日,"21,575.26","21,768.24","21,820.43","21,506.33",1.83B,-1.21
26,2013年6月10日,"21,615.09","21,592.90","21,723.86","21,497.55",1.46B,0.18
27,2013年6月11日,"21,354.66","21,542.30","21,632.01","21,307.99",2.12B,-1.20
28,2013年6月13日,"20,887.04","21,069.26","21,069.26","20,652.75",3.30B,-2.19
29,2013年6月14日,"20,969.14","21,083.41","21,164.68","20,954.66",2.39B,0.39
...,...,...,...,...,...,...,...
630,2015年11月20日,"22,754.72","22,510.45","22,790.07","22,412.03",1.27B,1.13
631,2015年11月23日,"22,665.90","22,760.05","22,802.71","22,619.68",1.11B,-0.39
632,2015年11月24日,"22,587.63","22,593.09","22,629.75","22,433.51",1.23B,-0.35
633,2015年11月25日,"22,498.00","22,533.53","22,617.21","22,436.01",1.56B,-0.40
634,2015年11月26日,"22,488.94","22,749.60","22,787.50","22,453.69",1.16B,-0.04
635,2015年11月27日,"22,068.32","22,555.42","22,555.42","22,051.01",2.11B,-1.87
636,2015年11月30日,"21,996.42","21,974.81","22,195.25","21,907.35",2.93B,-0.33
637,2015年12月1日,"22,381.35","22,197.81","22,477.51","22,143.57",2.05B,1.75
638,2015年12月2日,"22,479.69","22,471.35","22,563.47","22,368.66",1.72B,0.44
639,2015年12月3日,"22,417.01","22,327.04","22,485.25","22,327.04",1.31B,-0.28
640,2015年12月4日,"22,235.89","22,142.11","22,242.49","22,108.46",1.66B,-0.81
641,2015年12月7日,"22,203.22","22,336.32","22,352.25","22,200.55",1.33B,-0.15
642,2015年12月8日,"21,905.13","22,058.55","22,058.55","21,765.62",1.87B,-1.34
643,2015年12月9日,"21,803.76","21,773.77","21,872.33","21,755.69",1.41B,-0.46
644,2015年12月10日,"21,704.61","21,714.23","21,880.19","21,668.12",1.64B,-0.45
645,2015年12月11日,"21,464.05","21,719.17","21,731.39","21,440.70",1.44B,-1.11
646,2015年12月14日,"21,309.85","21,063.28","21,378.19","21,010.26",1.77B,-0.72
647,2015年12月15日,"21,274.37","21,215.54","21,442.21","21,215.54",1.62B,-0.17
648,2015年12月16日,"21,701.21","21,557.73","21,772.79","21,557.73",1.70B,2.01
649,2015年12月17日,"21,872.06","21,841.09","22,005.19","21,763.76",1.65B,0.79
650,2015年12月18日,"21,755.56","21,656.56","21,956.49","21,625.82",1.83B,-0.53
651,2015年12月21日,"21,791.68","21,641.17","21,871.22","21,641.17",1.34B,0.17
652,2015年12月22日,"21,830.02","21,846.90","21,870.31","21,750.74",945.08M,0.18
653,2015年12月23日,"22,040.59","21,869.40","22,103.63","21,846.48",1.09B,0.96
654,2015年12月24日,"22,138.13","22,207.82","22,217.45","22,128.72",734.83M,0.44
655,2015年12月28日,"21,919.62","22,151.73","22,151.73","21,880.51",901.16M,-0.99
656,2015年12月29日,"21,999.62","21,923.27","22,024.28","21,881.71",790.49M,0.36
657,2015年12月30日,"21,882.15","22,094.59","22,114.56","21,868.03",1.09B,-0.53
658,NaN,NaN,NaN,NaN,NaN,NaN,NaN
659,NaN,"最高:28,588.52","最低:19,426.36","差价:9,162.16","平均:23,451.49",百分比变化:-3.76,NaN

In [56]:
df = df.dropna()

In [57]:
df

              日期       最新股价         开盘          高          低      交易量  百分比变化
0      2013年5月2日  22,668.30  22,692.33  22,706.07  22,552.31    1.43B  -0.30
1      2013年5月3日  22,689.96  22,811.84  22,886.17  22,678.67    1.28B   0.10
2      2013年5月6日  22,915.09  22,967.78  22,980.56  22,864.91    1.33B   0.99
3      2013年5月7日  23,047.09  22,924.29  23,058.74  22,855.58    1.42B   0.58
4      2013年5月8日  23,244.35  23,215.95  23,270.00  23,156.26    1.76B   0.86
5      2013年5月9日  23,211.48  23,353.68  23,353.68  23,126.81    1.41B  -0.14
6     2013年5月10日  23,321.22  23,213.59  23,330.60  23,144.12    1.41B   0.47
7     2013年5月13日  22,989.81  23,245.58  23,245.58  22,958.87    1.49B  -1.42
8     2013年5月14日  22,930.28  23,124.24  23,145.91  22,878.64    1.38B  -0.26
9     2013年5月15日  23,044.24  23,074.26  23,163.56  23,002.32    1.51B   0.50
10    2013年5月16日  23,082.68  23,110.19  23,163.00  22,955.90    1.32B   0.17
11    2013年5月20日  23,493.03  23,348.74  23,512.42  23,348.74    1.58B   1.78
12    2013年5月21日  23,366.37  23,425.69  23,446.00  23,337.75    3.48B  -0.54
13    2013年5月22日  23,261.08  23,341.06  23,423.51  23,179.46    1.47B  -0.45
14    2013年5月23日  22,669.68  23,066.71  23,123.43  22,605.69    2.51B  -2.54
15    2013年5月24日  22,618.67  22,679.36  22,781.54  22,470.53    1.41B  -0.23
16    2013年5月27日  22,686.05  22,571.63  22,729.87  22,544.89  993.59M   0.30
17    2013年5月28日  22,924.25  22,710.20  22,942.15  22,639.54    1.15B   1.05
18    2013年5月29日  22,554.93  22,826.85  22,861.60  22,532.57    1.54B  -1.61
19    2013年5月30日  22,484.31  22,562.51  22,630.64  22,290.72    1.75B  -0.31
20    2013年5月31日  22,392.16  22,582.55  22,582.55  22,346.18    2.49B  -0.41
21     2013年6月3日  22,282.19  22,301.68  22,564.18  22,249.65    1.55B  -0.49
22     2013年6月4日  22,285.52  22,320.50  22,330.05  22,178.64    1.42B   0.01
23     2013年6月5日  22,069.24  22,141.67  22,174.69  21,933.92    1.52B  -0.97
24     2013年6月6日  21,838.43  21,908.45  21,949.81  21,799.25    1.71B  -1.05
25     2013年6月7日  21,575.26  21,768.24  21,820.43  21,506.33    1.83B  -1.21
26    2013年6月10日  21,615.09  21,592.90  21,723.86  21,497.55    1.46B   0.18
27    2013年6月11日  21,354.66  21,542.30  21,632.01  21,307.99    2.12B  -1.20
28    2013年6月13日  20,887.04  21,069.26  21,069.26  20,652.75    3.30B  -2.19
29    2013年6月14日  20,969.14  21,083.41  21,164.68  20,954.66    2.39B   0.39
..           ...        ...        ...        ...        ...      ...    ...
628  2015年11月18日  22,188.26  22,331.77  22,349.73  22,163.28    1.25B  -0.34
629  2015年11月19日  22,500.22  22,423.88  22,559.06  22,416.00    1.42B   1.41
630  2015年11月20日  22,754.72  22,510.45  22,790.07  22,412.03    1.27B   1.13
631  2015年11月23日  22,665.90  22,760.05  22,802.71  22,619.68    1.11B  -0.39
632  2015年11月24日  22,587.63  22,593.09  22,629.75  22,433.51    1.23B  -0.35
633  2015年11月25日  22,498.00  22,533.53  22,617.21  22,436.01    1.56B  -0.40
634  2015年11月26日  22,488.94  22,749.60  22,787.50  22,453.69    1.16B  -0.04
635  2015年11月27日  22,068.32  22,555.42  22,555.42  22,051.01    2.11B  -1.87
636  2015年11月30日  21,996.42  21,974.81  22,195.25  21,907.35    2.93B  -0.33
637   2015年12月1日  22,381.35  22,197.81  22,477.51  22,143.57    2.05B   1.75
638   2015年12月2日  22,479.69  22,471.35  22,563.47  22,368.66    1.72B   0.44
639   2015年12月3日  22,417.01  22,327.04  22,485.25  22,327.04    1.31B  -0.28
640   2015年12月4日  22,235.89  22,142.11  22,242.49  22,108.46    1.66B  -0.81
641   2015年12月7日  22,203.22  22,336.32  22,352.25  22,200.55    1.33B  -0.15
642   2015年12月8日  21,905.13  22,058.55  22,058.55  21,765.62    1.87B  -1.34
643   2015年12月9日  21,803.76  21,773.77  21,872.33  21,755.69    1.41B  -0.46
644  2015年12月10日  21,704.61  21,714.23  21,880.19  21,668.12    1.64B  -0.45
645  2015年12月11日  21,464.05  21,719.17  21,731.39  21,440.70    1.44B  -1.11
646  2015年12月14日  21,309.85  21,063.28  21,378.19  21,010.26    1.77B  -0.72
647  2015年12月15日  21,274.37  21,215.54  21,442.21  21,215.54    1.62B  -0.17
648  2015年12月16日  21,701.21  21,557.73  21,772.79  21,557.73    1.70B   2.01
649  2015年12月17日  21,872.06  21,841.09  22,005.19  21,763.76    1.65B   0.79
650  2015年12月18日  21,755.56  21,656.56  21,956.49  21,625.82    1.83B  -0.53
651  2015年12月21日  21,791.68  21,641.17  21,871.22  21,641.17    1.34B   0.17
652  2015年12月22日  21,830.02  21,846.90  21,870.31  21,750.74  945.08M   0.18
653  2015年12月23日  22,040.59  21,869.40  22,103.63  21,846.48    1.09B   0.96
654  2015年12月24日  22,138.13  22,207.82  22,217.45  22,128.72  734.83M   0.44
655  2015年12月28日  21,919.62  22,151.73  22,151.73  21,880.51  901.16M  -0.99
656  2015年12月29日  21,999.62  21,923.27  22,024.28  21,881.71  790.49M   0.36
657  2015年12月30日  21,882.15  22,094.59  22,114.56  21,868.03    1.09B  -0.53

[658 rows x 7 columns]

In [58]:
df.drop('开盘',axis=1, inplace=True)

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [59]:
df.drop('高',axis=1, inplace=True)

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [60]:
df.drop('低',axis=1, inplace=True)

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [61]:
df.drop('交易量',axis=1, inplace=True)

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [62]:
df.drop('百分比变化',axis=1, inplace=True)

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [63]:
df

              日期       最新股价
0      2013年5月2日  22,668.30
1      2013年5月3日  22,689.96
2      2013年5月6日  22,915.09
3      2013年5月7日  23,047.09
4      2013年5月8日  23,244.35
5      2013年5月9日  23,211.48
6     2013年5月10日  23,321.22
7     2013年5月13日  22,989.81
8     2013年5月14日  22,930.28
9     2013年5月15日  23,044.24
10    2013年5月16日  23,082.68
11    2013年5月20日  23,493.03
12    2013年5月21日  23,366.37
13    2013年5月22日  23,261.08
14    2013年5月23日  22,669.68
15    2013年5月24日  22,618.67
16    2013年5月27日  22,686.05
17    2013年5月28日  22,924.25
18    2013年5月29日  22,554.93
19    2013年5月30日  22,484.31
20    2013年5月31日  22,392.16
21     2013年6月3日  22,282.19
22     2013年6月4日  22,285.52
23     2013年6月5日  22,069.24
24     2013年6月6日  21,838.43
25     2013年6月7日  21,575.26
26    2013年6月10日  21,615.09
27    2013年6月11日  21,354.66
28    2013年6月13日  20,887.04
29    2013年6月14日  20,969.14
..           ...        ...
628  2015年11月18日  22,188.26
629  2015年11月19日  22,500.22
630  2015年11月20日  22,754.72
631  2015年11月23日  22,665.90
632  2015年11月24日  22,587.63
633  2015年11月25日  22,498.00
634  2015年11月26日  22,488.94
635  2015年11月27日  22,068.32
636  2015年11月30日  21,996.42
637   2015年12月1日  22,381.35
638   2015年12月2日  22,479.69
639   2015年12月3日  22,417.01
640   2015年12月4日  22,235.89
641   2015年12月7日  22,203.22
642   2015年12月8日  21,905.13
643   2015年12月9日  21,803.76
644  2015年12月10日  21,704.61
645  2015年12月11日  21,464.05
646  2015年12月14日  21,309.85
647  2015年12月15日  21,274.37
648  2015年12月16日  21,701.21
649  2015年12月17日  21,872.06
650  2015年12月18日  21,755.56
651  2015年12月21日  21,791.68
652  2015年12月22日  21,830.02
653  2015年12月23日  22,040.59
654  2015年12月24日  22,138.13
655  2015年12月28日  21,919.62
656  2015年12月29日  21,999.62
657  2015年12月30日  21,882.15

[658 rows x 2 columns]

In [64]:
df.columns = ['date', 'index']

In [65]:
df

            date      index
0      2013年5月2日  22,668.30
1      2013年5月3日  22,689.96
2      2013年5月6日  22,915.09
3      2013年5月7日  23,047.09
4      2013年5月8日  23,244.35
5      2013年5月9日  23,211.48
6     2013年5月10日  23,321.22
7     2013年5月13日  22,989.81
8     2013年5月14日  22,930.28
9     2013年5月15日  23,044.24
10    2013年5月16日  23,082.68
11    2013年5月20日  23,493.03
12    2013年5月21日  23,366.37
13    2013年5月22日  23,261.08
14    2013年5月23日  22,669.68
15    2013年5月24日  22,618.67
16    2013年5月27日  22,686.05
17    2013年5月28日  22,924.25
18    2013年5月29日  22,554.93
19    2013年5月30日  22,484.31
20    2013年5月31日  22,392.16
21     2013年6月3日  22,282.19
22     2013年6月4日  22,285.52
23     2013年6月5日  22,069.24
24     2013年6月6日  21,838.43
25     2013年6月7日  21,575.26
26    2013年6月10日  21,615.09
27    2013年6月11日  21,354.66
28    2013年6月13日  20,887.04
29    2013年6月14日  20,969.14
..           ...        ...
628  2015年11月18日  22,188.26
629  2015年11月19日  22,500.22
630  2015年11月20日  22,754.72
631  2015年11月23日  22,665.90
632  2015年11月24日  22,587.63
633  2015年11月25日  22,498.00
634  2015年11月26日  22,488.94
635  2015年11月27日  22,068.32
636  2015年11月30日  21,996.42
637   2015年12月1日  22,381.35
638   2015年12月2日  22,479.69
639   2015年12月3日  22,417.01
640   2015年12月4日  22,235.89
641   2015年12月7日  22,203.22
642   2015年12月8日  21,905.13
643   2015年12月9日  21,803.76
644  2015年12月10日  21,704.61
645  2015年12月11日  21,464.05
646  2015年12月14日  21,309.85
647  2015年12月15日  21,274.37
648  2015年12月16日  21,701.21
649  2015年12月17日  21,872.06
650  2015年12月18日  21,755.56
651  2015年12月21日  21,791.68
652  2015年12月22日  21,830.02
653  2015年12月23日  22,040.59
654  2015年12月24日  22,138.13
655  2015年12月28日  21,919.62
656  2015年12月29日  21,999.62
657  2015年12月30日  21,882.15

[658 rows x 2 columns]

In [27]:
sr1 = df.date.str.replace("年","-")

In [33]:
sr1 = sr1.str.replace("月","-")

In [35]:
sr1 = sr1.str.replace("日","")

In [37]:
sr1

0        2013-5-2
1        2013-5-3
2        2013-5-6
3        2013-5-7
4        2013-5-8
5        2013-5-9
6       2013-5-10
7       2013-5-13
8       2013-5-14
9       2013-5-15
10      2013-5-16
11      2013-5-20
12      2013-5-21
13      2013-5-22
14      2013-5-23
15      2013-5-24
16      2013-5-27
17      2013-5-28
18      2013-5-29
19      2013-5-30
20      2013-5-31
21       2013-6-3
22       2013-6-4
23       2013-6-5
24       2013-6-6
25       2013-6-7
26      2013-6-10
27      2013-6-11
28      2013-6-13
29      2013-6-14
          ...
628    2015-11-18
629    2015-11-19
630    2015-11-20
631    2015-11-23
632    2015-11-24
633    2015-11-25
634    2015-11-26
635    2015-11-27
636    2015-11-30
637     2015-12-1
638     2015-12-2
639     2015-12-3
640     2015-12-4
641     2015-12-7
642     2015-12-8
643     2015-12-9
644    2015-12-10
645    2015-12-11
646    2015-12-14
647    2015-12-15
648    2015-12-16
649    2015-12-17
650    2015-12-18
651    2015-12-21
652    2015-12-22
653    2015-12-23
654    2015-12-24
655    2015-12-28
656    2015-12-29
657    2015-12-30
Name: date, Length: 658, dtype: object

In [43]:
sr1 = pd.DataFrame([sr1])

In [44]:
sr1 = sr1.T

In [45]:
sr1

           date
0      2013-5-2
1      2013-5-3
2      2013-5-6
3      2013-5-7
4      2013-5-8
5      2013-5-9
6     2013-5-10
7     2013-5-13
8     2013-5-14
9     2013-5-15
10    2013-5-16
11    2013-5-20
12    2013-5-21
13    2013-5-22
14    2013-5-23
15    2013-5-24
16    2013-5-27
17    2013-5-28
18    2013-5-29
19    2013-5-30
20    2013-5-31
21     2013-6-3
22     2013-6-4
23     2013-6-5
24     2013-6-6
25     2013-6-7
26    2013-6-10
27    2013-6-11
28    2013-6-13
29    2013-6-14
..          ...
628  2015-11-18
629  2015-11-19
630  2015-11-20
631  2015-11-23
632  2015-11-24
633  2015-11-25
634  2015-11-26
635  2015-11-27
636  2015-11-30
637   2015-12-1
638   2015-12-2
639   2015-12-3
640   2015-12-4
641   2015-12-7
642   2015-12-8
643   2015-12-9
644  2015-12-10
645  2015-12-11
646  2015-12-14
647  2015-12-15
648  2015-12-16
649  2015-12-17
650  2015-12-18
651  2015-12-21
652  2015-12-22
653  2015-12-23
654  2015-12-24
655  2015-12-28
656  2015-12-29
657  2015-12-30

[658 rows x 1 columns]

In [66]:
df['date2'] = sr1.date

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [67]:
df

            date      index       date2
0      2013年5月2日  22,668.30    2013-5-2
1      2013年5月3日  22,689.96    2013-5-3
2      2013年5月6日  22,915.09    2013-5-6
3      2013年5月7日  23,047.09    2013-5-7
4      2013年5月8日  23,244.35    2013-5-8
5      2013年5月9日  23,211.48    2013-5-9
6     2013年5月10日  23,321.22   2013-5-10
7     2013年5月13日  22,989.81   2013-5-13
8     2013年5月14日  22,930.28   2013-5-14
9     2013年5月15日  23,044.24   2013-5-15
10    2013年5月16日  23,082.68   2013-5-16
11    2013年5月20日  23,493.03   2013-5-20
12    2013年5月21日  23,366.37   2013-5-21
13    2013年5月22日  23,261.08   2013-5-22
14    2013年5月23日  22,669.68   2013-5-23
15    2013年5月24日  22,618.67   2013-5-24
16    2013年5月27日  22,686.05   2013-5-27
17    2013年5月28日  22,924.25   2013-5-28
18    2013年5月29日  22,554.93   2013-5-29
19    2013年5月30日  22,484.31   2013-5-30
20    2013年5月31日  22,392.16   2013-5-31
21     2013年6月3日  22,282.19    2013-6-3
22     2013年6月4日  22,285.52    2013-6-4
23     2013年6月5日  22,069.24    2013-6-5
24     2013年6月6日  21,838.43    2013-6-6
25     2013年6月7日  21,575.26    2013-6-7
26    2013年6月10日  21,615.09   2013-6-10
27    2013年6月11日  21,354.66   2013-6-11
28    2013年6月13日  20,887.04   2013-6-13
29    2013年6月14日  20,969.14   2013-6-14
..           ...        ...         ...
628  2015年11月18日  22,188.26  2015-11-18
629  2015年11月19日  22,500.22  2015-11-19
630  2015年11月20日  22,754.72  2015-11-20
631  2015年11月23日  22,665.90  2015-11-23
632  2015年11月24日  22,587.63  2015-11-24
633  2015年11月25日  22,498.00  2015-11-25
634  2015年11月26日  22,488.94  2015-11-26
635  2015年11月27日  22,068.32  2015-11-27
636  2015年11月30日  21,996.42  2015-11-30
637   2015年12月1日  22,381.35   2015-12-1
638   2015年12月2日  22,479.69   2015-12-2
639   2015年12月3日  22,417.01   2015-12-3
640   2015年12月4日  22,235.89   2015-12-4
641   2015年12月7日  22,203.22   2015-12-7
642   2015年12月8日  21,905.13   2015-12-8
643   2015年12月9日  21,803.76   2015-12-9
644  2015年12月10日  21,704.61  2015-12-10
645  2015年12月11日  21,464.05  2015-12-11
646  2015年12月14日  21,309.85  2015-12-14
647  2015年12月15日  21,274.37  2015-12-15
648  2015年12月16日  21,701.21  2015-12-16
649  2015年12月17日  21,872.06  2015-12-17
650  2015年12月18日  21,755.56  2015-12-18
651  2015年12月21日  21,791.68  2015-12-21
652  2015年12月22日  21,830.02  2015-12-22
653  2015年12月23日  22,040.59  2015-12-23
654  2015年12月24日  22,138.13  2015-12-24
655  2015年12月28日  21,919.62  2015-12-28
656  2015年12月29日  21,999.62  2015-12-29
657  2015年12月30日  21,882.15  2015-12-30

[658 rows x 3 columns]

In [68]:
df.drop('date',axis=1, inplace=True)

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [70]:
df.index = df.date2

In [72]:
df.index

Index(['2013-5-2', '2013-5-3', '2013-5-6', '2013-5-7', '2013-5-8', '2013-5-9',
       '2013-5-10', '2013-5-13', '2013-5-14', '2013-5-15',
       ...
       '2015-12-16', '2015-12-17', '2015-12-18', '2015-12-21', '2015-12-22',
       '2015-12-23', '2015-12-24', '2015-12-28', '2015-12-29', '2015-12-30'],
      dtype='object', name='date2', length=658)

In [73]:
pd.to_datetime(df.index)

DatetimeIndex(['2013-05-02', '2013-05-03', '2013-05-06', '2013-05-07',
               '2013-05-08', '2013-05-09', '2013-05-10', '2013-05-13',
               '2013-05-14', '2013-05-15',
               ...
               '2015-12-16', '2015-12-17', '2015-12-18', '2015-12-21',
               '2015-12-22', '2015-12-23', '2015-12-24', '2015-12-28',
               '2015-12-29', '2015-12-30'],
              dtype='datetime64[ns]', name='date2', length=658, freq=None)

In [75]:
df.columns = ['index','date']

In [77]:
df.drop('date',axis=1, inplace=True)
df

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                index
date2
2013-5-2    22,668.30
2013-5-3    22,689.96
2013-5-6    22,915.09
2013-5-7    23,047.09
2013-5-8    23,244.35
2013-5-9    23,211.48
2013-5-10   23,321.22
2013-5-13   22,989.81
2013-5-14   22,930.28
2013-5-15   23,044.24
2013-5-16   23,082.68
2013-5-20   23,493.03
2013-5-21   23,366.37
2013-5-22   23,261.08
2013-5-23   22,669.68
2013-5-24   22,618.67
2013-5-27   22,686.05
2013-5-28   22,924.25
2013-5-29   22,554.93
2013-5-30   22,484.31
2013-5-31   22,392.16
2013-6-3    22,282.19
2013-6-4    22,285.52
2013-6-5    22,069.24
2013-6-6    21,838.43
2013-6-7    21,575.26
2013-6-10   21,615.09
2013-6-11   21,354.66
2013-6-13   20,887.04
2013-6-14   20,969.14
...               ...
2015-11-18  22,188.26
2015-11-19  22,500.22
2015-11-20  22,754.72
2015-11-23  22,665.90
2015-11-24  22,587.63
2015-11-25  22,498.00
2015-11-26  22,488.94
2015-11-27  22,068.32
2015-11-30  21,996.42
2015-12-1   22,381.35
2015-12-2   22,479.69
2015-12-3   22,417.01
2015-12-4   22,235.89
2015-12-7   22,203.22
2015-12-8   21,905.13
2015-12-9   21,803.76
2015-12-10  21,704.61
2015-12-11  21,464.05
2015-12-14  21,309.85
2015-12-15  21,274.37
2015-12-16  21,701.21
2015-12-17  21,872.06
2015-12-18  21,755.56
2015-12-21  21,791.68
2015-12-22  21,830.02
2015-12-23  22,040.59
2015-12-24  22,138.13
2015-12-28  21,919.62
2015-12-29  21,999.62
2015-12-30  21,882.15

[658 rows x 1 columns]

In [89]:
df.columns = ['hsi_index']

In [90]:
df

            hsi_index
date2
2013-5-2    22,668.30
2013-5-3    22,689.96
2013-5-6    22,915.09
2013-5-7    23,047.09
2013-5-8    23,244.35
2013-5-9    23,211.48
2013-5-10   23,321.22
2013-5-13   22,989.81
2013-5-14   22,930.28
2013-5-15   23,044.24
2013-5-16   23,082.68
2013-5-20   23,493.03
2013-5-21   23,366.37
2013-5-22   23,261.08
2013-5-23   22,669.68
2013-5-24   22,618.67
2013-5-27   22,686.05
2013-5-28   22,924.25
2013-5-29   22,554.93
2013-5-30   22,484.31
2013-5-31   22,392.16
2013-6-3    22,282.19
2013-6-4    22,285.52
2013-6-5    22,069.24
2013-6-6    21,838.43
2013-6-7    21,575.26
2013-6-10   21,615.09
2013-6-11   21,354.66
2013-6-13   20,887.04
2013-6-14   20,969.14
...               ...
2015-11-18  22,188.26
2015-11-19  22,500.22
2015-11-20  22,754.72
2015-11-23  22,665.90
2015-11-24  22,587.63
2015-11-25  22,498.00
2015-11-26  22,488.94
2015-11-27  22,068.32
2015-11-30  21,996.42
2015-12-1   22,381.35
2015-12-2   22,479.69
2015-12-3   22,417.01
2015-12-4   22,235.89
2015-12-7   22,203.22
2015-12-8   21,905.13
2015-12-9   21,803.76
2015-12-10  21,704.61
2015-12-11  21,464.05
2015-12-14  21,309.85
2015-12-15  21,274.37
2015-12-16  21,701.21
2015-12-17  21,872.06
2015-12-18  21,755.56
2015-12-21  21,791.68
2015-12-22  21,830.02
2015-12-23  22,040.59
2015-12-24  22,138.13
2015-12-28  21,919.62
2015-12-29  21,999.62
2015-12-30  21,882.15

[658 rows x 1 columns]

In [102]:
df

            hsi_index
date2
2013-5-2    22,668.30
2013-5-3    22,689.96
2013-5-6    22,915.09
2013-5-7    23,047.09
2013-5-8    23,244.35
2013-5-9    23,211.48
2013-5-10   23,321.22
2013-5-13   22,989.81
2013-5-14   22,930.28
2013-5-15   23,044.24
2013-5-16   23,082.68
2013-5-20   23,493.03
2013-5-21   23,366.37
2013-5-22   23,261.08
2013-5-23   22,669.68
2013-5-24   22,618.67
2013-5-27   22,686.05
2013-5-28   22,924.25
2013-5-29   22,554.93
2013-5-30   22,484.31
2013-5-31   22,392.16
2013-6-3    22,282.19
2013-6-4    22,285.52
2013-6-5    22,069.24
2013-6-6    21,838.43
2013-6-7    21,575.26
2013-6-10   21,615.09
2013-6-11   21,354.66
2013-6-13   20,887.04
2013-6-14   20,969.14
...               ...
2015-11-18  22,188.26
2015-11-19  22,500.22
2015-11-20  22,754.72
2015-11-23  22,665.90
2015-11-24  22,587.63
2015-11-25  22,498.00
2015-11-26  22,488.94
2015-11-27  22,068.32
2015-11-30  21,996.42
2015-12-1   22,381.35
2015-12-2   22,479.69
2015-12-3   22,417.01
2015-12-4   22,235.89
2015-12-7   22,203.22
2015-12-8   21,905.13
2015-12-9   21,803.76
2015-12-10  21,704.61
2015-12-11  21,464.05
2015-12-14  21,309.85
2015-12-15  21,274.37
2015-12-16  21,701.21
2015-12-17  21,872.06
2015-12-18  21,755.56
2015-12-21  21,791.68
2015-12-22  21,830.02
2015-12-23  22,040.59
2015-12-24  22,138.13
2015-12-28  21,919.62
2015-12-29  21,999.62
2015-12-30  21,882.15

[658 rows x 1 columns]

In [109]:
df

            hsi_index
date2
2013-5-2    22,668.30
2013-5-3    22,689.96
2013-5-6    22,915.09
2013-5-7    23,047.09
2013-5-8    23,244.35
2013-5-9    23,211.48
2013-5-10   23,321.22
2013-5-13   22,989.81
2013-5-14   22,930.28
2013-5-15   23,044.24
2013-5-16   23,082.68
2013-5-20   23,493.03
2013-5-21   23,366.37
2013-5-22   23,261.08
2013-5-23   22,669.68
2013-5-24   22,618.67
2013-5-27   22,686.05
2013-5-28   22,924.25
2013-5-29   22,554.93
2013-5-30   22,484.31
2013-5-31   22,392.16
2013-6-3    22,282.19
2013-6-4    22,285.52
2013-6-5    22,069.24
2013-6-6    21,838.43
2013-6-7    21,575.26
2013-6-10   21,615.09
2013-6-11   21,354.66
2013-6-13   20,887.04
2013-6-14   20,969.14
...               ...
2015-11-18  22,188.26
2015-11-19  22,500.22
2015-11-20  22,754.72
2015-11-23  22,665.90
2015-11-24  22,587.63
2015-11-25  22,498.00
2015-11-26  22,488.94
2015-11-27  22,068.32
2015-11-30  21,996.42
2015-12-1   22,381.35
2015-12-2   22,479.69
2015-12-3   22,417.01
2015-12-4   22,235.89
2015-12-7   22,203.22
2015-12-8   21,905.13
2015-12-9   21,803.76
2015-12-10  21,704.61
2015-12-11  21,464.05
2015-12-14  21,309.85
2015-12-15  21,274.37
2015-12-16  21,701.21
2015-12-17  21,872.06
2015-12-18  21,755.56
2015-12-21  21,791.68
2015-12-22  21,830.02
2015-12-23  22,040.59
2015-12-24  22,138.13
2015-12-28  21,919.62
2015-12-29  21,999.62
2015-12-30  21,882.15

[658 rows x 1 columns]

In [114]:
pd.to_numeric(df.hsi_index)

ValueError: Unable to parse string "22,668.30" at position 0

In [130]:
sr2 = df.hsi_index.str.replace(",","")

In [132]:
sr2 = pd.to_numeric(sr2)

In [133]:
sr2

date2
2013-5-2      22668.30
2013-5-3      22689.96
2013-5-6      22915.09
2013-5-7      23047.09
2013-5-8      23244.35
2013-5-9      23211.48
2013-5-10     23321.22
2013-5-13     22989.81
2013-5-14     22930.28
2013-5-15     23044.24
2013-5-16     23082.68
2013-5-20     23493.03
2013-5-21     23366.37
2013-5-22     23261.08
2013-5-23     22669.68
2013-5-24     22618.67
2013-5-27     22686.05
2013-5-28     22924.25
2013-5-29     22554.93
2013-5-30     22484.31
2013-5-31     22392.16
2013-6-3      22282.19
2013-6-4      22285.52
2013-6-5      22069.24
2013-6-6      21838.43
2013-6-7      21575.26
2013-6-10     21615.09
2013-6-11     21354.66
2013-6-13     20887.04
2013-6-14     20969.14
                ...
2015-11-18    22188.26
2015-11-19    22500.22
2015-11-20    22754.72
2015-11-23    22665.90
2015-11-24    22587.63
2015-11-25    22498.00
2015-11-26    22488.94
2015-11-27    22068.32
2015-11-30    21996.42
2015-12-1     22381.35
2015-12-2     22479.69
2015-12-3     22417.01
2015-12-4     22235.89
2015-12-7     22203.22
2015-12-8     21905.13
2015-12-9     21803.76
2015-12-10    21704.61
2015-12-11    21464.05
2015-12-14    21309.85
2015-12-15    21274.37
2015-12-16    21701.21
2015-12-17    21872.06
2015-12-18    21755.56
2015-12-21    21791.68
2015-12-22    21830.02
2015-12-23    22040.59
2015-12-24    22138.13
2015-12-28    21919.62
2015-12-29    21999.62
2015-12-30    21882.15
Name: hsi_index, Length: 658, dtype: float64

In [134]:
df1 = pd.DataFrame([sr2])

In [136]:
df1 = df1.T

In [137]:
df1

            hsi_index
date2
2013-5-2     22668.30
2013-5-3     22689.96
2013-5-6     22915.09
2013-5-7     23047.09
2013-5-8     23244.35
2013-5-9     23211.48
2013-5-10    23321.22
2013-5-13    22989.81
2013-5-14    22930.28
2013-5-15    23044.24
2013-5-16    23082.68
2013-5-20    23493.03
2013-5-21    23366.37
2013-5-22    23261.08
2013-5-23    22669.68
2013-5-24    22618.67
2013-5-27    22686.05
2013-5-28    22924.25
2013-5-29    22554.93
2013-5-30    22484.31
2013-5-31    22392.16
2013-6-3     22282.19
2013-6-4     22285.52
2013-6-5     22069.24
2013-6-6     21838.43
2013-6-7     21575.26
2013-6-10    21615.09
2013-6-11    21354.66
2013-6-13    20887.04
2013-6-14    20969.14
...               ...
2015-11-18   22188.26
2015-11-19   22500.22
2015-11-20   22754.72
2015-11-23   22665.90
2015-11-24   22587.63
2015-11-25   22498.00
2015-11-26   22488.94
2015-11-27   22068.32
2015-11-30   21996.42
2015-12-1    22381.35
2015-12-2    22479.69
2015-12-3    22417.01
2015-12-4    22235.89
2015-12-7    22203.22
2015-12-8    21905.13
2015-12-9    21803.76
2015-12-10   21704.61
2015-12-11   21464.05
2015-12-14   21309.85
2015-12-15   21274.37
2015-12-16   21701.21
2015-12-17   21872.06
2015-12-18   21755.56
2015-12-21   21791.68
2015-12-22   21830.02
2015-12-23   22040.59
2015-12-24   22138.13
2015-12-28   21919.62
2015-12-29   21999.62
2015-12-30   21882.15

[658 rows x 1 columns]

In [144]:
df1['rate'] = (df1.hsi_index - df1.hsi_index.shift(1))/df1.hsi_index.shift(1)

In [145]:
df1

            hsi_index      rate
date2
2013-5-2     22668.30       NaN
2013-5-3     22689.96  0.000956
2013-5-6     22915.09  0.009922
2013-5-7     23047.09  0.005760
2013-5-8     23244.35  0.008559
2013-5-9     23211.48 -0.001414
2013-5-10    23321.22  0.004728
2013-5-13    22989.81 -0.014211
2013-5-14    22930.28 -0.002589
2013-5-15    23044.24  0.004970
2013-5-16    23082.68  0.001668
2013-5-20    23493.03  0.017777
2013-5-21    23366.37 -0.005391
2013-5-22    23261.08 -0.004506
2013-5-23    22669.68 -0.025424
2013-5-24    22618.67 -0.002250
2013-5-27    22686.05  0.002979
2013-5-28    22924.25  0.010500
2013-5-29    22554.93 -0.016110
2013-5-30    22484.31 -0.003131
2013-5-31    22392.16 -0.004098
2013-6-3     22282.19 -0.004911
2013-6-4     22285.52  0.000149
2013-6-5     22069.24 -0.009705
2013-6-6     21838.43 -0.010458
2013-6-7     21575.26 -0.012051
2013-6-10    21615.09  0.001846
2013-6-11    21354.66 -0.012049
2013-6-13    20887.04 -0.021898
2013-6-14    20969.14  0.003931
...               ...       ...
2015-11-18   22188.26 -0.003413
2015-11-19   22500.22  0.014060
2015-11-20   22754.72  0.011311
2015-11-23   22665.90 -0.003903
2015-11-24   22587.63 -0.003453
2015-11-25   22498.00 -0.003968
2015-11-26   22488.94 -0.000403
2015-11-27   22068.32 -0.018703
2015-11-30   21996.42 -0.003258
2015-12-1    22381.35  0.017500
2015-12-2    22479.69  0.004394
2015-12-3    22417.01 -0.002788
2015-12-4    22235.89 -0.008080
2015-12-7    22203.22 -0.001469
2015-12-8    21905.13 -0.013426
2015-12-9    21803.76 -0.004628
2015-12-10   21704.61 -0.004547
2015-12-11   21464.05 -0.011083
2015-12-14   21309.85 -0.007184
2015-12-15   21274.37 -0.001665
2015-12-16   21701.21  0.020064
2015-12-17   21872.06  0.007873
2015-12-18   21755.56 -0.005326
2015-12-21   21791.68  0.001660
2015-12-22   21830.02  0.001759
2015-12-23   22040.59  0.009646
2015-12-24   22138.13  0.004425
2015-12-28   21919.62 -0.009870
2015-12-29   21999.62  0.003650
2015-12-30   21882.15 -0.005340

[658 rows x 2 columns]

In [146]:
df1.to_hdf('hsi_rate','df')