In [58]:
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta
df = pd.read_hdf('C:/Users/Administrator/Desktop/Work/Projects/Autocall/new_HS300.h5')
dft = df['2017-03-15' : '2017-04-15']

def get_obs_days(dt):
    dt = pd.to_datetime(dt)
    a = dt + relativedelta(months=1)
    b = dt + relativedelta(months=2)
    c = dt + relativedelta(months=3)
    d = dt + relativedelta(months=4)
    e = dt + relativedelta(months=5)
    f = dt + relativedelta(months=6)
    g = dt + relativedelta(months=7)
    l = [a,b,c,d,e,f,g]
    return l

def split_df(df,dt):
    dt = pd.to_datetime(dt)
    l = get_obs_days(dt)
    df1 = df[dt:l[0]] 
    df2 = df[l[0]:l[1]]
    df3 = df[l[1]:l[2]]
    df4 = df[l[2]:l[3]]
    df5 = df[l[3]:l[4]]
    df6 = df[l[4]:l[5]]
    df7 = df[l[5]:l[6]]
    list = [df1,df2,df3,df4,df5,df6,df7]
    return list

In [41]:
lis = split_df(df,'2017-03-15')
lis

[               close
 date
 2017-03-15  3463.644
 2017-03-16  3481.507
 2017-03-17  3445.805
 2017-03-20  3449.613
 2017-03-21  3466.347
 2017-03-22  3450.050
 2017-03-23  3461.978
 2017-03-24  3489.600
 2017-03-27  3478.039
 2017-03-28  3469.809
 2017-03-29  3465.193
 2017-03-30  3436.758
 2017-03-31  3456.046
 2017-04-05  3503.893
 2017-04-06  3514.047
 2017-04-07  3517.463
 2017-04-10  3505.139
 2017-04-11  3517.328
 2017-04-12  3509.439
 2017-04-13  3514.566
 2017-04-14  3486.505,                close
 date
 2017-04-17  3479.942
 2017-04-18  3462.743
 2017-04-19  3445.876
 2017-04-20  3461.548
 2017-04-21  3466.787
 2017-04-24  3431.259
 2017-04-25  3440.974
 2017-04-26  3445.183
 2017-04-27  3446.720
 2017-04-28  3439.753
 2017-05-02  3426.577
 2017-05-03  3413.128
 2017-05-04  3404.386
 2017-05-05  3382.550
 2017-05-08  3358.813
 2017-05-09  3352.532
 2017-05-10  3337.701
 2017-05-11  3356.646
 2017-05-12  3385.379
 2017-05-15  3399.194,                close
 date
 2017-05-15  3399.194
 2017-05-16  3428.649
 2017-05-17  3409.966
 2017-05-18  3398.113
 2017-05-19  3403.849
 2017-05-22  3411.239
 2017-05-23  3424.194
 2017-05-24  3424.167
 2017-05-25  3485.658
 2017-05-26  3480.434
 2017-05-31  3492.885
 2017-06-01  3497.738
 2017-06-02  3486.507
 2017-06-05  3468.754
 2017-06-06  3492.882
 2017-06-07  3533.872
 2017-06-08  3560.979
 2017-06-09  3576.170
 2017-06-12  3574.389
 2017-06-13  3582.267
 2017-06-14  3535.299
 2017-06-15  3528.793,                close
 date
 2017-06-15  3528.793
 2017-06-16  3518.761
 2017-06-19  3553.665
 2017-06-20  3546.494
 2017-06-21  3587.955
 2017-06-22  3590.343
 2017-06-23  3622.883
 2017-06-26  3668.092
 2017-06-27  3674.715
 2017-06-28  3646.167
 2017-06-29  3668.828
 2017-06-30  3666.798
 2017-07-03  3650.846
 2017-07-04  3619.984
 2017-07-05  3659.680
 2017-07-06  3660.097
 2017-07-07  3655.929
 2017-07-10  3653.687
 2017-07-11  3670.809
 2017-07-12  3658.824
 2017-07-13  3686.921
 2017-07-14  3703.094,                close
 date
 2017-07-17  3663.557
 2017-07-18  3667.181
 2017-07-19  3729.747
 2017-07-20  3747.884
 2017-07-21  3728.598
 2017-07-24  3743.469
 2017-07-25  3719.559
 2017-07-26  3705.388
 2017-07-27  3712.195
 2017-07-28  3721.891
 2017-07-31  3737.873
 2017-08-01  3770.383
 2017-08-02  3760.853
 2017-08-03  3727.826
 2017-08-04  3707.580
 2017-08-07  3726.795
 2017-08-08  3732.213
 2017-08-09  3731.044
 2017-08-10  3715.921
 2017-08-11  3647.350
 2017-08-14  3694.683
 2017-08-15  3706.057,                close
 date
 2017-08-15  3706.057
 2017-08-16  3701.421
 2017-08-17  3721.277
 2017-08-18  3724.675
 2017-08-21  3740.994
 2017-08-22  3752.298
 2017-08-23  3756.088
 2017-08-24  3734.646
 2017-08-25  3795.754
 2017-08-28  3842.712
 2017-08-29  3834.538
 2017-08-30  3834.300
 2017-08-31  3822.093
 2017-09-01  3830.538
 2017-09-04  3845.616
 2017-09-05  3857.046
 2017-09-06  3849.450
 2017-09-07  3829.871
 2017-09-08  3825.990
 2017-09-11  3825.645
 2017-09-12  3837.934
 2017-09-13  3842.606
 2017-09-14  3829.955
 2017-09-15  3831.296,                close
 date
 2017-09-15  3831.296
 2017-09-18  3843.143
 2017-09-19  3832.116
 2017-09-20  3842.435
 2017-09-21  3837.818
 2017-09-22  3837.730
 2017-09-25  3817.791
 2017-09-26  3820.782
 2017-09-27  3821.200
 2017-09-28  3822.539
 2017-09-29  3836.501
 2017-10-09  3882.208
 2017-10-10  3889.864
 2017-10-11  3902.687
 2017-10-12  3912.954
 2017-10-13  3921.002]

In [42]:
ob = get_obs_days('2017-03-15')
ob

[Timestamp('2017-04-15 00:00:00'),
 Timestamp('2017-05-15 00:00:00'),
 Timestamp('2017-06-15 00:00:00'),
 Timestamp('2017-07-15 00:00:00'),
 Timestamp('2017-08-15 00:00:00'),
 Timestamp('2017-09-15 00:00:00'),
 Timestamp('2017-10-15 00:00:00')]

In [34]:
if ob[0] in lis[0].index:
    print ('Hi')
else:
    ob[0] = lis[0+1][0:1].index
    print (ob[0])

DatetimeIndex(['2017-04-17'], dtype='datetime64[ns]', name='date', freq=None)

In [43]:
for i in range(6):
    if ob[i] in lis[i].index:
        print ('No change')
    else:
        ob[i] = lis[i+1][0:1].index
        print ('Next trade_day')
ob

Next trade_day
No change
No change
Next trade_day
No change
No change

[DatetimeIndex(['2017-04-17'], dtype='datetime64[ns]', name='date', freq=None),
 Timestamp('2017-05-15 00:00:00'),
 Timestamp('2017-06-15 00:00:00'),
 DatetimeIndex(['2017-07-17'], dtype='datetime64[ns]', name='date', freq=None),
 Timestamp('2017-08-15 00:00:00'),
 Timestamp('2017-09-15 00:00:00'),
 Timestamp('2017-10-15 00:00:00')]

In [48]:
lam = [0,1,2,3,4,5,6,7]

In [50]:
lam[:-1]

[0, 1, 2, 3, 4, 5, 6]

In [54]:
ob[3]

DatetimeIndex(['2017-07-17'], dtype='datetime64[ns]', name='date', freq=None)