In [94]:
import QuantLib as ql
import matplotlib.pyplot as plt

In [3]:
import pyfolio as pf

In [1]:
import tushare as ts

In [25]:
import pandas as pd

获取沪深300成份股，保存为list

In [98]:
df50 = ts.get_sz50s()
df50 = df50.sort_values('code')
list50 =[]
for i in df50.code:
    list50.append(i)
list50

['600000',
 '600016',
 '600028',
 '600029',
 '600030',
 '600036',
 '600048',
 '600050',
 '600100',
 '600104',
 '600111',
 '600340',
 '600485',
 '600518',
 '600519',
 '600547',
 '600606',
 '600837',
 '600887',
 '600919',
 '600958',
 '600999',
 '601006',
 '601088',
 '601166',
 '601169',
 '601186',
 '601198',
 '601211',
 '601229',
 '601288',
 '601318',
 '601328',
 '601336',
 '601390',
 '601398',
 '601601',
 '601628',
 '601668',
 '601688',
 '601766',
 '601788',
 '601800',
 '601818',
 '601857',
 '601881',
 '601901',
 '601985',
 '601988',
 '601989']

In [99]:
len(list50)

50

In [100]:
ts.get_k_data(list50[6], ktype='D', autype='qfq', start='2016-01-01',end='2017-11-06')

           date    open   close    high     low     volume    code
0    2016-01-04   9.912   8.961   9.931   8.933   997359.0  600048
1    2016-01-05   8.719   9.194   9.353   8.625  1475344.0  600048
2    2016-01-06   9.157   9.334   9.381   9.017   834873.0  600048
3    2016-01-07   9.204   8.458   9.204   8.420   197016.0  600048
4    2016-01-08   8.700   8.849   9.073   8.420  1365459.0  600048
5    2016-01-11   8.691   8.243   8.868   8.122  1109567.0  600048
6    2016-01-12   8.290   8.383   8.644   8.140   908442.0  600048
7    2016-01-13   8.411   8.271   8.719   8.206   834199.0  600048
8    2016-01-14   8.094   8.523   8.560   7.898   871819.0  600048
9    2016-01-15   8.411   8.010   8.476   7.907   932798.0  600048
10   2016-01-18   7.879   8.029   8.178   7.833   476750.0  600048
11   2016-01-19   8.038   8.728   8.831   7.973  1458332.0  600048
12   2016-01-20   8.588   8.346   8.719   8.271   975444.0  600048
13   2016-01-21   8.252   8.215   8.588   8.140   649063.0  600048
14   2016-01-22   8.299   8.402   8.467   8.206   570343.0  600048
15   2016-01-25   8.411   8.495   8.597   8.364   536430.0  600048
16   2016-01-26   8.402   7.945   8.672   7.842   867636.0  600048
17   2016-01-27   8.038   8.159   8.318   7.851   935531.0  600048
18   2016-01-28   8.075   7.805   8.271   7.777   617196.0  600048
19   2016-01-29   7.833   8.122   8.224   7.823   569227.0  600048
20   2016-02-01   8.140   8.019   8.196   7.805   464262.0  600048
21   2016-02-02   8.019   8.430   8.616   7.973   925311.0  600048
22   2016-02-03   8.458   8.523   8.747   8.280  1290089.0  600048
23   2016-02-04   8.448   8.467   8.579   8.355   965402.0  600048
24   2016-02-05   8.513   8.392   8.551   8.383   554373.0  600048
25   2016-02-15   8.113   8.215   8.271   8.057   766791.0  600048
26   2016-02-16   8.262   8.439   8.495   8.206   740476.0  600048
27   2016-02-17   8.420   8.467   8.467   8.299   975842.0  600048
28   2016-02-18   8.532   8.579   8.840   8.458  1097629.0  600048
29   2016-02-19   8.523   8.439   8.588   8.336   713906.0  600048
..          ...     ...     ...     ...     ...        ...     ...
412  2017-09-19  11.510  11.590  12.010  11.460  1824444.0  600048
413  2017-09-20  11.580  11.290  11.630  11.260  1233089.0  600048
414  2017-09-21  11.330  11.330  11.490  11.250   904678.0  600048
415  2017-09-22  11.320  11.310  11.530  11.210   660406.0  600048
416  2017-09-25  11.010  10.570  11.030  10.530  1586831.0  600048
417  2017-09-26  10.590  10.650  10.790  10.540   538439.0  600048
418  2017-09-27  10.710  10.770  10.780  10.580   477418.0  600048
419  2017-09-28  10.770  10.440  10.790  10.410   835400.0  600048
420  2017-09-29  10.480  10.400  10.530  10.330   501572.0  600048
421  2017-10-09  10.700  10.540  10.820  10.520  1109989.0  600048
422  2017-10-10  10.590  10.460  10.630  10.400   779299.0  600048
423  2017-10-11  10.490  10.440  10.590  10.370   747032.0  600048
424  2017-10-12  10.450  10.320  10.450  10.230   784082.0  600048
425  2017-10-13  10.320  10.270  10.380  10.240   656982.0  600048
426  2017-10-16  10.310  10.180  10.340  10.170   575364.0  600048
427  2017-10-17  10.170  10.220  10.250  10.140   400655.0  600048
428  2017-10-18  10.220  10.250  10.270  10.180   412372.0  600048
429  2017-10-19  10.260  10.260  10.360  10.200   572950.0  600048
430  2017-10-20  10.270  10.370  10.370  10.220   413278.0  600048
431  2017-10-23  10.370  10.490  10.540  10.310   677982.0  600048
432  2017-10-24  10.650  10.800  10.890  10.530  1273236.0  600048
433  2017-10-25  10.830  10.860  11.150  10.800   976386.0  600048
434  2017-10-26  10.810  10.640  10.950  10.560  1173307.0  600048
435  2017-10-27  10.700  10.640  10.920  10.510  1294170.0  600048
436  2017-10-30  10.620  10.770  10.780  10.530  1268822.0  600048
437  2017-10-31  10.790  10.890  10.920  10.670   970244.0  600048
438  2017-11-01  10.910  10.770  11.210  10.710  1738450.0  600048
439  2017-11-02  10.700  10.830  10.890  10.650   835856.0  600048
440  2017-11-03  10.800  10.660  10.830  10.430   998392.0  600048
441  2017-11-06  10.580  10.380  10.640  10.280   822979.0  600048

[442 rows x 7 columns]

In [101]:
dataset =[]
stock = []
for i in list50:
    df = ts.get_k_data(i, ktype='D', autype='qfq', start='2016-01-01',end='2017-11-06')
    df.index = df.date
    df.drop('date',axis=1,inplace=True)
    df.drop('open',axis=1,inplace=True)
    df.drop('high',axis=1,inplace=True)
    df.drop('low',axis=1,inplace=True)
    df.drop('volume',axis=1,inplace=True)
    df.drop('code',axis=1,inplace=True)
    if len(df) ==449:
        stock.append(i)
        dataset.append(df)
stock

['600016',
 '600028',
 '600030',
 '600036',
 '600104',
 '600111',
 '600519',
 '600606',
 '600837',
 '600999',
 '601006',
 '601186',
 '601198',
 '601211',
 '601288',
 '601318',
 '601328',
 '601336',
 '601390',
 '601398',
 '601601',
 '601628',
 '601668',
 '601688',
 '601788',
 '601800',
 '601857',
 '601985',
 '601988']

In [102]:
len(stock)

29

In [103]:
for i in range(len(dataset)):
    m = stock[i]
    dataset[i].to_csv('%s.csv'%m)

In [34]:
len(dataset[0])

IndexError: list index out of range

In [26]:
date = ql.Date(8,11,2017)
print (date)

November 8th, 2017

In [27]:
date.dayOfYear()

312

In [30]:
date.weekday()==ql.Tuesday

False

In [34]:
date.weekday()

4

In [35]:
date+1

Date(9,11,2017)

In [41]:
date + ql.Period(1, ql.Months)

Date(8,12,2017)

In [43]:
date +ql.Period(1, ql.Weeks)

Date(15,11,2017)

In [47]:
ql.Date(31,10,2017) == ql.Date(3,11,2017)

False

In [59]:
date1 = ql.Date(1,5,2017)
date2 = ql.Date(1,9,2017)

In [60]:
tenor = ql.Period(ql.Monthly)
calendar = ql.China()
schedule = ql.Schedule(date1, date2, tenor, calendar, ql.Following, 
                       ql.Following, ql.DateGeneration.Forward, False)

In [61]:
list(schedule)

[Date(2,5,2017),
 Date(1,6,2017),
 Date(3,7,2017),
 Date(1,8,2017),
 Date(1,9,2017)]

In [87]:
annualRate = 0.10
dayCount = ql.ActualActual()
compoundType = ql.Compounded
frequency = ql.Annual
interesRate = ql.InterestRate(annualRate, dayCount, compoundType, frequency)

In [92]:
interesRate.compoundFactor(15.0)

4.177248169415656

In [85]:
interesRate.discountFactor(10)

0.6139132535407591

In [96]:
maturity_date =ql.Date(11, 8, 2017)
spot_price = 9.37
strike_price = 10.00
volatility =0.20
risk_free_rate = 0.001
dividend_rate = 0.01
option_type = ql.Option.Call

In [97]:
day_count = ql.Actual365Fixed()
calendar = ql.UnitedStates()
calculation_date = ql.Date(11,5,2017)
ql.Settings.instance().evaluationDate = calculation_date

In [106]:
payoff = ql.PlainVanillaPayoff(option_type, strike_price)
exercise = ql.EuropeanExercise(maturity_date)
european_option = ql.VanillaOption(payoff, exercise)
spot_handle = ql.QuoteHandle(  
    ql.SimpleQuote(spot_price)  
)  
flat_ts = ql.YieldTermStructureHandle(  
    ql.FlatForward(calculation_date, risk_free_rate, day_count)  
)  
dividend_yield = ql.YieldTermStructureHandle(  
    ql.FlatForward(calculation_date, dividend_rate, day_count)  
)  
flat_vol_ts = ql.BlackVolTermStructureHandle(  
    ql.BlackConstantVol(calculation_date, calendar, volatility, day_count)  
)  
bsm_process = ql.BlackScholesMertonProcess(spot_handle,  
                                           dividend_yield,  
                                           flat_ts,  
                                           flat_vol_ts)

In [111]:
european_option.setPricingEngine(ql.AnalyticEuropeanEngine(bsm_process))  
bs_price = european_option.NPV()  
print ("The theoretical price is ", bs_price  )

The theoretical price is  0.1456012342250512