In [2]:
import pandas as pd

In [3]:
df = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\mergehsi\\merge_HSI.h5')
df

,instrument,type,month,trade_date,trade_time,price,vol
trade_datetime,,,,,,,
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,45
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,14
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,4
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
...,...,...,...,...,...,...,...
2015-11-30 16:14:55,HSI,F,1512,2015-11-30,16:14:55,21915.0,1
2015-11-30 16:14:55,HSI,F,1512,2015-11-30,16:14:55,21910.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21912.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21911.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21908.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21908.0,1
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21908.0,1
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21914.0,1
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21915.0,1
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21908.0,1
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,3
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,2
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,2
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,1
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,4
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21915.0,2
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21909.0,2
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21909.0,1
2015-11-30 16:14:59,HSI,F,1512,2015-11-30,16:14:59,21909.0,1
2015-11-30 16:14:59,HSI,F,1512,2015-11-30,16:14:59,21909.0,1

In [5]:
sr1 = df.resample('5min').vol.sum()
sr1

trade_datetime
2013-05-02 09:10:00     942.0
2013-05-02 09:15:00    3371.0
2013-05-02 09:20:00    1704.0
2013-05-02 09:25:00     849.0
2013-05-02 09:30:00    4696.0
2013-05-02 09:35:00    1761.0
2013-05-02 09:40:00    1314.0
2013-05-02 09:45:00    1156.0
2013-05-02 09:50:00    1581.0
2013-05-02 09:55:00    1176.0
2013-05-02 10:00:00     695.0
2013-05-02 10:05:00    1334.0
2013-05-02 10:10:00    1740.0
2013-05-02 10:15:00     918.0
2013-05-02 10:20:00     903.0
2013-05-02 10:25:00     448.0
2013-05-02 10:30:00     567.0
2013-05-02 10:35:00     678.0
2013-05-02 10:40:00     576.0
2013-05-02 10:45:00     877.0
2013-05-02 10:50:00     743.0
2013-05-02 10:55:00    1222.0
2013-05-02 11:00:00    1642.0
2013-05-02 11:05:00     745.0
2013-05-02 11:10:00     549.0
2013-05-02 11:15:00     367.0
2013-05-02 11:20:00     264.0
2013-05-02 11:25:00     368.0
2013-05-02 11:30:00     283.0
2013-05-02 11:35:00     185.0
                        ...
2015-11-30 13:45:00    2493.0
2015-11-30 13:50:00    1913.0
2015-11-30 13:55:00    1185.0
2015-11-30 14:00:00    1686.0
2015-11-30 14:05:00    1376.0
2015-11-30 14:10:00    1836.0
2015-11-30 14:15:00    2820.0
2015-11-30 14:20:00    2705.0
2015-11-30 14:25:00    1505.0
2015-11-30 14:30:00    1196.0
2015-11-30 14:35:00     823.0
2015-11-30 14:40:00    1568.0
2015-11-30 14:45:00     862.0
2015-11-30 14:50:00    1763.0
2015-11-30 14:55:00    1008.0
2015-11-30 15:00:00     850.0
2015-11-30 15:05:00    1137.0
2015-11-30 15:10:00    1429.0
2015-11-30 15:15:00     809.0
2015-11-30 15:20:00     922.0
2015-11-30 15:25:00     660.0
2015-11-30 15:30:00     967.0
2015-11-30 15:35:00    1116.0
2015-11-30 15:40:00     965.0
2015-11-30 15:45:00    1930.0
2015-11-30 15:50:00    2099.0
2015-11-30 15:55:00    5640.0
2015-11-30 16:00:00    2941.0
2015-11-30 16:05:00    1587.0
2015-11-30 16:10:00    1548.0
Freq: 5T, Name: vol, Length: 271381, dtype: float64

In [6]:
sr2 = df.resample('5min').price.first()
sr2

trade_datetime
2013-05-02 09:10:00    22574.0
2013-05-02 09:15:00    22575.0
2013-05-02 09:20:00    22532.0
2013-05-02 09:25:00    22549.0
2013-05-02 09:30:00    22277.0
2013-05-02 09:35:00    22436.0
2013-05-02 09:40:00    22481.0
2013-05-02 09:45:00    22476.0
2013-05-02 09:50:00    22457.0
2013-05-02 09:55:00    22467.0
2013-05-02 10:00:00    22458.0
2013-05-02 10:05:00    22464.0
2013-05-02 10:10:00    22509.0
2013-05-02 10:15:00    22524.0
2013-05-02 10:20:00    22513.0
2013-05-02 10:25:00    22508.0
2013-05-02 10:30:00    22513.0
2013-05-02 10:35:00    22487.0
2013-05-02 10:40:00    22494.0
2013-05-02 10:45:00    22520.0
2013-05-02 10:50:00    22521.0
2013-05-02 10:55:00    22536.0
2013-05-02 11:00:00    22577.0
2013-05-02 11:05:00    22583.0
2013-05-02 11:10:00    22571.0
2013-05-02 11:15:00    22569.0
2013-05-02 11:20:00    22556.0
2013-05-02 11:25:00    22559.0
2013-05-02 11:30:00    22570.0
2013-05-02 11:35:00    22574.0
                        ...
2015-11-30 13:45:00    22047.0
2015-11-30 13:50:00    22110.0
2015-11-30 13:55:00    22087.0
2015-11-30 14:00:00    22063.0
2015-11-30 14:05:00    22052.0
2015-11-30 14:10:00    22086.0
2015-11-30 14:15:00    22111.0
2015-11-30 14:20:00    22119.0
2015-11-30 14:25:00    22165.0
2015-11-30 14:30:00    22123.0
2015-11-30 14:35:00    22125.0
2015-11-30 14:40:00    22117.0
2015-11-30 14:45:00    22147.0
2015-11-30 14:50:00    22122.0
2015-11-30 14:55:00    22090.0
2015-11-30 15:00:00    22096.0
2015-11-30 15:05:00    22098.0
2015-11-30 15:10:00    22098.0
2015-11-30 15:15:00    22072.0
2015-11-30 15:20:00    22082.0
2015-11-30 15:25:00    22091.0
2015-11-30 15:30:00    22080.0
2015-11-30 15:35:00    22065.0
2015-11-30 15:40:00    22052.0
2015-11-30 15:45:00    22038.0
2015-11-30 15:50:00    22004.0
2015-11-30 15:55:00    22007.0
2015-11-30 16:00:00    21983.0
2015-11-30 16:05:00    21918.0
2015-11-30 16:10:00    21904.0
Freq: 5T, Name: price, Length: 271381, dtype: float64

In [7]:
sr3 = df.resample('5min').price.last()
sr3

trade_datetime
2013-05-02 09:10:00    22309.0
2013-05-02 09:15:00    22533.0
2013-05-02 09:20:00    22549.0
2013-05-02 09:25:00    22543.0
2013-05-02 09:30:00    22435.0
2013-05-02 09:35:00    22482.0
2013-05-02 09:40:00    22478.0
2013-05-02 09:45:00    22458.0
2013-05-02 09:50:00    22467.0
2013-05-02 09:55:00    22456.0
2013-05-02 10:00:00    22465.0
2013-05-02 10:05:00    22510.0
2013-05-02 10:10:00    22524.0
2013-05-02 10:15:00    22514.0
2013-05-02 10:20:00    22510.0
2013-05-02 10:25:00    22514.0
2013-05-02 10:30:00    22486.0
2013-05-02 10:35:00    22495.0
2013-05-02 10:40:00    22520.0
2013-05-02 10:45:00    22520.0
2013-05-02 10:50:00    22537.0
2013-05-02 10:55:00    22577.0
2013-05-02 11:00:00    22583.0
2013-05-02 11:05:00    22569.0
2013-05-02 11:10:00    22570.0
2013-05-02 11:15:00    22558.0
2013-05-02 11:20:00    22558.0
2013-05-02 11:25:00    22571.0
2013-05-02 11:30:00    22574.0
2013-05-02 11:35:00    22571.0
                        ...
2015-11-30 13:45:00    22109.0
2015-11-30 13:50:00    22086.0
2015-11-30 13:55:00    22065.0
2015-11-30 14:00:00    22051.0
2015-11-30 14:05:00    22086.0
2015-11-30 14:10:00    22112.0
2015-11-30 14:15:00    22120.0
2015-11-30 14:20:00    22165.0
2015-11-30 14:25:00    22123.0
2015-11-30 14:30:00    22124.0
2015-11-30 14:35:00    22116.0
2015-11-30 14:40:00    22148.0
2015-11-30 14:45:00    22123.0
2015-11-30 14:50:00    22091.0
2015-11-30 14:55:00    22095.0
2015-11-30 15:00:00    22099.0
2015-11-30 15:05:00    22097.0
2015-11-30 15:10:00    22073.0
2015-11-30 15:15:00    22084.0
2015-11-30 15:20:00    22090.0
2015-11-30 15:25:00    22081.0
2015-11-30 15:30:00    22066.0
2015-11-30 15:35:00    22051.0
2015-11-30 15:40:00    22038.0
2015-11-30 15:45:00    22003.0
2015-11-30 15:50:00    22006.0
2015-11-30 15:55:00    21983.0
2015-11-30 16:00:00    21917.0
2015-11-30 16:05:00    21902.0
2015-11-30 16:10:00    21909.0
Freq: 5T, Name: price, Length: 271381, dtype: float64

In [8]:
sr4 = df.resample('5min').price.max()
sr4

trade_datetime
2013-05-02 09:10:00    22574.0
2013-05-02 09:15:00    22580.0
2013-05-02 09:20:00    22567.0
2013-05-02 09:25:00    22560.0
2013-05-02 09:30:00    22551.0
2013-05-02 09:35:00    22485.0
2013-05-02 09:40:00    22500.0
2013-05-02 09:45:00    22476.0
2013-05-02 09:50:00    22477.0
2013-05-02 09:55:00    22471.0
2013-05-02 10:00:00    22471.0
2013-05-02 10:05:00    22513.0
2013-05-02 10:10:00    22548.0
2013-05-02 10:15:00    22534.0
2013-05-02 10:20:00    22519.0
2013-05-02 10:25:00    22519.0
2013-05-02 10:30:00    22517.0
2013-05-02 10:35:00    22509.0
2013-05-02 10:40:00    22525.0
2013-05-02 10:45:00    22545.0
2013-05-02 10:50:00    22552.0
2013-05-02 10:55:00    22577.0
2013-05-02 11:00:00    22604.0
2013-05-02 11:05:00    22592.0
2013-05-02 11:10:00    22573.0
2013-05-02 11:15:00    22573.0
2013-05-02 11:20:00    22573.0
2013-05-02 11:25:00    22572.0
2013-05-02 11:30:00    22579.0
2013-05-02 11:35:00    22577.0
                        ...
2015-11-30 13:45:00    22110.0
2015-11-30 13:50:00    22122.0
2015-11-30 13:55:00    22087.0
2015-11-30 14:00:00    22079.0
2015-11-30 14:05:00    22109.0
2015-11-30 14:10:00    22130.0
2015-11-30 14:15:00    22152.0
2015-11-30 14:20:00    22166.0
2015-11-30 14:25:00    22167.0
2015-11-30 14:30:00    22137.0
2015-11-30 14:35:00    22129.0
2015-11-30 14:40:00    22163.0
2015-11-30 14:45:00    22164.0
2015-11-30 14:50:00    22133.0
2015-11-30 14:55:00    22108.0
2015-11-30 15:00:00    22125.0
2015-11-30 15:05:00    22130.0
2015-11-30 15:10:00    22101.0
2015-11-30 15:15:00    22101.0
2015-11-30 15:20:00    22110.0
2015-11-30 15:25:00    22116.0
2015-11-30 15:30:00    22087.0
2015-11-30 15:35:00    22081.0
2015-11-30 15:40:00    22064.0
2015-11-30 15:45:00    22050.0
2015-11-30 15:50:00    22150.0
2015-11-30 15:55:00    22012.0
2015-11-30 16:00:00    21986.0
2015-11-30 16:05:00    22100.0
2015-11-30 16:10:00    21950.0
Freq: 5T, Name: price, Length: 271381, dtype: float64

In [9]:
sr5 = df.resample('5min').price.min()
sr5

trade_datetime
2013-05-02 09:10:00    22309.0
2013-05-02 09:15:00    22132.0
2013-05-02 09:20:00    22120.0
2013-05-02 09:25:00    22165.0
2013-05-02 09:30:00    22036.0
2013-05-02 09:35:00    22080.0
2013-05-02 09:40:00    22096.0
2013-05-02 09:45:00    22069.0
2013-05-02 09:50:00    22059.0
2013-05-02 09:55:00    22202.0
2013-05-02 10:00:00    22185.0
2013-05-02 10:05:00    22095.0
2013-05-02 10:10:00    22140.0
2013-05-02 10:15:00    22143.0
2013-05-02 10:20:00    22245.0
2013-05-02 10:25:00    22242.0
2013-05-02 10:30:00    22245.0
2013-05-02 10:35:00    22230.0
2013-05-02 10:40:00    22243.0
2013-05-02 10:45:00    22138.0
2013-05-02 10:50:00    22280.0
2013-05-02 10:55:00    22170.0
2013-05-02 11:00:00    22198.0
2013-05-02 11:05:00    22190.0
2013-05-02 11:10:00    22190.0
2013-05-02 11:15:00    22305.0
2013-05-02 11:20:00    22555.0
2013-05-02 11:25:00    22298.0
2013-05-02 11:30:00    22190.0
2013-05-02 11:35:00    22567.0
                        ...
2015-11-30 13:45:00    22045.0
2015-11-30 13:50:00    22073.0
2015-11-30 13:55:00    22051.0
2015-11-30 14:00:00    22034.0
2015-11-30 14:05:00    22044.0
2015-11-30 14:10:00    21760.0
2015-11-30 14:15:00    22105.0
2015-11-30 14:20:00    21797.0
2015-11-30 14:25:00    22110.0
2015-11-30 14:30:00    22100.0
2015-11-30 14:35:00    22109.0
2015-11-30 14:40:00    22116.0
2015-11-30 14:45:00    22121.0
2015-11-30 14:50:00    22070.0
2015-11-30 14:55:00    22083.0
2015-11-30 15:00:00    22087.0
2015-11-30 15:05:00    22096.0
2015-11-30 15:10:00    22055.0
2015-11-30 15:15:00    22050.0
2015-11-30 15:20:00    21745.0
2015-11-30 15:25:00    21729.0
2015-11-30 15:30:00    22060.0
2015-11-30 15:35:00    22040.0
2015-11-30 15:40:00    21700.0
2015-11-30 15:45:00    21660.0
2015-11-30 15:50:00    21966.0
2015-11-30 15:55:00    21563.0
2015-11-30 16:00:00    21897.0
2015-11-30 16:05:00    21884.0
2015-11-30 16:10:00    21899.0
Freq: 5T, Name: price, Length: 271381, dtype: float64

In [11]:
df1 = pd.DataFrame([sr1,sr2,sr3,sr4,sr5])
df1 = df1.T
df1

                        vol    price    price    price    price
trade_datetime
2013-05-02 09:10:00   942.0  22574.0  22309.0  22574.0  22309.0
2013-05-02 09:15:00  3371.0  22575.0  22533.0  22580.0  22132.0
2013-05-02 09:20:00  1704.0  22532.0  22549.0  22567.0  22120.0
2013-05-02 09:25:00   849.0  22549.0  22543.0  22560.0  22165.0
2013-05-02 09:30:00  4696.0  22277.0  22435.0  22551.0  22036.0
2013-05-02 09:35:00  1761.0  22436.0  22482.0  22485.0  22080.0
2013-05-02 09:40:00  1314.0  22481.0  22478.0  22500.0  22096.0
2013-05-02 09:45:00  1156.0  22476.0  22458.0  22476.0  22069.0
2013-05-02 09:50:00  1581.0  22457.0  22467.0  22477.0  22059.0
2013-05-02 09:55:00  1176.0  22467.0  22456.0  22471.0  22202.0
2013-05-02 10:00:00   695.0  22458.0  22465.0  22471.0  22185.0
2013-05-02 10:05:00  1334.0  22464.0  22510.0  22513.0  22095.0
2013-05-02 10:10:00  1740.0  22509.0  22524.0  22548.0  22140.0
2013-05-02 10:15:00   918.0  22524.0  22514.0  22534.0  22143.0
2013-05-02 10:20:00   903.0  22513.0  22510.0  22519.0  22245.0
2013-05-02 10:25:00   448.0  22508.0  22514.0  22519.0  22242.0
2013-05-02 10:30:00   567.0  22513.0  22486.0  22517.0  22245.0
2013-05-02 10:35:00   678.0  22487.0  22495.0  22509.0  22230.0
2013-05-02 10:40:00   576.0  22494.0  22520.0  22525.0  22243.0
2013-05-02 10:45:00   877.0  22520.0  22520.0  22545.0  22138.0
2013-05-02 10:50:00   743.0  22521.0  22537.0  22552.0  22280.0
2013-05-02 10:55:00  1222.0  22536.0  22577.0  22577.0  22170.0
2013-05-02 11:00:00  1642.0  22577.0  22583.0  22604.0  22198.0
2013-05-02 11:05:00   745.0  22583.0  22569.0  22592.0  22190.0
2013-05-02 11:10:00   549.0  22571.0  22570.0  22573.0  22190.0
2013-05-02 11:15:00   367.0  22569.0  22558.0  22573.0  22305.0
2013-05-02 11:20:00   264.0  22556.0  22558.0  22573.0  22555.0
2013-05-02 11:25:00   368.0  22559.0  22571.0  22572.0  22298.0
2013-05-02 11:30:00   283.0  22570.0  22574.0  22579.0  22190.0
2013-05-02 11:35:00   185.0  22574.0  22571.0  22577.0  22567.0
...                     ...      ...      ...      ...      ...
2015-11-30 13:45:00  2493.0  22047.0  22109.0  22110.0  22045.0
2015-11-30 13:50:00  1913.0  22110.0  22086.0  22122.0  22073.0
2015-11-30 13:55:00  1185.0  22087.0  22065.0  22087.0  22051.0
2015-11-30 14:00:00  1686.0  22063.0  22051.0  22079.0  22034.0
2015-11-30 14:05:00  1376.0  22052.0  22086.0  22109.0  22044.0
2015-11-30 14:10:00  1836.0  22086.0  22112.0  22130.0  21760.0
2015-11-30 14:15:00  2820.0  22111.0  22120.0  22152.0  22105.0
2015-11-30 14:20:00  2705.0  22119.0  22165.0  22166.0  21797.0
2015-11-30 14:25:00  1505.0  22165.0  22123.0  22167.0  22110.0
2015-11-30 14:30:00  1196.0  22123.0  22124.0  22137.0  22100.0
2015-11-30 14:35:00   823.0  22125.0  22116.0  22129.0  22109.0
2015-11-30 14:40:00  1568.0  22117.0  22148.0  22163.0  22116.0
2015-11-30 14:45:00   862.0  22147.0  22123.0  22164.0  22121.0
2015-11-30 14:50:00  1763.0  22122.0  22091.0  22133.0  22070.0
2015-11-30 14:55:00  1008.0  22090.0  22095.0  22108.0  22083.0
2015-11-30 15:00:00   850.0  22096.0  22099.0  22125.0  22087.0
2015-11-30 15:05:00  1137.0  22098.0  22097.0  22130.0  22096.0
2015-11-30 15:10:00  1429.0  22098.0  22073.0  22101.0  22055.0
2015-11-30 15:15:00   809.0  22072.0  22084.0  22101.0  22050.0
2015-11-30 15:20:00   922.0  22082.0  22090.0  22110.0  21745.0
2015-11-30 15:25:00   660.0  22091.0  22081.0  22116.0  21729.0
2015-11-30 15:30:00   967.0  22080.0  22066.0  22087.0  22060.0
2015-11-30 15:35:00  1116.0  22065.0  22051.0  22081.0  22040.0
2015-11-30 15:40:00   965.0  22052.0  22038.0  22064.0  21700.0
2015-11-30 15:45:00  1930.0  22038.0  22003.0  22050.0  21660.0
2015-11-30 15:50:00  2099.0  22004.0  22006.0  22150.0  21966.0
2015-11-30 15:55:00  5640.0  22007.0  21983.0  22012.0  21563.0
2015-11-30 16:00:00  2941.0  21983.0  21917.0  21986.0  21897.0
2015-11-30 16:05:00  1587.0  21918.0  21902.0  22100.0  21884.0
2015-11-30 16:10:00  1548.0  21904.0  21909.0  21950.0  21899.0

[271381 rows x 5 columns]

In [15]:
df1.columns = (['volume','first_price','last_price','max_price', 'min_price'])

In [16]:
df1

                     volume  first_price  last_price  max_price  min_price
trade_datetime
2013-05-02 09:10:00   942.0      22574.0     22309.0    22574.0    22309.0
2013-05-02 09:15:00  3371.0      22575.0     22533.0    22580.0    22132.0
2013-05-02 09:20:00  1704.0      22532.0     22549.0    22567.0    22120.0
2013-05-02 09:25:00   849.0      22549.0     22543.0    22560.0    22165.0
2013-05-02 09:30:00  4696.0      22277.0     22435.0    22551.0    22036.0
2013-05-02 09:35:00  1761.0      22436.0     22482.0    22485.0    22080.0
2013-05-02 09:40:00  1314.0      22481.0     22478.0    22500.0    22096.0
2013-05-02 09:45:00  1156.0      22476.0     22458.0    22476.0    22069.0
2013-05-02 09:50:00  1581.0      22457.0     22467.0    22477.0    22059.0
2013-05-02 09:55:00  1176.0      22467.0     22456.0    22471.0    22202.0
2013-05-02 10:00:00   695.0      22458.0     22465.0    22471.0    22185.0
2013-05-02 10:05:00  1334.0      22464.0     22510.0    22513.0    22095.0
2013-05-02 10:10:00  1740.0      22509.0     22524.0    22548.0    22140.0
2013-05-02 10:15:00   918.0      22524.0     22514.0    22534.0    22143.0
2013-05-02 10:20:00   903.0      22513.0     22510.0    22519.0    22245.0
2013-05-02 10:25:00   448.0      22508.0     22514.0    22519.0    22242.0
2013-05-02 10:30:00   567.0      22513.0     22486.0    22517.0    22245.0
2013-05-02 10:35:00   678.0      22487.0     22495.0    22509.0    22230.0
2013-05-02 10:40:00   576.0      22494.0     22520.0    22525.0    22243.0
2013-05-02 10:45:00   877.0      22520.0     22520.0    22545.0    22138.0
2013-05-02 10:50:00   743.0      22521.0     22537.0    22552.0    22280.0
2013-05-02 10:55:00  1222.0      22536.0     22577.0    22577.0    22170.0
2013-05-02 11:00:00  1642.0      22577.0     22583.0    22604.0    22198.0
2013-05-02 11:05:00   745.0      22583.0     22569.0    22592.0    22190.0
2013-05-02 11:10:00   549.0      22571.0     22570.0    22573.0    22190.0
2013-05-02 11:15:00   367.0      22569.0     22558.0    22573.0    22305.0
2013-05-02 11:20:00   264.0      22556.0     22558.0    22573.0    22555.0
2013-05-02 11:25:00   368.0      22559.0     22571.0    22572.0    22298.0
2013-05-02 11:30:00   283.0      22570.0     22574.0    22579.0    22190.0
2013-05-02 11:35:00   185.0      22574.0     22571.0    22577.0    22567.0
...                     ...          ...         ...        ...        ...
2015-11-30 13:45:00  2493.0      22047.0     22109.0    22110.0    22045.0
2015-11-30 13:50:00  1913.0      22110.0     22086.0    22122.0    22073.0
2015-11-30 13:55:00  1185.0      22087.0     22065.0    22087.0    22051.0
2015-11-30 14:00:00  1686.0      22063.0     22051.0    22079.0    22034.0
2015-11-30 14:05:00  1376.0      22052.0     22086.0    22109.0    22044.0
2015-11-30 14:10:00  1836.0      22086.0     22112.0    22130.0    21760.0
2015-11-30 14:15:00  2820.0      22111.0     22120.0    22152.0    22105.0
2015-11-30 14:20:00  2705.0      22119.0     22165.0    22166.0    21797.0
2015-11-30 14:25:00  1505.0      22165.0     22123.0    22167.0    22110.0
2015-11-30 14:30:00  1196.0      22123.0     22124.0    22137.0    22100.0
2015-11-30 14:35:00   823.0      22125.0     22116.0    22129.0    22109.0
2015-11-30 14:40:00  1568.0      22117.0     22148.0    22163.0    22116.0
2015-11-30 14:45:00   862.0      22147.0     22123.0    22164.0    22121.0
2015-11-30 14:50:00  1763.0      22122.0     22091.0    22133.0    22070.0
2015-11-30 14:55:00  1008.0      22090.0     22095.0    22108.0    22083.0
2015-11-30 15:00:00   850.0      22096.0     22099.0    22125.0    22087.0
2015-11-30 15:05:00  1137.0      22098.0     22097.0    22130.0    22096.0
2015-11-30 15:10:00  1429.0      22098.0     22073.0    22101.0    22055.0
2015-11-30 15:15:00   809.0      22072.0     22084.0    22101.0    22050.0
2015-11-30 15:20:00   922.0      22082.0     22090.0    22110.0    21745.0
2015-11-30 15:25:00   660.0      22091.0     22081.0    22116.0    21729.0
2015-11-30 15:30:00   967.0      22080.0     22066.0    22087.0    22060.0
2015-11-30 15:35:00  1116.0      22065.0     22051.0    22081.0    22040.0
2015-11-30 15:40:00   965.0      22052.0     22038.0    22064.0    21700.0
2015-11-30 15:45:00  1930.0      22038.0     22003.0    22050.0    21660.0
2015-11-30 15:50:00  2099.0      22004.0     22006.0    22150.0    21966.0
2015-11-30 15:55:00  5640.0      22007.0     21983.0    22012.0    21563.0
2015-11-30 16:00:00  2941.0      21983.0     21917.0    21986.0    21897.0
2015-11-30 16:05:00  1587.0      21918.0     21902.0    22100.0    21884.0
2015-11-30 16:10:00  1548.0      21904.0     21909.0    21950.0    21899.0

[271381 rows x 5 columns]

In [17]:
df1.to_hdf('5min_hsidata.h5','HSI')

In [41]:
df1['rtn'] = (df1.last_price - df1.last_price.shift(1))/df1.last_price.shift(1)

In [44]:
from math import log

In [55]:
df1['log'] = df1.last_price.apply(lambda x: log(x))

In [57]:
df1['logRtn'] = df1.log - df1.log.shift(1)

In [58]:
df1

,volume,first_price,last_price,max_price,min_price,rtn,log,logRtn
trade_datetime,,,,,,,,
2013-05-02 09:10:00,942.0,22574.0,22309.0,22574.0,22309.0,NaN,10.012745,NaN
2013-05-02 09:15:00,3371.0,22575.0,22533.0,22580.0,22132.0,0.010041,10.022736,0.009991
2013-05-02 09:20:00,1704.0,22532.0,22549.0,22567.0,22120.0,0.000710,10.023446,0.000710
2013-05-02 09:25:00,849.0,22549.0,22543.0,22560.0,22165.0,-0.000266,10.023180,-0.000266
2013-05-02 09:30:00,4696.0,22277.0,22435.0,22551.0,22036.0,-0.004791,10.018378,-0.004802
2013-05-02 09:35:00,1761.0,22436.0,22482.0,22485.0,22080.0,0.002095,10.020470,0.002093
2013-05-02 09:40:00,1314.0,22481.0,22478.0,22500.0,22096.0,-0.000178,10.020292,-0.000178
2013-05-02 09:45:00,1156.0,22476.0,22458.0,22476.0,22069.0,-0.000890,10.019402,-0.000890
2013-05-02 09:50:00,1581.0,22457.0,22467.0,22477.0,22059.0,0.000401,10.019803,0.000401
2013-05-02 09:55:00,1176.0,22467.0,22456.0,22471.0,22202.0,-0.000490,10.019313,-0.000490
2013-05-02 10:00:00,695.0,22458.0,22465.0,22471.0,22185.0,0.000401,10.019714,0.000401
2013-05-02 10:05:00,1334.0,22464.0,22510.0,22513.0,22095.0,0.002003,10.021715,0.002001
2013-05-02 10:10:00,1740.0,22509.0,22524.0,22548.0,22140.0,0.000622,10.022337,0.000622
2013-05-02 10:15:00,918.0,22524.0,22514.0,22534.0,22143.0,-0.000444,10.021893,-0.000444
2013-05-02 10:20:00,903.0,22513.0,22510.0,22519.0,22245.0,-0.000178,10.021715,-0.000178
2013-05-02 10:25:00,448.0,22508.0,22514.0,22519.0,22242.0,0.000178,10.021893,0.000178
2013-05-02 10:30:00,567.0,22513.0,22486.0,22517.0,22245.0,-0.001244,10.020648,-0.001244
2013-05-02 10:35:00,678.0,22487.0,22495.0,22509.0,22230.0,0.000400,10.021048,0.000400
2013-05-02 10:40:00,576.0,22494.0,22520.0,22525.0,22243.0,0.001111,10.022159,0.001111
2013-05-02 10:45:00,877.0,22520.0,22520.0,22545.0,22138.0,0.000000,10.022159,0.000000
2013-05-02 10:50:00,743.0,22521.0,22537.0,22552.0,22280.0,0.000755,10.022914,0.000755
2013-05-02 10:55:00,1222.0,22536.0,22577.0,22577.0,22170.0,0.001775,10.024687,0.001773
2013-05-02 11:00:00,1642.0,22577.0,22583.0,22604.0,22198.0,0.000266,10.024953,0.000266
2013-05-02 11:05:00,745.0,22583.0,22569.0,22592.0,22190.0,-0.000620,10.024333,-0.000620
2013-05-02 11:10:00,549.0,22571.0,22570.0,22573.0,22190.0,0.000044,10.024377,0.000044
2013-05-02 11:15:00,367.0,22569.0,22558.0,22573.0,22305.0,-0.000532,10.023845,-0.000532
2013-05-02 11:20:00,264.0,22556.0,22558.0,22573.0,22555.0,0.000000,10.023845,0.000000
2013-05-02 11:25:00,368.0,22559.0,22571.0,22572.0,22298.0,0.000576,10.024421,0.000576
2013-05-02 11:30:00,283.0,22570.0,22574.0,22579.0,22190.0,0.000133,10.024554,0.000133
2013-05-02 11:35:00,185.0,22574.0,22571.0,22577.0,22567.0,-0.000133,10.024421,-0.000133
...,...,...,...,...,...,...,...,...
2015-11-30 13:45:00,2493.0,22047.0,22109.0,22110.0,22045.0,0.002812,10.003740,0.002808
2015-11-30 13:50:00,1913.0,22110.0,22086.0,22122.0,22073.0,-0.001040,10.002699,-0.001041
2015-11-30 13:55:00,1185.0,22087.0,22065.0,22087.0,22051.0,-0.000951,10.001748,-0.000951
2015-11-30 14:00:00,1686.0,22063.0,22051.0,22079.0,22034.0,-0.000634,10.001113,-0.000635
2015-11-30 14:05:00,1376.0,22052.0,22086.0,22109.0,22044.0,0.001587,10.002699,0.001586
2015-11-30 14:10:00,1836.0,22086.0,22112.0,22130.0,21760.0,0.001177,10.003876,0.001177
2015-11-30 14:15:00,2820.0,22111.0,22120.0,22152.0,22105.0,0.000362,10.004237,0.000362
2015-11-30 14:20:00,2705.0,22119.0,22165.0,22166.0,21797.0,0.002034,10.006270,0.002032
2015-11-30 14:25:00,1505.0,22165.0,22123.0,22167.0,22110.0,-0.001895,10.004373,-0.001897
2015-11-30 14:30:00,1196.0,22123.0,22124.0,22137.0,22100.0,0.000045,10.004418,0.000045
2015-11-30 14:35:00,823.0,22125.0,22116.0,22129.0,22109.0,-0.000362,10.004057,-0.000362
2015-11-30 14:40:00,1568.0,22117.0,22148.0,22163.0,22116.0,0.001447,10.005502,0.001446
2015-11-30 14:45:00,862.0,22147.0,22123.0,22164.0,22121.0,-0.001129,10.004373,-0.001129
2015-11-30 14:50:00,1763.0,22122.0,22091.0,22133.0,22070.0,-0.001446,10.002926,-0.001448
2015-11-30 14:55:00,1008.0,22090.0,22095.0,22108.0,22083.0,0.000181,10.003107,0.000181
2015-11-30 15:00:00,850.0,22096.0,22099.0,22125.0,22087.0,0.000181,10.003288,0.000181
2015-11-30 15:05:00,1137.0,22098.0,22097.0,22130.0,22096.0,-0.000091,10.003197,-0.000091
2015-11-30 15:10:00,1429.0,22098.0,22073.0,22101.0,22055.0,-0.001086,10.002110,-0.001087
2015-11-30 15:15:00,809.0,22072.0,22084.0,22101.0,22050.0,0.000498,10.002609,0.000498
2015-11-30 15:20:00,922.0,22082.0,22090.0,22110.0,21745.0,0.000272,10.002880,0.000272
2015-11-30 15:25:00,660.0,22091.0,22081.0,22116.0,21729.0,-0.000407,10.002473,-0.000408
2015-11-30 15:30:00,967.0,22080.0,22066.0,22087.0,22060.0,-0.000679,10.001793,-0.000680
2015-11-30 15:35:00,1116.0,22065.0,22051.0,22081.0,22040.0,-0.000680,10.001113,-0.000680
2015-11-30 15:40:00,965.0,22052.0,22038.0,22064.0,21700.0,-0.000590,10.000524,-0.000590
2015-11-30 15:45:00,1930.0,22038.0,22003.0,22050.0,21660.0,-0.001588,9.998934,-0.001589
2015-11-30 15:50:00,2099.0,22004.0,22006.0,22150.0,21966.0,0.000136,9.999070,0.000136
2015-11-30 15:55:00,5640.0,22007.0,21983.0,22012.0,21563.0,-0.001045,9.998025,-0.001046
2015-11-30 16:00:00,2941.0,21983.0,21917.0,21986.0,21897.0,-0.003002,9.995018,-0.003007
2015-11-30 16:05:00,1587.0,21918.0,21902.0,22100.0,21884.0,-0.000684,9.994333,-0.000685
2015-11-30 16:10:00,1548.0,21904.0,21909.0,21950.0,21899.0,0.000320,9.994653,0.000320

In [59]:
df1.drop('log',axis=1,inplace=True)
df1

,volume,first_price,last_price,max_price,min_price,rtn,logRtn
trade_datetime,,,,,,,
2013-05-02 09:10:00,942.0,22574.0,22309.0,22574.0,22309.0,NaN,NaN
2013-05-02 09:15:00,3371.0,22575.0,22533.0,22580.0,22132.0,0.010041,0.009991
2013-05-02 09:20:00,1704.0,22532.0,22549.0,22567.0,22120.0,0.000710,0.000710
2013-05-02 09:25:00,849.0,22549.0,22543.0,22560.0,22165.0,-0.000266,-0.000266
2013-05-02 09:30:00,4696.0,22277.0,22435.0,22551.0,22036.0,-0.004791,-0.004802
2013-05-02 09:35:00,1761.0,22436.0,22482.0,22485.0,22080.0,0.002095,0.002093
2013-05-02 09:40:00,1314.0,22481.0,22478.0,22500.0,22096.0,-0.000178,-0.000178
2013-05-02 09:45:00,1156.0,22476.0,22458.0,22476.0,22069.0,-0.000890,-0.000890
2013-05-02 09:50:00,1581.0,22457.0,22467.0,22477.0,22059.0,0.000401,0.000401
2013-05-02 09:55:00,1176.0,22467.0,22456.0,22471.0,22202.0,-0.000490,-0.000490
2013-05-02 10:00:00,695.0,22458.0,22465.0,22471.0,22185.0,0.000401,0.000401
2013-05-02 10:05:00,1334.0,22464.0,22510.0,22513.0,22095.0,0.002003,0.002001
2013-05-02 10:10:00,1740.0,22509.0,22524.0,22548.0,22140.0,0.000622,0.000622
2013-05-02 10:15:00,918.0,22524.0,22514.0,22534.0,22143.0,-0.000444,-0.000444
2013-05-02 10:20:00,903.0,22513.0,22510.0,22519.0,22245.0,-0.000178,-0.000178
2013-05-02 10:25:00,448.0,22508.0,22514.0,22519.0,22242.0,0.000178,0.000178
2013-05-02 10:30:00,567.0,22513.0,22486.0,22517.0,22245.0,-0.001244,-0.001244
2013-05-02 10:35:00,678.0,22487.0,22495.0,22509.0,22230.0,0.000400,0.000400
2013-05-02 10:40:00,576.0,22494.0,22520.0,22525.0,22243.0,0.001111,0.001111
2013-05-02 10:45:00,877.0,22520.0,22520.0,22545.0,22138.0,0.000000,0.000000
2013-05-02 10:50:00,743.0,22521.0,22537.0,22552.0,22280.0,0.000755,0.000755
2013-05-02 10:55:00,1222.0,22536.0,22577.0,22577.0,22170.0,0.001775,0.001773
2013-05-02 11:00:00,1642.0,22577.0,22583.0,22604.0,22198.0,0.000266,0.000266
2013-05-02 11:05:00,745.0,22583.0,22569.0,22592.0,22190.0,-0.000620,-0.000620
2013-05-02 11:10:00,549.0,22571.0,22570.0,22573.0,22190.0,0.000044,0.000044
2013-05-02 11:15:00,367.0,22569.0,22558.0,22573.0,22305.0,-0.000532,-0.000532
2013-05-02 11:20:00,264.0,22556.0,22558.0,22573.0,22555.0,0.000000,0.000000
2013-05-02 11:25:00,368.0,22559.0,22571.0,22572.0,22298.0,0.000576,0.000576
2013-05-02 11:30:00,283.0,22570.0,22574.0,22579.0,22190.0,0.000133,0.000133
2013-05-02 11:35:00,185.0,22574.0,22571.0,22577.0,22567.0,-0.000133,-0.000133
...,...,...,...,...,...,...,...
2015-11-30 13:45:00,2493.0,22047.0,22109.0,22110.0,22045.0,0.002812,0.002808
2015-11-30 13:50:00,1913.0,22110.0,22086.0,22122.0,22073.0,-0.001040,-0.001041
2015-11-30 13:55:00,1185.0,22087.0,22065.0,22087.0,22051.0,-0.000951,-0.000951
2015-11-30 14:00:00,1686.0,22063.0,22051.0,22079.0,22034.0,-0.000634,-0.000635
2015-11-30 14:05:00,1376.0,22052.0,22086.0,22109.0,22044.0,0.001587,0.001586
2015-11-30 14:10:00,1836.0,22086.0,22112.0,22130.0,21760.0,0.001177,0.001177
2015-11-30 14:15:00,2820.0,22111.0,22120.0,22152.0,22105.0,0.000362,0.000362
2015-11-30 14:20:00,2705.0,22119.0,22165.0,22166.0,21797.0,0.002034,0.002032
2015-11-30 14:25:00,1505.0,22165.0,22123.0,22167.0,22110.0,-0.001895,-0.001897
2015-11-30 14:30:00,1196.0,22123.0,22124.0,22137.0,22100.0,0.000045,0.000045
2015-11-30 14:35:00,823.0,22125.0,22116.0,22129.0,22109.0,-0.000362,-0.000362
2015-11-30 14:40:00,1568.0,22117.0,22148.0,22163.0,22116.0,0.001447,0.001446
2015-11-30 14:45:00,862.0,22147.0,22123.0,22164.0,22121.0,-0.001129,-0.001129
2015-11-30 14:50:00,1763.0,22122.0,22091.0,22133.0,22070.0,-0.001446,-0.001448
2015-11-30 14:55:00,1008.0,22090.0,22095.0,22108.0,22083.0,0.000181,0.000181
2015-11-30 15:00:00,850.0,22096.0,22099.0,22125.0,22087.0,0.000181,0.000181
2015-11-30 15:05:00,1137.0,22098.0,22097.0,22130.0,22096.0,-0.000091,-0.000091
2015-11-30 15:10:00,1429.0,22098.0,22073.0,22101.0,22055.0,-0.001086,-0.001087
2015-11-30 15:15:00,809.0,22072.0,22084.0,22101.0,22050.0,0.000498,0.000498
2015-11-30 15:20:00,922.0,22082.0,22090.0,22110.0,21745.0,0.000272,0.000272
2015-11-30 15:25:00,660.0,22091.0,22081.0,22116.0,21729.0,-0.000407,-0.000408
2015-11-30 15:30:00,967.0,22080.0,22066.0,22087.0,22060.0,-0.000679,-0.000680
2015-11-30 15:35:00,1116.0,22065.0,22051.0,22081.0,22040.0,-0.000680,-0.000680
2015-11-30 15:40:00,965.0,22052.0,22038.0,22064.0,21700.0,-0.000590,-0.000590
2015-11-30 15:45:00,1930.0,22038.0,22003.0,22050.0,21660.0,-0.001588,-0.001589
2015-11-30 15:50:00,2099.0,22004.0,22006.0,22150.0,21966.0,0.000136,0.000136
2015-11-30 15:55:00,5640.0,22007.0,21983.0,22012.0,21563.0,-0.001045,-0.001046
2015-11-30 16:00:00,2941.0,21983.0,21917.0,21986.0,21897.0,-0.003002,-0.003007
2015-11-30 16:05:00,1587.0,21918.0,21902.0,22100.0,21884.0,-0.000684,-0.000685
2015-11-30 16:10:00,1548.0,21904.0,21909.0,21950.0,21899.0,0.000320,0.000320

In [60]:
df1.to_hdf('5min_hsidata.h5','hsi')

In [4]:
df2 = df['2013-05-02':'2013-05-05']
df2

,instrument,type,month,trade_date,trade_time,price,vol
trade_datetime,,,,,,,
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,45
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,14
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,4
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
...,...,...,...,...,...,...,...
2013-05-03 16:14:51,HSI,F,1305,2013-05-03,16:14:51,22552.0,5
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22548.0,1
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22552.0,1
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22549.0,1
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22552.0,1
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22548.0,1
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22548.0,1
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22551.0,2
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22550.0,1
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22551.0,1
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22551.0,2
2013-05-03 16:14:54,HSI,F,1305,2013-05-03,16:14:54,22548.0,1
2013-05-03 16:14:54,HSI,F,1305,2013-05-03,16:14:54,22549.0,1
2013-05-03 16:14:55,HSI,F,1305,2013-05-03,16:14:55,22547.0,1
2013-05-03 16:14:55,HSI,F,1305,2013-05-03,16:14:55,22546.0,1
2013-05-03 16:14:55,HSI,F,1305,2013-05-03,16:14:55,22546.0,2
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22545.0,1
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22547.0,1
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22547.0,1
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22550.0,1
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22550.0,1
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22551.0,1
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22551.0,2
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22552.0,1
2013-05-03 16:14:57,HSI,F,1305,2013-05-03,16:14:57,22548.0,1
2013-05-03 16:14:57,HSI,F,1305,2013-05-03,16:14:57,22552.0,1
2013-05-03 16:14:57,HSI,F,1305,2013-05-03,16:14:57,22548.0,1
2013-05-03 16:14:58,HSI,F,1305,2013-05-03,16:14:58,22545.0,1
2013-05-03 16:14:58,HSI,F,1305,2013-05-03,16:14:58,22547.0,1
2013-05-03 16:14:59,HSI,F,1305,2013-05-03,16:14:59,22551.0,1

In [7]:
from math import log

In [10]:
 df2['log'] = df2.price.apply(lambda x: log(x))

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
df2

,instrument,type,month,trade_date,trade_time,price,vol,log
trade_datetime,,,,,,,,
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,45,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,14,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,4,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
...,...,...,...,...,...,...,...,...
2013-05-03 16:14:51,HSI,F,1305,2013-05-03,16:14:51,22552.0,5,10.023579
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22548.0,1,10.023402
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22552.0,1,10.023579
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22549.0,1,10.023446
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22552.0,1,10.023579
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22548.0,1,10.023402
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22548.0,1,10.023402
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22551.0,2,10.023535
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22550.0,1,10.023490
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22551.0,1,10.023535
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22551.0,2,10.023535
2013-05-03 16:14:54,HSI,F,1305,2013-05-03,16:14:54,22548.0,1,10.023402
2013-05-03 16:14:54,HSI,F,1305,2013-05-03,16:14:54,22549.0,1,10.023446
2013-05-03 16:14:55,HSI,F,1305,2013-05-03,16:14:55,22547.0,1,10.023357
2013-05-03 16:14:55,HSI,F,1305,2013-05-03,16:14:55,22546.0,1,10.023313
2013-05-03 16:14:55,HSI,F,1305,2013-05-03,16:14:55,22546.0,2,10.023313
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22545.0,1,10.023269
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22547.0,1,10.023357
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22547.0,1,10.023357
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22550.0,1,10.023490
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22550.0,1,10.023490
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22551.0,1,10.023535
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22551.0,2,10.023535
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22552.0,1,10.023579
2013-05-03 16:14:57,HSI,F,1305,2013-05-03,16:14:57,22548.0,1,10.023402
2013-05-03 16:14:57,HSI,F,1305,2013-05-03,16:14:57,22552.0,1,10.023579
2013-05-03 16:14:57,HSI,F,1305,2013-05-03,16:14:57,22548.0,1,10.023402
2013-05-03 16:14:58,HSI,F,1305,2013-05-03,16:14:58,22545.0,1,10.023269
2013-05-03 16:14:58,HSI,F,1305,2013-05-03,16:14:58,22547.0,1,10.023357
2013-05-03 16:14:59,HSI,F,1305,2013-05-03,16:14:59,22551.0,1,10.023535

In [12]:
df2['s_logRtn'] = df2.log - df2.log.shift(1)
df2

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,instrument,type,month,trade_date,trade_time,price,vol,log,s_logRtn
trade_datetime,,,,,,,,,
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,NaN
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,45,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,14,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,4,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
...,...,...,...,...,...,...,...,...,...
2013-05-03 16:14:51,HSI,F,1305,2013-05-03,16:14:51,22552.0,5,10.023579,0.000089
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22548.0,1,10.023402,-0.000177
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22552.0,1,10.023579,0.000177
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22549.0,1,10.023446,-0.000133
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22552.0,1,10.023579,0.000133
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22548.0,1,10.023402,-0.000177
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22548.0,1,10.023402,0.000000
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22551.0,2,10.023535,0.000133
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22550.0,1,10.023490,-0.000044
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22551.0,1,10.023535,0.000044
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22551.0,2,10.023535,0.000000
2013-05-03 16:14:54,HSI,F,1305,2013-05-03,16:14:54,22548.0,1,10.023402,-0.000133
2013-05-03 16:14:54,HSI,F,1305,2013-05-03,16:14:54,22549.0,1,10.023446,0.000044
2013-05-03 16:14:55,HSI,F,1305,2013-05-03,16:14:55,22547.0,1,10.023357,-0.000089
2013-05-03 16:14:55,HSI,F,1305,2013-05-03,16:14:55,22546.0,1,10.023313,-0.000044
2013-05-03 16:14:55,HSI,F,1305,2013-05-03,16:14:55,22546.0,2,10.023313,0.000000
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22545.0,1,10.023269,-0.000044
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22547.0,1,10.023357,0.000089
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22547.0,1,10.023357,0.000000
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22550.0,1,10.023490,0.000133
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22550.0,1,10.023490,0.000000
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22551.0,1,10.023535,0.000044
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22551.0,2,10.023535,0.000000
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22552.0,1,10.023579,0.000044
2013-05-03 16:14:57,HSI,F,1305,2013-05-03,16:14:57,22548.0,1,10.023402,-0.000177
2013-05-03 16:14:57,HSI,F,1305,2013-05-03,16:14:57,22552.0,1,10.023579,0.000177
2013-05-03 16:14:57,HSI,F,1305,2013-05-03,16:14:57,22548.0,1,10.023402,-0.000177
2013-05-03 16:14:58,HSI,F,1305,2013-05-03,16:14:58,22545.0,1,10.023269,-0.000133
2013-05-03 16:14:58,HSI,F,1305,2013-05-03,16:14:58,22547.0,1,10.023357,0.000089
2013-05-03 16:14:59,HSI,F,1305,2013-05-03,16:14:59,22551.0,1,10.023535,0.000177

In [18]:
df2['log_square'] = df2.s_logRtn.apply(lambda x : x*x )

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
df2

,instrument,type,month,trade_date,trade_time,price,vol,log,s_logRtn,log_square
trade_datetime,,,,,,,,,,
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,NaN,NaN
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,45,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,14,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,4,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...
2013-05-03 16:14:51,HSI,F,1305,2013-05-03,16:14:51,22552.0,5,10.023579,0.000089,7.865537e-09
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22548.0,1,10.023402,-0.000177,3.146494e-08
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22552.0,1,10.023579,0.000177,3.146494e-08
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22549.0,1,10.023446,-0.000133,1.769824e-08
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22552.0,1,10.023579,0.000133,1.769824e-08
2013-05-03 16:14:52,HSI,F,1305,2013-05-03,16:14:52,22548.0,1,10.023402,-0.000177,3.146494e-08
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22548.0,1,10.023402,0.000000,0.000000e+00
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22551.0,2,10.023535,0.000133,1.769981e-08
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22550.0,1,10.023490,-0.000044,1.966471e-09
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22551.0,1,10.023535,0.000044,1.966471e-09
2013-05-03 16:14:53,HSI,F,1305,2013-05-03,16:14:53,22551.0,2,10.023535,0.000000,0.000000e+00
2013-05-03 16:14:54,HSI,F,1305,2013-05-03,16:14:54,22548.0,1,10.023402,-0.000133,1.769981e-08
2013-05-03 16:14:54,HSI,F,1305,2013-05-03,16:14:54,22549.0,1,10.023446,0.000044,1.966820e-09
2013-05-03 16:14:55,HSI,F,1305,2013-05-03,16:14:55,22547.0,1,10.023357,-0.000089,7.867630e-09
2013-05-03 16:14:55,HSI,F,1305,2013-05-03,16:14:55,22546.0,1,10.023313,-0.000044,1.967169e-09
2013-05-03 16:14:55,HSI,F,1305,2013-05-03,16:14:55,22546.0,2,10.023313,0.000000,0.000000e+00
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22545.0,1,10.023269,-0.000044,1.967344e-09
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22547.0,1,10.023357,0.000089,7.869026e-09
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22547.0,1,10.023357,0.000000,0.000000e+00
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22550.0,1,10.023490,0.000133,1.770138e-08
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22550.0,1,10.023490,0.000000,0.000000e+00
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22551.0,1,10.023535,0.000044,1.966471e-09
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22551.0,2,10.023535,0.000000,0.000000e+00
2013-05-03 16:14:56,HSI,F,1305,2013-05-03,16:14:56,22552.0,1,10.023579,0.000044,1.966297e-09
2013-05-03 16:14:57,HSI,F,1305,2013-05-03,16:14:57,22548.0,1,10.023402,-0.000177,3.146494e-08
2013-05-03 16:14:57,HSI,F,1305,2013-05-03,16:14:57,22552.0,1,10.023579,0.000177,3.146494e-08
2013-05-03 16:14:57,HSI,F,1305,2013-05-03,16:14:57,22548.0,1,10.023402,-0.000177,3.146494e-08
2013-05-03 16:14:58,HSI,F,1305,2013-05-03,16:14:58,22545.0,1,10.023269,-0.000133,1.770452e-08
2013-05-03 16:14:58,HSI,F,1305,2013-05-03,16:14:58,22547.0,1,10.023357,0.000089,7.869026e-09
2013-05-03 16:14:59,HSI,F,1305,2013-05-03,16:14:59,22551.0,1,10.023535,0.000177,3.146773e-08

In [21]:
df2.groupby(df2.index.date).log_square.sum()

2013-05-02    0.092505
2013-05-03    0.235902
Name: log_square, dtype: float64

In [22]:
df

,instrument,type,month,trade_date,trade_time,price,vol
trade_datetime,,,,,,,
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,45
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,14
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,4
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1
...,...,...,...,...,...,...,...
2015-11-30 16:14:55,HSI,F,1512,2015-11-30,16:14:55,21915.0,1
2015-11-30 16:14:55,HSI,F,1512,2015-11-30,16:14:55,21910.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21912.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21911.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21908.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21908.0,1
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21908.0,1
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21914.0,1
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21915.0,1
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21908.0,1
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,3
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,2
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,2
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,1
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,4
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21915.0,2
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21909.0,2
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21909.0,1
2015-11-30 16:14:59,HSI,F,1512,2015-11-30,16:14:59,21909.0,1
2015-11-30 16:14:59,HSI,F,1512,2015-11-30,16:14:59,21909.0,1

In [23]:
df['log'] = df.price.apply(lambda x: log(x))
df

,instrument,type,month,trade_date,trade_time,price,vol,log
trade_datetime,,,,,,,,
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,45,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,14,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,4,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554
...,...,...,...,...,...,...,...,...
2015-11-30 16:14:55,HSI,F,1512,2015-11-30,16:14:55,21915.0,1,9.994927
2015-11-30 16:14:55,HSI,F,1512,2015-11-30,16:14:55,21910.0,1,9.994698
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1,9.994653
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21912.0,1,9.994790
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1,9.994927
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1,9.994927
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1,9.994927
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21911.0,1,9.994744
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1,9.994653
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1,9.994653
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21908.0,1,9.994607
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1,9.994561
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1,9.994561
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1,9.994561
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1,9.994561
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21908.0,1,9.994607
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21908.0,1,9.994607
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21914.0,1,9.994881
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21915.0,1,9.994927
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21908.0,1,9.994607
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,3,9.994561
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,2,9.994561
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,2,9.994561
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,1,9.994561
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,4,9.994561
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21915.0,2,9.994927
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21909.0,2,9.994653
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21909.0,1,9.994653
2015-11-30 16:14:59,HSI,F,1512,2015-11-30,16:14:59,21909.0,1,9.994653
2015-11-30 16:14:59,HSI,F,1512,2015-11-30,16:14:59,21909.0,1,9.994653

In [24]:
df['s_logRtn'] = df.log - df.log.shift(1)
df

,instrument,type,month,trade_date,trade_time,price,vol,log,s_logRtn
trade_datetime,,,,,,,,,
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,NaN
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,45,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,14,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,4,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000
...,...,...,...,...,...,...,...,...,...
2015-11-30 16:14:55,HSI,F,1512,2015-11-30,16:14:55,21915.0,1,9.994927,0.000046
2015-11-30 16:14:55,HSI,F,1512,2015-11-30,16:14:55,21910.0,1,9.994698,-0.000228
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1,9.994653,-0.000046
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21912.0,1,9.994790,0.000137
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1,9.994927,0.000137
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1,9.994927,0.000000
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1,9.994927,0.000000
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21911.0,1,9.994744,-0.000183
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1,9.994653,-0.000091
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1,9.994653,0.000000
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21908.0,1,9.994607,-0.000046
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1,9.994561,-0.000046
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1,9.994561,0.000000
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1,9.994561,0.000000
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1,9.994561,0.000000
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21908.0,1,9.994607,0.000046
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21908.0,1,9.994607,0.000000
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21914.0,1,9.994881,0.000274
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21915.0,1,9.994927,0.000046
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21908.0,1,9.994607,-0.000319
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,3,9.994561,-0.000046
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,2,9.994561,0.000000
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,2,9.994561,0.000000
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,1,9.994561,0.000000
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,4,9.994561,0.000000
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21915.0,2,9.994927,0.000365
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21909.0,2,9.994653,-0.000274
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21909.0,1,9.994653,0.000000
2015-11-30 16:14:59,HSI,F,1512,2015-11-30,16:14:59,21909.0,1,9.994653,0.000000
2015-11-30 16:14:59,HSI,F,1512,2015-11-30,16:14:59,21909.0,1,9.994653,0.000000

In [26]:
df['log_square'] = df.s_logRtn.apply(lambda x : x*x)

In [27]:
df

,instrument,type,month,trade_date,trade_time,price,vol,log,s_logRtn,log_square
trade_datetime,,,,,,,,,,
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,NaN,NaN
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,45,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,14,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,4,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...
2015-11-30 16:14:55,HSI,F,1512,2015-11-30,16:14:55,21915.0,1,9.994927,0.000046,2.082269e-09
2015-11-30 16:14:55,HSI,F,1512,2015-11-30,16:14:55,21910.0,1,9.994698,-0.000228,5.206623e-08
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1,9.994653,-0.000046,2.083220e-09
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21912.0,1,9.994790,0.000137,1.874727e-08
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1,9.994927,0.000137,1.874213e-08
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1,9.994927,0.000000,0.000000e+00
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21915.0,1,9.994927,0.000000,0.000000e+00
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21911.0,1,9.994744,-0.000183,3.332087e-08
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1,9.994653,-0.000091,8.332498e-09
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21909.0,1,9.994653,0.000000,0.000000e+00
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21908.0,1,9.994607,-0.000046,2.083410e-09
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1,9.994561,-0.000046,2.083600e-09
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1,9.994561,0.000000,0.000000e+00
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1,9.994561,0.000000,0.000000e+00
2015-11-30 16:14:56,HSI,F,1512,2015-11-30,16:14:56,21907.0,1,9.994561,0.000000,0.000000e+00
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21908.0,1,9.994607,0.000046,2.083600e-09
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21908.0,1,9.994607,0.000000,0.000000e+00
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21914.0,1,9.994881,0.000274,7.498564e-08
2015-11-30 16:14:57,HSI,F,1512,2015-11-30,16:14:57,21915.0,1,9.994927,0.000046,2.082269e-09
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21908.0,1,9.994607,-0.000319,1.020591e-07
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,3,9.994561,-0.000046,2.083600e-09
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,2,9.994561,0.000000,0.000000e+00
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,2,9.994561,0.000000,0.000000e+00
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,1,9.994561,0.000000,0.000000e+00
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21907.0,4,9.994561,0.000000,0.000000e+00
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21915.0,2,9.994927,0.000365,1.333078e-07
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21909.0,2,9.994653,-0.000274,7.497880e-08
2015-11-30 16:14:58,HSI,F,1512,2015-11-30,16:14:58,21909.0,1,9.994653,0.000000,0.000000e+00
2015-11-30 16:14:59,HSI,F,1512,2015-11-30,16:14:59,21909.0,1,9.994653,0.000000,0.000000e+00
2015-11-30 16:14:59,HSI,F,1512,2015-11-30,16:14:59,21909.0,1,9.994653,0.000000,0.000000e+00

In [29]:
sr6 = df.groupby(df.index.date).log_square.sum()
sr6

2013-05-02    0.092505
2013-05-03    0.235902
2013-05-06    0.162300
2013-05-07    0.180687
2013-05-08    0.142982
2013-05-09    0.144753
2013-05-10    0.156307
2013-05-13    0.155454
2013-05-14    0.161783
2013-05-15    0.189238
2013-05-16    0.178896
2013-05-20    0.256886
2013-05-21    0.219516
2013-05-22    0.282221
2013-05-23    0.687830
2013-05-24    0.661329
2013-05-27    1.068466
2013-05-28    1.960805
2013-05-29    5.542903
2013-05-30    1.962995
2013-05-31    0.005547
2013-06-03    0.005557
2013-06-04    0.003309
2013-06-05    0.005190
2013-06-06    0.003504
2013-06-07    0.005087
2013-06-10    0.004380
2013-06-11    0.004037
2013-06-13    0.013639
2013-06-14    0.006363
                ...
2015-10-19    0.000520
2015-10-20    0.000490
2015-10-22    0.000375
2015-10-23    0.000646
2015-10-26    0.001103
2015-10-27    0.003224
2015-10-28    0.002578
2015-10-29    0.025938
2015-10-30    0.007786
2015-11-02    0.010991
2015-11-03    0.008424
2015-11-04    0.010479
2015-11-05    0.008366
2015-11-06    0.021335
2015-11-09    0.002128
2015-11-10    0.013415
2015-11-11    0.003644
2015-11-12    0.011436
2015-11-13    0.009161
2015-11-16    0.010520
2015-11-17    0.003539
2015-11-18    0.004514
2015-11-19    0.009112
2015-11-20    0.005332
2015-11-23    0.010078
2015-11-24    0.029879
2015-11-25    0.020783
2015-11-26    0.057834
2015-11-27    0.132658
2015-11-30    0.010128
Name: log_square, Length: 637, dtype: float64

In [32]:
df3 = pd.DataFrame([sr6])
df3 = df3.T
df3

            log_square
2013-05-02    0.092505
2013-05-03    0.235902
2013-05-06    0.162300
2013-05-07    0.180687
2013-05-08    0.142982
2013-05-09    0.144753
2013-05-10    0.156307
2013-05-13    0.155454
2013-05-14    0.161783
2013-05-15    0.189238
2013-05-16    0.178896
2013-05-20    0.256886
2013-05-21    0.219516
2013-05-22    0.282221
2013-05-23    0.687830
2013-05-24    0.661329
2013-05-27    1.068466
2013-05-28    1.960805
2013-05-29    5.542903
2013-05-30    1.962995
2013-05-31    0.005547
2013-06-03    0.005557
2013-06-04    0.003309
2013-06-05    0.005190
2013-06-06    0.003504
2013-06-07    0.005087
2013-06-10    0.004380
2013-06-11    0.004037
2013-06-13    0.013639
2013-06-14    0.006363
...                ...
2015-10-19    0.000520
2015-10-20    0.000490
2015-10-22    0.000375
2015-10-23    0.000646
2015-10-26    0.001103
2015-10-27    0.003224
2015-10-28    0.002578
2015-10-29    0.025938
2015-10-30    0.007786
2015-11-02    0.010991
2015-11-03    0.008424
2015-11-04    0.010479
2015-11-05    0.008366
2015-11-06    0.021335
2015-11-09    0.002128
2015-11-10    0.013415
2015-11-11    0.003644
2015-11-12    0.011436
2015-11-13    0.009161
2015-11-16    0.010520
2015-11-17    0.003539
2015-11-18    0.004514
2015-11-19    0.009112
2015-11-20    0.005332
2015-11-23    0.010078
2015-11-24    0.029879
2015-11-25    0.020783
2015-11-26    0.057834
2015-11-27    0.132658
2015-11-30    0.010128

[637 rows x 1 columns]

In [33]:
df3.to_hdf('realizedVolatility.h5','rVol')

In [34]:
sr7 = df.groupby(df.index.date).price.max() - df.groupby(df.index.date).price.min()
sr7

2013-05-02     568.0
2013-05-03     625.0
2013-05-06     559.0
2013-05-07     585.0
2013-05-08     512.0
2013-05-09     547.0
2013-05-10     553.0
2013-05-13     715.0
2013-05-14     671.0
2013-05-15     552.0
2013-05-16     628.0
2013-05-20     630.0
2013-05-21     485.0
2013-05-22     637.0
2013-05-23    1060.0
2013-05-24     690.0
2013-05-27     618.0
2013-05-28     647.0
2013-05-29     748.0
2013-05-30     744.0
2013-05-31     365.0
2013-06-03     478.0
2013-06-04     315.0
2013-06-05     377.0
2013-06-06     310.0
2013-06-07     430.0
2013-06-10     318.0
2013-06-11     428.0
2013-06-13     501.0
2013-06-14     347.0
               ...
2015-10-19     225.0
2015-10-20     250.0
2015-10-22     170.0
2015-10-23     212.0
2015-10-26     383.0
2015-10-27     260.0
2015-10-28     220.0
2015-10-29     328.0
2015-10-30     627.0
2015-11-02     640.0
2015-11-03     529.0
2015-11-04    1040.0
2015-11-05     600.0
2015-11-06     555.0
2015-11-09     655.0
2015-11-10     720.0
2015-11-11     526.0
2015-11-12     997.0
2015-11-13     590.0
2015-11-16     580.0
2015-11-17     610.0
2015-11-18     565.0
2015-11-19     498.0
2015-11-20     753.0
2015-11-23     536.0
2015-11-24     666.0
2015-11-25     535.0
2015-11-26     991.0
2015-11-27     962.0
2015-11-30     641.0
Name: price, Length: 637, dtype: float64

In [44]:
df4 = pd.DataFrame([sr7])
df4 = df4.T
df4

             price
2013-05-02   568.0
2013-05-03   625.0
2013-05-06   559.0
2013-05-07   585.0
2013-05-08   512.0
2013-05-09   547.0
2013-05-10   553.0
2013-05-13   715.0
2013-05-14   671.0
2013-05-15   552.0
2013-05-16   628.0
2013-05-20   630.0
2013-05-21   485.0
2013-05-22   637.0
2013-05-23  1060.0
2013-05-24   690.0
2013-05-27   618.0
2013-05-28   647.0
2013-05-29   748.0
2013-05-30   744.0
2013-05-31   365.0
2013-06-03   478.0
2013-06-04   315.0
2013-06-05   377.0
2013-06-06   310.0
2013-06-07   430.0
2013-06-10   318.0
2013-06-11   428.0
2013-06-13   501.0
2013-06-14   347.0
...            ...
2015-10-19   225.0
2015-10-20   250.0
2015-10-22   170.0
2015-10-23   212.0
2015-10-26   383.0
2015-10-27   260.0
2015-10-28   220.0
2015-10-29   328.0
2015-10-30   627.0
2015-11-02   640.0
2015-11-03   529.0
2015-11-04  1040.0
2015-11-05   600.0
2015-11-06   555.0
2015-11-09   655.0
2015-11-10   720.0
2015-11-11   526.0
2015-11-12   997.0
2015-11-13   590.0
2015-11-16   580.0
2015-11-17   610.0
2015-11-18   565.0
2015-11-19   498.0
2015-11-20   753.0
2015-11-23   536.0
2015-11-24   666.0
2015-11-25   535.0
2015-11-26   991.0
2015-11-27   962.0
2015-11-30   641.0

[637 rows x 1 columns]

In [45]:
df4.columns = ['amplitude']
df4

            amplitude
2013-05-02      568.0
2013-05-03      625.0
2013-05-06      559.0
2013-05-07      585.0
2013-05-08      512.0
2013-05-09      547.0
2013-05-10      553.0
2013-05-13      715.0
2013-05-14      671.0
2013-05-15      552.0
2013-05-16      628.0
2013-05-20      630.0
2013-05-21      485.0
2013-05-22      637.0
2013-05-23     1060.0
2013-05-24      690.0
2013-05-27      618.0
2013-05-28      647.0
2013-05-29      748.0
2013-05-30      744.0
2013-05-31      365.0
2013-06-03      478.0
2013-06-04      315.0
2013-06-05      377.0
2013-06-06      310.0
2013-06-07      430.0
2013-06-10      318.0
2013-06-11      428.0
2013-06-13      501.0
2013-06-14      347.0
...               ...
2015-10-19      225.0
2015-10-20      250.0
2015-10-22      170.0
2015-10-23      212.0
2015-10-26      383.0
2015-10-27      260.0
2015-10-28      220.0
2015-10-29      328.0
2015-10-30      627.0
2015-11-02      640.0
2015-11-03      529.0
2015-11-04     1040.0
2015-11-05      600.0
2015-11-06      555.0
2015-11-09      655.0
2015-11-10      720.0
2015-11-11      526.0
2015-11-12      997.0
2015-11-13      590.0
2015-11-16      580.0
2015-11-17      610.0
2015-11-18      565.0
2015-11-19      498.0
2015-11-20      753.0
2015-11-23      536.0
2015-11-24      666.0
2015-11-25      535.0
2015-11-26      991.0
2015-11-27      962.0
2015-11-30      641.0

[637 rows x 1 columns]

In [46]:
df4.to_hdf('amplitude.h5','hsi')

In [47]:
import datetime

In [71]:
df5=df['2013-05-02']

In [72]:
df5

,instrument,type,month,trade_date,trade_time,price,vol,log,s_logRtn,log_square
trade_datetime,,,,,,,,,,
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,NaN,NaN
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,45,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,14,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,10,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,4,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,3,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,2,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,7,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
2013-05-02 09:14:00,HSI,F,1305,2013-05-02,09:14:00,22574.0,1,10.024554,0.000000,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...
2013-05-02 16:14:57,HSI,F,1305,2013-05-02,16:14:57,22588.0,1,10.025174,0.000000,0.000000e+00
2013-05-02 16:14:57,HSI,F,1305,2013-05-02,16:14:57,22588.0,1,10.025174,0.000000,0.000000e+00
2013-05-02 16:14:57,HSI,F,1305,2013-05-02,16:14:57,22588.0,5,10.025174,0.000000,0.000000e+00
2013-05-02 16:14:57,HSI,F,1305,2013-05-02,16:14:57,22589.0,1,10.025218,0.000044,1.959861e-09
2013-05-02 16:14:57,HSI,F,1305,2013-05-02,16:14:57,22589.0,1,10.025218,0.000000,0.000000e+00
2013-05-02 16:14:57,HSI,F,1305,2013-05-02,16:14:57,22589.0,1,10.025218,0.000000,0.000000e+00
2013-05-02 16:14:57,HSI,F,1305,2013-05-02,16:14:57,22589.0,1,10.025218,0.000000,0.000000e+00
2013-05-02 16:14:57,HSI,F,1305,2013-05-02,16:14:57,22589.0,1,10.025218,0.000000,0.000000e+00
2013-05-02 16:14:57,HSI,F,1305,2013-05-02,16:14:57,22590.0,1,10.025263,0.000044,1.959687e-09
2013-05-02 16:14:57,HSI,F,1305,2013-05-02,16:14:57,22589.0,2,10.025218,-0.000044,1.959687e-09
2013-05-02 16:14:57,HSI,F,1305,2013-05-02,16:14:57,22589.0,2,10.025218,0.000000,0.000000e+00
2013-05-02 16:14:57,HSI,F,1305,2013-05-02,16:14:57,22589.0,1,10.025218,0.000000,0.000000e+00
2013-05-02 16:14:57,HSI,F,1305,2013-05-02,16:14:57,22589.0,1,10.025218,0.000000,0.000000e+00
2013-05-02 16:14:57,HSI,F,1305,2013-05-02,16:14:57,22589.0,2,10.025218,0.000000,0.000000e+00
2013-05-02 16:14:57,HSI,F,1305,2013-05-02,16:14:57,22589.0,2,10.025218,0.000000,0.000000e+00
2013-05-02 16:14:57,HSI,F,1305,2013-05-02,16:14:57,22590.0,1,10.025263,0.000044,1.959687e-09
2013-05-02 16:14:58,HSI,F,1305,2013-05-02,16:14:58,22590.0,1,10.025263,0.000000,0.000000e+00
2013-05-02 16:14:58,HSI,F,1305,2013-05-02,16:14:58,22592.0,1,10.025351,0.000089,7.837708e-09
2013-05-02 16:14:58,HSI,F,1305,2013-05-02,16:14:58,22592.0,2,10.025351,0.000000,0.000000e+00
2013-05-02 16:14:58,HSI,F,1305,2013-05-02,16:14:58,22592.0,1,10.025351,0.000000,0.000000e+00
2013-05-02 16:14:58,HSI,F,1305,2013-05-02,16:14:58,22593.0,1,10.025395,0.000044,1.959167e-09
2013-05-02 16:14:58,HSI,F,1305,2013-05-02,16:14:58,22589.0,1,10.025218,-0.000177,3.135083e-08
2013-05-02 16:14:58,HSI,F,1305,2013-05-02,16:14:58,22593.0,1,10.025395,0.000177,3.135083e-08
2013-05-02 16:14:58,HSI,F,1305,2013-05-02,16:14:58,22593.0,1,10.025395,0.000000,0.000000e+00
2013-05-02 16:14:58,HSI,F,1305,2013-05-02,16:14:58,22593.0,1,10.025395,0.000000,0.000000e+00
2013-05-02 16:14:58,HSI,F,1305,2013-05-02,16:14:58,22593.0,1,10.025395,0.000000,0.000000e+00
2013-05-02 16:14:58,HSI,F,1305,2013-05-02,16:14:58,22593.0,5,10.025395,0.000000,0.000000e+00
2013-05-02 16:14:58,HSI,F,1305,2013-05-02,16:14:58,22594.0,1,10.025440,0.000044,1.958993e-09
2013-05-02 16:14:58,HSI,F,1305,2013-05-02,16:14:58,22594.0,1,10.025440,0.000000,0.000000e+00
2013-05-02 16:14:58,HSI,F,1305,2013-05-02,16:14:58,22594.0,1,10.025440,0.000000,0.000000e+00

In [140]:
a = df5[df5.price == df5.price.max()].index
a[0]

Timestamp('2013-05-02 11:01:21')

In [139]:
b = df5[df5.price == df5.price.min()].index
b[0]

Timestamp('2013-05-02 09:33:32')

In [144]:
((a[0]-b[0]).total_seconds())/60

87.81666666666666

In [150]:
g1 = df.groupby(df.index.date)
g1

In [ ]:
g1.max()