In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('C:/Users/Administrator/Desktop/Work/Projects/Autocall/HS300.csv')
df

,Unnamed: 0,open,close,high,low,total_turnover,volume
0,2016-11-02,3350.710,3333.352,3356.397,3331.384,1.003490e+11,9.119710e+09
1,2016-11-03,3326.905,3365.085,3379.989,3324.838,1.373865e+11,1.262235e+10
2,2016-11-04,3362.206,3354.175,3377.639,3348.426,1.108138e+11,1.040697e+10
3,2016-11-07,3353.444,3356.592,3362.742,3342.312,9.437088e+10,9.987799e+09
4,2016-11-08,3367.697,3371.118,3383.917,3361.129,1.051383e+11,1.031483e+10
5,2016-11-09,3370.600,3353.055,3373.096,3322.080,1.451869e+11,1.391101e+10
6,2016-11-10,3374.906,3390.612,3403.016,3374.906,1.332774e+11,1.347055e+10
7,2016-11-11,3387.948,3417.221,3422.671,3382.892,1.906473e+11,1.987815e+10
8,2016-11-14,3409.224,3430.248,3452.616,3408.139,2.083533e+11,2.132471e+10
9,2016-11-15,3428.866,3429.870,3434.922,3415.995,1.352068e+11,1.345663e+10
10,2016-11-16,3432.434,3429.592,3435.637,3419.244,1.289446e+11,1.298085e+10
11,2016-11-17,3423.465,3436.535,3437.669,3412.877,1.215769e+11,1.215617e+10
12,2016-11-18,3437.490,3417.455,3443.119,3413.270,1.173456e+11,1.159512e+10
13,2016-11-21,3412.652,3441.111,3463.142,3412.080,1.475426e+11,1.464345e+10
14,2016-11-22,3443.220,3468.364,3469.219,3443.220,1.672507e+11,1.685234e+10
15,2016-11-23,3473.895,3474.729,3492.956,3465.764,1.712471e+11,1.623885e+10
16,2016-11-24,3468.807,3488.740,3508.165,3467.011,1.650715e+11,1.457463e+10
17,2016-11-25,3490.040,3521.298,3521.303,3463.948,1.668322e+11,1.536215e+10
18,2016-11-28,3538.675,3535.081,3553.360,3528.320,2.198598e+11,2.073755e+10
19,2016-11-29,3525.901,3564.040,3583.718,3521.379,2.483228e+11,2.369184e+10
20,2016-11-30,3557.636,3538.001,3567.069,3527.023,1.906812e+11,1.785602e+10
21,2016-12-01,3543.956,3565.036,3575.970,3543.245,1.996377e+11,1.801708e+10
22,2016-12-02,3559.771,3528.955,3562.550,3516.788,2.037421e+11,1.963555e+10
23,2016-12-05,3473.688,3469.407,3496.884,3457.343,1.901751e+11,1.808524e+10
24,2016-12-06,3466.242,3459.153,3477.590,3456.807,1.257278e+11,1.155291e+10
25,2016-12-07,3458.369,3475.747,3475.747,3445.756,1.152822e+11,1.143451e+10
26,2016-12-08,3481.807,3470.143,3484.340,3466.512,1.191885e+11,1.173839e+10
27,2016-12-09,3464.873,3493.700,3507.928,3461.761,1.526749e+11,1.503033e+10
28,2016-12-12,3489.268,3409.179,3495.802,3400.793,1.991635e+11,1.874678e+10
29,2016-12-13,3394.207,3405.036,3416.215,3370.596,1.244542e+11,1.211051e+10
...,...,...,...,...,...,...,...
216,2017-09-15,3826.145,3831.296,3843.297,3818.523,1.534772e+11,1.224270e+10
217,2017-09-18,3832.963,3843.143,3862.359,3832.963,1.528410e+11,1.179344e+10
218,2017-09-19,3849.879,3832.116,3857.303,3820.289,1.455285e+11,1.124330e+10
219,2017-09-20,3830.155,3842.435,3850.943,3827.886,1.350419e+11,1.011295e+10
220,2017-09-21,3843.258,3837.818,3860.798,3837.384,1.441329e+11,1.110982e+10
221,2017-09-22,3826.459,3837.730,3842.252,3816.823,1.283609e+11,1.006198e+10
222,2017-09-25,3829.219,3817.791,3835.389,3811.119,1.359802e+11,1.039490e+10
223,2017-09-26,3810.333,3820.782,3821.693,3808.383,1.010363e+11,8.186941e+09
224,2017-09-27,3818.965,3821.200,3832.566,3818.815,1.092995e+11,8.565581e+09
225,2017-09-28,3821.590,3822.539,3827.331,3813.753,1.156463e+11,9.354407e+09
226,2017-09-29,3825.202,3836.501,3852.224,3825.202,1.160568e+11,9.330603e+09
227,2017-10-09,3910.115,3882.208,3918.839,3876.032,1.719415e+11,1.355359e+10
228,2017-10-10,3883.004,3889.864,3900.742,3855.467,1.579797e+11,1.125326e+10
229,2017-10-11,3886.818,3902.687,3913.070,3885.497,1.441527e+11,1.044182e+10
230,2017-10-12,3902.016,3912.954,3917.443,3897.547,1.231472e+11,9.434092e+09
231,2017-10-13,3912.975,3921.002,3927.174,3908.889,1.143149e+11,9.014207e+09
232,2017-10-16,3926.275,3913.446,3947.424,3913.322,1.508238e+11,1.213550e+10
233,2017-10-17,3910.789,3913.069,3924.614,3900.476,1.067085e+11,8.224123e+09
234,2017-10-18,3914.815,3944.163,3944.411,3914.815,1.264204e+11,1.009698e+10
235,2017-10-19,3940.583,3931.249,3944.035,3923.646,1.331899e+11,1.065273e+10
236,2017-10-20,3918.526,3926.852,3928.961,3910.197,9.452964e+10,7.298018e+09
237,2017-10-23,3930.891,3930.798,3936.273,3920.656,1.002809e+11,8.148498e+09
238,2017-10-24,3926.230,3959.395,3959.495,3922.029,1.201922e+11,9.305815e+09
239,2017-10-25,3958.167,3976.949,3978.089,3954.001,1.068203e+11,8.820546e+09
240,2017-10-26,3980.048,3993.575,4013.599,3973.554,1.704886e+11,1.298955e+10
241,2017-10-27,3992.554,4021.968,4024.465,3991.354,1.529748e+11,1.266728e+10
242,2017-10-30,4022.164,4009.722,4033.339,3960.270,1.934898e+11,1.573876e+10
243,2017-10-31,3995.394,4006.718,4009.283,3983.257,1.428972e+11,1.091788e+10
244,2017-11-01,4007.912,3996.622,4032.458,3991.324,1.664771e+11,1.304174e+10
245,2017-11-02,3994.095,3997.134,3999.226,3971.376,1.519814e+11,1.261006e+10

In [3]:
df.columns = ['date','open','close','high','low','turnover','vol']
df

,date,open,close,high,low,turnover,vol
0,2016-11-02,3350.710,3333.352,3356.397,3331.384,1.003490e+11,9.119710e+09
1,2016-11-03,3326.905,3365.085,3379.989,3324.838,1.373865e+11,1.262235e+10
2,2016-11-04,3362.206,3354.175,3377.639,3348.426,1.108138e+11,1.040697e+10
3,2016-11-07,3353.444,3356.592,3362.742,3342.312,9.437088e+10,9.987799e+09
4,2016-11-08,3367.697,3371.118,3383.917,3361.129,1.051383e+11,1.031483e+10
5,2016-11-09,3370.600,3353.055,3373.096,3322.080,1.451869e+11,1.391101e+10
6,2016-11-10,3374.906,3390.612,3403.016,3374.906,1.332774e+11,1.347055e+10
7,2016-11-11,3387.948,3417.221,3422.671,3382.892,1.906473e+11,1.987815e+10
8,2016-11-14,3409.224,3430.248,3452.616,3408.139,2.083533e+11,2.132471e+10
9,2016-11-15,3428.866,3429.870,3434.922,3415.995,1.352068e+11,1.345663e+10
10,2016-11-16,3432.434,3429.592,3435.637,3419.244,1.289446e+11,1.298085e+10
11,2016-11-17,3423.465,3436.535,3437.669,3412.877,1.215769e+11,1.215617e+10
12,2016-11-18,3437.490,3417.455,3443.119,3413.270,1.173456e+11,1.159512e+10
13,2016-11-21,3412.652,3441.111,3463.142,3412.080,1.475426e+11,1.464345e+10
14,2016-11-22,3443.220,3468.364,3469.219,3443.220,1.672507e+11,1.685234e+10
15,2016-11-23,3473.895,3474.729,3492.956,3465.764,1.712471e+11,1.623885e+10
16,2016-11-24,3468.807,3488.740,3508.165,3467.011,1.650715e+11,1.457463e+10
17,2016-11-25,3490.040,3521.298,3521.303,3463.948,1.668322e+11,1.536215e+10
18,2016-11-28,3538.675,3535.081,3553.360,3528.320,2.198598e+11,2.073755e+10
19,2016-11-29,3525.901,3564.040,3583.718,3521.379,2.483228e+11,2.369184e+10
20,2016-11-30,3557.636,3538.001,3567.069,3527.023,1.906812e+11,1.785602e+10
21,2016-12-01,3543.956,3565.036,3575.970,3543.245,1.996377e+11,1.801708e+10
22,2016-12-02,3559.771,3528.955,3562.550,3516.788,2.037421e+11,1.963555e+10
23,2016-12-05,3473.688,3469.407,3496.884,3457.343,1.901751e+11,1.808524e+10
24,2016-12-06,3466.242,3459.153,3477.590,3456.807,1.257278e+11,1.155291e+10
25,2016-12-07,3458.369,3475.747,3475.747,3445.756,1.152822e+11,1.143451e+10
26,2016-12-08,3481.807,3470.143,3484.340,3466.512,1.191885e+11,1.173839e+10
27,2016-12-09,3464.873,3493.700,3507.928,3461.761,1.526749e+11,1.503033e+10
28,2016-12-12,3489.268,3409.179,3495.802,3400.793,1.991635e+11,1.874678e+10
29,2016-12-13,3394.207,3405.036,3416.215,3370.596,1.244542e+11,1.211051e+10
...,...,...,...,...,...,...,...
216,2017-09-15,3826.145,3831.296,3843.297,3818.523,1.534772e+11,1.224270e+10
217,2017-09-18,3832.963,3843.143,3862.359,3832.963,1.528410e+11,1.179344e+10
218,2017-09-19,3849.879,3832.116,3857.303,3820.289,1.455285e+11,1.124330e+10
219,2017-09-20,3830.155,3842.435,3850.943,3827.886,1.350419e+11,1.011295e+10
220,2017-09-21,3843.258,3837.818,3860.798,3837.384,1.441329e+11,1.110982e+10
221,2017-09-22,3826.459,3837.730,3842.252,3816.823,1.283609e+11,1.006198e+10
222,2017-09-25,3829.219,3817.791,3835.389,3811.119,1.359802e+11,1.039490e+10
223,2017-09-26,3810.333,3820.782,3821.693,3808.383,1.010363e+11,8.186941e+09
224,2017-09-27,3818.965,3821.200,3832.566,3818.815,1.092995e+11,8.565581e+09
225,2017-09-28,3821.590,3822.539,3827.331,3813.753,1.156463e+11,9.354407e+09
226,2017-09-29,3825.202,3836.501,3852.224,3825.202,1.160568e+11,9.330603e+09
227,2017-10-09,3910.115,3882.208,3918.839,3876.032,1.719415e+11,1.355359e+10
228,2017-10-10,3883.004,3889.864,3900.742,3855.467,1.579797e+11,1.125326e+10
229,2017-10-11,3886.818,3902.687,3913.070,3885.497,1.441527e+11,1.044182e+10
230,2017-10-12,3902.016,3912.954,3917.443,3897.547,1.231472e+11,9.434092e+09
231,2017-10-13,3912.975,3921.002,3927.174,3908.889,1.143149e+11,9.014207e+09
232,2017-10-16,3926.275,3913.446,3947.424,3913.322,1.508238e+11,1.213550e+10
233,2017-10-17,3910.789,3913.069,3924.614,3900.476,1.067085e+11,8.224123e+09
234,2017-10-18,3914.815,3944.163,3944.411,3914.815,1.264204e+11,1.009698e+10
235,2017-10-19,3940.583,3931.249,3944.035,3923.646,1.331899e+11,1.065273e+10
236,2017-10-20,3918.526,3926.852,3928.961,3910.197,9.452964e+10,7.298018e+09
237,2017-10-23,3930.891,3930.798,3936.273,3920.656,1.002809e+11,8.148498e+09
238,2017-10-24,3926.230,3959.395,3959.495,3922.029,1.201922e+11,9.305815e+09
239,2017-10-25,3958.167,3976.949,3978.089,3954.001,1.068203e+11,8.820546e+09
240,2017-10-26,3980.048,3993.575,4013.599,3973.554,1.704886e+11,1.298955e+10
241,2017-10-27,3992.554,4021.968,4024.465,3991.354,1.529748e+11,1.266728e+10
242,2017-10-30,4022.164,4009.722,4033.339,3960.270,1.934898e+11,1.573876e+10
243,2017-10-31,3995.394,4006.718,4009.283,3983.257,1.428972e+11,1.091788e+10
244,2017-11-01,4007.912,3996.622,4032.458,3991.324,1.664771e+11,1.304174e+10
245,2017-11-02,3994.095,3997.134,3999.226,3971.376,1.519814e+11,1.261006e+10

In [22]:
df = df.reset_index()

In [23]:
df.drop(['index'],axis=1,inplace=True)
df

,date,open,close,high,low,turnover,vol
0,2016-11-02,3350.710,3333.352,3356.397,3331.384,1.003490e+11,9.119710e+09
1,2016-11-03,3326.905,3365.085,3379.989,3324.838,1.373865e+11,1.262235e+10
2,2016-11-04,3362.206,3354.175,3377.639,3348.426,1.108138e+11,1.040697e+10
3,2016-11-07,3353.444,3356.592,3362.742,3342.312,9.437088e+10,9.987799e+09
4,2016-11-08,3367.697,3371.118,3383.917,3361.129,1.051383e+11,1.031483e+10
5,2016-11-09,3370.600,3353.055,3373.096,3322.080,1.451869e+11,1.391101e+10
6,2016-11-10,3374.906,3390.612,3403.016,3374.906,1.332774e+11,1.347055e+10
7,2016-11-11,3387.948,3417.221,3422.671,3382.892,1.906473e+11,1.987815e+10
8,2016-11-14,3409.224,3430.248,3452.616,3408.139,2.083533e+11,2.132471e+10
9,2016-11-15,3428.866,3429.870,3434.922,3415.995,1.352068e+11,1.345663e+10
10,2016-11-16,3432.434,3429.592,3435.637,3419.244,1.289446e+11,1.298085e+10
11,2016-11-17,3423.465,3436.535,3437.669,3412.877,1.215769e+11,1.215617e+10
12,2016-11-18,3437.490,3417.455,3443.119,3413.270,1.173456e+11,1.159512e+10
13,2016-11-21,3412.652,3441.111,3463.142,3412.080,1.475426e+11,1.464345e+10
14,2016-11-22,3443.220,3468.364,3469.219,3443.220,1.672507e+11,1.685234e+10
15,2016-11-23,3473.895,3474.729,3492.956,3465.764,1.712471e+11,1.623885e+10
16,2016-11-24,3468.807,3488.740,3508.165,3467.011,1.650715e+11,1.457463e+10
17,2016-11-25,3490.040,3521.298,3521.303,3463.948,1.668322e+11,1.536215e+10
18,2016-11-28,3538.675,3535.081,3553.360,3528.320,2.198598e+11,2.073755e+10
19,2016-11-29,3525.901,3564.040,3583.718,3521.379,2.483228e+11,2.369184e+10
20,2016-11-30,3557.636,3538.001,3567.069,3527.023,1.906812e+11,1.785602e+10
21,2016-12-01,3543.956,3565.036,3575.970,3543.245,1.996377e+11,1.801708e+10
22,2016-12-02,3559.771,3528.955,3562.550,3516.788,2.037421e+11,1.963555e+10
23,2016-12-05,3473.688,3469.407,3496.884,3457.343,1.901751e+11,1.808524e+10
24,2016-12-06,3466.242,3459.153,3477.590,3456.807,1.257278e+11,1.155291e+10
25,2016-12-07,3458.369,3475.747,3475.747,3445.756,1.152822e+11,1.143451e+10
26,2016-12-08,3481.807,3470.143,3484.340,3466.512,1.191885e+11,1.173839e+10
27,2016-12-09,3464.873,3493.700,3507.928,3461.761,1.526749e+11,1.503033e+10
28,2016-12-12,3489.268,3409.179,3495.802,3400.793,1.991635e+11,1.874678e+10
29,2016-12-13,3394.207,3405.036,3416.215,3370.596,1.244542e+11,1.211051e+10
...,...,...,...,...,...,...,...
216,2017-09-15,3826.145,3831.296,3843.297,3818.523,1.534772e+11,1.224270e+10
217,2017-09-18,3832.963,3843.143,3862.359,3832.963,1.528410e+11,1.179344e+10
218,2017-09-19,3849.879,3832.116,3857.303,3820.289,1.455285e+11,1.124330e+10
219,2017-09-20,3830.155,3842.435,3850.943,3827.886,1.350419e+11,1.011295e+10
220,2017-09-21,3843.258,3837.818,3860.798,3837.384,1.441329e+11,1.110982e+10
221,2017-09-22,3826.459,3837.730,3842.252,3816.823,1.283609e+11,1.006198e+10
222,2017-09-25,3829.219,3817.791,3835.389,3811.119,1.359802e+11,1.039490e+10
223,2017-09-26,3810.333,3820.782,3821.693,3808.383,1.010363e+11,8.186941e+09
224,2017-09-27,3818.965,3821.200,3832.566,3818.815,1.092995e+11,8.565581e+09
225,2017-09-28,3821.590,3822.539,3827.331,3813.753,1.156463e+11,9.354407e+09
226,2017-09-29,3825.202,3836.501,3852.224,3825.202,1.160568e+11,9.330603e+09
227,2017-10-09,3910.115,3882.208,3918.839,3876.032,1.719415e+11,1.355359e+10
228,2017-10-10,3883.004,3889.864,3900.742,3855.467,1.579797e+11,1.125326e+10
229,2017-10-11,3886.818,3902.687,3913.070,3885.497,1.441527e+11,1.044182e+10
230,2017-10-12,3902.016,3912.954,3917.443,3897.547,1.231472e+11,9.434092e+09
231,2017-10-13,3912.975,3921.002,3927.174,3908.889,1.143149e+11,9.014207e+09
232,2017-10-16,3926.275,3913.446,3947.424,3913.322,1.508238e+11,1.213550e+10
233,2017-10-17,3910.789,3913.069,3924.614,3900.476,1.067085e+11,8.224123e+09
234,2017-10-18,3914.815,3944.163,3944.411,3914.815,1.264204e+11,1.009698e+10
235,2017-10-19,3940.583,3931.249,3944.035,3923.646,1.331899e+11,1.065273e+10
236,2017-10-20,3918.526,3926.852,3928.961,3910.197,9.452964e+10,7.298018e+09
237,2017-10-23,3930.891,3930.798,3936.273,3920.656,1.002809e+11,8.148498e+09
238,2017-10-24,3926.230,3959.395,3959.495,3922.029,1.201922e+11,9.305815e+09
239,2017-10-25,3958.167,3976.949,3978.089,3954.001,1.068203e+11,8.820546e+09
240,2017-10-26,3980.048,3993.575,4013.599,3973.554,1.704886e+11,1.298955e+10
241,2017-10-27,3992.554,4021.968,4024.465,3991.354,1.529748e+11,1.266728e+10
242,2017-10-30,4022.164,4009.722,4033.339,3960.270,1.934898e+11,1.573876e+10
243,2017-10-31,3995.394,4006.718,4009.283,3983.257,1.428972e+11,1.091788e+10
244,2017-11-01,4007.912,3996.622,4032.458,3991.324,1.664771e+11,1.304174e+10
245,2017-11-02,3994.095,3997.134,3999.226,3971.376,1.519814e+11,1.261006e+10

In [25]:
df.date = pd.to_datetime(df.date)

In [28]:
df.index = df.date
df

,date,open,close,high,low,turnover,vol
date,,,,,,,
2016-11-02,2016-11-02,3350.710,3333.352,3356.397,3331.384,1.003490e+11,9.119710e+09
2016-11-03,2016-11-03,3326.905,3365.085,3379.989,3324.838,1.373865e+11,1.262235e+10
2016-11-04,2016-11-04,3362.206,3354.175,3377.639,3348.426,1.108138e+11,1.040697e+10
2016-11-07,2016-11-07,3353.444,3356.592,3362.742,3342.312,9.437088e+10,9.987799e+09
2016-11-08,2016-11-08,3367.697,3371.118,3383.917,3361.129,1.051383e+11,1.031483e+10
2016-11-09,2016-11-09,3370.600,3353.055,3373.096,3322.080,1.451869e+11,1.391101e+10
2016-11-10,2016-11-10,3374.906,3390.612,3403.016,3374.906,1.332774e+11,1.347055e+10
2016-11-11,2016-11-11,3387.948,3417.221,3422.671,3382.892,1.906473e+11,1.987815e+10
2016-11-14,2016-11-14,3409.224,3430.248,3452.616,3408.139,2.083533e+11,2.132471e+10
2016-11-15,2016-11-15,3428.866,3429.870,3434.922,3415.995,1.352068e+11,1.345663e+10
2016-11-16,2016-11-16,3432.434,3429.592,3435.637,3419.244,1.289446e+11,1.298085e+10
2016-11-17,2016-11-17,3423.465,3436.535,3437.669,3412.877,1.215769e+11,1.215617e+10
2016-11-18,2016-11-18,3437.490,3417.455,3443.119,3413.270,1.173456e+11,1.159512e+10
2016-11-21,2016-11-21,3412.652,3441.111,3463.142,3412.080,1.475426e+11,1.464345e+10
2016-11-22,2016-11-22,3443.220,3468.364,3469.219,3443.220,1.672507e+11,1.685234e+10
2016-11-23,2016-11-23,3473.895,3474.729,3492.956,3465.764,1.712471e+11,1.623885e+10
2016-11-24,2016-11-24,3468.807,3488.740,3508.165,3467.011,1.650715e+11,1.457463e+10
2016-11-25,2016-11-25,3490.040,3521.298,3521.303,3463.948,1.668322e+11,1.536215e+10
2016-11-28,2016-11-28,3538.675,3535.081,3553.360,3528.320,2.198598e+11,2.073755e+10
2016-11-29,2016-11-29,3525.901,3564.040,3583.718,3521.379,2.483228e+11,2.369184e+10
2016-11-30,2016-11-30,3557.636,3538.001,3567.069,3527.023,1.906812e+11,1.785602e+10
2016-12-01,2016-12-01,3543.956,3565.036,3575.970,3543.245,1.996377e+11,1.801708e+10
2016-12-02,2016-12-02,3559.771,3528.955,3562.550,3516.788,2.037421e+11,1.963555e+10
2016-12-05,2016-12-05,3473.688,3469.407,3496.884,3457.343,1.901751e+11,1.808524e+10
2016-12-06,2016-12-06,3466.242,3459.153,3477.590,3456.807,1.257278e+11,1.155291e+10
2016-12-07,2016-12-07,3458.369,3475.747,3475.747,3445.756,1.152822e+11,1.143451e+10
2016-12-08,2016-12-08,3481.807,3470.143,3484.340,3466.512,1.191885e+11,1.173839e+10
2016-12-09,2016-12-09,3464.873,3493.700,3507.928,3461.761,1.526749e+11,1.503033e+10
2016-12-12,2016-12-12,3489.268,3409.179,3495.802,3400.793,1.991635e+11,1.874678e+10
2016-12-13,2016-12-13,3394.207,3405.036,3416.215,3370.596,1.244542e+11,1.211051e+10
...,...,...,...,...,...,...,...
2017-09-15,2017-09-15,3826.145,3831.296,3843.297,3818.523,1.534772e+11,1.224270e+10
2017-09-18,2017-09-18,3832.963,3843.143,3862.359,3832.963,1.528410e+11,1.179344e+10
2017-09-19,2017-09-19,3849.879,3832.116,3857.303,3820.289,1.455285e+11,1.124330e+10
2017-09-20,2017-09-20,3830.155,3842.435,3850.943,3827.886,1.350419e+11,1.011295e+10
2017-09-21,2017-09-21,3843.258,3837.818,3860.798,3837.384,1.441329e+11,1.110982e+10
2017-09-22,2017-09-22,3826.459,3837.730,3842.252,3816.823,1.283609e+11,1.006198e+10
2017-09-25,2017-09-25,3829.219,3817.791,3835.389,3811.119,1.359802e+11,1.039490e+10
2017-09-26,2017-09-26,3810.333,3820.782,3821.693,3808.383,1.010363e+11,8.186941e+09
2017-09-27,2017-09-27,3818.965,3821.200,3832.566,3818.815,1.092995e+11,8.565581e+09
2017-09-28,2017-09-28,3821.590,3822.539,3827.331,3813.753,1.156463e+11,9.354407e+09
2017-09-29,2017-09-29,3825.202,3836.501,3852.224,3825.202,1.160568e+11,9.330603e+09
2017-10-09,2017-10-09,3910.115,3882.208,3918.839,3876.032,1.719415e+11,1.355359e+10
2017-10-10,2017-10-10,3883.004,3889.864,3900.742,3855.467,1.579797e+11,1.125326e+10
2017-10-11,2017-10-11,3886.818,3902.687,3913.070,3885.497,1.441527e+11,1.044182e+10
2017-10-12,2017-10-12,3902.016,3912.954,3917.443,3897.547,1.231472e+11,9.434092e+09
2017-10-13,2017-10-13,3912.975,3921.002,3927.174,3908.889,1.143149e+11,9.014207e+09
2017-10-16,2017-10-16,3926.275,3913.446,3947.424,3913.322,1.508238e+11,1.213550e+10
2017-10-17,2017-10-17,3910.789,3913.069,3924.614,3900.476,1.067085e+11,8.224123e+09
2017-10-18,2017-10-18,3914.815,3944.163,3944.411,3914.815,1.264204e+11,1.009698e+10
2017-10-19,2017-10-19,3940.583,3931.249,3944.035,3923.646,1.331899e+11,1.065273e+10
2017-10-20,2017-10-20,3918.526,3926.852,3928.961,3910.197,9.452964e+10,7.298018e+09
2017-10-23,2017-10-23,3930.891,3930.798,3936.273,3920.656,1.002809e+11,8.148498e+09
2017-10-24,2017-10-24,3926.230,3959.395,3959.495,3922.029,1.201922e+11,9.305815e+09
2017-10-25,2017-10-25,3958.167,3976.949,3978.089,3954.001,1.068203e+11,8.820546e+09
2017-10-26,2017-10-26,3980.048,3993.575,4013.599,3973.554,1.704886e+11,1.298955e+10
2017-10-27,2017-10-27,3992.554,4021.968,4024.465,3991.354,1.529748e+11,1.266728e+10
2017-10-30,2017-10-30,4022.164,4009.722,4033.339,3960.270,1.934898e+11,1.573876e+10
2017-10-31,2017-10-31,3995.394,4006.718,4009.283,3983.257,1.428972e+11,1.091788e+10
2017-11-01,2017-11-01,4007.912,3996.622,4032.458,3991.324,1.664771e+11,1.304174e+10
2017-11-02,2017-11-02,3994.095,3997.134,3999.226,3971.376,1.519814e+11,1.261006e+10

In [29]:
df.drop(['date'],axis=1,inplace=True)
df.drop(['open'],axis=1,inplace=True)
df.drop(['high'],axis=1,inplace=True)
df.drop(['low'],axis=1,inplace=True)
df.drop(['turnover'],axis=1,inplace=True)
df.drop(['vol'],axis=1,inplace=True)

In [30]:
df

               close
date
2016-11-02  3333.352
2016-11-03  3365.085
2016-11-04  3354.175
2016-11-07  3356.592
2016-11-08  3371.118
2016-11-09  3353.055
2016-11-10  3390.612
2016-11-11  3417.221
2016-11-14  3430.248
2016-11-15  3429.870
2016-11-16  3429.592
2016-11-17  3436.535
2016-11-18  3417.455
2016-11-21  3441.111
2016-11-22  3468.364
2016-11-23  3474.729
2016-11-24  3488.740
2016-11-25  3521.298
2016-11-28  3535.081
2016-11-29  3564.040
2016-11-30  3538.001
2016-12-01  3565.036
2016-12-02  3528.955
2016-12-05  3469.407
2016-12-06  3459.153
2016-12-07  3475.747
2016-12-08  3470.143
2016-12-09  3493.700
2016-12-12  3409.179
2016-12-13  3405.036
...              ...
2017-09-15  3831.296
2017-09-18  3843.143
2017-09-19  3832.116
2017-09-20  3842.435
2017-09-21  3837.818
2017-09-22  3837.730
2017-09-25  3817.791
2017-09-26  3820.782
2017-09-27  3821.200
2017-09-28  3822.539
2017-09-29  3836.501
2017-10-09  3882.208
2017-10-10  3889.864
2017-10-11  3902.687
2017-10-12  3912.954
2017-10-13  3921.002
2017-10-16  3913.446
2017-10-17  3913.069
2017-10-18  3944.163
2017-10-19  3931.249
2017-10-20  3926.852
2017-10-23  3930.798
2017-10-24  3959.395
2017-10-25  3976.949
2017-10-26  3993.575
2017-10-27  4021.968
2017-10-30  4009.722
2017-10-31  4006.718
2017-11-01  3996.622
2017-11-02  3997.134

[246 rows x 1 columns]

In [32]:
df.to_hdf('new_HS300.h5','HS')

In [47]:
x = '2016-11-07' 
x= pd.to_datetime(x)
df[df.index == x].close

date
2016-11-07    3356.592
Name: close, dtype: float64

In [129]:
x

Timestamp('2016-11-07 00:00:00')

In [124]:
a = x.year
b = x.month + 1
c = x.day

In [127]:
y = '%d-%d-%d'%(a,b,c)
y = pd.to_datetime(y)

In [128]:
y

Timestamp('2016-12-07 00:00:00')

In [130]:
def get_next_month(dt):
    dt = pd.to_datetime(dt)
    a = dt.year
    b = dt.month + 1 
    c = dt.day
    new_dt = '%d-%d-%d'%(a,b,c)
    new_dt = pd.to_datetime(new_dt)
    return new_dt

In [132]:
x = '2016-01-30'
get_next_month(x)

ValueError: day is out of range for month

In [60]:
df[0:1].close

date
2016-11-02    3333.352
Name: close, dtype: float64

In [63]:
df[0:1].index.month + 1

Int64Index([12], dtype='int64', name='date')

In [105]:
df.groupby([df.index.year,df.index.month]).apply(lambda x: x[x.index.month > 0])

                         close
date date date
2016 11   2016-11-02  3333.352
          2016-11-03  3365.085
          2016-11-04  3354.175
          2016-11-07  3356.592
          2016-11-08  3371.118
          2016-11-09  3353.055
          2016-11-10  3390.612
          2016-11-11  3417.221
          2016-11-14  3430.248
          2016-11-15  3429.870
          2016-11-16  3429.592
          2016-11-17  3436.535
          2016-11-18  3417.455
          2016-11-21  3441.111
          2016-11-22  3468.364
          2016-11-23  3474.729
          2016-11-24  3488.740
          2016-11-25  3521.298
          2016-11-28  3535.081
          2016-11-29  3564.040
          2016-11-30  3538.001
     12   2016-12-01  3565.036
          2016-12-02  3528.955
          2016-12-05  3469.407
          2016-12-06  3459.153
          2016-12-07  3475.747
          2016-12-08  3470.143
          2016-12-09  3493.700
          2016-12-12  3409.179
          2016-12-13  3405.036
...                        ...
2017 9    2017-09-15  3831.296
          2017-09-18  3843.143
          2017-09-19  3832.116
          2017-09-20  3842.435
          2017-09-21  3837.818
          2017-09-22  3837.730
          2017-09-25  3817.791
          2017-09-26  3820.782
          2017-09-27  3821.200
          2017-09-28  3822.539
          2017-09-29  3836.501
     10   2017-10-09  3882.208
          2017-10-10  3889.864
          2017-10-11  3902.687
          2017-10-12  3912.954
          2017-10-13  3921.002
          2017-10-16  3913.446
          2017-10-17  3913.069
          2017-10-18  3944.163
          2017-10-19  3931.249
          2017-10-20  3926.852
          2017-10-23  3930.798
          2017-10-24  3959.395
          2017-10-25  3976.949
          2017-10-26  3993.575
          2017-10-27  4021.968
          2017-10-30  4009.722
          2017-10-31  4006.718
     11   2017-11-01  3996.622
          2017-11-02  3997.134

[246 rows x 1 columns]

In [79]:
df[0:1]

               close
date
2016-11-02  3333.352

In [82]:
df1 = df['2016-11-05':'2017-05-05']

In [133]:
df1

               close
date
2016-11-07  3356.592
2016-11-08  3371.118
2016-11-09  3353.055
2016-11-10  3390.612
2016-11-11  3417.221
2016-11-14  3430.248
2016-11-15  3429.870
2016-11-16  3429.592
2016-11-17  3436.535
2016-11-18  3417.455
2016-11-21  3441.111
2016-11-22  3468.364
2016-11-23  3474.729
2016-11-24  3488.740
2016-11-25  3521.298
2016-11-28  3535.081
2016-11-29  3564.040
2016-11-30  3538.001
2016-12-01  3565.036
2016-12-02  3528.955
2016-12-05  3469.407
2016-12-06  3459.153
2016-12-07  3475.747
2016-12-08  3470.143
2016-12-09  3493.700
2016-12-12  3409.179
2016-12-13  3405.036
2016-12-14  3378.945
2016-12-15  3340.434
2016-12-16  3346.030
...              ...
2017-03-22  3450.050
2017-03-23  3461.978
2017-03-24  3489.600
2017-03-27  3478.039
2017-03-28  3469.809
2017-03-29  3465.193
2017-03-30  3436.758
2017-03-31  3456.046
2017-04-05  3503.893
2017-04-06  3514.047
2017-04-07  3517.463
2017-04-10  3505.139
2017-04-11  3517.328
2017-04-12  3509.439
2017-04-13  3514.566
2017-04-14  3486.505
2017-04-17  3479.942
2017-04-18  3462.743
2017-04-19  3445.876
2017-04-20  3461.548
2017-04-21  3466.787
2017-04-24  3431.259
2017-04-25  3440.974
2017-04-26  3445.183
2017-04-27  3446.720
2017-04-28  3439.753
2017-05-02  3426.577
2017-05-03  3413.128
2017-05-04  3404.386
2017-05-05  3382.550

[121 rows x 1 columns]

In [137]:
df1.groupby([df1.index.year,df1.index.month]).first()

              close
date date
2016 11    3356.592
     12    3565.036
2017 1     3342.227
     2     3364.492
     3     3458.438
     4     3503.893
     5     3426.577

In [152]:
df1

               close
date
2016-11-07  3356.592
2016-11-08  3371.118
2016-11-09  3353.055
2016-11-10  3390.612
2016-11-11  3417.221
2016-11-14  3430.248
2016-11-15  3429.870
2016-11-16  3429.592
2016-11-17  3436.535
2016-11-18  3417.455
2016-11-21  3441.111
2016-11-22  3468.364
2016-11-23  3474.729
2016-11-24  3488.740
2016-11-25  3521.298
2016-11-28  3535.081
2016-11-29  3564.040
2016-11-30  3538.001
2016-12-01  3565.036
2016-12-02  3528.955
2016-12-05  3469.407
2016-12-06  3459.153
2016-12-07  3475.747
2016-12-08  3470.143
2016-12-09  3493.700
2016-12-12  3409.179
2016-12-13  3405.036
2016-12-14  3378.945
2016-12-15  3340.434
2016-12-16  3346.030
...              ...
2017-03-22  3450.050
2017-03-23  3461.978
2017-03-24  3489.600
2017-03-27  3478.039
2017-03-28  3469.809
2017-03-29  3465.193
2017-03-30  3436.758
2017-03-31  3456.046
2017-04-05  3503.893
2017-04-06  3514.047
2017-04-07  3517.463
2017-04-10  3505.139
2017-04-11  3517.328
2017-04-12  3509.439
2017-04-13  3514.566
2017-04-14  3486.505
2017-04-17  3479.942
2017-04-18  3462.743
2017-04-19  3445.876
2017-04-20  3461.548
2017-04-21  3466.787
2017-04-24  3431.259
2017-04-25  3440.974
2017-04-26  3445.183
2017-04-27  3446.720
2017-04-28  3439.753
2017-05-02  3426.577
2017-05-03  3413.128
2017-05-04  3404.386
2017-05-05  3382.550

[121 rows x 1 columns]

In [157]:
df1.close - 3370

date
2016-11-07    -13.408
2016-11-08      1.118
2016-11-09    -16.945
2016-11-10     20.612
2016-11-11     47.221
2016-11-14     60.248
2016-11-15     59.870
2016-11-16     59.592
2016-11-17     66.535
2016-11-18     47.455
2016-11-21     71.111
2016-11-22     98.364
2016-11-23    104.729
2016-11-24    118.740
2016-11-25    151.298
2016-11-28    165.081
2016-11-29    194.040
2016-11-30    168.001
2016-12-01    195.036
2016-12-02    158.955
2016-12-05     99.407
2016-12-06     89.153
2016-12-07    105.747
2016-12-08    100.143
2016-12-09    123.700
2016-12-12     39.179
2016-12-13     35.036
2016-12-14      8.945
2016-12-15    -29.566
2016-12-16    -23.970
               ...
2017-03-22     80.050
2017-03-23     91.978
2017-03-24    119.600
2017-03-27    108.039
2017-03-28     99.809
2017-03-29     95.193
2017-03-30     66.758
2017-03-31     86.046
2017-04-05    133.893
2017-04-06    144.047
2017-04-07    147.463
2017-04-10    135.139
2017-04-11    147.328
2017-04-12    139.439
2017-04-13    144.566
2017-04-14    116.505
2017-04-17    109.942
2017-04-18     92.743
2017-04-19     75.876
2017-04-20     91.548
2017-04-21     96.787
2017-04-24     61.259
2017-04-25     70.974
2017-04-26     75.183
2017-04-27     76.720
2017-04-28     69.753
2017-05-02     56.577
2017-05-03     43.128
2017-05-04     34.386
2017-05-05     12.550
Name: close, Length: 121, dtype: float64

In [97]:
upbond = df1[0:1]
upbond.close

date
2016-11-07    3357.592
Name: close, dtype: float64

In [98]:
lowbond = upbond.close * 0.7
lowbond

date
2016-11-07    2349.6144
Name: close, dtype: float64

In [139]:
import datetime 
now = datetime.datetime.now()
now

datetime.datetime(2017, 11, 3, 11, 31, 17, 457002)

In [141]:
aa = now - datetime.timedelta(days = 1)

In [151]:
from dateutil.relativedelta import relativedelta
x = '2017-1-30' 
x= pd.to_datetime(x)
x + relativedelta(months=1)

Timestamp('2017-02-28 00:00:00')

In [160]:
sum = 0
for i in range(6):
    l = i+1
    sum = sum + l

In [161]:
sum

21

In [9]:
a = 1 
b = 1

In [10]:
print (a and b)
print (a or b)
print (not (a and b))

1
1
False

In [8]:
df = pd.read_csv('C:/Users/Administrator/Desktop/Work/Projects/Autocall/000905.csv')
df

     Unnamed: 0      close
0     2016/6/27  6044.2191
1     2016/6/28  6107.5105
2     2016/6/29  6120.2021
3     2016/6/30  6123.4939
4      2016/7/1  6111.5385
5      2016/7/4  6231.8811
6      2016/7/5  6269.5046
7      2016/7/6  6297.3969
8      2016/7/7  6319.7926
9      2016/7/8  6299.8533
10    2016/7/11  6312.4988
11    2016/7/12  6395.1448
12    2016/7/13  6446.5634
13    2016/7/14  6455.5827
14    2016/7/15  6441.0159
15    2016/7/18  6412.0731
16    2016/7/19  6431.9383
17    2016/7/20  6417.9223
18    2016/7/21  6442.7093
19    2016/7/22  6390.9254
20    2016/7/25  6408.7831
21    2016/7/26  6494.4743
22    2016/7/27  6229.2885
23    2016/7/28  6243.2883
24    2016/7/29  6202.8923
25     2016/8/1  6109.2782
26     2016/8/2  6168.5088
27     2016/8/3  6198.3885
28     2016/8/4  6238.2309
29     2016/8/5  6203.2872
..          ...        ...
302   2017/9/18  6669.4548
303   2017/9/19  6636.0201
304   2017/9/20  6692.4724
305   2017/9/21  6612.0456
306   2017/9/22  6572.0096
307   2017/9/25  6489.8441
308   2017/9/26  6520.7175
309   2017/9/27  6583.1401
310   2017/9/28  6567.7915
311   2017/9/29  6603.2587
312   2017/10/9  6678.3710
313  2017/10/10  6705.4812
314  2017/10/11  6666.4696
315  2017/10/12  6659.0957
316  2017/10/13  6709.8164
317  2017/10/16  6619.2056
318  2017/10/17  6612.9428
319  2017/10/18  6563.4369
320  2017/10/19  6501.3999
321  2017/10/20  6571.4240
322  2017/10/23  6612.7637
323  2017/10/24  6603.0042
324  2017/10/25  6647.8920
325  2017/10/26  6671.9288
326  2017/10/27  6630.8067
327  2017/10/30  6511.7616
328  2017/10/31  6560.2054
329   2017/11/1  6552.9545
330   2017/11/2  6484.9258
331   2017/11/3  6426.9799

[332 rows x 2 columns]

In [9]:
df.columns = ['date', 'close']

In [11]:
df.index = df.date

In [12]:
df.drop('date', axis=1, inplace=True)
df

                close
date
2016/6/27   6044.2191
2016/6/28   6107.5105
2016/6/29   6120.2021
2016/6/30   6123.4939
2016/7/1    6111.5385
2016/7/4    6231.8811
2016/7/5    6269.5046
2016/7/6    6297.3969
2016/7/7    6319.7926
2016/7/8    6299.8533
2016/7/11   6312.4988
2016/7/12   6395.1448
2016/7/13   6446.5634
2016/7/14   6455.5827
2016/7/15   6441.0159
2016/7/18   6412.0731
2016/7/19   6431.9383
2016/7/20   6417.9223
2016/7/21   6442.7093
2016/7/22   6390.9254
2016/7/25   6408.7831
2016/7/26   6494.4743
2016/7/27   6229.2885
2016/7/28   6243.2883
2016/7/29   6202.8923
2016/8/1    6109.2782
2016/8/2    6168.5088
2016/8/3    6198.3885
2016/8/4    6238.2309
2016/8/5    6203.2872
...               ...
2017/9/18   6669.4548
2017/9/19   6636.0201
2017/9/20   6692.4724
2017/9/21   6612.0456
2017/9/22   6572.0096
2017/9/25   6489.8441
2017/9/26   6520.7175
2017/9/27   6583.1401
2017/9/28   6567.7915
2017/9/29   6603.2587
2017/10/9   6678.3710
2017/10/10  6705.4812
2017/10/11  6666.4696
2017/10/12  6659.0957
2017/10/13  6709.8164
2017/10/16  6619.2056
2017/10/17  6612.9428
2017/10/18  6563.4369
2017/10/19  6501.3999
2017/10/20  6571.4240
2017/10/23  6612.7637
2017/10/24  6603.0042
2017/10/25  6647.8920
2017/10/26  6671.9288
2017/10/27  6630.8067
2017/10/30  6511.7616
2017/10/31  6560.2054
2017/11/1   6552.9545
2017/11/2   6484.9258
2017/11/3   6426.9799

[332 rows x 1 columns]

In [13]:
df.to_hdf('new000905.h5','new')