In [1]:
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [6]:
df = pd.read_hdf('C:/Users/Administrator/Desktop/Work/Projects/Autocall/new_HS300.h5')
df

               close
date
2016-11-02  3333.352
2016-11-03  3365.085
2016-11-04  3354.175
2016-11-07  3356.592
2016-11-08  3371.118
2016-11-09  3353.055
2016-11-10  3390.612
2016-11-11  3417.221
2016-11-14  3430.248
2016-11-15  3429.870
2016-11-16  3429.592
2016-11-17  3436.535
2016-11-18  3417.455
2016-11-21  3441.111
2016-11-22  3468.364
2016-11-23  3474.729
2016-11-24  3488.740
2016-11-25  3521.298
2016-11-28  3535.081
2016-11-29  3564.040
2016-11-30  3538.001
2016-12-01  3565.036
2016-12-02  3528.955
2016-12-05  3469.407
2016-12-06  3459.153
2016-12-07  3475.747
2016-12-08  3470.143
2016-12-09  3493.700
2016-12-12  3409.179
2016-12-13  3405.036
...              ...
2017-09-15  3831.296
2017-09-18  3843.143
2017-09-19  3832.116
2017-09-20  3842.435
2017-09-21  3837.818
2017-09-22  3837.730
2017-09-25  3817.791
2017-09-26  3820.782
2017-09-27  3821.200
2017-09-28  3822.539
2017-09-29  3836.501
2017-10-09  3882.208
2017-10-10  3889.864
2017-10-11  3902.687
2017-10-12  3912.954
2017-10-13  3921.002
2017-10-16  3913.446
2017-10-17  3913.069
2017-10-18  3944.163
2017-10-19  3931.249
2017-10-20  3926.852
2017-10-23  3930.798
2017-10-24  3959.395
2017-10-25  3976.949
2017-10-26  3993.575
2017-10-27  4021.968
2017-10-30  4009.722
2017-10-31  4006.718
2017-11-01  3996.622
2017-11-02  3997.134

[246 rows x 1 columns]

In [31]:
dft = df['2017-03-15' : '2017-04-15']
dft

               close
date
2017-03-15  3463.644
2017-03-16  3481.507
2017-03-17  3445.805
2017-03-20  3449.613
2017-03-21  3466.347
2017-03-22  3450.050
2017-03-23  3461.978
2017-03-24  3489.600
2017-03-27  3478.039
2017-03-28  3469.809
2017-03-29  3465.193
2017-03-30  3436.758
2017-03-31  3456.046
2017-04-05  3503.893
2017-04-06  3514.047
2017-04-07  3517.463
2017-04-10  3505.139
2017-04-11  3517.328
2017-04-12  3509.439
2017-04-13  3514.566
2017-04-14  3486.505

In [37]:
if '2017-03-15' in dft.index:
    print ('yes')
else:
    print('No')

yes

In [7]:
def get_obs_days(dt):
    dt = pd.to_datetime(dt)
    a = dt + relativedelta(months=1)
    b = dt + relativedelta(months=2)
    c = dt + relativedelta(months=3)
    d = dt + relativedelta(months=4)
    e = dt + relativedelta(months=5)
    f = dt + relativedelta(months=6)
    l = [a,b,c,d,e,f]
    return l

In [30]:
l1 = get_obs_days('2015-12-30')
l1

[Timestamp('2016-01-30 00:00:00'),
 Timestamp('2016-02-29 00:00:00'),
 Timestamp('2016-03-30 00:00:00'),
 Timestamp('2016-04-30 00:00:00'),
 Timestamp('2016-05-30 00:00:00'),
 Timestamp('2016-06-30 00:00:00')]

In [10]:
def split_df(df,dt):
    dt = pd.to_datetime(dt)
    l = get_obs_days(dt)
    df1 = df[dt:l[0]] 
    df2 = df[l[0]:l[1]]
    df3 = df[l[1]:l[2]]
    df4 = df[l[2]:l[3]]
    df5 = df[l[3]:l[4]]
    df6 = df[l[4]:l[5]]
    list = [df1,df2,df3,df4,df5,df6]
    return list

In [11]:
list = split_df(df, '2016-12-30')
list[0]

               close
date
2016-12-30  3310.081
2017-01-03  3342.227
2017-01-04  3368.312
2017-01-05  3367.789
2017-01-06  3347.666
2017-01-09  3363.901
2017-01-10  3358.272
2017-01-11  3334.495
2017-01-12  3317.624
2017-01-13  3319.912
2017-01-16  3319.445
2017-01-17  3326.356
2017-01-18  3339.365
2017-01-19  3329.289
2017-01-20  3354.889
2017-01-23  3364.081
2017-01-24  3364.451
2017-01-25  3375.904
2017-01-26  3387.961

In [15]:
list[1]

               close
date
2017-02-03  3364.492
2017-02-06  3373.205
2017-02-07  3365.685
2017-02-08  3383.288
2017-02-09  3396.292
2017-02-10  3413.487
2017-02-13  3436.275
2017-02-14  3435.804
2017-02-15  3421.713
2017-02-16  3440.933
2017-02-17  3421.442
2017-02-20  3471.393
2017-02-21  3482.823
2017-02-22  3489.757
2017-02-23  3473.324
2017-02-24  3473.852
2017-02-27  3446.223
2017-02-28  3452.810

In [103]:
open_price = list[0][0:1]
open_price.close.max()

3310.0809999999997

In [104]:
upperbond = list[0][0:1]
lowerbond = list[0][0:1]*0.7

In [88]:
lowerbond.close.max()

2317.0566999999996

In [126]:
def month_pro(df, open_price, lowerbond, rate):
    profit = 0
    loss= 0
    a = df[-1:].close.max()
    b = open_price.close.max()
    c = lowerbond.close.max()
    if a > b:
        print ('knock-out, knock-out!')
        profit = rate
        knock = 1
    elif a >= c:
        profit = rate
    else:
        profit = 0
    return [knock, profit]

In [127]:
month_pro(list[0], open_price, lowerbond, 0.025)

knock-out, knock-out!

[1, 0.025]

In [114]:
print (month_pro_loss(list[0], open_price, lowerbond, 0.025))
print (month_pro_loss(list[1], open_price, lowerbond, 0.025))
print (month_pro_loss(list[2], open_price, lowerbond, 0.025))
print (month_pro_loss(list[3], open_price, lowerbond, 0.025))
print (month_pro_loss(list[4], open_price, lowerbond, 0.025))
print (month_pro_loss(list[5], open_price, lowerbond, 0.025))

knock-out, knock-out!
[1, 0.025]
knock-out, knock-out!
[1, 0.025]
knock-out, knock-out!
[1, 0.025]
knock-out, knock-out!
[1, 0.025]
knock-out, knock-out!
[1, 0.025]
knock-out, knock-out!
[1, 0.025]

In [129]:
cum_pro = 0
for i in list:
    result = month_pro(i, open_price, lowerbond, 0.025)
    cum_pro = cum_pro + result[1]
    if result[0] == 1:
        break

knock-out, knock-out!

In [186]:
cum_pro

0.025

In [240]:
def knock_in(df, dt, mths):
    knock_in = 0
    dt = pd.to_datetime(dt)
    y = dt + relativedelta(months= mths )
    df1 = df[dt:y] 
    if np.isnan(df1[df1 < lowerbond.close.min()].close.min())== 1:
        print ('did not knock-in!' )
        knock_in =1
        return knock_in
    else: 
        print ('knock-in, knock-in!')
        return knock_in

In [241]:
x = '2016-12-30'
x = pd.to_datetime(x)
y = x + relativedelta(months= 6 )
df1 = df[x:y] 
if np.isnan(df1[df1 < lowerbond.close.min()].close.min())== 1:
    print ('did not knock-in!' )
else: 
    print ('knock-in, knock-in!')

did not knock-in!

In [188]:
df1[-1:].close

date
2017-06-30    3666.798
Name: close, dtype: float64

In [225]:
lowerbond.close.min()

2317.0566999999996

                close
date
2016-12-30  2317.0567

In [242]:
print (np.isnan(df1[df1 < lowerbond.close].close.min()))
print (np.isnan(1))

True
False

In [191]:
(df[-1:].close.min() - open_price.close.min())/open_price.close.min()

0.2075638028193269

In [184]:
m = knock_in(df, '2016-12-30',6)
m

did not knock-in!

1

In [202]:
def final_rtn(df,dt,open_price, mths, m,cum_pro):
    dt = pd.to_datetime(dt)
    y = dt + relativedelta(months= mths )
    df1 = df[dt:y] 
    if (df[-1:].close.min() < open_price.close.min()) &(m == 0) == True:
        final_rtn = cum_pro - ((df[-1:].close.min() - open_price.close.min())/open_price.close.min())
    else:
        final_rtn = cum_pro
    return final_rtn

In [203]:
final_rtn(df,'2016-12-30',open_price, 6,m, cum_pro)

0.025