In [1]:
import pandas as pd

In [2]:
df = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\hsi_data\\account_data.h5')

In [3]:
df

,account,product,buy_sell,take_price,take_time,close_price,close_time
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000
...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000

In [15]:
df =df.reset_index()

In [21]:
del df['index']

In [22]:
df

,account,product,buy_sell,take_price,take_time,close_price,close_time
0,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000
1,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000
2,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000
3,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000
4,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000
5,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000
6,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000
7,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000
8,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000
9,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000
10,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000
11,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000
12,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000
13,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000
14,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000
15,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000
16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000
17,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000
18,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000
19,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000
20,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000
21,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000
22,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000
23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000
24,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000
25,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000
26,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000
27,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000
28,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000
29,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000
...,...,...,...,...,...,...,...
402730,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000
402731,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000
402732,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000
402733,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000
402734,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000
402735,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000
402736,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000
402737,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000
402738,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000
402739,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000
402740,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000
402741,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000
402742,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000
402743,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000
402744,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000
402745,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000
402746,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000
402747,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000
402748,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000
402749,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000
402750,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000
402751,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000
402752,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000
402753,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000
402754,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000
402755,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000
402756,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000
402757,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000
402758,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000
402759,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000

In [45]:
df1 =df[df.buy_sell ==1]
df1

,account,product,buy_sell,take_price,take_time,close_price,close_time
3,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000
5,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000
6,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000
10,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000
14,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000
17,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000
21,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000
22,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000
23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000
24,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000
26,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000
27,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000
30,A0007,HSIK3,1,22486.0,2013-05-02 09:41:18.000,22439.0,2013-05-02 09:51:21.000
37,A0007,HSIK3,1,22452.0,2013-05-02 09:47:27.000,22459.0,2013-05-02 09:49:44.000
38,A0012,HSIK3,1,22454.0,2013-05-02 09:48:43.000,22511.0,2013-05-02 10:11:45.000
41,A0007,HSIK3,1,22452.0,2013-05-02 09:51:35.000,22505.0,2013-05-02 10:09:39.000
42,A0006,HSIK3,1,22467.0,2013-05-02 09:56:33.000,22480.0,2013-05-02 10:07:47.000
43,A0004,HSIK3,1,22456.0,2013-05-02 10:00:04.000,22459.0,2013-05-02 10:00:54.000
44,A0010,HSIK3,1,22450.0,2013-05-02 10:01:49.000,22484.0,2013-05-02 10:08:12.000
45,A0016,HSIK3,1,22468.0,2013-05-02 10:06:09.000,22481.0,2013-05-02 10:07:54.000
46,A0017,HSIK3,1,22490.0,2013-05-02 10:09:17.000,22543.0,2013-05-02 10:10:14.000
47,A0004,HSIK3,1,22497.0,2013-05-02 10:09:38.000,22531.0,2013-05-02 10:10:12.000
48,A0007,HSIK3,1,22520.0,2013-05-02 10:10:02.000,22530.0,2013-05-02 10:10:33.000
51,A0007,HSIK3,1,22517.0,2013-05-02 10:11:31.000,22527.0,2013-05-02 10:19:16.000
56,A0021,HSIK3,1,22530.0,2013-05-02 10:17:28.000,22541.0,2013-05-02 10:56:42.000
58,A0007,HSIK3,1,22519.0,2013-05-02 10:19:29.000,22543.0,2013-05-02 10:48:26.000
66,A0021,HSIK3,1,22511.0,2013-05-02 10:24:53.000,22482.0,2013-05-02 10:34:49.000
70,A0007,HSIK3,1,22512.0,2013-05-02 10:31:05.000,22500.0,2013-05-02 10:32:23.000
72,A0007,HSIK3,1,22493.0,2013-05-02 10:33:02.000,22508.0,2013-05-02 10:37:03.000
77,A0007,HSIK3,1,22500.0,2013-05-02 10:37:52.000,22520.0,2013-05-02 10:45:15.000
...,...,...,...,...,...,...,...
402722,A0184,HSIF6,1,21893.0,2015-12-30 15:30:09.000,21907.0,2015-12-30 15:35:30.000
402723,A1502,HSIF6,1,21895.0,2015-12-30 15:32:33.000,21902.0,2015-12-30 15:33:17.000
402724,A0775,HSIF6,1,21906.0,2015-12-30 15:34:15.000,21912.0,2015-12-30 15:39:01.000
402725,A1583,HSIF6,1,21907.0,2015-12-30 15:34:21.000,21914.0,2015-12-30 15:41:55.000
402726,A0231,HSIF6,1,21911.0,2015-12-30 15:34:42.000,21914.0,2015-12-30 15:39:18.000
402727,A0577,HSIF6,1,21913.0,2015-12-30 15:34:48.000,21925.0,2015-12-30 15:54:54.000
402728,A1635,HSIF6,1,21912.0,2015-12-30 15:34:51.000,21927.0,2015-12-30 15:55:00.000
402729,A1381,HSIF6,1,21905.0,2015-12-30 15:35:42.000,21915.0,2015-12-30 15:41:57.000
402730,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000
402731,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000
402733,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000
402734,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000
402735,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000
402736,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000
402739,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000
402740,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000
402741,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000
402742,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000
402743,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000
402744,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000
402745,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000
402747,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000
402748,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000
402749,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000
402750,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000
402751,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000
402752,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000
402753,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000
402757,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000
402759,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000

In [47]:
df2 =df[df.buy_sell ==2]
df2

,account,product,buy_sell,take_price,take_time,close_price,close_time
0,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000
1,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000
2,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000
4,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000
7,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000
8,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000
9,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000
11,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000
12,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000
13,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000
15,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000
16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000
18,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000
19,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000
20,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000
25,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000
28,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000
29,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000
31,A0003,HSIK3,2,22486.0,2013-05-02 09:41:28.000,22479.0,2013-05-02 09:44:43.000
32,A0008,HSIK3,2,22493.0,2013-05-02 09:42:11.000,22456.0,2013-05-02 09:48:27.000
33,A0004,HSIK3,2,22477.0,2013-05-02 09:42:39.000,22472.0,2013-05-02 09:43:13.000
34,A0004,HSIK3,2,22465.0,2013-05-02 09:45:21.000,22459.0,2013-05-02 09:46:44.000
35,A0006,HSIK3,2,22464.0,2013-05-02 09:45:27.000,22453.0,2013-05-02 09:46:12.000
36,A0014,HSIK3,2,22466.0,2013-05-02 09:46:50.000,22462.0,2013-05-02 09:56:45.000
39,A0015,HSIK3,2,22452.0,2013-05-02 09:50:27.000,22471.0,2013-05-02 09:52:43.000
40,A0004,HSIK3,2,22440.0,2013-05-02 09:51:25.000,22469.0,2013-05-02 09:52:52.000
49,A0014,HSIK3,2,22540.0,2013-05-02 10:10:13.000,22507.0,2013-05-02 10:20:42.000
50,A0018,HSIK3,2,22539.0,2013-05-02 10:10:22.000,22512.0,2013-05-02 10:11:49.000
52,A0008,HSIK3,2,22522.0,2013-05-02 10:12:04.000,22513.0,2013-05-02 10:20:02.000
53,A0019,HSIK3,2,22523.0,2013-05-02 10:12:07.000,22516.0,2013-05-02 10:13:03.000
...,...,...,...,...,...,...,...
402663,A0019,HSIF6,2,21893.0,2015-12-30 14:40:24.000,21900.0,2015-12-30 14:41:45.000
402664,A0577,HSIF6,2,21898.0,2015-12-30 14:41:30.000,21896.0,2015-12-30 15:18:43.000
402675,A1583,HSIF6,2,21914.0,2015-12-30 14:51:05.000,21897.0,2015-12-30 15:06:36.000
402676,A0481,HSIF6,2,21921.0,2015-12-30 14:51:22.000,21907.0,2015-12-30 15:13:16.000
402678,A0025,HSIF6,2,21928.0,2015-12-30 14:54:03.000,21903.0,2015-12-30 15:10:24.000
402679,A0411,HSIF6,2,21925.0,2015-12-30 14:54:45.000,21917.0,2015-12-30 15:02:05.000
402680,A1583,HSIF6,2,21928.0,2015-12-30 14:57:24.000,21918.0,2015-12-30 15:01:54.000
402683,A0903,HSIF6,2,21923.0,2015-12-30 15:00:54.000,21908.0,2015-12-30 15:02:33.000
402684,A0335,HSIF6,2,21922.0,2015-12-30 15:01:16.000,21912.0,2015-12-30 15:04:58.000
402687,A1207,HSIF6,2,21917.0,2015-12-30 15:02:05.000,21904.0,2015-12-30 15:12:59.000
402691,A1548,HSIF6,2,21914.0,2015-12-30 15:05:20.000,21899.0,2015-12-30 15:10:40.000
402692,A0903,HSIF6,2,21908.0,2015-12-30 15:05:46.000,21897.0,2015-12-30 15:06:38.000
402693,A0481,HSIF6,2,21906.0,2015-12-30 15:05:57.000,21900.0,2015-12-30 15:15:13.000
402694,A1535,HSIF6,2,21906.0,2015-12-30 15:06:09.000,21898.0,2015-12-30 15:07:01.000
402700,A0775,HSIF6,2,21905.0,2015-12-30 15:12:57.000,21898.0,2015-12-30 15:17:42.000
402702,A1207,HSIF6,2,21903.0,2015-12-30 15:14:35.000,21890.0,2015-12-30 15:20:20.000
402705,A1040,HSIF6,2,21896.0,2015-12-30 15:19:06.000,21892.0,2015-12-30 15:23:14.000
402707,A0481,HSIF6,2,21890.0,2015-12-30 15:19:49.000,21932.0,2015-12-30 15:56:06.000
402708,A1130,HSIF6,2,21889.0,2015-12-30 15:19:50.000,21913.0,2015-12-30 16:14:43.000
402710,A1516,HSIF6,2,21888.0,2015-12-30 15:20:16.000,21916.0,2015-12-30 15:39:14.000
402711,A1058,HSIF6,2,21893.0,2015-12-30 15:20:31.000,21914.0,2015-12-30 15:39:18.000
402714,A1600,HSIF6,2,21898.0,2015-12-30 15:21:58.000,21914.0,2015-12-30 15:39:25.000
402732,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000
402737,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000
402738,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000
402746,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000
402754,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000
402755,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000
402756,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000
402758,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000

In [48]:
profit1 = df1.close_price - df1.take_price
profit2 = df2.take_price - df2.close_price

In [51]:
profit1

3        -27.0
5         28.0
6         20.0
10        15.0
14       -47.0
17       -47.0
21        48.0
22        28.0
23        34.0
24        28.0
26         9.0
27        46.0
30       -47.0
37         7.0
38        57.0
41        53.0
42        13.0
43         3.0
44        34.0
45        13.0
46        53.0
47        34.0
48        10.0
51        10.0
56        11.0
58        24.0
66       -29.0
70       -12.0
72        15.0
77        20.0
          ...
402722    14.0
402723     7.0
402724     6.0
402725     7.0
402726     3.0
402727    12.0
402728    15.0
402729    10.0
402730     8.0
402731     8.0
402733     9.0
402734     4.0
402735    10.0
402736     8.0
402739    10.0
402740    -8.0
402741    18.0
402742     8.0
402743    10.0
402744     4.0
402745    10.0
402747     4.0
402748     9.0
402749    10.0
402750     9.0
402751   -37.0
402752   -35.0
402753   -20.0
402757    11.0
402759     7.0
Length: 185164, dtype: float64

In [52]:
df1.insert(7,'profit',profit1)

In [53]:
df1

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit
3,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000,-27.0
5,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0
6,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000,20.0
10,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000,15.0
14,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000,-47.0
17,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0
21,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000,48.0
22,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0
23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000,34.0
24,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0
26,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000,9.0
27,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000,46.0
30,A0007,HSIK3,1,22486.0,2013-05-02 09:41:18.000,22439.0,2013-05-02 09:51:21.000,-47.0
37,A0007,HSIK3,1,22452.0,2013-05-02 09:47:27.000,22459.0,2013-05-02 09:49:44.000,7.0
38,A0012,HSIK3,1,22454.0,2013-05-02 09:48:43.000,22511.0,2013-05-02 10:11:45.000,57.0
41,A0007,HSIK3,1,22452.0,2013-05-02 09:51:35.000,22505.0,2013-05-02 10:09:39.000,53.0
42,A0006,HSIK3,1,22467.0,2013-05-02 09:56:33.000,22480.0,2013-05-02 10:07:47.000,13.0
43,A0004,HSIK3,1,22456.0,2013-05-02 10:00:04.000,22459.0,2013-05-02 10:00:54.000,3.0
44,A0010,HSIK3,1,22450.0,2013-05-02 10:01:49.000,22484.0,2013-05-02 10:08:12.000,34.0
45,A0016,HSIK3,1,22468.0,2013-05-02 10:06:09.000,22481.0,2013-05-02 10:07:54.000,13.0
46,A0017,HSIK3,1,22490.0,2013-05-02 10:09:17.000,22543.0,2013-05-02 10:10:14.000,53.0
47,A0004,HSIK3,1,22497.0,2013-05-02 10:09:38.000,22531.0,2013-05-02 10:10:12.000,34.0
48,A0007,HSIK3,1,22520.0,2013-05-02 10:10:02.000,22530.0,2013-05-02 10:10:33.000,10.0
51,A0007,HSIK3,1,22517.0,2013-05-02 10:11:31.000,22527.0,2013-05-02 10:19:16.000,10.0
56,A0021,HSIK3,1,22530.0,2013-05-02 10:17:28.000,22541.0,2013-05-02 10:56:42.000,11.0
58,A0007,HSIK3,1,22519.0,2013-05-02 10:19:29.000,22543.0,2013-05-02 10:48:26.000,24.0
66,A0021,HSIK3,1,22511.0,2013-05-02 10:24:53.000,22482.0,2013-05-02 10:34:49.000,-29.0
70,A0007,HSIK3,1,22512.0,2013-05-02 10:31:05.000,22500.0,2013-05-02 10:32:23.000,-12.0
72,A0007,HSIK3,1,22493.0,2013-05-02 10:33:02.000,22508.0,2013-05-02 10:37:03.000,15.0
77,A0007,HSIK3,1,22500.0,2013-05-02 10:37:52.000,22520.0,2013-05-02 10:45:15.000,20.0
...,...,...,...,...,...,...,...,...
402722,A0184,HSIF6,1,21893.0,2015-12-30 15:30:09.000,21907.0,2015-12-30 15:35:30.000,14.0
402723,A1502,HSIF6,1,21895.0,2015-12-30 15:32:33.000,21902.0,2015-12-30 15:33:17.000,7.0
402724,A0775,HSIF6,1,21906.0,2015-12-30 15:34:15.000,21912.0,2015-12-30 15:39:01.000,6.0
402725,A1583,HSIF6,1,21907.0,2015-12-30 15:34:21.000,21914.0,2015-12-30 15:41:55.000,7.0
402726,A0231,HSIF6,1,21911.0,2015-12-30 15:34:42.000,21914.0,2015-12-30 15:39:18.000,3.0
402727,A0577,HSIF6,1,21913.0,2015-12-30 15:34:48.000,21925.0,2015-12-30 15:54:54.000,12.0
402728,A1635,HSIF6,1,21912.0,2015-12-30 15:34:51.000,21927.0,2015-12-30 15:55:00.000,15.0
402729,A1381,HSIF6,1,21905.0,2015-12-30 15:35:42.000,21915.0,2015-12-30 15:41:57.000,10.0
402730,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000,8.0
402731,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000,8.0
402733,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000,9.0
402734,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000,4.0
402735,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000,10.0
402736,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000,8.0
402739,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000,10.0
402740,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000,-8.0
402741,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000,18.0
402742,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000,8.0
402743,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000,10.0
402744,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000,4.0
402745,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000,10.0
402747,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000,4.0
402748,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000,9.0
402749,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000,10.0
402750,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000,9.0
402751,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000,-37.0
402752,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000,-35.0
402753,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000,-20.0
402757,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000,11.0
402759,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000,7.0

In [54]:
df2.insert(7,'profit',profit2)
df2

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit
0,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000,104.0
1,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000,11.0
2,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000,25.0
4,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000,104.0
7,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000,106.0
8,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000,-42.0
9,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000,-47.0
11,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000,13.0
12,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000,3.0
13,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000,104.0
15,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000,10.0
16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000,71.0
18,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000,58.0
19,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000,9.0
20,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000,17.0
25,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000,6.0
28,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000,15.0
29,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000,28.0
31,A0003,HSIK3,2,22486.0,2013-05-02 09:41:28.000,22479.0,2013-05-02 09:44:43.000,7.0
32,A0008,HSIK3,2,22493.0,2013-05-02 09:42:11.000,22456.0,2013-05-02 09:48:27.000,37.0
33,A0004,HSIK3,2,22477.0,2013-05-02 09:42:39.000,22472.0,2013-05-02 09:43:13.000,5.0
34,A0004,HSIK3,2,22465.0,2013-05-02 09:45:21.000,22459.0,2013-05-02 09:46:44.000,6.0
35,A0006,HSIK3,2,22464.0,2013-05-02 09:45:27.000,22453.0,2013-05-02 09:46:12.000,11.0
36,A0014,HSIK3,2,22466.0,2013-05-02 09:46:50.000,22462.0,2013-05-02 09:56:45.000,4.0
39,A0015,HSIK3,2,22452.0,2013-05-02 09:50:27.000,22471.0,2013-05-02 09:52:43.000,-19.0
40,A0004,HSIK3,2,22440.0,2013-05-02 09:51:25.000,22469.0,2013-05-02 09:52:52.000,-29.0
49,A0014,HSIK3,2,22540.0,2013-05-02 10:10:13.000,22507.0,2013-05-02 10:20:42.000,33.0
50,A0018,HSIK3,2,22539.0,2013-05-02 10:10:22.000,22512.0,2013-05-02 10:11:49.000,27.0
52,A0008,HSIK3,2,22522.0,2013-05-02 10:12:04.000,22513.0,2013-05-02 10:20:02.000,9.0
53,A0019,HSIK3,2,22523.0,2013-05-02 10:12:07.000,22516.0,2013-05-02 10:13:03.000,7.0
...,...,...,...,...,...,...,...,...
402663,A0019,HSIF6,2,21893.0,2015-12-30 14:40:24.000,21900.0,2015-12-30 14:41:45.000,-7.0
402664,A0577,HSIF6,2,21898.0,2015-12-30 14:41:30.000,21896.0,2015-12-30 15:18:43.000,2.0
402675,A1583,HSIF6,2,21914.0,2015-12-30 14:51:05.000,21897.0,2015-12-30 15:06:36.000,17.0
402676,A0481,HSIF6,2,21921.0,2015-12-30 14:51:22.000,21907.0,2015-12-30 15:13:16.000,14.0
402678,A0025,HSIF6,2,21928.0,2015-12-30 14:54:03.000,21903.0,2015-12-30 15:10:24.000,25.0
402679,A0411,HSIF6,2,21925.0,2015-12-30 14:54:45.000,21917.0,2015-12-30 15:02:05.000,8.0
402680,A1583,HSIF6,2,21928.0,2015-12-30 14:57:24.000,21918.0,2015-12-30 15:01:54.000,10.0
402683,A0903,HSIF6,2,21923.0,2015-12-30 15:00:54.000,21908.0,2015-12-30 15:02:33.000,15.0
402684,A0335,HSIF6,2,21922.0,2015-12-30 15:01:16.000,21912.0,2015-12-30 15:04:58.000,10.0
402687,A1207,HSIF6,2,21917.0,2015-12-30 15:02:05.000,21904.0,2015-12-30 15:12:59.000,13.0
402691,A1548,HSIF6,2,21914.0,2015-12-30 15:05:20.000,21899.0,2015-12-30 15:10:40.000,15.0
402692,A0903,HSIF6,2,21908.0,2015-12-30 15:05:46.000,21897.0,2015-12-30 15:06:38.000,11.0
402693,A0481,HSIF6,2,21906.0,2015-12-30 15:05:57.000,21900.0,2015-12-30 15:15:13.000,6.0
402694,A1535,HSIF6,2,21906.0,2015-12-30 15:06:09.000,21898.0,2015-12-30 15:07:01.000,8.0
402700,A0775,HSIF6,2,21905.0,2015-12-30 15:12:57.000,21898.0,2015-12-30 15:17:42.000,7.0
402702,A1207,HSIF6,2,21903.0,2015-12-30 15:14:35.000,21890.0,2015-12-30 15:20:20.000,13.0
402705,A1040,HSIF6,2,21896.0,2015-12-30 15:19:06.000,21892.0,2015-12-30 15:23:14.000,4.0
402707,A0481,HSIF6,2,21890.0,2015-12-30 15:19:49.000,21932.0,2015-12-30 15:56:06.000,-42.0
402708,A1130,HSIF6,2,21889.0,2015-12-30 15:19:50.000,21913.0,2015-12-30 16:14:43.000,-24.0
402710,A1516,HSIF6,2,21888.0,2015-12-30 15:20:16.000,21916.0,2015-12-30 15:39:14.000,-28.0
402711,A1058,HSIF6,2,21893.0,2015-12-30 15:20:31.000,21914.0,2015-12-30 15:39:18.000,-21.0
402714,A1600,HSIF6,2,21898.0,2015-12-30 15:21:58.000,21914.0,2015-12-30 15:39:25.000,-16.0
402732,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000,7.0
402737,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000,8.0
402738,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000,-10.0
402746,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000,-5.0
402754,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000,8.0
402755,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000,11.0
402756,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000,6.0
402758,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000,11.0

In [55]:
df3 = pd.concat([df1,df2])

In [56]:
df3

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit
3,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000,-27.0
5,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0
6,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000,20.0
10,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000,15.0
14,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000,-47.0
17,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0
21,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000,48.0
22,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0
23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000,34.0
24,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0
26,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000,9.0
27,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000,46.0
30,A0007,HSIK3,1,22486.0,2013-05-02 09:41:18.000,22439.0,2013-05-02 09:51:21.000,-47.0
37,A0007,HSIK3,1,22452.0,2013-05-02 09:47:27.000,22459.0,2013-05-02 09:49:44.000,7.0
38,A0012,HSIK3,1,22454.0,2013-05-02 09:48:43.000,22511.0,2013-05-02 10:11:45.000,57.0
41,A0007,HSIK3,1,22452.0,2013-05-02 09:51:35.000,22505.0,2013-05-02 10:09:39.000,53.0
42,A0006,HSIK3,1,22467.0,2013-05-02 09:56:33.000,22480.0,2013-05-02 10:07:47.000,13.0
43,A0004,HSIK3,1,22456.0,2013-05-02 10:00:04.000,22459.0,2013-05-02 10:00:54.000,3.0
44,A0010,HSIK3,1,22450.0,2013-05-02 10:01:49.000,22484.0,2013-05-02 10:08:12.000,34.0
45,A0016,HSIK3,1,22468.0,2013-05-02 10:06:09.000,22481.0,2013-05-02 10:07:54.000,13.0
46,A0017,HSIK3,1,22490.0,2013-05-02 10:09:17.000,22543.0,2013-05-02 10:10:14.000,53.0
47,A0004,HSIK3,1,22497.0,2013-05-02 10:09:38.000,22531.0,2013-05-02 10:10:12.000,34.0
48,A0007,HSIK3,1,22520.0,2013-05-02 10:10:02.000,22530.0,2013-05-02 10:10:33.000,10.0
51,A0007,HSIK3,1,22517.0,2013-05-02 10:11:31.000,22527.0,2013-05-02 10:19:16.000,10.0
56,A0021,HSIK3,1,22530.0,2013-05-02 10:17:28.000,22541.0,2013-05-02 10:56:42.000,11.0
58,A0007,HSIK3,1,22519.0,2013-05-02 10:19:29.000,22543.0,2013-05-02 10:48:26.000,24.0
66,A0021,HSIK3,1,22511.0,2013-05-02 10:24:53.000,22482.0,2013-05-02 10:34:49.000,-29.0
70,A0007,HSIK3,1,22512.0,2013-05-02 10:31:05.000,22500.0,2013-05-02 10:32:23.000,-12.0
72,A0007,HSIK3,1,22493.0,2013-05-02 10:33:02.000,22508.0,2013-05-02 10:37:03.000,15.0
77,A0007,HSIK3,1,22500.0,2013-05-02 10:37:52.000,22520.0,2013-05-02 10:45:15.000,20.0
...,...,...,...,...,...,...,...,...
402663,A0019,HSIF6,2,21893.0,2015-12-30 14:40:24.000,21900.0,2015-12-30 14:41:45.000,-7.0
402664,A0577,HSIF6,2,21898.0,2015-12-30 14:41:30.000,21896.0,2015-12-30 15:18:43.000,2.0
402675,A1583,HSIF6,2,21914.0,2015-12-30 14:51:05.000,21897.0,2015-12-30 15:06:36.000,17.0
402676,A0481,HSIF6,2,21921.0,2015-12-30 14:51:22.000,21907.0,2015-12-30 15:13:16.000,14.0
402678,A0025,HSIF6,2,21928.0,2015-12-30 14:54:03.000,21903.0,2015-12-30 15:10:24.000,25.0
402679,A0411,HSIF6,2,21925.0,2015-12-30 14:54:45.000,21917.0,2015-12-30 15:02:05.000,8.0
402680,A1583,HSIF6,2,21928.0,2015-12-30 14:57:24.000,21918.0,2015-12-30 15:01:54.000,10.0
402683,A0903,HSIF6,2,21923.0,2015-12-30 15:00:54.000,21908.0,2015-12-30 15:02:33.000,15.0
402684,A0335,HSIF6,2,21922.0,2015-12-30 15:01:16.000,21912.0,2015-12-30 15:04:58.000,10.0
402687,A1207,HSIF6,2,21917.0,2015-12-30 15:02:05.000,21904.0,2015-12-30 15:12:59.000,13.0
402691,A1548,HSIF6,2,21914.0,2015-12-30 15:05:20.000,21899.0,2015-12-30 15:10:40.000,15.0
402692,A0903,HSIF6,2,21908.0,2015-12-30 15:05:46.000,21897.0,2015-12-30 15:06:38.000,11.0
402693,A0481,HSIF6,2,21906.0,2015-12-30 15:05:57.000,21900.0,2015-12-30 15:15:13.000,6.0
402694,A1535,HSIF6,2,21906.0,2015-12-30 15:06:09.000,21898.0,2015-12-30 15:07:01.000,8.0
402700,A0775,HSIF6,2,21905.0,2015-12-30 15:12:57.000,21898.0,2015-12-30 15:17:42.000,7.0
402702,A1207,HSIF6,2,21903.0,2015-12-30 15:14:35.000,21890.0,2015-12-30 15:20:20.000,13.0
402705,A1040,HSIF6,2,21896.0,2015-12-30 15:19:06.000,21892.0,2015-12-30 15:23:14.000,4.0
402707,A0481,HSIF6,2,21890.0,2015-12-30 15:19:49.000,21932.0,2015-12-30 15:56:06.000,-42.0
402708,A1130,HSIF6,2,21889.0,2015-12-30 15:19:50.000,21913.0,2015-12-30 16:14:43.000,-24.0
402710,A1516,HSIF6,2,21888.0,2015-12-30 15:20:16.000,21916.0,2015-12-30 15:39:14.000,-28.0
402711,A1058,HSIF6,2,21893.0,2015-12-30 15:20:31.000,21914.0,2015-12-30 15:39:18.000,-21.0
402714,A1600,HSIF6,2,21898.0,2015-12-30 15:21:58.000,21914.0,2015-12-30 15:39:25.000,-16.0
402732,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000,7.0
402737,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000,8.0
402738,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000,-10.0
402746,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000,-5.0
402754,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000,8.0
402755,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000,11.0
402756,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000,6.0
402758,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000,11.0

In [57]:
df

,account,product,buy_sell,take_price,take_time,close_price,close_time
0,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000
1,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000
2,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000
3,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000
4,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000
5,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000
6,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000
7,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000
8,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000
9,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000
10,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000
11,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000
12,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000
13,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000
14,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000
15,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000
16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000
17,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000
18,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000
19,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000
20,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000
21,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000
22,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000
23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000
24,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000
25,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000
26,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000
27,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000
28,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000
29,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000
...,...,...,...,...,...,...,...
402730,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000
402731,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000
402732,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000
402733,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000
402734,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000
402735,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000
402736,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000
402737,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000
402738,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000
402739,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000
402740,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000
402741,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000
402742,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000
402743,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000
402744,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000
402745,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000
402746,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000
402747,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000
402748,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000
402749,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000
402750,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000
402751,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000
402752,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000
402753,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000
402754,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000
402755,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000
402756,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000
402757,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000
402758,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000
402759,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000

In [59]:
df3 = df3.sort_index()

In [60]:
df3

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit
0,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000,104.0
1,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000,11.0
2,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000,25.0
3,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000,-27.0
4,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000,104.0
5,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0
6,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000,20.0
7,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000,106.0
8,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000,-42.0
9,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000,-47.0
10,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000,15.0
11,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000,13.0
12,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000,3.0
13,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000,104.0
14,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000,-47.0
15,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000,10.0
16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000,71.0
17,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0
18,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000,58.0
19,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000,9.0
20,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000,17.0
21,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000,48.0
22,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0
23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000,34.0
24,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0
25,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000,6.0
26,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000,9.0
27,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000,46.0
28,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000,15.0
29,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000,28.0
...,...,...,...,...,...,...,...,...
402730,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000,8.0
402731,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000,8.0
402732,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000,7.0
402733,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000,9.0
402734,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000,4.0
402735,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000,10.0
402736,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000,8.0
402737,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000,8.0
402738,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000,-10.0
402739,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000,10.0
402740,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000,-8.0
402741,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000,18.0
402742,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000,8.0
402743,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000,10.0
402744,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000,4.0
402745,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000,10.0
402746,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000,-5.0
402747,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000,4.0
402748,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000,9.0
402749,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000,10.0
402750,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000,9.0
402751,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000,-37.0
402752,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000,-35.0
402753,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000,-20.0
402754,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000,8.0
402755,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000,11.0
402756,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000,6.0
402757,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000,11.0
402758,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000,11.0
402759,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000,7.0

In [63]:
df3.index = pd.to_datetime(df3.take_time)
del df3.index.name

In [64]:
df3

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000,104.0
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000,11.0
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000,25.0
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000,-27.0
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000,104.0
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000,20.0
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000,106.0
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000,-42.0
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000,-47.0
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000,15.0
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000,13.0
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000,3.0
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000,104.0
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000,-47.0
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000,10.0
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000,71.0
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000,58.0
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000,9.0
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000,17.0
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000,48.0
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000,34.0
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000,6.0
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000,9.0
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000,46.0
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000,15.0
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000,28.0
...,...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000,8.0
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000,8.0
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000,7.0
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000,9.0
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000,4.0
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000,10.0
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000,8.0
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000,8.0
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000,-10.0
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000,10.0
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000,-8.0
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000,18.0
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000,8.0
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000,10.0
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000,4.0
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000,10.0
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000,-5.0
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000,4.0
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000,9.0
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000,10.0
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000,9.0
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000,-37.0
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000,-35.0
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000,-20.0
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000,8.0
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000,11.0
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000,6.0
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000,11.0
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000,11.0
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000,7.0

In [65]:
df3['sum_profit'] = df3.profit.groupby([df3.account]).cumsum()

In [70]:
df3.account.duplicated()

2013-05-02 09:15:05    False
2013-05-02 09:15:12    False
2013-05-02 09:15:53    False
2013-05-02 09:15:55    False
2013-05-02 09:16:21    False
2013-05-02 09:17:08    False
2013-05-02 09:18:56    False
2013-05-02 09:19:49    False
2013-05-02 09:22:39     True
2013-05-02 09:22:47    False
2013-05-02 09:23:07    False
2013-05-02 09:24:09     True
2013-05-02 09:24:45    False
2013-05-02 09:25:00    False
2013-05-02 09:26:24     True
2013-05-02 09:29:04     True
2013-05-02 09:30:16     True
2013-05-02 09:30:30     True
2013-05-02 09:31:06     True
2013-05-02 09:31:25     True
2013-05-02 09:32:51     True
2013-05-02 09:33:04     True
2013-05-02 09:33:16     True
2013-05-02 09:35:23    False
2013-05-02 09:35:34     True
2013-05-02 09:36:08     True
2013-05-02 09:37:18     True
2013-05-02 09:37:19     True
2013-05-02 09:38:03     True
2013-05-02 09:39:46     True
                       ...
2015-12-30 15:37:27     True
2015-12-30 15:37:54     True
2015-12-30 15:39:08     True
2015-12-30 15:39:14     True
2015-12-30 15:39:24     True
2015-12-30 15:40:09     True
2015-12-30 15:40:42     True
2015-12-30 15:40:58     True
2015-12-30 15:44:52     True
2015-12-30 15:45:11     True
2015-12-30 15:45:33     True
2015-12-30 15:45:47     True
2015-12-30 15:46:34     True
2015-12-30 15:48:11     True
2015-12-30 15:48:19     True
2015-12-30 15:50:32     True
2015-12-30 15:51:13     True
2015-12-30 15:52:10     True
2015-12-30 15:52:42     True
2015-12-30 15:52:57     True
2015-12-30 15:53:05     True
2015-12-30 15:56:14     True
2015-12-30 15:56:51     True
2015-12-30 15:57:40     True
2015-12-30 15:58:29     True
2015-12-30 15:58:41     True
2015-12-30 15:59:19     True
2015-12-30 15:59:20     True
2015-12-30 15:59:28     True
2015-12-30 16:08:16     True
Name: account, Length: 402760, dtype: bool

In [74]:
df3[df3.account == 'A0006']

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit,sum_profit
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0,28.0
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0,-19.0
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0,9.0
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0,37.0
2013-05-02 09:45:27,A0006,HSIK3,2,22464.0,2013-05-02 09:45:27.000,22453.0,2013-05-02 09:46:12.000,11.0,48.0
2013-05-02 09:56:33,A0006,HSIK3,1,22467.0,2013-05-02 09:56:33.000,22480.0,2013-05-02 10:07:47.000,13.0,61.0
2013-05-02 10:39:51,A0006,HSIK3,2,22496.0,2013-05-02 10:39:51.000,22523.0,2013-05-02 10:46:06.000,-27.0,34.0
2013-05-02 10:45:50,A0006,HSIK3,1,22522.0,2013-05-02 10:45:50.000,22543.0,2013-05-02 10:48:43.000,21.0,55.0
2013-05-02 13:11:51,A0006,HSIK3,2,22510.0,2013-05-02 13:11:51.000,22518.0,2013-05-02 13:13:15.000,-8.0,47.0
2013-05-02 13:13:06,A0006,HSIK3,1,22518.0,2013-05-02 13:13:06.000,22526.0,2013-05-02 13:14:14.000,8.0,55.0
2013-05-02 13:16:47,A0006,HSIK3,2,22525.0,2013-05-02 13:16:47.000,22516.0,2013-05-02 13:27:03.000,9.0,64.0
2013-05-02 13:30:36,A0006,HSIK3,2,22498.0,2013-05-02 13:30:36.000,22516.0,2013-05-02 13:34:30.000,-18.0,46.0
2013-05-02 13:34:18,A0006,HSIK3,1,22515.0,2013-05-02 13:34:18.000,22529.0,2013-05-02 13:35:48.000,14.0,60.0
2013-05-02 13:46:15,A0006,HSIK3,2,22541.0,2013-05-02 13:46:15.000,22523.0,2013-05-02 13:51:53.000,18.0,78.0
2013-05-02 13:55:31,A0006,HSIK3,2,22539.0,2013-05-02 13:55:31.000,22533.0,2013-05-02 13:59:53.000,6.0,84.0
2013-05-02 14:05:42,A0006,HSIK3,2,22568.0,2013-05-02 14:05:42.000,22560.0,2013-05-02 14:17:05.000,8.0,92.0
2013-05-02 14:10:29,A0006,HSIK3,2,22573.0,2013-05-02 14:10:29.000,22563.0,2013-05-02 14:13:53.000,10.0,102.0
2013-05-02 14:21:00,A0006,HSIK3,2,22555.0,2013-05-02 14:21:00.000,22548.0,2013-05-02 14:31:39.000,7.0,109.0
2013-05-02 14:26:31,A0006,HSIK3,1,22563.0,2013-05-02 14:26:31.000,22558.0,2013-05-02 14:31:03.000,-5.0,104.0
2013-05-02 14:31:02,A0006,HSIK3,2,22558.0,2013-05-02 14:31:02.000,22545.0,2013-05-02 14:31:35.000,13.0,117.0
2013-05-02 14:40:28,A0006,HSIK3,2,22580.0,2013-05-02 14:40:28.000,22571.0,2013-05-02 14:41:04.000,9.0,126.0
2013-05-02 14:42:10,A0006,HSIK3,2,22573.0,2013-05-02 14:42:10.000,22569.0,2013-05-02 14:47:10.000,4.0,130.0
2013-05-03 13:00:34,A0006,HSIK3,1,22730.0,2013-05-03 13:00:34.000,22728.0,2013-05-03 13:14:21.000,-2.0,128.0
2013-05-03 13:07:21,A0006,HSIK3,1,22718.0,2013-05-03 13:07:21.000,22726.0,2013-05-03 13:11:31.000,8.0,136.0
2013-05-03 13:27:14,A0006,HSIK3,1,22653.0,2013-05-03 13:27:14.000,22664.0,2013-05-03 13:29:29.000,11.0,147.0
2013-05-03 13:34:43,A0006,HSIK3,1,22659.0,2013-05-03 13:34:43.000,22676.0,2013-05-03 13:35:18.000,17.0,164.0
2013-05-03 13:42:54,A0006,HSIK3,1,22613.0,2013-05-03 13:42:54.000,22606.0,2013-05-03 14:09:11.000,-7.0,157.0
2013-05-03 13:51:06,A0006,HSIK3,1,22615.0,2013-05-03 13:51:06.000,22568.0,2013-05-03 14:01:55.000,-47.0,110.0
2013-05-03 14:02:08,A0006,HSIK3,1,22578.0,2013-05-03 14:02:08.000,22596.0,2013-05-03 14:07:58.000,18.0,128.0
2013-05-03 14:10:48,A0006,HSIK3,1,22602.0,2013-05-03 14:10:48.000,22612.0,2013-05-03 14:13:24.000,10.0,138.0
...,...,...,...,...,...,...,...,...,...
2013-12-20 11:45:14,A0006,HSIZ3,1,22809.0,2013-12-20 11:45:14.000,22762.0,2013-12-20 11:48:56.000,-47.0,1556.0
2013-12-20 11:48:26,A0006,HSIZ3,1,22779.0,2013-12-20 11:48:26.000,22792.0,2013-12-20 11:58:31.000,13.0,1569.0
2013-12-20 11:49:47,A0006,HSIZ3,1,22746.0,2013-12-20 11:49:47.000,22786.0,2013-12-20 11:58:18.000,40.0,1609.0
2013-12-20 11:50:23,A0006,HSIZ3,1,22754.0,2013-12-20 11:50:23.000,22785.0,2013-12-20 11:58:02.000,31.0,1640.0
2013-12-20 13:02:24,A0006,HSIZ3,2,22771.0,2013-12-20 13:02:24.000,22793.0,2013-12-20 13:06:39.000,-22.0,1618.0
2013-12-20 13:05:59,A0006,HSIZ3,1,22783.0,2013-12-20 13:05:59.000,22780.0,2013-12-20 13:08:57.000,-3.0,1615.0
2013-12-20 13:09:01,A0006,HSIZ3,2,22778.0,2013-12-20 13:09:01.000,22753.0,2013-12-20 13:16:54.000,25.0,1640.0
2013-12-20 13:12:26,A0006,HSIZ3,2,22784.0,2013-12-20 13:12:26.000,22758.0,2013-12-20 13:17:05.000,26.0,1666.0
2013-12-20 13:39:08,A0006,HSIZ3,1,22701.0,2013-12-20 13:39:08.000,22715.0,2013-12-20 13:42:36.000,14.0,1680.0
2013-12-20 13:59:50,A0006,HSIZ3,2,22764.0,2013-12-20 13:59:50.000,22736.0,2013-12-20 14:09:18.000,28.0,1708.0
2013-12-20 14:29:11,A0006,HSIZ3,2,22825.0,2013-12-20 14:29:11.000,22825.0,2013-12-20 14:31:30.000,0.0,1708.0
2013-12-20 14:30:57,A0006,HSIZ3,1,22836.0,2013-12-20 14:30:57.000,22808.0,2013-12-20 14:33:26.000,-28.0,1680.0
2013-12-20 14:33:15,A0006,HSIZ3,2,22811.0,2013-12-20 14:33:15.000,22770.0,2013-12-20 15:00:49.000,41.0,1721.0
2013-12-20 14:33:49,A0006,HSIZ3,2,22809.0,2013-12-20 14:33:49.000,22762.0,2013-12-20 15:00:39.000,47.0,1768.0
2013-12-20 15:01:13,A0006,HSIZ3,2,22780.0,2013-12-20 15:01:13.000,22789.0,2013-12-20 15:45:42.000,-9.0,1759.0
2013-12-20 15:36:47,A0006,HSIZ3,2,22804.0,2013-12-20 15:36:47.000,22780.0,2013-12-20 15:45:04.000,24.0,1783.0
2013-12-20 15:37:43,A0006,HSIZ3,2,22806.0,2013-12-20 15:37:43.000,22783.0,2013-12-20 15:44:58.000,23.0,1806.0
2013-12-30 14:14:25,A0006,HSIF4,1,23229.0,2013-12-30 14:14:25.000,23235.0,2013-12-30 15:32:57.000,6.0,1812.0
2013-12-30 14:36:29,A0006,HSIF4,1,23221.0,2013-12-30 14:36:29.000,23236.0,2013-12-30 15:31:57.000,15.0,1827.0
2013-12-31 09:46:44,A0006,HSIF4,1,23321.0,2013-12-31 09:46:44.000,23331.0,2013-12-31 09:47:34.000,10.0,1837.0
2013-12-31 09:55:34,A0006,HSIF4,1,23306.0,2013-12-31 09:55:34.000,23314.0,2013-12-31 09:59:34.000,8.0,1845.0
2013-12-31 10:08:03,A0006,HSIF4,2,23355.0,2013-12-31 10:08:03.000,23336.0,2013-12-31 10:13:15.000,19.0,1864.0
2014-01-09 09:46:17,A0006,HSIF4,2,22966.0,2014-01-09 09:46:17.000,22954.0,2014-01-09 09:56:29.000,12.0,1876.0
2014-01-09 10:01:17,A0006,HSIF4,1,22940.0,2014-01-09 10:01:17.000,22953.0,2014-01-09 10:03:04.000,13.0,1889.0
2014-01-09 10:07:03,A0006,HSIF4,2,22953.0,2014-01-09 10:07:03.000,22930.0,2014-01-09 10:09:51.000,23.0,1912.0
2014-01-09 10:08:32,A0006,HSIF4,2,22960.0,2014-01-09 10:08:32.000,22936.0,2014-01-09 10:09:30.000,24.0,1936.0
2014-01-09 10:21:10,A0006,HSIF4,1,22922.0,2014-01-09 10:21:10.000,22936.0,2014-01-09 10:23:44.000,14.0,1950.0
2014-01-09 10:30:14,A0006,HSIF4,2,22967.0,2014-01-09 10:30:14.000,23014.0,2014-01-09 10:56:09.000,-47.0,1903.0
2014-01-09 10:56:14,A0006,HSIF4,2,23016.0,2014-01-09 10:56:14.000,22985.0,2014-01-09 11:21:39.000,31.0,1934.0
2014-01-09 10:58:28,A0006,HSIF4,2,23020.0,2014-01-09 10:58:28.000,22987.0,2014-01-09 11:21:05.000,33.0,1967.0

In [75]:
df3

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit,sum_profit
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000,104.0,104.0
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000,11.0,11.0
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000,25.0,25.0
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000,-27.0,-27.0
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000,104.0,104.0
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0,28.0
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000,20.0,20.0
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000,106.0,106.0
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000,-42.0,-17.0
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000,-47.0,-47.0
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000,15.0,15.0
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000,13.0,-34.0
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000,3.0,3.0
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000,104.0,104.0
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000,-47.0,-27.0
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000,10.0,-7.0
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000,71.0,37.0
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0,-19.0
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000,58.0,69.0
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000,9.0,2.0
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000,17.0,19.0
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000,48.0,21.0
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0,9.0
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000,34.0,34.0
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0,37.0
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000,6.0,110.0
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000,9.0,113.0
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000,46.0,61.0
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000,15.0,119.0
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000,28.0,138.0
...,...,...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000,8.0,-1992.0
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000,8.0,236.0
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000,7.0,13218.0
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000,9.0,4898.0
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000,4.0,47.0
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000,10.0,283.0
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000,8.0,570.0
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000,8.0,360.0
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000,-10.0,-110.0
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000,10.0,293.0
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000,-8.0,1766.0
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000,18.0,588.0
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000,8.0,301.0
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000,10.0,-922.0
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000,4.0,305.0
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000,10.0,315.0
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000,-5.0,1761.0
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000,4.0,-1988.0
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000,9.0,38.0
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000,10.0,91.0
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000,9.0,825.0
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000,-37.0,10.0
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000,-35.0,1087.0
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000,-20.0,1067.0
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000,8.0,-376.0
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000,11.0,-1807.0
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000,6.0,-2373.0
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000,11.0,599.0
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000,11.0,-1796.0
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000,7.0,3938.0

In [76]:
df3.to_hdf('account_data_sumprofit','hf')

In [80]:
df4 = df3[df3.account == 'A1116']

In [83]:
df4.sort(columns = "profit")

AttributeError: 'DataFrame' object has no attribute 'sort'

In [87]:
df4.sort_values('sum_profit', ascending=False)

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit,sum_profit
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000,7.0,3938.0
2015-12-30 15:02:42,A1116,HSIF6,1,21911.0,2015-12-30 15:02:42.000,21927.0,2015-12-30 15:55:00.000,16.0,3931.0
2015-12-30 14:11:02,A1116,HSIF6,1,21913.0,2015-12-30 14:11:02.000,21921.0,2015-12-30 14:49:45.000,8.0,3915.0
2015-12-30 13:32:31,A1116,HSIF6,1,21888.0,2015-12-30 13:32:31.000,21902.0,2015-12-30 13:42:11.000,14.0,3907.0
2015-12-30 11:16:16,A1116,HSIF6,1,21900.0,2015-12-30 11:16:16.000,21909.0,2015-12-30 11:17:12.000,9.0,3893.0
2015-12-30 10:47:13,A1116,HSIF6,2,21955.0,2015-12-30 10:47:13.000,21945.0,2015-12-30 10:56:36.000,10.0,3884.0
2015-12-30 10:20:24,A1116,HSIF6,1,21945.0,2015-12-30 10:20:24.000,21954.0,2015-12-30 10:22:05.000,9.0,3874.0
2015-12-30 10:16:10,A1116,HSIF6,1,21929.0,2015-12-30 10:16:10.000,21944.0,2015-12-30 10:16:42.000,15.0,3865.0
2015-12-30 09:55:09,A1116,HSIF6,1,21999.0,2015-12-30 09:55:09.000,22009.0,2015-12-30 10:00:29.000,10.0,3850.0
2015-12-30 09:40:17,A1116,HSIF6,2,22042.0,2015-12-30 09:40:17.000,22033.0,2015-12-30 09:43:33.000,9.0,3840.0
2015-12-29 15:30:31,A1116,HSIZ5,2,22009.0,2015-12-29 15:30:31.000,22002.0,2015-12-29 15:34:05.000,7.0,3831.0
2015-12-29 14:15:39,A1116,HSIZ5,2,22012.0,2015-12-29 14:15:39.000,21997.0,2015-12-29 14:24:46.000,15.0,3824.0
2015-12-28 13:40:04,A1116,HSIZ5,2,21895.0,2015-12-28 13:40:04.000,21882.0,2015-12-28 13:44:42.000,13.0,3809.0
2015-12-28 10:49:37,A1116,HSIZ5,1,22033.0,2015-12-28 10:49:37.000,22042.0,2015-12-28 10:52:18.000,9.0,3796.0
2015-12-28 10:45:11,A1116,HSIZ5,1,22043.0,2015-12-28 10:45:11.000,22050.0,2015-12-28 11:31:28.000,7.0,3787.0
2015-12-28 10:05:05,A1116,HSIZ5,2,22065.0,2015-12-28 10:05:05.000,22052.0,2015-12-28 10:07:07.000,13.0,3780.0
2015-12-24 09:46:25,A1116,HSIZ5,1,22180.0,2015-12-24 09:46:25.000,22190.0,2015-12-24 09:48:27.000,10.0,3770.0
2015-12-28 09:40:26,A1116,HSIZ5,2,22031.0,2015-12-28 09:40:26.000,22019.0,2015-12-28 09:47:51.000,12.0,3767.0
2015-12-24 09:37:23,A1116,HSIZ5,1,22177.0,2015-12-24 09:37:23.000,22187.0,2015-12-24 09:38:06.000,10.0,3760.0
2015-12-24 11:22:06,A1116,HSIZ5,1,22140.0,2015-12-24 11:22:06.000,22148.0,2015-12-24 11:31:00.000,8.0,3755.0
2015-12-24 09:15:42,A1116,HSIZ5,2,22256.0,2015-12-24 09:15:42.000,22244.0,2015-12-24 09:19:53.000,12.0,3750.0
2015-12-24 10:43:08,A1116,HSIZ5,1,22154.0,2015-12-24 10:43:08.000,22162.0,2015-12-24 10:44:51.000,8.0,3747.0
2015-12-24 10:33:27,A1116,HSIZ5,1,22166.0,2015-12-24 10:33:27.000,22173.0,2015-12-24 10:58:44.000,7.0,3739.0
2015-12-23 14:27:06,A1116,HSIZ5,2,22104.0,2015-12-23 14:27:06.000,22095.0,2015-12-23 14:30:10.000,9.0,3738.0
2015-12-24 10:16:56,A1116,HSIZ5,2,22168.0,2015-12-24 10:16:56.000,22158.0,2015-12-24 10:29:17.000,10.0,3732.0
2015-12-23 14:23:39,A1116,HSIZ5,2,22086.0,2015-12-23 14:23:39.000,22077.0,2015-12-23 14:33:55.000,9.0,3729.0
2015-12-24 09:58:26,A1116,HSIZ5,1,22182.0,2015-12-24 09:58:26.000,22188.0,2015-12-24 10:09:37.000,6.0,3722.0
2015-12-23 14:16:04,A1116,HSIZ5,2,22062.0,2015-12-23 14:16:04.000,22052.0,2015-12-23 14:46:38.000,10.0,3720.0
2015-12-24 09:56:04,A1116,HSIZ5,1,22203.0,2015-12-24 09:56:04.000,22149.0,2015-12-24 11:52:25.000,-54.0,3716.0
2015-12-23 13:49:44,A1116,HSIZ5,2,22047.0,2015-12-23 13:49:44.000,22039.0,2015-12-23 14:56:59.000,8.0,3710.0
...,...,...,...,...,...,...,...,...,...
2014-12-16 14:08:14,A1116,HSIZ4,1,22745.0,2014-12-16 14:08:14.000,22765.0,2014-12-16 14:08:58.000,20.0,-296.0
2014-12-09 09:19:08,A1116,HSIZ4,2,23865.0,2014-12-09 09:19:08.000,23850.0,2014-12-09 09:23:21.000,15.0,-300.0
2014-12-15 09:51:00,A1116,HSIZ4,2,22884.0,2014-12-15 09:51:00.000,22862.0,2014-12-15 09:51:58.000,22.0,-303.0
2014-12-08 13:06:45,A1116,HSIZ4,2,24104.0,2014-12-08 13:06:45.000,24097.0,2014-12-08 13:08:33.000,7.0,-315.0
2014-12-09 10:48:00,A1116,HSIZ4,1,23862.0,2014-12-09 10:48:00.000,23837.0,2014-12-09 10:55:52.000,-25.0,-316.0
2014-12-16 14:05:57,A1116,HSIZ4,2,22723.0,2014-12-16 14:05:57.000,22750.0,2014-12-16 14:11:08.000,-27.0,-316.0
2014-12-08 09:40:45,A1116,HSIZ4,2,24068.0,2014-12-08 09:40:45.000,24115.0,2014-12-08 09:43:36.000,-47.0,-321.0
2014-12-08 13:01:18,A1116,HSIZ4,1,24123.0,2014-12-08 13:01:18.000,24129.0,2014-12-08 13:02:08.000,6.0,-322.0
2014-12-15 09:22:15,A1116,HSIZ4,2,22962.0,2014-12-15 09:22:15.000,22945.0,2014-12-15 09:22:58.000,17.0,-325.0
2014-12-08 10:21:58,A1116,HSIZ4,1,24101.0,2014-12-08 10:21:58.000,24113.0,2014-12-08 10:22:39.000,12.0,-328.0
2014-12-12 09:25:34,A1116,HSIZ4,2,23327.0,2014-12-12 09:25:34.000,23322.0,2014-12-12 09:28:33.000,5.0,-340.0
2014-12-08 10:00:15,A1116,HSIZ4,2,24091.0,2014-12-08 10:00:15.000,24110.0,2014-12-08 10:03:23.000,-19.0,-340.0
2014-12-10 13:46:21,A1116,HSIZ4,2,23523.0,2014-12-10 13:46:21.000,23517.0,2014-12-10 13:46:58.000,6.0,-342.0
2014-12-15 09:21:39,A1116,HSIZ4,2,22956.0,2014-12-15 09:21:39.000,22953.0,2014-12-15 09:23:03.000,3.0,-342.0
2014-12-12 13:33:09,A1116,HSIZ4,2,23353.0,2014-12-12 13:33:09.000,23341.0,2014-12-12 13:33:48.000,12.0,-345.0
2014-12-12 09:24:40,A1116,HSIZ4,2,23313.0,2014-12-12 09:24:40.000,23316.0,2014-12-12 09:30:12.000,-3.0,-345.0
2014-12-09 11:30:46,A1116,HSIZ4,2,23856.0,2014-12-09 11:30:46.000,23844.0,2014-12-09 11:33:08.000,12.0,-346.0
2014-12-10 10:34:23,A1116,HSIZ4,2,23421.0,2014-12-10 10:34:23.000,23408.0,2014-12-10 10:35:50.000,13.0,-348.0
2014-12-12 09:46:31,A1116,HSIZ4,1,23346.0,2014-12-12 09:46:31.000,23353.0,2014-12-12 09:47:15.000,7.0,-357.0
2014-12-09 11:10:52,A1116,HSIZ4,2,23839.0,2014-12-09 11:10:52.000,23834.0,2014-12-09 11:40:21.000,5.0,-358.0
2014-12-10 10:33:15,A1116,HSIZ4,2,23404.0,2014-12-10 10:33:15.000,23398.0,2014-12-10 10:36:23.000,6.0,-361.0
2014-12-09 11:08:31,A1116,HSIZ4,2,23837.0,2014-12-09 11:08:31.000,23837.0,2014-12-09 11:09:41.000,0.0,-363.0
2014-12-09 10:53:34,A1116,HSIZ4,2,23822.0,2014-12-09 10:53:34.000,23869.0,2014-12-09 11:20:21.000,-47.0,-363.0
2014-12-12 09:42:37,A1116,HSIZ4,1,23357.0,2014-12-12 09:42:37.000,23367.0,2014-12-12 09:43:14.000,10.0,-364.0
2014-12-10 10:07:26,A1116,HSIZ4,2,23461.0,2014-12-10 10:07:26.000,23451.0,2014-12-10 10:08:06.000,10.0,-367.0
2014-12-12 09:39:07,A1116,HSIZ4,1,23369.0,2014-12-12 09:39:07.000,23382.0,2014-12-12 09:48:50.000,13.0,-374.0
2014-12-10 10:03:05,A1116,HSIZ4,2,23497.0,2014-12-10 10:03:05.000,23488.0,2014-12-10 10:05:16.000,9.0,-377.0
2014-12-10 10:01:12,A1116,HSIZ4,2,23482.0,2014-12-10 10:01:12.000,23475.0,2014-12-10 10:06:21.000,7.0,-386.0
2014-12-12 09:34:05,A1116,HSIZ4,2,23295.0,2014-12-12 09:34:05.000,23342.0,2014-12-12 09:36:11.000,-47.0,-387.0
2014-12-10 09:51:10,A1116,HSIZ4,2,23456.0,2014-12-10 09:51:10.000,23503.0,2014-12-10 09:52:48.000,-47.0,-393.0

In [88]:
df3

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit,sum_profit
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000,104.0,104.0
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000,11.0,11.0
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000,25.0,25.0
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000,-27.0,-27.0
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000,104.0,104.0
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0,28.0
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000,20.0,20.0
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000,106.0,106.0
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000,-42.0,-17.0
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000,-47.0,-47.0
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000,15.0,15.0
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000,13.0,-34.0
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000,3.0,3.0
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000,104.0,104.0
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000,-47.0,-27.0
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000,10.0,-7.0
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000,71.0,37.0
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0,-19.0
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000,58.0,69.0
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000,9.0,2.0
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000,17.0,19.0
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000,48.0,21.0
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0,9.0
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000,34.0,34.0
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0,37.0
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000,6.0,110.0
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000,9.0,113.0
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000,46.0,61.0
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000,15.0,119.0
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000,28.0,138.0
...,...,...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000,8.0,-1992.0
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000,8.0,236.0
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000,7.0,13218.0
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000,9.0,4898.0
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000,4.0,47.0
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000,10.0,283.0
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000,8.0,570.0
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000,8.0,360.0
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000,-10.0,-110.0
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000,10.0,293.0
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000,-8.0,1766.0
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000,18.0,588.0
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000,8.0,301.0
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000,10.0,-922.0
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000,4.0,305.0
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000,10.0,315.0
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000,-5.0,1761.0
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000,4.0,-1988.0
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000,9.0,38.0
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000,10.0,91.0
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000,9.0,825.0
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000,-37.0,10.0
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000,-35.0,1087.0
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000,-20.0,1067.0
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000,8.0,-376.0
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000,11.0,-1807.0
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000,6.0,-2373.0
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000,11.0,599.0
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000,11.0,-1796.0
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000,7.0,3938.0

In [91]:
df3.sort_values("sum_profit",ascending=False)

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit,sum_profit
2015-09-25 13:48:46,A0354,HSIU5,1,21106.0,2015-09-25 13:48:46.000,21150.0,2015-09-25 13:52:05.000,44.0,14194.0
2015-09-25 13:37:04,A0354,HSIU5,1,21090.0,2015-09-25 13:37:04.000,21111.0,2015-09-25 13:40:04.000,21.0,14166.0
2015-09-25 13:46:34,A0354,HSIU5,2,21092.0,2015-09-25 13:46:34.000,21108.0,2015-09-25 13:48:39.000,-16.0,14150.0
2015-09-25 11:04:36,A0354,HSIU5,2,21035.0,2015-09-25 11:04:36.000,21020.0,2015-09-25 11:05:13.000,15.0,14145.0
2015-09-25 09:59:27,A0354,HSIU5,2,21155.0,2015-09-25 09:59:27.000,21116.0,2015-09-25 10:02:15.000,39.0,14130.0
2015-09-24 10:46:09,A0354,HSIU5,2,21190.0,2015-09-24 10:46:09.000,21155.0,2015-09-24 10:50:16.000,35.0,14100.0
2015-09-24 14:04:09,A0354,HSIU5,2,21153.0,2015-09-24 14:04:09.000,21130.0,2015-09-24 14:05:29.000,23.0,14091.0
2015-09-24 11:19:07,A0354,HSIU5,1,21100.0,2015-09-24 11:19:07.000,21068.0,2015-09-24 11:20:08.000,-32.0,14068.0
2015-09-24 13:17:24,A0354,HSIU5,1,21052.0,2015-09-24 13:17:24.000,21062.0,2015-09-24 13:33:52.000,10.0,14068.0
2015-09-23 14:24:45,A0354,HSIU5,2,21187.0,2015-09-23 14:24:45.000,21110.0,2015-09-23 14:30:57.000,77.0,14065.0
2015-09-24 11:27:40,A0354,HSIU5,1,21070.0,2015-09-24 11:27:40.000,21090.0,2015-09-24 11:47:20.000,20.0,14064.0
2015-09-24 11:36:13,A0354,HSIU5,1,21072.0,2015-09-24 11:36:13.000,21100.0,2015-09-24 11:45:31.000,28.0,14058.0
2015-09-24 11:20:43,A0354,HSIU5,1,21085.0,2015-09-24 11:20:43.000,21061.0,2015-09-24 11:25:09.000,-24.0,14044.0
2015-09-24 11:29:14,A0354,HSIU5,1,21075.0,2015-09-24 11:29:14.000,21044.0,2015-09-24 11:30:39.000,-31.0,14033.0
2015-09-24 11:35:25,A0354,HSIU5,1,21064.0,2015-09-24 11:35:25.000,21096.0,2015-09-24 11:46:07.000,32.0,14030.0
2015-09-24 11:32:16,A0354,HSIU5,1,21071.0,2015-09-24 11:32:16.000,21036.0,2015-09-24 11:33:02.000,-35.0,13998.0
2015-09-23 14:02:02,A0354,HSIU5,2,21094.0,2015-09-23 14:02:02.000,21055.0,2015-09-23 14:02:46.000,39.0,13988.0
2015-09-23 13:41:40,A0354,HSIU5,1,21072.0,2015-09-23 13:41:40.000,21084.0,2015-09-23 13:42:11.000,12.0,13949.0
2015-09-23 13:19:47,A0354,HSIU5,1,20989.0,2015-09-23 13:19:47.000,21011.0,2015-09-23 13:21:18.000,22.0,13940.0
2015-09-23 13:36:26,A0354,HSIU5,2,21053.0,2015-09-23 13:36:26.000,21056.0,2015-09-23 13:38:42.000,-3.0,13937.0
2015-09-23 13:15:03,A0354,HSIU5,1,20991.0,2015-09-23 13:15:03.000,20995.0,2015-09-23 13:17:04.000,4.0,13918.0
2015-09-22 15:32:13,A0354,HSIU5,1,21882.0,2015-09-22 15:32:13.000,21903.0,2015-09-22 15:34:17.000,21.0,13914.0
2015-09-18 14:36:27,A0354,HSIU5,1,21902.0,2015-09-18 14:36:27.000,21938.0,2015-09-18 14:38:04.000,36.0,13899.0
2015-09-22 10:45:29,A0354,HSIU5,2,21936.0,2015-09-22 10:45:29.000,21893.0,2015-09-22 11:01:14.000,43.0,13899.0
2015-09-22 14:10:28,A0354,HSIU5,2,22021.0,2015-09-22 14:10:28.000,22027.0,2015-09-22 14:16:33.000,-6.0,13893.0
2015-09-21 14:09:02,A0354,HSIU5,2,21642.0,2015-09-21 14:09:02.000,21634.0,2015-09-21 14:12:09.000,8.0,13886.0
2015-09-18 15:04:47,A0354,HSIU5,2,21862.0,2015-09-18 15:04:47.000,21883.0,2015-09-18 15:07:30.000,-21.0,13878.0
2015-09-18 14:20:34,A0354,HSIU5,2,21882.0,2015-09-18 14:20:34.000,21878.0,2015-09-18 14:23:35.000,4.0,13863.0
2015-09-18 10:55:27,A0354,HSIU5,2,21905.0,2015-09-18 10:55:27.000,21900.0,2015-09-18 11:00:02.000,5.0,13860.0
2015-09-18 13:56:22,A0354,HSIU5,2,21936.0,2015-09-18 13:56:22.000,21889.0,2015-09-18 14:01:12.000,47.0,13859.0
...,...,...,...,...,...,...,...,...,...
2013-12-20 14:25:35,A0200,HSIZ3,1,22778.0,2013-12-20 14:25:35.000,22786.0,2013-12-20 14:26:45.000,8.0,-6109.0
2013-12-20 13:25:11,A0200,HSIZ3,2,22750.0,2013-12-20 13:25:11.000,22741.0,2013-12-20 13:32:04.000,9.0,-6111.0
2013-12-20 14:12:40,A0200,HSIZ3,1,22735.0,2013-12-20 14:12:40.000,22748.0,2013-12-20 14:17:36.000,13.0,-6117.0
2013-12-19 15:13:38,A0200,HSIZ3,1,23040.0,2013-12-19 15:13:38.000,22944.0,2013-12-19 15:22:15.000,-96.0,-6120.0
2013-12-20 14:08:29,A0200,HSIZ3,2,22749.0,2013-12-20 14:08:29.000,22736.0,2013-12-20 14:09:18.000,13.0,-6130.0
2015-12-03 11:00:17,A0038,HSIZ5,2,22381.0,2015-12-03 11:00:17.000,22428.0,2015-12-03 13:00:54.000,-47.0,-6136.0
2013-12-20 13:51:16,A0200,HSIZ3,2,22714.0,2013-12-20 13:51:16.000,22759.0,2013-12-20 14:07:09.000,-45.0,-6143.0
2015-12-28 11:39:28,A0038,HSIZ5,2,22064.0,2015-12-28 11:39:28.000,22049.0,2015-12-28 11:49:10.000,15.0,-6183.0
2015-12-03 11:03:04,A0038,HSIZ5,2,22399.0,2015-12-03 11:03:04.000,22446.0,2015-12-03 13:04:16.000,-47.0,-6183.0
2015-12-28 09:16:44,A0038,HSIZ5,2,22166.0,2015-12-28 09:16:44.000,22104.0,2015-12-28 09:18:38.000,62.0,-6198.0
2015-12-23 11:42:04,A0038,HSIZ5,2,22080.0,2015-12-23 11:42:04.000,22027.0,2015-12-23 13:30:07.000,53.0,-6260.0
2015-12-03 11:49:56,A0038,HSIZ5,2,22381.0,2015-12-03 11:49:56.000,22477.0,2015-12-03 14:03:45.000,-96.0,-6279.0
2015-12-22 11:03:29,A0038,HSIZ5,1,21738.0,2015-12-22 11:03:29.000,21772.0,2015-12-22 13:30:43.000,34.0,-6313.0
2015-12-03 11:56:42,A0038,HSIZ5,2,22387.0,2015-12-03 11:56:42.000,22382.0,2015-12-03 11:59:33.000,5.0,-6321.0
2015-12-03 11:51:26,A0038,HSIZ5,2,22386.0,2015-12-03 11:51:26.000,22433.0,2015-12-03 13:04:01.000,-47.0,-6326.0
2015-12-22 10:20:40,A0038,HSIZ5,1,21731.0,2015-12-22 10:20:40.000,21746.0,2015-12-22 10:26:53.000,15.0,-6347.0
2015-12-22 10:02:13,A0038,HSIZ5,1,21735.0,2015-12-22 10:02:13.000,21750.0,2015-12-22 10:14:32.000,15.0,-6362.0
2015-12-03 13:01:21,A0038,HSIZ5,2,22414.0,2015-12-03 13:01:21.000,22461.0,2015-12-03 14:02:54.000,-47.0,-6368.0
2015-12-22 10:01:32,A0038,HSIZ5,1,21723.0,2015-12-22 10:01:32.000,21746.0,2015-12-22 10:13:01.000,23.0,-6377.0
2015-12-22 10:00:18,A0038,HSIZ5,1,21735.0,2015-12-22 10:00:18.000,21743.0,2015-12-22 10:15:37.000,8.0,-6400.0
2015-12-22 09:48:16,A0038,HSIZ5,1,21736.0,2015-12-22 09:48:16.000,21756.0,2015-12-22 09:56:47.000,20.0,-6408.0
2015-12-22 09:47:13,A0038,HSIZ5,1,21751.0,2015-12-22 09:47:13.000,21753.0,2015-12-22 10:28:28.000,2.0,-6428.0
2015-12-22 09:46:14,A0038,HSIZ5,1,21746.0,2015-12-22 09:46:14.000,21751.0,2015-12-22 09:56:59.000,5.0,-6430.0
2015-12-22 09:45:42,A0038,HSIZ5,1,21735.0,2015-12-22 09:45:42.000,21753.0,2015-12-22 09:58:31.000,18.0,-6435.0
2015-12-22 09:39:44,A0038,HSIZ5,1,21748.0,2015-12-22 09:39:44.000,21750.0,2015-12-22 10:46:52.000,2.0,-6439.0
2015-12-22 09:39:05,A0038,HSIZ5,1,21764.0,2015-12-22 09:39:05.000,21770.0,2015-12-22 13:31:13.000,6.0,-6441.0
2015-12-22 09:21:11,A0038,HSIZ5,1,21795.0,2015-12-22 09:21:11.000,21812.0,2015-12-22 09:22:36.000,17.0,-6447.0
2015-12-22 09:39:53,A0038,HSIZ5,1,21748.0,2015-12-22 09:39:53.000,21739.0,2015-12-22 10:44:29.000,-9.0,-6448.0
2015-12-22 09:41:52,A0038,HSIZ5,1,21749.0,2015-12-22 09:41:52.000,21744.0,2015-12-22 10:44:40.000,-5.0,-6453.0
2015-12-22 09:19:34,A0038,HSIZ5,1,21802.0,2015-12-22 09:19:34.000,21706.0,2015-12-22 11:11:34.000,-96.0,-6464.0

In [95]:
df3[df3.account == 'A0354'
  ]

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit,sum_profit
2013-08-29 09:33:40,A0354,HSIU3,2,21535.0,2013-08-29 09:33:40.000,21553.0,2013-08-29 09:35:34.000,-18.0,-18.0
2013-08-29 10:02:07,A0354,HSIU3,1,21472.0,2013-08-29 10:02:07.000,21476.0,2013-08-29 10:08:12.000,4.0,-14.0
2013-08-29 10:27:16,A0354,HSIU3,2,21493.0,2013-08-29 10:27:16.000,21452.0,2013-08-29 10:29:00.000,41.0,27.0
2013-08-29 13:49:16,A0354,HSIU3,2,21474.0,2013-08-29 13:49:16.000,21482.0,2013-08-29 13:52:03.000,-8.0,19.0
2013-08-29 14:02:13,A0354,HSIU3,2,21472.0,2013-08-29 14:02:13.000,21480.0,2013-08-29 14:08:02.000,-8.0,11.0
2013-08-29 14:27:42,A0354,HSIU3,1,21498.0,2013-08-29 14:27:42.000,21503.0,2013-08-29 14:29:39.000,5.0,16.0
2013-08-29 15:05:00,A0354,HSIU3,2,21527.0,2013-08-29 15:05:00.000,21520.0,2013-08-29 15:19:59.000,7.0,23.0
2013-08-30 10:30:09,A0354,HSIU3,2,21578.0,2013-08-30 10:30:09.000,21560.0,2013-08-30 10:31:39.000,18.0,41.0
2013-08-30 10:39:11,A0354,HSIU3,2,21564.0,2013-08-30 10:39:11.000,21559.0,2013-08-30 10:40:09.000,5.0,46.0
2013-08-30 10:44:04,A0354,HSIU3,2,21553.0,2013-08-30 10:44:04.000,21547.0,2013-08-30 10:44:40.000,6.0,52.0
2013-08-30 11:07:02,A0354,HSIU3,1,21525.0,2013-08-30 11:07:02.000,21521.0,2013-08-30 11:10:20.000,-4.0,48.0
2013-08-30 11:31:11,A0354,HSIU3,1,21563.0,2013-08-30 11:31:11.000,21561.0,2013-08-30 11:59:55.000,-2.0,46.0
2013-08-30 13:13:18,A0354,HSIU3,1,21562.0,2013-08-30 13:13:18.000,21567.0,2013-08-30 13:18:48.000,5.0,51.0
2013-08-30 13:32:08,A0354,HSIU3,1,21625.0,2013-08-30 13:32:08.000,21630.0,2013-08-30 13:34:07.000,5.0,56.0
2013-08-30 13:41:27,A0354,HSIU3,2,21618.0,2013-08-30 13:41:27.000,21609.0,2013-08-30 13:43:20.000,9.0,65.0
2013-08-30 13:46:08,A0354,HSIU3,2,21616.0,2013-08-30 13:46:08.000,21590.0,2013-08-30 13:50:45.000,26.0,91.0
2013-08-30 14:48:22,A0354,HSIU3,1,21535.0,2013-08-30 14:48:22.000,21542.0,2013-08-30 14:57:40.000,7.0,98.0
2013-08-30 15:28:49,A0354,HSIU3,2,21532.0,2013-08-30 15:28:49.000,21527.0,2013-08-30 15:30:01.000,5.0,103.0
2013-09-02 10:02:01,A0354,HSIU3,2,22101.0,2013-09-02 10:02:01.000,22075.0,2013-09-02 10:02:44.000,26.0,129.0
2013-09-03 09:46:55,A0354,HSIU3,2,22246.0,2013-09-03 09:46:55.000,22241.0,2013-09-03 09:50:25.000,5.0,134.0
2013-09-03 10:32:01,A0354,HSIU3,2,22344.0,2013-09-03 10:32:01.000,22335.0,2013-09-03 10:36:10.000,9.0,143.0
2013-09-03 13:23:14,A0354,HSIU3,1,22365.0,2013-09-03 13:23:14.000,22385.0,2013-09-03 13:24:53.000,20.0,163.0
2013-09-03 15:04:58,A0354,HSIU3,2,22331.0,2013-09-03 15:04:58.000,22327.0,2013-09-03 15:05:46.000,4.0,167.0
2013-09-03 15:15:42,A0354,HSIU3,2,22288.0,2013-09-03 15:15:42.000,22284.0,2013-09-03 15:18:14.000,4.0,171.0
2013-09-03 15:39:38,A0354,HSIU3,2,22319.0,2013-09-03 15:39:38.000,22303.0,2013-09-03 15:42:16.000,16.0,187.0
2013-09-04 09:30:40,A0354,HSIU3,2,22096.0,2013-09-04 09:30:40.000,22122.0,2013-09-04 09:33:47.000,-26.0,161.0
2013-09-04 09:31:09,A0354,HSIU3,1,22118.0,2013-09-04 09:31:09.000,22099.0,2013-09-04 09:37:30.000,-19.0,142.0
2013-09-04 09:41:14,A0354,HSIU3,1,22115.0,2013-09-04 09:41:14.000,22138.0,2013-09-04 09:45:35.000,23.0,165.0
2013-09-04 09:58:06,A0354,HSIU3,1,22178.0,2013-09-04 09:58:06.000,22166.0,2013-09-04 09:59:06.000,-12.0,153.0
2013-09-04 09:59:15,A0354,HSIU3,2,22161.0,2013-09-04 09:59:15.000,22187.0,2013-09-04 10:03:23.000,-26.0,127.0
...,...,...,...,...,...,...,...,...,...
2015-09-18 14:20:34,A0354,HSIU5,2,21882.0,2015-09-18 14:20:34.000,21878.0,2015-09-18 14:23:35.000,4.0,13863.0
2015-09-18 14:36:27,A0354,HSIU5,1,21902.0,2015-09-18 14:36:27.000,21938.0,2015-09-18 14:38:04.000,36.0,13899.0
2015-09-18 15:04:47,A0354,HSIU5,2,21862.0,2015-09-18 15:04:47.000,21883.0,2015-09-18 15:07:30.000,-21.0,13878.0
2015-09-21 14:09:02,A0354,HSIU5,2,21642.0,2015-09-21 14:09:02.000,21634.0,2015-09-21 14:12:09.000,8.0,13886.0
2015-09-22 10:26:56,A0354,HSIU5,2,21890.0,2015-09-22 10:26:56.000,21933.0,2015-09-22 10:40:14.000,-43.0,13843.0
2015-09-22 10:42:02,A0354,HSIU5,1,21947.0,2015-09-22 10:42:02.000,21960.0,2015-09-22 10:43:24.000,13.0,13856.0
2015-09-22 10:45:29,A0354,HSIU5,2,21936.0,2015-09-22 10:45:29.000,21893.0,2015-09-22 11:01:14.000,43.0,13899.0
2015-09-22 14:10:28,A0354,HSIU5,2,22021.0,2015-09-22 14:10:28.000,22027.0,2015-09-22 14:16:33.000,-6.0,13893.0
2015-09-22 15:32:13,A0354,HSIU5,1,21882.0,2015-09-22 15:32:13.000,21903.0,2015-09-22 15:34:17.000,21.0,13914.0
2015-09-23 13:15:03,A0354,HSIU5,1,20991.0,2015-09-23 13:15:03.000,20995.0,2015-09-23 13:17:04.000,4.0,13918.0
2015-09-23 13:19:47,A0354,HSIU5,1,20989.0,2015-09-23 13:19:47.000,21011.0,2015-09-23 13:21:18.000,22.0,13940.0
2015-09-23 13:36:26,A0354,HSIU5,2,21053.0,2015-09-23 13:36:26.000,21056.0,2015-09-23 13:38:42.000,-3.0,13937.0
2015-09-23 13:41:40,A0354,HSIU5,1,21072.0,2015-09-23 13:41:40.000,21084.0,2015-09-23 13:42:11.000,12.0,13949.0
2015-09-23 14:02:02,A0354,HSIU5,2,21094.0,2015-09-23 14:02:02.000,21055.0,2015-09-23 14:02:46.000,39.0,13988.0
2015-09-23 14:24:45,A0354,HSIU5,2,21187.0,2015-09-23 14:24:45.000,21110.0,2015-09-23 14:30:57.000,77.0,14065.0
2015-09-24 10:46:09,A0354,HSIU5,2,21190.0,2015-09-24 10:46:09.000,21155.0,2015-09-24 10:50:16.000,35.0,14100.0
2015-09-24 11:19:07,A0354,HSIU5,1,21100.0,2015-09-24 11:19:07.000,21068.0,2015-09-24 11:20:08.000,-32.0,14068.0
2015-09-24 11:20:43,A0354,HSIU5,1,21085.0,2015-09-24 11:20:43.000,21061.0,2015-09-24 11:25:09.000,-24.0,14044.0
2015-09-24 11:27:40,A0354,HSIU5,1,21070.0,2015-09-24 11:27:40.000,21090.0,2015-09-24 11:47:20.000,20.0,14064.0
2015-09-24 11:29:14,A0354,HSIU5,1,21075.0,2015-09-24 11:29:14.000,21044.0,2015-09-24 11:30:39.000,-31.0,14033.0
2015-09-24 11:32:16,A0354,HSIU5,1,21071.0,2015-09-24 11:32:16.000,21036.0,2015-09-24 11:33:02.000,-35.0,13998.0
2015-09-24 11:35:25,A0354,HSIU5,1,21064.0,2015-09-24 11:35:25.000,21096.0,2015-09-24 11:46:07.000,32.0,14030.0
2015-09-24 11:36:13,A0354,HSIU5,1,21072.0,2015-09-24 11:36:13.000,21100.0,2015-09-24 11:45:31.000,28.0,14058.0
2015-09-24 13:17:24,A0354,HSIU5,1,21052.0,2015-09-24 13:17:24.000,21062.0,2015-09-24 13:33:52.000,10.0,14068.0
2015-09-24 14:04:09,A0354,HSIU5,2,21153.0,2015-09-24 14:04:09.000,21130.0,2015-09-24 14:05:29.000,23.0,14091.0
2015-09-25 09:59:27,A0354,HSIU5,2,21155.0,2015-09-25 09:59:27.000,21116.0,2015-09-25 10:02:15.000,39.0,14130.0
2015-09-25 11:04:36,A0354,HSIU5,2,21035.0,2015-09-25 11:04:36.000,21020.0,2015-09-25 11:05:13.000,15.0,14145.0
2015-09-25 13:37:04,A0354,HSIU5,1,21090.0,2015-09-25 13:37:04.000,21111.0,2015-09-25 13:40:04.000,21.0,14166.0
2015-09-25 13:46:34,A0354,HSIU5,2,21092.0,2015-09-25 13:46:34.000,21108.0,2015-09-25 13:48:39.000,-16.0,14150.0
2015-09-25 13:48:46,A0354,HSIU5,1,21106.0,2015-09-25 13:48:46.000,21150.0,2015-09-25 13:52:05.000,44.0,14194.0