In [7]:
import pandas as pd
import numpy as np

In [9]:
s = pd.Series ([1,3,5,7,9,np.nan,10])
s

0     1.0
1     3.0
2     5.0
3     7.0
4     9.0
5     NaN
6    10.0
dtype: float64

In [10]:
s.index

RangeIndex(start=0, stop=7, step=1)

In [15]:
dates = pd.date_range('20170920',periods = 30)
dates

DatetimeIndex(['2017-09-20', '2017-09-21', '2017-09-22', '2017-09-23',
               '2017-09-24', '2017-09-25', '2017-09-26', '2017-09-27',
               '2017-09-28', '2017-09-29', '2017-09-30', '2017-10-01',
               '2017-10-02', '2017-10-03', '2017-10-04', '2017-10-05',
               '2017-10-06', '2017-10-07', '2017-10-08', '2017-10-09',
               '2017-10-10', '2017-10-11', '2017-10-12', '2017-10-13',
               '2017-10-14', '2017-10-15', '2017-10-16', '2017-10-17',
               '2017-10-18', '2017-10-19'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df = pd.DataFrame(np.random.randn(30,5), index = dates ,columns = list ('ABCDE'))
df

                   A         B         C         D         E
2017-09-20 -2.638939 -0.616946  1.833845  1.472106 -0.312977
2017-09-21  1.537606  1.536114 -1.035340  2.107477  0.225228
2017-09-22 -0.521724 -0.722496 -1.287806 -0.669649 -0.488448
2017-09-23 -1.602908  0.892109  0.194631 -1.197529 -0.445497
2017-09-24 -0.650919  0.980508  1.072522 -1.395824 -0.583947
2017-09-25  1.131841 -0.440597 -0.406648  0.011832  1.356910
2017-09-26 -0.245930 -0.263026  0.443765 -1.065947 -0.553544
2017-09-27  0.775347 -1.452137 -1.393604 -0.223041  1.104474
2017-09-28 -0.839708 -0.557659 -2.713249 -1.826779  0.178405
2017-09-29  0.469285 -1.103703  2.251994  0.168114  1.297730
2017-09-30 -0.530137 -0.388431  0.678322 -0.170046  2.846659
2017-10-01  2.394278 -0.743079  1.348830 -1.588362 -0.544643
2017-10-02 -1.120769  0.811328 -1.756995 -0.769049  0.245630
2017-10-03 -0.458216  0.350415  0.291384 -0.407527 -1.252703
2017-10-04 -0.088733 -0.541812  1.348630  1.002574  0.006263
2017-10-05  0.458075  0.146254 -0.966005  0.816256 -1.111808
2017-10-06 -0.690607 -0.446824 -0.472590 -0.935221 -0.863124
2017-10-07  0.289638 -1.041680 -1.279144 -0.082451  1.636225
2017-10-08  0.229336  0.822248  1.164437 -0.171850  1.827455
2017-10-09  0.517203 -0.513689  0.410482 -1.391561 -0.847220
2017-10-10  0.212809 -0.437192  0.337719  0.438195  0.872473
2017-10-11 -0.023071 -0.015364 -0.660283 -0.256195 -1.098569
2017-10-12 -0.020555  1.390454  1.301612 -1.413308 -0.788133
2017-10-13  0.396661  0.064341  0.055849 -0.634280  1.578902
2017-10-14  1.252651  0.480655 -1.127113 -0.962538  1.258656
2017-10-15  0.521481 -0.064347 -2.002688 -0.374957  1.161393
2017-10-16  2.229608 -0.615468 -0.288576  0.046672  0.129190
2017-10-17  1.057321 -0.079483 -2.214475  0.008207 -2.385413
2017-10-18  0.465892  0.165315  0.214943  1.287693 -0.562524
2017-10-19 -1.061687 -0.674971  0.825502 -0.503689  1.327121

In [28]:
df2 = pd.DataFrame({'A':1.,
                    'B':pd.Timestamp('20170920'),
                    'C':pd.Series(1, index = list(range(5)),dtype = 'float32'),
                    'D': np.array([6]*5,dtype = 'int32'),
                    'E': pd.Categorical(['test','false','ture','false','hey']),
                    'F':'emmmmmmmmmmmmm'
    
})
df2

     A          B    C  D      E               F
0  1.0 2017-09-20  1.0  6   test  emmmmmmmmmmmmm
1  1.0 2017-09-20  1.0  6  false  emmmmmmmmmmmmm
2  1.0 2017-09-20  1.0  6   ture  emmmmmmmmmmmmm
3  1.0 2017-09-20  1.0  6  false  emmmmmmmmmmmmm
4  1.0 2017-09-20  1.0  6    hey  emmmmmmmmmmmmm

In [29]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [34]:
df = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\index_data\\000300.SH.h5')
df

,open,high,low,close,volume,amount,change,pctchange,position
2016-09-19 09:25:00,3242.7429,3242.7429,3242.7429,3242.7429,37406200.0,4.009120e+08,0.0000,0.000000,NaN
2016-09-19 09:30:00,3244.9179,3251.5510,3244.9179,3251.4453,80596900.0,8.989560e+08,8.7024,0.002684,NaN
2016-09-19 09:31:00,3251.4466,3251.6266,3251.2060,3251.4502,51349900.0,6.411035e+08,0.0049,0.000002,NaN
2016-09-19 09:32:00,3251.6165,3251.7149,3251.1520,3251.7149,51651000.0,6.534594e+08,0.2647,0.000081,NaN
2016-09-19 09:33:00,3251.6593,3253.6156,3251.6370,3253.6156,49003300.0,6.044388e+08,1.9007,0.000585,NaN
2016-09-19 09:34:00,3253.6156,3254.9662,3253.6156,3254.9003,48482300.0,5.892052e+08,1.2847,0.000395,NaN
2016-09-19 09:35:00,3254.9108,3255.7021,3254.8418,3255.2976,43360700.0,5.071984e+08,0.3973,0.000122,NaN
2016-09-19 09:36:00,3255.4711,3255.8637,3255.2372,3255.2768,44038400.0,5.549751e+08,-0.0208,-0.000006,NaN
2016-09-19 09:37:00,3255.5590,3255.6562,3255.1441,3255.2361,49964500.0,6.552527e+08,-0.0407,-0.000013,NaN
2016-09-19 09:38:00,3255.3638,3255.5602,3254.4854,3255.0695,44834100.0,5.561693e+08,-0.1666,-0.000051,NaN
2016-09-19 09:39:00,3255.2041,3255.2276,3254.5051,3254.6357,38937000.0,4.783684e+08,-0.4338,-0.000133,NaN
2016-09-19 09:40:00,3254.8040,3255.0506,3254.5526,3254.9349,41831400.0,5.096009e+08,0.2992,0.000092,NaN
2016-09-19 09:41:00,3254.7289,3256.6529,3254.7289,3256.6529,40862300.0,4.983501e+08,1.7180,0.000528,NaN
2016-09-19 09:42:00,3256.6741,3258.3527,3256.6741,3258.3527,50268800.0,6.028021e+08,1.6998,0.000522,NaN
2016-09-19 09:43:00,3258.6914,3260.2415,3258.6914,3260.2415,56174200.0,6.052981e+08,1.8888,0.000580,NaN
2016-09-19 09:44:00,3260.2773,3260.7478,3259.7951,3260.7478,59286400.0,6.567524e+08,0.5063,0.000155,NaN
2016-09-19 09:45:00,3260.5419,3260.9832,3260.5114,3260.8926,52954000.0,6.162352e+08,0.1448,0.000044,NaN
2016-09-19 09:46:00,3260.7217,3261.2899,3260.7217,3261.1844,54635600.0,6.363251e+08,0.2918,0.000089,NaN
2016-09-19 09:47:00,3261.2444,3261.3129,3260.9128,3260.9904,56293600.0,6.128327e+08,-0.1940,-0.000059,NaN
2016-09-19 09:48:00,3260.9533,3260.9533,3259.9172,3260.8078,58296700.0,5.311995e+08,-0.1826,-0.000056,NaN
2016-09-19 09:49:00,3260.3683,3260.5386,3260.0064,3260.0064,41332000.0,4.623962e+08,-0.8014,-0.000246,NaN
2016-09-19 09:50:00,3260.0533,3260.6053,3260.0533,3260.3703,41338100.0,4.841058e+08,0.3639,0.000112,NaN
2016-09-19 09:51:00,3260.7026,3261.5637,3260.5818,3261.5062,49194800.0,5.446395e+08,1.1359,0.000348,NaN
2016-09-19 09:52:00,3261.6575,3262.1068,3261.1595,3262.0725,48959500.0,5.121467e+08,0.5663,0.000174,NaN
2016-09-19 09:53:00,3261.8497,3262.3389,3261.2172,3261.2550,51078400.0,5.640327e+08,-0.8175,-0.000251,NaN
2016-09-19 09:54:00,3261.7413,3262.0110,3260.8569,3261.1653,39948300.0,4.852139e+08,-0.0897,-0.000028,NaN
2016-09-19 09:55:00,3260.9977,3261.3453,3260.5118,3260.5118,33535000.0,3.757667e+08,-0.6535,-0.000200,NaN
2016-09-19 09:56:00,3260.5607,3260.7117,3260.0421,3260.2533,35584600.0,4.149530e+08,-0.2585,-0.000079,NaN
2016-09-19 09:57:00,3260.0280,3260.1988,3259.7699,3259.7699,31852200.0,3.824307e+08,-0.4834,-0.000148,NaN
2016-09-19 09:58:00,3259.8069,3259.8221,3258.6488,3258.6488,34016700.0,3.939721e+08,-1.1211,-0.000344,NaN
...,...,...,...,...,...,...,...,...,...
2017-09-19 14:31:00,3826.8750,3827.9033,3826.8750,3827.8895,44743400.0,5.425930e+08,0.6953,0.000182,NaN
2017-09-19 14:32:00,3827.9112,3828.1929,3826.4460,3826.7571,54009900.0,5.920527e+08,-1.1324,-0.000296,NaN
2017-09-19 14:33:00,3826.8164,3826.8164,3825.1006,3825.1006,53846800.0,6.580308e+08,-1.6565,-0.000433,NaN
2017-09-19 14:34:00,3825.5212,3825.5212,3822.6790,3822.6790,80017700.0,9.599403e+08,-2.4216,-0.000633,NaN
2017-09-19 14:35:00,3822.6009,3822.7253,3820.4550,3820.4550,90223500.0,1.105603e+09,-2.2240,-0.000582,NaN
2017-09-19 14:36:00,3820.8507,3821.0720,3820.3144,3821.0720,83623300.0,1.008082e+09,0.6170,0.000161,NaN
2017-09-19 14:37:00,3821.1137,3824.4657,3821.1137,3824.4657,75821600.0,8.641309e+08,3.3937,0.000888,NaN
2017-09-19 14:38:00,3824.7203,3828.0240,3824.7203,3828.0240,64069000.0,7.342640e+08,3.5583,0.000930,NaN
2017-09-19 14:39:00,3827.9280,3828.4706,3827.5460,3827.9779,41443700.0,5.506478e+08,-0.0461,-0.000012,NaN
2017-09-19 14:40:00,3827.9550,3828.2614,3827.2764,3827.8727,44141300.0,5.829216e+08,-0.1052,-0.000027,NaN
2017-09-19 14:41:00,3827.9465,3828.2807,3827.3537,3827.6474,47530500.0,5.573720e+08,-0.2253,-0.000059,NaN
2017-09-19 14:42:00,3827.6889,3828.0830,3827.4270,3827.7826,37841300.0,4.687232e+08,0.1352,0.000035,NaN
2017-09-19 14:43:00,3827.5994,3828.0174,3827.5192,3827.5871,38389600.0,5.056703e+08,-0.1955,-0.000051,NaN
2017-09-19 14:44:00,3827.7569,3827.9861,3827.2199,3827.5535,40839700.0,5.338683e+08,-0.0336,-0.000009,NaN
2017-09-19 14:45:00,3827.1923,3827.8530,3827.0448,3827.2487,40300000.0,5.543042e+08,-0.3048,-0.000080,NaN
2017-09-19 14:46:00,3827.2563,3827.6701,3826.7708,3826.7708,47328800.0,5.928168e+08,-0.4779,-0.000125,NaN
2017-09-19 14:47:00,3826.5675,3827.1217,3826.5675,3826.7365,45773000.0,5.679134e+08,-0.0343,-0.000009,NaN
2017-09-19 14:48:00,3826.6568,3826.7593,3826.1602,3826.1602,46641600.0,6.397482e+08,-0.5763,-0.000151,NaN
2017-09-19 14:49:00,3826.0433,3826.6437,3825.7694,3825.9948,48600100.0,6.490241e+08,-0.1654,-0.000043,NaN
2017-09-19 14:50:00,3826.0509,3826.0509,3825.1359,3825.4865,55808000.0,7.101372e+08,-0.5083,-0.000133,NaN
2017-09-19 14:51:00,3825.1266,3825.2717,3823.9050,3824.0247,60455500.0,7.704968e+08,-1.4618,-0.000382,NaN
2017-09-19 14:52:00,3824.3932,3825.5713,3824.1157,3825.5093,77938500.0,9.242246e+08,1.4846,0.000388,NaN
2017-09-19 14:53:00,3825.8436,3828.0311,3825.7981,3828.0311,84748100.0,9.709088e+08,2.5218,0.000659,NaN
2017-09-19 14:54:00,3828.1627,3830.0215,3828.1627,3830.0215,80734200.0,9.689230e+08,1.9904,0.000520,NaN
2017-09-19 14:55:00,3829.7400,3831.0390,3829.7400,3831.0175,71386300.0,8.713943e+08,0.9960,0.000260,NaN
2017-09-19 14:56:00,3830.9961,3831.5840,3830.8246,3831.5840,66276800.0,8.428431e+08,0.5665,0.000148,NaN
2017-09-19 14:57:00,3831.2846,3831.6072,3831.1282,3831.3748,33478300.0,3.875282e+08,-0.2092,-0.000055,NaN
2017-09-19 14:58:00,3831.5150,3831.9837,3831.0115,3831.9226,43044000.0,4.541475e+08,0.5478,0.000143,NaN
2017-09-19 14:59:00,3831.9768,3831.9768,3831.2619,3831.2619,45888200.0,5.104812e+08,-0.6607,-0.000172,NaN
2017-09-19 15:00:00,3831.8189,3832.1161,3831.8189,3832.1161,54679400.0,7.495296e+08,0.8542,0.000223,NaN

In [36]:
df.head()

,open,high,low,close,volume,amount,change,pctchange,position
2016-09-19 09:25:00,3242.7429,3242.7429,3242.7429,3242.7429,37406200.0,400912000.0,0.0000,0.000000,NaN
2016-09-19 09:30:00,3244.9179,3251.5510,3244.9179,3251.4453,80596900.0,898956000.0,8.7024,0.002684,NaN
2016-09-19 09:31:00,3251.4466,3251.6266,3251.2060,3251.4502,51349900.0,641103500.0,0.0049,0.000002,NaN
2016-09-19 09:32:00,3251.6165,3251.7149,3251.1520,3251.7149,51651000.0,653459400.0,0.2647,0.000081,NaN
2016-09-19 09:33:00,3251.6593,3253.6156,3251.6370,3253.6156,49003300.0,604438800.0,1.9007,0.000585,NaN

In [37]:
df.tail()

,open,high,low,close,volume,amount,change,pctchange,position
2017-09-19 14:56:00,3830.9961,3831.5840,3830.8246,3831.5840,66276800.0,842843100.0,0.5665,0.000148,NaN
2017-09-19 14:57:00,3831.2846,3831.6072,3831.1282,3831.3748,33478300.0,387528200.0,-0.2092,-0.000055,NaN
2017-09-19 14:58:00,3831.5150,3831.9837,3831.0115,3831.9226,43044000.0,454147500.0,0.5478,0.000143,NaN
2017-09-19 14:59:00,3831.9768,3831.9768,3831.2619,3831.2619,45888200.0,510481200.0,-0.6607,-0.000172,NaN
2017-09-19 15:00:00,3831.8189,3832.1161,3831.8189,3832.1161,54679400.0,749529600.0,0.8542,0.000223,NaN

In [38]:
df.head(10)

,open,high,low,close,volume,amount,change,pctchange,position
2016-09-19 09:25:00,3242.7429,3242.7429,3242.7429,3242.7429,37406200.0,400912000.0,0.0000,0.000000,NaN
2016-09-19 09:30:00,3244.9179,3251.5510,3244.9179,3251.4453,80596900.0,898956000.0,8.7024,0.002684,NaN
2016-09-19 09:31:00,3251.4466,3251.6266,3251.2060,3251.4502,51349900.0,641103500.0,0.0049,0.000002,NaN
2016-09-19 09:32:00,3251.6165,3251.7149,3251.1520,3251.7149,51651000.0,653459400.0,0.2647,0.000081,NaN
2016-09-19 09:33:00,3251.6593,3253.6156,3251.6370,3253.6156,49003300.0,604438800.0,1.9007,0.000585,NaN
2016-09-19 09:34:00,3253.6156,3254.9662,3253.6156,3254.9003,48482300.0,589205200.0,1.2847,0.000395,NaN
2016-09-19 09:35:00,3254.9108,3255.7021,3254.8418,3255.2976,43360700.0,507198400.0,0.3973,0.000122,NaN
2016-09-19 09:36:00,3255.4711,3255.8637,3255.2372,3255.2768,44038400.0,554975100.0,-0.0208,-0.000006,NaN
2016-09-19 09:37:00,3255.5590,3255.6562,3255.1441,3255.2361,49964500.0,655252700.0,-0.0407,-0.000013,NaN
2016-09-19 09:38:00,3255.3638,3255.5602,3254.4854,3255.0695,44834100.0,556169300.0,-0.1666,-0.000051,NaN

In [39]:
df.index

DatetimeIndex(['2016-09-19 09:25:00', '2016-09-19 09:30:00',
               '2016-09-19 09:31:00', '2016-09-19 09:32:00',
               '2016-09-19 09:33:00', '2016-09-19 09:34:00',
               '2016-09-19 09:35:00', '2016-09-19 09:36:00',
               '2016-09-19 09:37:00', '2016-09-19 09:38:00',
               ...
               '2017-09-19 14:51:00', '2017-09-19 14:52:00',
               '2017-09-19 14:53:00', '2017-09-19 14:54:00',
               '2017-09-19 14:55:00', '2017-09-19 14:56:00',
               '2017-09-19 14:57:00', '2017-09-19 14:58:00',
               '2017-09-19 14:59:00', '2017-09-19 15:00:00'],
              dtype='datetime64[ns]', length=59532, freq=None)

In [42]:
df.columns

Index(['open', 'high', 'low', 'close', 'volume', 'amount', 'change',
       'pctchange', 'position'],
      dtype='object')

In [43]:
df.values

array([[  3.24274290e+03,   3.24274290e+03,   3.24274290e+03, ...,
          0.00000000e+00,   0.00000000e+00,              nan],
       [  3.24491790e+03,   3.25155100e+03,   3.24491790e+03, ...,
          8.70240000e+00,   2.68365401e-03,              nan],
       [  3.25144660e+03,   3.25162660e+03,   3.25120600e+03, ...,
          4.90000000e-03,   1.50702212e-06,              nan],
       ...,
       [  3.83151500e+03,   3.83198370e+03,   3.83101150e+03, ...,
          5.47800000e-01,   1.42977398e-04,              nan],
       [  3.83197680e+03,   3.83197680e+03,   3.83126190e+03, ...,
         -6.60700000e-01,  -1.72419975e-04,              nan],
       [  3.83181890e+03,   3.83211610e+03,   3.83181890e+03, ...,
          8.54200000e-01,   2.22955262e-04,              nan]])

In [44]:
df.describe()

,open,high,low,close,volume,amount,change,pctchange,position
count,59532.000000,59532.000000,59532.000000,59532.000000,5.953200e+04,5.953200e+04,59532.000000,5.953200e+04,0.0
mean,3494.308564,3494.814979,3493.815005,3494.329554,4.471706e+07,4.957444e+08,0.009907,2.854333e-06,NaN
std,162.381988,162.403775,162.354051,162.377752,2.586415e+07,2.710694e+08,1.068966,3.047402e-04,NaN
min,3214.870400,3214.870400,3214.870400,3214.870400,6.629700e+06,7.214870e+07,-55.267100,-1.566104e-02,NaN
25%,3365.120200,3365.599600,3364.666250,3365.180725,2.766788e+07,3.146779e+08,-0.459200,-1.321976e-04,NaN
50%,3454.727250,3455.188200,3454.270350,3454.755800,3.839000e+07,4.305056e+08,0.003200,9.515795e-07,NaN
75%,3622.885225,3623.411300,3622.515975,3622.906800,5.436395e+07,6.052817e+08,0.477800,1.369270e-04,NaN
max,3865.880900,3866.610700,3865.880900,3866.185300,5.622661e+08,7.757786e+09,21.851300,6.516834e-03,NaN

In [45]:
df.T

,2016-09-19 09:25:00,2016-09-19 09:30:00,2016-09-19 09:31:00,2016-09-19 09:32:00,2016-09-19 09:33:00,2016-09-19 09:34:00,2016-09-19 09:35:00,2016-09-19 09:36:00,2016-09-19 09:37:00,2016-09-19 09:38:00,...,2017-09-19 14:51:00,2017-09-19 14:52:00,2017-09-19 14:53:00,2017-09-19 14:54:00,2017-09-19 14:55:00,2017-09-19 14:56:00,2017-09-19 14:57:00,2017-09-19 14:58:00,2017-09-19 14:59:00,2017-09-19 15:00:00
open,3.242743e+03,3.244918e+03,3.251447e+03,3.251617e+03,3.251659e+03,3.253616e+03,3.254911e+03,3.255471e+03,3.255559e+03,3.255364e+03,...,3.825127e+03,3.824393e+03,3.825844e+03,3.828163e+03,3.829740e+03,3.830996e+03,3.831285e+03,3.831515e+03,3.831977e+03,3.831819e+03
high,3.242743e+03,3.251551e+03,3.251627e+03,3.251715e+03,3.253616e+03,3.254966e+03,3.255702e+03,3.255864e+03,3.255656e+03,3.255560e+03,...,3.825272e+03,3.825571e+03,3.828031e+03,3.830021e+03,3.831039e+03,3.831584e+03,3.831607e+03,3.831984e+03,3.831977e+03,3.832116e+03
low,3.242743e+03,3.244918e+03,3.251206e+03,3.251152e+03,3.251637e+03,3.253616e+03,3.254842e+03,3.255237e+03,3.255144e+03,3.254485e+03,...,3.823905e+03,3.824116e+03,3.825798e+03,3.828163e+03,3.829740e+03,3.830825e+03,3.831128e+03,3.831012e+03,3.831262e+03,3.831819e+03
close,3.242743e+03,3.251445e+03,3.251450e+03,3.251715e+03,3.253616e+03,3.254900e+03,3.255298e+03,3.255277e+03,3.255236e+03,3.255070e+03,...,3.824025e+03,3.825509e+03,3.828031e+03,3.830021e+03,3.831017e+03,3.831584e+03,3.831375e+03,3.831923e+03,3.831262e+03,3.832116e+03
volume,3.740620e+07,8.059690e+07,5.134990e+07,5.165100e+07,4.900330e+07,4.848230e+07,4.336070e+07,4.403840e+07,4.996450e+07,4.483410e+07,...,6.045550e+07,7.793850e+07,8.474810e+07,8.073420e+07,7.138630e+07,6.627680e+07,3.347830e+07,4.304400e+07,4.588820e+07,5.467940e+07
amount,4.009120e+08,8.989560e+08,6.411035e+08,6.534594e+08,6.044388e+08,5.892052e+08,5.071984e+08,5.549751e+08,6.552527e+08,5.561693e+08,...,7.704968e+08,9.242246e+08,9.709088e+08,9.689230e+08,8.713943e+08,8.428431e+08,3.875282e+08,4.541475e+08,5.104812e+08,7.495296e+08
change,0.000000e+00,8.702400e+00,4.900000e-03,2.647000e-01,1.900700e+00,1.284700e+00,3.973000e-01,-2.080000e-02,-4.070000e-02,-1.666000e-01,...,-1.461800e+00,1.484600e+00,2.521800e+00,1.990400e+00,9.960000e-01,5.665000e-01,-2.092000e-01,5.478000e-01,-6.607000e-01,8.542000e-01
pctchange,0.000000e+00,2.683654e-03,1.507022e-06,8.140983e-05,5.845223e-04,3.948530e-04,1.220621e-04,-6.389585e-06,-1.250278e-05,-5.117908e-05,...,-3.821213e-04,3.882297e-04,6.592063e-04,5.199540e-04,2.600508e-04,1.478719e-04,-5.459883e-05,1.429774e-04,-1.724200e-04,2.229553e-04
position,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df.sort_index(axis=1,ascending = False)

,volume,position,pctchange,open,low,high,close,change,amount
2016-09-19 09:25:00,37406200.0,NaN,0.000000,3242.7429,3242.7429,3242.7429,3242.7429,0.0000,4.009120e+08
2016-09-19 09:30:00,80596900.0,NaN,0.002684,3244.9179,3244.9179,3251.5510,3251.4453,8.7024,8.989560e+08
2016-09-19 09:31:00,51349900.0,NaN,0.000002,3251.4466,3251.2060,3251.6266,3251.4502,0.0049,6.411035e+08
2016-09-19 09:32:00,51651000.0,NaN,0.000081,3251.6165,3251.1520,3251.7149,3251.7149,0.2647,6.534594e+08
2016-09-19 09:33:00,49003300.0,NaN,0.000585,3251.6593,3251.6370,3253.6156,3253.6156,1.9007,6.044388e+08
2016-09-19 09:34:00,48482300.0,NaN,0.000395,3253.6156,3253.6156,3254.9662,3254.9003,1.2847,5.892052e+08
2016-09-19 09:35:00,43360700.0,NaN,0.000122,3254.9108,3254.8418,3255.7021,3255.2976,0.3973,5.071984e+08
2016-09-19 09:36:00,44038400.0,NaN,-0.000006,3255.4711,3255.2372,3255.8637,3255.2768,-0.0208,5.549751e+08
2016-09-19 09:37:00,49964500.0,NaN,-0.000013,3255.5590,3255.1441,3255.6562,3255.2361,-0.0407,6.552527e+08
2016-09-19 09:38:00,44834100.0,NaN,-0.000051,3255.3638,3254.4854,3255.5602,3255.0695,-0.1666,5.561693e+08
2016-09-19 09:39:00,38937000.0,NaN,-0.000133,3255.2041,3254.5051,3255.2276,3254.6357,-0.4338,4.783684e+08
2016-09-19 09:40:00,41831400.0,NaN,0.000092,3254.8040,3254.5526,3255.0506,3254.9349,0.2992,5.096009e+08
2016-09-19 09:41:00,40862300.0,NaN,0.000528,3254.7289,3254.7289,3256.6529,3256.6529,1.7180,4.983501e+08
2016-09-19 09:42:00,50268800.0,NaN,0.000522,3256.6741,3256.6741,3258.3527,3258.3527,1.6998,6.028021e+08
2016-09-19 09:43:00,56174200.0,NaN,0.000580,3258.6914,3258.6914,3260.2415,3260.2415,1.8888,6.052981e+08
2016-09-19 09:44:00,59286400.0,NaN,0.000155,3260.2773,3259.7951,3260.7478,3260.7478,0.5063,6.567524e+08
2016-09-19 09:45:00,52954000.0,NaN,0.000044,3260.5419,3260.5114,3260.9832,3260.8926,0.1448,6.162352e+08
2016-09-19 09:46:00,54635600.0,NaN,0.000089,3260.7217,3260.7217,3261.2899,3261.1844,0.2918,6.363251e+08
2016-09-19 09:47:00,56293600.0,NaN,-0.000059,3261.2444,3260.9128,3261.3129,3260.9904,-0.1940,6.128327e+08
2016-09-19 09:48:00,58296700.0,NaN,-0.000056,3260.9533,3259.9172,3260.9533,3260.8078,-0.1826,5.311995e+08
2016-09-19 09:49:00,41332000.0,NaN,-0.000246,3260.3683,3260.0064,3260.5386,3260.0064,-0.8014,4.623962e+08
2016-09-19 09:50:00,41338100.0,NaN,0.000112,3260.0533,3260.0533,3260.6053,3260.3703,0.3639,4.841058e+08
2016-09-19 09:51:00,49194800.0,NaN,0.000348,3260.7026,3260.5818,3261.5637,3261.5062,1.1359,5.446395e+08
2016-09-19 09:52:00,48959500.0,NaN,0.000174,3261.6575,3261.1595,3262.1068,3262.0725,0.5663,5.121467e+08
2016-09-19 09:53:00,51078400.0,NaN,-0.000251,3261.8497,3261.2172,3262.3389,3261.2550,-0.8175,5.640327e+08
2016-09-19 09:54:00,39948300.0,NaN,-0.000028,3261.7413,3260.8569,3262.0110,3261.1653,-0.0897,4.852139e+08
2016-09-19 09:55:00,33535000.0,NaN,-0.000200,3260.9977,3260.5118,3261.3453,3260.5118,-0.6535,3.757667e+08
2016-09-19 09:56:00,35584600.0,NaN,-0.000079,3260.5607,3260.0421,3260.7117,3260.2533,-0.2585,4.149530e+08
2016-09-19 09:57:00,31852200.0,NaN,-0.000148,3260.0280,3259.7699,3260.1988,3259.7699,-0.4834,3.824307e+08
2016-09-19 09:58:00,34016700.0,NaN,-0.000344,3259.8069,3258.6488,3259.8221,3258.6488,-1.1211,3.939721e+08
...,...,...,...,...,...,...,...,...,...
2017-09-19 14:31:00,44743400.0,NaN,0.000182,3826.8750,3826.8750,3827.9033,3827.8895,0.6953,5.425930e+08
2017-09-19 14:32:00,54009900.0,NaN,-0.000296,3827.9112,3826.4460,3828.1929,3826.7571,-1.1324,5.920527e+08
2017-09-19 14:33:00,53846800.0,NaN,-0.000433,3826.8164,3825.1006,3826.8164,3825.1006,-1.6565,6.580308e+08
2017-09-19 14:34:00,80017700.0,NaN,-0.000633,3825.5212,3822.6790,3825.5212,3822.6790,-2.4216,9.599403e+08
2017-09-19 14:35:00,90223500.0,NaN,-0.000582,3822.6009,3820.4550,3822.7253,3820.4550,-2.2240,1.105603e+09
2017-09-19 14:36:00,83623300.0,NaN,0.000161,3820.8507,3820.3144,3821.0720,3821.0720,0.6170,1.008082e+09
2017-09-19 14:37:00,75821600.0,NaN,0.000888,3821.1137,3821.1137,3824.4657,3824.4657,3.3937,8.641309e+08
2017-09-19 14:38:00,64069000.0,NaN,0.000930,3824.7203,3824.7203,3828.0240,3828.0240,3.5583,7.342640e+08
2017-09-19 14:39:00,41443700.0,NaN,-0.000012,3827.9280,3827.5460,3828.4706,3827.9779,-0.0461,5.506478e+08
2017-09-19 14:40:00,44141300.0,NaN,-0.000027,3827.9550,3827.2764,3828.2614,3827.8727,-0.1052,5.829216e+08
2017-09-19 14:41:00,47530500.0,NaN,-0.000059,3827.9465,3827.3537,3828.2807,3827.6474,-0.2253,5.573720e+08
2017-09-19 14:42:00,37841300.0,NaN,0.000035,3827.6889,3827.4270,3828.0830,3827.7826,0.1352,4.687232e+08
2017-09-19 14:43:00,38389600.0,NaN,-0.000051,3827.5994,3827.5192,3828.0174,3827.5871,-0.1955,5.056703e+08
2017-09-19 14:44:00,40839700.0,NaN,-0.000009,3827.7569,3827.2199,3827.9861,3827.5535,-0.0336,5.338683e+08
2017-09-19 14:45:00,40300000.0,NaN,-0.000080,3827.1923,3827.0448,3827.8530,3827.2487,-0.3048,5.543042e+08
2017-09-19 14:46:00,47328800.0,NaN,-0.000125,3827.2563,3826.7708,3827.6701,3826.7708,-0.4779,5.928168e+08
2017-09-19 14:47:00,45773000.0,NaN,-0.000009,3826.5675,3826.5675,3827.1217,3826.7365,-0.0343,5.679134e+08
2017-09-19 14:48:00,46641600.0,NaN,-0.000151,3826.6568,3826.1602,3826.7593,3826.1602,-0.5763,6.397482e+08
2017-09-19 14:49:00,48600100.0,NaN,-0.000043,3826.0433,3825.7694,3826.6437,3825.9948,-0.1654,6.490241e+08
2017-09-19 14:50:00,55808000.0,NaN,-0.000133,3826.0509,3825.1359,3826.0509,3825.4865,-0.5083,7.101372e+08
2017-09-19 14:51:00,60455500.0,NaN,-0.000382,3825.1266,3823.9050,3825.2717,3824.0247,-1.4618,7.704968e+08
2017-09-19 14:52:00,77938500.0,NaN,0.000388,3824.3932,3824.1157,3825.5713,3825.5093,1.4846,9.242246e+08
2017-09-19 14:53:00,84748100.0,NaN,0.000659,3825.8436,3825.7981,3828.0311,3828.0311,2.5218,9.709088e+08
2017-09-19 14:54:00,80734200.0,NaN,0.000520,3828.1627,3828.1627,3830.0215,3830.0215,1.9904,9.689230e+08
2017-09-19 14:55:00,71386300.0,NaN,0.000260,3829.7400,3829.7400,3831.0390,3831.0175,0.9960,8.713943e+08
2017-09-19 14:56:00,66276800.0,NaN,0.000148,3830.9961,3830.8246,3831.5840,3831.5840,0.5665,8.428431e+08
2017-09-19 14:57:00,33478300.0,NaN,-0.000055,3831.2846,3831.1282,3831.6072,3831.3748,-0.2092,3.875282e+08
2017-09-19 14:58:00,43044000.0,NaN,0.000143,3831.5150,3831.0115,3831.9837,3831.9226,0.5478,4.541475e+08
2017-09-19 14:59:00,45888200.0,NaN,-0.000172,3831.9768,3831.2619,3831.9768,3831.2619,-0.6607,5.104812e+08
2017-09-19 15:00:00,54679400.0,NaN,0.000223,3831.8189,3831.8189,3832.1161,3832.1161,0.8542,7.495296e+08

In [52]:
df.sort_values(by='open',ascending = False)

,open,high,low,close,volume,amount,change,pctchange,position
2017-08-28 10:37:00,3865.8809,3866.6107,3865.8809,3866.1853,108736000.0,1.371157e+09,0.0385,9.958235e-06,NaN
2017-08-28 10:36:00,3865.8189,3866.3839,3865.7116,3866.1468,114118300.0,1.446951e+09,0.3968,1.026450e-04,NaN
2017-08-28 10:38:00,3865.7977,3866.0778,3864.9712,3865.4273,102938400.0,1.266702e+09,-0.7580,-1.960589e-04,NaN
2017-08-28 10:35:00,3865.0381,3865.7500,3864.8905,3865.7500,98781200.0,1.315564e+09,0.3458,8.946024e-05,NaN
2017-08-28 10:39:00,3864.8783,3864.9491,3861.7700,3861.9679,98896100.0,1.184183e+09,-3.4594,-8.949593e-04,NaN
2017-09-05 13:18:00,3864.7549,3865.1338,3864.5836,3864.5836,39638500.0,4.653417e+08,-0.2595,-6.714373e-05,NaN
2017-09-05 13:19:00,3864.4610,3864.8025,3863.3827,3863.3827,37684300.0,4.466742e+08,-1.2009,-3.107450e-04,NaN
2017-09-05 13:16:00,3864.0717,3864.4919,3863.5283,3864.4919,34640800.0,4.588450e+08,0.3631,9.396685e-05,NaN
2017-09-05 13:17:00,3863.9861,3864.8593,3863.9861,3864.8431,44305200.0,4.914483e+08,0.3512,9.087870e-05,NaN
2017-08-28 13:50:00,3863.8913,3864.5471,3863.2264,3863.6140,95635800.0,1.134858e+09,0.2078,5.378673e-05,NaN
2017-08-28 13:51:00,3863.7984,3864.0782,3862.5810,3862.5810,78399900.0,9.312788e+08,-1.0330,-2.673663e-04,NaN
2017-09-05 13:13:00,3863.7069,3863.8258,3863.1774,3863.5147,33904700.0,4.594150e+08,-0.0434,-1.123317e-05,NaN
2017-09-05 13:14:00,3863.5893,3864.0966,3863.1703,3863.5961,30662500.0,4.479051e+08,0.0814,2.106890e-05,NaN
2017-09-05 13:20:00,3863.5582,3863.7063,3862.8468,3863.6930,44329200.0,4.777459e+08,0.3103,8.031821e-05,NaN
2017-09-05 13:15:00,3863.4978,3864.4839,3863.4978,3864.1288,44460900.0,4.667168e+08,0.5327,1.378767e-04,NaN
2017-09-05 13:21:00,3863.4515,3863.6055,3862.1453,3862.1453,36430400.0,4.377020e+08,-1.5477,-4.005753e-04,NaN
2017-08-28 13:52:00,3862.7890,3863.1892,3862.4756,3862.7347,74230500.0,8.844077e+08,0.1537,3.979205e-05,NaN
2017-08-28 10:34:00,3862.6280,3865.4042,3862.6280,3865.4042,107384200.0,1.463948e+09,2.5228,6.530876e-04,NaN
2017-08-28 13:53:00,3862.5916,3862.7457,3862.2062,3862.3957,85835700.0,1.042376e+09,-0.3390,-8.776166e-05,NaN
2017-09-05 13:23:00,3862.5754,3862.5754,3861.6521,3861.8043,34096600.0,4.173181e+08,-0.3695,-9.567151e-05,NaN
2017-08-28 13:49:00,3862.4991,3863.9229,3862.3516,3863.4062,121922400.0,1.553143e+09,1.0059,2.604339e-04,NaN
2017-09-05 13:22:00,3862.4309,3862.8106,3861.9612,3862.1738,36636200.0,4.709818e+08,0.0285,7.379318e-06,NaN
2017-09-05 13:01:00,3862.4138,3862.6193,3861.3760,3861.6299,28366500.0,3.568861e+08,-0.6968,-1.804094e-04,NaN
2017-08-28 13:54:00,3862.4099,3862.6296,3862.0086,3862.2180,67272500.0,8.948534e+08,-0.1777,-4.600771e-05,NaN
2017-08-28 10:33:00,3862.3067,3863.0413,3862.1264,3862.8814,90188800.0,1.202312e+09,1.3416,3.474262e-04,NaN
2017-09-18 10:21:00,3862.1789,3862.3589,3861.3666,3861.9515,53802600.0,7.534283e+08,-0.0205,-5.308169e-06,NaN
2017-09-18 10:22:00,3862.1364,3862.2054,3861.5524,3862.0274,65551500.0,8.064321e+08,0.0759,1.965328e-05,NaN
2017-09-18 10:23:00,3862.1018,3862.1018,3860.7084,3860.7084,54624800.0,7.273491e+08,-1.3190,-3.415305e-04,NaN
2017-09-05 13:24:00,3861.9732,3862.0284,3861.1329,3861.5120,41676300.0,4.771071e+08,-0.2923,-7.569001e-05,NaN
2017-09-05 13:12:00,3861.8772,3863.5581,3861.8772,3863.5581,28999500.0,3.969917e+08,1.7451,4.518862e-04,NaN
...,...,...,...,...,...,...,...,...,...
2016-09-27 14:25:00,3220.8381,3222.6306,3220.8381,3222.2851,22908200.0,2.917056e+08,1.7468,5.423938e-04,NaN
2016-09-27 14:04:00,3220.6807,3220.9734,3219.4094,3219.4094,25026100.0,2.585277e+08,-1.7086,-5.304369e-04,NaN
2016-09-26 15:00:00,3220.5620,3220.5667,3220.2838,3220.2838,43916200.0,6.455140e+08,-0.0918,-2.850599e-05,NaN
2016-09-27 14:20:00,3220.5479,3220.6524,3220.1122,3220.1402,17962500.0,1.933605e+08,-0.4866,-1.510886e-04,NaN
2016-09-26 14:59:00,3220.5412,3220.8495,3220.3756,3220.3756,47400700.0,4.594722e+08,-0.2944,-9.140955e-05,NaN
2016-09-27 13:55:00,3220.5338,3222.2677,3220.4915,3222.2677,23606800.0,2.652722e+08,1.5827,4.914172e-04,NaN
2016-09-27 09:45:00,3220.5068,3221.8406,3219.8746,3221.8406,37132800.0,4.010965e+08,1.7762,5.516039e-04,NaN
2016-09-27 14:19:00,3220.4007,3220.6313,3220.0698,3220.6268,18413800.0,1.745770e+08,0.5789,1.797799e-04,NaN
2016-09-27 13:54:00,3220.3841,3221.1580,3220.3841,3220.6850,24838900.0,2.725369e+08,0.0018,5.588876e-07,NaN
2016-09-27 14:21:00,3220.3488,3220.9142,3220.0476,3220.4567,14995000.0,1.698189e+08,0.3165,9.828765e-05,NaN
2016-09-27 14:24:00,3220.1908,3220.6932,3219.9380,3220.5383,16445500.0,1.853719e+08,0.6054,1.880163e-04,NaN
2016-09-27 14:23:00,3220.1303,3220.2030,3219.4928,3219.9329,16209900.0,1.971631e+08,-0.1764,-5.478075e-05,NaN
2016-09-27 14:22:00,3219.9441,3220.2101,3219.7972,3220.1093,17389200.0,1.998045e+08,-0.3474,-1.078729e-04,NaN
2016-09-27 14:18:00,3219.9149,3220.4398,3219.8078,3220.0479,17080500.0,1.948288e+08,0.1801,5.593397e-05,NaN
2016-09-27 14:17:00,3219.8883,3219.8985,3219.3184,3219.8678,21641100.0,2.133155e+08,0.2820,8.758891e-05,NaN
2016-09-27 14:05:00,3219.4190,3219.7059,3218.3899,3218.3899,36282700.0,3.232598e+08,-1.0195,-3.166730e-04,NaN
2016-09-27 14:16:00,3219.1397,3219.5858,3218.7910,3219.5858,21235800.0,2.053626e+08,0.5733,1.780981e-04,NaN
2016-09-27 09:31:00,3218.7959,3220.0640,3218.5392,3220.0640,35941800.0,4.217814e+08,1.1676,3.627330e-04,NaN
2016-09-27 14:15:00,3218.6948,3219.0125,3218.6524,3219.0125,18062200.0,1.953485e+08,0.4910,1.525545e-04,NaN
2016-09-27 14:14:00,3218.5872,3218.9493,3218.2100,3218.5215,20402900.0,2.157349e+08,0.0397,1.233501e-05,NaN
2016-09-27 14:06:00,3218.2682,3218.4921,3217.7409,3217.7472,33798500.0,3.486086e+08,-0.6427,-1.996961e-04,NaN
2016-09-27 14:13:00,3217.7322,3218.5621,3217.6937,3218.4818,23312200.0,2.505741e+08,1.2595,3.914868e-04,NaN
2016-09-27 14:07:00,3217.4870,3217.4870,3216.4240,3216.4240,33881200.0,3.562987e+08,-1.3232,-4.112194e-04,NaN
2016-09-27 14:10:00,3217.2486,3217.2486,3216.6094,3216.6094,28145200.0,2.983653e+08,-0.3911,-1.215729e-04,NaN
2016-09-27 14:09:00,3217.2408,3217.7553,3216.2849,3217.0005,34416700.0,3.532537e+08,-0.1589,-4.939140e-05,NaN
2016-09-27 14:08:00,3216.6505,3217.1594,3215.8878,3217.1594,38348600.0,3.910876e+08,0.7354,2.286390e-04,NaN
2016-09-27 14:11:00,3216.5567,3216.5567,3216.2373,3216.3842,24855400.0,2.746270e+08,-0.2252,-7.001161e-05,NaN
2016-09-27 14:12:00,3216.3389,3217.4885,3216.3389,3217.2223,21569000.0,2.477305e+08,0.8381,2.605721e-04,NaN
2016-09-27 09:30:00,3216.2375,3218.8964,3216.2375,3218.8964,69055700.0,7.310627e+08,4.0260,1.252306e-03,NaN
2016-09-27 09:25:00,3214.8704,3214.8704,3214.8704,3214.8704,26850200.0,2.727036e+08,-5.4134,-1.681032e-03,NaN

In [54]:
df.sort_values(by='close',ascending=True)

,open,high,low,close,volume,amount,change,pctchange,position
2016-09-27 09:25:00,3214.8704,3214.8704,3214.8704,3214.8704,26850200.0,2.727036e+08,-5.4134,-1.681032e-03,NaN
2016-09-27 14:11:00,3216.5567,3216.5567,3216.2373,3216.3842,24855400.0,2.746270e+08,-0.2252,-7.001161e-05,NaN
2016-09-27 14:07:00,3217.4870,3217.4870,3216.4240,3216.4240,33881200.0,3.562987e+08,-1.3232,-4.112194e-04,NaN
2016-09-27 14:10:00,3217.2486,3217.2486,3216.6094,3216.6094,28145200.0,2.983653e+08,-0.3911,-1.215729e-04,NaN
2016-09-27 14:09:00,3217.2408,3217.7553,3216.2849,3217.0005,34416700.0,3.532537e+08,-0.1589,-4.939140e-05,NaN
2016-09-27 14:08:00,3216.6505,3217.1594,3215.8878,3217.1594,38348600.0,3.910876e+08,0.7354,2.286390e-04,NaN
2016-09-27 14:12:00,3216.3389,3217.4885,3216.3389,3217.2223,21569000.0,2.477305e+08,0.8381,2.605721e-04,NaN
2016-09-27 14:06:00,3218.2682,3218.4921,3217.7409,3217.7472,33798500.0,3.486086e+08,-0.6427,-1.996961e-04,NaN
2016-09-27 14:05:00,3219.4190,3219.7059,3218.3899,3218.3899,36282700.0,3.232598e+08,-1.0195,-3.166730e-04,NaN
2016-09-27 14:13:00,3217.7322,3218.5621,3217.6937,3218.4818,23312200.0,2.505741e+08,1.2595,3.914868e-04,NaN
2016-09-27 14:14:00,3218.5872,3218.9493,3218.2100,3218.5215,20402900.0,2.157349e+08,0.0397,1.233501e-05,NaN
2016-09-27 09:30:00,3216.2375,3218.8964,3216.2375,3218.8964,69055700.0,7.310627e+08,4.0260,1.252306e-03,NaN
2016-09-27 14:15:00,3218.6948,3219.0125,3218.6524,3219.0125,18062200.0,1.953485e+08,0.4910,1.525545e-04,NaN
2016-09-27 14:04:00,3220.6807,3220.9734,3219.4094,3219.4094,25026100.0,2.585277e+08,-1.7086,-5.304369e-04,NaN
2016-09-27 14:16:00,3219.1397,3219.5858,3218.7910,3219.5858,21235800.0,2.053626e+08,0.5733,1.780981e-04,NaN
2016-09-27 14:17:00,3219.8883,3219.8985,3219.3184,3219.8678,21641100.0,2.133155e+08,0.2820,8.758891e-05,NaN
2016-09-27 14:23:00,3220.1303,3220.2030,3219.4928,3219.9329,16209900.0,1.971631e+08,-0.1764,-5.478075e-05,NaN
2016-09-27 14:18:00,3219.9149,3220.4398,3219.8078,3220.0479,17080500.0,1.948288e+08,0.1801,5.593397e-05,NaN
2016-09-27 09:31:00,3218.7959,3220.0640,3218.5392,3220.0640,35941800.0,4.217814e+08,1.1676,3.627330e-04,NaN
2016-09-27 09:44:00,3221.1202,3221.1202,3220.0213,3220.0644,34337500.0,3.869300e+08,-0.8604,-2.671282e-04,NaN
2016-09-27 14:22:00,3219.9441,3220.2101,3219.7972,3220.1093,17389200.0,1.998045e+08,-0.3474,-1.078729e-04,NaN
2016-09-27 14:20:00,3220.5479,3220.6524,3220.1122,3220.1402,17962500.0,1.933605e+08,-0.4866,-1.510886e-04,NaN
2016-09-26 15:00:00,3220.5620,3220.5667,3220.2838,3220.2838,43916200.0,6.455140e+08,-0.0918,-2.850599e-05,NaN
2016-09-26 14:59:00,3220.5412,3220.8495,3220.3756,3220.3756,47400700.0,4.594722e+08,-0.2944,-9.140955e-05,NaN
2016-09-27 14:21:00,3220.3488,3220.9142,3220.0476,3220.4567,14995000.0,1.698189e+08,0.3165,9.828765e-05,NaN
2016-09-27 14:24:00,3220.1908,3220.6932,3219.9380,3220.5383,16445500.0,1.853719e+08,0.6054,1.880163e-04,NaN
2016-09-27 14:19:00,3220.4007,3220.6313,3220.0698,3220.6268,18413800.0,1.745770e+08,0.5789,1.797799e-04,NaN
2016-09-26 14:58:00,3221.2007,3221.2007,3220.6700,3220.6700,49570200.0,4.711924e+08,-0.1308,-4.061102e-05,NaN
2016-09-27 13:53:00,3221.0914,3221.2990,3220.4805,3220.6832,25914300.0,2.717604e+08,-0.6563,-2.037351e-04,NaN
2016-09-27 13:54:00,3220.3841,3221.1580,3220.3841,3220.6850,24838900.0,2.725369e+08,0.0018,5.588876e-07,NaN
...,...,...,...,...,...,...,...,...,...
2017-09-05 13:11:00,3861.5902,3862.0588,3861.3711,3861.8130,29928800.0,3.669132e+08,0.5629,1.457818e-04,NaN
2017-09-18 10:21:00,3862.1789,3862.3589,3861.3666,3861.9515,53802600.0,7.534283e+08,-0.0205,-5.308169e-06,NaN
2017-08-28 10:39:00,3864.8783,3864.9491,3861.7700,3861.9679,98896100.0,1.184183e+09,-3.4594,-8.949593e-04,NaN
2017-09-18 10:20:00,3859.9921,3862.0814,3859.9921,3861.9720,50036500.0,7.087499e+08,1.7359,4.496875e-04,NaN
2017-09-18 10:22:00,3862.1364,3862.2054,3861.5524,3862.0274,65551500.0,8.064321e+08,0.0759,1.965328e-05,NaN
2017-09-05 13:21:00,3863.4515,3863.6055,3862.1453,3862.1453,36430400.0,4.377020e+08,-1.5477,-4.005753e-04,NaN
2017-09-05 13:22:00,3862.4309,3862.8106,3861.9612,3862.1738,36636200.0,4.709818e+08,0.0285,7.379318e-06,NaN
2017-08-28 13:54:00,3862.4099,3862.6296,3862.0086,3862.2180,67272500.0,8.948534e+08,-0.1777,-4.600771e-05,NaN
2017-09-05 13:00:00,3860.7754,3862.3267,3860.7754,3862.3267,91551200.0,9.620839e+08,1.9235,4.982640e-04,NaN
2017-08-28 13:53:00,3862.5916,3862.7457,3862.2062,3862.3957,85835700.0,1.042376e+09,-0.3390,-8.776166e-05,NaN
2017-08-28 13:48:00,3860.8132,3862.4569,3860.6866,3862.4003,89508400.0,1.113646e+09,1.6998,4.402828e-04,NaN
2017-08-28 13:51:00,3863.7984,3864.0782,3862.5810,3862.5810,78399900.0,9.312788e+08,-1.0330,-2.673663e-04,NaN
2017-08-28 13:52:00,3862.7890,3863.1892,3862.4756,3862.7347,74230500.0,8.844077e+08,0.1537,3.979205e-05,NaN
2017-08-28 10:33:00,3862.3067,3863.0413,3862.1264,3862.8814,90188800.0,1.202312e+09,1.3416,3.474262e-04,NaN
2017-09-05 13:19:00,3864.4610,3864.8025,3863.3827,3863.3827,37684300.0,4.466742e+08,-1.2009,-3.107450e-04,NaN
2017-08-28 13:49:00,3862.4991,3863.9229,3862.3516,3863.4062,121922400.0,1.553143e+09,1.0059,2.604339e-04,NaN
2017-09-05 13:13:00,3863.7069,3863.8258,3863.1774,3863.5147,33904700.0,4.594150e+08,-0.0434,-1.123317e-05,NaN
2017-09-05 13:12:00,3861.8772,3863.5581,3861.8772,3863.5581,28999500.0,3.969917e+08,1.7451,4.518862e-04,NaN
2017-09-05 13:14:00,3863.5893,3864.0966,3863.1703,3863.5961,30662500.0,4.479051e+08,0.0814,2.106890e-05,NaN
2017-08-28 13:50:00,3863.8913,3864.5471,3863.2264,3863.6140,95635800.0,1.134858e+09,0.2078,5.378673e-05,NaN
2017-09-05 13:20:00,3863.5582,3863.7063,3862.8468,3863.6930,44329200.0,4.777459e+08,0.3103,8.031821e-05,NaN
2017-09-05 13:15:00,3863.4978,3864.4839,3863.4978,3864.1288,44460900.0,4.667168e+08,0.5327,1.378767e-04,NaN
2017-09-05 13:16:00,3864.0717,3864.4919,3863.5283,3864.4919,34640800.0,4.588450e+08,0.3631,9.396685e-05,NaN
2017-09-05 13:18:00,3864.7549,3865.1338,3864.5836,3864.5836,39638500.0,4.653417e+08,-0.2595,-6.714373e-05,NaN
2017-09-05 13:17:00,3863.9861,3864.8593,3863.9861,3864.8431,44305200.0,4.914483e+08,0.3512,9.087870e-05,NaN
2017-08-28 10:34:00,3862.6280,3865.4042,3862.6280,3865.4042,107384200.0,1.463948e+09,2.5228,6.530876e-04,NaN
2017-08-28 10:38:00,3865.7977,3866.0778,3864.9712,3865.4273,102938400.0,1.266702e+09,-0.7580,-1.960589e-04,NaN
2017-08-28 10:35:00,3865.0381,3865.7500,3864.8905,3865.7500,98781200.0,1.315564e+09,0.3458,8.946024e-05,NaN
2017-08-28 10:36:00,3865.8189,3866.3839,3865.7116,3866.1468,114118300.0,1.446951e+09,0.3968,1.026450e-04,NaN
2017-08-28 10:37:00,3865.8809,3866.6107,3865.8809,3866.1853,108736000.0,1.371157e+09,0.0385,9.958235e-06,NaN

In [55]:
df.open

2016-09-19 09:25:00    3242.7429
2016-09-19 09:30:00    3244.9179
2016-09-19 09:31:00    3251.4466
2016-09-19 09:32:00    3251.6165
2016-09-19 09:33:00    3251.6593
2016-09-19 09:34:00    3253.6156
2016-09-19 09:35:00    3254.9108
2016-09-19 09:36:00    3255.4711
2016-09-19 09:37:00    3255.5590
2016-09-19 09:38:00    3255.3638
2016-09-19 09:39:00    3255.2041
2016-09-19 09:40:00    3254.8040
2016-09-19 09:41:00    3254.7289
2016-09-19 09:42:00    3256.6741
2016-09-19 09:43:00    3258.6914
2016-09-19 09:44:00    3260.2773
2016-09-19 09:45:00    3260.5419
2016-09-19 09:46:00    3260.7217
2016-09-19 09:47:00    3261.2444
2016-09-19 09:48:00    3260.9533
2016-09-19 09:49:00    3260.3683
2016-09-19 09:50:00    3260.0533
2016-09-19 09:51:00    3260.7026
2016-09-19 09:52:00    3261.6575
2016-09-19 09:53:00    3261.8497
2016-09-19 09:54:00    3261.7413
2016-09-19 09:55:00    3260.9977
2016-09-19 09:56:00    3260.5607
2016-09-19 09:57:00    3260.0280
2016-09-19 09:58:00    3259.8069
                         ...
2017-09-19 14:31:00    3826.8750
2017-09-19 14:32:00    3827.9112
2017-09-19 14:33:00    3826.8164
2017-09-19 14:34:00    3825.5212
2017-09-19 14:35:00    3822.6009
2017-09-19 14:36:00    3820.8507
2017-09-19 14:37:00    3821.1137
2017-09-19 14:38:00    3824.7203
2017-09-19 14:39:00    3827.9280
2017-09-19 14:40:00    3827.9550
2017-09-19 14:41:00    3827.9465
2017-09-19 14:42:00    3827.6889
2017-09-19 14:43:00    3827.5994
2017-09-19 14:44:00    3827.7569
2017-09-19 14:45:00    3827.1923
2017-09-19 14:46:00    3827.2563
2017-09-19 14:47:00    3826.5675
2017-09-19 14:48:00    3826.6568
2017-09-19 14:49:00    3826.0433
2017-09-19 14:50:00    3826.0509
2017-09-19 14:51:00    3825.1266
2017-09-19 14:52:00    3824.3932
2017-09-19 14:53:00    3825.8436
2017-09-19 14:54:00    3828.1627
2017-09-19 14:55:00    3829.7400
2017-09-19 14:56:00    3830.9961
2017-09-19 14:57:00    3831.2846
2017-09-19 14:58:00    3831.5150
2017-09-19 14:59:00    3831.9768
2017-09-19 15:00:00    3831.8189
Name: open, Length: 59532, dtype: float64

In [56]:
df[0:3]

,open,high,low,close,volume,amount,change,pctchange,position
2016-09-19 09:25:00,3242.7429,3242.7429,3242.7429,3242.7429,37406200.0,400912000.0,0.0000,0.000000,NaN
2016-09-19 09:30:00,3244.9179,3251.5510,3244.9179,3251.4453,80596900.0,898956000.0,8.7024,0.002684,NaN
2016-09-19 09:31:00,3251.4466,3251.6266,3251.2060,3251.4502,51349900.0,641103500.0,0.0049,0.000002,NaN

In [57]:
df[0:4]

,open,high,low,close,volume,amount,change,pctchange,position
2016-09-19 09:25:00,3242.7429,3242.7429,3242.7429,3242.7429,37406200.0,400912000.0,0.0000,0.000000,NaN
2016-09-19 09:30:00,3244.9179,3251.5510,3244.9179,3251.4453,80596900.0,898956000.0,8.7024,0.002684,NaN
2016-09-19 09:31:00,3251.4466,3251.6266,3251.2060,3251.4502,51349900.0,641103500.0,0.0049,0.000002,NaN
2016-09-19 09:32:00,3251.6165,3251.7149,3251.1520,3251.7149,51651000.0,653459400.0,0.2647,0.000081,NaN

In [62]:
df2 = df[['open','close']]

In [64]:
df2

                          open      close
2016-09-19 09:25:00  3242.7429  3242.7429
2016-09-19 09:30:00  3244.9179  3251.4453
2016-09-19 09:31:00  3251.4466  3251.4502
2016-09-19 09:32:00  3251.6165  3251.7149
2016-09-19 09:33:00  3251.6593  3253.6156
2016-09-19 09:34:00  3253.6156  3254.9003
2016-09-19 09:35:00  3254.9108  3255.2976
2016-09-19 09:36:00  3255.4711  3255.2768
2016-09-19 09:37:00  3255.5590  3255.2361
2016-09-19 09:38:00  3255.3638  3255.0695
2016-09-19 09:39:00  3255.2041  3254.6357
2016-09-19 09:40:00  3254.8040  3254.9349
2016-09-19 09:41:00  3254.7289  3256.6529
2016-09-19 09:42:00  3256.6741  3258.3527
2016-09-19 09:43:00  3258.6914  3260.2415
2016-09-19 09:44:00  3260.2773  3260.7478
2016-09-19 09:45:00  3260.5419  3260.8926
2016-09-19 09:46:00  3260.7217  3261.1844
2016-09-19 09:47:00  3261.2444  3260.9904
2016-09-19 09:48:00  3260.9533  3260.8078
2016-09-19 09:49:00  3260.3683  3260.0064
2016-09-19 09:50:00  3260.0533  3260.3703
2016-09-19 09:51:00  3260.7026  3261.5062
2016-09-19 09:52:00  3261.6575  3262.0725
2016-09-19 09:53:00  3261.8497  3261.2550
2016-09-19 09:54:00  3261.7413  3261.1653
2016-09-19 09:55:00  3260.9977  3260.5118
2016-09-19 09:56:00  3260.5607  3260.2533
2016-09-19 09:57:00  3260.0280  3259.7699
2016-09-19 09:58:00  3259.8069  3258.6488
...                        ...        ...
2017-09-19 14:31:00  3826.8750  3827.8895
2017-09-19 14:32:00  3827.9112  3826.7571
2017-09-19 14:33:00  3826.8164  3825.1006
2017-09-19 14:34:00  3825.5212  3822.6790
2017-09-19 14:35:00  3822.6009  3820.4550
2017-09-19 14:36:00  3820.8507  3821.0720
2017-09-19 14:37:00  3821.1137  3824.4657
2017-09-19 14:38:00  3824.7203  3828.0240
2017-09-19 14:39:00  3827.9280  3827.9779
2017-09-19 14:40:00  3827.9550  3827.8727
2017-09-19 14:41:00  3827.9465  3827.6474
2017-09-19 14:42:00  3827.6889  3827.7826
2017-09-19 14:43:00  3827.5994  3827.5871
2017-09-19 14:44:00  3827.7569  3827.5535
2017-09-19 14:45:00  3827.1923  3827.2487
2017-09-19 14:46:00  3827.2563  3826.7708
2017-09-19 14:47:00  3826.5675  3826.7365
2017-09-19 14:48:00  3826.6568  3826.1602
2017-09-19 14:49:00  3826.0433  3825.9948
2017-09-19 14:50:00  3826.0509  3825.4865
2017-09-19 14:51:00  3825.1266  3824.0247
2017-09-19 14:52:00  3824.3932  3825.5093
2017-09-19 14:53:00  3825.8436  3828.0311
2017-09-19 14:54:00  3828.1627  3830.0215
2017-09-19 14:55:00  3829.7400  3831.0175
2017-09-19 14:56:00  3830.9961  3831.5840
2017-09-19 14:57:00  3831.2846  3831.3748
2017-09-19 14:58:00  3831.5150  3831.9226
2017-09-19 14:59:00  3831.9768  3831.2619
2017-09-19 15:00:00  3831.8189  3832.1161

[59532 rows x 2 columns]

In [66]:
df2.sort_values(by='open',ascending =True)

                          open      close
2016-09-27 09:25:00  3214.8704  3214.8704
2016-09-27 09:30:00  3216.2375  3218.8964
2016-09-27 14:12:00  3216.3389  3217.2223
2016-09-27 14:11:00  3216.5567  3216.3842
2016-09-27 14:08:00  3216.6505  3217.1594
2016-09-27 14:09:00  3217.2408  3217.0005
2016-09-27 14:10:00  3217.2486  3216.6094
2016-09-27 14:07:00  3217.4870  3216.4240
2016-09-27 14:13:00  3217.7322  3218.4818
2016-09-27 14:06:00  3218.2682  3217.7472
2016-09-27 14:14:00  3218.5872  3218.5215
2016-09-27 14:15:00  3218.6948  3219.0125
2016-09-27 09:31:00  3218.7959  3220.0640
2016-09-27 14:16:00  3219.1397  3219.5858
2016-09-27 14:05:00  3219.4190  3218.3899
2016-09-27 14:17:00  3219.8883  3219.8678
2016-09-27 14:18:00  3219.9149  3220.0479
2016-09-27 14:22:00  3219.9441  3220.1093
2016-09-27 14:23:00  3220.1303  3219.9329
2016-09-27 14:24:00  3220.1908  3220.5383
2016-09-27 14:21:00  3220.3488  3220.4567
2016-09-27 13:54:00  3220.3841  3220.6850
2016-09-27 14:19:00  3220.4007  3220.6268
2016-09-27 09:45:00  3220.5068  3221.8406
2016-09-27 13:55:00  3220.5338  3222.2677
2016-09-26 14:59:00  3220.5412  3220.3756
2016-09-27 14:20:00  3220.5479  3220.1402
2016-09-26 15:00:00  3220.5620  3220.2838
2016-09-27 14:04:00  3220.6807  3219.4094
2016-09-27 14:25:00  3220.8381  3222.2851
...                        ...        ...
2017-09-05 13:12:00  3861.8772  3863.5581
2017-09-05 13:24:00  3861.9732  3861.5120
2017-09-18 10:23:00  3862.1018  3860.7084
2017-09-18 10:22:00  3862.1364  3862.0274
2017-09-18 10:21:00  3862.1789  3861.9515
2017-08-28 10:33:00  3862.3067  3862.8814
2017-08-28 13:54:00  3862.4099  3862.2180
2017-09-05 13:01:00  3862.4138  3861.6299
2017-09-05 13:22:00  3862.4309  3862.1738
2017-08-28 13:49:00  3862.4991  3863.4062
2017-09-05 13:23:00  3862.5754  3861.8043
2017-08-28 13:53:00  3862.5916  3862.3957
2017-08-28 10:34:00  3862.6280  3865.4042
2017-08-28 13:52:00  3862.7890  3862.7347
2017-09-05 13:21:00  3863.4515  3862.1453
2017-09-05 13:15:00  3863.4978  3864.1288
2017-09-05 13:20:00  3863.5582  3863.6930
2017-09-05 13:14:00  3863.5893  3863.5961
2017-09-05 13:13:00  3863.7069  3863.5147
2017-08-28 13:51:00  3863.7984  3862.5810
2017-08-28 13:50:00  3863.8913  3863.6140
2017-09-05 13:17:00  3863.9861  3864.8431
2017-09-05 13:16:00  3864.0717  3864.4919
2017-09-05 13:19:00  3864.4610  3863.3827
2017-09-05 13:18:00  3864.7549  3864.5836
2017-08-28 10:39:00  3864.8783  3861.9679
2017-08-28 10:35:00  3865.0381  3865.7500
2017-08-28 10:38:00  3865.7977  3865.4273
2017-08-28 10:36:00  3865.8189  3866.1468
2017-08-28 10:37:00  3865.8809  3866.1853

[59532 rows x 2 columns]

In [68]:
df.loc['2017-09-15','open']

2017-09-15 09:25:00    3826.1448
2017-09-15 09:30:00    3825.8666
2017-09-15 09:31:00    3825.0042
2017-09-15 09:32:00    3824.5749
2017-09-15 09:33:00    3824.7283
2017-09-15 09:34:00    3826.7333
2017-09-15 09:35:00    3825.7715
2017-09-15 09:36:00    3823.1436
2017-09-15 09:37:00    3821.2917
2017-09-15 09:38:00    3818.9988
2017-09-15 09:39:00    3820.2401
2017-09-15 09:40:00    3822.6889
2017-09-15 09:41:00    3823.2596
2017-09-15 09:42:00    3823.1064
2017-09-15 09:43:00    3823.9911
2017-09-15 09:44:00    3825.1091
2017-09-15 09:45:00    3827.4934
2017-09-15 09:46:00    3828.2597
2017-09-15 09:47:00    3829.0036
2017-09-15 09:48:00    3829.1294
2017-09-15 09:49:00    3828.3282
2017-09-15 09:50:00    3827.1627
2017-09-15 09:51:00    3825.2799
2017-09-15 09:52:00    3824.4379
2017-09-15 09:53:00    3822.8087
2017-09-15 09:54:00    3820.9590
2017-09-15 09:55:00    3819.9389
2017-09-15 09:56:00    3819.5619
2017-09-15 09:57:00    3820.7033
2017-09-15 09:58:00    3822.1621
                         ...
2017-09-15 14:31:00    3830.4886
2017-09-15 14:32:00    3828.3669
2017-09-15 14:33:00    3827.4858
2017-09-15 14:34:00    3826.4197
2017-09-15 14:35:00    3825.5644
2017-09-15 14:36:00    3825.3633
2017-09-15 14:37:00    3824.4806
2017-09-15 14:38:00    3824.1127
2017-09-15 14:39:00    3823.0580
2017-09-15 14:40:00    3823.6757
2017-09-15 14:41:00    3826.8309
2017-09-15 14:42:00    3829.6821
2017-09-15 14:43:00    3830.2746
2017-09-15 14:44:00    3830.7938
2017-09-15 14:45:00    3831.2205
2017-09-15 14:46:00    3831.5992
2017-09-15 14:47:00    3832.2502
2017-09-15 14:48:00    3832.5340
2017-09-15 14:49:00    3832.5741
2017-09-15 14:50:00    3832.5738
2017-09-15 14:51:00    3832.4981
2017-09-15 14:52:00    3832.6640
2017-09-15 14:53:00    3832.2006
2017-09-15 14:54:00    3832.4583
2017-09-15 14:55:00    3832.3938
2017-09-15 14:56:00    3832.3764
2017-09-15 14:57:00    3832.4995
2017-09-15 14:58:00    3832.1362
2017-09-15 14:59:00    3831.7439
2017-09-15 15:00:00    3831.6141
Name: open, Length: 242, dtype: float64

In [72]:
df.loc['2017-09-15','low']

2017-09-15 09:25:00    3826.1448
2017-09-15 09:30:00    3825.2190
2017-09-15 09:31:00    3824.5911
2017-09-15 09:32:00    3823.9940
2017-09-15 09:33:00    3824.6906
2017-09-15 09:34:00    3825.4418
2017-09-15 09:35:00    3823.4533
2017-09-15 09:36:00    3820.9509
2017-09-15 09:37:00    3818.7724
2017-09-15 09:38:00    3818.5965
2017-09-15 09:39:00    3820.2401
2017-09-15 09:40:00    3822.3350
2017-09-15 09:41:00    3822.7249
2017-09-15 09:42:00    3823.0606
2017-09-15 09:43:00    3823.9911
2017-09-15 09:44:00    3825.1091
2017-09-15 09:45:00    3827.2597
2017-09-15 09:46:00    3828.2597
2017-09-15 09:47:00    3828.8457
2017-09-15 09:48:00    3828.3832
2017-09-15 09:49:00    3826.9026
2017-09-15 09:50:00    3825.1797
2017-09-15 09:51:00    3824.3963
2017-09-15 09:52:00    3822.6993
2017-09-15 09:53:00    3820.9186
2017-09-15 09:54:00    3819.6521
2017-09-15 09:55:00    3818.8006
2017-09-15 09:56:00    3819.0098
2017-09-15 09:57:00    3820.4139
2017-09-15 09:58:00    3821.3806
                         ...
2017-09-15 14:31:00    3828.7225
2017-09-15 14:32:00    3827.5121
2017-09-15 14:33:00    3826.2795
2017-09-15 14:34:00    3825.4165
2017-09-15 14:35:00    3825.0319
2017-09-15 14:36:00    3824.4755
2017-09-15 14:37:00    3824.0743
2017-09-15 14:38:00    3822.8552
2017-09-15 14:39:00    3822.4764
2017-09-15 14:40:00    3823.6757
2017-09-15 14:41:00    3826.8309
2017-09-15 14:42:00    3829.3477
2017-09-15 14:43:00    3830.1843
2017-09-15 14:44:00    3830.6462
2017-09-15 14:45:00    3830.7438
2017-09-15 14:46:00    3831.5992
2017-09-15 14:47:00    3831.8827
2017-09-15 14:48:00    3832.3320
2017-09-15 14:49:00    3832.2131
2017-09-15 14:50:00    3832.3701
2017-09-15 14:51:00    3832.0890
2017-09-15 14:52:00    3832.0451
2017-09-15 14:53:00    3831.7042
2017-09-15 14:54:00    3832.1526
2017-09-15 14:55:00    3831.9841
2017-09-15 14:56:00    3832.0979
2017-09-15 14:57:00    3831.9712
2017-09-15 14:58:00    3832.0499
2017-09-15 14:59:00    3831.0965
2017-09-15 15:00:00    3831.2965
Name: low, Length: 242, dtype: float64

In [73]:
df.loc['2017-09-01':'2017-09-20','open']

2017-09-01 09:25:00    3825.3392
2017-09-01 09:30:00    3827.3844
2017-09-01 09:31:00    3828.5326
2017-09-01 09:32:00    3828.2497
2017-09-01 09:33:00    3829.7007
2017-09-01 09:34:00    3830.5098
2017-09-01 09:35:00    3831.1039
2017-09-01 09:36:00    3834.3807
2017-09-01 09:37:00    3835.8601
2017-09-01 09:38:00    3834.6905
2017-09-01 09:39:00    3836.6907
2017-09-01 09:40:00    3838.0691
2017-09-01 09:41:00    3837.2323
2017-09-01 09:42:00    3837.4535
2017-09-01 09:43:00    3836.8008
2017-09-01 09:44:00    3837.0729
2017-09-01 09:45:00    3838.1655
2017-09-01 09:46:00    3839.0099
2017-09-01 09:47:00    3839.9028
2017-09-01 09:48:00    3837.9147
2017-09-01 09:49:00    3837.0480
2017-09-01 09:50:00    3835.4756
2017-09-01 09:51:00    3834.5298
2017-09-01 09:52:00    3835.2085
2017-09-01 09:53:00    3836.0753
2017-09-01 09:54:00    3835.0808
2017-09-01 09:55:00    3835.8890
2017-09-01 09:56:00    3836.8028
2017-09-01 09:57:00    3837.1868
2017-09-01 09:58:00    3836.7928
                         ...
2017-09-19 14:31:00    3826.8750
2017-09-19 14:32:00    3827.9112
2017-09-19 14:33:00    3826.8164
2017-09-19 14:34:00    3825.5212
2017-09-19 14:35:00    3822.6009
2017-09-19 14:36:00    3820.8507
2017-09-19 14:37:00    3821.1137
2017-09-19 14:38:00    3824.7203
2017-09-19 14:39:00    3827.9280
2017-09-19 14:40:00    3827.9550
2017-09-19 14:41:00    3827.9465
2017-09-19 14:42:00    3827.6889
2017-09-19 14:43:00    3827.5994
2017-09-19 14:44:00    3827.7569
2017-09-19 14:45:00    3827.1923
2017-09-19 14:46:00    3827.2563
2017-09-19 14:47:00    3826.5675
2017-09-19 14:48:00    3826.6568
2017-09-19 14:49:00    3826.0433
2017-09-19 14:50:00    3826.0509
2017-09-19 14:51:00    3825.1266
2017-09-19 14:52:00    3824.3932
2017-09-19 14:53:00    3825.8436
2017-09-19 14:54:00    3828.1627
2017-09-19 14:55:00    3829.7400
2017-09-19 14:56:00    3830.9961
2017-09-19 14:57:00    3831.2846
2017-09-19 14:58:00    3831.5150
2017-09-19 14:59:00    3831.9768
2017-09-19 15:00:00    3831.8189
Name: open, Length: 3146, dtype: float64

In [84]:
df.ix['2017-09-10':'2017-09-15','close']

2017-09-11 09:25:00    3828.3422
2017-09-11 09:30:00    3829.2499
2017-09-11 09:31:00    3826.7397
2017-09-11 09:32:00    3825.6751
2017-09-11 09:33:00    3826.2348
2017-09-11 09:34:00    3825.2607
2017-09-11 09:35:00    3824.3770
2017-09-11 09:36:00    3823.1162
2017-09-11 09:37:00    3821.9651
2017-09-11 09:38:00    3821.5072
2017-09-11 09:39:00    3821.5662
2017-09-11 09:40:00    3824.6716
2017-09-11 09:41:00    3827.1637
2017-09-11 09:42:00    3830.4085
2017-09-11 09:43:00    3832.0970
2017-09-11 09:44:00    3834.2797
2017-09-11 09:45:00    3834.9904
2017-09-11 09:46:00    3836.5572
2017-09-11 09:47:00    3836.2682
2017-09-11 09:48:00    3838.8722
2017-09-11 09:49:00    3840.9263
2017-09-11 09:50:00    3840.1319
2017-09-11 09:51:00    3838.6211
2017-09-11 09:52:00    3837.0884
2017-09-11 09:53:00    3836.3088
2017-09-11 09:54:00    3836.2289
2017-09-11 09:55:00    3835.9272
2017-09-11 09:56:00    3835.3643
2017-09-11 09:57:00    3834.6697
2017-09-11 09:58:00    3834.2268
                         ...
2017-09-15 14:31:00    3829.0215
2017-09-15 14:32:00    3827.5202
2017-09-15 14:33:00    3826.2795
2017-09-15 14:34:00    3825.8023
2017-09-15 14:35:00    3825.2779
2017-09-15 14:36:00    3824.9662
2017-09-15 14:37:00    3824.1208
2017-09-15 14:38:00    3822.8552
2017-09-15 14:39:00    3823.1294
2017-09-15 14:40:00    3825.6961
2017-09-15 14:41:00    3829.1677
2017-09-15 14:42:00    3830.6875
2017-09-15 14:43:00    3830.8585
2017-09-15 14:44:00    3831.1772
2017-09-15 14:45:00    3831.4525
2017-09-15 14:46:00    3831.8826
2017-09-15 14:47:00    3832.3124
2017-09-15 14:48:00    3832.6251
2017-09-15 14:49:00    3832.6333
2017-09-15 14:50:00    3833.0413
2017-09-15 14:51:00    3832.0890
2017-09-15 14:52:00    3832.5115
2017-09-15 14:53:00    3832.1913
2017-09-15 14:54:00    3832.3072
2017-09-15 14:55:00    3832.0974
2017-09-15 14:56:00    3832.5941
2017-09-15 14:57:00    3832.2829
2017-09-15 14:58:00    3832.1944
2017-09-15 14:59:00    3832.0341
2017-09-15 15:00:00    3831.2965
Name: close, Length: 1210, dtype: float64

In [85]:
df2

                          open      close
2016-09-19 09:25:00  3242.7429  3242.7429
2016-09-19 09:30:00  3244.9179  3251.4453
2016-09-19 09:31:00  3251.4466  3251.4502
2016-09-19 09:32:00  3251.6165  3251.7149
2016-09-19 09:33:00  3251.6593  3253.6156
2016-09-19 09:34:00  3253.6156  3254.9003
2016-09-19 09:35:00  3254.9108  3255.2976
2016-09-19 09:36:00  3255.4711  3255.2768
2016-09-19 09:37:00  3255.5590  3255.2361
2016-09-19 09:38:00  3255.3638  3255.0695
2016-09-19 09:39:00  3255.2041  3254.6357
2016-09-19 09:40:00  3254.8040  3254.9349
2016-09-19 09:41:00  3254.7289  3256.6529
2016-09-19 09:42:00  3256.6741  3258.3527
2016-09-19 09:43:00  3258.6914  3260.2415
2016-09-19 09:44:00  3260.2773  3260.7478
2016-09-19 09:45:00  3260.5419  3260.8926
2016-09-19 09:46:00  3260.7217  3261.1844
2016-09-19 09:47:00  3261.2444  3260.9904
2016-09-19 09:48:00  3260.9533  3260.8078
2016-09-19 09:49:00  3260.3683  3260.0064
2016-09-19 09:50:00  3260.0533  3260.3703
2016-09-19 09:51:00  3260.7026  3261.5062
2016-09-19 09:52:00  3261.6575  3262.0725
2016-09-19 09:53:00  3261.8497  3261.2550
2016-09-19 09:54:00  3261.7413  3261.1653
2016-09-19 09:55:00  3260.9977  3260.5118
2016-09-19 09:56:00  3260.5607  3260.2533
2016-09-19 09:57:00  3260.0280  3259.7699
2016-09-19 09:58:00  3259.8069  3258.6488
...                        ...        ...
2017-09-19 14:31:00  3826.8750  3827.8895
2017-09-19 14:32:00  3827.9112  3826.7571
2017-09-19 14:33:00  3826.8164  3825.1006
2017-09-19 14:34:00  3825.5212  3822.6790
2017-09-19 14:35:00  3822.6009  3820.4550
2017-09-19 14:36:00  3820.8507  3821.0720
2017-09-19 14:37:00  3821.1137  3824.4657
2017-09-19 14:38:00  3824.7203  3828.0240
2017-09-19 14:39:00  3827.9280  3827.9779
2017-09-19 14:40:00  3827.9550  3827.8727
2017-09-19 14:41:00  3827.9465  3827.6474
2017-09-19 14:42:00  3827.6889  3827.7826
2017-09-19 14:43:00  3827.5994  3827.5871
2017-09-19 14:44:00  3827.7569  3827.5535
2017-09-19 14:45:00  3827.1923  3827.2487
2017-09-19 14:46:00  3827.2563  3826.7708
2017-09-19 14:47:00  3826.5675  3826.7365
2017-09-19 14:48:00  3826.6568  3826.1602
2017-09-19 14:49:00  3826.0433  3825.9948
2017-09-19 14:50:00  3826.0509  3825.4865
2017-09-19 14:51:00  3825.1266  3824.0247
2017-09-19 14:52:00  3824.3932  3825.5093
2017-09-19 14:53:00  3825.8436  3828.0311
2017-09-19 14:54:00  3828.1627  3830.0215
2017-09-19 14:55:00  3829.7400  3831.0175
2017-09-19 14:56:00  3830.9961  3831.5840
2017-09-19 14:57:00  3831.2846  3831.3748
2017-09-19 14:58:00  3831.5150  3831.9226
2017-09-19 14:59:00  3831.9768  3831.2619
2017-09-19 15:00:00  3831.8189  3832.1161

[59532 rows x 2 columns]

In [87]:
df2[df2.open>=df.high]

                          open      close
2016-09-19 09:25:00  3242.7429  3242.7429
2016-09-19 09:48:00  3260.9533  3260.8078
2016-09-19 10:22:00  3262.6892  3262.4045
2016-09-19 10:26:00  3261.1399  3260.8969
2016-09-19 10:31:00  3260.4264  3259.9712
2016-09-19 10:35:00  3259.8377  3259.6428
2016-09-19 10:46:00  3259.8357  3259.2918
2016-09-19 10:55:00  3257.2735  3257.2415
2016-09-19 11:06:00  3258.0605  3257.6332
2016-09-19 11:08:00  3257.5562  3257.3950
2016-09-19 11:10:00  3257.3282  3257.1552
2016-09-19 11:14:00  3257.6206  3257.5634
2016-09-19 13:02:00  3261.5425  3260.4610
2016-09-19 13:04:00  3261.0159  3260.5571
2016-09-19 13:07:00  3261.2616  3260.6106
2016-09-19 13:13:00  3261.3107  3261.2773
2016-09-19 13:16:00  3262.3213  3262.0331
2016-09-19 13:25:00  3262.2262  3261.9223
2016-09-19 14:03:00  3256.7373  3256.1404
2016-09-19 14:04:00  3256.6963  3255.7764
2016-09-19 14:07:00  3255.5609  3255.0669
2016-09-19 14:38:00  3261.7433  3261.6646
2016-09-19 14:40:00  3261.8338  3261.4884
2016-09-19 14:42:00  3261.1866  3260.9652
2016-09-20 09:25:00  3264.6649  3264.6649
2016-09-20 09:30:00  3265.0353  3263.5474
2016-09-20 09:31:00  3262.9223  3261.7552
2016-09-20 09:32:00  3261.2996  3260.0624
2016-09-20 09:52:00  3261.5269  3260.2117
2016-09-20 10:01:00  3257.4367  3256.9086
...                        ...        ...
2017-09-19 10:34:00  3843.6528  3843.0530
2017-09-19 10:43:00  3847.4117  3846.2699
2017-09-19 10:49:00  3845.3919  3844.5924
2017-09-19 10:50:00  3844.9625  3844.0840
2017-09-19 10:54:00  3842.9524  3841.8966
2017-09-19 10:55:00  3841.6750  3841.1102
2017-09-19 10:56:00  3841.2704  3840.2702
2017-09-19 11:01:00  3840.9780  3840.7568
2017-09-19 11:18:00  3840.6254  3839.7433
2017-09-19 11:19:00  3839.4985  3838.5086
2017-09-19 11:21:00  3837.0040  3835.6710
2017-09-19 11:26:00  3836.0555  3835.5629
2017-09-19 13:04:00  3835.7252  3835.5265
2017-09-19 13:05:00  3835.8049  3835.3664
2017-09-19 13:08:00  3835.3113  3835.2062
2017-09-19 13:18:00  3835.5341  3834.5789
2017-09-19 13:22:00  3832.2566  3831.9993
2017-09-19 13:25:00  3833.0543  3832.7201
2017-09-19 13:43:00  3839.7232  3839.5527
2017-09-19 14:08:00  3844.2347  3843.1535
2017-09-19 14:11:00  3841.7015  3841.5058
2017-09-19 14:20:00  3835.8429  3834.6996
2017-09-19 14:21:00  3835.0353  3834.5674
2017-09-19 14:22:00  3835.0227  3834.5156
2017-09-19 14:25:00  3833.4772  3830.3942
2017-09-19 14:26:00  3830.4356  3827.7910
2017-09-19 14:33:00  3826.8164  3825.1006
2017-09-19 14:34:00  3825.5212  3822.6790
2017-09-19 14:50:00  3826.0509  3825.4865
2017-09-19 14:59:00  3831.9768  3831.2619

[9140 rows x 2 columns]

In [89]:
df2[(df2.open>=df.high)&(df2.close>=df.low)]

                          open      close
2016-09-19 09:25:00  3242.7429  3242.7429
2016-09-19 09:48:00  3260.9533  3260.8078
2016-09-19 10:22:00  3262.6892  3262.4045
2016-09-19 10:26:00  3261.1399  3260.8969
2016-09-19 10:31:00  3260.4264  3259.9712
2016-09-19 10:35:00  3259.8377  3259.6428
2016-09-19 10:46:00  3259.8357  3259.2918
2016-09-19 10:55:00  3257.2735  3257.2415
2016-09-19 11:06:00  3258.0605  3257.6332
2016-09-19 11:08:00  3257.5562  3257.3950
2016-09-19 11:10:00  3257.3282  3257.1552
2016-09-19 11:14:00  3257.6206  3257.5634
2016-09-19 13:02:00  3261.5425  3260.4610
2016-09-19 13:04:00  3261.0159  3260.5571
2016-09-19 13:07:00  3261.2616  3260.6106
2016-09-19 13:13:00  3261.3107  3261.2773
2016-09-19 13:16:00  3262.3213  3262.0331
2016-09-19 13:25:00  3262.2262  3261.9223
2016-09-19 14:03:00  3256.7373  3256.1404
2016-09-19 14:04:00  3256.6963  3255.7764
2016-09-19 14:07:00  3255.5609  3255.0669
2016-09-19 14:38:00  3261.7433  3261.6646
2016-09-19 14:40:00  3261.8338  3261.4884
2016-09-19 14:42:00  3261.1866  3260.9652
2016-09-20 09:25:00  3264.6649  3264.6649
2016-09-20 09:30:00  3265.0353  3263.5474
2016-09-20 09:31:00  3262.9223  3261.7552
2016-09-20 09:32:00  3261.2996  3260.0624
2016-09-20 09:52:00  3261.5269  3260.2117
2016-09-20 10:01:00  3257.4367  3256.9086
...                        ...        ...
2017-09-19 10:34:00  3843.6528  3843.0530
2017-09-19 10:43:00  3847.4117  3846.2699
2017-09-19 10:49:00  3845.3919  3844.5924
2017-09-19 10:50:00  3844.9625  3844.0840
2017-09-19 10:54:00  3842.9524  3841.8966
2017-09-19 10:55:00  3841.6750  3841.1102
2017-09-19 10:56:00  3841.2704  3840.2702
2017-09-19 11:01:00  3840.9780  3840.7568
2017-09-19 11:18:00  3840.6254  3839.7433
2017-09-19 11:19:00  3839.4985  3838.5086
2017-09-19 11:21:00  3837.0040  3835.6710
2017-09-19 11:26:00  3836.0555  3835.5629
2017-09-19 13:04:00  3835.7252  3835.5265
2017-09-19 13:05:00  3835.8049  3835.3664
2017-09-19 13:08:00  3835.3113  3835.2062
2017-09-19 13:18:00  3835.5341  3834.5789
2017-09-19 13:22:00  3832.2566  3831.9993
2017-09-19 13:25:00  3833.0543  3832.7201
2017-09-19 13:43:00  3839.7232  3839.5527
2017-09-19 14:08:00  3844.2347  3843.1535
2017-09-19 14:11:00  3841.7015  3841.5058
2017-09-19 14:20:00  3835.8429  3834.6996
2017-09-19 14:21:00  3835.0353  3834.5674
2017-09-19 14:22:00  3835.0227  3834.5156
2017-09-19 14:25:00  3833.4772  3830.3942
2017-09-19 14:26:00  3830.4356  3827.7910
2017-09-19 14:33:00  3826.8164  3825.1006
2017-09-19 14:34:00  3825.5212  3822.6790
2017-09-19 14:50:00  3826.0509  3825.4865
2017-09-19 14:59:00  3831.9768  3831.2619

[9140 rows x 2 columns]

In [94]:
df

,open,high,low,close,volume,amount,change,pctchange,position
2016-09-19 09:25:00,3242.7429,3242.7429,3242.7429,3242.7429,0.0,0.0,0.0000,0.000000,NaN
2016-09-19 09:30:00,3244.9179,3251.5510,3244.9179,3251.4453,0.0,0.0,8.7024,0.002684,NaN
2016-09-19 09:31:00,3251.4466,3251.6266,3251.2060,3251.4502,0.0,0.0,0.0049,0.000002,NaN
2016-09-19 09:32:00,3251.6165,3251.7149,3251.1520,3251.7149,0.0,0.0,0.2647,0.000081,NaN
2016-09-19 09:33:00,3251.6593,3253.6156,3251.6370,3253.6156,0.0,0.0,1.9007,0.000585,NaN
2016-09-19 09:34:00,3253.6156,3254.9662,3253.6156,3254.9003,0.0,0.0,1.2847,0.000395,NaN
2016-09-19 09:35:00,3254.9108,3255.7021,3254.8418,3255.2976,0.0,0.0,0.3973,0.000122,NaN
2016-09-19 09:36:00,3255.4711,3255.8637,3255.2372,3255.2768,0.0,0.0,-0.0208,-0.000006,NaN
2016-09-19 09:37:00,3255.5590,3255.6562,3255.1441,3255.2361,0.0,0.0,-0.0407,-0.000013,NaN
2016-09-19 09:38:00,3255.3638,3255.5602,3254.4854,3255.0695,0.0,0.0,-0.1666,-0.000051,NaN
2016-09-19 09:39:00,3255.2041,3255.2276,3254.5051,3254.6357,0.0,0.0,-0.4338,-0.000133,NaN
2016-09-19 09:40:00,3254.8040,3255.0506,3254.5526,3254.9349,0.0,0.0,0.2992,0.000092,NaN
2016-09-19 09:41:00,3254.7289,3256.6529,3254.7289,3256.6529,0.0,0.0,1.7180,0.000528,NaN
2016-09-19 09:42:00,3256.6741,3258.3527,3256.6741,3258.3527,0.0,0.0,1.6998,0.000522,NaN
2016-09-19 09:43:00,3258.6914,3260.2415,3258.6914,3260.2415,0.0,0.0,1.8888,0.000580,NaN
2016-09-19 09:44:00,3260.2773,3260.7478,3259.7951,3260.7478,0.0,0.0,0.5063,0.000155,NaN
2016-09-19 09:45:00,3260.5419,3260.9832,3260.5114,3260.8926,0.0,0.0,0.1448,0.000044,NaN
2016-09-19 09:46:00,3260.7217,3261.2899,3260.7217,3261.1844,0.0,0.0,0.2918,0.000089,NaN
2016-09-19 09:47:00,3261.2444,3261.3129,3260.9128,3260.9904,0.0,0.0,-0.1940,-0.000059,NaN
2016-09-19 09:48:00,3260.9533,3260.9533,3259.9172,3260.8078,0.0,0.0,-0.1826,-0.000056,NaN
2016-09-19 09:49:00,3260.3683,3260.5386,3260.0064,3260.0064,0.0,0.0,-0.8014,-0.000246,NaN
2016-09-19 09:50:00,3260.0533,3260.6053,3260.0533,3260.3703,0.0,0.0,0.3639,0.000112,NaN
2016-09-19 09:51:00,3260.7026,3261.5637,3260.5818,3261.5062,0.0,0.0,1.1359,0.000348,NaN
2016-09-19 09:52:00,3261.6575,3262.1068,3261.1595,3262.0725,0.0,0.0,0.5663,0.000174,NaN
2016-09-19 09:53:00,3261.8497,3262.3389,3261.2172,3261.2550,0.0,0.0,-0.8175,-0.000251,NaN
2016-09-19 09:54:00,3261.7413,3262.0110,3260.8569,3261.1653,0.0,0.0,-0.0897,-0.000028,NaN
2016-09-19 09:55:00,3260.9977,3261.3453,3260.5118,3260.5118,0.0,0.0,-0.6535,-0.000200,NaN
2016-09-19 09:56:00,3260.5607,3260.7117,3260.0421,3260.2533,0.0,0.0,-0.2585,-0.000079,NaN
2016-09-19 09:57:00,3260.0280,3260.1988,3259.7699,3259.7699,0.0,0.0,-0.4834,-0.000148,NaN
2016-09-19 09:58:00,3259.8069,3259.8221,3258.6488,3258.6488,0.0,0.0,-1.1211,-0.000344,NaN
...,...,...,...,...,...,...,...,...,...
2017-09-19 14:31:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.6953,0.000182,NaN
2017-09-19 14:32:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-1.1324,-0.000296,NaN
2017-09-19 14:33:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-1.6565,-0.000433,NaN
2017-09-19 14:34:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-2.4216,-0.000633,NaN
2017-09-19 14:35:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-2.2240,-0.000582,NaN
2017-09-19 14:36:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.6170,0.000161,NaN
2017-09-19 14:37:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,3.3937,0.000888,NaN
2017-09-19 14:38:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,3.5583,0.000930,NaN
2017-09-19 14:39:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-0.0461,-0.000012,NaN
2017-09-19 14:40:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-0.1052,-0.000027,NaN
2017-09-19 14:41:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-0.2253,-0.000059,NaN
2017-09-19 14:42:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.1352,0.000035,NaN
2017-09-19 14:43:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-0.1955,-0.000051,NaN
2017-09-19 14:44:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-0.0336,-0.000009,NaN
2017-09-19 14:45:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-0.3048,-0.000080,NaN
2017-09-19 14:46:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-0.4779,-0.000125,NaN
2017-09-19 14:47:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-0.0343,-0.000009,NaN
2017-09-19 14:48:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-0.5763,-0.000151,NaN
2017-09-19 14:49:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-0.1654,-0.000043,NaN
2017-09-19 14:50:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-0.5083,-0.000133,NaN
2017-09-19 14:51:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-1.4618,-0.000382,NaN
2017-09-19 14:52:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,1.4846,0.000388,NaN
2017-09-19 14:53:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,2.5218,0.000659,NaN
2017-09-19 14:54:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,1.9904,0.000520,NaN
2017-09-19 14:55:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.9960,0.000260,NaN
2017-09-19 14:56:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.5665,0.000148,NaN
2017-09-19 14:57:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-0.2092,-0.000055,NaN
2017-09-19 14:58:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.5478,0.000143,NaN
2017-09-19 14:59:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,-0.6607,-0.000172,NaN
2017-09-19 15:00:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.8542,0.000223,NaN

,open,high,low,close,volume,amount,change,pctchange,position
2016-09-19 09:25:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:31:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:32:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:33:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:34:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:36:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:37:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:38:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:39:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:41:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:42:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:43:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:44:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:46:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:47:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:48:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:49:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:51:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:52:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:57:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19 09:58:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2017-09-19 14:31:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:32:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:33:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:34:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:36:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:37:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:38:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:39:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:41:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:42:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:43:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:44:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:46:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:47:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:48:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:49:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:51:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:52:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:57:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:58:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 14:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-19 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
df = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\index_data\\000300.SH.h5')
df
from math import *
def log(x):
    y = log(x)
    return y

In [99]:
df[df['high'].isin([3256.6529])]

,open,high,low,close,volume,amount,change,pctchange,position
2016-09-19 09:41:00,3254.7289,3256.6529,3254.7289,3256.6529,40862300.0,498350100.0,1.718,0.000528,NaN

In [100]:
df.open.mean()

3494.3085641251464

In [101]:
df.close.mean()

3494.3295541943853

In [102]:
df.high.mean()

3494.8149785527416

In [104]:
df.mean(1)

2016-09-19 09:25:00    5.479140e+07
2016-09-19 09:30:00    1.224457e+08
2016-09-19 09:31:00    8.655830e+07
2016-09-19 09:32:00    8.814043e+07
2016-09-19 09:33:00    8.168189e+07
2016-09-19 09:34:00    7.971256e+07
2016-09-19 09:35:00    6.882152e+07
2016-09-19 09:36:00    7.487832e+07
2016-09-19 09:37:00    8.815378e+07
2016-09-19 09:38:00    7.512705e+07
2016-09-19 09:39:00    6.466480e+07
2016-09-19 09:40:00    6.893066e+07
2016-09-19 09:41:00    6.740318e+07
2016-09-19 09:42:00    8.163549e+07
2016-09-19 09:43:00    8.268567e+07
2016-09-19 09:44:00    8.950648e+07
2016-09-19 09:45:00    8.365028e+07
2016-09-19 09:46:00    8.637172e+07
2016-09-19 09:47:00    8.364242e+07
2016-09-19 09:48:00    7.368866e+07
2016-09-19 09:49:00    6.296766e+07
2016-09-19 09:50:00    6.568212e+07
2016-09-19 09:51:00    7.423092e+07
2016-09-19 09:52:00    7.013991e+07
2016-09-19 09:53:00    7.689052e+07
2016-09-19 09:54:00    6.564691e+07
2016-09-19 09:55:00    5.116434e+07
2016-09-19 09:56:00    5.631883e+07
2016-09-19 09:57:00    5.178699e+07
2016-09-19 09:58:00    5.350023e+07
                           ...
2017-09-19 14:31:00    7.341896e+07
2017-09-19 14:32:00    8.075974e+07
2017-09-19 14:33:00    8.898661e+07
2017-09-19 14:34:00    1.299967e+08
2017-09-19 14:35:00    1.494803e+08
2017-09-19 14:36:00    1.364650e+08
2017-09-19 14:37:00    1.174960e+08
2017-09-19 14:38:00    9.979354e+07
2017-09-19 14:39:00    7.401335e+07
2017-09-19 14:40:00    7.838478e+07
2017-09-19 14:41:00    7.561473e+07
2017-09-19 14:42:00    6.332248e+07
2017-09-19 14:43:00    6.800940e+07
2017-09-19 14:44:00    7.184041e+07
2017-09-19 14:45:00    7.432744e+07
2017-09-19 14:46:00    8.002011e+07
2017-09-19 14:47:00    7.671271e+07
2017-09-19 14:48:00    8.580064e+07
2017-09-19 14:49:00    8.720494e+07
2017-09-19 14:50:00    9.574506e+07
2017-09-19 14:51:00    1.038709e+08
2017-09-19 14:52:00    1.252723e+08
2017-09-19 14:53:00    1.319590e+08
2017-09-19 14:54:00    1.312091e+08
2017-09-19 14:55:00    1.178495e+08
2017-09-19 14:56:00    1.136419e+08
2017-09-19 14:57:00    5.262773e+07
2017-09-19 14:58:00    6.215085e+07
2017-09-19 14:59:00    6.954809e+07
2017-09-19 15:00:00    1.005280e+08
Length: 59532, dtype: float64

In [105]:
df.open.count()

59532

In [106]:
df.open.decribe()

AttributeError: 'Series' object has no attribute 'decribe'

In [107]:
df.describe()

,open,high,low,close,volume,amount,change,pctchange,position
count,59532.000000,59532.000000,59532.000000,59532.000000,5.953200e+04,5.953200e+04,59532.000000,5.953200e+04,0.0
mean,3494.308564,3494.814979,3493.815005,3494.329554,4.471706e+07,4.957444e+08,0.009907,2.854333e-06,NaN
std,162.381988,162.403775,162.354051,162.377752,2.586415e+07,2.710694e+08,1.068966,3.047402e-04,NaN
min,3214.870400,3214.870400,3214.870400,3214.870400,6.629700e+06,7.214870e+07,-55.267100,-1.566104e-02,NaN
25%,3365.120200,3365.599600,3364.666250,3365.180725,2.766788e+07,3.146779e+08,-0.459200,-1.321976e-04,NaN
50%,3454.727250,3455.188200,3454.270350,3454.755800,3.839000e+07,4.305056e+08,0.003200,9.515795e-07,NaN
75%,3622.885225,3623.411300,3622.515975,3622.906800,5.436395e+07,6.052817e+08,0.477800,1.369270e-04,NaN
max,3865.880900,3866.610700,3865.880900,3866.185300,5.622661e+08,7.757786e+09,21.851300,6.516834e-03,NaN

In [108]:
df.open.max()

3865.8809000000001

In [109]:
df.close.min()

3214.8703999999998

In [110]:
df.open.argmax()

Timestamp('2017-08-28 10:37:00')

In [111]:
df.open.idxmax()

Timestamp('2017-08-28 10:37:00')

In [113]:
df3= df.open.diff()

In [114]:
df3

2016-09-19 09:25:00       NaN
2016-09-19 09:30:00    2.1750
2016-09-19 09:31:00    6.5287
2016-09-19 09:32:00    0.1699
2016-09-19 09:33:00    0.0428
2016-09-19 09:34:00    1.9563
2016-09-19 09:35:00    1.2952
2016-09-19 09:36:00    0.5603
2016-09-19 09:37:00    0.0879
2016-09-19 09:38:00   -0.1952
2016-09-19 09:39:00   -0.1597
2016-09-19 09:40:00   -0.4001
2016-09-19 09:41:00   -0.0751
2016-09-19 09:42:00    1.9452
2016-09-19 09:43:00    2.0173
2016-09-19 09:44:00    1.5859
2016-09-19 09:45:00    0.2646
2016-09-19 09:46:00    0.1798
2016-09-19 09:47:00    0.5227
2016-09-19 09:48:00   -0.2911
2016-09-19 09:49:00   -0.5850
2016-09-19 09:50:00   -0.3150
2016-09-19 09:51:00    0.6493
2016-09-19 09:52:00    0.9549
2016-09-19 09:53:00    0.1922
2016-09-19 09:54:00   -0.1084
2016-09-19 09:55:00   -0.7436
2016-09-19 09:56:00   -0.4370
2016-09-19 09:57:00   -0.5327
2016-09-19 09:58:00   -0.2211
                        ...
2017-09-19 14:31:00    0.0184
2017-09-19 14:32:00    1.0362
2017-09-19 14:33:00   -1.0948
2017-09-19 14:34:00   -1.2952
2017-09-19 14:35:00   -2.9203
2017-09-19 14:36:00   -1.7502
2017-09-19 14:37:00    0.2630
2017-09-19 14:38:00    3.6066
2017-09-19 14:39:00    3.2077
2017-09-19 14:40:00    0.0270
2017-09-19 14:41:00   -0.0085
2017-09-19 14:42:00   -0.2576
2017-09-19 14:43:00   -0.0895
2017-09-19 14:44:00    0.1575
2017-09-19 14:45:00   -0.5646
2017-09-19 14:46:00    0.0640
2017-09-19 14:47:00   -0.6888
2017-09-19 14:48:00    0.0893
2017-09-19 14:49:00   -0.6135
2017-09-19 14:50:00    0.0076
2017-09-19 14:51:00   -0.9243
2017-09-19 14:52:00   -0.7334
2017-09-19 14:53:00    1.4504
2017-09-19 14:54:00    2.3191
2017-09-19 14:55:00    1.5773
2017-09-19 14:56:00    1.2561
2017-09-19 14:57:00    0.2885
2017-09-19 14:58:00    0.2304
2017-09-19 14:59:00    0.4618
2017-09-19 15:00:00   -0.1579
Name: open, Length: 59532, dtype: float64

In [144]:
names= ['date','num']
df3.columns = names

,open,high,low,close,volume,amount,change,pctchange,position
2016-09-19 09:25:00,3242.7429,3242.7429,3242.7429,3242.7429,37406200.0,4.009120e+08,0.0000,0.000000,NaN
2016-09-19 09:30:00,3244.9179,3251.5510,3244.9179,3251.4453,80596900.0,8.989560e+08,8.7024,0.002684,NaN
2016-09-19 09:31:00,3251.4466,3251.6266,3251.2060,3251.4502,51349900.0,6.411035e+08,0.0049,0.000002,NaN
2016-09-19 09:32:00,3251.6165,3251.7149,3251.1520,3251.7149,51651000.0,6.534594e+08,0.2647,0.000081,NaN
2016-09-19 09:33:00,3251.6593,3253.6156,3251.6370,3253.6156,49003300.0,6.044388e+08,1.9007,0.000585,NaN
2016-09-19 09:34:00,3253.6156,3254.9662,3253.6156,3254.9003,48482300.0,5.892052e+08,1.2847,0.000395,NaN
2016-09-19 09:35:00,3254.9108,3255.7021,3254.8418,3255.2976,43360700.0,5.071984e+08,0.3973,0.000122,NaN
2016-09-19 09:36:00,3255.4711,3255.8637,3255.2372,3255.2768,44038400.0,5.549751e+08,-0.0208,-0.000006,NaN
2016-09-19 09:37:00,3255.5590,3255.6562,3255.1441,3255.2361,49964500.0,6.552527e+08,-0.0407,-0.000013,NaN
2016-09-19 09:38:00,3255.3638,3255.5602,3254.4854,3255.0695,44834100.0,5.561693e+08,-0.1666,-0.000051,NaN
2016-09-19 09:39:00,3255.2041,3255.2276,3254.5051,3254.6357,38937000.0,4.783684e+08,-0.4338,-0.000133,NaN
2016-09-19 09:40:00,3254.8040,3255.0506,3254.5526,3254.9349,41831400.0,5.096009e+08,0.2992,0.000092,NaN
2016-09-19 09:41:00,3254.7289,3256.6529,3254.7289,3256.6529,40862300.0,4.983501e+08,1.7180,0.000528,NaN
2016-09-19 09:42:00,3256.6741,3258.3527,3256.6741,3258.3527,50268800.0,6.028021e+08,1.6998,0.000522,NaN
2016-09-19 09:43:00,3258.6914,3260.2415,3258.6914,3260.2415,56174200.0,6.052981e+08,1.8888,0.000580,NaN
2016-09-19 09:44:00,3260.2773,3260.7478,3259.7951,3260.7478,59286400.0,6.567524e+08,0.5063,0.000155,NaN
2016-09-19 09:45:00,3260.5419,3260.9832,3260.5114,3260.8926,52954000.0,6.162352e+08,0.1448,0.000044,NaN
2016-09-19 09:46:00,3260.7217,3261.2899,3260.7217,3261.1844,54635600.0,6.363251e+08,0.2918,0.000089,NaN
2016-09-19 09:47:00,3261.2444,3261.3129,3260.9128,3260.9904,56293600.0,6.128327e+08,-0.1940,-0.000059,NaN
2016-09-19 09:48:00,3260.9533,3260.9533,3259.9172,3260.8078,58296700.0,5.311995e+08,-0.1826,-0.000056,NaN
2016-09-19 09:49:00,3260.3683,3260.5386,3260.0064,3260.0064,41332000.0,4.623962e+08,-0.8014,-0.000246,NaN
2016-09-19 09:50:00,3260.0533,3260.6053,3260.0533,3260.3703,41338100.0,4.841058e+08,0.3639,0.000112,NaN
2016-09-19 09:51:00,3260.7026,3261.5637,3260.5818,3261.5062,49194800.0,5.446395e+08,1.1359,0.000348,NaN
2016-09-19 09:52:00,3261.6575,3262.1068,3261.1595,3262.0725,48959500.0,5.121467e+08,0.5663,0.000174,NaN
2016-09-19 09:53:00,3261.8497,3262.3389,3261.2172,3261.2550,51078400.0,5.640327e+08,-0.8175,-0.000251,NaN
2016-09-19 09:54:00,3261.7413,3262.0110,3260.8569,3261.1653,39948300.0,4.852139e+08,-0.0897,-0.000028,NaN
2016-09-19 09:55:00,3260.9977,3261.3453,3260.5118,3260.5118,33535000.0,3.757667e+08,-0.6535,-0.000200,NaN
2016-09-19 09:56:00,3260.5607,3260.7117,3260.0421,3260.2533,35584600.0,4.149530e+08,-0.2585,-0.000079,NaN
2016-09-19 09:57:00,3260.0280,3260.1988,3259.7699,3259.7699,31852200.0,3.824307e+08,-0.4834,-0.000148,NaN
2016-09-19 09:58:00,3259.8069,3259.8221,3258.6488,3258.6488,34016700.0,3.939721e+08,-1.1211,-0.000344,NaN
...,...,...,...,...,...,...,...,...,...
2017-09-19 14:31:00,3826.8750,3827.9033,3826.8750,3827.8895,44743400.0,5.425930e+08,0.6953,0.000182,NaN
2017-09-19 14:32:00,3827.9112,3828.1929,3826.4460,3826.7571,54009900.0,5.920527e+08,-1.1324,-0.000296,NaN
2017-09-19 14:33:00,3826.8164,3826.8164,3825.1006,3825.1006,53846800.0,6.580308e+08,-1.6565,-0.000433,NaN
2017-09-19 14:34:00,3825.5212,3825.5212,3822.6790,3822.6790,80017700.0,9.599403e+08,-2.4216,-0.000633,NaN
2017-09-19 14:35:00,3822.6009,3822.7253,3820.4550,3820.4550,90223500.0,1.105603e+09,-2.2240,-0.000582,NaN
2017-09-19 14:36:00,3820.8507,3821.0720,3820.3144,3821.0720,83623300.0,1.008082e+09,0.6170,0.000161,NaN
2017-09-19 14:37:00,3821.1137,3824.4657,3821.1137,3824.4657,75821600.0,8.641309e+08,3.3937,0.000888,NaN
2017-09-19 14:38:00,3824.7203,3828.0240,3824.7203,3828.0240,64069000.0,7.342640e+08,3.5583,0.000930,NaN
2017-09-19 14:39:00,3827.9280,3828.4706,3827.5460,3827.9779,41443700.0,5.506478e+08,-0.0461,-0.000012,NaN
2017-09-19 14:40:00,3827.9550,3828.2614,3827.2764,3827.8727,44141300.0,5.829216e+08,-0.1052,-0.000027,NaN
2017-09-19 14:41:00,3827.9465,3828.2807,3827.3537,3827.6474,47530500.0,5.573720e+08,-0.2253,-0.000059,NaN
2017-09-19 14:42:00,3827.6889,3828.0830,3827.4270,3827.7826,37841300.0,4.687232e+08,0.1352,0.000035,NaN
2017-09-19 14:43:00,3827.5994,3828.0174,3827.5192,3827.5871,38389600.0,5.056703e+08,-0.1955,-0.000051,NaN
2017-09-19 14:44:00,3827.7569,3827.9861,3827.2199,3827.5535,40839700.0,5.338683e+08,-0.0336,-0.000009,NaN
2017-09-19 14:45:00,3827.1923,3827.8530,3827.0448,3827.2487,40300000.0,5.543042e+08,-0.3048,-0.000080,NaN
2017-09-19 14:46:00,3827.2563,3827.6701,3826.7708,3826.7708,47328800.0,5.928168e+08,-0.4779,-0.000125,NaN
2017-09-19 14:47:00,3826.5675,3827.1217,3826.5675,3826.7365,45773000.0,5.679134e+08,-0.0343,-0.000009,NaN
2017-09-19 14:48:00,3826.6568,3826.7593,3826.1602,3826.1602,46641600.0,6.397482e+08,-0.5763,-0.000151,NaN
2017-09-19 14:49:00,3826.0433,3826.6437,3825.7694,3825.9948,48600100.0,6.490241e+08,-0.1654,-0.000043,NaN
2017-09-19 14:50:00,3826.0509,3826.0509,3825.1359,3825.4865,55808000.0,7.101372e+08,-0.5083,-0.000133,NaN
2017-09-19 14:51:00,3825.1266,3825.2717,3823.9050,3824.0247,60455500.0,7.704968e+08,-1.4618,-0.000382,NaN
2017-09-19 14:52:00,3824.3932,3825.5713,3824.1157,3825.5093,77938500.0,9.242246e+08,1.4846,0.000388,NaN
2017-09-19 14:53:00,3825.8436,3828.0311,3825.7981,3828.0311,84748100.0,9.709088e+08,2.5218,0.000659,NaN
2017-09-19 14:54:00,3828.1627,3830.0215,3828.1627,3830.0215,80734200.0,9.689230e+08,1.9904,0.000520,NaN
2017-09-19 14:55:00,3829.7400,3831.0390,3829.7400,3831.0175,71386300.0,8.713943e+08,0.9960,0.000260,NaN
2017-09-19 14:56:00,3830.9961,3831.5840,3830.8246,3831.5840,66276800.0,8.428431e+08,0.5665,0.000148,NaN
2017-09-19 14:57:00,3831.2846,3831.6072,3831.1282,3831.3748,33478300.0,3.875282e+08,-0.2092,-0.000055,NaN
2017-09-19 14:58:00,3831.5150,3831.9837,3831.0115,3831.9226,43044000.0,4.541475e+08,0.5478,0.000143,NaN
2017-09-19 14:59:00,3831.9768,3831.9768,3831.2619,3831.2619,45888200.0,5.104812e+08,-0.6607,-0.000172,NaN
2017-09-19 15:00:00,3831.8189,3832.1161,3831.8189,3832.1161,54679400.0,7.495296e+08,0.8542,0.000223,NaN

In [152]:
df3

2016-09-19 09:25:00       NaN
2016-09-19 09:30:00    2.1750
2016-09-19 09:31:00    6.5287
2016-09-19 09:32:00    0.1699
2016-09-19 09:33:00    0.0428
2016-09-19 09:34:00    1.9563
2016-09-19 09:35:00    1.2952
2016-09-19 09:36:00    0.5603
2016-09-19 09:37:00    0.0879
2016-09-19 09:38:00   -0.1952
2016-09-19 09:39:00   -0.1597
2016-09-19 09:40:00   -0.4001
2016-09-19 09:41:00   -0.0751
2016-09-19 09:42:00    1.9452
2016-09-19 09:43:00    2.0173
2016-09-19 09:44:00    1.5859
2016-09-19 09:45:00    0.2646
2016-09-19 09:46:00    0.1798
2016-09-19 09:47:00    0.5227
2016-09-19 09:48:00   -0.2911
2016-09-19 09:49:00   -0.5850
2016-09-19 09:50:00   -0.3150
2016-09-19 09:51:00    0.6493
2016-09-19 09:52:00    0.9549
2016-09-19 09:53:00    0.1922
2016-09-19 09:54:00   -0.1084
2016-09-19 09:55:00   -0.7436
2016-09-19 09:56:00   -0.4370
2016-09-19 09:57:00   -0.5327
2016-09-19 09:58:00   -0.2211
                        ...
2017-09-19 14:31:00    0.0184
2017-09-19 14:32:00    1.0362
2017-09-19 14:33:00   -1.0948
2017-09-19 14:34:00   -1.2952
2017-09-19 14:35:00   -2.9203
2017-09-19 14:36:00   -1.7502
2017-09-19 14:37:00    0.2630
2017-09-19 14:38:00    3.6066
2017-09-19 14:39:00    3.2077
2017-09-19 14:40:00    0.0270
2017-09-19 14:41:00   -0.0085
2017-09-19 14:42:00   -0.2576
2017-09-19 14:43:00   -0.0895
2017-09-19 14:44:00    0.1575
2017-09-19 14:45:00   -0.5646
2017-09-19 14:46:00    0.0640
2017-09-19 14:47:00   -0.6888
2017-09-19 14:48:00    0.0893
2017-09-19 14:49:00   -0.6135
2017-09-19 14:50:00    0.0076
2017-09-19 14:51:00   -0.9243
2017-09-19 14:52:00   -0.7334
2017-09-19 14:53:00    1.4504
2017-09-19 14:54:00    2.3191
2017-09-19 14:55:00    1.5773
2017-09-19 14:56:00    1.2561
2017-09-19 14:57:00    0.2885
2017-09-19 14:58:00    0.2304
2017-09-19 14:59:00    0.4618
2017-09-19 15:00:00   -0.1579
Name: open, Length: 59532, dtype: float64

In [178]:
df3.info()

AttributeError: 'Series' object has no attribute 'info'

In [160]:
df4 = pd.DataFrame([df3])

In [165]:
df4= df4.T
df4

                       open
2016-09-19 09:25:00     NaN
2016-09-19 09:30:00  2.1750
2016-09-19 09:31:00  6.5287
2016-09-19 09:32:00  0.1699
2016-09-19 09:33:00  0.0428
2016-09-19 09:34:00  1.9563
2016-09-19 09:35:00  1.2952
2016-09-19 09:36:00  0.5603
2016-09-19 09:37:00  0.0879
2016-09-19 09:38:00 -0.1952
2016-09-19 09:39:00 -0.1597
2016-09-19 09:40:00 -0.4001
2016-09-19 09:41:00 -0.0751
2016-09-19 09:42:00  1.9452
2016-09-19 09:43:00  2.0173
2016-09-19 09:44:00  1.5859
2016-09-19 09:45:00  0.2646
2016-09-19 09:46:00  0.1798
2016-09-19 09:47:00  0.5227
2016-09-19 09:48:00 -0.2911
2016-09-19 09:49:00 -0.5850
2016-09-19 09:50:00 -0.3150
2016-09-19 09:51:00  0.6493
2016-09-19 09:52:00  0.9549
2016-09-19 09:53:00  0.1922
2016-09-19 09:54:00 -0.1084
2016-09-19 09:55:00 -0.7436
2016-09-19 09:56:00 -0.4370
2016-09-19 09:57:00 -0.5327
2016-09-19 09:58:00 -0.2211
...                     ...
2017-09-19 14:31:00  0.0184
2017-09-19 14:32:00  1.0362
2017-09-19 14:33:00 -1.0948
2017-09-19 14:34:00 -1.2952
2017-09-19 14:35:00 -2.9203
2017-09-19 14:36:00 -1.7502
2017-09-19 14:37:00  0.2630
2017-09-19 14:38:00  3.6066
2017-09-19 14:39:00  3.2077
2017-09-19 14:40:00  0.0270
2017-09-19 14:41:00 -0.0085
2017-09-19 14:42:00 -0.2576
2017-09-19 14:43:00 -0.0895
2017-09-19 14:44:00  0.1575
2017-09-19 14:45:00 -0.5646
2017-09-19 14:46:00  0.0640
2017-09-19 14:47:00 -0.6888
2017-09-19 14:48:00  0.0893
2017-09-19 14:49:00 -0.6135
2017-09-19 14:50:00  0.0076
2017-09-19 14:51:00 -0.9243
2017-09-19 14:52:00 -0.7334
2017-09-19 14:53:00  1.4504
2017-09-19 14:54:00  2.3191
2017-09-19 14:55:00  1.5773
2017-09-19 14:56:00  1.2561
2017-09-19 14:57:00  0.2885
2017-09-19 14:58:00  0.2304
2017-09-19 14:59:00  0.4618
2017-09-19 15:00:00 -0.1579

[59532 rows x 1 columns]

In [169]:
df4.open.apply(mathwatever)

ValueError: math domain error

In [172]:
df4 = df4.dropna()

In [173]:
df4

                       open
2016-09-19 09:30:00  2.1750
2016-09-19 09:31:00  6.5287
2016-09-19 09:32:00  0.1699
2016-09-19 09:33:00  0.0428
2016-09-19 09:34:00  1.9563
2016-09-19 09:35:00  1.2952
2016-09-19 09:36:00  0.5603
2016-09-19 09:37:00  0.0879
2016-09-19 09:38:00 -0.1952
2016-09-19 09:39:00 -0.1597
2016-09-19 09:40:00 -0.4001
2016-09-19 09:41:00 -0.0751
2016-09-19 09:42:00  1.9452
2016-09-19 09:43:00  2.0173
2016-09-19 09:44:00  1.5859
2016-09-19 09:45:00  0.2646
2016-09-19 09:46:00  0.1798
2016-09-19 09:47:00  0.5227
2016-09-19 09:48:00 -0.2911
2016-09-19 09:49:00 -0.5850
2016-09-19 09:50:00 -0.3150
2016-09-19 09:51:00  0.6493
2016-09-19 09:52:00  0.9549
2016-09-19 09:53:00  0.1922
2016-09-19 09:54:00 -0.1084
2016-09-19 09:55:00 -0.7436
2016-09-19 09:56:00 -0.4370
2016-09-19 09:57:00 -0.5327
2016-09-19 09:58:00 -0.2211
2016-09-19 09:59:00 -0.7510
...                     ...
2017-09-19 14:31:00  0.0184
2017-09-19 14:32:00  1.0362
2017-09-19 14:33:00 -1.0948
2017-09-19 14:34:00 -1.2952
2017-09-19 14:35:00 -2.9203
2017-09-19 14:36:00 -1.7502
2017-09-19 14:37:00  0.2630
2017-09-19 14:38:00  3.6066
2017-09-19 14:39:00  3.2077
2017-09-19 14:40:00  0.0270
2017-09-19 14:41:00 -0.0085
2017-09-19 14:42:00 -0.2576
2017-09-19 14:43:00 -0.0895
2017-09-19 14:44:00  0.1575
2017-09-19 14:45:00 -0.5646
2017-09-19 14:46:00  0.0640
2017-09-19 14:47:00 -0.6888
2017-09-19 14:48:00  0.0893
2017-09-19 14:49:00 -0.6135
2017-09-19 14:50:00  0.0076
2017-09-19 14:51:00 -0.9243
2017-09-19 14:52:00 -0.7334
2017-09-19 14:53:00  1.4504
2017-09-19 14:54:00  2.3191
2017-09-19 14:55:00  1.5773
2017-09-19 14:56:00  1.2561
2017-09-19 14:57:00  0.2885
2017-09-19 14:58:00  0.2304
2017-09-19 14:59:00  0.4618
2017-09-19 15:00:00 -0.1579

[59531 rows x 1 columns]

In [177]:
df4.open.apply(mathwatever)

ValueError: math domain error

In [182]:
df4

                       open
2016-09-19 09:30:00  2.1750
2016-09-19 09:31:00  6.5287
2016-09-19 09:32:00  0.1699
2016-09-19 09:33:00  0.0428
2016-09-19 09:34:00  1.9563
2016-09-19 09:35:00  1.2952
2016-09-19 09:36:00  0.5603
2016-09-19 09:37:00  0.0879
2016-09-19 09:38:00 -0.1952
2016-09-19 09:39:00 -0.1597
2016-09-19 09:40:00 -0.4001
2016-09-19 09:41:00 -0.0751
2016-09-19 09:42:00  1.9452
2016-09-19 09:43:00  2.0173
2016-09-19 09:44:00  1.5859
2016-09-19 09:45:00  0.2646
2016-09-19 09:46:00  0.1798
2016-09-19 09:47:00  0.5227
2016-09-19 09:48:00 -0.2911
2016-09-19 09:49:00 -0.5850
2016-09-19 09:50:00 -0.3150
2016-09-19 09:51:00  0.6493
2016-09-19 09:52:00  0.9549
2016-09-19 09:53:00  0.1922
2016-09-19 09:54:00 -0.1084
2016-09-19 09:55:00 -0.7436
2016-09-19 09:56:00 -0.4370
2016-09-19 09:57:00 -0.5327
2016-09-19 09:58:00 -0.2211
2016-09-19 09:59:00 -0.7510
...                     ...
2017-09-19 14:31:00  0.0184
2017-09-19 14:32:00  1.0362
2017-09-19 14:33:00 -1.0948
2017-09-19 14:34:00 -1.2952
2017-09-19 14:35:00 -2.9203
2017-09-19 14:36:00 -1.7502
2017-09-19 14:37:00  0.2630
2017-09-19 14:38:00  3.6066
2017-09-19 14:39:00  3.2077
2017-09-19 14:40:00  0.0270
2017-09-19 14:41:00 -0.0085
2017-09-19 14:42:00 -0.2576
2017-09-19 14:43:00 -0.0895
2017-09-19 14:44:00  0.1575
2017-09-19 14:45:00 -0.5646
2017-09-19 14:46:00  0.0640
2017-09-19 14:47:00 -0.6888
2017-09-19 14:48:00  0.0893
2017-09-19 14:49:00 -0.6135
2017-09-19 14:50:00  0.0076
2017-09-19 14:51:00 -0.9243
2017-09-19 14:52:00 -0.7334
2017-09-19 14:53:00  1.4504
2017-09-19 14:54:00  2.3191
2017-09-19 14:55:00  1.5773
2017-09-19 14:56:00  1.2561
2017-09-19 14:57:00  0.2885
2017-09-19 14:58:00  0.2304
2017-09-19 14:59:00  0.4618
2017-09-19 15:00:00 -0.1579

[59531 rows x 1 columns]

In [189]:

def find_over_1(open):
    return open>=1

In [192]:
df5 = df4.open.apply(find_over_1)

In [194]:
df5

2016-09-19 09:30:00     True
2016-09-19 09:31:00     True
2016-09-19 09:32:00    False
2016-09-19 09:33:00    False
2016-09-19 09:34:00     True
2016-09-19 09:35:00     True
2016-09-19 09:36:00    False
2016-09-19 09:37:00    False
2016-09-19 09:38:00    False
2016-09-19 09:39:00    False
2016-09-19 09:40:00    False
2016-09-19 09:41:00    False
2016-09-19 09:42:00     True
2016-09-19 09:43:00     True
2016-09-19 09:44:00     True
2016-09-19 09:45:00    False
2016-09-19 09:46:00    False
2016-09-19 09:47:00    False
2016-09-19 09:48:00    False
2016-09-19 09:49:00    False
2016-09-19 09:50:00    False
2016-09-19 09:51:00    False
2016-09-19 09:52:00    False
2016-09-19 09:53:00    False
2016-09-19 09:54:00    False
2016-09-19 09:55:00    False
2016-09-19 09:56:00    False
2016-09-19 09:57:00    False
2016-09-19 09:58:00    False
2016-09-19 09:59:00    False
                       ...
2017-09-19 14:31:00    False
2017-09-19 14:32:00     True
2017-09-19 14:33:00    False
2017-09-19 14:34:00    False
2017-09-19 14:35:00    False
2017-09-19 14:36:00    False
2017-09-19 14:37:00    False
2017-09-19 14:38:00     True
2017-09-19 14:39:00     True
2017-09-19 14:40:00    False
2017-09-19 14:41:00    False
2017-09-19 14:42:00    False
2017-09-19 14:43:00    False
2017-09-19 14:44:00    False
2017-09-19 14:45:00    False
2017-09-19 14:46:00    False
2017-09-19 14:47:00    False
2017-09-19 14:48:00    False
2017-09-19 14:49:00    False
2017-09-19 14:50:00    False
2017-09-19 14:51:00    False
2017-09-19 14:52:00    False
2017-09-19 14:53:00     True
2017-09-19 14:54:00     True
2017-09-19 14:55:00     True
2017-09-19 14:56:00     True
2017-09-19 14:57:00    False
2017-09-19 14:58:00    False
2017-09-19 14:59:00    False
2017-09-19 15:00:00    False
Name: open, Length: 59531, dtype: bool

In [198]:
len(df5)

59531

In [199]:
df5.sum()

6223

In [200]:
df5.index

DatetimeIndex(['2016-09-19 09:30:00', '2016-09-19 09:31:00',
               '2016-09-19 09:32:00', '2016-09-19 09:33:00',
               '2016-09-19 09:34:00', '2016-09-19 09:35:00',
               '2016-09-19 09:36:00', '2016-09-19 09:37:00',
               '2016-09-19 09:38:00', '2016-09-19 09:39:00',
               ...
               '2017-09-19 14:51:00', '2017-09-19 14:52:00',
               '2017-09-19 14:53:00', '2017-09-19 14:54:00',
               '2017-09-19 14:55:00', '2017-09-19 14:56:00',
               '2017-09-19 14:57:00', '2017-09-19 14:58:00',
               '2017-09-19 14:59:00', '2017-09-19 15:00:00'],
              dtype='datetime64[ns]', length=59531, freq=None)

In [205]:
df5.values

array([ True,  True, False, ..., False, False, False], dtype=bool)

In [208]:
df5 = pd.DataFrame([df5])

In [209]:
df5 = df5.T
df5

                      open
2016-09-19 09:30:00   True
2016-09-19 09:31:00   True
2016-09-19 09:32:00  False
2016-09-19 09:33:00  False
2016-09-19 09:34:00   True
2016-09-19 09:35:00   True
2016-09-19 09:36:00  False
2016-09-19 09:37:00  False
2016-09-19 09:38:00  False
2016-09-19 09:39:00  False
2016-09-19 09:40:00  False
2016-09-19 09:41:00  False
2016-09-19 09:42:00   True
2016-09-19 09:43:00   True
2016-09-19 09:44:00   True
2016-09-19 09:45:00  False
2016-09-19 09:46:00  False
2016-09-19 09:47:00  False
2016-09-19 09:48:00  False
2016-09-19 09:49:00  False
2016-09-19 09:50:00  False
2016-09-19 09:51:00  False
2016-09-19 09:52:00  False
2016-09-19 09:53:00  False
2016-09-19 09:54:00  False
2016-09-19 09:55:00  False
2016-09-19 09:56:00  False
2016-09-19 09:57:00  False
2016-09-19 09:58:00  False
2016-09-19 09:59:00  False
...                    ...
2017-09-19 14:31:00  False
2017-09-19 14:32:00   True
2017-09-19 14:33:00  False
2017-09-19 14:34:00  False
2017-09-19 14:35:00  False
2017-09-19 14:36:00  False
2017-09-19 14:37:00  False
2017-09-19 14:38:00   True
2017-09-19 14:39:00   True
2017-09-19 14:40:00  False
2017-09-19 14:41:00  False
2017-09-19 14:42:00  False
2017-09-19 14:43:00  False
2017-09-19 14:44:00  False
2017-09-19 14:45:00  False
2017-09-19 14:46:00  False
2017-09-19 14:47:00  False
2017-09-19 14:48:00  False
2017-09-19 14:49:00  False
2017-09-19 14:50:00  False
2017-09-19 14:51:00  False
2017-09-19 14:52:00  False
2017-09-19 14:53:00   True
2017-09-19 14:54:00   True
2017-09-19 14:55:00   True
2017-09-19 14:56:00   True
2017-09-19 14:57:00  False
2017-09-19 14:58:00  False
2017-09-19 14:59:00  False
2017-09-19 15:00:00  False

[59531 rows x 1 columns]

In [212]:
df5.open.sum()/len(df5.open)

0.10453377232030371

In [213]:
df4

                       open
2016-09-19 09:30:00  2.1750
2016-09-19 09:31:00  6.5287
2016-09-19 09:32:00  0.1699
2016-09-19 09:33:00  0.0428
2016-09-19 09:34:00  1.9563
2016-09-19 09:35:00  1.2952
2016-09-19 09:36:00  0.5603
2016-09-19 09:37:00  0.0879
2016-09-19 09:38:00 -0.1952
2016-09-19 09:39:00 -0.1597
2016-09-19 09:40:00 -0.4001
2016-09-19 09:41:00 -0.0751
2016-09-19 09:42:00  1.9452
2016-09-19 09:43:00  2.0173
2016-09-19 09:44:00  1.5859
2016-09-19 09:45:00  0.2646
2016-09-19 09:46:00  0.1798
2016-09-19 09:47:00  0.5227
2016-09-19 09:48:00 -0.2911
2016-09-19 09:49:00 -0.5850
2016-09-19 09:50:00 -0.3150
2016-09-19 09:51:00  0.6493
2016-09-19 09:52:00  0.9549
2016-09-19 09:53:00  0.1922
2016-09-19 09:54:00 -0.1084
2016-09-19 09:55:00 -0.7436
2016-09-19 09:56:00 -0.4370
2016-09-19 09:57:00 -0.5327
2016-09-19 09:58:00 -0.2211
2016-09-19 09:59:00 -0.7510
...                     ...
2017-09-19 14:31:00  0.0184
2017-09-19 14:32:00  1.0362
2017-09-19 14:33:00 -1.0948
2017-09-19 14:34:00 -1.2952
2017-09-19 14:35:00 -2.9203
2017-09-19 14:36:00 -1.7502
2017-09-19 14:37:00  0.2630
2017-09-19 14:38:00  3.6066
2017-09-19 14:39:00  3.2077
2017-09-19 14:40:00  0.0270
2017-09-19 14:41:00 -0.0085
2017-09-19 14:42:00 -0.2576
2017-09-19 14:43:00 -0.0895
2017-09-19 14:44:00  0.1575
2017-09-19 14:45:00 -0.5646
2017-09-19 14:46:00  0.0640
2017-09-19 14:47:00 -0.6888
2017-09-19 14:48:00  0.0893
2017-09-19 14:49:00 -0.6135
2017-09-19 14:50:00  0.0076
2017-09-19 14:51:00 -0.9243
2017-09-19 14:52:00 -0.7334
2017-09-19 14:53:00  1.4504
2017-09-19 14:54:00  2.3191
2017-09-19 14:55:00  1.5773
2017-09-19 14:56:00  1.2561
2017-09-19 14:57:00  0.2885
2017-09-19 14:58:00  0.2304
2017-09-19 14:59:00  0.4618
2017-09-19 15:00:00 -0.1579

[59531 rows x 1 columns]

In [217]:
df5.columns=['open2']
df5

                     open2
2016-09-19 09:30:00   True
2016-09-19 09:31:00   True
2016-09-19 09:32:00  False
2016-09-19 09:33:00  False
2016-09-19 09:34:00   True
2016-09-19 09:35:00   True
2016-09-19 09:36:00  False
2016-09-19 09:37:00  False
2016-09-19 09:38:00  False
2016-09-19 09:39:00  False
2016-09-19 09:40:00  False
2016-09-19 09:41:00  False
2016-09-19 09:42:00   True
2016-09-19 09:43:00   True
2016-09-19 09:44:00   True
2016-09-19 09:45:00  False
2016-09-19 09:46:00  False
2016-09-19 09:47:00  False
2016-09-19 09:48:00  False
2016-09-19 09:49:00  False
2016-09-19 09:50:00  False
2016-09-19 09:51:00  False
2016-09-19 09:52:00  False
2016-09-19 09:53:00  False
2016-09-19 09:54:00  False
2016-09-19 09:55:00  False
2016-09-19 09:56:00  False
2016-09-19 09:57:00  False
2016-09-19 09:58:00  False
2016-09-19 09:59:00  False
...                    ...
2017-09-19 14:31:00  False
2017-09-19 14:32:00   True
2017-09-19 14:33:00  False
2017-09-19 14:34:00  False
2017-09-19 14:35:00  False
2017-09-19 14:36:00  False
2017-09-19 14:37:00  False
2017-09-19 14:38:00   True
2017-09-19 14:39:00   True
2017-09-19 14:40:00  False
2017-09-19 14:41:00  False
2017-09-19 14:42:00  False
2017-09-19 14:43:00  False
2017-09-19 14:44:00  False
2017-09-19 14:45:00  False
2017-09-19 14:46:00  False
2017-09-19 14:47:00  False
2017-09-19 14:48:00  False
2017-09-19 14:49:00  False
2017-09-19 14:50:00  False
2017-09-19 14:51:00  False
2017-09-19 14:52:00  False
2017-09-19 14:53:00   True
2017-09-19 14:54:00   True
2017-09-19 14:55:00   True
2017-09-19 14:56:00   True
2017-09-19 14:57:00  False
2017-09-19 14:58:00  False
2017-09-19 14:59:00  False
2017-09-19 15:00:00  False

[59531 rows x 1 columns]

In [219]:
pd.concat([df4,df5],axis = 1)

                       open  open2
2016-09-19 09:30:00  2.1750   True
2016-09-19 09:31:00  6.5287   True
2016-09-19 09:32:00  0.1699  False
2016-09-19 09:33:00  0.0428  False
2016-09-19 09:34:00  1.9563   True
2016-09-19 09:35:00  1.2952   True
2016-09-19 09:36:00  0.5603  False
2016-09-19 09:37:00  0.0879  False
2016-09-19 09:38:00 -0.1952  False
2016-09-19 09:39:00 -0.1597  False
2016-09-19 09:40:00 -0.4001  False
2016-09-19 09:41:00 -0.0751  False
2016-09-19 09:42:00  1.9452   True
2016-09-19 09:43:00  2.0173   True
2016-09-19 09:44:00  1.5859   True
2016-09-19 09:45:00  0.2646  False
2016-09-19 09:46:00  0.1798  False
2016-09-19 09:47:00  0.5227  False
2016-09-19 09:48:00 -0.2911  False
2016-09-19 09:49:00 -0.5850  False
2016-09-19 09:50:00 -0.3150  False
2016-09-19 09:51:00  0.6493  False
2016-09-19 09:52:00  0.9549  False
2016-09-19 09:53:00  0.1922  False
2016-09-19 09:54:00 -0.1084  False
2016-09-19 09:55:00 -0.7436  False
2016-09-19 09:56:00 -0.4370  False
2016-09-19 09:57:00 -0.5327  False
2016-09-19 09:58:00 -0.2211  False
2016-09-19 09:59:00 -0.7510  False
...                     ...    ...
2017-09-19 14:31:00  0.0184  False
2017-09-19 14:32:00  1.0362   True
2017-09-19 14:33:00 -1.0948  False
2017-09-19 14:34:00 -1.2952  False
2017-09-19 14:35:00 -2.9203  False
2017-09-19 14:36:00 -1.7502  False
2017-09-19 14:37:00  0.2630  False
2017-09-19 14:38:00  3.6066   True
2017-09-19 14:39:00  3.2077   True
2017-09-19 14:40:00  0.0270  False
2017-09-19 14:41:00 -0.0085  False
2017-09-19 14:42:00 -0.2576  False
2017-09-19 14:43:00 -0.0895  False
2017-09-19 14:44:00  0.1575  False
2017-09-19 14:45:00 -0.5646  False
2017-09-19 14:46:00  0.0640  False
2017-09-19 14:47:00 -0.6888  False
2017-09-19 14:48:00  0.0893  False
2017-09-19 14:49:00 -0.6135  False
2017-09-19 14:50:00  0.0076  False
2017-09-19 14:51:00 -0.9243  False
2017-09-19 14:52:00 -0.7334  False
2017-09-19 14:53:00  1.4504   True
2017-09-19 14:54:00  2.3191   True
2017-09-19 14:55:00  1.5773   True
2017-09-19 14:56:00  1.2561   True
2017-09-19 14:57:00  0.2885  False
2017-09-19 14:58:00  0.2304  False
2017-09-19 14:59:00  0.4618  False
2017-09-19 15:00:00 -0.1579  False

[59531 rows x 2 columns]

In [220]:
df

,open,high,low,close,volume,amount,change,pctchange,position
2016-09-19 09:25:00,3242.7429,3242.7429,3242.7429,3242.7429,37406200.0,4.009120e+08,0.0000,0.000000,NaN
2016-09-19 09:30:00,3244.9179,3251.5510,3244.9179,3251.4453,80596900.0,8.989560e+08,8.7024,0.002684,NaN
2016-09-19 09:31:00,3251.4466,3251.6266,3251.2060,3251.4502,51349900.0,6.411035e+08,0.0049,0.000002,NaN
2016-09-19 09:32:00,3251.6165,3251.7149,3251.1520,3251.7149,51651000.0,6.534594e+08,0.2647,0.000081,NaN
2016-09-19 09:33:00,3251.6593,3253.6156,3251.6370,3253.6156,49003300.0,6.044388e+08,1.9007,0.000585,NaN
2016-09-19 09:34:00,3253.6156,3254.9662,3253.6156,3254.9003,48482300.0,5.892052e+08,1.2847,0.000395,NaN
2016-09-19 09:35:00,3254.9108,3255.7021,3254.8418,3255.2976,43360700.0,5.071984e+08,0.3973,0.000122,NaN
2016-09-19 09:36:00,3255.4711,3255.8637,3255.2372,3255.2768,44038400.0,5.549751e+08,-0.0208,-0.000006,NaN
2016-09-19 09:37:00,3255.5590,3255.6562,3255.1441,3255.2361,49964500.0,6.552527e+08,-0.0407,-0.000013,NaN
2016-09-19 09:38:00,3255.3638,3255.5602,3254.4854,3255.0695,44834100.0,5.561693e+08,-0.1666,-0.000051,NaN
2016-09-19 09:39:00,3255.2041,3255.2276,3254.5051,3254.6357,38937000.0,4.783684e+08,-0.4338,-0.000133,NaN
2016-09-19 09:40:00,3254.8040,3255.0506,3254.5526,3254.9349,41831400.0,5.096009e+08,0.2992,0.000092,NaN
2016-09-19 09:41:00,3254.7289,3256.6529,3254.7289,3256.6529,40862300.0,4.983501e+08,1.7180,0.000528,NaN
2016-09-19 09:42:00,3256.6741,3258.3527,3256.6741,3258.3527,50268800.0,6.028021e+08,1.6998,0.000522,NaN
2016-09-19 09:43:00,3258.6914,3260.2415,3258.6914,3260.2415,56174200.0,6.052981e+08,1.8888,0.000580,NaN
2016-09-19 09:44:00,3260.2773,3260.7478,3259.7951,3260.7478,59286400.0,6.567524e+08,0.5063,0.000155,NaN
2016-09-19 09:45:00,3260.5419,3260.9832,3260.5114,3260.8926,52954000.0,6.162352e+08,0.1448,0.000044,NaN
2016-09-19 09:46:00,3260.7217,3261.2899,3260.7217,3261.1844,54635600.0,6.363251e+08,0.2918,0.000089,NaN
2016-09-19 09:47:00,3261.2444,3261.3129,3260.9128,3260.9904,56293600.0,6.128327e+08,-0.1940,-0.000059,NaN
2016-09-19 09:48:00,3260.9533,3260.9533,3259.9172,3260.8078,58296700.0,5.311995e+08,-0.1826,-0.000056,NaN
2016-09-19 09:49:00,3260.3683,3260.5386,3260.0064,3260.0064,41332000.0,4.623962e+08,-0.8014,-0.000246,NaN
2016-09-19 09:50:00,3260.0533,3260.6053,3260.0533,3260.3703,41338100.0,4.841058e+08,0.3639,0.000112,NaN
2016-09-19 09:51:00,3260.7026,3261.5637,3260.5818,3261.5062,49194800.0,5.446395e+08,1.1359,0.000348,NaN
2016-09-19 09:52:00,3261.6575,3262.1068,3261.1595,3262.0725,48959500.0,5.121467e+08,0.5663,0.000174,NaN
2016-09-19 09:53:00,3261.8497,3262.3389,3261.2172,3261.2550,51078400.0,5.640327e+08,-0.8175,-0.000251,NaN
2016-09-19 09:54:00,3261.7413,3262.0110,3260.8569,3261.1653,39948300.0,4.852139e+08,-0.0897,-0.000028,NaN
2016-09-19 09:55:00,3260.9977,3261.3453,3260.5118,3260.5118,33535000.0,3.757667e+08,-0.6535,-0.000200,NaN
2016-09-19 09:56:00,3260.5607,3260.7117,3260.0421,3260.2533,35584600.0,4.149530e+08,-0.2585,-0.000079,NaN
2016-09-19 09:57:00,3260.0280,3260.1988,3259.7699,3259.7699,31852200.0,3.824307e+08,-0.4834,-0.000148,NaN
2016-09-19 09:58:00,3259.8069,3259.8221,3258.6488,3258.6488,34016700.0,3.939721e+08,-1.1211,-0.000344,NaN
...,...,...,...,...,...,...,...,...,...
2017-09-19 14:31:00,3826.8750,3827.9033,3826.8750,3827.8895,44743400.0,5.425930e+08,0.6953,0.000182,NaN
2017-09-19 14:32:00,3827.9112,3828.1929,3826.4460,3826.7571,54009900.0,5.920527e+08,-1.1324,-0.000296,NaN
2017-09-19 14:33:00,3826.8164,3826.8164,3825.1006,3825.1006,53846800.0,6.580308e+08,-1.6565,-0.000433,NaN
2017-09-19 14:34:00,3825.5212,3825.5212,3822.6790,3822.6790,80017700.0,9.599403e+08,-2.4216,-0.000633,NaN
2017-09-19 14:35:00,3822.6009,3822.7253,3820.4550,3820.4550,90223500.0,1.105603e+09,-2.2240,-0.000582,NaN
2017-09-19 14:36:00,3820.8507,3821.0720,3820.3144,3821.0720,83623300.0,1.008082e+09,0.6170,0.000161,NaN
2017-09-19 14:37:00,3821.1137,3824.4657,3821.1137,3824.4657,75821600.0,8.641309e+08,3.3937,0.000888,NaN
2017-09-19 14:38:00,3824.7203,3828.0240,3824.7203,3828.0240,64069000.0,7.342640e+08,3.5583,0.000930,NaN
2017-09-19 14:39:00,3827.9280,3828.4706,3827.5460,3827.9779,41443700.0,5.506478e+08,-0.0461,-0.000012,NaN
2017-09-19 14:40:00,3827.9550,3828.2614,3827.2764,3827.8727,44141300.0,5.829216e+08,-0.1052,-0.000027,NaN
2017-09-19 14:41:00,3827.9465,3828.2807,3827.3537,3827.6474,47530500.0,5.573720e+08,-0.2253,-0.000059,NaN
2017-09-19 14:42:00,3827.6889,3828.0830,3827.4270,3827.7826,37841300.0,4.687232e+08,0.1352,0.000035,NaN
2017-09-19 14:43:00,3827.5994,3828.0174,3827.5192,3827.5871,38389600.0,5.056703e+08,-0.1955,-0.000051,NaN
2017-09-19 14:44:00,3827.7569,3827.9861,3827.2199,3827.5535,40839700.0,5.338683e+08,-0.0336,-0.000009,NaN
2017-09-19 14:45:00,3827.1923,3827.8530,3827.0448,3827.2487,40300000.0,5.543042e+08,-0.3048,-0.000080,NaN
2017-09-19 14:46:00,3827.2563,3827.6701,3826.7708,3826.7708,47328800.0,5.928168e+08,-0.4779,-0.000125,NaN
2017-09-19 14:47:00,3826.5675,3827.1217,3826.5675,3826.7365,45773000.0,5.679134e+08,-0.0343,-0.000009,NaN
2017-09-19 14:48:00,3826.6568,3826.7593,3826.1602,3826.1602,46641600.0,6.397482e+08,-0.5763,-0.000151,NaN
2017-09-19 14:49:00,3826.0433,3826.6437,3825.7694,3825.9948,48600100.0,6.490241e+08,-0.1654,-0.000043,NaN
2017-09-19 14:50:00,3826.0509,3826.0509,3825.1359,3825.4865,55808000.0,7.101372e+08,-0.5083,-0.000133,NaN
2017-09-19 14:51:00,3825.1266,3825.2717,3823.9050,3824.0247,60455500.0,7.704968e+08,-1.4618,-0.000382,NaN
2017-09-19 14:52:00,3824.3932,3825.5713,3824.1157,3825.5093,77938500.0,9.242246e+08,1.4846,0.000388,NaN
2017-09-19 14:53:00,3825.8436,3828.0311,3825.7981,3828.0311,84748100.0,9.709088e+08,2.5218,0.000659,NaN
2017-09-19 14:54:00,3828.1627,3830.0215,3828.1627,3830.0215,80734200.0,9.689230e+08,1.9904,0.000520,NaN
2017-09-19 14:55:00,3829.7400,3831.0390,3829.7400,3831.0175,71386300.0,8.713943e+08,0.9960,0.000260,NaN
2017-09-19 14:56:00,3830.9961,3831.5840,3830.8246,3831.5840,66276800.0,8.428431e+08,0.5665,0.000148,NaN
2017-09-19 14:57:00,3831.2846,3831.6072,3831.1282,3831.3748,33478300.0,3.875282e+08,-0.2092,-0.000055,NaN
2017-09-19 14:58:00,3831.5150,3831.9837,3831.0115,3831.9226,43044000.0,4.541475e+08,0.5478,0.000143,NaN
2017-09-19 14:59:00,3831.9768,3831.9768,3831.2619,3831.2619,45888200.0,5.104812e+08,-0.6607,-0.000172,NaN
2017-09-19 15:00:00,3831.8189,3832.1161,3831.8189,3832.1161,54679400.0,7.495296e+08,0.8542,0.000223,NaN

In [221]:
k = df.iloc[0]

In [222]:
k

open         3.242743e+03
high         3.242743e+03
low          3.242743e+03
close        3.242743e+03
volume       3.740620e+07
amount       4.009120e+08
change       0.000000e+00
pctchange    0.000000e+00
position              NaN
Name: 2016-09-19 09:25:00, dtype: float64

In [227]:
k = df.append(k,ignore_index = False)
k

,open,high,low,close,volume,amount,change,pctchange,position
2016-09-19 09:25:00,3242.7429,3242.7429,3242.7429,3242.7429,37406200.0,4.009120e+08,0.0000,0.000000,NaN
2016-09-19 09:30:00,3244.9179,3251.5510,3244.9179,3251.4453,80596900.0,8.989560e+08,8.7024,0.002684,NaN
2016-09-19 09:31:00,3251.4466,3251.6266,3251.2060,3251.4502,51349900.0,6.411035e+08,0.0049,0.000002,NaN
2016-09-19 09:32:00,3251.6165,3251.7149,3251.1520,3251.7149,51651000.0,6.534594e+08,0.2647,0.000081,NaN
2016-09-19 09:33:00,3251.6593,3253.6156,3251.6370,3253.6156,49003300.0,6.044388e+08,1.9007,0.000585,NaN
2016-09-19 09:34:00,3253.6156,3254.9662,3253.6156,3254.9003,48482300.0,5.892052e+08,1.2847,0.000395,NaN
2016-09-19 09:35:00,3254.9108,3255.7021,3254.8418,3255.2976,43360700.0,5.071984e+08,0.3973,0.000122,NaN
2016-09-19 09:36:00,3255.4711,3255.8637,3255.2372,3255.2768,44038400.0,5.549751e+08,-0.0208,-0.000006,NaN
2016-09-19 09:37:00,3255.5590,3255.6562,3255.1441,3255.2361,49964500.0,6.552527e+08,-0.0407,-0.000013,NaN
2016-09-19 09:38:00,3255.3638,3255.5602,3254.4854,3255.0695,44834100.0,5.561693e+08,-0.1666,-0.000051,NaN
2016-09-19 09:39:00,3255.2041,3255.2276,3254.5051,3254.6357,38937000.0,4.783684e+08,-0.4338,-0.000133,NaN
2016-09-19 09:40:00,3254.8040,3255.0506,3254.5526,3254.9349,41831400.0,5.096009e+08,0.2992,0.000092,NaN
2016-09-19 09:41:00,3254.7289,3256.6529,3254.7289,3256.6529,40862300.0,4.983501e+08,1.7180,0.000528,NaN
2016-09-19 09:42:00,3256.6741,3258.3527,3256.6741,3258.3527,50268800.0,6.028021e+08,1.6998,0.000522,NaN
2016-09-19 09:43:00,3258.6914,3260.2415,3258.6914,3260.2415,56174200.0,6.052981e+08,1.8888,0.000580,NaN
2016-09-19 09:44:00,3260.2773,3260.7478,3259.7951,3260.7478,59286400.0,6.567524e+08,0.5063,0.000155,NaN
2016-09-19 09:45:00,3260.5419,3260.9832,3260.5114,3260.8926,52954000.0,6.162352e+08,0.1448,0.000044,NaN
2016-09-19 09:46:00,3260.7217,3261.2899,3260.7217,3261.1844,54635600.0,6.363251e+08,0.2918,0.000089,NaN
2016-09-19 09:47:00,3261.2444,3261.3129,3260.9128,3260.9904,56293600.0,6.128327e+08,-0.1940,-0.000059,NaN
2016-09-19 09:48:00,3260.9533,3260.9533,3259.9172,3260.8078,58296700.0,5.311995e+08,-0.1826,-0.000056,NaN
2016-09-19 09:49:00,3260.3683,3260.5386,3260.0064,3260.0064,41332000.0,4.623962e+08,-0.8014,-0.000246,NaN
2016-09-19 09:50:00,3260.0533,3260.6053,3260.0533,3260.3703,41338100.0,4.841058e+08,0.3639,0.000112,NaN
2016-09-19 09:51:00,3260.7026,3261.5637,3260.5818,3261.5062,49194800.0,5.446395e+08,1.1359,0.000348,NaN
2016-09-19 09:52:00,3261.6575,3262.1068,3261.1595,3262.0725,48959500.0,5.121467e+08,0.5663,0.000174,NaN
2016-09-19 09:53:00,3261.8497,3262.3389,3261.2172,3261.2550,51078400.0,5.640327e+08,-0.8175,-0.000251,NaN
2016-09-19 09:54:00,3261.7413,3262.0110,3260.8569,3261.1653,39948300.0,4.852139e+08,-0.0897,-0.000028,NaN
2016-09-19 09:55:00,3260.9977,3261.3453,3260.5118,3260.5118,33535000.0,3.757667e+08,-0.6535,-0.000200,NaN
2016-09-19 09:56:00,3260.5607,3260.7117,3260.0421,3260.2533,35584600.0,4.149530e+08,-0.2585,-0.000079,NaN
2016-09-19 09:57:00,3260.0280,3260.1988,3259.7699,3259.7699,31852200.0,3.824307e+08,-0.4834,-0.000148,NaN
2016-09-19 09:58:00,3259.8069,3259.8221,3258.6488,3258.6488,34016700.0,3.939721e+08,-1.1211,-0.000344,NaN
...,...,...,...,...,...,...,...,...,...
2017-09-19 14:32:00,3827.9112,3828.1929,3826.4460,3826.7571,54009900.0,5.920527e+08,-1.1324,-0.000296,NaN
2017-09-19 14:33:00,3826.8164,3826.8164,3825.1006,3825.1006,53846800.0,6.580308e+08,-1.6565,-0.000433,NaN
2017-09-19 14:34:00,3825.5212,3825.5212,3822.6790,3822.6790,80017700.0,9.599403e+08,-2.4216,-0.000633,NaN
2017-09-19 14:35:00,3822.6009,3822.7253,3820.4550,3820.4550,90223500.0,1.105603e+09,-2.2240,-0.000582,NaN
2017-09-19 14:36:00,3820.8507,3821.0720,3820.3144,3821.0720,83623300.0,1.008082e+09,0.6170,0.000161,NaN
2017-09-19 14:37:00,3821.1137,3824.4657,3821.1137,3824.4657,75821600.0,8.641309e+08,3.3937,0.000888,NaN
2017-09-19 14:38:00,3824.7203,3828.0240,3824.7203,3828.0240,64069000.0,7.342640e+08,3.5583,0.000930,NaN
2017-09-19 14:39:00,3827.9280,3828.4706,3827.5460,3827.9779,41443700.0,5.506478e+08,-0.0461,-0.000012,NaN
2017-09-19 14:40:00,3827.9550,3828.2614,3827.2764,3827.8727,44141300.0,5.829216e+08,-0.1052,-0.000027,NaN
2017-09-19 14:41:00,3827.9465,3828.2807,3827.3537,3827.6474,47530500.0,5.573720e+08,-0.2253,-0.000059,NaN
2017-09-19 14:42:00,3827.6889,3828.0830,3827.4270,3827.7826,37841300.0,4.687232e+08,0.1352,0.000035,NaN
2017-09-19 14:43:00,3827.5994,3828.0174,3827.5192,3827.5871,38389600.0,5.056703e+08,-0.1955,-0.000051,NaN
2017-09-19 14:44:00,3827.7569,3827.9861,3827.2199,3827.5535,40839700.0,5.338683e+08,-0.0336,-0.000009,NaN
2017-09-19 14:45:00,3827.1923,3827.8530,3827.0448,3827.2487,40300000.0,5.543042e+08,-0.3048,-0.000080,NaN
2017-09-19 14:46:00,3827.2563,3827.6701,3826.7708,3826.7708,47328800.0,5.928168e+08,-0.4779,-0.000125,NaN
2017-09-19 14:47:00,3826.5675,3827.1217,3826.5675,3826.7365,45773000.0,5.679134e+08,-0.0343,-0.000009,NaN
2017-09-19 14:48:00,3826.6568,3826.7593,3826.1602,3826.1602,46641600.0,6.397482e+08,-0.5763,-0.000151,NaN
2017-09-19 14:49:00,3826.0433,3826.6437,3825.7694,3825.9948,48600100.0,6.490241e+08,-0.1654,-0.000043,NaN
2017-09-19 14:50:00,3826.0509,3826.0509,3825.1359,3825.4865,55808000.0,7.101372e+08,-0.5083,-0.000133,NaN
2017-09-19 14:51:00,3825.1266,3825.2717,3823.9050,3824.0247,60455500.0,7.704968e+08,-1.4618,-0.000382,NaN
2017-09-19 14:52:00,3824.3932,3825.5713,3824.1157,3825.5093,77938500.0,9.242246e+08,1.4846,0.000388,NaN
2017-09-19 14:53:00,3825.8436,3828.0311,3825.7981,3828.0311,84748100.0,9.709088e+08,2.5218,0.000659,NaN
2017-09-19 14:54:00,3828.1627,3830.0215,3828.1627,3830.0215,80734200.0,9.689230e+08,1.9904,0.000520,NaN
2017-09-19 14:55:00,3829.7400,3831.0390,3829.7400,3831.0175,71386300.0,8.713943e+08,0.9960,0.000260,NaN
2017-09-19 14:56:00,3830.9961,3831.5840,3830.8246,3831.5840,66276800.0,8.428431e+08,0.5665,0.000148,NaN
2017-09-19 14:57:00,3831.2846,3831.6072,3831.1282,3831.3748,33478300.0,3.875282e+08,-0.2092,-0.000055,NaN
2017-09-19 14:58:00,3831.5150,3831.9837,3831.0115,3831.9226,43044000.0,4.541475e+08,0.5478,0.000143,NaN
2017-09-19 14:59:00,3831.9768,3831.9768,3831.2619,3831.2619,45888200.0,5.104812e+08,-0.6607,-0.000172,NaN
2017-09-19 15:00:00,3831.8189,3832.1161,3831.8189,3832.1161,54679400.0,7.495296e+08,0.8542,0.000223,NaN
2016-09-19 09:25:00,3242.7429,3242.7429,3242.7429,3242.7429,37406200.0,4.009120e+08,0.0000,0.000000,NaN

In [224]:
df.duplicated()

2016-09-19 09:25:00    False
2016-09-19 09:30:00    False
2016-09-19 09:31:00    False
2016-09-19 09:32:00    False
2016-09-19 09:33:00    False
2016-09-19 09:34:00    False
2016-09-19 09:35:00    False
2016-09-19 09:36:00    False
2016-09-19 09:37:00    False
2016-09-19 09:38:00    False
2016-09-19 09:39:00    False
2016-09-19 09:40:00    False
2016-09-19 09:41:00    False
2016-09-19 09:42:00    False
2016-09-19 09:43:00    False
2016-09-19 09:44:00    False
2016-09-19 09:45:00    False
2016-09-19 09:46:00    False
2016-09-19 09:47:00    False
2016-09-19 09:48:00    False
2016-09-19 09:49:00    False
2016-09-19 09:50:00    False
2016-09-19 09:51:00    False
2016-09-19 09:52:00    False
2016-09-19 09:53:00    False
2016-09-19 09:54:00    False
2016-09-19 09:55:00    False
2016-09-19 09:56:00    False
2016-09-19 09:57:00    False
2016-09-19 09:58:00    False
                       ...
2017-09-19 14:31:00    False
2017-09-19 14:32:00    False
2017-09-19 14:33:00    False
2017-09-19 14:34:00    False
2017-09-19 14:35:00    False
2017-09-19 14:36:00    False
2017-09-19 14:37:00    False
2017-09-19 14:38:00    False
2017-09-19 14:39:00    False
2017-09-19 14:40:00    False
2017-09-19 14:41:00    False
2017-09-19 14:42:00    False
2017-09-19 14:43:00    False
2017-09-19 14:44:00    False
2017-09-19 14:45:00    False
2017-09-19 14:46:00    False
2017-09-19 14:47:00    False
2017-09-19 14:48:00    False
2017-09-19 14:49:00    False
2017-09-19 14:50:00    False
2017-09-19 14:51:00    False
2017-09-19 14:52:00    False
2017-09-19 14:53:00    False
2017-09-19 14:54:00    False
2017-09-19 14:55:00    False
2017-09-19 14:56:00    False
2017-09-19 14:57:00    False
2017-09-19 14:58:00    False
2017-09-19 14:59:00    False
2017-09-19 15:00:00    False
Length: 59532, dtype: bool

In [225]:
df

,open,high,low,close,volume,amount,change,pctchange,position
2016-09-19 09:25:00,3242.7429,3242.7429,3242.7429,3242.7429,37406200.0,4.009120e+08,0.0000,0.000000,NaN
2016-09-19 09:30:00,3244.9179,3251.5510,3244.9179,3251.4453,80596900.0,8.989560e+08,8.7024,0.002684,NaN
2016-09-19 09:31:00,3251.4466,3251.6266,3251.2060,3251.4502,51349900.0,6.411035e+08,0.0049,0.000002,NaN
2016-09-19 09:32:00,3251.6165,3251.7149,3251.1520,3251.7149,51651000.0,6.534594e+08,0.2647,0.000081,NaN
2016-09-19 09:33:00,3251.6593,3253.6156,3251.6370,3253.6156,49003300.0,6.044388e+08,1.9007,0.000585,NaN
2016-09-19 09:34:00,3253.6156,3254.9662,3253.6156,3254.9003,48482300.0,5.892052e+08,1.2847,0.000395,NaN
2016-09-19 09:35:00,3254.9108,3255.7021,3254.8418,3255.2976,43360700.0,5.071984e+08,0.3973,0.000122,NaN
2016-09-19 09:36:00,3255.4711,3255.8637,3255.2372,3255.2768,44038400.0,5.549751e+08,-0.0208,-0.000006,NaN
2016-09-19 09:37:00,3255.5590,3255.6562,3255.1441,3255.2361,49964500.0,6.552527e+08,-0.0407,-0.000013,NaN
2016-09-19 09:38:00,3255.3638,3255.5602,3254.4854,3255.0695,44834100.0,5.561693e+08,-0.1666,-0.000051,NaN
2016-09-19 09:39:00,3255.2041,3255.2276,3254.5051,3254.6357,38937000.0,4.783684e+08,-0.4338,-0.000133,NaN
2016-09-19 09:40:00,3254.8040,3255.0506,3254.5526,3254.9349,41831400.0,5.096009e+08,0.2992,0.000092,NaN
2016-09-19 09:41:00,3254.7289,3256.6529,3254.7289,3256.6529,40862300.0,4.983501e+08,1.7180,0.000528,NaN
2016-09-19 09:42:00,3256.6741,3258.3527,3256.6741,3258.3527,50268800.0,6.028021e+08,1.6998,0.000522,NaN
2016-09-19 09:43:00,3258.6914,3260.2415,3258.6914,3260.2415,56174200.0,6.052981e+08,1.8888,0.000580,NaN
2016-09-19 09:44:00,3260.2773,3260.7478,3259.7951,3260.7478,59286400.0,6.567524e+08,0.5063,0.000155,NaN
2016-09-19 09:45:00,3260.5419,3260.9832,3260.5114,3260.8926,52954000.0,6.162352e+08,0.1448,0.000044,NaN
2016-09-19 09:46:00,3260.7217,3261.2899,3260.7217,3261.1844,54635600.0,6.363251e+08,0.2918,0.000089,NaN
2016-09-19 09:47:00,3261.2444,3261.3129,3260.9128,3260.9904,56293600.0,6.128327e+08,-0.1940,-0.000059,NaN
2016-09-19 09:48:00,3260.9533,3260.9533,3259.9172,3260.8078,58296700.0,5.311995e+08,-0.1826,-0.000056,NaN
2016-09-19 09:49:00,3260.3683,3260.5386,3260.0064,3260.0064,41332000.0,4.623962e+08,-0.8014,-0.000246,NaN
2016-09-19 09:50:00,3260.0533,3260.6053,3260.0533,3260.3703,41338100.0,4.841058e+08,0.3639,0.000112,NaN
2016-09-19 09:51:00,3260.7026,3261.5637,3260.5818,3261.5062,49194800.0,5.446395e+08,1.1359,0.000348,NaN
2016-09-19 09:52:00,3261.6575,3262.1068,3261.1595,3262.0725,48959500.0,5.121467e+08,0.5663,0.000174,NaN
2016-09-19 09:53:00,3261.8497,3262.3389,3261.2172,3261.2550,51078400.0,5.640327e+08,-0.8175,-0.000251,NaN
2016-09-19 09:54:00,3261.7413,3262.0110,3260.8569,3261.1653,39948300.0,4.852139e+08,-0.0897,-0.000028,NaN
2016-09-19 09:55:00,3260.9977,3261.3453,3260.5118,3260.5118,33535000.0,3.757667e+08,-0.6535,-0.000200,NaN
2016-09-19 09:56:00,3260.5607,3260.7117,3260.0421,3260.2533,35584600.0,4.149530e+08,-0.2585,-0.000079,NaN
2016-09-19 09:57:00,3260.0280,3260.1988,3259.7699,3259.7699,31852200.0,3.824307e+08,-0.4834,-0.000148,NaN
2016-09-19 09:58:00,3259.8069,3259.8221,3258.6488,3258.6488,34016700.0,3.939721e+08,-1.1211,-0.000344,NaN
...,...,...,...,...,...,...,...,...,...
2017-09-19 14:31:00,3826.8750,3827.9033,3826.8750,3827.8895,44743400.0,5.425930e+08,0.6953,0.000182,NaN
2017-09-19 14:32:00,3827.9112,3828.1929,3826.4460,3826.7571,54009900.0,5.920527e+08,-1.1324,-0.000296,NaN
2017-09-19 14:33:00,3826.8164,3826.8164,3825.1006,3825.1006,53846800.0,6.580308e+08,-1.6565,-0.000433,NaN
2017-09-19 14:34:00,3825.5212,3825.5212,3822.6790,3822.6790,80017700.0,9.599403e+08,-2.4216,-0.000633,NaN
2017-09-19 14:35:00,3822.6009,3822.7253,3820.4550,3820.4550,90223500.0,1.105603e+09,-2.2240,-0.000582,NaN
2017-09-19 14:36:00,3820.8507,3821.0720,3820.3144,3821.0720,83623300.0,1.008082e+09,0.6170,0.000161,NaN
2017-09-19 14:37:00,3821.1137,3824.4657,3821.1137,3824.4657,75821600.0,8.641309e+08,3.3937,0.000888,NaN
2017-09-19 14:38:00,3824.7203,3828.0240,3824.7203,3828.0240,64069000.0,7.342640e+08,3.5583,0.000930,NaN
2017-09-19 14:39:00,3827.9280,3828.4706,3827.5460,3827.9779,41443700.0,5.506478e+08,-0.0461,-0.000012,NaN
2017-09-19 14:40:00,3827.9550,3828.2614,3827.2764,3827.8727,44141300.0,5.829216e+08,-0.1052,-0.000027,NaN
2017-09-19 14:41:00,3827.9465,3828.2807,3827.3537,3827.6474,47530500.0,5.573720e+08,-0.2253,-0.000059,NaN
2017-09-19 14:42:00,3827.6889,3828.0830,3827.4270,3827.7826,37841300.0,4.687232e+08,0.1352,0.000035,NaN
2017-09-19 14:43:00,3827.5994,3828.0174,3827.5192,3827.5871,38389600.0,5.056703e+08,-0.1955,-0.000051,NaN
2017-09-19 14:44:00,3827.7569,3827.9861,3827.2199,3827.5535,40839700.0,5.338683e+08,-0.0336,-0.000009,NaN
2017-09-19 14:45:00,3827.1923,3827.8530,3827.0448,3827.2487,40300000.0,5.543042e+08,-0.3048,-0.000080,NaN
2017-09-19 14:46:00,3827.2563,3827.6701,3826.7708,3826.7708,47328800.0,5.928168e+08,-0.4779,-0.000125,NaN
2017-09-19 14:47:00,3826.5675,3827.1217,3826.5675,3826.7365,45773000.0,5.679134e+08,-0.0343,-0.000009,NaN
2017-09-19 14:48:00,3826.6568,3826.7593,3826.1602,3826.1602,46641600.0,6.397482e+08,-0.5763,-0.000151,NaN
2017-09-19 14:49:00,3826.0433,3826.6437,3825.7694,3825.9948,48600100.0,6.490241e+08,-0.1654,-0.000043,NaN
2017-09-19 14:50:00,3826.0509,3826.0509,3825.1359,3825.4865,55808000.0,7.101372e+08,-0.5083,-0.000133,NaN
2017-09-19 14:51:00,3825.1266,3825.2717,3823.9050,3824.0247,60455500.0,7.704968e+08,-1.4618,-0.000382,NaN
2017-09-19 14:52:00,3824.3932,3825.5713,3824.1157,3825.5093,77938500.0,9.242246e+08,1.4846,0.000388,NaN
2017-09-19 14:53:00,3825.8436,3828.0311,3825.7981,3828.0311,84748100.0,9.709088e+08,2.5218,0.000659,NaN
2017-09-19 14:54:00,3828.1627,3830.0215,3828.1627,3830.0215,80734200.0,9.689230e+08,1.9904,0.000520,NaN
2017-09-19 14:55:00,3829.7400,3831.0390,3829.7400,3831.0175,71386300.0,8.713943e+08,0.9960,0.000260,NaN
2017-09-19 14:56:00,3830.9961,3831.5840,3830.8246,3831.5840,66276800.0,8.428431e+08,0.5665,0.000148,NaN
2017-09-19 14:57:00,3831.2846,3831.6072,3831.1282,3831.3748,33478300.0,3.875282e+08,-0.2092,-0.000055,NaN
2017-09-19 14:58:00,3831.5150,3831.9837,3831.0115,3831.9226,43044000.0,4.541475e+08,0.5478,0.000143,NaN
2017-09-19 14:59:00,3831.9768,3831.9768,3831.2619,3831.2619,45888200.0,5.104812e+08,-0.6607,-0.000172,NaN
2017-09-19 15:00:00,3831.8189,3832.1161,3831.8189,3832.1161,54679400.0,7.495296e+08,0.8542,0.000223,NaN

In [228]:
k.duplicated()

2016-09-19 09:25:00    False
2016-09-19 09:30:00    False
2016-09-19 09:31:00    False
2016-09-19 09:32:00    False
2016-09-19 09:33:00    False
2016-09-19 09:34:00    False
2016-09-19 09:35:00    False
2016-09-19 09:36:00    False
2016-09-19 09:37:00    False
2016-09-19 09:38:00    False
2016-09-19 09:39:00    False
2016-09-19 09:40:00    False
2016-09-19 09:41:00    False
2016-09-19 09:42:00    False
2016-09-19 09:43:00    False
2016-09-19 09:44:00    False
2016-09-19 09:45:00    False
2016-09-19 09:46:00    False
2016-09-19 09:47:00    False
2016-09-19 09:48:00    False
2016-09-19 09:49:00    False
2016-09-19 09:50:00    False
2016-09-19 09:51:00    False
2016-09-19 09:52:00    False
2016-09-19 09:53:00    False
2016-09-19 09:54:00    False
2016-09-19 09:55:00    False
2016-09-19 09:56:00    False
2016-09-19 09:57:00    False
2016-09-19 09:58:00    False
                       ...
2017-09-19 14:32:00     True
2017-09-19 14:33:00     True
2017-09-19 14:34:00     True
2017-09-19 14:35:00     True
2017-09-19 14:36:00     True
2017-09-19 14:37:00     True
2017-09-19 14:38:00     True
2017-09-19 14:39:00     True
2017-09-19 14:40:00     True
2017-09-19 14:41:00     True
2017-09-19 14:42:00     True
2017-09-19 14:43:00     True
2017-09-19 14:44:00     True
2017-09-19 14:45:00     True
2017-09-19 14:46:00     True
2017-09-19 14:47:00     True
2017-09-19 14:48:00     True
2017-09-19 14:49:00     True
2017-09-19 14:50:00     True
2017-09-19 14:51:00     True
2017-09-19 14:52:00     True
2017-09-19 14:53:00     True
2017-09-19 14:54:00     True
2017-09-19 14:55:00     True
2017-09-19 14:56:00     True
2017-09-19 14:57:00     True
2017-09-19 14:58:00     True
2017-09-19 14:59:00     True
2017-09-19 15:00:00     True
2016-09-19 09:25:00     True
Length: 119065, dtype: bool