In [1]:
import pandas as pd

In [2]:
df1 = pd.read_hdf('C:/Users/Administrator/Desktop/Work/data/CTAtrade_account/trade_detail_007738030022.h5')

In [3]:
df1

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
0,M1705,10545298,10:05:32,0,2909.0,1,29090.0,0,1.65,0.0,2016-12-05
1,M1705,10548973,10:05:59,1,2912.0,1,29120.0,1,1.65,30.0,2016-12-05
2,RM705,01513316,10:31:32,0,2441.0,5,122050.0,0,16.50,0.0,2016-12-05
3,M1705,10612069,10:42:27,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
4,M1705,10612494,10:42:45,0,2913.0,1,29130.0,0,1.65,0.0,2016-12-05
5,M1705,10613334,10:43:10,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
6,M1705,10659448,10:59:45,1,2914.0,2,58280.0,1,3.30,30.0,2016-12-05
7,M1705,10659449,10:59:45,1,2914.0,1,29140.0,1,1.65,20.0,2016-12-05
8,RM705,01630287,11:01:03,1,2449.0,2,48980.0,1,13.20,160.0,2016-12-05
9,RM705,01630519,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
10,RM705,01630521,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
11,RM705,01639663,11:03:24,1,2446.0,1,24460.0,1,6.60,50.0,2016-12-05
12,RM705,01673866,11:10:48,0,2441.0,1,24410.0,0,3.30,0.0,2016-12-05
13,P1705,10706475,11:22:25,0,6332.0,1,63320.0,0,2.75,0.0,2016-12-05
14,RM705,01718548,11:27:20,0,2448.0,1,24480.0,0,3.30,0.0,2016-12-05
15,P1705,10717070,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
16,P1705,10717084,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
17,P1705,10719102,13:30:24,0,6346.0,1,63460.0,0,2.75,0.0,2016-12-05
18,P1705,10719103,13:30:24,0,6346.0,1,63460.0,0,2.75,0.0,2016-12-05
19,TA705,01754694,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
20,TA705,01754696,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
21,TA705,01754698,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
22,TA705,01759740,13:32:09,0,5280.0,3,79200.0,0,9.90,0.0,2016-12-05
23,RM705,01802209,13:39:02,0,2450.0,1,24500.0,0,3.30,0.0,2016-12-05
24,Y1705,10777410,13:48:00,0,7192.0,2,143840.0,0,5.50,0.0,2016-12-05
25,TA705,01869120,13:48:16,1,5268.0,1,26340.0,1,0.00,-60.0,2016-12-05
26,TA705,01871372,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
27,TA705,01871373,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
28,Y1705,10783183,13:50:26,1,7178.0,2,143560.0,1,5.50,-280.0,2016-12-05
29,RM705,01883174,13:50:45,1,2447.0,1,24470.0,1,6.60,60.0,2016-12-05
...,...,...,...,...,...,...,...,...,...,...,...
998,ZN1709,00005154,21:00:03,1,22830.0,1,114150.0,1,3.30,750.0,2017-07-21
999,ZN1709,00005611,21:00:04,1,22825.0,1,114125.0,1,3.30,725.0,2017-07-21
1000,RM709,00050722,21:01:55,0,2354.0,1,23540.0,0,2.21,0.0,2017-07-21
1001,A1709,10035131,21:05:52,0,3814.0,2,76280.0,0,4.40,0.0,2017-07-21
1002,A1801,10055619,21:11:18,0,3873.0,2,77460.0,0,4.40,0.0,2017-07-21
1003,A1801,10067251,21:17:36,0,3878.0,1,38780.0,0,2.20,0.0,2017-07-21
1004,A1801,10075977,21:23:53,0,3877.0,1,38770.0,0,2.20,0.0,2017-07-21
1005,A1801,10080129,21:26:05,0,3874.0,1,38740.0,0,2.20,0.0,2017-07-21
1006,RM709,00356435,21:36:40,0,2355.0,1,23550.0,0,2.21,0.0,2017-07-21
1007,A1709,10100943,21:42:56,1,3810.0,2,76200.0,1,4.40,-80.0,2017-07-21
1008,A1801,10101370,21:43:19,0,3873.0,1,38730.0,0,2.20,0.0,2017-07-21
1009,A1801,10115134,21:52:01,0,3872.0,1,38720.0,0,2.20,0.0,2017-07-21
1010,A1801,10189159,23:11:35,1,3868.0,3,116040.0,1,6.60,-200.0,2017-07-21
1011,A1801,10189160,23:11:35,1,3868.0,1,38680.0,1,2.20,-90.0,2017-07-21
1012,A1801,10189161,23:11:35,1,3868.0,1,38680.0,1,2.20,-60.0,2017-07-21
1013,Y1801,10190180,23:11:49,0,6288.0,1,62880.0,0,2.75,0.0,2017-07-21
1014,A1801,10192752,23:12:22,1,3862.0,1,38620.0,1,2.20,-110.0,2017-07-21
1015,A1801,10192753,23:12:22,1,3862.0,1,38620.0,1,2.20,-100.0,2017-07-21
1016,RM709,00735317,23:13:46,0,2352.0,1,23520.0,0,2.21,0.0,2017-07-21
1017,RM709,00735881,23:13:52,0,2352.0,1,23520.0,0,2.21,0.0,2017-07-21
1018,P1801,10201205,23:15:17,0,5308.0,1,53080.0,0,2.75,0.0,2017-07-21
0,M1801,10000988,21:00:00,1,2881.0,1,28810.0,1,1.65,-80.0,2017-07-24
1,M1801,10000989,21:00:00,1,2881.0,1,28810.0,1,1.65,-80.0,2017-07-24
2,M1801,10000990,21:00:00,1,2881.0,1,28810.0,1,1.65,-80.0,2017-07-24
3,P1801,10067430,22:00:21,1,5294.0,2,105880.0,1,5.50,20.0,2017-07-24
4,A1801,10090697,22:22:01,1,3862.0,1,38620.0,1,2.20,0.0,2017-07-24
5,A1801,10090698,22:22:01,1,3862.0,1,38620.0,1,2.20,0.0,2017-07-24
6,A1801,10090699,22:22:01,1,3862.0,1,38620.0,1,2.20,-40.0,2017-07-24
7,A1801,10091405,22:22:18,1,3859.0,4,154360.0,1,8.80,-290.0,2017-07-24
8,P1801,10100807,22:24:39,1,5276.0,3,158280.0,1,8.25,-860.0,2017-07-24

In [4]:
df2 = pd.read_hdf('C:/Users/Administrator/Desktop/Work/data/CTAtrade_account/trade_detail_001810115002.h5')

In [5]:
df2

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
0,C1709,10397523,13:31:28,1,1670.0,5,83500.0,0,3.05,0.0,2017-07-17
1,C1709,10424539,13:42:18,1,1669.0,3,50070.0,0,1.83,0.0,2017-07-17
2,MA709,01736313,13:47:54,0,2502.0,1,25020.0,0,2.04,0.0,2017-07-17
3,MA709,01736315,13:47:54,0,2502.0,2,50040.0,0,4.08,0.0,2017-07-17
4,MA709,01743943,13:49:44,0,2501.0,2,50020.0,0,4.08,0.0,2017-07-17
5,C1709,10438422,13:50:38,0,1673.0,8,133840.0,1,4.88,-270.0,2017-07-17
6,L1709,30479260,13:52:29,0,9200.0,2,92000.0,0,4.08,0.0,2017-07-17
7,RU1709,01716175,13:53:04,0,13560.0,1,135600.0,0,6.22,0.0,2017-07-17
8,MA709,01772932,13:57:01,0,2501.0,3,75030.0,0,6.12,0.0,2017-07-17
9,MA709,01791156,14:00:51,1,2496.0,1,24960.0,1,6.12,-60.0,2017-07-17
10,RU1709,01769795,14:05:35,1,13515.0,1,135150.0,1,24.81,-450.0,2017-07-17
11,MA709,01822370,14:06:07,1,2495.0,2,49900.0,1,12.24,-140.0,2017-07-17
12,MA709,01822756,14:06:13,1,2495.0,2,49900.0,1,12.24,-120.0,2017-07-17
13,L1709,30498397,14:07:10,1,9190.0,1,45950.0,1,2.04,-50.0,2017-07-17
14,MA709,01838051,14:08:52,0,2496.0,1,24960.0,0,2.04,0.0,2017-07-17
15,MA709,01838053,14:08:52,0,2496.0,3,74880.0,0,6.12,0.0,2017-07-17
16,PP1709,30503055,14:11:09,0,8163.0,1,40815.0,0,5.00,0.0,2017-07-17
17,PP1709,30503589,14:11:41,0,8164.0,1,40820.0,0,5.00,0.0,2017-07-17
18,MA709,01870076,14:14:14,0,2496.0,3,74880.0,0,6.12,0.0,2017-07-17
19,L1709,30507395,14:14:50,0,9215.0,1,46075.0,0,2.04,0.0,2017-07-17
20,MA709,01895570,14:18:33,1,2491.0,3,74730.0,1,18.36,-300.0,2017-07-17
21,MA709,01895571,14:18:33,1,2491.0,1,24910.0,1,6.12,-50.0,2017-07-17
22,MA709,01895572,14:18:33,1,2491.0,3,74730.0,1,18.36,-150.0,2017-07-17
23,MA709,01895573,14:18:33,1,2491.0,1,24910.0,1,6.12,-50.0,2017-07-17
24,L1709,30516778,14:19:51,1,9195.0,2,91950.0,1,4.08,-125.0,2017-07-17
25,MA709,01919216,14:21:37,0,2492.0,2,49840.0,0,4.08,0.0,2017-07-17
26,MA709,01919218,14:21:37,0,2492.0,1,24920.0,0,2.04,0.0,2017-07-17
27,MA709,01936405,14:23:20,0,2488.0,1,24880.0,0,2.04,0.0,2017-07-17
28,PP1709,30523818,14:24:09,0,8161.0,1,40805.0,0,4.99,0.0,2017-07-17
29,MA709,01953813,14:25:32,0,2488.0,1,24880.0,0,2.04,0.0,2017-07-17
...,...,...,...,...,...,...,...,...,...,...,...
369,M1801,10216700,10:45:26,0,2779.0,1,27790.0,0,1.53,0.0,2017-10-09
370,M1801,10216964,10:45:42,0,2779.0,1,27790.0,0,1.53,0.0,2017-10-09
371,RM801,00687851,10:49:46,0,2211.0,2,44220.0,0,3.06,0.0,2017-10-09
372,RM801,00688894,10:50:03,0,2210.0,1,22100.0,0,1.53,0.0,2017-10-09
373,MA801,00760163,11:12:35,1,2704.0,3,81120.0,0,6.12,0.0,2017-10-09
374,JD1801,10249519,11:19:37,1,4160.0,1,41600.0,1,6.36,-10.0,2017-10-09
375,MA801,00829122,13:31:01,1,2698.0,1,26980.0,0,2.04,0.0,2017-10-09
376,RM801,00851014,13:35:16,1,2208.0,1,22080.0,1,3.06,-40.0,2017-10-09
377,RM801,00851016,13:35:16,1,2208.0,1,22080.0,1,3.06,-70.0,2017-10-09
378,RM801,00874733,13:38:34,0,2209.0,2,44180.0,0,3.06,0.0,2017-10-09
379,RM801,00902947,13:42:37,0,2210.0,2,44200.0,0,3.06,0.0,2017-10-09
380,M1801,10270261,13:45:44,0,2780.0,3,83400.0,0,4.59,0.0,2017-10-09
381,MA801,00915851,13:46:21,0,2702.0,2,54040.0,1,12.24,40.0,2017-10-09
382,MA801,00921502,13:48:08,0,2704.0,1,27040.0,1,6.12,0.0,2017-10-09
383,MA801,00926299,13:49:13,0,2707.0,1,27070.0,1,6.12,-90.0,2017-10-09
384,JD1801,10279484,13:58:04,0,4174.0,2,83480.0,0,12.77,0.0,2017-10-09
385,JD1801,10283058,14:02:26,0,4187.0,1,41870.0,0,6.41,0.0,2017-10-09
386,JD1801,10285640,14:04:00,0,4192.0,1,41920.0,0,6.41,0.0,2017-10-09
387,MA801,01028175,14:14:42,1,2700.0,3,81000.0,0,6.12,0.0,2017-10-09
388,RM801,01033495,14:16:16,0,2211.0,1,22110.0,0,1.53,0.0,2017-10-09
389,MA801,01038083,14:17:36,0,2704.0,1,27040.0,1,6.12,-40.0,2017-10-09
390,MA801,01038984,14:17:50,0,2703.0,1,27030.0,1,6.12,-30.0,2017-10-09
391,MA801,01039350,14:17:56,0,2702.0,1,27020.0,1,6.12,-20.0,2017-10-09
392,JD1801,10296207,14:20:00,0,4190.0,1,41900.0,0,6.41,0.0,2017-10-09
393,TA801,01087862,14:33:09,0,5118.0,1,25590.0,1,0.00,270.0,2017-10-09
394,TA801,01087863,14:33:09,0,5118.0,1,25590.0,1,0.00,290.0,2017-10-09
395,RM801,01205970,14:59:21,1,2212.0,1,22120.0,1,3.06,-30.0,2017-10-09
396,RM801,01205971,14:59:21,1,2212.0,1,22120.0,1,3.06,-50.0,2017-10-09
397,RM801,01205972,14:59:21,1,2212.0,1,22120.0,1,3.06,-100.0,2017-10-09
398,M1801,10334675,14:59:50,1,2782.0,3,83460.0,1,4.59,60.0,2017-10-09

In [6]:
df3 = pd.concat([df1,df2])

In [7]:
df3

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
0,M1705,10545298,10:05:32,0,2909.0,1,29090.0,0,1.65,0.0,2016-12-05
1,M1705,10548973,10:05:59,1,2912.0,1,29120.0,1,1.65,30.0,2016-12-05
2,RM705,01513316,10:31:32,0,2441.0,5,122050.0,0,16.50,0.0,2016-12-05
3,M1705,10612069,10:42:27,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
4,M1705,10612494,10:42:45,0,2913.0,1,29130.0,0,1.65,0.0,2016-12-05
5,M1705,10613334,10:43:10,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
6,M1705,10659448,10:59:45,1,2914.0,2,58280.0,1,3.30,30.0,2016-12-05
7,M1705,10659449,10:59:45,1,2914.0,1,29140.0,1,1.65,20.0,2016-12-05
8,RM705,01630287,11:01:03,1,2449.0,2,48980.0,1,13.20,160.0,2016-12-05
9,RM705,01630519,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
10,RM705,01630521,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
11,RM705,01639663,11:03:24,1,2446.0,1,24460.0,1,6.60,50.0,2016-12-05
12,RM705,01673866,11:10:48,0,2441.0,1,24410.0,0,3.30,0.0,2016-12-05
13,P1705,10706475,11:22:25,0,6332.0,1,63320.0,0,2.75,0.0,2016-12-05
14,RM705,01718548,11:27:20,0,2448.0,1,24480.0,0,3.30,0.0,2016-12-05
15,P1705,10717070,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
16,P1705,10717084,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
17,P1705,10719102,13:30:24,0,6346.0,1,63460.0,0,2.75,0.0,2016-12-05
18,P1705,10719103,13:30:24,0,6346.0,1,63460.0,0,2.75,0.0,2016-12-05
19,TA705,01754694,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
20,TA705,01754696,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
21,TA705,01754698,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
22,TA705,01759740,13:32:09,0,5280.0,3,79200.0,0,9.90,0.0,2016-12-05
23,RM705,01802209,13:39:02,0,2450.0,1,24500.0,0,3.30,0.0,2016-12-05
24,Y1705,10777410,13:48:00,0,7192.0,2,143840.0,0,5.50,0.0,2016-12-05
25,TA705,01869120,13:48:16,1,5268.0,1,26340.0,1,0.00,-60.0,2016-12-05
26,TA705,01871372,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
27,TA705,01871373,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
28,Y1705,10783183,13:50:26,1,7178.0,2,143560.0,1,5.50,-280.0,2016-12-05
29,RM705,01883174,13:50:45,1,2447.0,1,24470.0,1,6.60,60.0,2016-12-05
...,...,...,...,...,...,...,...,...,...,...,...
369,M1801,10216700,10:45:26,0,2779.0,1,27790.0,0,1.53,0.0,2017-10-09
370,M1801,10216964,10:45:42,0,2779.0,1,27790.0,0,1.53,0.0,2017-10-09
371,RM801,00687851,10:49:46,0,2211.0,2,44220.0,0,3.06,0.0,2017-10-09
372,RM801,00688894,10:50:03,0,2210.0,1,22100.0,0,1.53,0.0,2017-10-09
373,MA801,00760163,11:12:35,1,2704.0,3,81120.0,0,6.12,0.0,2017-10-09
374,JD1801,10249519,11:19:37,1,4160.0,1,41600.0,1,6.36,-10.0,2017-10-09
375,MA801,00829122,13:31:01,1,2698.0,1,26980.0,0,2.04,0.0,2017-10-09
376,RM801,00851014,13:35:16,1,2208.0,1,22080.0,1,3.06,-40.0,2017-10-09
377,RM801,00851016,13:35:16,1,2208.0,1,22080.0,1,3.06,-70.0,2017-10-09
378,RM801,00874733,13:38:34,0,2209.0,2,44180.0,0,3.06,0.0,2017-10-09
379,RM801,00902947,13:42:37,0,2210.0,2,44200.0,0,3.06,0.0,2017-10-09
380,M1801,10270261,13:45:44,0,2780.0,3,83400.0,0,4.59,0.0,2017-10-09
381,MA801,00915851,13:46:21,0,2702.0,2,54040.0,1,12.24,40.0,2017-10-09
382,MA801,00921502,13:48:08,0,2704.0,1,27040.0,1,6.12,0.0,2017-10-09
383,MA801,00926299,13:49:13,0,2707.0,1,27070.0,1,6.12,-90.0,2017-10-09
384,JD1801,10279484,13:58:04,0,4174.0,2,83480.0,0,12.77,0.0,2017-10-09
385,JD1801,10283058,14:02:26,0,4187.0,1,41870.0,0,6.41,0.0,2017-10-09
386,JD1801,10285640,14:04:00,0,4192.0,1,41920.0,0,6.41,0.0,2017-10-09
387,MA801,01028175,14:14:42,1,2700.0,3,81000.0,0,6.12,0.0,2017-10-09
388,RM801,01033495,14:16:16,0,2211.0,1,22110.0,0,1.53,0.0,2017-10-09
389,MA801,01038083,14:17:36,0,2704.0,1,27040.0,1,6.12,-40.0,2017-10-09
390,MA801,01038984,14:17:50,0,2703.0,1,27030.0,1,6.12,-30.0,2017-10-09
391,MA801,01039350,14:17:56,0,2702.0,1,27020.0,1,6.12,-20.0,2017-10-09
392,JD1801,10296207,14:20:00,0,4190.0,1,41900.0,0,6.41,0.0,2017-10-09
393,TA801,01087862,14:33:09,0,5118.0,1,25590.0,1,0.00,270.0,2017-10-09
394,TA801,01087863,14:33:09,0,5118.0,1,25590.0,1,0.00,290.0,2017-10-09
395,RM801,01205970,14:59:21,1,2212.0,1,22120.0,1,3.06,-30.0,2017-10-09
396,RM801,01205971,14:59:21,1,2212.0,1,22120.0,1,3.06,-50.0,2017-10-09
397,RM801,01205972,14:59:21,1,2212.0,1,22120.0,1,3.06,-100.0,2017-10-09
398,M1801,10334675,14:59:50,1,2782.0,3,83460.0,1,4.59,60.0,2017-10-09

In [20]:
#sr1 = df3.instrument.str.rstrip('1234567890')

In [25]:
#sr2 = pd.Series(sr1.unique())

In [28]:
#sr2 = sr2.sort_values()
#sr2.to_excel('instruments.xlsx')

In [9]:
sr1 = df3.groupby(df3.real_trade_date).fee.sum()

In [58]:
df3 = df3.sort_values('real_trade_date')
df3

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
0,M1705,10545298,10:05:32,0,2909.0,1,29090.0,0,1.65,0.0,2016-12-05
13,P1705,10706475,11:22:25,0,6332.0,1,63320.0,0,2.75,0.0,2016-12-05
12,RM705,01673866,11:10:48,0,2441.0,1,24410.0,0,3.30,0.0,2016-12-05
11,RM705,01639663,11:03:24,1,2446.0,1,24460.0,1,6.60,50.0,2016-12-05
10,RM705,01630521,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
9,RM705,01630519,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
15,P1705,10717070,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
8,RM705,01630287,11:01:03,1,2449.0,2,48980.0,1,13.20,160.0,2016-12-05
6,M1705,10659448,10:59:45,1,2914.0,2,58280.0,1,3.30,30.0,2016-12-05
5,M1705,10613334,10:43:10,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
3,M1705,10612069,10:42:27,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
2,RM705,01513316,10:31:32,0,2441.0,5,122050.0,0,16.50,0.0,2016-12-05
1,M1705,10548973,10:05:59,1,2912.0,1,29120.0,1,1.65,30.0,2016-12-05
34,P1705,10794368,13:54:28,1,6330.0,2,126600.0,1,5.50,-200.0,2016-12-05
7,M1705,10659449,10:59:45,1,2914.0,1,29140.0,1,1.65,20.0,2016-12-05
16,P1705,10717084,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
4,M1705,10612494,10:42:45,0,2913.0,1,29130.0,0,1.65,0.0,2016-12-05
18,P1705,10719103,13:30:24,0,6346.0,1,63460.0,0,2.75,0.0,2016-12-05
19,TA705,01754694,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
25,TA705,01869120,13:48:16,1,5268.0,1,26340.0,1,0.00,-60.0,2016-12-05
20,TA705,01754696,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
21,TA705,01754698,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
22,TA705,01759740,13:32:09,0,5280.0,3,79200.0,0,9.90,0.0,2016-12-05
24,Y1705,10777410,13:48:00,0,7192.0,2,143840.0,0,5.50,0.0,2016-12-05
14,RM705,01718548,11:27:20,0,2448.0,1,24480.0,0,3.30,0.0,2016-12-05
30,RM705,01883175,13:50:45,1,2447.0,1,24470.0,1,6.60,-10.0,2016-12-05
27,TA705,01871373,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
28,Y1705,10783183,13:50:26,1,7178.0,2,143560.0,1,5.50,-280.0,2016-12-05
29,RM705,01883174,13:50:45,1,2447.0,1,24470.0,1,6.60,60.0,2016-12-05
32,CF705,01896683,13:53:38,1,15835.0,1,79175.0,0,6.60,0.0,2016-12-05
...,...,...,...,...,...,...,...,...,...,...,...
365,RM801,00617918,10:33:55,1,2208.0,1,22080.0,1,3.06,-40.0,2017-10-09
371,RM801,00687851,10:49:46,0,2211.0,2,44220.0,0,3.06,0.0,2017-10-09
373,MA801,00760163,11:12:35,1,2704.0,3,81120.0,0,6.12,0.0,2017-10-09
374,JD1801,10249519,11:19:37,1,4160.0,1,41600.0,1,6.36,-10.0,2017-10-09
375,MA801,00829122,13:31:01,1,2698.0,1,26980.0,0,2.04,0.0,2017-10-09
376,RM801,00851014,13:35:16,1,2208.0,1,22080.0,1,3.06,-40.0,2017-10-09
377,RM801,00851016,13:35:16,1,2208.0,1,22080.0,1,3.06,-70.0,2017-10-09
372,RM801,00688894,10:50:03,0,2210.0,1,22100.0,0,1.53,0.0,2017-10-09
342,CS1801,10079485,09:10:32,1,1958.0,1,19580.0,0,1.53,0.0,2017-10-09
370,M1801,10216964,10:45:42,0,2779.0,1,27790.0,0,1.53,0.0,2017-10-09
355,RM801,00481760,09:48:59,0,2217.0,1,22170.0,0,1.53,0.0,2017-10-09
379,RM801,00902947,13:42:37,0,2210.0,2,44200.0,0,3.06,0.0,2017-10-09
381,MA801,00915851,13:46:21,0,2702.0,2,54040.0,1,12.24,40.0,2017-10-09
380,M1801,10270261,13:45:44,0,2780.0,3,83400.0,0,4.59,0.0,2017-10-09
382,MA801,00921502,13:48:08,0,2704.0,1,27040.0,1,6.12,0.0,2017-10-09
383,MA801,00926299,13:49:13,0,2707.0,1,27070.0,1,6.12,-90.0,2017-10-09
384,JD1801,10279484,13:58:04,0,4174.0,2,83480.0,0,12.77,0.0,2017-10-09
386,JD1801,10285640,14:04:00,0,4192.0,1,41920.0,0,6.41,0.0,2017-10-09
387,MA801,01028175,14:14:42,1,2700.0,3,81000.0,0,6.12,0.0,2017-10-09
388,RM801,01033495,14:16:16,0,2211.0,1,22110.0,0,1.53,0.0,2017-10-09
389,MA801,01038083,14:17:36,0,2704.0,1,27040.0,1,6.12,-40.0,2017-10-09
390,MA801,01038984,14:17:50,0,2703.0,1,27030.0,1,6.12,-30.0,2017-10-09
391,MA801,01039350,14:17:56,0,2702.0,1,27020.0,1,6.12,-20.0,2017-10-09
392,JD1801,10296207,14:20:00,0,4190.0,1,41900.0,0,6.41,0.0,2017-10-09
393,TA801,01087862,14:33:09,0,5118.0,1,25590.0,1,0.00,270.0,2017-10-09
394,TA801,01087863,14:33:09,0,5118.0,1,25590.0,1,0.00,290.0,2017-10-09
395,RM801,01205970,14:59:21,1,2212.0,1,22120.0,1,3.06,-30.0,2017-10-09
396,RM801,01205971,14:59:21,1,2212.0,1,22120.0,1,3.06,-50.0,2017-10-09
385,JD1801,10283058,14:02:26,0,4187.0,1,41870.0,0,6.41,0.0,2017-10-09
398,M1801,10334675,14:59:50,1,2782.0,3,83460.0,1,4.59,60.0,2017-10-09

In [71]:
df4 = df3[0:42827]
df4

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
0,M1705,10545298,10:05:32,0,2909.0,1,29090.0,0,1.65,0.0,2016-12-05
13,P1705,10706475,11:22:25,0,6332.0,1,63320.0,0,2.75,0.0,2016-12-05
12,RM705,01673866,11:10:48,0,2441.0,1,24410.0,0,3.30,0.0,2016-12-05
11,RM705,01639663,11:03:24,1,2446.0,1,24460.0,1,6.60,50.0,2016-12-05
10,RM705,01630521,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
9,RM705,01630519,11:01:05,1,2449.0,1,24490.0,1,6.60,80.0,2016-12-05
15,P1705,10717070,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
8,RM705,01630287,11:01:03,1,2449.0,2,48980.0,1,13.20,160.0,2016-12-05
6,M1705,10659448,10:59:45,1,2914.0,2,58280.0,1,3.30,30.0,2016-12-05
5,M1705,10613334,10:43:10,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
3,M1705,10612069,10:42:27,0,2912.0,1,29120.0,0,1.65,0.0,2016-12-05
2,RM705,01513316,10:31:32,0,2441.0,5,122050.0,0,16.50,0.0,2016-12-05
1,M1705,10548973,10:05:59,1,2912.0,1,29120.0,1,1.65,30.0,2016-12-05
34,P1705,10794368,13:54:28,1,6330.0,2,126600.0,1,5.50,-200.0,2016-12-05
7,M1705,10659449,10:59:45,1,2914.0,1,29140.0,1,1.65,20.0,2016-12-05
16,P1705,10717084,13:30:03,0,6348.0,1,63480.0,0,2.75,0.0,2016-12-05
4,M1705,10612494,10:42:45,0,2913.0,1,29130.0,0,1.65,0.0,2016-12-05
18,P1705,10719103,13:30:24,0,6346.0,1,63460.0,0,2.75,0.0,2016-12-05
19,TA705,01754694,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
25,TA705,01869120,13:48:16,1,5268.0,1,26340.0,1,0.00,-60.0,2016-12-05
20,TA705,01754696,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
21,TA705,01754698,13:31:36,0,5280.0,1,26400.0,0,3.30,0.0,2016-12-05
22,TA705,01759740,13:32:09,0,5280.0,3,79200.0,0,9.90,0.0,2016-12-05
24,Y1705,10777410,13:48:00,0,7192.0,2,143840.0,0,5.50,0.0,2016-12-05
14,RM705,01718548,11:27:20,0,2448.0,1,24480.0,0,3.30,0.0,2016-12-05
30,RM705,01883175,13:50:45,1,2447.0,1,24470.0,1,6.60,-10.0,2016-12-05
27,TA705,01871373,13:48:26,1,5272.0,1,26360.0,1,0.00,-40.0,2016-12-05
28,Y1705,10783183,13:50:26,1,7178.0,2,143560.0,1,5.50,-280.0,2016-12-05
29,RM705,01883174,13:50:45,1,2447.0,1,24470.0,1,6.60,60.0,2016-12-05
32,CF705,01896683,13:53:38,1,15835.0,1,79175.0,0,6.60,0.0,2016-12-05
...,...,...,...,...,...,...,...,...,...,...,...
699,C1709,10276531,09:11:41,1,1682.0,20,336400.0,0,12.20,0.0,2017-07-21
698,CS1709,10275656,09:11:33,1,2003.0,2,40060.0,0,3.06,0.0,2017-07-21
697,CS1709,10275655,09:11:33,1,2003.0,1,20030.0,0,1.53,0.0,2017-07-21
694,CS1709,10275593,09:11:32,1,2004.0,7,140280.0,0,10.71,0.0,2017-07-21
693,RM709,01015060,09:11:02,1,2345.0,1,23450.0,1,2.04,-70.0,2017-07-21
692,RM709,01015058,09:11:02,1,2345.0,1,23450.0,1,2.04,-70.0,2017-07-21
691,RM709,01015056,09:11:02,1,2345.0,1,23450.0,1,2.04,-100.0,2017-07-21
690,RM709,01015054,09:11:02,1,2345.0,1,23450.0,1,2.04,-90.0,2017-07-21
689,RM709,01015053,09:11:02,1,2345.0,1,23450.0,1,2.04,-20.0,2017-07-21
704,CS1709,10286650,09:13:28,1,2004.0,3,60120.0,0,4.59,0.0,2017-07-21
685,CS1709,10269091,09:10:58,1,2008.0,12,240960.0,1,18.36,-980.0,2017-07-21
683,CS1709,10268052,09:10:51,1,2010.0,3,60300.0,1,4.59,-40.0,2017-07-21
696,CS1709,10275654,09:11:33,1,2003.0,1,20030.0,0,1.53,0.0,2017-07-21
669,CS1709,10214656,08:59:00,0,2017.0,1,20170.0,0,1.53,0.0,2017-07-21
684,CS1709,10269090,09:10:58,1,2008.0,3,60240.0,1,4.59,-170.0,2017-07-21
668,CS1709,10214643,08:59:00,0,2017.0,5,100850.0,0,7.65,0.0,2017-07-21
682,CS1709,10268051,09:10:51,1,2010.0,1,20100.0,1,1.53,-10.0,2017-07-21
681,CS1709,10268050,09:10:51,1,2010.0,1,20100.0,1,1.53,-10.0,2017-07-21
680,CS1709,10268049,09:10:51,1,2010.0,1,20100.0,1,1.53,-10.0,2017-07-21
679,CS1709,10268048,09:10:51,1,2010.0,3,60300.0,1,4.59,-50.0,2017-07-21
678,CS1709,10268047,09:10:51,1,2010.0,1,20100.0,1,1.53,-20.0,2017-07-21
677,C1709,10266294,09:10:40,1,1685.0,5,84250.0,1,6.10,-100.0,2017-07-21
688,RM709,01015051,09:11:02,1,2345.0,1,23450.0,1,2.04,10.0,2017-07-21
676,RM709,00937733,09:05:46,1,2353.0,1,23530.0,1,3.06,90.0,2017-07-21
675,RM709,00937732,09:05:46,1,2353.0,1,23530.0,1,3.06,80.0,2017-07-21
674,RM709,00901992,09:02:30,1,2355.0,1,23550.0,1,3.06,100.0,2017-07-21
673,RM709,00901991,09:02:30,1,2355.0,1,23550.0,1,3.06,100.0,2017-07-21
672,CS1709,10221661,09:00:22,0,2015.0,4,80600.0,0,6.12,0.0,2017-07-21
671,CS1709,10221660,09:00:22,0,2015.0,1,20150.0,0,1.53,0.0,2017-07-21
670,CS1709,10214657,08:59:00,0,2017.0,2,40340.0,0,3.06,0.0,2017-07-21

In [72]:
df4.to_csv('trade_style1.csv')

In [73]:
df5 = df3[42827:]

In [75]:
df5.to_csv('trade_style2.csv')

In [81]:
df5 = df5.sort_values(['instrument','real_trade_date','trade_time'])
df5

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
37,A1709,10459121,13:33:03,0,3783.0,5,189150.0,1,10.20,600.0,2017-07-24
41,A1709,10479753,13:45:42,1,3777.0,1,37770.0,0,2.04,0.0,2017-07-24
40,A1709,10479752,13:45:42,1,3777.0,2,75540.0,0,4.08,0.0,2017-07-24
43,A1709,10485957,13:50:46,1,3778.0,1,37780.0,0,2.04,0.0,2017-07-24
44,A1709,10489357,13:53:48,0,3783.0,2,75660.0,1,4.08,-120.0,2017-07-24
45,A1709,10489419,13:53:54,0,3783.0,2,75660.0,1,4.08,-110.0,2017-07-24
81,A1709,10141587,23:03:15,1,3795.0,3,113850.0,0,6.12,0.0,2017-07-24
82,A1709,10143663,23:05:06,1,3795.0,1,37950.0,0,2.04,0.0,2017-07-24
83,A1709,10143691,23:05:07,1,3795.0,1,37950.0,0,2.04,0.0,2017-07-24
180,A1709,10024163,21:16:41,1,3778.0,5,188900.0,0,10.20,0.0,2017-07-25
185,A1709,10025522,21:18:51,1,3779.0,1,37790.0,0,2.04,0.0,2017-07-25
189,A1709,10045905,21:42:04,0,3783.0,3,113490.0,1,6.12,-150.0,2017-07-25
190,A1709,10048070,21:42:43,0,3782.0,3,113460.0,1,6.12,-110.0,2017-07-25
313,A1709,10092002,21:58:48,0,3792.0,3,113760.0,0,6.12,0.0,2017-07-26
314,A1709,10092010,21:58:50,0,3792.0,1,37920.0,0,2.04,0.0,2017-07-26
327,A1709,10102132,22:11:39,1,3786.0,4,151440.0,1,8.16,-240.0,2017-07-26
58,A1801,10022540,21:11:24,0,3876.0,1,38760.0,0,2.04,0.0,2017-07-24
63,A1801,10048652,21:40:54,1,3869.0,2,77380.0,1,4.08,140.0,2017-07-24
65,A1801,10056871,21:48:08,0,3870.0,1,38700.0,0,2.04,0.0,2017-07-24
67,A1801,10058596,21:50:56,0,3870.0,1,38700.0,0,2.04,0.0,2017-07-24
71,A1801,10073321,22:04:29,1,3866.0,2,77320.0,1,4.08,0.0,2017-07-24
72,A1801,10074376,22:04:45,1,3864.0,3,115920.0,1,6.12,-70.0,2017-07-24
73,A1801,10079204,22:08:31,0,3867.0,3,116010.0,0,6.12,0.0,2017-07-24
74,A1801,10085387,22:16:14,0,3868.0,1,38680.0,0,2.04,0.0,2017-07-24
6,A1801,10090699,22:22:01,1,3862.0,1,38620.0,1,2.20,-40.0,2017-07-24
5,A1801,10090698,22:22:01,1,3862.0,1,38620.0,1,2.20,0.0,2017-07-24
4,A1801,10090697,22:22:01,1,3862.0,1,38620.0,1,2.20,0.0,2017-07-24
75,A1801,10090707,22:22:01,1,3862.0,4,154480.0,1,8.16,-350.0,2017-07-24
7,A1801,10091405,22:22:18,1,3859.0,4,154360.0,1,8.80,-290.0,2017-07-24
76,A1801,10091413,22:22:19,1,3859.0,1,38590.0,1,2.04,-80.0,2017-07-24
...,...,...,...,...,...,...,...,...,...,...,...
40,ZN1710,02170795,10:59:11,0,24295.0,1,121475.0,0,3.06,0.0,2017-08-09
58,ZN1710,02643037,14:15:27,1,24460.0,1,122300.0,1,0.00,825.0,2017-08-09
87,ZN1710,01737885,11:03:13,0,24440.0,1,122200.0,0,3.06,0.0,2017-08-10
88,ZN1710,01792651,11:11:12,1,24425.0,1,122125.0,1,0.00,-75.0,2017-08-10
117,ZN1710,02003919,13:36:29,0,24390.0,1,121950.0,0,3.06,0.0,2017-08-10
120,ZN1710,02085699,13:48:36,1,24320.0,1,121600.0,1,0.00,-350.0,2017-08-10
121,ZN1710,02105678,13:50:25,0,24350.0,1,121750.0,0,3.06,0.0,2017-08-10
135,ZN1710,02337291,14:32:46,0,24330.0,1,121650.0,0,3.06,0.0,2017-08-10
136,ZN1710,02358076,14:36:34,1,24315.0,1,121575.0,1,0.00,-175.0,2017-08-10
137,ZN1710,02378389,14:41:09,0,24325.0,1,121625.0,0,3.06,0.0,2017-08-10
139,ZN1710,02402747,14:45:55,1,24310.0,1,121550.0,1,0.00,-100.0,2017-08-10
177,ZN1710,01081800,09:00:35,1,24140.0,1,120700.0,1,0.00,-25.0,2017-08-11
214,ZN1710,01786749,10:14:30,0,24260.0,1,121300.0,0,3.06,0.0,2017-08-11
230,ZN1710,02252014,11:13:54,0,24200.0,1,121000.0,0,3.06,0.0,2017-08-11
232,ZN1710,02271642,11:17:24,1,24165.0,1,120825.0,1,0.00,-475.0,2017-08-11
236,ZN1710,02333741,11:25:05,1,24125.0,1,120625.0,1,0.00,-375.0,2017-08-11
255,ZN1710,00013342,21:00:03,1,24235.0,1,121175.0,1,3.06,-450.0,2017-08-11
261,ZN1710,00185574,21:09:23,0,24125.0,1,120625.0,0,3.06,0.0,2017-08-11
268,ZN1710,00430775,21:39:47,1,24115.0,1,120575.0,1,0.00,-50.0,2017-08-11
269,ZN1710,00451081,21:42:44,0,24145.0,1,120725.0,0,3.06,0.0,2017-08-11
350,ZN1712,02170714,14:31:34,1,25040.0,1,125200.0,0,3.06,0.0,2017-09-21
357,ZN1712,02294247,14:51:25,0,25080.0,1,125400.0,1,0.00,-200.0,2017-09-21
487,ZN1712,00251617,21:27:53,1,25080.0,1,125400.0,0,3.06,0.0,2017-09-22
488,ZN1712,00266797,21:30:31,0,25275.0,1,126375.0,1,0.00,-975.0,2017-09-22
102,ZN1712,00173359,21:33:49,1,24950.0,1,124750.0,0,3.06,0.0,2017-09-26
104,ZN1712,00177310,21:35:09,1,24975.0,1,124875.0,0,3.06,0.0,2017-09-26
105,ZN1712,00193038,21:39:20,0,24990.0,1,124950.0,1,0.00,-200.0,2017-09-26
109,ZN1712,00203273,21:43:57,0,25050.0,1,125250.0,1,0.00,-375.0,2017-09-26
229,ZN1712,01419010,10:03:35,1,25300.0,1,126500.0,0,3.06,0.0,2017-09-28
231,ZN1712,01443453,10:11:25,0,25370.0,1,126850.0,1,0.00,-350.0,2017-09-28

In [163]:
df5.groupby(df5.lots).apply(lambda x : x[x.lots >1])

         instrument  order_no trade_time  direction  order_price  lots  \
lots
2    40       A1709  10479752   13:45:42          1       3777.0     2
     44       A1709  10489357   13:53:48          0       3783.0     2
     45       A1709  10489419   13:53:54          0       3783.0     2
     63       A1801  10048652   21:40:54          1       3869.0     2
     71       A1801  10073321   22:04:29          1       3866.0     2
     77       A1801  10091414   22:22:19          1       3858.0     2
     271      A1801  10537980   14:20:07          1       3845.0     2
     289      A1801  10029853   21:09:41          0       3857.0     2
     292      A1801  10039938   21:16:11          1       3852.0     2
     543      A1801  10644631   14:53:55          1       3846.0     2
     546      A1801  10652049   14:56:36          1       3848.0     2
     565      A1801  10017739   21:04:52          1       3866.0     2
     575      A1801  10033693   21:15:52          0       3866.0     2
     657      A1801  10265000   09:23:17          1       3846.0     2
     766      A1801  10516379   14:30:57          0       3856.0     2
     783      A1801  10527556   14:37:42          0       3867.0     2
     785      A1801  10536154   14:41:22          0       3872.0     2
     804      A1801  10562409   14:55:00          1       3868.0     2
     10       A1801  10208957   09:05:33          0       3876.0     2
     15       A1801  10226342   09:10:07          1       3871.0     2
     55       A1801  10002397   21:00:08          1       3866.0     2
     345      A1801  10371512   14:48:42          0       3898.0     2
     429      A1801  10413352   13:44:39          1       3917.0     2
     431      A1801  10420320   13:47:13          0       3919.0     2
     432      A1801  10421679   13:47:52          1       3912.0     2
     433      A1801  10424408   13:49:16          0       3916.0     2
     447      A1801  10514556   14:54:20          1       3917.0     2
     450      A1801  10528940   14:59:55          1       3910.0     2
     3        A1801  10117120   09:02:50          1       3915.0     2
     13       A1801  10167667   09:22:47          1       3895.0     2
...             ...       ...        ...        ...          ...   ...
10   496     CS1801  10521102   14:17:28          1       1939.0    10
     499     CS1801  10548130   14:44:27          1       1940.0    10
     266     CS1801  10393258   13:59:35          1       2028.0    10
     229     CS1801  10163344   09:23:09          0       1977.0    10
     322     CS1801  10262403   11:23:04          0       1976.0    10
     323     CS1801  10262665   11:23:13          0       1977.0    10
     70       M1801  10046216   21:34:01          0       2848.0    10
     136      M1801  10065915   21:50:49          1       2729.0    10
     5        M1801  10125282   09:00:01          0       2724.0    10
     55       M1801  10244556   10:47:45          0       2721.0    10
     193      M1801  10040252   21:32:54          0       2722.0    10
     199      M1801  10052955   21:42:46          1       2729.0    10
     188      RM801  00688127   09:07:09          1       2179.0    10
     378      RM801  00594005   23:22:42          0       2182.0    10
     899      TA801  00827677   09:25:26          1       5276.0    10
     104      TA801  00050177   21:02:58          1       5310.0    10
11   993     CS1801  10358850   14:20:10          0       1971.0    11
     121      M1801  10042178   21:30:48          1       2773.0    11
14   1        C1801  10178293   09:00:01          0       1679.0    14
15   306      C1801  10096018   09:00:01          1       1734.0    15
     956      C1801  10332121   13:43:46          0       1699.0    15
     435     CS1801  10311244   09:37:32          0       1948.0    15
     44      CS1801  10240543   10:45:03          1       2001.0    15
     186     CS1801  10185092   09:00:42          0       2000.0    15
16   412     CS1801  10201985   09:11:05          1       1937.0    16
20   294      C1801  10234944   10:49:26          0       1703.0    20
     324     CS1801  10262857   11:23:18          0       1977.0    20
     560      M1709  10011140   21:01:55          1       2825.0    20
     198      M1801  10050629   21:41:19          0       2730.0    20
35   217      C1801  10143269   09:11:26          0       1701.0    35

          turnover  open_close    fee  realized_pl real_trade_date
lots
2    40    75540.0           0   4.08          0.0      2017-07-24
     44    75660.0           1   4.08       -120.0      2017-07-24
     45    75660.0           1   4.08       -110.0      2017-07-24
     63    77380.0           1   4.08        140.0      2017-07-24
     71    77320.0           1   4.08          0.0      2017-07-24
     77    77160.0           1   4.08       -190.0      2017-07-24
     271   76900.0           1   4.08       -260.0      2017-07-26
     289   77140.0           0   4.08          0.0      2017-07-26
     292   77040.0           1   4.08        -90.0      2017-07-26
     543   76920.0           0   4.08          0.0      2017-07-28
     546   76960.0           0   4.08          0.0      2017-07-28
     565   77320.0           1   4.08        -80.0      2017-07-28
     575   77320.0           0   4.08          0.0      2017-07-28
     657   76920.0           0   4.08          0.0      2017-07-31
     766   77120.0           1   4.08       -180.0      2017-07-31
     783   77340.0           0   4.08          0.0      2017-07-31
     785   77440.0           0   4.08          0.0      2017-07-31
     804   77360.0           1   4.08         20.0      2017-07-31
     10    77520.0           0   4.08          0.0      2017-08-01
     15    77420.0           1   4.08       -260.0      2017-08-01
     55    77320.0           1   4.08       -120.0      2017-08-01
     345   77960.0           0   4.08          0.0      2017-08-18
     429   78340.0           1   4.08        380.0      2017-08-21
     431   78380.0           0   4.08          0.0      2017-08-21
     432   78240.0           1   4.08        230.0      2017-08-21
     433   78320.0           0   4.08          0.0      2017-08-21
     447   78340.0           1   4.08        270.0      2017-08-21
     450   78200.0           1   4.08       -230.0      2017-08-21
     3     78300.0           1   4.08        -60.0      2017-08-22
     13    77900.0           1   4.08       -530.0      2017-08-22
...            ...         ...    ...          ...             ...
10   496  193900.0           0  15.30          0.0      2017-08-07
     499  194000.0           0  15.30          0.0      2017-08-07
     266  202800.0           1  15.30        -20.0      2017-08-17
     229  197700.0           1  15.30       -480.0      2017-09-21
     322  197600.0           1  15.30       -150.0      2017-09-21
     323  197700.0           1  15.30       -400.0      2017-09-21
     70   284800.0           1  15.30       -450.0      2017-08-01
     136  272900.0           1  15.30       -270.0      2017-09-06
     5    272400.0           1  15.30       -330.0      2017-09-12
     55   272100.0           1  15.30       -100.0      2017-09-12
     193  272200.0           1  15.30       -170.0      2017-09-12
     199  272900.0           1  15.30       -100.0      2017-09-12
     188  217900.0           1  30.60       -300.0      2017-09-07
     378  218200.0           0  15.30          0.0      2017-09-07
     899  263800.0           0  30.60          0.0      2017-09-19
     104  265500.0           0  30.60          0.0      2017-09-27
11   993  216810.0           1  16.83       -130.0      2017-09-19
     121  305030.0           1  16.83      -1510.0      2017-09-27
14   1    235060.0           1  17.08        910.0      2017-08-01
15   306  260100.0           1  18.30        500.0      2017-08-18
     956  254850.0           1   9.15       -400.0      2017-09-19
     435  292200.0           1  22.95       -940.0      2017-08-07
     44   300150.0           1  22.95       -460.0      2017-09-26
     186  300000.0           1  22.95       -190.0      2017-09-28
16   412  309920.0           0  24.48          0.0      2017-08-07
20   294  340600.0           1  12.20       -800.0      2017-09-21
     324  395400.0           1  30.60       -850.0      2017-09-21
     560  565000.0           0  30.60          0.0      2017-07-28
     198  546000.0           0  30.60          0.0      2017-09-12
35   217  595350.0           1  21.35      -1710.0      2017-09-21

[2389 rows x 11 columns]

In [91]:
df6 = df5[0:3]
df6

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
37,A1709,10459121,13:33:03,0,3783.0,5,189150.0,1,10.20,600.0,2017-07-24
41,A1709,10479753,13:45:42,1,3777.0,1,37770.0,0,2.04,0.0,2017-07-24
40,A1709,10479752,13:45:42,1,3777.0,2,75540.0,0,4.08,0.0,2017-07-24

In [107]:
df6.index

Int64Index([37, 41, 40], dtype='int64')

In [160]:
df6

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
0,A1709,10459121,13:33:03,0,3783.0,5,189150.0,1,10.20,600.0,2017-07-24
1,A1709,10479753,13:45:42,1,3777.0,1,37770.0,0,2.04,0.0,2017-07-24
2,A1709,10479752,13:45:42,1,3777.0,2,75540.0,0,4.08,0.0,2017-07-24

In [170]:
for i in range(len(df6)):
    if df6.loc[i].lots ==1:
        continue
    else:
        newlist = []
        for j in range(df6.loc[i].lots):
            newdf = df6[0:1].copy()
            newdf.lots = 1
            print(newdf)

  instrument  order_no trade_time  direction  order_price  lots  turnover  \
0      A1709  10459121   13:33:03          0       3783.0     1  189150.0

   open_close   fee  realized_pl real_trade_date
0           1  10.2        600.0      2017-07-24
  instrument  order_no trade_time  direction  order_price  lots  turnover  \
0      A1709  10459121   13:33:03          0       3783.0     1  189150.0

   open_close   fee  realized_pl real_trade_date
0           1  10.2        600.0      2017-07-24
  instrument  order_no trade_time  direction  order_price  lots  turnover  \
0      A1709  10459121   13:33:03          0       3783.0     1  189150.0

   open_close   fee  realized_pl real_trade_date
0           1  10.2        600.0      2017-07-24
  instrument  order_no trade_time  direction  order_price  lots  turnover  \
0      A1709  10459121   13:33:03          0       3783.0     1  189150.0

   open_close   fee  realized_pl real_trade_date
0           1  10.2        600.0      2017-07-24
  instrument  order_no trade_time  direction  order_price  lots  turnover  \
0      A1709  10459121   13:33:03          0       3783.0     1  189150.0

   open_close   fee  realized_pl real_trade_date
0           1  10.2        600.0      2017-07-24
  instrument  order_no trade_time  direction  order_price  lots  turnover  \
0      A1709  10459121   13:33:03          0       3783.0     1  189150.0

   open_close   fee  realized_pl real_trade_date
0           1  10.2        600.0      2017-07-24
  instrument  order_no trade_time  direction  order_price  lots  turnover  \
0      A1709  10459121   13:33:03          0       3783.0     1  189150.0

   open_close   fee  realized_pl real_trade_date
0           1  10.2        600.0      2017-07-24

In [154]:
df7= df6[0:1].copy()
df7.lots =1 
df7

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
0,A1709,10459121,13:33:03,0,3783.0,1,189150.0,1,10.2,600.0,2017-07-24

,instrument,order_no,trade_time,direction,order_price,lots,turnover,open_close,fee,realized_pl,real_trade_date
0,A1709,10459121,13:33:03,0,3783.0,1,189150.0,1,10.2,600.0,2017-07-24