In [1]:
from sklearn import datasets
iris =datasets.load_iris()

In [2]:
iris.data.shape

(150, 4)

In [4]:
iris.target.shape

(150,)

In [3]:
import numpy as np

In [5]:
np.unique(iris.target)

array([0, 1, 2])

In [6]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'],
      dtype='<U10')

In [7]:
iris.data

array([[ 5.1,  3.5,  1.4,  0.2],
       [ 4.9,  3. ,  1.4,  0.2],
       [ 4.7,  3.2,  1.3,  0.2],
       [ 4.6,  3.1,  1.5,  0.2],
       [ 5. ,  3.6,  1.4,  0.2],
       [ 5.4,  3.9,  1.7,  0.4],
       [ 4.6,  3.4,  1.4,  0.3],
       [ 5. ,  3.4,  1.5,  0.2],
       [ 4.4,  2.9,  1.4,  0.2],
       [ 4.9,  3.1,  1.5,  0.1],
       [ 5.4,  3.7,  1.5,  0.2],
       [ 4.8,  3.4,  1.6,  0.2],
       [ 4.8,  3. ,  1.4,  0.1],
       [ 4.3,  3. ,  1.1,  0.1],
       [ 5.8,  4. ,  1.2,  0.2],
       [ 5.7,  4.4,  1.5,  0.4],
       [ 5.4,  3.9,  1.3,  0.4],
       [ 5.1,  3.5,  1.4,  0.3],
       [ 5.7,  3.8,  1.7,  0.3],
       [ 5.1,  3.8,  1.5,  0.3],
       [ 5.4,  3.4,  1.7,  0.2],
       [ 5.1,  3.7,  1.5,  0.4],
       [ 4.6,  3.6,  1. ,  0.2],
       [ 5.1,  3.3,  1.7,  0.5],
       [ 4.8,  3.4,  1.9,  0.2],
       [ 5. ,  3. ,  1.6,  0.2],
       [ 5. ,  3.4,  1.6,  0.4],
       [ 5.2,  3.5,  1.5,  0.2],
       [ 5.2,  3.4,  1.4,  0.2],
       [ 4.7,  3.2,  1.6,  0.2],
       [ 4.8,  3.1,  1.6,  0.2],
       [ 5.4,  3.4,  1.5,  0.4],
       [ 5.2,  4.1,  1.5,  0.1],
       [ 5.5,  4.2,  1.4,  0.2],
       [ 4.9,  3.1,  1.5,  0.1],
       [ 5. ,  3.2,  1.2,  0.2],
       [ 5.5,  3.5,  1.3,  0.2],
       [ 4.9,  3.1,  1.5,  0.1],
       [ 4.4,  3. ,  1.3,  0.2],
       [ 5.1,  3.4,  1.5,  0.2],
       [ 5. ,  3.5,  1.3,  0.3],
       [ 4.5,  2.3,  1.3,  0.3],
       [ 4.4,  3.2,  1.3,  0.2],
       [ 5. ,  3.5,  1.6,  0.6],
       [ 5.1,  3.8,  1.9,  0.4],
       [ 4.8,  3. ,  1.4,  0.3],
       [ 5.1,  3.8,  1.6,  0.2],
       [ 4.6,  3.2,  1.4,  0.2],
       [ 5.3,  3.7,  1.5,  0.2],
       [ 5. ,  3.3,  1.4,  0.2],
       [ 7. ,  3.2,  4.7,  1.4],
       [ 6.4,  3.2,  4.5,  1.5],
       [ 6.9,  3.1,  4.9,  1.5],
       [ 5.5,  2.3,  4. ,  1.3],
       [ 6.5,  2.8,  4.6,  1.5],
       [ 5.7,  2.8,  4.5,  1.3],
       [ 6.3,  3.3,  4.7,  1.6],
       [ 4.9,  2.4,  3.3,  1. ],
       [ 6.6,  2.9,  4.6,  1.3],
       [ 5.2,  2.7,  3.9,  1.4],
       [ 5. ,  2. ,  3.5,  1. ],
       [ 5.9,  3. ,  4.2,  1.5],
       [ 6. ,  2.2,  4. ,  1. ],
       [ 6.1,  2.9,  4.7,  1.4],
       [ 5.6,  2.9,  3.6,  1.3],
       [ 6.7,  3.1,  4.4,  1.4],
       [ 5.6,  3. ,  4.5,  1.5],
       [ 5.8,  2.7,  4.1,  1. ],
       [ 6.2,  2.2,  4.5,  1.5],
       [ 5.6,  2.5,  3.9,  1.1],
       [ 5.9,  3.2,  4.8,  1.8],
       [ 6.1,  2.8,  4. ,  1.3],
       [ 6.3,  2.5,  4.9,  1.5],
       [ 6.1,  2.8,  4.7,  1.2],
       [ 6.4,  2.9,  4.3,  1.3],
       [ 6.6,  3. ,  4.4,  1.4],
       [ 6.8,  2.8,  4.8,  1.4],
       [ 6.7,  3. ,  5. ,  1.7],
       [ 6. ,  2.9,  4.5,  1.5],
       [ 5.7,  2.6,  3.5,  1. ],
       [ 5.5,  2.4,  3.8,  1.1],
       [ 5.5,  2.4,  3.7,  1. ],
       [ 5.8,  2.7,  3.9,  1.2],
       [ 6. ,  2.7,  5.1,  1.6],
       [ 5.4,  3. ,  4.5,  1.5],
       [ 6. ,  3.4,  4.5,  1.6],
       [ 6.7,  3.1,  4.7,  1.5],
       [ 6.3,  2.3,  4.4,  1.3],
       [ 5.6,  3. ,  4.1,  1.3],
       [ 5.5,  2.5,  4. ,  1.3],
       [ 5.5,  2.6,  4.4,  1.2],
       [ 6.1,  3. ,  4.6,  1.4],
       [ 5.8,  2.6,  4. ,  1.2],
       [ 5. ,  2.3,  3.3,  1. ],
       [ 5.6,  2.7,  4.2,  1.3],
       [ 5.7,  3. ,  4.2,  1.2],
       [ 5.7,  2.9,  4.2,  1.3],
       [ 6.2,  2.9,  4.3,  1.3],
       [ 5.1,  2.5,  3. ,  1.1],
       [ 5.7,  2.8,  4.1,  1.3],
       [ 6.3,  3.3,  6. ,  2.5],
       [ 5.8,  2.7,  5.1,  1.9],
       [ 7.1,  3. ,  5.9,  2.1],
       [ 6.3,  2.9,  5.6,  1.8],
       [ 6.5,  3. ,  5.8,  2.2],
       [ 7.6,  3. ,  6.6,  2.1],
       [ 4.9,  2.5,  4.5,  1.7],
       [ 7.3,  2.9,  6.3,  1.8],
       [ 6.7,  2.5,  5.8,  1.8],
       [ 7.2,  3.6,  6.1,  2.5],
       [ 6.5,  3.2,  5.1,  2. ],
       [ 6.4,  2.7,  5.3,  1.9],
       [ 6.8,  3. ,  5.5,  2.1],
       [ 5.7,  2.5,  5. ,  2. ],
       [ 5.8,  2.8,  5.1,  2.4],
       [ 6.4,  3.2,  5.3,  2.3],
       [ 6.5,  3. ,  5.5,  1.8],
       [ 7.7,  3.8,  6.7,  2.2],
       [ 7.7,  2.6,  6.9,  2.3],
       [ 6. ,  2.2,  5. ,  1.5],
       [ 6.9,  3.2,  5.7,  2.3],
       [ 5.6,  2.8,  4.9,  2. ],
       [ 7.7,  2.8,  6.7,  2. ],
       [ 6.3,  2.7,  4.9,  1.8],
       [ 6.7,  3.3,  5.7,  2.1],
       [ 7.2,  3.2,  6. ,  1.8],
       [ 6.2,  2.8,  4.8,  1.8],
       [ 6.1,  3. ,  4.9,  1.8],
       [ 6.4,  2.8,  5.6,  2.1],
       [ 7.2,  3. ,  5.8,  1.6],
       [ 7.4,  2.8,  6.1,  1.9],
       [ 7.9,  3.8,  6.4,  2. ],
       [ 6.4,  2.8,  5.6,  2.2],
       [ 6.3,  2.8,  5.1,  1.5],
       [ 6.1,  2.6,  5.6,  1.4],
       [ 7.7,  3. ,  6.1,  2.3],
       [ 6.3,  3.4,  5.6,  2.4],
       [ 6.4,  3.1,  5.5,  1.8],
       [ 6. ,  3. ,  4.8,  1.8],
       [ 6.9,  3.1,  5.4,  2.1],
       [ 6.7,  3.1,  5.6,  2.4],
       [ 6.9,  3.1,  5.1,  2.3],
       [ 5.8,  2.7,  5.1,  1.9],
       [ 6.8,  3.2,  5.9,  2.3],
       [ 6.7,  3.3,  5.7,  2.5],
       [ 6.7,  3. ,  5.2,  2.3],
       [ 6.3,  2.5,  5. ,  1.9],
       [ 6.5,  3. ,  5.2,  2. ],
       [ 6.2,  3.4,  5.4,  2.3],
       [ 5.9,  3. ,  5.1,  1.8]])

In [17]:
iris.data[:10]

array([[ 5.1,  3.5,  1.4,  0.2],
       [ 4.9,  3. ,  1.4,  0.2],
       [ 4.7,  3.2,  1.3,  0.2],
       [ 4.6,  3.1,  1.5,  0.2],
       [ 5. ,  3.6,  1.4,  0.2],
       [ 5.4,  3.9,  1.7,  0.4],
       [ 4.6,  3.4,  1.4,  0.3],
       [ 5. ,  3.4,  1.5,  0.2],
       [ 4.4,  2.9,  1.4,  0.2],
       [ 4.9,  3.1,  1.5,  0.1]])

In [8]:
iris.DESCR

'Iris Plants Database\n====================\n\nNotes\n-----\nData Set Characteristics:\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20  0.76     0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThis is a copy of UCI ML iris datasets.\nhttp://archive.ics.uci.edu/ml/datasets/Iris\n\nThe famous Iris database, first used by Sir R.A Fisher\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\nReferences\n----------\n   - Fisher,R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda,R.O., & Hart,P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...\n'

In [9]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [18]:
import pandas as pd 
df = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\mergehsi\\FinishedDataset\\merge_dataset.h5')
df

,amplitude,amplitudeDuration,amplitudeSlope,biggestGain,maxdrawdown,realizedVol,returnSkewness,rtn_1min_std,rtn_5min_std,sidewayDuration,trendIndex,vol_sum
2013-05-02,568.0,10.000000,56.800000,0.014093,0.012411,0.092505,3.890301,0.001067,0.001467,0.983333,0.012277,58482
2013-05-03,625.0,214.966667,2.907428,0.019325,0.021591,0.235902,1.852303,0.002550,0.002873,0.983333,0.017735,62439
2013-05-06,559.0,87.983333,6.353476,0.018187,0.020178,0.162300,0.133242,0.002555,0.003554,4.983333,-0.004564,59643
2013-05-07,585.0,404.000000,1.448020,0.025476,0.018727,0.180687,0.066830,0.001832,0.000594,11.966667,0.005810,56184
2013-05-08,512.0,347.050000,1.475292,0.014060,0.013140,0.142982,-0.471313,0.001507,0.000677,2.966667,-0.002365,57318
2013-05-09,547.0,4.950000,110.505051,0.012167,0.012063,0.144753,-0.620471,0.000902,0.000701,10.933333,-0.003490,49018
2013-05-10,553.0,9.966667,55.484950,0.017937,0.017706,0.156307,-0.129824,0.001771,0.003609,54.966667,0.003930,55768
2013-05-13,715.0,338.000000,2.115385,0.013406,0.020475,0.155454,0.885785,0.001258,0.002010,11.983333,-0.010364,58434
2013-05-14,671.0,213.983333,3.135758,0.014908,0.021016,0.161783,6.413391,0.001629,0.001683,0.983333,0.006441,60849
2013-05-15,552.0,144.016667,3.832890,0.016553,0.017696,0.189238,0.367639,0.002435,0.002052,66.983333,-0.001634,57049
2013-05-16,628.0,117.983333,5.322786,0.016170,0.014655,0.178896,0.634664,0.001334,0.001074,10.983333,-0.002419,74149
2013-05-20,630.0,111.950000,5.627512,0.024038,0.013274,0.256886,2.643022,0.002288,0.002732,0.983333,0.022001,67500
2013-05-21,485.0,331.000000,1.465257,0.013359,0.014253,0.219516,-0.342091,0.001480,0.000632,2.983333,-0.001109,55013
2013-05-22,637.0,64.000000,9.953125,0.021411,0.026244,0.282221,1.147721,0.003634,0.003134,225.983333,0.005079,47152
2013-05-23,1060.0,308.033333,3.441186,0.020676,0.037836,0.687830,-0.038224,0.003556,0.004982,1.950000,-0.010572,142424
2013-05-24,690.0,200.016667,3.449713,0.021326,0.024154,0.661329,0.817979,0.003310,0.004160,0.983333,0.027670,100157
2013-05-27,618.0,375.983333,1.643690,0.022100,0.016388,1.068466,0.529666,0.004060,0.003693,1.983333,0.021366,102698
2013-05-28,647.0,103.000000,6.281553,0.025833,0.016642,1.960805,0.077874,0.005699,0.007085,0.983333,0.035936,185882
2013-05-29,748.0,366.000000,2.043716,0.018962,0.026475,5.542903,0.037078,0.008173,0.008282,0.983333,-0.004560,163210
2013-05-30,744.0,220.000000,3.381818,0.021735,0.027333,1.962995,0.467210,0.005394,0.005665,1.983333,0.005180,94612
2013-05-31,365.0,374.000000,0.975936,0.006559,0.010627,0.005547,-0.843686,0.000522,0.001035,41.983333,-0.006338,65228
2013-06-03,478.0,368.000000,1.298913,0.014509,0.014884,0.005557,-0.251361,0.000532,0.001303,10.983333,0.000726,73255
2013-06-04,315.0,133.966667,2.351331,0.007163,0.009356,0.003309,0.259127,0.000570,0.001054,0.983333,-0.005788,58837
2013-06-05,377.0,282.050000,1.336642,0.009780,0.011311,0.005190,-0.418137,0.000431,0.000988,227.983333,-0.002295,71319
2013-06-06,310.0,225.000000,1.377778,0.005897,0.008974,0.003504,0.632328,0.000431,0.000837,136.983333,-0.005512,62617
2013-06-07,430.0,203.016667,2.118053,0.009598,0.016837,0.005087,1.275343,0.000573,0.001254,111.966667,-0.006851,80701
2013-06-10,318.0,111.000000,2.864865,0.007926,0.009568,0.004380,-0.295615,0.000435,0.001083,249.983333,-0.004305,67005
2013-06-11,428.0,334.050000,1.281245,0.007758,0.014836,0.004037,-0.422797,0.000570,0.000881,31.883333,-0.007239,69992
2013-06-13,501.0,258.966667,1.934612,0.016654,0.021691,0.013639,-0.669404,0.000881,0.001350,17.983333,-0.006333,114990
2013-06-14,347.0,302.000000,1.149007,0.008144,0.009029,0.006363,-0.650256,0.000514,0.001194,18.983333,-0.006781,69460
...,...,...,...,...,...,...,...,...,...,...,...,...
2015-10-19,225.0,83.000000,2.710843,0.007994,0.006855,0.000520,-0.122807,0.000498,0.000801,33.983333,0.000826,86685
2015-10-20,250.0,291.000000,0.859107,0.006619,0.008691,0.000490,-0.282092,0.000374,0.000716,241.983333,-0.002675,95773
2015-10-22,170.0,398.983333,0.426083,0.006114,0.005204,0.000375,0.265295,0.000347,0.000604,420.000000,0.001862,87778
2015-10-23,212.0,34.983333,6.060029,0.003331,0.007131,0.000646,-0.531409,0.000329,0.000624,26.983333,-0.003336,102187
2015-10-26,383.0,419.950000,0.912013,0.005778,0.015930,0.001103,-0.567365,0.000542,0.000852,21.983333,-0.015962,143403
2015-10-27,260.0,198.000000,1.313131,0.010218,0.009815,0.003224,-0.547459,0.000395,0.000884,18.983333,-0.003485,185704
2015-10-28,220.0,315.983333,0.696239,0.005259,0.008604,0.002578,-0.217331,0.000461,0.000684,355.983333,-0.001918,145228
2015-10-29,328.0,399.000000,0.822055,0.006534,0.013485,0.025938,0.219528,0.000758,0.001212,36.983333,-0.013260,105206
2015-10-30,627.0,173.000000,3.624277,0.009017,0.009199,0.007786,-0.055165,0.000501,0.001031,21.983333,-0.004223,96349
2015-11-02,640.0,270.000000,2.370370,0.011109,0.012228,0.010991,-0.306401,0.000519,0.000861,100.983333,-0.004009,97183
2015-11-03,529.0,63.983333,8.267778,0.006439,0.005162,0.008424,0.853206,0.000318,0.000746,31.983333,0.002988,77102
2015-11-04,1040.0,130.000000,8.000000,0.028148,0.017980,0.010479,0.258708,0.000822,0.001812,31.983333,0.021329,144547
2015-11-05,600.0,48.000000,12.500000,0.009065,0.008206,0.008366,0.344689,0.000531,0.001107,59.983333,-0.002558,110281
2015-11-06,555.0,418.983333,1.324635,0.005319,0.008425,0.021335,-0.455525,0.000433,0.000924,7.983333,-0.007152,90779
2015-11-09,655.0,295.000000,2.220339,0.012719,0.014478,0.002128,1.801454,0.000465,0.001116,19.983333,-0.001640,98906
2015-11-10,720.0,259.000000,2.779923,0.006272,0.009172,0.013415,-0.760581,0.000427,0.000887,10.983333,-0.003854,110719
2015-11-11,526.0,259.000000,2.030888,0.006149,0.006915,0.003644,-0.015146,0.000396,0.000761,28.983333,0.003970,106127
2015-11-12,997.0,380.983333,2.616912,0.030357,0.004566,0.011436,2.459174,0.000605,0.001489,5.983333,0.027355,134614
2015-11-13,590.0,282.983333,2.084928,0.006047,0.011633,0.009161,-1.288418,0.000463,0.001063,4.983333,-0.008747,115808
2015-11-16,580.0,419.966667,1.381062,0.008454,0.004580,0.010520,0.143083,0.000380,0.000766,43.983333,0.005993,96974
2015-11-17,610.0,183.000000,3.333333,0.010292,0.010320,0.003539,0.099503,0.000435,0.000850,47.983333,-0.000630,118683
2015-11-18,565.0,391.000000,1.445013,0.004962,0.009578,0.004514,-0.404190,0.000445,0.001073,52.983333,-0.007391,100056
2015-11-19,498.0,66.983333,7.434685,0.006743,0.005322,0.009112,0.378167,0.000355,0.000767,420.000000,0.001668,106799
2015-11-20,753.0,391.983333,1.921000,0.017345,0.005234,0.005332,1.801915,0.000378,0.001013,379.983333,0.010670,96005
2015-11-23,536.0,173.000000,3.098266,0.007506,0.008371,0.010078,-0.353297,0.000496,0.000973,19.983333,-0.004968,120925
2015-11-24,666.0,237.983333,2.798515,0.010307,0.012731,0.029879,0.036744,0.000563,0.001128,5.983333,-0.007105,171278
2015-11-25,535.0,142.000000,3.767606,0.009095,0.009587,0.020783,0.365486,0.000625,0.001005,265.983333,-0.000063,182369
2015-11-26,991.0,316.000000,3.136076,0.010348,0.017552,0.057834,2.272554,0.000793,0.001578,0.983333,-0.003790,163362
2015-11-27,962.0,418.983333,2.296034,0.009590,0.026225,0.132658,-1.084465,0.001594,0.001941,15.983333,-0.027959,136682
2015-11-30,641.0,284.000000,2.257042,0.013396,0.012046,0.010128,-0.840430,0.000625,0.001526,0.983333,-0.005571,126395

In [20]:
df1 = pd.read_hdf('C://Users//Administrator//Desktop//Work//data//hsi_account/account_data_sumprofit.h5')
df1

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit,sum_profit
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000,104.0,104.0
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000,11.0,11.0
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000,25.0,25.0
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000,-27.0,-27.0
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000,104.0,104.0
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0,28.0
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000,20.0,20.0
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000,106.0,106.0
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000,-42.0,-17.0
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000,-47.0,-47.0
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000,15.0,15.0
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000,13.0,-34.0
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000,3.0,3.0
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000,104.0,104.0
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000,-47.0,-27.0
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000,10.0,-7.0
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000,71.0,37.0
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0,-19.0
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000,58.0,69.0
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000,9.0,2.0
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000,17.0,19.0
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000,48.0,21.0
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0,9.0
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000,34.0,34.0
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0,37.0
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000,6.0,110.0
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000,9.0,113.0
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000,46.0,61.0
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000,15.0,119.0
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000,28.0,138.0
...,...,...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000,8.0,-1992.0
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000,8.0,236.0
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000,7.0,13218.0
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000,9.0,4898.0
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000,4.0,47.0
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000,10.0,283.0
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000,8.0,570.0
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000,8.0,360.0
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000,-10.0,-110.0
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000,10.0,293.0
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000,-8.0,1766.0
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000,18.0,588.0
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000,8.0,301.0
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000,10.0,-922.0
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000,4.0,305.0
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000,10.0,315.0
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000,-5.0,1761.0
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000,4.0,-1988.0
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000,9.0,38.0
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000,10.0,91.0
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000,9.0,825.0
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000,-37.0,10.0
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000,-35.0,1087.0
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000,-20.0,1067.0
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000,8.0,-376.0
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000,11.0,-1807.0
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000,6.0,-2373.0
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000,11.0,599.0
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000,11.0,-1796.0
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000,7.0,3938.0

In [21]:
df1.index

DatetimeIndex(['2013-05-02 09:15:05', '2013-05-02 09:15:12',
               '2013-05-02 09:15:53', '2013-05-02 09:15:55',
               '2013-05-02 09:16:21', '2013-05-02 09:17:08',
               '2013-05-02 09:18:56', '2013-05-02 09:19:49',
               '2013-05-02 09:22:39', '2013-05-02 09:22:47',
               ...
               '2015-12-30 15:53:05', '2015-12-30 15:56:14',
               '2015-12-30 15:56:51', '2015-12-30 15:57:40',
               '2015-12-30 15:58:29', '2015-12-30 15:58:41',
               '2015-12-30 15:59:19', '2015-12-30 15:59:20',
               '2015-12-30 15:59:28', '2015-12-30 16:08:16'],
              dtype='datetime64[ns]', length=402760, freq=None)

In [22]:
df2 = df1['2013-05-02':'2015-11-30']

In [24]:
df2

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit,sum_profit
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000,104.0,104.0
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000,11.0,11.0
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000,25.0,25.0
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000,-27.0,-27.0
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000,104.0,104.0
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0,28.0
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000,20.0,20.0
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000,106.0,106.0
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000,-42.0,-17.0
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000,-47.0,-47.0
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000,15.0,15.0
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000,13.0,-34.0
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000,3.0,3.0
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000,104.0,104.0
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000,-47.0,-27.0
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000,10.0,-7.0
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000,71.0,37.0
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0,-19.0
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000,58.0,69.0
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000,9.0,2.0
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000,17.0,19.0
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000,48.0,21.0
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0,9.0
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000,34.0,34.0
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0,37.0
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000,6.0,110.0
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000,9.0,113.0
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000,46.0,61.0
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000,15.0,119.0
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000,28.0,138.0
...,...,...,...,...,...,...,...,...,...
2015-11-30 15:51:12,A1155,HSIZ5,1,22003.0,2015-11-30 15:51:12.000,22033.0,2015-11-30 15:52:40.000,30.0,1366.0
2015-11-30 15:51:26,A1341,HSIZ5,1,22002.0,2015-11-30 15:51:26.000,22022.0,2015-11-30 15:52:34.000,20.0,327.0
2015-11-30 15:52:47,A1037,HSIZ5,2,22022.0,2015-11-30 15:52:47.000,21997.0,2015-11-30 15:55:30.000,25.0,-340.0
2015-11-30 15:53:40,A0775,HSIZ5,1,22024.0,2015-11-30 15:53:40.000,21977.0,2015-11-30 15:56:44.000,-47.0,12546.0
2015-11-30 15:53:56,A0577,HSIZ5,2,22015.0,2015-11-30 15:53:56.000,21970.0,2015-11-30 15:56:50.000,45.0,1613.0
2015-11-30 15:56:09,A1243,HSIZ5,2,21990.0,2015-11-30 15:56:09.000,21980.0,2015-11-30 15:56:42.000,10.0,869.0
2015-11-30 15:56:11,A0722,HSIZ5,1,21990.0,2015-11-30 15:56:11.000,21974.0,2015-11-30 15:59:34.000,-16.0,-283.0
2015-11-30 15:56:20,A1536,HSIZ5,2,21987.0,2015-11-30 15:56:20.000,21972.0,2015-11-30 15:56:51.000,15.0,212.0
2015-11-30 15:56:23,A0369,HSIZ5,2,21987.0,2015-11-30 15:56:23.000,21972.0,2015-11-30 15:56:55.000,15.0,-447.0
2015-11-30 15:56:37,A0025,HSIZ5,1,21981.0,2015-11-30 15:56:37.000,21934.0,2015-11-30 15:58:17.000,-47.0,665.0
2015-11-30 15:56:38,A1460,HSIZ5,2,21980.0,2015-11-30 15:56:38.000,21964.0,2015-11-30 15:57:26.000,16.0,558.0
2015-11-30 15:57:27,A1037,HSIZ5,1,21964.0,2015-11-30 15:57:27.000,21917.0,2015-11-30 15:58:45.000,-47.0,-387.0
2015-11-30 15:57:43,A0576,HSIZ5,1,21951.0,2015-11-30 15:57:43.000,21921.0,2015-11-30 15:59:02.000,-30.0,870.0
2015-11-30 15:57:59,A0722,HSIZ5,1,21953.0,2015-11-30 15:57:59.000,21976.0,2015-11-30 15:59:28.000,23.0,-260.0
2015-11-30 15:58:02,A0577,HSIZ5,2,21946.0,2015-11-30 15:58:02.000,21893.0,2015-11-30 16:06:04.000,53.0,1666.0
2015-11-30 15:58:13,A1104,HSIZ5,1,21938.0,2015-11-30 15:58:13.000,21948.0,2015-11-30 15:59:14.000,10.0,2973.0
2015-11-30 15:58:19,A1536,HSIZ5,2,21924.0,2015-11-30 15:58:19.000,21931.0,2015-11-30 15:59:06.000,-7.0,205.0
2015-11-30 15:58:28,A0576,HSIZ5,2,21926.0,2015-11-30 15:58:28.000,21973.0,2015-11-30 15:59:28.000,-47.0,823.0
2015-11-30 15:58:32,A0722,HSIZ5,1,21926.0,2015-11-30 15:58:32.000,21948.0,2015-11-30 15:59:15.000,22.0,-238.0
2015-11-30 15:58:36,A0577,HSIZ5,2,21924.0,2015-11-30 15:58:36.000,21971.0,2015-11-30 15:59:27.000,-47.0,1619.0
2015-11-30 15:58:43,A1502,HSIZ5,1,21921.0,2015-11-30 15:58:43.000,21964.0,2015-11-30 15:59:24.000,43.0,294.0
2015-11-30 15:58:49,A1104,HSIZ5,1,21922.0,2015-11-30 15:58:49.000,21957.0,2015-11-30 15:59:20.000,35.0,3008.0
2015-11-30 15:59:08,A0877,HSIZ5,1,21934.0,2015-11-30 15:59:08.000,21972.0,2015-11-30 15:59:42.000,38.0,4207.0
2015-11-30 15:59:34,A1502,HSIZ5,2,21974.0,2015-11-30 15:59:34.000,21962.0,2015-11-30 16:00:18.000,12.0,306.0
2015-11-30 15:59:47,A1491,HSIZ5,2,21967.0,2015-11-30 15:59:47.000,21917.0,2015-11-30 16:03:25.000,50.0,456.0
2015-11-30 15:59:55,A1104,HSIZ5,2,21975.0,2015-11-30 15:59:55.000,21947.0,2015-11-30 16:01:03.000,28.0,3036.0
2015-11-30 16:00:13,A1116,HSIZ5,2,21965.0,2015-11-30 16:00:13.000,21953.0,2015-11-30 16:00:54.000,12.0,2030.0
2015-11-30 16:01:33,A1536,HSIZ5,2,21941.0,2015-11-30 16:01:33.000,21933.0,2015-11-30 16:02:20.000,8.0,213.0
2015-11-30 16:03:15,A1536,HSIZ5,2,21910.0,2015-11-30 16:03:15.000,21923.0,2015-11-30 16:05:02.000,-13.0,200.0
2015-11-30 16:05:43,A1491,HSIZ5,2,21919.0,2015-11-30 16:05:43.000,21909.0,2015-11-30 16:14:58.000,10.0,466.0

In [25]:
sr1 = df2.groupby(df2.index.date).profit.sum()
sr1

2013-05-02    1322.0
2013-05-03    1364.0
2013-05-06    2261.0
2013-05-07      81.0
2013-05-08     591.0
2013-05-09    1104.0
2013-05-10    -625.0
2013-05-13     407.0
2013-05-14      77.0
2013-05-15     210.0
2013-05-16    1133.0
2013-05-20    -558.0
2013-05-21      99.0
2013-05-22    -263.0
2013-05-23   -1348.0
2013-05-24     944.0
2013-05-27    1683.0
2013-05-28     592.0
2013-05-29   -1028.0
2013-05-30   -2136.0
2013-05-31    1312.0
2013-06-03    -401.0
2013-06-04     808.0
2013-06-05    -917.0
2013-06-06    -168.0
2013-06-07   -1228.0
2013-06-10     673.0
2013-06-11     161.0
2013-06-13   -1631.0
2013-06-14     140.0
               ...
2015-10-19    2592.0
2015-10-20    3256.0
2015-10-22     866.0
2015-10-23     269.0
2015-10-26    -443.0
2015-10-27     773.0
2015-10-28    1758.0
2015-10-29     955.0
2015-10-30    2478.0
2015-11-02    1928.0
2015-11-03    2045.0
2015-11-04   -2270.0
2015-11-05     379.0
2015-11-06    1853.0
2015-11-09     906.0
2015-11-10    3972.0
2015-11-11    2321.0
2015-11-12   -6181.0
2015-11-13    1087.0
2015-11-16    1087.0
2015-11-17     867.0
2015-11-18    2822.0
2015-11-19    3731.0
2015-11-20   -1460.0
2015-11-23    1911.0
2015-11-24    3465.0
2015-11-25    3492.0
2015-11-26     457.0
2015-11-27   -8260.0
2015-11-30    4263.0
Name: profit, Length: 637, dtype: float64

In [26]:
df3 = pd.DataFrame([sr1])

In [29]:
df3 = df3.T
df3

            profit
2013-05-02  1322.0
2013-05-03  1364.0
2013-05-06  2261.0
2013-05-07    81.0
2013-05-08   591.0
2013-05-09  1104.0
2013-05-10  -625.0
2013-05-13   407.0
2013-05-14    77.0
2013-05-15   210.0
2013-05-16  1133.0
2013-05-20  -558.0
2013-05-21    99.0
2013-05-22  -263.0
2013-05-23 -1348.0
2013-05-24   944.0
2013-05-27  1683.0
2013-05-28   592.0
2013-05-29 -1028.0
2013-05-30 -2136.0
2013-05-31  1312.0
2013-06-03  -401.0
2013-06-04   808.0
2013-06-05  -917.0
2013-06-06  -168.0
2013-06-07 -1228.0
2013-06-10   673.0
2013-06-11   161.0
2013-06-13 -1631.0
2013-06-14   140.0
...            ...
2015-10-19  2592.0
2015-10-20  3256.0
2015-10-22   866.0
2015-10-23   269.0
2015-10-26  -443.0
2015-10-27   773.0
2015-10-28  1758.0
2015-10-29   955.0
2015-10-30  2478.0
2015-11-02  1928.0
2015-11-03  2045.0
2015-11-04 -2270.0
2015-11-05   379.0
2015-11-06  1853.0
2015-11-09   906.0
2015-11-10  3972.0
2015-11-11  2321.0
2015-11-12 -6181.0
2015-11-13  1087.0
2015-11-16  1087.0
2015-11-17   867.0
2015-11-18  2822.0
2015-11-19  3731.0
2015-11-20 -1460.0
2015-11-23  1911.0
2015-11-24  3465.0
2015-11-25  3492.0
2015-11-26   457.0
2015-11-27 -8260.0
2015-11-30  4263.0

[637 rows x 1 columns]

In [30]:
df3.index

Index([2013-05-02, 2013-05-03, 2013-05-06, 2013-05-07, 2013-05-08, 2013-05-09,
       2013-05-10, 2013-05-13, 2013-05-14, 2013-05-15,
       ...
       2015-11-17, 2015-11-18, 2015-11-19, 2015-11-20, 2015-11-23, 2015-11-24,
       2015-11-25, 2015-11-26, 2015-11-27, 2015-11-30],
      dtype='object', length=637)

In [31]:
df.index

Index([2013-05-02, 2013-05-03, 2013-05-06, 2013-05-07, 2013-05-08, 2013-05-09,
       2013-05-10, 2013-05-13, 2013-05-14, 2013-05-15,
       ...
       2015-11-17, 2015-11-18, 2015-11-19, 2015-11-20, 2015-11-23, 2015-11-24,
       2015-11-25, 2015-11-26, 2015-11-27, 2015-11-30],
      dtype='object', length=637)