In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,5,np.nan,6,9,10,11])

In [3]:
s

0     1.0
1     3.0
2     5.0
3     NaN
4     6.0
5     9.0
6    10.0
7    11.0
dtype: float64

In [5]:
dates = pd.date_range('20170918',periods = 7)
dates

DatetimeIndex(['2017-09-18', '2017-09-19', '2017-09-20', '2017-09-21',
               '2017-09-22', '2017-09-23', '2017-09-24'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn (7,5), index = dates,columns = list('ABCDE'))

In [7]:
df

                   A         B         C         D         E
2017-09-18  0.623726  0.555961  0.554159  0.207624 -1.334903
2017-09-19 -1.261741  1.611252 -1.073116 -1.968401  0.953691
2017-09-20 -1.119354 -0.326414 -0.022812 -1.411040  1.811851
2017-09-21  2.078707  0.677818  1.162163 -1.923501  0.458266
2017-09-22  0.279650 -0.978050 -0.401023 -0.097844  0.211954
2017-09-23  0.588165 -0.221428  1.187948 -0.179808  0.366893
2017-09-24 -1.003102  1.224259 -0.085742  0.314949  0.245683

In [13]:
df2 = pd.DataFrame({'a' : 1.,
                    'b' : pd.Timestamp('20170918'),
                    'c' : pd.Series(1, index = list(range(4)),dtype = 'float32'),
                    'd' : np.array([88]*4,dtype ='float32'),
                    'e' : pd.Categorical(["OK","No","OK","No"]),
                    'f' : 'abcdef'})

In [14]:
df2

     a          b    c     d   e       f
0  1.0 2017-09-18  1.0  88.0  OK  abcdef
1  1.0 2017-09-18  1.0  88.0  No  abcdef
2  1.0 2017-09-18  1.0  88.0  OK  abcdef
3  1.0 2017-09-18  1.0  88.0  No  abcdef

In [15]:
df2.dtypes

a           float64
b    datetime64[ns]
c           float32
d           float32
e          category
f            object
dtype: object

In [16]:
df.head(4)

                   A         B         C         D         E
2017-09-18  0.623726  0.555961  0.554159  0.207624 -1.334903
2017-09-19 -1.261741  1.611252 -1.073116 -1.968401  0.953691
2017-09-20 -1.119354 -0.326414 -0.022812 -1.411040  1.811851
2017-09-21  2.078707  0.677818  1.162163 -1.923501  0.458266

In [17]:
df2.tail(2)

     a          b    c     d   e       f
2  1.0 2017-09-18  1.0  88.0  OK  abcdef
3  1.0 2017-09-18  1.0  88.0  No  abcdef

In [18]:
df.index

DatetimeIndex(['2017-09-18', '2017-09-19', '2017-09-20', '2017-09-21',
               '2017-09-22', '2017-09-23', '2017-09-24'],
              dtype='datetime64[ns]', freq='D')

In [19]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [20]:
df.values

array([[ 0.62372561,  0.55596125,  0.55415867,  0.20762363, -1.33490267],
       [-1.26174121,  1.61125152, -1.0731161 , -1.96840061,  0.95369063],
       [-1.11935425, -0.32641384, -0.02281201, -1.4110401 ,  1.8118507 ],
       [ 2.07870735,  0.67781845,  1.16216322, -1.92350122,  0.458266  ],
       [ 0.27964965, -0.97804991, -0.40102259, -0.09784437,  0.2119541 ],
       [ 0.58816517, -0.2214276 ,  1.18794779, -0.17980806,  0.36689262],
       [-1.00310239,  1.22425942, -0.08574245,  0.31494928,  0.24568328]])

In [21]:
df.describe()

              A         B         C         D         E
count  7.000000  7.000000  7.000000  7.000000  7.000000
mean   0.026579  0.363343  0.188797 -0.722574  0.387634
std    1.223412  0.917561  0.830632  1.007877  0.946254
min   -1.261741 -0.978050 -1.073116 -1.968401 -1.334903
25%   -1.061228 -0.273921 -0.243383 -1.667271  0.228819
50%    0.279650  0.555961 -0.022812 -0.179808  0.366893
75%    0.605945  0.951039  0.858161  0.054890  0.705978
max    2.078707  1.611252  1.187948  0.314949  1.811851

In [22]:
df.sort_index(axis = 1, ascending =False)

                   E         D         C         B         A
2017-09-18 -1.334903  0.207624  0.554159  0.555961  0.623726
2017-09-19  0.953691 -1.968401 -1.073116  1.611252 -1.261741
2017-09-20  1.811851 -1.411040 -0.022812 -0.326414 -1.119354
2017-09-21  0.458266 -1.923501  1.162163  0.677818  2.078707
2017-09-22  0.211954 -0.097844 -0.401023 -0.978050  0.279650
2017-09-23  0.366893 -0.179808  1.187948 -0.221428  0.588165
2017-09-24  0.245683  0.314949 -0.085742  1.224259 -1.003102

In [25]:
df

                   A         B         C         D         E
2017-09-18  0.623726  0.555961  0.554159  0.207624 -1.334903
2017-09-19 -1.261741  1.611252 -1.073116 -1.968401  0.953691
2017-09-20 -1.119354 -0.326414 -0.022812 -1.411040  1.811851
2017-09-21  2.078707  0.677818  1.162163 -1.923501  0.458266
2017-09-22  0.279650 -0.978050 -0.401023 -0.097844  0.211954
2017-09-23  0.588165 -0.221428  1.187948 -0.179808  0.366893
2017-09-24 -1.003102  1.224259 -0.085742  0.314949  0.245683

In [28]:
df.sort(columns= 'C')

AttributeError: 'DataFrame' object has no attribute 'sort'

In [29]:
df['A']

2017-09-18    0.623726
2017-09-19   -1.261741
2017-09-20   -1.119354
2017-09-21    2.078707
2017-09-22    0.279650
2017-09-23    0.588165
2017-09-24   -1.003102
Freq: D, Name: A, dtype: float64

In [30]:
df[0:4]

                   A         B         C         D         E
2017-09-18  0.623726  0.555961  0.554159  0.207624 -1.334903
2017-09-19 -1.261741  1.611252 -1.073116 -1.968401  0.953691
2017-09-20 -1.119354 -0.326414 -0.022812 -1.411040  1.811851
2017-09-21  2.078707  0.677818  1.162163 -1.923501  0.458266

In [31]:
df.loc[dates[1]]

A   -1.261741
B    1.611252
C   -1.073116
D   -1.968401
E    0.953691
Name: 2017-09-19 00:00:00, dtype: float64

In [32]:
df.loc[:,['A','B']]

                   A         B
2017-09-18  0.623726  0.555961
2017-09-19 -1.261741  1.611252
2017-09-20 -1.119354 -0.326414
2017-09-21  2.078707  0.677818
2017-09-22  0.279650 -0.978050
2017-09-23  0.588165 -0.221428
2017-09-24 -1.003102  1.224259

In [33]:
df.loc['20170920':'20170922',['B','D']]

                   B         D
2017-09-20 -0.326414 -1.411040
2017-09-21  0.677818 -1.923501
2017-09-22 -0.978050 -0.097844

In [34]:
df.loc['20170920',['A','B']]

A   -1.119354
B   -0.326414
Name: 2017-09-20 00:00:00, dtype: float64

In [35]:
df.at[dates[1],'E']

0.95369062658671511

In [36]:
df.iloc[2]

A   -1.119354
B   -0.326414
C   -0.022812
D   -1.411040
E    1.811851
Name: 2017-09-20 00:00:00, dtype: float64

In [41]:
df.iloc[0:3,0:2]

                   A         B
2017-09-18  0.623726  0.555961
2017-09-19 -1.261741  1.611252
2017-09-20 -1.119354 -0.326414

In [42]:
df.iloc[0,0]

0.62372561093561163

In [43]:
df[df.A>0]

                   A         B         C         D         E
2017-09-18  0.623726  0.555961  0.554159  0.207624 -1.334903
2017-09-21  2.078707  0.677818  1.162163 -1.923501  0.458266
2017-09-22  0.279650 -0.978050 -0.401023 -0.097844  0.211954
2017-09-23  0.588165 -0.221428  1.187948 -0.179808  0.366893

In [44]:
df[df>0]

                   A         B         C         D         E
2017-09-18  0.623726  0.555961  0.554159  0.207624       NaN
2017-09-19       NaN  1.611252       NaN       NaN  0.953691
2017-09-20       NaN       NaN       NaN       NaN  1.811851
2017-09-21  2.078707  0.677818  1.162163       NaN  0.458266
2017-09-22  0.279650       NaN       NaN       NaN  0.211954
2017-09-23  0.588165       NaN  1.187948       NaN  0.366893
2017-09-24       NaN  1.224259       NaN  0.314949  0.245683

In [46]:
df2 =df.copy()

In [47]:
df

                   A         B         C         D         E
2017-09-18  0.623726  0.555961  0.554159  0.207624 -1.334903
2017-09-19 -1.261741  1.611252 -1.073116 -1.968401  0.953691
2017-09-20 -1.119354 -0.326414 -0.022812 -1.411040  1.811851
2017-09-21  2.078707  0.677818  1.162163 -1.923501  0.458266
2017-09-22  0.279650 -0.978050 -0.401023 -0.097844  0.211954
2017-09-23  0.588165 -0.221428  1.187948 -0.179808  0.366893
2017-09-24 -1.003102  1.224259 -0.085742  0.314949  0.245683

In [48]:
df2

                   A         B         C         D         E
2017-09-18  0.623726  0.555961  0.554159  0.207624 -1.334903
2017-09-19 -1.261741  1.611252 -1.073116 -1.968401  0.953691
2017-09-20 -1.119354 -0.326414 -0.022812 -1.411040  1.811851
2017-09-21  2.078707  0.677818  1.162163 -1.923501  0.458266
2017-09-22  0.279650 -0.978050 -0.401023 -0.097844  0.211954
2017-09-23  0.588165 -0.221428  1.187948 -0.179808  0.366893
2017-09-24 -1.003102  1.224259 -0.085742  0.314949  0.245683

In [49]:
df2['F'] = ['true','true','true','false','true','true','false']

In [50]:
df2

                   A         B         C         D         E      F
2017-09-18  0.623726  0.555961  0.554159  0.207624 -1.334903   true
2017-09-19 -1.261741  1.611252 -1.073116 -1.968401  0.953691   true
2017-09-20 -1.119354 -0.326414 -0.022812 -1.411040  1.811851   true
2017-09-21  2.078707  0.677818  1.162163 -1.923501  0.458266  false
2017-09-22  0.279650 -0.978050 -0.401023 -0.097844  0.211954   true
2017-09-23  0.588165 -0.221428  1.187948 -0.179808  0.366893   true
2017-09-24 -1.003102  1.224259 -0.085742  0.314949  0.245683  false

In [51]:
df2[df2['F'].isin(['true'])]

                   A         B         C         D         E     F
2017-09-18  0.623726  0.555961  0.554159  0.207624 -1.334903  true
2017-09-19 -1.261741  1.611252 -1.073116 -1.968401  0.953691  true
2017-09-20 -1.119354 -0.326414 -0.022812 -1.411040  1.811851  true
2017-09-22  0.279650 -0.978050 -0.401023 -0.097844  0.211954  true
2017-09-23  0.588165 -0.221428  1.187948 -0.179808  0.366893  true