In [4]:
import pandas as pd
df = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\Work\\data\\IC1712\\IC1712.CFE.day.h5')

In [5]:
df

              OPEN    HIGH     LOW   CLOSE  VOLUME
2017-04-24  6039.6  6068.8  5923.4  5927.8   273.0
2017-04-25  5940.0  5978.6  5926.4  5933.4   254.0
2017-04-26  5944.8  5981.0  5944.8  5964.2   265.0
2017-04-27  5942.4  6008.8  5843.0  5989.0   316.0
2017-04-28  5996.0  6010.0  5977.2  6000.2   360.0
2017-05-02  6000.0  6004.2  5944.8  5974.6   280.0
2017-05-03  5980.0  5991.8  5934.2  5945.4   154.0
2017-05-04  5939.8  5993.0  5911.6  5923.0   187.0
2017-05-05  5905.8  5940.4  5840.6  5866.4   352.0
2017-05-08  5852.6  5878.6  5737.8  5737.8   417.0
2017-05-09  5739.6  5778.0  5711.6  5764.4   350.0
2017-05-10  5764.4  5794.0  5620.2  5620.2   341.0
2017-05-11  5599.8  5621.8  5485.8  5594.4   348.0
2017-05-12  5588.0  5604.8  5558.0  5579.8   269.0
2017-05-15  5600.0  5635.0  5588.2  5600.0   284.0
2017-05-16  5588.8  5766.8  5552.2  5765.0   246.0
2017-05-17  5763.0  5820.2  5758.2  5778.0   276.0
2017-05-18  5745.2  5792.8  5714.0  5720.4   222.0
2017-05-19  5734.0  5753.4  5690.2  5718.8   137.0
2017-05-22  5714.8  5750.2  5592.0  5608.2   205.0
2017-05-23  5600.0  5628.0  5503.4  5511.2   260.0
2017-05-24  5486.8  5565.2  5452.2  5558.8   305.0
2017-05-25  5549.4  5673.4  5500.0  5618.2   345.0
2017-05-26  5618.8  5662.2  5611.4  5620.0   264.0
2017-05-31  5715.8  5746.0  5585.0  5589.4   201.0
2017-06-01  5578.6  5611.4  5470.6  5482.6   319.0
2017-06-02  5464.2  5581.8  5425.2  5549.8   368.0
2017-06-05  5587.8  5640.2  5572.8  5575.4   374.0
2017-06-06  5577.0  5628.0  5560.4  5595.8   214.0
2017-06-07  5610.0  5759.8  5608.0  5738.0   415.0
...            ...     ...     ...     ...     ...
2017-08-10  6112.8  6138.2  6044.4  6063.6   431.0
2017-08-11  6033.6  6075.6  5941.0  5957.6   321.0
2017-08-14  5977.4  6103.0  5972.4  6102.6   401.0
2017-08-15  6108.6  6124.4  6085.0  6116.4   370.0
2017-08-16  6110.0  6137.6  6064.8  6122.8   421.0
2017-08-17  6138.8  6180.0  6109.0  6175.0   643.0
2017-08-18  6140.2  6174.8  6135.2  6153.0   555.0
2017-08-21  6174.0  6227.0  6172.0  6211.4   395.0
2017-08-22  6222.2  6222.2  6176.6  6200.8   395.0
2017-08-23  6190.0  6195.0  6113.8  6149.2   453.0
2017-08-24  6160.0  6164.6  6101.8  6112.2   329.0
2017-08-25  6124.8  6226.0  6117.8  6204.6   697.0
2017-08-28  6214.8  6329.8  6205.0  6295.8   915.0
2017-08-29  6295.8  6317.4  6254.4  6275.8   665.0
2017-08-30  6275.0  6334.4  6271.0  6315.8   663.0
2017-08-31  6321.8  6346.0  6298.8  6337.2   646.0
2017-09-01  6346.0  6433.0  6331.4  6402.6   809.0
2017-09-04  6414.0  6450.0  6400.4  6428.2   836.0
2017-09-05  6424.4  6446.0  6396.6  6436.6   715.0
2017-09-06  6429.8  6481.6  6418.0  6466.6   616.0
2017-09-07  6465.0  6489.8  6416.0  6428.8   563.0
2017-09-08  6428.8  6482.0  6388.2  6421.2   944.0
2017-09-11  6421.4  6533.8  6421.4  6533.6  1136.0
2017-09-12  6545.0  6606.2  6500.4  6522.0  1030.0
2017-09-13  6526.8  6573.4  6506.8  6564.8  1028.0
2017-09-14  6537.0  6596.8  6536.0  6558.2  1214.0
2017-09-15  6562.4  6562.4  6485.2  6525.6   958.0
2017-09-18  6527.2  6606.6  6510.2  6606.6   951.0
2017-09-19  6619.8  6621.4  6518.8  6542.0   778.0
2017-09-20  6542.0  6636.4  6537.2  6618.2   680.0

[105 rows x 5 columns]

In [7]:
del df['VOLUME']

In [8]:
df

              OPEN    HIGH     LOW   CLOSE
2017-04-24  6039.6  6068.8  5923.4  5927.8
2017-04-25  5940.0  5978.6  5926.4  5933.4
2017-04-26  5944.8  5981.0  5944.8  5964.2
2017-04-27  5942.4  6008.8  5843.0  5989.0
2017-04-28  5996.0  6010.0  5977.2  6000.2
2017-05-02  6000.0  6004.2  5944.8  5974.6
2017-05-03  5980.0  5991.8  5934.2  5945.4
2017-05-04  5939.8  5993.0  5911.6  5923.0
2017-05-05  5905.8  5940.4  5840.6  5866.4
2017-05-08  5852.6  5878.6  5737.8  5737.8
2017-05-09  5739.6  5778.0  5711.6  5764.4
2017-05-10  5764.4  5794.0  5620.2  5620.2
2017-05-11  5599.8  5621.8  5485.8  5594.4
2017-05-12  5588.0  5604.8  5558.0  5579.8
2017-05-15  5600.0  5635.0  5588.2  5600.0
2017-05-16  5588.8  5766.8  5552.2  5765.0
2017-05-17  5763.0  5820.2  5758.2  5778.0
2017-05-18  5745.2  5792.8  5714.0  5720.4
2017-05-19  5734.0  5753.4  5690.2  5718.8
2017-05-22  5714.8  5750.2  5592.0  5608.2
2017-05-23  5600.0  5628.0  5503.4  5511.2
2017-05-24  5486.8  5565.2  5452.2  5558.8
2017-05-25  5549.4  5673.4  5500.0  5618.2
2017-05-26  5618.8  5662.2  5611.4  5620.0
2017-05-31  5715.8  5746.0  5585.0  5589.4
2017-06-01  5578.6  5611.4  5470.6  5482.6
2017-06-02  5464.2  5581.8  5425.2  5549.8
2017-06-05  5587.8  5640.2  5572.8  5575.4
2017-06-06  5577.0  5628.0  5560.4  5595.8
2017-06-07  5610.0  5759.8  5608.0  5738.0
...            ...     ...     ...     ...
2017-08-10  6112.8  6138.2  6044.4  6063.6
2017-08-11  6033.6  6075.6  5941.0  5957.6
2017-08-14  5977.4  6103.0  5972.4  6102.6
2017-08-15  6108.6  6124.4  6085.0  6116.4
2017-08-16  6110.0  6137.6  6064.8  6122.8
2017-08-17  6138.8  6180.0  6109.0  6175.0
2017-08-18  6140.2  6174.8  6135.2  6153.0
2017-08-21  6174.0  6227.0  6172.0  6211.4
2017-08-22  6222.2  6222.2  6176.6  6200.8
2017-08-23  6190.0  6195.0  6113.8  6149.2
2017-08-24  6160.0  6164.6  6101.8  6112.2
2017-08-25  6124.8  6226.0  6117.8  6204.6
2017-08-28  6214.8  6329.8  6205.0  6295.8
2017-08-29  6295.8  6317.4  6254.4  6275.8
2017-08-30  6275.0  6334.4  6271.0  6315.8
2017-08-31  6321.8  6346.0  6298.8  6337.2
2017-09-01  6346.0  6433.0  6331.4  6402.6
2017-09-04  6414.0  6450.0  6400.4  6428.2
2017-09-05  6424.4  6446.0  6396.6  6436.6
2017-09-06  6429.8  6481.6  6418.0  6466.6
2017-09-07  6465.0  6489.8  6416.0  6428.8
2017-09-08  6428.8  6482.0  6388.2  6421.2
2017-09-11  6421.4  6533.8  6421.4  6533.6
2017-09-12  6545.0  6606.2  6500.4  6522.0
2017-09-13  6526.8  6573.4  6506.8  6564.8
2017-09-14  6537.0  6596.8  6536.0  6558.2
2017-09-15  6562.4  6562.4  6485.2  6525.6
2017-09-18  6527.2  6606.6  6510.2  6606.6
2017-09-19  6619.8  6621.4  6518.8  6542.0
2017-09-20  6542.0  6636.4  6537.2  6618.2

[105 rows x 4 columns]

In [9]:
df = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\Work\\data\\IC1712\\IC1712.CFE.day.h5')
df

              OPEN    HIGH     LOW   CLOSE  VOLUME
2017-04-24  6039.6  6068.8  5923.4  5927.8   273.0
2017-04-25  5940.0  5978.6  5926.4  5933.4   254.0
2017-04-26  5944.8  5981.0  5944.8  5964.2   265.0
2017-04-27  5942.4  6008.8  5843.0  5989.0   316.0
2017-04-28  5996.0  6010.0  5977.2  6000.2   360.0
2017-05-02  6000.0  6004.2  5944.8  5974.6   280.0
2017-05-03  5980.0  5991.8  5934.2  5945.4   154.0
2017-05-04  5939.8  5993.0  5911.6  5923.0   187.0
2017-05-05  5905.8  5940.4  5840.6  5866.4   352.0
2017-05-08  5852.6  5878.6  5737.8  5737.8   417.0
2017-05-09  5739.6  5778.0  5711.6  5764.4   350.0
2017-05-10  5764.4  5794.0  5620.2  5620.2   341.0
2017-05-11  5599.8  5621.8  5485.8  5594.4   348.0
2017-05-12  5588.0  5604.8  5558.0  5579.8   269.0
2017-05-15  5600.0  5635.0  5588.2  5600.0   284.0
2017-05-16  5588.8  5766.8  5552.2  5765.0   246.0
2017-05-17  5763.0  5820.2  5758.2  5778.0   276.0
2017-05-18  5745.2  5792.8  5714.0  5720.4   222.0
2017-05-19  5734.0  5753.4  5690.2  5718.8   137.0
2017-05-22  5714.8  5750.2  5592.0  5608.2   205.0
2017-05-23  5600.0  5628.0  5503.4  5511.2   260.0
2017-05-24  5486.8  5565.2  5452.2  5558.8   305.0
2017-05-25  5549.4  5673.4  5500.0  5618.2   345.0
2017-05-26  5618.8  5662.2  5611.4  5620.0   264.0
2017-05-31  5715.8  5746.0  5585.0  5589.4   201.0
2017-06-01  5578.6  5611.4  5470.6  5482.6   319.0
2017-06-02  5464.2  5581.8  5425.2  5549.8   368.0
2017-06-05  5587.8  5640.2  5572.8  5575.4   374.0
2017-06-06  5577.0  5628.0  5560.4  5595.8   214.0
2017-06-07  5610.0  5759.8  5608.0  5738.0   415.0
...            ...     ...     ...     ...     ...
2017-08-10  6112.8  6138.2  6044.4  6063.6   431.0
2017-08-11  6033.6  6075.6  5941.0  5957.6   321.0
2017-08-14  5977.4  6103.0  5972.4  6102.6   401.0
2017-08-15  6108.6  6124.4  6085.0  6116.4   370.0
2017-08-16  6110.0  6137.6  6064.8  6122.8   421.0
2017-08-17  6138.8  6180.0  6109.0  6175.0   643.0
2017-08-18  6140.2  6174.8  6135.2  6153.0   555.0
2017-08-21  6174.0  6227.0  6172.0  6211.4   395.0
2017-08-22  6222.2  6222.2  6176.6  6200.8   395.0
2017-08-23  6190.0  6195.0  6113.8  6149.2   453.0
2017-08-24  6160.0  6164.6  6101.8  6112.2   329.0
2017-08-25  6124.8  6226.0  6117.8  6204.6   697.0
2017-08-28  6214.8  6329.8  6205.0  6295.8   915.0
2017-08-29  6295.8  6317.4  6254.4  6275.8   665.0
2017-08-30  6275.0  6334.4  6271.0  6315.8   663.0
2017-08-31  6321.8  6346.0  6298.8  6337.2   646.0
2017-09-01  6346.0  6433.0  6331.4  6402.6   809.0
2017-09-04  6414.0  6450.0  6400.4  6428.2   836.0
2017-09-05  6424.4  6446.0  6396.6  6436.6   715.0
2017-09-06  6429.8  6481.6  6418.0  6466.6   616.0
2017-09-07  6465.0  6489.8  6416.0  6428.8   563.0
2017-09-08  6428.8  6482.0  6388.2  6421.2   944.0
2017-09-11  6421.4  6533.8  6421.4  6533.6  1136.0
2017-09-12  6545.0  6606.2  6500.4  6522.0  1030.0
2017-09-13  6526.8  6573.4  6506.8  6564.8  1028.0
2017-09-14  6537.0  6596.8  6536.0  6558.2  1214.0
2017-09-15  6562.4  6562.4  6485.2  6525.6   958.0
2017-09-18  6527.2  6606.6  6510.2  6606.6   951.0
2017-09-19  6619.8  6621.4  6518.8  6542.0   778.0
2017-09-20  6542.0  6636.4  6537.2  6618.2   680.0

[105 rows x 5 columns]

In [99]:
df2 = df.drop(['VOLUME'],axis =1)

In [11]:
df2

              OPEN    HIGH     LOW   CLOSE
2017-04-24  6039.6  6068.8  5923.4  5927.8
2017-04-25  5940.0  5978.6  5926.4  5933.4
2017-04-26  5944.8  5981.0  5944.8  5964.2
2017-04-27  5942.4  6008.8  5843.0  5989.0
2017-04-28  5996.0  6010.0  5977.2  6000.2
2017-05-02  6000.0  6004.2  5944.8  5974.6
2017-05-03  5980.0  5991.8  5934.2  5945.4
2017-05-04  5939.8  5993.0  5911.6  5923.0
2017-05-05  5905.8  5940.4  5840.6  5866.4
2017-05-08  5852.6  5878.6  5737.8  5737.8
2017-05-09  5739.6  5778.0  5711.6  5764.4
2017-05-10  5764.4  5794.0  5620.2  5620.2
2017-05-11  5599.8  5621.8  5485.8  5594.4
2017-05-12  5588.0  5604.8  5558.0  5579.8
2017-05-15  5600.0  5635.0  5588.2  5600.0
2017-05-16  5588.8  5766.8  5552.2  5765.0
2017-05-17  5763.0  5820.2  5758.2  5778.0
2017-05-18  5745.2  5792.8  5714.0  5720.4
2017-05-19  5734.0  5753.4  5690.2  5718.8
2017-05-22  5714.8  5750.2  5592.0  5608.2
2017-05-23  5600.0  5628.0  5503.4  5511.2
2017-05-24  5486.8  5565.2  5452.2  5558.8
2017-05-25  5549.4  5673.4  5500.0  5618.2
2017-05-26  5618.8  5662.2  5611.4  5620.0
2017-05-31  5715.8  5746.0  5585.0  5589.4
2017-06-01  5578.6  5611.4  5470.6  5482.6
2017-06-02  5464.2  5581.8  5425.2  5549.8
2017-06-05  5587.8  5640.2  5572.8  5575.4
2017-06-06  5577.0  5628.0  5560.4  5595.8
2017-06-07  5610.0  5759.8  5608.0  5738.0
...            ...     ...     ...     ...
2017-08-10  6112.8  6138.2  6044.4  6063.6
2017-08-11  6033.6  6075.6  5941.0  5957.6
2017-08-14  5977.4  6103.0  5972.4  6102.6
2017-08-15  6108.6  6124.4  6085.0  6116.4
2017-08-16  6110.0  6137.6  6064.8  6122.8
2017-08-17  6138.8  6180.0  6109.0  6175.0
2017-08-18  6140.2  6174.8  6135.2  6153.0
2017-08-21  6174.0  6227.0  6172.0  6211.4
2017-08-22  6222.2  6222.2  6176.6  6200.8
2017-08-23  6190.0  6195.0  6113.8  6149.2
2017-08-24  6160.0  6164.6  6101.8  6112.2
2017-08-25  6124.8  6226.0  6117.8  6204.6
2017-08-28  6214.8  6329.8  6205.0  6295.8
2017-08-29  6295.8  6317.4  6254.4  6275.8
2017-08-30  6275.0  6334.4  6271.0  6315.8
2017-08-31  6321.8  6346.0  6298.8  6337.2
2017-09-01  6346.0  6433.0  6331.4  6402.6
2017-09-04  6414.0  6450.0  6400.4  6428.2
2017-09-05  6424.4  6446.0  6396.6  6436.6
2017-09-06  6429.8  6481.6  6418.0  6466.6
2017-09-07  6465.0  6489.8  6416.0  6428.8
2017-09-08  6428.8  6482.0  6388.2  6421.2
2017-09-11  6421.4  6533.8  6421.4  6533.6
2017-09-12  6545.0  6606.2  6500.4  6522.0
2017-09-13  6526.8  6573.4  6506.8  6564.8
2017-09-14  6537.0  6596.8  6536.0  6558.2
2017-09-15  6562.4  6562.4  6485.2  6525.6
2017-09-18  6527.2  6606.6  6510.2  6606.6
2017-09-19  6619.8  6621.4  6518.8  6542.0
2017-09-20  6542.0  6636.4  6537.2  6618.2

[105 rows x 4 columns]

In [84]:
df3 = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\Work\\data\\day\\000905.SH.day.h5')
df3

,OPEN,HIGH,LOW,CLOSE,VOLUME,AMT,CHG,PCT_CHG,OI
2016-09-19,6292.8070,6344.4504,6292.8070,6344.1810,5.497876e+09,6.381391e+10,66.0230,1.051630,NaN
2016-09-20,6344.7056,6346.9304,6319.7623,6342.0328,5.450561e+09,6.274195e+10,-2.1482,-0.033861,NaN
2016-09-21,6342.0040,6362.9993,6335.3916,6343.7541,5.029034e+09,6.015214e+10,1.7213,0.027141,NaN
2016-09-22,6381.1565,6410.5700,6377.1734,6385.6353,6.297160e+09,7.395952e+10,41.8812,0.660196,NaN
2016-09-23,6397.3334,6402.6392,6369.2226,6370.5834,6.257831e+09,7.204648e+10,-15.0519,-0.235715,NaN
2016-09-26,6363.9308,6364.2086,6239.8672,6241.5157,7.210666e+09,8.092079e+10,-129.0677,-2.025995,NaN
2016-09-27,6229.8183,6287.3356,6200.5654,6286.9093,5.640053e+09,6.361382e+10,45.3936,0.727285,NaN
2016-09-28,6300.8497,6300.8497,6266.7529,6281.2838,4.916326e+09,5.555797e+10,-5.6255,-0.089480,NaN
2016-09-29,6288.9181,6323.4158,6288.9181,6298.7911,5.069156e+09,5.811282e+10,17.5073,0.278722,NaN
2016-09-30,6292.0797,6338.2990,6289.4658,6328.0856,4.496513e+09,5.259057e+10,29.2945,0.465081,NaN
2016-10-10,6364.5166,6447.9361,6345.3310,6447.6934,7.272404e+09,8.777559e+10,119.6078,1.890110,NaN
2016-10-11,6451.0445,6486.6499,6443.7479,6486.4254,7.885089e+09,8.990767e+10,38.7320,0.600711,NaN
2016-10-12,6463.8094,6484.0002,6452.4135,6482.7379,6.771849e+09,7.759577e+10,-3.6875,-0.056849,NaN
2016-10-13,6480.9293,6501.5569,6468.1323,6484.8310,6.847165e+09,7.849410e+10,2.0931,0.032287,NaN
2016-10-14,6476.2612,6477.8533,6423.5788,6469.4915,6.586010e+09,7.544432e+10,-15.3395,-0.236544,NaN
2016-10-17,6478.5108,6487.6708,6394.4868,6413.1487,7.170480e+09,8.374364e+10,-56.3428,-0.870900,NaN
2016-10-18,6409.7381,6509.2821,6409.7381,6509.2821,7.369851e+09,8.604453e+10,96.1334,1.499005,NaN
2016-10-19,6518.7373,6531.1620,6476.5620,6495.2574,7.504881e+09,8.727698e+10,-14.0247,-0.215457,NaN
2016-10-20,6495.8268,6506.5810,6474.7793,6498.2375,6.557491e+09,7.563463e+10,2.9801,0.045881,NaN
2016-10-21,6498.9857,6506.6107,6424.4429,6475.2807,7.319513e+09,8.361717e+10,-22.9568,-0.353277,NaN
2016-10-24,6479.5541,6546.7881,6472.9393,6539.4661,8.607674e+09,9.311944e+10,64.1854,0.991237,NaN
2016-10-25,6543.4668,6563.5233,6536.9443,6563.3539,8.392323e+09,9.431537e+10,23.8878,0.365287,NaN
2016-10-26,6561.1581,6561.2466,6511.6570,6530.3898,8.085924e+09,9.178059e+10,-32.9641,-0.502245,NaN
2016-10-27,6522.8868,6529.4679,6488.3634,6517.3594,6.710300e+09,7.666291e+10,-13.0304,-0.199535,NaN
2016-10-28,6512.0380,6536.8349,6455.1476,6455.8349,7.069710e+09,7.971207e+10,-61.5245,-0.944010,NaN
2016-10-31,6441.4348,6460.7728,6408.2731,6452.2058,6.025369e+09,7.176842e+10,-3.6291,-0.056214,NaN
2016-11-01,6456.9993,6508.3642,6450.0204,6507.9500,6.253990e+09,7.225117e+10,55.7442,0.863956,NaN
2016-11-02,6494.9803,6506.7756,6450.0506,6455.1295,7.229907e+09,8.289830e+10,-52.8205,-0.811630,NaN
2016-11-03,6442.3549,6521.0003,6436.9074,6483.7322,7.754984e+09,8.868329e+10,28.6027,0.443100,NaN
2016-11-04,6482.6008,6502.7409,6449.5605,6462.5928,7.063541e+09,8.164050e+10,-21.1394,-0.326038,NaN
...,...,...,...,...,...,...,...,...,...
2017-08-09,6296.1150,6340.3754,6285.0247,6340.0220,1.153476e+10,1.239888e+11,36.3060,0.575946,NaN
2017-08-10,6322.8308,6341.4803,6246.6580,6289.2174,1.126995e+10,1.279383e+11,-50.8046,-0.801332,NaN
2017-08-11,6242.4877,6275.8931,6153.6005,6161.1903,1.178606e+10,1.315592e+11,-128.0271,-2.035660,NaN
2017-08-14,6165.1298,6293.3517,6165.1298,6292.6418,8.984502e+09,1.133355e+11,131.4515,2.133541,NaN
2017-08-15,6291.1835,6316.1989,6283.5442,6314.7608,8.260366e+09,1.075860e+11,22.1190,0.351506,NaN
2017-08-16,6307.1705,6323.5599,6268.1876,6318.7986,8.961770e+09,1.132078e+11,4.0378,0.063942,NaN
2017-08-17,6327.0275,6366.2517,6312.8892,6366.0340,9.872489e+09,1.194569e+11,47.2354,0.747538,NaN
2017-08-18,6324.8974,6361.9716,6313.1511,6347.7557,9.117455e+09,1.114906e+11,-18.2783,-0.287122,NaN
2017-08-21,6354.0964,6404.0497,6354.0107,6403.7803,8.652180e+09,1.057336e+11,56.0246,0.882589,NaN
2017-08-22,6396.9258,6398.5649,6362.4094,6375.9814,8.910017e+09,1.167584e+11,-27.7989,-0.434101,NaN
2017-08-23,6359.7757,6371.3000,6310.0102,6322.7819,7.560985e+09,9.421329e+10,-53.1995,-0.834374,NaN
2017-08-24,6322.6281,6329.0305,6267.2324,6278.5900,6.756759e+09,8.646352e+10,-44.1919,-0.698931,NaN
2017-08-25,6274.3511,6358.8868,6274.3511,6346.5305,7.554973e+09,9.469894e+10,67.9405,1.082098,NaN
2017-08-28,6348.8700,6442.3999,6348.8700,6424.5841,9.489340e+09,1.233479e+11,78.0536,1.229863,NaN
2017-08-29,6420.5677,6439.0793,6393.4761,6408.1567,8.770410e+09,1.114345e+11,-16.4274,-0.255696,NaN
2017-08-30,6405.8963,6462.7571,6405.8963,6453.4636,9.555966e+09,1.155138e+11,45.3069,0.707019,NaN
2017-08-31,6451.5170,6470.9433,6429.7427,6470.4259,9.102917e+09,1.109106e+11,16.9623,0.262840,NaN
2017-09-01,6472.9476,6530.8989,6466.1264,6526.5046,1.211172e+10,1.408624e+11,56.0787,0.866693,NaN
2017-09-04,6530.5086,6566.1014,6519.7882,6564.6804,1.199840e+10,1.438769e+11,38.1758,0.584935,NaN
2017-09-05,6561.6726,6576.5616,6528.1132,6571.8591,9.523208e+09,1.201252e+11,7.1787,0.109353,NaN
2017-09-06,6550.0614,6610.7452,6540.8253,6607.1176,1.054782e+10,1.362385e+11,35.2585,0.536507,NaN
2017-09-07,6601.3433,6614.1021,6553.6993,6558.5963,1.070618e+10,1.339407e+11,-48.5213,-0.734379,NaN
2017-09-08,6554.6011,6599.1320,6537.0408,6574.1826,9.385159e+09,1.209124e+11,15.5863,0.237647,NaN
2017-09-11,6579.8857,6650.1193,6566.2776,6649.6276,1.025474e+10,1.346745e+11,75.4450,1.147595,NaN
2017-09-12,6659.8017,6715.3935,6628.8825,6644.0118,1.418803e+10,1.902944e+11,-5.6158,-0.084453,NaN
2017-09-13,6635.1693,6684.8593,6630.5032,6684.3798,1.047224e+10,1.365216e+11,40.3680,0.607585,NaN
2017-09-14,6683.4734,6701.6910,6643.5877,6672.1849,1.139668e+10,1.454263e+11,-12.1949,-0.182439,NaN
2017-09-15,6661.5211,6663.5099,6603.7281,6622.0438,1.093842e+10,1.340771e+11,-50.1411,-0.751494,NaN
2017-09-18,6616.1288,6669.4548,6616.1288,6669.4548,8.885060e+09,1.106707e+11,47.4110,0.715957,NaN
2017-09-19,6670.9661,6681.2538,6611.7512,6636.0201,9.351872e+09,1.175087e+11,-33.4347,-0.501311,NaN

In [31]:
df3 = df3.drop(['VOLUME', 'AMT', 'CHG', 'PCT_CHG', 'OI'],axis =1)
df3

                 OPEN       HIGH        LOW      CLOSE
2016-09-19  6292.8070  6344.4504  6292.8070  6344.1810
2016-09-20  6344.7056  6346.9304  6319.7623  6342.0328
2016-09-21  6342.0040  6362.9993  6335.3916  6343.7541
2016-09-22  6381.1565  6410.5700  6377.1734  6385.6353
2016-09-23  6397.3334  6402.6392  6369.2226  6370.5834
2016-09-26  6363.9308  6364.2086  6239.8672  6241.5157
2016-09-27  6229.8183  6287.3356  6200.5654  6286.9093
2016-09-28  6300.8497  6300.8497  6266.7529  6281.2838
2016-09-29  6288.9181  6323.4158  6288.9181  6298.7911
2016-09-30  6292.0797  6338.2990  6289.4658  6328.0856
2016-10-10  6364.5166  6447.9361  6345.3310  6447.6934
2016-10-11  6451.0445  6486.6499  6443.7479  6486.4254
2016-10-12  6463.8094  6484.0002  6452.4135  6482.7379
2016-10-13  6480.9293  6501.5569  6468.1323  6484.8310
2016-10-14  6476.2612  6477.8533  6423.5788  6469.4915
2016-10-17  6478.5108  6487.6708  6394.4868  6413.1487
2016-10-18  6409.7381  6509.2821  6409.7381  6509.2821
2016-10-19  6518.7373  6531.1620  6476.5620  6495.2574
2016-10-20  6495.8268  6506.5810  6474.7793  6498.2375
2016-10-21  6498.9857  6506.6107  6424.4429  6475.2807
2016-10-24  6479.5541  6546.7881  6472.9393  6539.4661
2016-10-25  6543.4668  6563.5233  6536.9443  6563.3539
2016-10-26  6561.1581  6561.2466  6511.6570  6530.3898
2016-10-27  6522.8868  6529.4679  6488.3634  6517.3594
2016-10-28  6512.0380  6536.8349  6455.1476  6455.8349
2016-10-31  6441.4348  6460.7728  6408.2731  6452.2058
2016-11-01  6456.9993  6508.3642  6450.0204  6507.9500
2016-11-02  6494.9803  6506.7756  6450.0506  6455.1295
2016-11-03  6442.3549  6521.0003  6436.9074  6483.7322
2016-11-04  6482.6008  6502.7409  6449.5605  6462.5928
...               ...        ...        ...        ...
2017-08-09  6296.1150  6340.3754  6285.0247  6340.0220
2017-08-10  6322.8308  6341.4803  6246.6580  6289.2174
2017-08-11  6242.4877  6275.8931  6153.6005  6161.1903
2017-08-14  6165.1298  6293.3517  6165.1298  6292.6418
2017-08-15  6291.1835  6316.1989  6283.5442  6314.7608
2017-08-16  6307.1705  6323.5599  6268.1876  6318.7986
2017-08-17  6327.0275  6366.2517  6312.8892  6366.0340
2017-08-18  6324.8974  6361.9716  6313.1511  6347.7557
2017-08-21  6354.0964  6404.0497  6354.0107  6403.7803
2017-08-22  6396.9258  6398.5649  6362.4094  6375.9814
2017-08-23  6359.7757  6371.3000  6310.0102  6322.7819
2017-08-24  6322.6281  6329.0305  6267.2324  6278.5900
2017-08-25  6274.3511  6358.8868  6274.3511  6346.5305
2017-08-28  6348.8700  6442.3999  6348.8700  6424.5841
2017-08-29  6420.5677  6439.0793  6393.4761  6408.1567
2017-08-30  6405.8963  6462.7571  6405.8963  6453.4636
2017-08-31  6451.5170  6470.9433  6429.7427  6470.4259
2017-09-01  6472.9476  6530.8989  6466.1264  6526.5046
2017-09-04  6530.5086  6566.1014  6519.7882  6564.6804
2017-09-05  6561.6726  6576.5616  6528.1132  6571.8591
2017-09-06  6550.0614  6610.7452  6540.8253  6607.1176
2017-09-07  6601.3433  6614.1021  6553.6993  6558.5963
2017-09-08  6554.6011  6599.1320  6537.0408  6574.1826
2017-09-11  6579.8857  6650.1193  6566.2776  6649.6276
2017-09-12  6659.8017  6715.3935  6628.8825  6644.0118
2017-09-13  6635.1693  6684.8593  6630.5032  6684.3798
2017-09-14  6683.4734  6701.6910  6643.5877  6672.1849
2017-09-15  6661.5211  6663.5099  6603.7281  6622.0438
2017-09-18  6616.1288  6669.4548  6616.1288  6669.4548
2017-09-19  6670.9661  6681.2538  6611.7512  6636.0201

[246 rows x 4 columns]

In [32]:
df3

                 OPEN       HIGH        LOW      CLOSE
2016-09-19  6292.8070  6344.4504  6292.8070  6344.1810
2016-09-20  6344.7056  6346.9304  6319.7623  6342.0328
2016-09-21  6342.0040  6362.9993  6335.3916  6343.7541
2016-09-22  6381.1565  6410.5700  6377.1734  6385.6353
2016-09-23  6397.3334  6402.6392  6369.2226  6370.5834
2016-09-26  6363.9308  6364.2086  6239.8672  6241.5157
2016-09-27  6229.8183  6287.3356  6200.5654  6286.9093
2016-09-28  6300.8497  6300.8497  6266.7529  6281.2838
2016-09-29  6288.9181  6323.4158  6288.9181  6298.7911
2016-09-30  6292.0797  6338.2990  6289.4658  6328.0856
2016-10-10  6364.5166  6447.9361  6345.3310  6447.6934
2016-10-11  6451.0445  6486.6499  6443.7479  6486.4254
2016-10-12  6463.8094  6484.0002  6452.4135  6482.7379
2016-10-13  6480.9293  6501.5569  6468.1323  6484.8310
2016-10-14  6476.2612  6477.8533  6423.5788  6469.4915
2016-10-17  6478.5108  6487.6708  6394.4868  6413.1487
2016-10-18  6409.7381  6509.2821  6409.7381  6509.2821
2016-10-19  6518.7373  6531.1620  6476.5620  6495.2574
2016-10-20  6495.8268  6506.5810  6474.7793  6498.2375
2016-10-21  6498.9857  6506.6107  6424.4429  6475.2807
2016-10-24  6479.5541  6546.7881  6472.9393  6539.4661
2016-10-25  6543.4668  6563.5233  6536.9443  6563.3539
2016-10-26  6561.1581  6561.2466  6511.6570  6530.3898
2016-10-27  6522.8868  6529.4679  6488.3634  6517.3594
2016-10-28  6512.0380  6536.8349  6455.1476  6455.8349
2016-10-31  6441.4348  6460.7728  6408.2731  6452.2058
2016-11-01  6456.9993  6508.3642  6450.0204  6507.9500
2016-11-02  6494.9803  6506.7756  6450.0506  6455.1295
2016-11-03  6442.3549  6521.0003  6436.9074  6483.7322
2016-11-04  6482.6008  6502.7409  6449.5605  6462.5928
...               ...        ...        ...        ...
2017-08-09  6296.1150  6340.3754  6285.0247  6340.0220
2017-08-10  6322.8308  6341.4803  6246.6580  6289.2174
2017-08-11  6242.4877  6275.8931  6153.6005  6161.1903
2017-08-14  6165.1298  6293.3517  6165.1298  6292.6418
2017-08-15  6291.1835  6316.1989  6283.5442  6314.7608
2017-08-16  6307.1705  6323.5599  6268.1876  6318.7986
2017-08-17  6327.0275  6366.2517  6312.8892  6366.0340
2017-08-18  6324.8974  6361.9716  6313.1511  6347.7557
2017-08-21  6354.0964  6404.0497  6354.0107  6403.7803
2017-08-22  6396.9258  6398.5649  6362.4094  6375.9814
2017-08-23  6359.7757  6371.3000  6310.0102  6322.7819
2017-08-24  6322.6281  6329.0305  6267.2324  6278.5900
2017-08-25  6274.3511  6358.8868  6274.3511  6346.5305
2017-08-28  6348.8700  6442.3999  6348.8700  6424.5841
2017-08-29  6420.5677  6439.0793  6393.4761  6408.1567
2017-08-30  6405.8963  6462.7571  6405.8963  6453.4636
2017-08-31  6451.5170  6470.9433  6429.7427  6470.4259
2017-09-01  6472.9476  6530.8989  6466.1264  6526.5046
2017-09-04  6530.5086  6566.1014  6519.7882  6564.6804
2017-09-05  6561.6726  6576.5616  6528.1132  6571.8591
2017-09-06  6550.0614  6610.7452  6540.8253  6607.1176
2017-09-07  6601.3433  6614.1021  6553.6993  6558.5963
2017-09-08  6554.6011  6599.1320  6537.0408  6574.1826
2017-09-11  6579.8857  6650.1193  6566.2776  6649.6276
2017-09-12  6659.8017  6715.3935  6628.8825  6644.0118
2017-09-13  6635.1693  6684.8593  6630.5032  6684.3798
2017-09-14  6683.4734  6701.6910  6643.5877  6672.1849
2017-09-15  6661.5211  6663.5099  6603.7281  6622.0438
2017-09-18  6616.1288  6669.4548  6616.1288  6669.4548
2017-09-19  6670.9661  6681.2538  6611.7512  6636.0201

[246 rows x 4 columns]

In [43]:
df2.index

Index([2017-04-24, 2017-04-25, 2017-04-26, 2017-04-27, 2017-04-28, 2017-05-02,
       2017-05-03, 2017-05-04, 2017-05-05, 2017-05-08,
       ...
       2017-09-07, 2017-09-08, 2017-09-11, 2017-09-12, 2017-09-13, 2017-09-14,
       2017-09-15, 2017-09-18, 2017-09-19, 2017-09-20],
      dtype='object', length=105)

In [48]:
df2.dtypes

OPEN     float64
HIGH     float64
LOW      float64
CLOSE    float64
dtype: object

In [49]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 105 entries, 2017-04-24 to 2017-09-20
Data columns (total 4 columns):
OPEN     105 non-null float64
HIGH     105 non-null float64
LOW      105 non-null float64
CLOSE    105 non-null float64
dtypes: float64(4)
memory usage: 9.1+ KB

In [51]:
df2.loc('2017-04-26')

In [57]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 105 entries, 2017-04-24 to 2017-09-20
Data columns (total 4 columns):
OPEN     105 non-null float64
HIGH     105 non-null float64
LOW      105 non-null float64
CLOSE    105 non-null float64
dtypes: float64(4)
memory usage: 9.1+ KB

In [59]:
df

              OPEN    HIGH     LOW   CLOSE  VOLUME
2017-04-24  6039.6  6068.8  5923.4  5927.8   273.0
2017-04-25  5940.0  5978.6  5926.4  5933.4   254.0
2017-04-26  5944.8  5981.0  5944.8  5964.2   265.0
2017-04-27  5942.4  6008.8  5843.0  5989.0   316.0
2017-04-28  5996.0  6010.0  5977.2  6000.2   360.0
2017-05-02  6000.0  6004.2  5944.8  5974.6   280.0
2017-05-03  5980.0  5991.8  5934.2  5945.4   154.0
2017-05-04  5939.8  5993.0  5911.6  5923.0   187.0
2017-05-05  5905.8  5940.4  5840.6  5866.4   352.0
2017-05-08  5852.6  5878.6  5737.8  5737.8   417.0
2017-05-09  5739.6  5778.0  5711.6  5764.4   350.0
2017-05-10  5764.4  5794.0  5620.2  5620.2   341.0
2017-05-11  5599.8  5621.8  5485.8  5594.4   348.0
2017-05-12  5588.0  5604.8  5558.0  5579.8   269.0
2017-05-15  5600.0  5635.0  5588.2  5600.0   284.0
2017-05-16  5588.8  5766.8  5552.2  5765.0   246.0
2017-05-17  5763.0  5820.2  5758.2  5778.0   276.0
2017-05-18  5745.2  5792.8  5714.0  5720.4   222.0
2017-05-19  5734.0  5753.4  5690.2  5718.8   137.0
2017-05-22  5714.8  5750.2  5592.0  5608.2   205.0
2017-05-23  5600.0  5628.0  5503.4  5511.2   260.0
2017-05-24  5486.8  5565.2  5452.2  5558.8   305.0
2017-05-25  5549.4  5673.4  5500.0  5618.2   345.0
2017-05-26  5618.8  5662.2  5611.4  5620.0   264.0
2017-05-31  5715.8  5746.0  5585.0  5589.4   201.0
2017-06-01  5578.6  5611.4  5470.6  5482.6   319.0
2017-06-02  5464.2  5581.8  5425.2  5549.8   368.0
2017-06-05  5587.8  5640.2  5572.8  5575.4   374.0
2017-06-06  5577.0  5628.0  5560.4  5595.8   214.0
2017-06-07  5610.0  5759.8  5608.0  5738.0   415.0
...            ...     ...     ...     ...     ...
2017-08-10  6112.8  6138.2  6044.4  6063.6   431.0
2017-08-11  6033.6  6075.6  5941.0  5957.6   321.0
2017-08-14  5977.4  6103.0  5972.4  6102.6   401.0
2017-08-15  6108.6  6124.4  6085.0  6116.4   370.0
2017-08-16  6110.0  6137.6  6064.8  6122.8   421.0
2017-08-17  6138.8  6180.0  6109.0  6175.0   643.0
2017-08-18  6140.2  6174.8  6135.2  6153.0   555.0
2017-08-21  6174.0  6227.0  6172.0  6211.4   395.0
2017-08-22  6222.2  6222.2  6176.6  6200.8   395.0
2017-08-23  6190.0  6195.0  6113.8  6149.2   453.0
2017-08-24  6160.0  6164.6  6101.8  6112.2   329.0
2017-08-25  6124.8  6226.0  6117.8  6204.6   697.0
2017-08-28  6214.8  6329.8  6205.0  6295.8   915.0
2017-08-29  6295.8  6317.4  6254.4  6275.8   665.0
2017-08-30  6275.0  6334.4  6271.0  6315.8   663.0
2017-08-31  6321.8  6346.0  6298.8  6337.2   646.0
2017-09-01  6346.0  6433.0  6331.4  6402.6   809.0
2017-09-04  6414.0  6450.0  6400.4  6428.2   836.0
2017-09-05  6424.4  6446.0  6396.6  6436.6   715.0
2017-09-06  6429.8  6481.6  6418.0  6466.6   616.0
2017-09-07  6465.0  6489.8  6416.0  6428.8   563.0
2017-09-08  6428.8  6482.0  6388.2  6421.2   944.0
2017-09-11  6421.4  6533.8  6421.4  6533.6  1136.0
2017-09-12  6545.0  6606.2  6500.4  6522.0  1030.0
2017-09-13  6526.8  6573.4  6506.8  6564.8  1028.0
2017-09-14  6537.0  6596.8  6536.0  6558.2  1214.0
2017-09-15  6562.4  6562.4  6485.2  6525.6   958.0
2017-09-18  6527.2  6606.6  6510.2  6606.6   951.0
2017-09-19  6619.8  6621.4  6518.8  6542.0   778.0
2017-09-20  6542.0  6636.4  6537.2  6618.2   680.0

[105 rows x 5 columns]

In [71]:
df2.index

Index([2017-04-24, 2017-04-25, 2017-04-26, 2017-04-27, 2017-04-28, 2017-05-02,
       2017-05-03, 2017-05-04, 2017-05-05, 2017-05-08,
       ...
       2017-09-07, 2017-09-08, 2017-09-11, 2017-09-12, 2017-09-13, 2017-09-14,
       2017-09-15, 2017-09-18, 2017-09-19, 2017-09-20],
      dtype='object', length=105)

In [74]:
df3

                 OPEN       HIGH        LOW      CLOSE
2016-09-19  6292.8070  6344.4504  6292.8070  6344.1810
2016-09-20  6344.7056  6346.9304  6319.7623  6342.0328
2016-09-21  6342.0040  6362.9993  6335.3916  6343.7541
2016-09-22  6381.1565  6410.5700  6377.1734  6385.6353
2016-09-23  6397.3334  6402.6392  6369.2226  6370.5834
2016-09-26  6363.9308  6364.2086  6239.8672  6241.5157
2016-09-27  6229.8183  6287.3356  6200.5654  6286.9093
2016-09-28  6300.8497  6300.8497  6266.7529  6281.2838
2016-09-29  6288.9181  6323.4158  6288.9181  6298.7911
2016-09-30  6292.0797  6338.2990  6289.4658  6328.0856
2016-10-10  6364.5166  6447.9361  6345.3310  6447.6934
2016-10-11  6451.0445  6486.6499  6443.7479  6486.4254
2016-10-12  6463.8094  6484.0002  6452.4135  6482.7379
2016-10-13  6480.9293  6501.5569  6468.1323  6484.8310
2016-10-14  6476.2612  6477.8533  6423.5788  6469.4915
2016-10-17  6478.5108  6487.6708  6394.4868  6413.1487
2016-10-18  6409.7381  6509.2821  6409.7381  6509.2821
2016-10-19  6518.7373  6531.1620  6476.5620  6495.2574
2016-10-20  6495.8268  6506.5810  6474.7793  6498.2375
2016-10-21  6498.9857  6506.6107  6424.4429  6475.2807
2016-10-24  6479.5541  6546.7881  6472.9393  6539.4661
2016-10-25  6543.4668  6563.5233  6536.9443  6563.3539
2016-10-26  6561.1581  6561.2466  6511.6570  6530.3898
2016-10-27  6522.8868  6529.4679  6488.3634  6517.3594
2016-10-28  6512.0380  6536.8349  6455.1476  6455.8349
2016-10-31  6441.4348  6460.7728  6408.2731  6452.2058
2016-11-01  6456.9993  6508.3642  6450.0204  6507.9500
2016-11-02  6494.9803  6506.7756  6450.0506  6455.1295
2016-11-03  6442.3549  6521.0003  6436.9074  6483.7322
2016-11-04  6482.6008  6502.7409  6449.5605  6462.5928
...               ...        ...        ...        ...
2017-08-09  6296.1150  6340.3754  6285.0247  6340.0220
2017-08-10  6322.8308  6341.4803  6246.6580  6289.2174
2017-08-11  6242.4877  6275.8931  6153.6005  6161.1903
2017-08-14  6165.1298  6293.3517  6165.1298  6292.6418
2017-08-15  6291.1835  6316.1989  6283.5442  6314.7608
2017-08-16  6307.1705  6323.5599  6268.1876  6318.7986
2017-08-17  6327.0275  6366.2517  6312.8892  6366.0340
2017-08-18  6324.8974  6361.9716  6313.1511  6347.7557
2017-08-21  6354.0964  6404.0497  6354.0107  6403.7803
2017-08-22  6396.9258  6398.5649  6362.4094  6375.9814
2017-08-23  6359.7757  6371.3000  6310.0102  6322.7819
2017-08-24  6322.6281  6329.0305  6267.2324  6278.5900
2017-08-25  6274.3511  6358.8868  6274.3511  6346.5305
2017-08-28  6348.8700  6442.3999  6348.8700  6424.5841
2017-08-29  6420.5677  6439.0793  6393.4761  6408.1567
2017-08-30  6405.8963  6462.7571  6405.8963  6453.4636
2017-08-31  6451.5170  6470.9433  6429.7427  6470.4259
2017-09-01  6472.9476  6530.8989  6466.1264  6526.5046
2017-09-04  6530.5086  6566.1014  6519.7882  6564.6804
2017-09-05  6561.6726  6576.5616  6528.1132  6571.8591
2017-09-06  6550.0614  6610.7452  6540.8253  6607.1176
2017-09-07  6601.3433  6614.1021  6553.6993  6558.5963
2017-09-08  6554.6011  6599.1320  6537.0408  6574.1826
2017-09-11  6579.8857  6650.1193  6566.2776  6649.6276
2017-09-12  6659.8017  6715.3935  6628.8825  6644.0118
2017-09-13  6635.1693  6684.8593  6630.5032  6684.3798
2017-09-14  6683.4734  6701.6910  6643.5877  6672.1849
2017-09-15  6661.5211  6663.5099  6603.7281  6622.0438
2017-09-18  6616.1288  6669.4548  6616.1288  6669.4548
2017-09-19  6670.9661  6681.2538  6611.7512  6636.0201

[246 rows x 4 columns]

In [76]:
df3

                 OPEN       HIGH        LOW      CLOSE
2016-09-19  6292.8070  6344.4504  6292.8070  6344.1810
2016-09-20  6344.7056  6346.9304  6319.7623  6342.0328
2016-09-21  6342.0040  6362.9993  6335.3916  6343.7541
2016-09-22  6381.1565  6410.5700  6377.1734  6385.6353
2016-09-23  6397.3334  6402.6392  6369.2226  6370.5834
2016-09-26  6363.9308  6364.2086  6239.8672  6241.5157
2016-09-27  6229.8183  6287.3356  6200.5654  6286.9093
2016-09-28  6300.8497  6300.8497  6266.7529  6281.2838
2016-09-29  6288.9181  6323.4158  6288.9181  6298.7911
2016-09-30  6292.0797  6338.2990  6289.4658  6328.0856
2016-10-10  6364.5166  6447.9361  6345.3310  6447.6934
2016-10-11  6451.0445  6486.6499  6443.7479  6486.4254
2016-10-12  6463.8094  6484.0002  6452.4135  6482.7379
2016-10-13  6480.9293  6501.5569  6468.1323  6484.8310
2016-10-14  6476.2612  6477.8533  6423.5788  6469.4915
2016-10-17  6478.5108  6487.6708  6394.4868  6413.1487
2016-10-18  6409.7381  6509.2821  6409.7381  6509.2821
2016-10-19  6518.7373  6531.1620  6476.5620  6495.2574
2016-10-20  6495.8268  6506.5810  6474.7793  6498.2375
2016-10-21  6498.9857  6506.6107  6424.4429  6475.2807
2016-10-24  6479.5541  6546.7881  6472.9393  6539.4661
2016-10-25  6543.4668  6563.5233  6536.9443  6563.3539
2016-10-26  6561.1581  6561.2466  6511.6570  6530.3898
2016-10-27  6522.8868  6529.4679  6488.3634  6517.3594
2016-10-28  6512.0380  6536.8349  6455.1476  6455.8349
2016-10-31  6441.4348  6460.7728  6408.2731  6452.2058
2016-11-01  6456.9993  6508.3642  6450.0204  6507.9500
2016-11-02  6494.9803  6506.7756  6450.0506  6455.1295
2016-11-03  6442.3549  6521.0003  6436.9074  6483.7322
2016-11-04  6482.6008  6502.7409  6449.5605  6462.5928
...               ...        ...        ...        ...
2017-08-09  6296.1150  6340.3754  6285.0247  6340.0220
2017-08-10  6322.8308  6341.4803  6246.6580  6289.2174
2017-08-11  6242.4877  6275.8931  6153.6005  6161.1903
2017-08-14  6165.1298  6293.3517  6165.1298  6292.6418
2017-08-15  6291.1835  6316.1989  6283.5442  6314.7608
2017-08-16  6307.1705  6323.5599  6268.1876  6318.7986
2017-08-17  6327.0275  6366.2517  6312.8892  6366.0340
2017-08-18  6324.8974  6361.9716  6313.1511  6347.7557
2017-08-21  6354.0964  6404.0497  6354.0107  6403.7803
2017-08-22  6396.9258  6398.5649  6362.4094  6375.9814
2017-08-23  6359.7757  6371.3000  6310.0102  6322.7819
2017-08-24  6322.6281  6329.0305  6267.2324  6278.5900
2017-08-25  6274.3511  6358.8868  6274.3511  6346.5305
2017-08-28  6348.8700  6442.3999  6348.8700  6424.5841
2017-08-29  6420.5677  6439.0793  6393.4761  6408.1567
2017-08-30  6405.8963  6462.7571  6405.8963  6453.4636
2017-08-31  6451.5170  6470.9433  6429.7427  6470.4259
2017-09-01  6472.9476  6530.8989  6466.1264  6526.5046
2017-09-04  6530.5086  6566.1014  6519.7882  6564.6804
2017-09-05  6561.6726  6576.5616  6528.1132  6571.8591
2017-09-06  6550.0614  6610.7452  6540.8253  6607.1176
2017-09-07  6601.3433  6614.1021  6553.6993  6558.5963
2017-09-08  6554.6011  6599.1320  6537.0408  6574.1826
2017-09-11  6579.8857  6650.1193  6566.2776  6649.6276
2017-09-12  6659.8017  6715.3935  6628.8825  6644.0118
2017-09-13  6635.1693  6684.8593  6630.5032  6684.3798
2017-09-14  6683.4734  6701.6910  6643.5877  6672.1849
2017-09-15  6661.5211  6663.5099  6603.7281  6622.0438
2017-09-18  6616.1288  6669.4548  6616.1288  6669.4548
2017-09-19  6670.9661  6681.2538  6611.7512  6636.0201

[246 rows x 4 columns]

In [85]:
df3.index = pd.to_datetime(df3.index)
df3.index

DatetimeIndex(['2016-09-19', '2016-09-20', '2016-09-21', '2016-09-22',
               '2016-09-23', '2016-09-26', '2016-09-27', '2016-09-28',
               '2016-09-29', '2016-09-30',
               ...
               '2017-09-06', '2017-09-07', '2017-09-08', '2017-09-11',
               '2017-09-12', '2017-09-13', '2017-09-14', '2017-09-15',
               '2017-09-18', '2017-09-19'],
              dtype='datetime64[ns]', length=246, freq=None)

In [86]:
df3 = df3.loc['20170424':'20170919','CLOSE']

In [87]:
df3

2017-04-24    6138.5049
2017-04-25    6160.4612
2017-04-26    6176.3981
2017-04-27    6192.3044
2017-04-28    6211.8624
2017-05-02    6216.1150
2017-05-03    6197.4779
2017-05-04    6176.3053
2017-05-05    6089.6828
2017-05-08    5975.5395
2017-05-09    6012.0016
2017-05-10    5885.8410
2017-05-11    5872.6391
2017-05-12    5863.7832
2017-05-15    5893.5075
2017-05-16    6014.7344
2017-05-17    6027.6504
2017-05-18    5976.2998
2017-05-19    5974.9772
2017-05-22    5888.8127
2017-05-23    5764.8759
2017-05-24    5799.2499
2017-05-25    5850.8006
2017-05-26    5836.9338
2017-05-31    5824.1042
2017-06-01    5709.9994
2017-06-02    5772.5174
2017-06-05    5815.8022
2017-06-06    5841.5232
2017-06-07    5955.0153
                ...
2017-08-09    6340.0220
2017-08-10    6289.2174
2017-08-11    6161.1903
2017-08-14    6292.6418
2017-08-15    6314.7608
2017-08-16    6318.7986
2017-08-17    6366.0340
2017-08-18    6347.7557
2017-08-21    6403.7803
2017-08-22    6375.9814
2017-08-23    6322.7819
2017-08-24    6278.5900
2017-08-25    6346.5305
2017-08-28    6424.5841
2017-08-29    6408.1567
2017-08-30    6453.4636
2017-08-31    6470.4259
2017-09-01    6526.5046
2017-09-04    6564.6804
2017-09-05    6571.8591
2017-09-06    6607.1176
2017-09-07    6558.5963
2017-09-08    6574.1826
2017-09-11    6649.6276
2017-09-12    6644.0118
2017-09-13    6684.3798
2017-09-14    6672.1849
2017-09-15    6622.0438
2017-09-18    6669.4548
2017-09-19    6636.0201
Name: CLOSE, Length: 104, dtype: float64

In [88]:
df2

              OPEN    HIGH     LOW   CLOSE
2017-04-24  6039.6  6068.8  5923.4  5927.8
2017-04-25  5940.0  5978.6  5926.4  5933.4
2017-04-26  5944.8  5981.0  5944.8  5964.2
2017-04-27  5942.4  6008.8  5843.0  5989.0
2017-04-28  5996.0  6010.0  5977.2  6000.2
2017-05-02  6000.0  6004.2  5944.8  5974.6
2017-05-03  5980.0  5991.8  5934.2  5945.4
2017-05-04  5939.8  5993.0  5911.6  5923.0
2017-05-05  5905.8  5940.4  5840.6  5866.4
2017-05-08  5852.6  5878.6  5737.8  5737.8
2017-05-09  5739.6  5778.0  5711.6  5764.4
2017-05-10  5764.4  5794.0  5620.2  5620.2
2017-05-11  5599.8  5621.8  5485.8  5594.4
2017-05-12  5588.0  5604.8  5558.0  5579.8
2017-05-15  5600.0  5635.0  5588.2  5600.0
2017-05-16  5588.8  5766.8  5552.2  5765.0
2017-05-17  5763.0  5820.2  5758.2  5778.0
2017-05-18  5745.2  5792.8  5714.0  5720.4
2017-05-19  5734.0  5753.4  5690.2  5718.8
2017-05-22  5714.8  5750.2  5592.0  5608.2
2017-05-23  5600.0  5628.0  5503.4  5511.2
2017-05-24  5486.8  5565.2  5452.2  5558.8
2017-05-25  5549.4  5673.4  5500.0  5618.2
2017-05-26  5618.8  5662.2  5611.4  5620.0
2017-05-31  5715.8  5746.0  5585.0  5589.4
2017-06-01  5578.6  5611.4  5470.6  5482.6
2017-06-02  5464.2  5581.8  5425.2  5549.8
2017-06-05  5587.8  5640.2  5572.8  5575.4
2017-06-06  5577.0  5628.0  5560.4  5595.8
2017-06-07  5610.0  5759.8  5608.0  5738.0
...            ...     ...     ...     ...
2017-08-10  6112.8  6138.2  6044.4  6063.6
2017-08-11  6033.6  6075.6  5941.0  5957.6
2017-08-14  5977.4  6103.0  5972.4  6102.6
2017-08-15  6108.6  6124.4  6085.0  6116.4
2017-08-16  6110.0  6137.6  6064.8  6122.8
2017-08-17  6138.8  6180.0  6109.0  6175.0
2017-08-18  6140.2  6174.8  6135.2  6153.0
2017-08-21  6174.0  6227.0  6172.0  6211.4
2017-08-22  6222.2  6222.2  6176.6  6200.8
2017-08-23  6190.0  6195.0  6113.8  6149.2
2017-08-24  6160.0  6164.6  6101.8  6112.2
2017-08-25  6124.8  6226.0  6117.8  6204.6
2017-08-28  6214.8  6329.8  6205.0  6295.8
2017-08-29  6295.8  6317.4  6254.4  6275.8
2017-08-30  6275.0  6334.4  6271.0  6315.8
2017-08-31  6321.8  6346.0  6298.8  6337.2
2017-09-01  6346.0  6433.0  6331.4  6402.6
2017-09-04  6414.0  6450.0  6400.4  6428.2
2017-09-05  6424.4  6446.0  6396.6  6436.6
2017-09-06  6429.8  6481.6  6418.0  6466.6
2017-09-07  6465.0  6489.8  6416.0  6428.8
2017-09-08  6428.8  6482.0  6388.2  6421.2
2017-09-11  6421.4  6533.8  6421.4  6533.6
2017-09-12  6545.0  6606.2  6500.4  6522.0
2017-09-13  6526.8  6573.4  6506.8  6564.8
2017-09-14  6537.0  6596.8  6536.0  6558.2
2017-09-15  6562.4  6562.4  6485.2  6525.6
2017-09-18  6527.2  6606.6  6510.2  6606.6
2017-09-19  6619.8  6621.4  6518.8  6542.0
2017-09-20  6542.0  6636.4  6537.2  6618.2

[105 rows x 4 columns]

In [90]:
df2 = df2.OPEN

In [91]:
df2

2017-04-24    6039.6
2017-04-25    5940.0
2017-04-26    5944.8
2017-04-27    5942.4
2017-04-28    5996.0
2017-05-02    6000.0
2017-05-03    5980.0
2017-05-04    5939.8
2017-05-05    5905.8
2017-05-08    5852.6
2017-05-09    5739.6
2017-05-10    5764.4
2017-05-11    5599.8
2017-05-12    5588.0
2017-05-15    5600.0
2017-05-16    5588.8
2017-05-17    5763.0
2017-05-18    5745.2
2017-05-19    5734.0
2017-05-22    5714.8
2017-05-23    5600.0
2017-05-24    5486.8
2017-05-25    5549.4
2017-05-26    5618.8
2017-05-31    5715.8
2017-06-01    5578.6
2017-06-02    5464.2
2017-06-05    5587.8
2017-06-06    5577.0
2017-06-07    5610.0
               ...
2017-08-10    6112.8
2017-08-11    6033.6
2017-08-14    5977.4
2017-08-15    6108.6
2017-08-16    6110.0
2017-08-17    6138.8
2017-08-18    6140.2
2017-08-21    6174.0
2017-08-22    6222.2
2017-08-23    6190.0
2017-08-24    6160.0
2017-08-25    6124.8
2017-08-28    6214.8
2017-08-29    6295.8
2017-08-30    6275.0
2017-08-31    6321.8
2017-09-01    6346.0
2017-09-04    6414.0
2017-09-05    6424.4
2017-09-06    6429.8
2017-09-07    6465.0
2017-09-08    6428.8
2017-09-11    6421.4
2017-09-12    6545.0
2017-09-13    6526.8
2017-09-14    6537.0
2017-09-15    6562.4
2017-09-18    6527.2
2017-09-19    6619.8
2017-09-20    6542.0
Name: OPEN, Length: 105, dtype: float64

In [100]:
df2

              OPEN    HIGH     LOW   CLOSE
2017-04-24  6039.6  6068.8  5923.4  5927.8
2017-04-25  5940.0  5978.6  5926.4  5933.4
2017-04-26  5944.8  5981.0  5944.8  5964.2
2017-04-27  5942.4  6008.8  5843.0  5989.0
2017-04-28  5996.0  6010.0  5977.2  6000.2
2017-05-02  6000.0  6004.2  5944.8  5974.6
2017-05-03  5980.0  5991.8  5934.2  5945.4
2017-05-04  5939.8  5993.0  5911.6  5923.0
2017-05-05  5905.8  5940.4  5840.6  5866.4
2017-05-08  5852.6  5878.6  5737.8  5737.8
2017-05-09  5739.6  5778.0  5711.6  5764.4
2017-05-10  5764.4  5794.0  5620.2  5620.2
2017-05-11  5599.8  5621.8  5485.8  5594.4
2017-05-12  5588.0  5604.8  5558.0  5579.8
2017-05-15  5600.0  5635.0  5588.2  5600.0
2017-05-16  5588.8  5766.8  5552.2  5765.0
2017-05-17  5763.0  5820.2  5758.2  5778.0
2017-05-18  5745.2  5792.8  5714.0  5720.4
2017-05-19  5734.0  5753.4  5690.2  5718.8
2017-05-22  5714.8  5750.2  5592.0  5608.2
2017-05-23  5600.0  5628.0  5503.4  5511.2
2017-05-24  5486.8  5565.2  5452.2  5558.8
2017-05-25  5549.4  5673.4  5500.0  5618.2
2017-05-26  5618.8  5662.2  5611.4  5620.0
2017-05-31  5715.8  5746.0  5585.0  5589.4
2017-06-01  5578.6  5611.4  5470.6  5482.6
2017-06-02  5464.2  5581.8  5425.2  5549.8
2017-06-05  5587.8  5640.2  5572.8  5575.4
2017-06-06  5577.0  5628.0  5560.4  5595.8
2017-06-07  5610.0  5759.8  5608.0  5738.0
...            ...     ...     ...     ...
2017-08-10  6112.8  6138.2  6044.4  6063.6
2017-08-11  6033.6  6075.6  5941.0  5957.6
2017-08-14  5977.4  6103.0  5972.4  6102.6
2017-08-15  6108.6  6124.4  6085.0  6116.4
2017-08-16  6110.0  6137.6  6064.8  6122.8
2017-08-17  6138.8  6180.0  6109.0  6175.0
2017-08-18  6140.2  6174.8  6135.2  6153.0
2017-08-21  6174.0  6227.0  6172.0  6211.4
2017-08-22  6222.2  6222.2  6176.6  6200.8
2017-08-23  6190.0  6195.0  6113.8  6149.2
2017-08-24  6160.0  6164.6  6101.8  6112.2
2017-08-25  6124.8  6226.0  6117.8  6204.6
2017-08-28  6214.8  6329.8  6205.0  6295.8
2017-08-29  6295.8  6317.4  6254.4  6275.8
2017-08-30  6275.0  6334.4  6271.0  6315.8
2017-08-31  6321.8  6346.0  6298.8  6337.2
2017-09-01  6346.0  6433.0  6331.4  6402.6
2017-09-04  6414.0  6450.0  6400.4  6428.2
2017-09-05  6424.4  6446.0  6396.6  6436.6
2017-09-06  6429.8  6481.6  6418.0  6466.6
2017-09-07  6465.0  6489.8  6416.0  6428.8
2017-09-08  6428.8  6482.0  6388.2  6421.2
2017-09-11  6421.4  6533.8  6421.4  6533.6
2017-09-12  6545.0  6606.2  6500.4  6522.0
2017-09-13  6526.8  6573.4  6506.8  6564.8
2017-09-14  6537.0  6596.8  6536.0  6558.2
2017-09-15  6562.4  6562.4  6485.2  6525.6
2017-09-18  6527.2  6606.6  6510.2  6606.6
2017-09-19  6619.8  6621.4  6518.8  6542.0
2017-09-20  6542.0  6636.4  6537.2  6618.2

[105 rows x 4 columns]

In [101]:
df2.index

Index([2017-04-24, 2017-04-25, 2017-04-26, 2017-04-27, 2017-04-28, 2017-05-02,
       2017-05-03, 2017-05-04, 2017-05-05, 2017-05-08,
       ...
       2017-09-07, 2017-09-08, 2017-09-11, 2017-09-12, 2017-09-13, 2017-09-14,
       2017-09-15, 2017-09-18, 2017-09-19, 2017-09-20],
      dtype='object', length=105)

In [102]:
df2.index = pd.to_datetime(df2.index)

In [103]:
df2

              OPEN    HIGH     LOW   CLOSE
2017-04-24  6039.6  6068.8  5923.4  5927.8
2017-04-25  5940.0  5978.6  5926.4  5933.4
2017-04-26  5944.8  5981.0  5944.8  5964.2
2017-04-27  5942.4  6008.8  5843.0  5989.0
2017-04-28  5996.0  6010.0  5977.2  6000.2
2017-05-02  6000.0  6004.2  5944.8  5974.6
2017-05-03  5980.0  5991.8  5934.2  5945.4
2017-05-04  5939.8  5993.0  5911.6  5923.0
2017-05-05  5905.8  5940.4  5840.6  5866.4
2017-05-08  5852.6  5878.6  5737.8  5737.8
2017-05-09  5739.6  5778.0  5711.6  5764.4
2017-05-10  5764.4  5794.0  5620.2  5620.2
2017-05-11  5599.8  5621.8  5485.8  5594.4
2017-05-12  5588.0  5604.8  5558.0  5579.8
2017-05-15  5600.0  5635.0  5588.2  5600.0
2017-05-16  5588.8  5766.8  5552.2  5765.0
2017-05-17  5763.0  5820.2  5758.2  5778.0
2017-05-18  5745.2  5792.8  5714.0  5720.4
2017-05-19  5734.0  5753.4  5690.2  5718.8
2017-05-22  5714.8  5750.2  5592.0  5608.2
2017-05-23  5600.0  5628.0  5503.4  5511.2
2017-05-24  5486.8  5565.2  5452.2  5558.8
2017-05-25  5549.4  5673.4  5500.0  5618.2
2017-05-26  5618.8  5662.2  5611.4  5620.0
2017-05-31  5715.8  5746.0  5585.0  5589.4
2017-06-01  5578.6  5611.4  5470.6  5482.6
2017-06-02  5464.2  5581.8  5425.2  5549.8
2017-06-05  5587.8  5640.2  5572.8  5575.4
2017-06-06  5577.0  5628.0  5560.4  5595.8
2017-06-07  5610.0  5759.8  5608.0  5738.0
...            ...     ...     ...     ...
2017-08-10  6112.8  6138.2  6044.4  6063.6
2017-08-11  6033.6  6075.6  5941.0  5957.6
2017-08-14  5977.4  6103.0  5972.4  6102.6
2017-08-15  6108.6  6124.4  6085.0  6116.4
2017-08-16  6110.0  6137.6  6064.8  6122.8
2017-08-17  6138.8  6180.0  6109.0  6175.0
2017-08-18  6140.2  6174.8  6135.2  6153.0
2017-08-21  6174.0  6227.0  6172.0  6211.4
2017-08-22  6222.2  6222.2  6176.6  6200.8
2017-08-23  6190.0  6195.0  6113.8  6149.2
2017-08-24  6160.0  6164.6  6101.8  6112.2
2017-08-25  6124.8  6226.0  6117.8  6204.6
2017-08-28  6214.8  6329.8  6205.0  6295.8
2017-08-29  6295.8  6317.4  6254.4  6275.8
2017-08-30  6275.0  6334.4  6271.0  6315.8
2017-08-31  6321.8  6346.0  6298.8  6337.2
2017-09-01  6346.0  6433.0  6331.4  6402.6
2017-09-04  6414.0  6450.0  6400.4  6428.2
2017-09-05  6424.4  6446.0  6396.6  6436.6
2017-09-06  6429.8  6481.6  6418.0  6466.6
2017-09-07  6465.0  6489.8  6416.0  6428.8
2017-09-08  6428.8  6482.0  6388.2  6421.2
2017-09-11  6421.4  6533.8  6421.4  6533.6
2017-09-12  6545.0  6606.2  6500.4  6522.0
2017-09-13  6526.8  6573.4  6506.8  6564.8
2017-09-14  6537.0  6596.8  6536.0  6558.2
2017-09-15  6562.4  6562.4  6485.2  6525.6
2017-09-18  6527.2  6606.6  6510.2  6606.6
2017-09-19  6619.8  6621.4  6518.8  6542.0
2017-09-20  6542.0  6636.4  6537.2  6618.2

[105 rows x 4 columns]

In [105]:
df2 = df2.loc['20170424':'20170919',['OPEN']]

In [106]:
df2

              OPEN
2017-04-24  6039.6
2017-04-25  5940.0
2017-04-26  5944.8
2017-04-27  5942.4
2017-04-28  5996.0
2017-05-02  6000.0
2017-05-03  5980.0
2017-05-04  5939.8
2017-05-05  5905.8
2017-05-08  5852.6
2017-05-09  5739.6
2017-05-10  5764.4
2017-05-11  5599.8
2017-05-12  5588.0
2017-05-15  5600.0
2017-05-16  5588.8
2017-05-17  5763.0
2017-05-18  5745.2
2017-05-19  5734.0
2017-05-22  5714.8
2017-05-23  5600.0
2017-05-24  5486.8
2017-05-25  5549.4
2017-05-26  5618.8
2017-05-31  5715.8
2017-06-01  5578.6
2017-06-02  5464.2
2017-06-05  5587.8
2017-06-06  5577.0
2017-06-07  5610.0
...            ...
2017-08-09  6098.8
2017-08-10  6112.8
2017-08-11  6033.6
2017-08-14  5977.4
2017-08-15  6108.6
2017-08-16  6110.0
2017-08-17  6138.8
2017-08-18  6140.2
2017-08-21  6174.0
2017-08-22  6222.2
2017-08-23  6190.0
2017-08-24  6160.0
2017-08-25  6124.8
2017-08-28  6214.8
2017-08-29  6295.8
2017-08-30  6275.0
2017-08-31  6321.8
2017-09-01  6346.0
2017-09-04  6414.0
2017-09-05  6424.4
2017-09-06  6429.8
2017-09-07  6465.0
2017-09-08  6428.8
2017-09-11  6421.4
2017-09-12  6545.0
2017-09-13  6526.8
2017-09-14  6537.0
2017-09-15  6562.4
2017-09-18  6527.2
2017-09-19  6619.8

[104 rows x 1 columns]

In [110]:
df3 = pd.DataFrame([df3])

In [113]:
df3 = df3.T

In [114]:
df3

                CLOSE
2017-04-24  6138.5049
2017-04-25  6160.4612
2017-04-26  6176.3981
2017-04-27  6192.3044
2017-04-28  6211.8624
2017-05-02  6216.1150
2017-05-03  6197.4779
2017-05-04  6176.3053
2017-05-05  6089.6828
2017-05-08  5975.5395
2017-05-09  6012.0016
2017-05-10  5885.8410
2017-05-11  5872.6391
2017-05-12  5863.7832
2017-05-15  5893.5075
2017-05-16  6014.7344
2017-05-17  6027.6504
2017-05-18  5976.2998
2017-05-19  5974.9772
2017-05-22  5888.8127
2017-05-23  5764.8759
2017-05-24  5799.2499
2017-05-25  5850.8006
2017-05-26  5836.9338
2017-05-31  5824.1042
2017-06-01  5709.9994
2017-06-02  5772.5174
2017-06-05  5815.8022
2017-06-06  5841.5232
2017-06-07  5955.0153
...               ...
2017-08-09  6340.0220
2017-08-10  6289.2174
2017-08-11  6161.1903
2017-08-14  6292.6418
2017-08-15  6314.7608
2017-08-16  6318.7986
2017-08-17  6366.0340
2017-08-18  6347.7557
2017-08-21  6403.7803
2017-08-22  6375.9814
2017-08-23  6322.7819
2017-08-24  6278.5900
2017-08-25  6346.5305
2017-08-28  6424.5841
2017-08-29  6408.1567
2017-08-30  6453.4636
2017-08-31  6470.4259
2017-09-01  6526.5046
2017-09-04  6564.6804
2017-09-05  6571.8591
2017-09-06  6607.1176
2017-09-07  6558.5963
2017-09-08  6574.1826
2017-09-11  6649.6276
2017-09-12  6644.0118
2017-09-13  6684.3798
2017-09-14  6672.1849
2017-09-15  6622.0438
2017-09-18  6669.4548
2017-09-19  6636.0201

[104 rows x 1 columns]

In [117]:
df2

              OPEN
2017-04-24  6039.6
2017-04-25  5940.0
2017-04-26  5944.8
2017-04-27  5942.4
2017-04-28  5996.0
2017-05-02  6000.0
2017-05-03  5980.0
2017-05-04  5939.8
2017-05-05  5905.8
2017-05-08  5852.6
2017-05-09  5739.6
2017-05-10  5764.4
2017-05-11  5599.8
2017-05-12  5588.0
2017-05-15  5600.0
2017-05-16  5588.8
2017-05-17  5763.0
2017-05-18  5745.2
2017-05-19  5734.0
2017-05-22  5714.8
2017-05-23  5600.0
2017-05-24  5486.8
2017-05-25  5549.4
2017-05-26  5618.8
2017-05-31  5715.8
2017-06-01  5578.6
2017-06-02  5464.2
2017-06-05  5587.8
2017-06-06  5577.0
2017-06-07  5610.0
...            ...
2017-08-09  6098.8
2017-08-10  6112.8
2017-08-11  6033.6
2017-08-14  5977.4
2017-08-15  6108.6
2017-08-16  6110.0
2017-08-17  6138.8
2017-08-18  6140.2
2017-08-21  6174.0
2017-08-22  6222.2
2017-08-23  6190.0
2017-08-24  6160.0
2017-08-25  6124.8
2017-08-28  6214.8
2017-08-29  6295.8
2017-08-30  6275.0
2017-08-31  6321.8
2017-09-01  6346.0
2017-09-04  6414.0
2017-09-05  6424.4
2017-09-06  6429.8
2017-09-07  6465.0
2017-09-08  6428.8
2017-09-11  6421.4
2017-09-12  6545.0
2017-09-13  6526.8
2017-09-14  6537.0
2017-09-15  6562.4
2017-09-18  6527.2
2017-09-19  6619.8

[104 rows x 1 columns]

In [116]:
df2

              OPEN
2017-04-24  6039.6
2017-04-25  5940.0
2017-04-26  5944.8
2017-04-27  5942.4
2017-04-28  5996.0
2017-05-02  6000.0
2017-05-03  5980.0
2017-05-04  5939.8
2017-05-05  5905.8
2017-05-08  5852.6
2017-05-09  5739.6
2017-05-10  5764.4
2017-05-11  5599.8
2017-05-12  5588.0
2017-05-15  5600.0
2017-05-16  5588.8
2017-05-17  5763.0
2017-05-18  5745.2
2017-05-19  5734.0
2017-05-22  5714.8
2017-05-23  5600.0
2017-05-24  5486.8
2017-05-25  5549.4
2017-05-26  5618.8
2017-05-31  5715.8
2017-06-01  5578.6
2017-06-02  5464.2
2017-06-05  5587.8
2017-06-06  5577.0
2017-06-07  5610.0
...            ...
2017-08-09  6098.8
2017-08-10  6112.8
2017-08-11  6033.6
2017-08-14  5977.4
2017-08-15  6108.6
2017-08-16  6110.0
2017-08-17  6138.8
2017-08-18  6140.2
2017-08-21  6174.0
2017-08-22  6222.2
2017-08-23  6190.0
2017-08-24  6160.0
2017-08-25  6124.8
2017-08-28  6214.8
2017-08-29  6295.8
2017-08-30  6275.0
2017-08-31  6321.8
2017-09-01  6346.0
2017-09-04  6414.0
2017-09-05  6424.4
2017-09-06  6429.8
2017-09-07  6465.0
2017-09-08  6428.8
2017-09-11  6421.4
2017-09-12  6545.0
2017-09-13  6526.8
2017-09-14  6537.0
2017-09-15  6562.4
2017-09-18  6527.2
2017-09-19  6619.8

[104 rows x 1 columns]

In [122]:
df2

              OPEN
2017-04-24  6039.6
2017-04-25  5940.0
2017-04-26  5944.8
2017-04-27  5942.4
2017-04-28  5996.0
2017-05-02  6000.0
2017-05-03  5980.0
2017-05-04  5939.8
2017-05-05  5905.8
2017-05-08  5852.6
2017-05-09  5739.6
2017-05-10  5764.4
2017-05-11  5599.8
2017-05-12  5588.0
2017-05-15  5600.0
2017-05-16  5588.8
2017-05-17  5763.0
2017-05-18  5745.2
2017-05-19  5734.0
2017-05-22  5714.8
2017-05-23  5600.0
2017-05-24  5486.8
2017-05-25  5549.4
2017-05-26  5618.8
2017-05-31  5715.8
2017-06-01  5578.6
2017-06-02  5464.2
2017-06-05  5587.8
2017-06-06  5577.0
2017-06-07  5610.0
...            ...
2017-08-09  6098.8
2017-08-10  6112.8
2017-08-11  6033.6
2017-08-14  5977.4
2017-08-15  6108.6
2017-08-16  6110.0
2017-08-17  6138.8
2017-08-18  6140.2
2017-08-21  6174.0
2017-08-22  6222.2
2017-08-23  6190.0
2017-08-24  6160.0
2017-08-25  6124.8
2017-08-28  6214.8
2017-08-29  6295.8
2017-08-30  6275.0
2017-08-31  6321.8
2017-09-01  6346.0
2017-09-04  6414.0
2017-09-05  6424.4
2017-09-06  6429.8
2017-09-07  6465.0
2017-09-08  6428.8
2017-09-11  6421.4
2017-09-12  6545.0
2017-09-13  6526.8
2017-09-14  6537.0
2017-09-15  6562.4
2017-09-18  6527.2
2017-09-19  6619.8

[104 rows x 1 columns]

In [126]:
df2.insert(1,'CLOSE',df3)

ValueError: cannot insert CLOSE, already exists

In [128]:
df2.pop('CLOSE')

2017-04-24    2
2017-04-25    2
2017-04-26    2
2017-04-27    2
2017-04-28    2
2017-05-02    2
2017-05-03    2
2017-05-04    2
2017-05-05    2
2017-05-08    2
2017-05-09    2
2017-05-10    2
2017-05-11    2
2017-05-12    2
2017-05-15    2
2017-05-16    2
2017-05-17    2
2017-05-18    2
2017-05-19    2
2017-05-22    2
2017-05-23    2
2017-05-24    2
2017-05-25    2
2017-05-26    2
2017-05-31    2
2017-06-01    2
2017-06-02    2
2017-06-05    2
2017-06-06    2
2017-06-07    2
             ..
2017-08-09    2
2017-08-10    2
2017-08-11    2
2017-08-14    2
2017-08-15    2
2017-08-16    2
2017-08-17    2
2017-08-18    2
2017-08-21    2
2017-08-22    2
2017-08-23    2
2017-08-24    2
2017-08-25    2
2017-08-28    2
2017-08-29    2
2017-08-30    2
2017-08-31    2
2017-09-01    2
2017-09-04    2
2017-09-05    2
2017-09-06    2
2017-09-07    2
2017-09-08    2
2017-09-11    2
2017-09-12    2
2017-09-13    2
2017-09-14    2
2017-09-15    2
2017-09-18    2
2017-09-19    2
Name: CLOSE, Length: 104, dtype: int64

In [130]:
df2.insert(1,'CLOSE',df3)

In [131]:
df2

              OPEN      CLOSE
2017-04-24  6039.6  6138.5049
2017-04-25  5940.0  6160.4612
2017-04-26  5944.8  6176.3981
2017-04-27  5942.4  6192.3044
2017-04-28  5996.0  6211.8624
2017-05-02  6000.0  6216.1150
2017-05-03  5980.0  6197.4779
2017-05-04  5939.8  6176.3053
2017-05-05  5905.8  6089.6828
2017-05-08  5852.6  5975.5395
2017-05-09  5739.6  6012.0016
2017-05-10  5764.4  5885.8410
2017-05-11  5599.8  5872.6391
2017-05-12  5588.0  5863.7832
2017-05-15  5600.0  5893.5075
2017-05-16  5588.8  6014.7344
2017-05-17  5763.0  6027.6504
2017-05-18  5745.2  5976.2998
2017-05-19  5734.0  5974.9772
2017-05-22  5714.8  5888.8127
2017-05-23  5600.0  5764.8759
2017-05-24  5486.8  5799.2499
2017-05-25  5549.4  5850.8006
2017-05-26  5618.8  5836.9338
2017-05-31  5715.8  5824.1042
2017-06-01  5578.6  5709.9994
2017-06-02  5464.2  5772.5174
2017-06-05  5587.8  5815.8022
2017-06-06  5577.0  5841.5232
2017-06-07  5610.0  5955.0153
...            ...        ...
2017-08-09  6098.8  6340.0220
2017-08-10  6112.8  6289.2174
2017-08-11  6033.6  6161.1903
2017-08-14  5977.4  6292.6418
2017-08-15  6108.6  6314.7608
2017-08-16  6110.0  6318.7986
2017-08-17  6138.8  6366.0340
2017-08-18  6140.2  6347.7557
2017-08-21  6174.0  6403.7803
2017-08-22  6222.2  6375.9814
2017-08-23  6190.0  6322.7819
2017-08-24  6160.0  6278.5900
2017-08-25  6124.8  6346.5305
2017-08-28  6214.8  6424.5841
2017-08-29  6295.8  6408.1567
2017-08-30  6275.0  6453.4636
2017-08-31  6321.8  6470.4259
2017-09-01  6346.0  6526.5046
2017-09-04  6414.0  6564.6804
2017-09-05  6424.4  6571.8591
2017-09-06  6429.8  6607.1176
2017-09-07  6465.0  6558.5963
2017-09-08  6428.8  6574.1826
2017-09-11  6421.4  6649.6276
2017-09-12  6545.0  6644.0118
2017-09-13  6526.8  6684.3798
2017-09-14  6537.0  6672.1849
2017-09-15  6562.4  6622.0438
2017-09-18  6527.2  6669.4548
2017-09-19  6619.8  6636.0201

[104 rows x 2 columns]