In [2]:
import pandas as pd

In [2]:
df = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\mergehsi\\realizedVolatility.h5')
df

            log_square
2013-05-02    0.092505
2013-05-03    0.235902
2013-05-06    0.162300
2013-05-07    0.180687
2013-05-08    0.142982
2013-05-09    0.144753
2013-05-10    0.156307
2013-05-13    0.155454
2013-05-14    0.161783
2013-05-15    0.189238
2013-05-16    0.178896
2013-05-20    0.256886
2013-05-21    0.219516
2013-05-22    0.282221
2013-05-23    0.687830
2013-05-24    0.661329
2013-05-27    1.068466
2013-05-28    1.960805
2013-05-29    5.542903
2013-05-30    1.962995
2013-05-31    0.005547
2013-06-03    0.005557
2013-06-04    0.003309
2013-06-05    0.005190
2013-06-06    0.003504
2013-06-07    0.005087
2013-06-10    0.004380
2013-06-11    0.004037
2013-06-13    0.013639
2013-06-14    0.006363
...                ...
2015-10-19    0.000520
2015-10-20    0.000490
2015-10-22    0.000375
2015-10-23    0.000646
2015-10-26    0.001103
2015-10-27    0.003224
2015-10-28    0.002578
2015-10-29    0.025938
2015-10-30    0.007786
2015-11-02    0.010991
2015-11-03    0.008424
2015-11-04    0.010479
2015-11-05    0.008366
2015-11-06    0.021335
2015-11-09    0.002128
2015-11-10    0.013415
2015-11-11    0.003644
2015-11-12    0.011436
2015-11-13    0.009161
2015-11-16    0.010520
2015-11-17    0.003539
2015-11-18    0.004514
2015-11-19    0.009112
2015-11-20    0.005332
2015-11-23    0.010078
2015-11-24    0.029879
2015-11-25    0.020783
2015-11-26    0.057834
2015-11-27    0.132658
2015-11-30    0.010128

[637 rows x 1 columns]

In [3]:
df1 = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\mergehsi\\amplitude.h5')
df1

            amplitude
2013-05-02      568.0
2013-05-03      625.0
2013-05-06      559.0
2013-05-07      585.0
2013-05-08      512.0
2013-05-09      547.0
2013-05-10      553.0
2013-05-13      715.0
2013-05-14      671.0
2013-05-15      552.0
2013-05-16      628.0
2013-05-20      630.0
2013-05-21      485.0
2013-05-22      637.0
2013-05-23     1060.0
2013-05-24      690.0
2013-05-27      618.0
2013-05-28      647.0
2013-05-29      748.0
2013-05-30      744.0
2013-05-31      365.0
2013-06-03      478.0
2013-06-04      315.0
2013-06-05      377.0
2013-06-06      310.0
2013-06-07      430.0
2013-06-10      318.0
2013-06-11      428.0
2013-06-13      501.0
2013-06-14      347.0
...               ...
2015-10-19      225.0
2015-10-20      250.0
2015-10-22      170.0
2015-10-23      212.0
2015-10-26      383.0
2015-10-27      260.0
2015-10-28      220.0
2015-10-29      328.0
2015-10-30      627.0
2015-11-02      640.0
2015-11-03      529.0
2015-11-04     1040.0
2015-11-05      600.0
2015-11-06      555.0
2015-11-09      655.0
2015-11-10      720.0
2015-11-11      526.0
2015-11-12      997.0
2015-11-13      590.0
2015-11-16      580.0
2015-11-17      610.0
2015-11-18      565.0
2015-11-19      498.0
2015-11-20      753.0
2015-11-23      536.0
2015-11-24      666.0
2015-11-25      535.0
2015-11-26      991.0
2015-11-27      962.0
2015-11-30      641.0

[637 rows x 1 columns]

In [4]:
df2 = pd.read_excel('C:\\Users\\Administrator\\Desktop\\mergehsi\\amplitudeDuration.xlsx')
df2

          Date  Max_Time  Min_Time amplitudeDuration
0   2013-05-02  11:01:59  10:51:59          00:10:00
1   2013-05-03  10:00:59  13:35:57          03:34:58
2   2013-05-06  09:15:59  10:43:58          01:27:59
3   2013-05-07  16:10:58  09:26:58          06:44:00
4   2013-05-08  15:37:59  09:50:56          05:47:03
5   2013-05-09  09:20:59  09:25:56          00:04:57
6   2013-05-10  15:34:59  15:44:57          00:09:58
7   2013-05-13  09:15:59  14:53:59          05:38:00
8   2013-05-14  09:28:59  13:02:58          03:33:59
9   2013-05-15  13:20:58  15:44:59          02:24:01
10  2013-05-16  11:23:58  09:25:59          01:57:59
11  2013-05-20  11:05:58  09:14:01          01:51:57
12  2013-05-21  10:39:59  16:10:59          05:31:00
13  2013-05-22  13:18:59  14:22:59          01:04:00
14  2013-05-23  09:16:57  14:24:59          05:08:02
15  2013-05-24  09:38:59  12:59:00          03:20:01
16  2013-05-27  15:31:58  09:15:59          06:15:59
17  2013-05-28  15:59:59  14:16:59          01:43:00
18  2013-05-29  09:41:59  15:47:59          06:06:00
19  2013-05-30  09:46:59  13:26:59          03:40:00
20  2013-05-31  09:17:59  15:31:59          06:14:00
21  2013-06-03  09:36:59  15:44:59          06:08:00
22  2013-06-04  09:14:01  11:27:59          02:13:58
23  2013-06-05  10:11:56  14:53:59          04:42:03
24  2013-06-06  09:16:59  13:01:59          03:45:00
25  2013-06-07  09:35:59  12:59:00          03:23:01
26  2013-06-10  11:34:59  13:25:59          01:51:00
27  2013-06-11  09:50:56  15:24:59          05:34:03
28  2013-06-13  09:14:01  13:32:59          04:18:58
29  2013-06-14  10:10:59  15:12:59          05:02:00
..         ...       ...       ...               ...
607 2015-10-19  15:33:59  14:10:59          01:23:00
608 2015-10-20  09:41:59  14:32:59          04:51:00
609 2015-10-22  16:11:58  09:32:59          06:38:59
610 2015-10-23  09:14:00  09:48:59          00:34:59
611 2015-10-26  09:14:00  16:13:57          06:59:57
612 2015-10-27  14:40:59  11:22:59          03:18:00
613 2015-10-28  10:00:59  15:16:58          05:15:59
614 2015-10-29  09:23:59  16:02:59          06:39:00
615 2015-10-30  13:06:59  15:59:59          02:53:00
616 2015-11-02  11:15:59  15:45:59          04:30:00
617 2015-11-03  10:17:59  09:14:00          01:03:59
618 2015-11-04  11:30:59  09:20:59          02:10:00
619 2015-11-05  10:18:59  09:30:59          00:48:00
620 2015-11-06  09:14:00  16:12:59          06:58:59
621 2015-11-09  11:17:59  16:12:59          04:55:00
622 2015-11-10  11:22:59  15:41:59          04:19:00
623 2015-11-11  11:16:59  15:35:59          04:19:00
624 2015-11-12  15:34:59  09:14:00          06:20:59
625 2015-11-13  09:14:00  13:56:59          04:42:59
626 2015-11-16  16:13:59  09:14:01          06:59:58
627 2015-11-17  13:02:59  16:05:59          03:03:00
628 2015-11-18  09:26:59  15:57:59          06:31:00
629 2015-11-19  10:29:58  09:22:59          01:06:59
630 2015-11-20  16:12:58  09:40:59          06:31:59
631 2015-11-23  11:22:59  14:15:59          02:53:00
632 2015-11-24  09:14:00  13:11:59          03:57:59
633 2015-11-25  13:41:59  16:03:59          02:22:00
634 2015-11-26  09:20:59  14:36:59          05:16:00
635 2015-11-27  09:14:00  16:12:59          06:58:59
636 2015-11-30  14:24:59  09:40:59          04:44:00

[637 rows x 4 columns]

In [5]:
df2.index = df2.Date
df2

                 Date  Max_Time  Min_Time amplitudeDuration
Date
2013-05-02 2013-05-02  11:01:59  10:51:59          00:10:00
2013-05-03 2013-05-03  10:00:59  13:35:57          03:34:58
2013-05-06 2013-05-06  09:15:59  10:43:58          01:27:59
2013-05-07 2013-05-07  16:10:58  09:26:58          06:44:00
2013-05-08 2013-05-08  15:37:59  09:50:56          05:47:03
2013-05-09 2013-05-09  09:20:59  09:25:56          00:04:57
2013-05-10 2013-05-10  15:34:59  15:44:57          00:09:58
2013-05-13 2013-05-13  09:15:59  14:53:59          05:38:00
2013-05-14 2013-05-14  09:28:59  13:02:58          03:33:59
2013-05-15 2013-05-15  13:20:58  15:44:59          02:24:01
2013-05-16 2013-05-16  11:23:58  09:25:59          01:57:59
2013-05-20 2013-05-20  11:05:58  09:14:01          01:51:57
2013-05-21 2013-05-21  10:39:59  16:10:59          05:31:00
2013-05-22 2013-05-22  13:18:59  14:22:59          01:04:00
2013-05-23 2013-05-23  09:16:57  14:24:59          05:08:02
2013-05-24 2013-05-24  09:38:59  12:59:00          03:20:01
2013-05-27 2013-05-27  15:31:58  09:15:59          06:15:59
2013-05-28 2013-05-28  15:59:59  14:16:59          01:43:00
2013-05-29 2013-05-29  09:41:59  15:47:59          06:06:00
2013-05-30 2013-05-30  09:46:59  13:26:59          03:40:00
2013-05-31 2013-05-31  09:17:59  15:31:59          06:14:00
2013-06-03 2013-06-03  09:36:59  15:44:59          06:08:00
2013-06-04 2013-06-04  09:14:01  11:27:59          02:13:58
2013-06-05 2013-06-05  10:11:56  14:53:59          04:42:03
2013-06-06 2013-06-06  09:16:59  13:01:59          03:45:00
2013-06-07 2013-06-07  09:35:59  12:59:00          03:23:01
2013-06-10 2013-06-10  11:34:59  13:25:59          01:51:00
2013-06-11 2013-06-11  09:50:56  15:24:59          05:34:03
2013-06-13 2013-06-13  09:14:01  13:32:59          04:18:58
2013-06-14 2013-06-14  10:10:59  15:12:59          05:02:00
...               ...       ...       ...               ...
2015-10-19 2015-10-19  15:33:59  14:10:59          01:23:00
2015-10-20 2015-10-20  09:41:59  14:32:59          04:51:00
2015-10-22 2015-10-22  16:11:58  09:32:59          06:38:59
2015-10-23 2015-10-23  09:14:00  09:48:59          00:34:59
2015-10-26 2015-10-26  09:14:00  16:13:57          06:59:57
2015-10-27 2015-10-27  14:40:59  11:22:59          03:18:00
2015-10-28 2015-10-28  10:00:59  15:16:58          05:15:59
2015-10-29 2015-10-29  09:23:59  16:02:59          06:39:00
2015-10-30 2015-10-30  13:06:59  15:59:59          02:53:00
2015-11-02 2015-11-02  11:15:59  15:45:59          04:30:00
2015-11-03 2015-11-03  10:17:59  09:14:00          01:03:59
2015-11-04 2015-11-04  11:30:59  09:20:59          02:10:00
2015-11-05 2015-11-05  10:18:59  09:30:59          00:48:00
2015-11-06 2015-11-06  09:14:00  16:12:59          06:58:59
2015-11-09 2015-11-09  11:17:59  16:12:59          04:55:00
2015-11-10 2015-11-10  11:22:59  15:41:59          04:19:00
2015-11-11 2015-11-11  11:16:59  15:35:59          04:19:00
2015-11-12 2015-11-12  15:34:59  09:14:00          06:20:59
2015-11-13 2015-11-13  09:14:00  13:56:59          04:42:59
2015-11-16 2015-11-16  16:13:59  09:14:01          06:59:58
2015-11-17 2015-11-17  13:02:59  16:05:59          03:03:00
2015-11-18 2015-11-18  09:26:59  15:57:59          06:31:00
2015-11-19 2015-11-19  10:29:58  09:22:59          01:06:59
2015-11-20 2015-11-20  16:12:58  09:40:59          06:31:59
2015-11-23 2015-11-23  11:22:59  14:15:59          02:53:00
2015-11-24 2015-11-24  09:14:00  13:11:59          03:57:59
2015-11-25 2015-11-25  13:41:59  16:03:59          02:22:00
2015-11-26 2015-11-26  09:20:59  14:36:59          05:16:00
2015-11-27 2015-11-27  09:14:00  16:12:59          06:58:59
2015-11-30 2015-11-30  14:24:59  09:40:59          04:44:00

[637 rows x 4 columns]

In [6]:
df2.drop('Date',axis=1,inplace=True)
df2

            Max_Time  Min_Time amplitudeDuration
Date
2013-05-02  11:01:59  10:51:59          00:10:00
2013-05-03  10:00:59  13:35:57          03:34:58
2013-05-06  09:15:59  10:43:58          01:27:59
2013-05-07  16:10:58  09:26:58          06:44:00
2013-05-08  15:37:59  09:50:56          05:47:03
2013-05-09  09:20:59  09:25:56          00:04:57
2013-05-10  15:34:59  15:44:57          00:09:58
2013-05-13  09:15:59  14:53:59          05:38:00
2013-05-14  09:28:59  13:02:58          03:33:59
2013-05-15  13:20:58  15:44:59          02:24:01
2013-05-16  11:23:58  09:25:59          01:57:59
2013-05-20  11:05:58  09:14:01          01:51:57
2013-05-21  10:39:59  16:10:59          05:31:00
2013-05-22  13:18:59  14:22:59          01:04:00
2013-05-23  09:16:57  14:24:59          05:08:02
2013-05-24  09:38:59  12:59:00          03:20:01
2013-05-27  15:31:58  09:15:59          06:15:59
2013-05-28  15:59:59  14:16:59          01:43:00
2013-05-29  09:41:59  15:47:59          06:06:00
2013-05-30  09:46:59  13:26:59          03:40:00
2013-05-31  09:17:59  15:31:59          06:14:00
2013-06-03  09:36:59  15:44:59          06:08:00
2013-06-04  09:14:01  11:27:59          02:13:58
2013-06-05  10:11:56  14:53:59          04:42:03
2013-06-06  09:16:59  13:01:59          03:45:00
2013-06-07  09:35:59  12:59:00          03:23:01
2013-06-10  11:34:59  13:25:59          01:51:00
2013-06-11  09:50:56  15:24:59          05:34:03
2013-06-13  09:14:01  13:32:59          04:18:58
2013-06-14  10:10:59  15:12:59          05:02:00
...              ...       ...               ...
2015-10-19  15:33:59  14:10:59          01:23:00
2015-10-20  09:41:59  14:32:59          04:51:00
2015-10-22  16:11:58  09:32:59          06:38:59
2015-10-23  09:14:00  09:48:59          00:34:59
2015-10-26  09:14:00  16:13:57          06:59:57
2015-10-27  14:40:59  11:22:59          03:18:00
2015-10-28  10:00:59  15:16:58          05:15:59
2015-10-29  09:23:59  16:02:59          06:39:00
2015-10-30  13:06:59  15:59:59          02:53:00
2015-11-02  11:15:59  15:45:59          04:30:00
2015-11-03  10:17:59  09:14:00          01:03:59
2015-11-04  11:30:59  09:20:59          02:10:00
2015-11-05  10:18:59  09:30:59          00:48:00
2015-11-06  09:14:00  16:12:59          06:58:59
2015-11-09  11:17:59  16:12:59          04:55:00
2015-11-10  11:22:59  15:41:59          04:19:00
2015-11-11  11:16:59  15:35:59          04:19:00
2015-11-12  15:34:59  09:14:00          06:20:59
2015-11-13  09:14:00  13:56:59          04:42:59
2015-11-16  16:13:59  09:14:01          06:59:58
2015-11-17  13:02:59  16:05:59          03:03:00
2015-11-18  09:26:59  15:57:59          06:31:00
2015-11-19  10:29:58  09:22:59          01:06:59
2015-11-20  16:12:58  09:40:59          06:31:59
2015-11-23  11:22:59  14:15:59          02:53:00
2015-11-24  09:14:00  13:11:59          03:57:59
2015-11-25  13:41:59  16:03:59          02:22:00
2015-11-26  09:20:59  14:36:59          05:16:00
2015-11-27  09:14:00  16:12:59          06:58:59
2015-11-30  14:24:59  09:40:59          04:44:00

[637 rows x 3 columns]

In [7]:
df2.to_hdf('amplitudeDuration.h5','duration')

D:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:1282: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->time,key->block0_values] [items->['Max_Time', 'Min_Time', 'amplitudeDuration']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

In [8]:
pd.read_hdf('C:\\Users\\Administrator\\Desktop\\mergehsi\\amplitudeDuration.h5')

            Max_Time  Min_Time amplitudeDuration
Date
2013-05-02  11:01:59  10:51:59          00:10:00
2013-05-03  10:00:59  13:35:57          03:34:58
2013-05-06  09:15:59  10:43:58          01:27:59
2013-05-07  16:10:58  09:26:58          06:44:00
2013-05-08  15:37:59  09:50:56          05:47:03
2013-05-09  09:20:59  09:25:56          00:04:57
2013-05-10  15:34:59  15:44:57          00:09:58
2013-05-13  09:15:59  14:53:59          05:38:00
2013-05-14  09:28:59  13:02:58          03:33:59
2013-05-15  13:20:58  15:44:59          02:24:01
2013-05-16  11:23:58  09:25:59          01:57:59
2013-05-20  11:05:58  09:14:01          01:51:57
2013-05-21  10:39:59  16:10:59          05:31:00
2013-05-22  13:18:59  14:22:59          01:04:00
2013-05-23  09:16:57  14:24:59          05:08:02
2013-05-24  09:38:59  12:59:00          03:20:01
2013-05-27  15:31:58  09:15:59          06:15:59
2013-05-28  15:59:59  14:16:59          01:43:00
2013-05-29  09:41:59  15:47:59          06:06:00
2013-05-30  09:46:59  13:26:59          03:40:00
2013-05-31  09:17:59  15:31:59          06:14:00
2013-06-03  09:36:59  15:44:59          06:08:00
2013-06-04  09:14:01  11:27:59          02:13:58
2013-06-05  10:11:56  14:53:59          04:42:03
2013-06-06  09:16:59  13:01:59          03:45:00
2013-06-07  09:35:59  12:59:00          03:23:01
2013-06-10  11:34:59  13:25:59          01:51:00
2013-06-11  09:50:56  15:24:59          05:34:03
2013-06-13  09:14:01  13:32:59          04:18:58
2013-06-14  10:10:59  15:12:59          05:02:00
...              ...       ...               ...
2015-10-19  15:33:59  14:10:59          01:23:00
2015-10-20  09:41:59  14:32:59          04:51:00
2015-10-22  16:11:58  09:32:59          06:38:59
2015-10-23  09:14:00  09:48:59          00:34:59
2015-10-26  09:14:00  16:13:57          06:59:57
2015-10-27  14:40:59  11:22:59          03:18:00
2015-10-28  10:00:59  15:16:58          05:15:59
2015-10-29  09:23:59  16:02:59          06:39:00
2015-10-30  13:06:59  15:59:59          02:53:00
2015-11-02  11:15:59  15:45:59          04:30:00
2015-11-03  10:17:59  09:14:00          01:03:59
2015-11-04  11:30:59  09:20:59          02:10:00
2015-11-05  10:18:59  09:30:59          00:48:00
2015-11-06  09:14:00  16:12:59          06:58:59
2015-11-09  11:17:59  16:12:59          04:55:00
2015-11-10  11:22:59  15:41:59          04:19:00
2015-11-11  11:16:59  15:35:59          04:19:00
2015-11-12  15:34:59  09:14:00          06:20:59
2015-11-13  09:14:00  13:56:59          04:42:59
2015-11-16  16:13:59  09:14:01          06:59:58
2015-11-17  13:02:59  16:05:59          03:03:00
2015-11-18  09:26:59  15:57:59          06:31:00
2015-11-19  10:29:58  09:22:59          01:06:59
2015-11-20  16:12:58  09:40:59          06:31:59
2015-11-23  11:22:59  14:15:59          02:53:00
2015-11-24  09:14:00  13:11:59          03:57:59
2015-11-25  13:41:59  16:03:59          02:22:00
2015-11-26  09:20:59  14:36:59          05:16:00
2015-11-27  09:14:00  16:12:59          06:58:59
2015-11-30  14:24:59  09:40:59          04:44:00

[637 rows x 3 columns]

In [9]:
df3 = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\mergehsi\\amplitudeSlope.h5')
df3

,Date,Max_Time,Min_Time,amplitudeDuration,amplitude,hour,mins,secs,Duration_mins,amplitudeSlope
Date,,,,,,,,,,
2013-05-02,2013-05-02,11:01:59,10:51:59,00:10:00,568.0,0,10,0,10.000000,56.800000
2013-05-03,2013-05-03,10:00:59,13:35:57,03:34:58,625.0,3,34,58,214.966667,2.907428
2013-05-06,2013-05-06,09:15:59,10:43:58,01:27:59,559.0,1,27,59,87.983333,6.353476
2013-05-07,2013-05-07,16:10:58,09:26:58,06:44:00,585.0,6,44,0,404.000000,1.448020
2013-05-08,2013-05-08,15:37:59,09:50:56,05:47:03,512.0,5,47,3,347.050000,1.475292
2013-05-09,2013-05-09,09:20:59,09:25:56,00:04:57,547.0,0,4,57,4.950000,110.505051
2013-05-10,2013-05-10,15:34:59,15:44:57,00:09:58,553.0,0,9,58,9.966667,55.484950
2013-05-13,2013-05-13,09:15:59,14:53:59,05:38:00,715.0,5,38,0,338.000000,2.115385
2013-05-14,2013-05-14,09:28:59,13:02:58,03:33:59,671.0,3,33,59,213.983333,3.135758
2013-05-15,2013-05-15,13:20:58,15:44:59,02:24:01,552.0,2,24,1,144.016667,3.832890
2013-05-16,2013-05-16,11:23:58,09:25:59,01:57:59,628.0,1,57,59,117.983333,5.322786
2013-05-20,2013-05-20,11:05:58,09:14:01,01:51:57,630.0,1,51,57,111.950000,5.627512
2013-05-21,2013-05-21,10:39:59,16:10:59,05:31:00,485.0,5,31,0,331.000000,1.465257
2013-05-22,2013-05-22,13:18:59,14:22:59,01:04:00,637.0,1,4,0,64.000000,9.953125
2013-05-23,2013-05-23,09:16:57,14:24:59,05:08:02,1060.0,5,8,2,308.033333,3.441186
2013-05-24,2013-05-24,09:38:59,12:59:00,03:20:01,690.0,3,20,1,200.016667,3.449713
2013-05-27,2013-05-27,15:31:58,09:15:59,06:15:59,618.0,6,15,59,375.983333,1.643690
2013-05-28,2013-05-28,15:59:59,14:16:59,01:43:00,647.0,1,43,0,103.000000,6.281553
2013-05-29,2013-05-29,09:41:59,15:47:59,06:06:00,748.0,6,6,0,366.000000,2.043716
2013-05-30,2013-05-30,09:46:59,13:26:59,03:40:00,744.0,3,40,0,220.000000,3.381818
2013-05-31,2013-05-31,09:17:59,15:31:59,06:14:00,365.0,6,14,0,374.000000,0.975936
2013-06-03,2013-06-03,09:36:59,15:44:59,06:08:00,478.0,6,8,0,368.000000,1.298913
2013-06-04,2013-06-04,09:14:01,11:27:59,02:13:58,315.0,2,13,58,133.966667,2.351331
2013-06-05,2013-06-05,10:11:56,14:53:59,04:42:03,377.0,4,42,3,282.050000,1.336642
2013-06-06,2013-06-06,09:16:59,13:01:59,03:45:00,310.0,3,45,0,225.000000,1.377778
2013-06-07,2013-06-07,09:35:59,12:59:00,03:23:01,430.0,3,23,1,203.016667,2.118053
2013-06-10,2013-06-10,11:34:59,13:25:59,01:51:00,318.0,1,51,0,111.000000,2.864865
2013-06-11,2013-06-11,09:50:56,15:24:59,05:34:03,428.0,5,34,3,334.050000,1.281245
2013-06-13,2013-06-13,09:14:01,13:32:59,04:18:58,501.0,4,18,58,258.966667,1.934612
2013-06-14,2013-06-14,10:10:59,15:12:59,05:02:00,347.0,5,2,0,302.000000,1.149007
...,...,...,...,...,...,...,...,...,...,...
2015-10-19,2015-10-19,15:33:59,14:10:59,01:23:00,225.0,1,23,0,83.000000,2.710843
2015-10-20,2015-10-20,09:41:59,14:32:59,04:51:00,250.0,4,51,0,291.000000,0.859107
2015-10-22,2015-10-22,16:11:58,09:32:59,06:38:59,170.0,6,38,59,398.983333,0.426083
2015-10-23,2015-10-23,09:14:00,09:48:59,00:34:59,212.0,0,34,59,34.983333,6.060029
2015-10-26,2015-10-26,09:14:00,16:13:57,06:59:57,383.0,6,59,57,419.950000,0.912013
2015-10-27,2015-10-27,14:40:59,11:22:59,03:18:00,260.0,3,18,0,198.000000,1.313131
2015-10-28,2015-10-28,10:00:59,15:16:58,05:15:59,220.0,5,15,59,315.983333,0.696239
2015-10-29,2015-10-29,09:23:59,16:02:59,06:39:00,328.0,6,39,0,399.000000,0.822055
2015-10-30,2015-10-30,13:06:59,15:59:59,02:53:00,627.0,2,53,0,173.000000,3.624277
2015-11-02,2015-11-02,11:15:59,15:45:59,04:30:00,640.0,4,30,0,270.000000,2.370370
2015-11-03,2015-11-03,10:17:59,09:14:00,01:03:59,529.0,1,3,59,63.983333,8.267778
2015-11-04,2015-11-04,11:30:59,09:20:59,02:10:00,1040.0,2,10,0,130.000000,8.000000
2015-11-05,2015-11-05,10:18:59,09:30:59,00:48:00,600.0,0,48,0,48.000000,12.500000
2015-11-06,2015-11-06,09:14:00,16:12:59,06:58:59,555.0,6,58,59,418.983333,1.324635
2015-11-09,2015-11-09,11:17:59,16:12:59,04:55:00,655.0,4,55,0,295.000000,2.220339
2015-11-10,2015-11-10,11:22:59,15:41:59,04:19:00,720.0,4,19,0,259.000000,2.779923
2015-11-11,2015-11-11,11:16:59,15:35:59,04:19:00,526.0,4,19,0,259.000000,2.030888
2015-11-12,2015-11-12,15:34:59,09:14:00,06:20:59,997.0,6,20,59,380.983333,2.616912
2015-11-13,2015-11-13,09:14:00,13:56:59,04:42:59,590.0,4,42,59,282.983333,2.084928
2015-11-16,2015-11-16,16:13:59,09:14:01,06:59:58,580.0,6,59,58,419.966667,1.381062
2015-11-17,2015-11-17,13:02:59,16:05:59,03:03:00,610.0,3,3,0,183.000000,3.333333
2015-11-18,2015-11-18,09:26:59,15:57:59,06:31:00,565.0,6,31,0,391.000000,1.445013
2015-11-19,2015-11-19,10:29:58,09:22:59,01:06:59,498.0,1,6,59,66.983333,7.434685
2015-11-20,2015-11-20,16:12:58,09:40:59,06:31:59,753.0,6,31,59,391.983333,1.921000
2015-11-23,2015-11-23,11:22:59,14:15:59,02:53:00,536.0,2,53,0,173.000000,3.098266
2015-11-24,2015-11-24,09:14:00,13:11:59,03:57:59,666.0,3,57,59,237.983333,2.798515
2015-11-25,2015-11-25,13:41:59,16:03:59,02:22:00,535.0,2,22,0,142.000000,3.767606
2015-11-26,2015-11-26,09:20:59,14:36:59,05:16:00,991.0,5,16,0,316.000000,3.136076
2015-11-27,2015-11-27,09:14:00,16:12:59,06:58:59,962.0,6,58,59,418.983333,2.296034
2015-11-30,2015-11-30,14:24:59,09:40:59,04:44:00,641.0,4,44,0,284.000000,2.257042

In [10]:
df3.drop('Date', axis=1, inplace=True)
df3

,Max_Time,Min_Time,amplitudeDuration,amplitude,hour,mins,secs,Duration_mins,amplitudeSlope
Date,,,,,,,,,
2013-05-02,11:01:59,10:51:59,00:10:00,568.0,0,10,0,10.000000,56.800000
2013-05-03,10:00:59,13:35:57,03:34:58,625.0,3,34,58,214.966667,2.907428
2013-05-06,09:15:59,10:43:58,01:27:59,559.0,1,27,59,87.983333,6.353476
2013-05-07,16:10:58,09:26:58,06:44:00,585.0,6,44,0,404.000000,1.448020
2013-05-08,15:37:59,09:50:56,05:47:03,512.0,5,47,3,347.050000,1.475292
2013-05-09,09:20:59,09:25:56,00:04:57,547.0,0,4,57,4.950000,110.505051
2013-05-10,15:34:59,15:44:57,00:09:58,553.0,0,9,58,9.966667,55.484950
2013-05-13,09:15:59,14:53:59,05:38:00,715.0,5,38,0,338.000000,2.115385
2013-05-14,09:28:59,13:02:58,03:33:59,671.0,3,33,59,213.983333,3.135758
2013-05-15,13:20:58,15:44:59,02:24:01,552.0,2,24,1,144.016667,3.832890
2013-05-16,11:23:58,09:25:59,01:57:59,628.0,1,57,59,117.983333,5.322786
2013-05-20,11:05:58,09:14:01,01:51:57,630.0,1,51,57,111.950000,5.627512
2013-05-21,10:39:59,16:10:59,05:31:00,485.0,5,31,0,331.000000,1.465257
2013-05-22,13:18:59,14:22:59,01:04:00,637.0,1,4,0,64.000000,9.953125
2013-05-23,09:16:57,14:24:59,05:08:02,1060.0,5,8,2,308.033333,3.441186
2013-05-24,09:38:59,12:59:00,03:20:01,690.0,3,20,1,200.016667,3.449713
2013-05-27,15:31:58,09:15:59,06:15:59,618.0,6,15,59,375.983333,1.643690
2013-05-28,15:59:59,14:16:59,01:43:00,647.0,1,43,0,103.000000,6.281553
2013-05-29,09:41:59,15:47:59,06:06:00,748.0,6,6,0,366.000000,2.043716
2013-05-30,09:46:59,13:26:59,03:40:00,744.0,3,40,0,220.000000,3.381818
2013-05-31,09:17:59,15:31:59,06:14:00,365.0,6,14,0,374.000000,0.975936
2013-06-03,09:36:59,15:44:59,06:08:00,478.0,6,8,0,368.000000,1.298913
2013-06-04,09:14:01,11:27:59,02:13:58,315.0,2,13,58,133.966667,2.351331
2013-06-05,10:11:56,14:53:59,04:42:03,377.0,4,42,3,282.050000,1.336642
2013-06-06,09:16:59,13:01:59,03:45:00,310.0,3,45,0,225.000000,1.377778
2013-06-07,09:35:59,12:59:00,03:23:01,430.0,3,23,1,203.016667,2.118053
2013-06-10,11:34:59,13:25:59,01:51:00,318.0,1,51,0,111.000000,2.864865
2013-06-11,09:50:56,15:24:59,05:34:03,428.0,5,34,3,334.050000,1.281245
2013-06-13,09:14:01,13:32:59,04:18:58,501.0,4,18,58,258.966667,1.934612
2013-06-14,10:10:59,15:12:59,05:02:00,347.0,5,2,0,302.000000,1.149007
...,...,...,...,...,...,...,...,...,...
2015-10-19,15:33:59,14:10:59,01:23:00,225.0,1,23,0,83.000000,2.710843
2015-10-20,09:41:59,14:32:59,04:51:00,250.0,4,51,0,291.000000,0.859107
2015-10-22,16:11:58,09:32:59,06:38:59,170.0,6,38,59,398.983333,0.426083
2015-10-23,09:14:00,09:48:59,00:34:59,212.0,0,34,59,34.983333,6.060029
2015-10-26,09:14:00,16:13:57,06:59:57,383.0,6,59,57,419.950000,0.912013
2015-10-27,14:40:59,11:22:59,03:18:00,260.0,3,18,0,198.000000,1.313131
2015-10-28,10:00:59,15:16:58,05:15:59,220.0,5,15,59,315.983333,0.696239
2015-10-29,09:23:59,16:02:59,06:39:00,328.0,6,39,0,399.000000,0.822055
2015-10-30,13:06:59,15:59:59,02:53:00,627.0,2,53,0,173.000000,3.624277
2015-11-02,11:15:59,15:45:59,04:30:00,640.0,4,30,0,270.000000,2.370370
2015-11-03,10:17:59,09:14:00,01:03:59,529.0,1,3,59,63.983333,8.267778
2015-11-04,11:30:59,09:20:59,02:10:00,1040.0,2,10,0,130.000000,8.000000
2015-11-05,10:18:59,09:30:59,00:48:00,600.0,0,48,0,48.000000,12.500000
2015-11-06,09:14:00,16:12:59,06:58:59,555.0,6,58,59,418.983333,1.324635
2015-11-09,11:17:59,16:12:59,04:55:00,655.0,4,55,0,295.000000,2.220339
2015-11-10,11:22:59,15:41:59,04:19:00,720.0,4,19,0,259.000000,2.779923
2015-11-11,11:16:59,15:35:59,04:19:00,526.0,4,19,0,259.000000,2.030888
2015-11-12,15:34:59,09:14:00,06:20:59,997.0,6,20,59,380.983333,2.616912
2015-11-13,09:14:00,13:56:59,04:42:59,590.0,4,42,59,282.983333,2.084928
2015-11-16,16:13:59,09:14:01,06:59:58,580.0,6,59,58,419.966667,1.381062
2015-11-17,13:02:59,16:05:59,03:03:00,610.0,3,3,0,183.000000,3.333333
2015-11-18,09:26:59,15:57:59,06:31:00,565.0,6,31,0,391.000000,1.445013
2015-11-19,10:29:58,09:22:59,01:06:59,498.0,1,6,59,66.983333,7.434685
2015-11-20,16:12:58,09:40:59,06:31:59,753.0,6,31,59,391.983333,1.921000
2015-11-23,11:22:59,14:15:59,02:53:00,536.0,2,53,0,173.000000,3.098266
2015-11-24,09:14:00,13:11:59,03:57:59,666.0,3,57,59,237.983333,2.798515
2015-11-25,13:41:59,16:03:59,02:22:00,535.0,2,22,0,142.000000,3.767606
2015-11-26,09:20:59,14:36:59,05:16:00,991.0,5,16,0,316.000000,3.136076
2015-11-27,09:14:00,16:12:59,06:58:59,962.0,6,58,59,418.983333,2.296034
2015-11-30,14:24:59,09:40:59,04:44:00,641.0,4,44,0,284.000000,2.257042

In [11]:
df3.to_hdf('amplitudeSlope.h5','slope')

D:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:1282: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block0_values] [items->['Max_Time', 'Min_Time', 'amplitudeDuration']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

In [12]:
pd.read_hdf('C:\\Users\\Administrator\\Desktop\\mergehsi\\FinishedDataset\\amplitudeSlope.h5')

,Max_Time,Min_Time,amplitudeDuration,amplitude,hour,mins,secs,Duration_mins,amplitudeSlope
Date,,,,,,,,,
2013-05-02,11:01:59,10:51:59,00:10:00,568.0,0,10,0,10.000000,56.800000
2013-05-03,10:00:59,13:35:57,03:34:58,625.0,3,34,58,214.966667,2.907428
2013-05-06,09:15:59,10:43:58,01:27:59,559.0,1,27,59,87.983333,6.353476
2013-05-07,16:10:58,09:26:58,06:44:00,585.0,6,44,0,404.000000,1.448020
2013-05-08,15:37:59,09:50:56,05:47:03,512.0,5,47,3,347.050000,1.475292
2013-05-09,09:20:59,09:25:56,00:04:57,547.0,0,4,57,4.950000,110.505051
2013-05-10,15:34:59,15:44:57,00:09:58,553.0,0,9,58,9.966667,55.484950
2013-05-13,09:15:59,14:53:59,05:38:00,715.0,5,38,0,338.000000,2.115385
2013-05-14,09:28:59,13:02:58,03:33:59,671.0,3,33,59,213.983333,3.135758
2013-05-15,13:20:58,15:44:59,02:24:01,552.0,2,24,1,144.016667,3.832890
2013-05-16,11:23:58,09:25:59,01:57:59,628.0,1,57,59,117.983333,5.322786
2013-05-20,11:05:58,09:14:01,01:51:57,630.0,1,51,57,111.950000,5.627512
2013-05-21,10:39:59,16:10:59,05:31:00,485.0,5,31,0,331.000000,1.465257
2013-05-22,13:18:59,14:22:59,01:04:00,637.0,1,4,0,64.000000,9.953125
2013-05-23,09:16:57,14:24:59,05:08:02,1060.0,5,8,2,308.033333,3.441186
2013-05-24,09:38:59,12:59:00,03:20:01,690.0,3,20,1,200.016667,3.449713
2013-05-27,15:31:58,09:15:59,06:15:59,618.0,6,15,59,375.983333,1.643690
2013-05-28,15:59:59,14:16:59,01:43:00,647.0,1,43,0,103.000000,6.281553
2013-05-29,09:41:59,15:47:59,06:06:00,748.0,6,6,0,366.000000,2.043716
2013-05-30,09:46:59,13:26:59,03:40:00,744.0,3,40,0,220.000000,3.381818
2013-05-31,09:17:59,15:31:59,06:14:00,365.0,6,14,0,374.000000,0.975936
2013-06-03,09:36:59,15:44:59,06:08:00,478.0,6,8,0,368.000000,1.298913
2013-06-04,09:14:01,11:27:59,02:13:58,315.0,2,13,58,133.966667,2.351331
2013-06-05,10:11:56,14:53:59,04:42:03,377.0,4,42,3,282.050000,1.336642
2013-06-06,09:16:59,13:01:59,03:45:00,310.0,3,45,0,225.000000,1.377778
2013-06-07,09:35:59,12:59:00,03:23:01,430.0,3,23,1,203.016667,2.118053
2013-06-10,11:34:59,13:25:59,01:51:00,318.0,1,51,0,111.000000,2.864865
2013-06-11,09:50:56,15:24:59,05:34:03,428.0,5,34,3,334.050000,1.281245
2013-06-13,09:14:01,13:32:59,04:18:58,501.0,4,18,58,258.966667,1.934612
2013-06-14,10:10:59,15:12:59,05:02:00,347.0,5,2,0,302.000000,1.149007
...,...,...,...,...,...,...,...,...,...
2015-10-19,15:33:59,14:10:59,01:23:00,225.0,1,23,0,83.000000,2.710843
2015-10-20,09:41:59,14:32:59,04:51:00,250.0,4,51,0,291.000000,0.859107
2015-10-22,16:11:58,09:32:59,06:38:59,170.0,6,38,59,398.983333,0.426083
2015-10-23,09:14:00,09:48:59,00:34:59,212.0,0,34,59,34.983333,6.060029
2015-10-26,09:14:00,16:13:57,06:59:57,383.0,6,59,57,419.950000,0.912013
2015-10-27,14:40:59,11:22:59,03:18:00,260.0,3,18,0,198.000000,1.313131
2015-10-28,10:00:59,15:16:58,05:15:59,220.0,5,15,59,315.983333,0.696239
2015-10-29,09:23:59,16:02:59,06:39:00,328.0,6,39,0,399.000000,0.822055
2015-10-30,13:06:59,15:59:59,02:53:00,627.0,2,53,0,173.000000,3.624277
2015-11-02,11:15:59,15:45:59,04:30:00,640.0,4,30,0,270.000000,2.370370
2015-11-03,10:17:59,09:14:00,01:03:59,529.0,1,3,59,63.983333,8.267778
2015-11-04,11:30:59,09:20:59,02:10:00,1040.0,2,10,0,130.000000,8.000000
2015-11-05,10:18:59,09:30:59,00:48:00,600.0,0,48,0,48.000000,12.500000
2015-11-06,09:14:00,16:12:59,06:58:59,555.0,6,58,59,418.983333,1.324635
2015-11-09,11:17:59,16:12:59,04:55:00,655.0,4,55,0,295.000000,2.220339
2015-11-10,11:22:59,15:41:59,04:19:00,720.0,4,19,0,259.000000,2.779923
2015-11-11,11:16:59,15:35:59,04:19:00,526.0,4,19,0,259.000000,2.030888
2015-11-12,15:34:59,09:14:00,06:20:59,997.0,6,20,59,380.983333,2.616912
2015-11-13,09:14:00,13:56:59,04:42:59,590.0,4,42,59,282.983333,2.084928
2015-11-16,16:13:59,09:14:01,06:59:58,580.0,6,59,58,419.966667,1.381062
2015-11-17,13:02:59,16:05:59,03:03:00,610.0,3,3,0,183.000000,3.333333
2015-11-18,09:26:59,15:57:59,06:31:00,565.0,6,31,0,391.000000,1.445013
2015-11-19,10:29:58,09:22:59,01:06:59,498.0,1,6,59,66.983333,7.434685
2015-11-20,16:12:58,09:40:59,06:31:59,753.0,6,31,59,391.983333,1.921000
2015-11-23,11:22:59,14:15:59,02:53:00,536.0,2,53,0,173.000000,3.098266
2015-11-24,09:14:00,13:11:59,03:57:59,666.0,3,57,59,237.983333,2.798515
2015-11-25,13:41:59,16:03:59,02:22:00,535.0,2,22,0,142.000000,3.767606
2015-11-26,09:20:59,14:36:59,05:16:00,991.0,5,16,0,316.000000,3.136076
2015-11-27,09:14:00,16:12:59,06:58:59,962.0,6,58,59,418.983333,2.296034
2015-11-30,14:24:59,09:40:59,04:44:00,641.0,4,44,0,284.000000,2.257042

In [17]:
df4 = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\mergehsi\\sidewayDuration.h5')
df5 = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\mergehsi\\FinishedDataset\\amplitude.h5')

In [18]:
df4

           trade_time  hours  mins sec  secs  sidewayDuration
trade_date
2013-05-02   09:15:59      0    15   5    59         0.983333
2013-05-03   09:15:59      0    15   5    59         0.983333
2013-05-07   15:40:57      6    40   5    57       385.950000
2013-05-14   09:15:59      0    15   5    59         0.983333
2013-05-20   09:15:59      0    15   5    59         0.983333
2013-05-22   13:00:59      4     0   5    59       225.983333
2013-05-23   09:16:57      0    16   5    57         1.950000
2013-05-24   09:15:59      0    15   5    59         0.983333
2013-05-27   09:16:59      0    16   5    59         1.983333
2013-05-28   09:15:59      0    15   5    59         0.983333
2013-05-29   09:15:59      0    15   5    59         0.983333
2013-05-30   09:16:59      0    16   5    59         1.983333
2013-06-03   09:25:59      0    25   5    59        10.983333
2013-06-11   09:46:53      0    46   5    53        31.883333
2013-06-17   09:15:59      0    15   5    59         0.983333
2013-06-18   15:42:56      6    42   5    56       387.933333
2013-06-21   09:53:59      0    53   5    59        38.983333
2013-06-24   09:21:59      0    21   5    59         6.983333
2013-06-25   09:52:59      0    52   5    59        37.983333
2013-06-26   12:59:00      3    59   0     0       224.000000
2013-06-27   09:28:59      0    28   5    59        13.983333
2013-06-28   09:15:59      0    15   5    59         0.983333
2013-07-02   09:20:59      0    20   5    59         5.983333
2013-07-04   10:42:59      1    42   5    59        87.983333
2013-07-05   09:20:58      0    20   5    58         5.966667
2013-07-09   09:48:59      0    48   5    59        33.983333
2013-07-10   09:27:59      0    27   5    59        12.983333
2013-07-11   09:21:59      0    21   5    59         6.983333
2013-07-15   09:36:59      0    36   5    59        21.983333
2013-07-16   13:59:59      4    59   5    59       284.983333
...               ...    ...   ...  ..   ...              ...
2015-09-11   10:31:59      1    31   5    59        76.983333
2015-09-14   09:59:59      0    59   5    59        44.983333
2015-09-15   10:10:59      1    10   5    59        55.983333
2015-09-16   14:18:59      5    18   5    59       303.983333
2015-09-18   09:26:59      0    26   5    59        11.983333
2015-09-21   15:20:59      6    20   5    59       365.983333
2015-09-22   09:58:59      0    58   5    59        43.983333
2015-09-25   09:39:59      0    39   5    59        24.983333
2015-09-30   09:29:59      0    29   5    59        14.983333
2015-10-02   10:18:59      1    18   5    59        63.983333
2015-10-05   09:20:59      0    20   5    59         5.983333
2015-10-07   10:37:59      1    37   5    59        82.983333
2015-10-09   09:26:59      0    26   5    59        11.983333
2015-10-12   09:42:58      0    42   5    58        27.966667
2015-10-13   10:02:59      1     2   5    59        47.983333
2015-10-14   10:54:59      1    54   5    59        99.983333
2015-10-15   11:29:59      2    29   5    59       134.983333
2015-11-02   10:55:59      1    55   5    59       100.983333
2015-11-03   09:46:59      0    46   5    59        31.983333
2015-11-04   09:46:59      0    46   5    59        31.983333
2015-11-05   10:14:59      1    14   5    59        59.983333
2015-11-09   09:34:59      0    34   5    59        19.983333
2015-11-11   09:43:59      0    43   5    59        28.983333
2015-11-12   09:20:59      0    20   5    59         5.983333
2015-11-16   09:58:59      0    58   5    59        43.983333
2015-11-17   10:02:59      1     2   5    59        47.983333
2015-11-20   15:34:59      6    34   5    59       379.983333
2015-11-25   13:40:59      4    40   5    59       265.983333
2015-11-26   09:15:59      0    15   5    59         0.983333
2015-11-30   14:24:59      5    24   5    59       309.983333

[377 rows x 6 columns]

In [19]:
df5

            amplitude
2013-05-02      568.0
2013-05-03      625.0
2013-05-06      559.0
2013-05-07      585.0
2013-05-08      512.0
2013-05-09      547.0
2013-05-10      553.0
2013-05-13      715.0
2013-05-14      671.0
2013-05-15      552.0
2013-05-16      628.0
2013-05-20      630.0
2013-05-21      485.0
2013-05-22      637.0
2013-05-23     1060.0
2013-05-24      690.0
2013-05-27      618.0
2013-05-28      647.0
2013-05-29      748.0
2013-05-30      744.0
2013-05-31      365.0
2013-06-03      478.0
2013-06-04      315.0
2013-06-05      377.0
2013-06-06      310.0
2013-06-07      430.0
2013-06-10      318.0
2013-06-11      428.0
2013-06-13      501.0
2013-06-14      347.0
...               ...
2015-10-19      225.0
2015-10-20      250.0
2015-10-22      170.0
2015-10-23      212.0
2015-10-26      383.0
2015-10-27      260.0
2015-10-28      220.0
2015-10-29      328.0
2015-10-30      627.0
2015-11-02      640.0
2015-11-03      529.0
2015-11-04     1040.0
2015-11-05      600.0
2015-11-06      555.0
2015-11-09      655.0
2015-11-10      720.0
2015-11-11      526.0
2015-11-12      997.0
2015-11-13      590.0
2015-11-16      580.0
2015-11-17      610.0
2015-11-18      565.0
2015-11-19      498.0
2015-11-20      753.0
2015-11-23      536.0
2015-11-24      666.0
2015-11-25      535.0
2015-11-26      991.0
2015-11-27      962.0
2015-11-30      641.0

[637 rows x 1 columns]

In [33]:
df4.index = pd.to_datetime(df4.index)
df4

           trade_time  hours  mins sec  secs  sidewayDuration
trade_date
2013-05-02   09:15:59      0    15   5    59         0.983333
2013-05-03   09:15:59      0    15   5    59         0.983333
2013-05-07   15:40:57      6    40   5    57       385.950000
2013-05-14   09:15:59      0    15   5    59         0.983333
2013-05-20   09:15:59      0    15   5    59         0.983333
2013-05-22   13:00:59      4     0   5    59       225.983333
2013-05-23   09:16:57      0    16   5    57         1.950000
2013-05-24   09:15:59      0    15   5    59         0.983333
2013-05-27   09:16:59      0    16   5    59         1.983333
2013-05-28   09:15:59      0    15   5    59         0.983333
2013-05-29   09:15:59      0    15   5    59         0.983333
2013-05-30   09:16:59      0    16   5    59         1.983333
2013-06-03   09:25:59      0    25   5    59        10.983333
2013-06-11   09:46:53      0    46   5    53        31.883333
2013-06-17   09:15:59      0    15   5    59         0.983333
2013-06-18   15:42:56      6    42   5    56       387.933333
2013-06-21   09:53:59      0    53   5    59        38.983333
2013-06-24   09:21:59      0    21   5    59         6.983333
2013-06-25   09:52:59      0    52   5    59        37.983333
2013-06-26   12:59:00      3    59   0     0       224.000000
2013-06-27   09:28:59      0    28   5    59        13.983333
2013-06-28   09:15:59      0    15   5    59         0.983333
2013-07-02   09:20:59      0    20   5    59         5.983333
2013-07-04   10:42:59      1    42   5    59        87.983333
2013-07-05   09:20:58      0    20   5    58         5.966667
2013-07-09   09:48:59      0    48   5    59        33.983333
2013-07-10   09:27:59      0    27   5    59        12.983333
2013-07-11   09:21:59      0    21   5    59         6.983333
2013-07-15   09:36:59      0    36   5    59        21.983333
2013-07-16   13:59:59      4    59   5    59       284.983333
...               ...    ...   ...  ..   ...              ...
2015-09-11   10:31:59      1    31   5    59        76.983333
2015-09-14   09:59:59      0    59   5    59        44.983333
2015-09-15   10:10:59      1    10   5    59        55.983333
2015-09-16   14:18:59      5    18   5    59       303.983333
2015-09-18   09:26:59      0    26   5    59        11.983333
2015-09-21   15:20:59      6    20   5    59       365.983333
2015-09-22   09:58:59      0    58   5    59        43.983333
2015-09-25   09:39:59      0    39   5    59        24.983333
2015-09-30   09:29:59      0    29   5    59        14.983333
2015-10-02   10:18:59      1    18   5    59        63.983333
2015-10-05   09:20:59      0    20   5    59         5.983333
2015-10-07   10:37:59      1    37   5    59        82.983333
2015-10-09   09:26:59      0    26   5    59        11.983333
2015-10-12   09:42:58      0    42   5    58        27.966667
2015-10-13   10:02:59      1     2   5    59        47.983333
2015-10-14   10:54:59      1    54   5    59        99.983333
2015-10-15   11:29:59      2    29   5    59       134.983333
2015-11-02   10:55:59      1    55   5    59       100.983333
2015-11-03   09:46:59      0    46   5    59        31.983333
2015-11-04   09:46:59      0    46   5    59        31.983333
2015-11-05   10:14:59      1    14   5    59        59.983333
2015-11-09   09:34:59      0    34   5    59        19.983333
2015-11-11   09:43:59      0    43   5    59        28.983333
2015-11-12   09:20:59      0    20   5    59         5.983333
2015-11-16   09:58:59      0    58   5    59        43.983333
2015-11-17   10:02:59      1     2   5    59        47.983333
2015-11-20   15:34:59      6    34   5    59       379.983333
2015-11-25   13:40:59      4    40   5    59       265.983333
2015-11-26   09:15:59      0    15   5    59         0.983333
2015-11-30   14:24:59      5    24   5    59       309.983333

[377 rows x 6 columns]

In [36]:
df4.index

DatetimeIndex(['2013-05-02', '2013-05-03', '2013-05-07', '2013-05-14',
               '2013-05-20', '2013-05-22', '2013-05-23', '2013-05-24',
               '2013-05-27', '2013-05-28',
               ...
               '2015-11-05', '2015-11-09', '2015-11-11', '2015-11-12',
               '2015-11-16', '2015-11-17', '2015-11-20', '2015-11-25',
               '2015-11-26', '2015-11-30'],
              dtype='datetime64[ns]', name='trade_date', length=377, freq=None)

In [27]:
df5.index.name = 'trade_date'

In [35]:
df5.index = pd.to_datetime(df5.index)
df5.index

DatetimeIndex(['2013-05-02', '2013-05-03', '2013-05-06', '2013-05-07',
               '2013-05-08', '2013-05-09', '2013-05-10', '2013-05-13',
               '2013-05-14', '2013-05-15',
               ...
               '2015-11-17', '2015-11-18', '2015-11-19', '2015-11-20',
               '2015-11-23', '2015-11-24', '2015-11-25', '2015-11-26',
               '2015-11-27', '2015-11-30'],
              dtype='datetime64[ns]', name='trade_date', length=637, freq=None)

In [37]:
result = pd.concat([df4.sidewayDuration, df5],axis=1, join_axes=[df5.index])
result

            sidewayDuration  amplitude
trade_date
2013-05-02         0.983333      568.0
2013-05-03         0.983333      625.0
2013-05-06              NaN      559.0
2013-05-07       385.950000      585.0
2013-05-08              NaN      512.0
2013-05-09              NaN      547.0
2013-05-10              NaN      553.0
2013-05-13              NaN      715.0
2013-05-14         0.983333      671.0
2013-05-15              NaN      552.0
2013-05-16              NaN      628.0
2013-05-20         0.983333      630.0
2013-05-21              NaN      485.0
2013-05-22       225.983333      637.0
2013-05-23         1.950000     1060.0
2013-05-24         0.983333      690.0
2013-05-27         1.983333      618.0
2013-05-28         0.983333      647.0
2013-05-29         0.983333      748.0
2013-05-30         1.983333      744.0
2013-05-31              NaN      365.0
2013-06-03        10.983333      478.0
2013-06-04              NaN      315.0
2013-06-05              NaN      377.0
2013-06-06              NaN      310.0
2013-06-07              NaN      430.0
2013-06-10              NaN      318.0
2013-06-11        31.883333      428.0
2013-06-13              NaN      501.0
2013-06-14              NaN      347.0
...                     ...        ...
2015-10-19              NaN      225.0
2015-10-20              NaN      250.0
2015-10-22              NaN      170.0
2015-10-23              NaN      212.0
2015-10-26              NaN      383.0
2015-10-27              NaN      260.0
2015-10-28              NaN      220.0
2015-10-29              NaN      328.0
2015-10-30              NaN      627.0
2015-11-02       100.983333      640.0
2015-11-03        31.983333      529.0
2015-11-04        31.983333     1040.0
2015-11-05        59.983333      600.0
2015-11-06              NaN      555.0
2015-11-09        19.983333      655.0
2015-11-10              NaN      720.0
2015-11-11        28.983333      526.0
2015-11-12         5.983333      997.0
2015-11-13              NaN      590.0
2015-11-16        43.983333      580.0
2015-11-17        47.983333      610.0
2015-11-18              NaN      565.0
2015-11-19              NaN      498.0
2015-11-20       379.983333      753.0
2015-11-23              NaN      536.0
2015-11-24              NaN      666.0
2015-11-25       265.983333      535.0
2015-11-26         0.983333      991.0
2015-11-27              NaN      962.0
2015-11-30       309.983333      641.0

[637 rows x 2 columns]

In [40]:
sr1 =  result.sidewayDuration.fillna(420)
sr1

trade_date
2013-05-02      0.983333
2013-05-03      0.983333
2013-05-06    420.000000
2013-05-07    385.950000
2013-05-08    420.000000
2013-05-09    420.000000
2013-05-10    420.000000
2013-05-13    420.000000
2013-05-14      0.983333
2013-05-15    420.000000
2013-05-16    420.000000
2013-05-20      0.983333
2013-05-21    420.000000
2013-05-22    225.983333
2013-05-23      1.950000
2013-05-24      0.983333
2013-05-27      1.983333
2013-05-28      0.983333
2013-05-29      0.983333
2013-05-30      1.983333
2013-05-31    420.000000
2013-06-03     10.983333
2013-06-04    420.000000
2013-06-05    420.000000
2013-06-06    420.000000
2013-06-07    420.000000
2013-06-10    420.000000
2013-06-11     31.883333
2013-06-13    420.000000
2013-06-14    420.000000
                 ...
2015-10-19    420.000000
2015-10-20    420.000000
2015-10-22    420.000000
2015-10-23    420.000000
2015-10-26    420.000000
2015-10-27    420.000000
2015-10-28    420.000000
2015-10-29    420.000000
2015-10-30    420.000000
2015-11-02    100.983333
2015-11-03     31.983333
2015-11-04     31.983333
2015-11-05     59.983333
2015-11-06    420.000000
2015-11-09     19.983333
2015-11-10    420.000000
2015-11-11     28.983333
2015-11-12      5.983333
2015-11-13    420.000000
2015-11-16     43.983333
2015-11-17     47.983333
2015-11-18    420.000000
2015-11-19    420.000000
2015-11-20    379.983333
2015-11-23    420.000000
2015-11-24    420.000000
2015-11-25    265.983333
2015-11-26      0.983333
2015-11-27    420.000000
2015-11-30    309.983333
Name: sidewayDuration, Length: 637, dtype: float64

In [42]:
df6 = pd.DataFrame([sr1])
df6 =df6.T
df6

            sidewayDuration
trade_date
2013-05-02         0.983333
2013-05-03         0.983333
2013-05-06       420.000000
2013-05-07       385.950000
2013-05-08       420.000000
2013-05-09       420.000000
2013-05-10       420.000000
2013-05-13       420.000000
2013-05-14         0.983333
2013-05-15       420.000000
2013-05-16       420.000000
2013-05-20         0.983333
2013-05-21       420.000000
2013-05-22       225.983333
2013-05-23         1.950000
2013-05-24         0.983333
2013-05-27         1.983333
2013-05-28         0.983333
2013-05-29         0.983333
2013-05-30         1.983333
2013-05-31       420.000000
2013-06-03        10.983333
2013-06-04       420.000000
2013-06-05       420.000000
2013-06-06       420.000000
2013-06-07       420.000000
2013-06-10       420.000000
2013-06-11        31.883333
2013-06-13       420.000000
2013-06-14       420.000000
...                     ...
2015-10-19       420.000000
2015-10-20       420.000000
2015-10-22       420.000000
2015-10-23       420.000000
2015-10-26       420.000000
2015-10-27       420.000000
2015-10-28       420.000000
2015-10-29       420.000000
2015-10-30       420.000000
2015-11-02       100.983333
2015-11-03        31.983333
2015-11-04        31.983333
2015-11-05        59.983333
2015-11-06       420.000000
2015-11-09        19.983333
2015-11-10       420.000000
2015-11-11        28.983333
2015-11-12         5.983333
2015-11-13       420.000000
2015-11-16        43.983333
2015-11-17        47.983333
2015-11-18       420.000000
2015-11-19       420.000000
2015-11-20       379.983333
2015-11-23       420.000000
2015-11-24       420.000000
2015-11-25       265.983333
2015-11-26         0.983333
2015-11-27       420.000000
2015-11-30       309.983333

[637 rows x 1 columns]

In [43]:
df6.to_hdf('sidewayDuration.h5','dura')

In [46]:
df7 = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\mergehsi\\sidewaydownDuration.h5')
df7

           trade_time  hours  mins  secs  sidewaydownDuration
trade_date
2013-05-03   13:12:57      4    12    57           237.950000
2013-05-06   09:19:59      0    19    59             4.983333
2013-05-07   09:26:58      0    26    58            11.966667
2013-05-08   09:17:58      0    17    58             2.966667
2013-05-09   09:25:56      0    25    56            10.933333
2013-05-10   10:09:58      1     9    58            54.966667
2013-05-13   09:26:59      0    26    59            11.983333
2013-05-14   13:02:58      4     2    58           227.966667
2013-05-15   10:21:59      1    21    59            66.983333
2013-05-16   09:25:59      0    25    59            10.983333
2013-05-21   09:17:59      0    17    59             2.983333
2013-05-22   14:18:59      5    18    59           303.983333
2013-05-23   10:12:59      1    12    59            57.983333
2013-05-24   12:59:00      3    59     0           224.000000
2013-05-28   14:16:59      5    16    59           301.983333
2013-05-29   09:20:59      0    20    59             5.983333
2013-05-30   13:03:59      4     3    59           228.983333
2013-05-31   09:56:59      0    56    59            41.983333
2013-06-04   09:15:59      0    15    59             0.983333
2013-06-05   13:02:59      4     2    59           227.983333
2013-06-06   11:31:59      2    31    59           136.983333
2013-06-07   11:06:58      2     6    58           111.966667
2013-06-10   13:24:59      4    24    59           249.983333
2013-06-11   10:32:59      1    32    59            77.983333
2013-06-13   09:32:59      0    32    59            17.983333
2013-06-14   09:33:59      0    33    59            18.983333
2013-06-18   09:43:59      0    43    59            28.983333
2013-06-19   09:48:59      0    48    59            33.983333
2013-06-20   09:17:59      0    17    59             2.983333
2013-06-24   13:59:59      4    59    59           284.983333
...               ...    ...   ...   ...                  ...
2015-09-17   09:50:58      0    50    58            35.966667
2015-09-21   09:19:59      0    19    59             4.983333
2015-09-22   16:05:59      7     5    59           410.983333
2015-09-23   09:47:59      0    47    59            32.983333
2015-09-24   09:44:59      0    44    59            29.983333
2015-09-29   09:17:59      0    17    59             2.983333
2015-10-06   09:24:59      0    24    59             9.983333
2015-10-08   09:26:59      0    26    59            11.983333
2015-10-09   15:22:59      6    22    59           367.983333
2015-10-13   09:19:59      0    19    59             4.983333
2015-10-15   09:20:59      0    20    59             5.983333
2015-10-16   11:09:58      2     9    58           114.966667
2015-10-19   09:48:59      0    48    59            33.983333
2015-10-20   13:16:59      4    16    59           241.983333
2015-10-23   09:41:59      0    41    59            26.983333
2015-10-26   09:36:59      0    36    59            21.983333
2015-10-27   09:33:59      0    33    59            18.983333
2015-10-28   15:10:59      6    10    59           355.983333
2015-10-29   09:51:59      0    51    59            36.983333
2015-10-30   09:36:59      0    36    59            21.983333
2015-11-02   15:36:59      6    36    59           381.983333
2015-11-06   09:22:59      0    22    59             7.983333
2015-11-10   09:25:59      0    25    59            10.983333
2015-11-13   09:19:59      0    19    59             4.983333
2015-11-18   10:07:59      1     7    59            52.983333
2015-11-23   09:34:59      0    34    59            19.983333
2015-11-24   09:20:59      0    20    59             5.983333
2015-11-26   14:30:59      5    30    59           315.983333
2015-11-27   09:30:59      0    30    59            15.983333
2015-11-30   09:15:59      0    15    59             0.983333

[431 rows x 5 columns]

In [47]:
result1 = pd.concat([df4.sidewayDuration, df5, df7.sidewaydownDuration],axis=1, join_axes=[df5.index])
result1

            sidewayDuration  amplitude  sidewaydownDuration
trade_date
2013-05-02         0.983333      568.0                  NaN
2013-05-03         0.983333      625.0           237.950000
2013-05-06              NaN      559.0             4.983333
2013-05-07       385.950000      585.0            11.966667
2013-05-08              NaN      512.0             2.966667
2013-05-09              NaN      547.0            10.933333
2013-05-10              NaN      553.0            54.966667
2013-05-13              NaN      715.0            11.983333
2013-05-14         0.983333      671.0           227.966667
2013-05-15              NaN      552.0            66.983333
2013-05-16              NaN      628.0            10.983333
2013-05-20         0.983333      630.0                  NaN
2013-05-21              NaN      485.0             2.983333
2013-05-22       225.983333      637.0           303.983333
2013-05-23         1.950000     1060.0            57.983333
2013-05-24         0.983333      690.0           224.000000
2013-05-27         1.983333      618.0                  NaN
2013-05-28         0.983333      647.0           301.983333
2013-05-29         0.983333      748.0             5.983333
2013-05-30         1.983333      744.0           228.983333
2013-05-31              NaN      365.0            41.983333
2013-06-03        10.983333      478.0                  NaN
2013-06-04              NaN      315.0             0.983333
2013-06-05              NaN      377.0           227.983333
2013-06-06              NaN      310.0           136.983333
2013-06-07              NaN      430.0           111.966667
2013-06-10              NaN      318.0           249.983333
2013-06-11        31.883333      428.0            77.983333
2013-06-13              NaN      501.0            17.983333
2013-06-14              NaN      347.0            18.983333
...                     ...        ...                  ...
2015-10-19              NaN      225.0            33.983333
2015-10-20              NaN      250.0           241.983333
2015-10-22              NaN      170.0                  NaN
2015-10-23              NaN      212.0            26.983333
2015-10-26              NaN      383.0            21.983333
2015-10-27              NaN      260.0            18.983333
2015-10-28              NaN      220.0           355.983333
2015-10-29              NaN      328.0            36.983333
2015-10-30              NaN      627.0            21.983333
2015-11-02       100.983333      640.0           381.983333
2015-11-03        31.983333      529.0                  NaN
2015-11-04        31.983333     1040.0                  NaN
2015-11-05        59.983333      600.0                  NaN
2015-11-06              NaN      555.0             7.983333
2015-11-09        19.983333      655.0                  NaN
2015-11-10              NaN      720.0            10.983333
2015-11-11        28.983333      526.0                  NaN
2015-11-12         5.983333      997.0                  NaN
2015-11-13              NaN      590.0             4.983333
2015-11-16        43.983333      580.0                  NaN
2015-11-17        47.983333      610.0                  NaN
2015-11-18              NaN      565.0            52.983333
2015-11-19              NaN      498.0                  NaN
2015-11-20       379.983333      753.0                  NaN
2015-11-23              NaN      536.0            19.983333
2015-11-24              NaN      666.0             5.983333
2015-11-25       265.983333      535.0                  NaN
2015-11-26         0.983333      991.0           315.983333
2015-11-27              NaN      962.0            15.983333
2015-11-30       309.983333      641.0             0.983333

[637 rows x 3 columns]

In [48]:
result1.drop('amplitude',axis=1,inplace=True)

In [49]:
result1.to_excel('sidewayAll.xlsx')

In [50]:
df8 =pd.read_excel('C:\\Users\\Administrator\\Desktop\\mergehsi\\sidewayAll.xlsx')
df8

,trade_date,sidewayupDuration,sidewaydownDuration,sidewayDuration,sidewayDuration.1
0,2013-05-02,0.983333,NaN,0.983333,0.983333
1,2013-05-03,0.983333,237.950000,0.983333,0.983333
2,2013-05-06,NaN,4.983333,4.983333,4.983333
3,2013-05-07,385.950000,11.966667,11.966667,11.966667
4,2013-05-08,NaN,2.966667,2.966667,2.966667
5,2013-05-09,NaN,10.933333,10.933333,10.933333
6,2013-05-10,NaN,54.966667,54.966667,54.966667
7,2013-05-13,NaN,11.983333,11.983333,11.983333
8,2013-05-14,0.983333,227.966667,0.983333,0.983333
9,2013-05-15,NaN,66.983333,66.983333,66.983333
10,2013-05-16,NaN,10.983333,10.983333,10.983333
11,2013-05-20,0.983333,NaN,0.983333,0.983333
12,2013-05-21,NaN,2.983333,2.983333,2.983333
13,2013-05-22,225.983333,303.983333,225.983333,225.983333
14,2013-05-23,1.950000,57.983333,1.950000,1.950000
15,2013-05-24,0.983333,224.000000,0.983333,0.983333
16,2013-05-27,1.983333,NaN,1.983333,1.983333
17,2013-05-28,0.983333,301.983333,0.983333,0.983333
18,2013-05-29,0.983333,5.983333,0.983333,0.983333
19,2013-05-30,1.983333,228.983333,1.983333,1.983333
20,2013-05-31,NaN,41.983333,41.983333,41.983333
21,2013-06-03,10.983333,NaN,10.983333,10.983333
22,2013-06-04,NaN,0.983333,0.983333,0.983333
23,2013-06-05,NaN,227.983333,227.983333,227.983333
24,2013-06-06,NaN,136.983333,136.983333,136.983333
25,2013-06-07,NaN,111.966667,111.966667,111.966667
26,2013-06-10,NaN,249.983333,249.983333,249.983333
27,2013-06-11,31.883333,77.983333,31.883333,31.883333
28,2013-06-13,NaN,17.983333,17.983333,17.983333
29,2013-06-14,NaN,18.983333,18.983333,18.983333
...,...,...,...,...,...
607,2015-10-19,NaN,33.983333,33.983333,33.983333
608,2015-10-20,NaN,241.983333,241.983333,241.983333
609,2015-10-22,NaN,NaN,0.000000,420.000000
610,2015-10-23,NaN,26.983333,26.983333,26.983333
611,2015-10-26,NaN,21.983333,21.983333,21.983333
612,2015-10-27,NaN,18.983333,18.983333,18.983333
613,2015-10-28,NaN,355.983333,355.983333,355.983333
614,2015-10-29,NaN,36.983333,36.983333,36.983333
615,2015-10-30,NaN,21.983333,21.983333,21.983333
616,2015-11-02,100.983333,381.983333,100.983333,100.983333
617,2015-11-03,31.983333,NaN,31.983333,31.983333
618,2015-11-04,31.983333,NaN,31.983333,31.983333
619,2015-11-05,59.983333,NaN,59.983333,59.983333
620,2015-11-06,NaN,7.983333,7.983333,7.983333
621,2015-11-09,19.983333,NaN,19.983333,19.983333
622,2015-11-10,NaN,10.983333,10.983333,10.983333
623,2015-11-11,28.983333,NaN,28.983333,28.983333
624,2015-11-12,5.983333,NaN,5.983333,5.983333
625,2015-11-13,NaN,4.983333,4.983333,4.983333
626,2015-11-16,43.983333,NaN,43.983333,43.983333
627,2015-11-17,47.983333,NaN,47.983333,47.983333
628,2015-11-18,NaN,52.983333,52.983333,52.983333
629,2015-11-19,NaN,NaN,0.000000,420.000000
630,2015-11-20,379.983333,NaN,379.983333,379.983333
631,2015-11-23,NaN,19.983333,19.983333,19.983333
632,2015-11-24,NaN,5.983333,5.983333,5.983333
633,2015-11-25,265.983333,NaN,265.983333,265.983333
634,2015-11-26,0.983333,315.983333,0.983333,0.983333
635,2015-11-27,NaN,15.983333,15.983333,15.983333
636,2015-11-30,309.983333,0.983333,0.983333,0.983333

In [51]:
df8.index = df8.trade_date
df8.index = pd.to_datetime(df8.index)

In [52]:
df8.index

DatetimeIndex(['2013-05-02', '2013-05-03', '2013-05-06', '2013-05-07',
               '2013-05-08', '2013-05-09', '2013-05-10', '2013-05-13',
               '2013-05-14', '2013-05-15',
               ...
               '2015-11-17', '2015-11-18', '2015-11-19', '2015-11-20',
               '2015-11-23', '2015-11-24', '2015-11-25', '2015-11-26',
               '2015-11-27', '2015-11-30'],
              dtype='datetime64[ns]', name='trade_date', length=637, freq=None)

In [53]:
df8.drop('trade_date',axis=1,inplace=True)

In [54]:
df8.drop('sidewayupDuration',axis=1,inplace=True)

In [55]:
df8.drop('sidewaydownDuration',axis=1,inplace=True)

In [56]:
df8.drop('sidewayDuration',axis=1,inplace=True)
df8

            sidewayDuration.1
trade_date
2013-05-02           0.983333
2013-05-03           0.983333
2013-05-06           4.983333
2013-05-07          11.966667
2013-05-08           2.966667
2013-05-09          10.933333
2013-05-10          54.966667
2013-05-13          11.983333
2013-05-14           0.983333
2013-05-15          66.983333
2013-05-16          10.983333
2013-05-20           0.983333
2013-05-21           2.983333
2013-05-22         225.983333
2013-05-23           1.950000
2013-05-24           0.983333
2013-05-27           1.983333
2013-05-28           0.983333
2013-05-29           0.983333
2013-05-30           1.983333
2013-05-31          41.983333
2013-06-03          10.983333
2013-06-04           0.983333
2013-06-05         227.983333
2013-06-06         136.983333
2013-06-07         111.966667
2013-06-10         249.983333
2013-06-11          31.883333
2013-06-13          17.983333
2013-06-14          18.983333
...                       ...
2015-10-19          33.983333
2015-10-20         241.983333
2015-10-22         420.000000
2015-10-23          26.983333
2015-10-26          21.983333
2015-10-27          18.983333
2015-10-28         355.983333
2015-10-29          36.983333
2015-10-30          21.983333
2015-11-02         100.983333
2015-11-03          31.983333
2015-11-04          31.983333
2015-11-05          59.983333
2015-11-06           7.983333
2015-11-09          19.983333
2015-11-10          10.983333
2015-11-11          28.983333
2015-11-12           5.983333
2015-11-13           4.983333
2015-11-16          43.983333
2015-11-17          47.983333
2015-11-18          52.983333
2015-11-19         420.000000
2015-11-20         379.983333
2015-11-23          19.983333
2015-11-24           5.983333
2015-11-25         265.983333
2015-11-26           0.983333
2015-11-27          15.983333
2015-11-30           0.983333

[637 rows x 1 columns]

In [57]:
df8.to_hdf('sidewayDuration.h5','dura')

In [58]:
df9 =pd.read_hdf('C:\\Users\\Administrator\\Desktop\\mergehsi\\maxdrawdown.h5')
df9

            maxdrawdown
2013-05-02     0.012411
2013-05-03     0.021591
2013-05-06     0.020178
2013-05-07     0.018727
2013-05-08     0.013140
2013-05-09     0.012063
2013-05-10     0.017706
2013-05-13     0.020475
2013-05-14     0.021016
2013-05-15     0.017696
2013-05-16     0.014655
2013-05-20     0.013274
2013-05-21     0.014253
2013-05-22     0.026244
2013-05-23     0.037836
2013-05-24     0.024154
2013-05-27     0.016388
2013-05-28     0.016642
2013-05-29     0.026475
2013-05-30     0.027333
2013-05-31     0.010627
2013-06-03     0.014884
2013-06-04     0.009356
2013-06-05     0.011311
2013-06-06     0.008974
2013-06-07     0.016837
2013-06-10     0.009568
2013-06-11     0.014836
2013-06-13     0.021691
2013-06-14     0.009029
...                 ...
2015-10-19     0.006855
2015-10-20     0.008691
2015-10-22     0.005204
2015-10-23     0.007131
2015-10-26     0.015930
2015-10-27     0.009815
2015-10-28     0.008604
2015-10-29     0.013485
2015-10-30     0.009199
2015-11-02     0.012228
2015-11-03     0.005162
2015-11-04     0.017980
2015-11-05     0.008206
2015-11-06     0.008425
2015-11-09     0.014478
2015-11-10     0.009172
2015-11-11     0.006915
2015-11-12     0.004566
2015-11-13     0.011633
2015-11-16     0.004580
2015-11-17     0.010320
2015-11-18     0.009578
2015-11-19     0.005322
2015-11-20     0.005234
2015-11-23     0.008371
2015-11-24     0.012731
2015-11-25     0.009587
2015-11-26     0.017552
2015-11-27     0.026225
2015-11-30     0.012046

[637 rows x 1 columns]

In [59]:
pd.read_hdf('C:\\Users\\Administrator\\Desktop\\mergehsi\\trendIndex.h5')

            clean_rtn
2013-05-02   0.012277
2013-05-03   0.017735
2013-05-06  -0.004564
2013-05-07   0.005810
2013-05-08  -0.002365
2013-05-09  -0.003490
2013-05-10   0.003930
2013-05-13  -0.010364
2013-05-14   0.006441
2013-05-15  -0.001634
2013-05-16  -0.002419
2013-05-20   0.022001
2013-05-21  -0.001109
2013-05-22   0.005079
2013-05-23  -0.010572
2013-05-24   0.027670
2013-05-27   0.021366
2013-05-28   0.035936
2013-05-29  -0.004560
2013-05-30   0.005180
2013-05-31  -0.006338
2013-06-03   0.000726
2013-06-04  -0.005788
2013-06-05  -0.002295
2013-06-06  -0.005512
2013-06-07  -0.006851
2013-06-10  -0.004305
2013-06-11  -0.007239
2013-06-13  -0.006333
2013-06-14  -0.006781
...               ...
2015-10-19   0.000826
2015-10-20  -0.002675
2015-10-22   0.001862
2015-10-23  -0.003336
2015-10-26  -0.015962
2015-10-27  -0.003485
2015-10-28  -0.001918
2015-10-29  -0.013260
2015-10-30  -0.004223
2015-11-02  -0.004009
2015-11-03   0.002988
2015-11-04   0.021329
2015-11-05  -0.002558
2015-11-06  -0.007152
2015-11-09  -0.001640
2015-11-10  -0.003854
2015-11-11   0.003970
2015-11-12   0.027355
2015-11-13  -0.008747
2015-11-16   0.005993
2015-11-17  -0.000630
2015-11-18  -0.007391
2015-11-19   0.001668
2015-11-20   0.010670
2015-11-23  -0.004968
2015-11-24  -0.007105
2015-11-25  -0.000063
2015-11-26  -0.003790
2015-11-27  -0.027959
2015-11-30  -0.005571

[637 rows x 1 columns]

In [60]:
pd.read_hdf('C:\\Users\\Administrator\\Desktop\\mergehsi\\biggestGain.h5')

             up2here
2013-05-02  0.014093
2013-05-03  0.019325
2013-05-06  0.018187
2013-05-07  0.025476
2013-05-08  0.014060
2013-05-09  0.012167
2013-05-10  0.017937
2013-05-13  0.013406
2013-05-14  0.014908
2013-05-15  0.016553
2013-05-16  0.016170
2013-05-20  0.024038
2013-05-21  0.013359
2013-05-22  0.021411
2013-05-23  0.020676
2013-05-24  0.021326
2013-05-27  0.022100
2013-05-28  0.025833
2013-05-29  0.018962
2013-05-30  0.021735
2013-05-31  0.006559
2013-06-03  0.014509
2013-06-04  0.007163
2013-06-05  0.009780
2013-06-06  0.005897
2013-06-07  0.009598
2013-06-10  0.007926
2013-06-11  0.007758
2013-06-13  0.016654
2013-06-14  0.008144
...              ...
2015-10-19  0.007994
2015-10-20  0.006619
2015-10-22  0.006114
2015-10-23  0.003331
2015-10-26  0.005778
2015-10-27  0.010218
2015-10-28  0.005259
2015-10-29  0.006534
2015-10-30  0.009017
2015-11-02  0.011109
2015-11-03  0.006439
2015-11-04  0.028148
2015-11-05  0.009065
2015-11-06  0.005319
2015-11-09  0.012719
2015-11-10  0.006272
2015-11-11  0.006149
2015-11-12  0.030357
2015-11-13  0.006047
2015-11-16  0.008454
2015-11-17  0.010292
2015-11-18  0.004962
2015-11-19  0.006743
2015-11-20  0.017345
2015-11-23  0.007506
2015-11-24  0.010307
2015-11-25  0.009095
2015-11-26  0.010348
2015-11-27  0.009590
2015-11-30  0.013396

[637 rows x 1 columns]

In [3]:
pd.read_hdf('C:\\Users\\Administrator\\Desktop\\mergehsi\\5min_hsidata.h5')

,volume,first_price,last_price,max_price,min_price,rtn,logRtn
trade_datetime,,,,,,,
2013-05-02 09:10:00,942.0,22574.0,22309.0,22574.0,22309.0,NaN,NaN
2013-05-02 09:15:00,3371.0,22575.0,22533.0,22580.0,22132.0,0.010041,0.009991
2013-05-02 09:20:00,1704.0,22532.0,22549.0,22567.0,22120.0,0.000710,0.000710
2013-05-02 09:25:00,849.0,22549.0,22543.0,22560.0,22165.0,-0.000266,-0.000266
2013-05-02 09:30:00,4696.0,22277.0,22435.0,22551.0,22036.0,-0.004791,-0.004802
2013-05-02 09:35:00,1761.0,22436.0,22482.0,22485.0,22080.0,0.002095,0.002093
2013-05-02 09:40:00,1314.0,22481.0,22478.0,22500.0,22096.0,-0.000178,-0.000178
2013-05-02 09:45:00,1156.0,22476.0,22458.0,22476.0,22069.0,-0.000890,-0.000890
2013-05-02 09:50:00,1581.0,22457.0,22467.0,22477.0,22059.0,0.000401,0.000401
2013-05-02 09:55:00,1176.0,22467.0,22456.0,22471.0,22202.0,-0.000490,-0.000490
2013-05-02 10:00:00,695.0,22458.0,22465.0,22471.0,22185.0,0.000401,0.000401
2013-05-02 10:05:00,1334.0,22464.0,22510.0,22513.0,22095.0,0.002003,0.002001
2013-05-02 10:10:00,1740.0,22509.0,22524.0,22548.0,22140.0,0.000622,0.000622
2013-05-02 10:15:00,918.0,22524.0,22514.0,22534.0,22143.0,-0.000444,-0.000444
2013-05-02 10:20:00,903.0,22513.0,22510.0,22519.0,22245.0,-0.000178,-0.000178
2013-05-02 10:25:00,448.0,22508.0,22514.0,22519.0,22242.0,0.000178,0.000178
2013-05-02 10:30:00,567.0,22513.0,22486.0,22517.0,22245.0,-0.001244,-0.001244
2013-05-02 10:35:00,678.0,22487.0,22495.0,22509.0,22230.0,0.000400,0.000400
2013-05-02 10:40:00,576.0,22494.0,22520.0,22525.0,22243.0,0.001111,0.001111
2013-05-02 10:45:00,877.0,22520.0,22520.0,22545.0,22138.0,0.000000,0.000000
2013-05-02 10:50:00,743.0,22521.0,22537.0,22552.0,22280.0,0.000755,0.000755
2013-05-02 10:55:00,1222.0,22536.0,22577.0,22577.0,22170.0,0.001775,0.001773
2013-05-02 11:00:00,1642.0,22577.0,22583.0,22604.0,22198.0,0.000266,0.000266
2013-05-02 11:05:00,745.0,22583.0,22569.0,22592.0,22190.0,-0.000620,-0.000620
2013-05-02 11:10:00,549.0,22571.0,22570.0,22573.0,22190.0,0.000044,0.000044
2013-05-02 11:15:00,367.0,22569.0,22558.0,22573.0,22305.0,-0.000532,-0.000532
2013-05-02 11:20:00,264.0,22556.0,22558.0,22573.0,22555.0,0.000000,0.000000
2013-05-02 11:25:00,368.0,22559.0,22571.0,22572.0,22298.0,0.000576,0.000576
2013-05-02 11:30:00,283.0,22570.0,22574.0,22579.0,22190.0,0.000133,0.000133
2013-05-02 11:35:00,185.0,22574.0,22571.0,22577.0,22567.0,-0.000133,-0.000133
...,...,...,...,...,...,...,...
2015-11-30 13:45:00,2493.0,22047.0,22109.0,22110.0,22045.0,0.002812,0.002808
2015-11-30 13:50:00,1913.0,22110.0,22086.0,22122.0,22073.0,-0.001040,-0.001041
2015-11-30 13:55:00,1185.0,22087.0,22065.0,22087.0,22051.0,-0.000951,-0.000951
2015-11-30 14:00:00,1686.0,22063.0,22051.0,22079.0,22034.0,-0.000634,-0.000635
2015-11-30 14:05:00,1376.0,22052.0,22086.0,22109.0,22044.0,0.001587,0.001586
2015-11-30 14:10:00,1836.0,22086.0,22112.0,22130.0,21760.0,0.001177,0.001177
2015-11-30 14:15:00,2820.0,22111.0,22120.0,22152.0,22105.0,0.000362,0.000362
2015-11-30 14:20:00,2705.0,22119.0,22165.0,22166.0,21797.0,0.002034,0.002032
2015-11-30 14:25:00,1505.0,22165.0,22123.0,22167.0,22110.0,-0.001895,-0.001897
2015-11-30 14:30:00,1196.0,22123.0,22124.0,22137.0,22100.0,0.000045,0.000045
2015-11-30 14:35:00,823.0,22125.0,22116.0,22129.0,22109.0,-0.000362,-0.000362
2015-11-30 14:40:00,1568.0,22117.0,22148.0,22163.0,22116.0,0.001447,0.001446
2015-11-30 14:45:00,862.0,22147.0,22123.0,22164.0,22121.0,-0.001129,-0.001129
2015-11-30 14:50:00,1763.0,22122.0,22091.0,22133.0,22070.0,-0.001446,-0.001448
2015-11-30 14:55:00,1008.0,22090.0,22095.0,22108.0,22083.0,0.000181,0.000181
2015-11-30 15:00:00,850.0,22096.0,22099.0,22125.0,22087.0,0.000181,0.000181
2015-11-30 15:05:00,1137.0,22098.0,22097.0,22130.0,22096.0,-0.000091,-0.000091
2015-11-30 15:10:00,1429.0,22098.0,22073.0,22101.0,22055.0,-0.001086,-0.001087
2015-11-30 15:15:00,809.0,22072.0,22084.0,22101.0,22050.0,0.000498,0.000498
2015-11-30 15:20:00,922.0,22082.0,22090.0,22110.0,21745.0,0.000272,0.000272
2015-11-30 15:25:00,660.0,22091.0,22081.0,22116.0,21729.0,-0.000407,-0.000408
2015-11-30 15:30:00,967.0,22080.0,22066.0,22087.0,22060.0,-0.000679,-0.000680
2015-11-30 15:35:00,1116.0,22065.0,22051.0,22081.0,22040.0,-0.000680,-0.000680
2015-11-30 15:40:00,965.0,22052.0,22038.0,22064.0,21700.0,-0.000590,-0.000590
2015-11-30 15:45:00,1930.0,22038.0,22003.0,22050.0,21660.0,-0.001588,-0.001589
2015-11-30 15:50:00,2099.0,22004.0,22006.0,22150.0,21966.0,0.000136,0.000136
2015-11-30 15:55:00,5640.0,22007.0,21983.0,22012.0,21563.0,-0.001045,-0.001046
2015-11-30 16:00:00,2941.0,21983.0,21917.0,21986.0,21897.0,-0.003002,-0.003007
2015-11-30 16:05:00,1587.0,21918.0,21902.0,22100.0,21884.0,-0.000684,-0.000685
2015-11-30 16:10:00,1548.0,21904.0,21909.0,21950.0,21899.0,0.000320,0.000320