In [36]:
import pandas as pd
df = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\Work\\data\\account\\account_data_sumprofit.h5')

In [37]:
df

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit,sum_profit
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000,104.0,104.0
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000,11.0,11.0
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000,25.0,25.0
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000,-27.0,-27.0
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000,104.0,104.0
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0,28.0
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000,20.0,20.0
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000,106.0,106.0
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000,-42.0,-17.0
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000,-47.0,-47.0
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000,15.0,15.0
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000,13.0,-34.0
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000,3.0,3.0
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000,104.0,104.0
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000,-47.0,-27.0
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000,10.0,-7.0
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000,71.0,37.0
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0,-19.0
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000,58.0,69.0
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000,9.0,2.0
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000,17.0,19.0
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000,48.0,21.0
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0,9.0
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000,34.0,34.0
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0,37.0
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000,6.0,110.0
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000,9.0,113.0
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000,46.0,61.0
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000,15.0,119.0
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000,28.0,138.0
...,...,...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000,8.0,-1992.0
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000,8.0,236.0
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000,7.0,13218.0
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000,9.0,4898.0
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000,4.0,47.0
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000,10.0,283.0
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000,8.0,570.0
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000,8.0,360.0
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000,-10.0,-110.0
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000,10.0,293.0
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000,-8.0,1766.0
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000,18.0,588.0
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000,8.0,301.0
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000,10.0,-922.0
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000,4.0,305.0
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000,10.0,315.0
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000,-5.0,1761.0
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000,4.0,-1988.0
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000,9.0,38.0
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000,10.0,91.0
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000,9.0,825.0
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000,-37.0,10.0
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000,-35.0,1087.0
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000,-20.0,1067.0
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000,8.0,-376.0
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000,11.0,-1807.0
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000,6.0,-2373.0
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000,11.0,599.0
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000,11.0,-1796.0
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000,7.0,3938.0

In [3]:
df['2014-05-30']

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit,sum_profit
2014-05-30 09:15:07,A0632,HSIM4,2,22924.0,2014-05-30 09:15:07.000,22971.0,2014-05-30 09:22:15.000,-47.0,748.0
2014-05-30 09:15:07,A0704,HSIM4,1,22925.0,2014-05-30 09:15:07.000,22919.0,2014-05-30 09:19:59.000,-6.0,-501.0
2014-05-30 09:15:10,A0369,HSIM4,2,22924.0,2014-05-30 09:15:10.000,22979.0,2014-05-30 09:25:59.000,-55.0,610.0
2014-05-30 09:15:11,A0723,HSIM4,2,22925.0,2014-05-30 09:15:11.000,22972.0,2014-05-30 09:22:39.000,-47.0,29.0
2014-05-30 09:15:25,A0481,HSIM4,2,22928.0,2014-05-30 09:15:25.000,22975.0,2014-05-30 09:22:39.000,-47.0,179.0
2014-05-30 09:15:28,A0683,HSIM4,1,22933.0,2014-05-30 09:15:28.000,22940.0,2014-05-30 09:16:10.000,7.0,157.0
2014-05-30 09:15:43,A0739,HSIM4,1,22951.0,2014-05-30 09:15:43.000,23004.0,2014-05-30 09:36:53.000,53.0,-890.0
2014-05-30 09:15:44,A0302,HSIM4,2,22950.0,2014-05-30 09:15:44.000,22921.0,2014-05-30 09:19:51.000,29.0,3555.0
2014-05-30 09:15:49,A0704,HSIM4,1,22949.0,2014-05-30 09:15:49.000,22919.0,2014-05-30 09:19:57.000,-30.0,-531.0
2014-05-30 09:15:55,A0095,HSIM4,2,22942.0,2014-05-30 09:15:55.000,22919.0,2014-05-30 09:20:26.000,23.0,1811.0
2014-05-30 09:16:03,A0632,HSIM4,2,22938.0,2014-05-30 09:16:03.000,22932.0,2014-05-30 09:16:51.000,6.0,754.0
2014-05-30 09:16:09,A0613,HSIM4,2,22939.0,2014-05-30 09:16:09.000,22919.0,2014-05-30 09:19:57.000,20.0,-40.0
2014-05-30 09:16:12,A0800,HSIM4,1,22941.0,2014-05-30 09:16:12.000,22914.0,2014-05-30 09:20:07.000,-27.0,641.0
2014-05-30 09:16:48,A0704,HSIM4,1,22929.0,2014-05-30 09:16:48.000,22919.0,2014-05-30 09:19:55.000,-10.0,-541.0
2014-05-30 09:16:50,A0741,HSIM4,1,22930.0,2014-05-30 09:16:50.000,22983.0,2014-05-30 09:22:43.000,53.0,371.0
2014-05-30 09:16:55,A0481,HSIM4,2,22935.0,2014-05-30 09:16:55.000,22982.0,2014-05-30 09:22:43.000,-47.0,132.0
2014-05-30 09:17:39,A0632,HSIM4,2,22937.0,2014-05-30 09:17:39.000,22931.0,2014-05-30 09:19:38.000,6.0,760.0
2014-05-30 09:17:39,A0583,HSIM4,1,22937.0,2014-05-30 09:17:39.000,22962.0,2014-05-30 09:23:16.000,25.0,-131.0
2014-05-30 09:18:08,A0510,HSIM4,2,22933.0,2014-05-30 09:18:08.000,22911.0,2014-05-30 09:20:57.000,22.0,1109.0
2014-05-30 09:18:24,A0813,HSIM4,1,22933.0,2014-05-30 09:18:24.000,22988.0,2014-05-30 09:28:07.000,55.0,-208.0
2014-05-30 09:18:33,A0470,HSIM4,2,22933.0,2014-05-30 09:18:33.000,22919.0,2014-05-30 09:20:27.000,14.0,1425.0
2014-05-30 09:19:27,A0490,HSIM4,1,22935.0,2014-05-30 09:19:27.000,22991.0,2014-05-30 09:30:18.000,56.0,1786.0
2014-05-30 09:19:57,A0334,HSIM4,1,22919.0,2014-05-30 09:19:57.000,22970.0,2014-05-30 09:24:02.000,51.0,-966.0
2014-05-30 09:20:03,A0819,HSIM4,2,22918.0,2014-05-30 09:20:03.000,22912.0,2014-05-30 09:21:00.000,6.0,6.0
2014-05-30 09:20:06,A0641,HSIM4,2,22916.0,2014-05-30 09:20:06.000,22937.0,2014-05-30 09:21:41.000,-21.0,-1026.0
2014-05-30 09:20:10,A0779,HSIM4,2,22915.0,2014-05-30 09:20:10.000,22962.0,2014-05-30 09:22:15.000,-47.0,51.0
2014-05-30 09:20:21,A0704,HSIM4,2,22917.0,2014-05-30 09:20:21.000,22929.0,2014-05-30 09:21:24.000,-12.0,-553.0
2014-05-30 09:20:26,A0800,HSIM4,2,22919.0,2014-05-30 09:20:26.000,22954.0,2014-05-30 09:22:12.000,-35.0,606.0
2014-05-30 09:20:34,A0639,HSIM4,1,22916.0,2014-05-30 09:20:34.000,22931.0,2014-05-30 09:21:33.000,15.0,585.0
2014-05-30 09:20:35,A0490,HSIM4,1,22914.0,2014-05-30 09:20:35.000,22987.0,2014-05-30 09:28:34.000,73.0,1859.0
...,...,...,...,...,...,...,...,...,...
2014-05-30 15:52:24,A0661,HSIM4,2,22978.0,2014-05-30 15:52:24.000,22971.0,2014-05-30 15:56:01.000,7.0,532.0
2014-05-30 15:52:26,A0635,HSIM4,2,22978.0,2014-05-30 15:52:26.000,22965.0,2014-05-30 15:56:13.000,13.0,-1279.0
2014-05-30 15:52:40,A0095,HSIM4,2,22984.0,2014-05-30 15:52:40.000,22979.0,2014-05-30 15:54:49.000,5.0,1901.0
2014-05-30 15:52:42,A0481,HSIM4,2,22986.0,2014-05-30 15:52:42.000,22933.0,2014-05-30 15:59:23.000,53.0,166.0
2014-05-30 15:52:55,A0490,HSIM4,2,22990.0,2014-05-30 15:52:55.000,22945.0,2014-05-30 15:59:14.000,45.0,2252.0
2014-05-30 15:53:14,A0795,HSIM4,2,22980.0,2014-05-30 15:53:14.000,22978.0,2014-05-30 15:54:42.000,2.0,618.0
2014-05-30 15:53:50,A0302,HSIM4,2,22983.0,2014-05-30 15:53:50.000,22954.0,2014-05-30 15:59:05.000,29.0,3846.0
2014-05-30 15:54:05,A0278,HSIM4,2,22982.0,2014-05-30 15:54:05.000,22929.0,2014-05-30 15:59:44.000,53.0,2623.0
2014-05-30 15:55:07,A0095,HSIM4,2,22988.0,2014-05-30 15:55:07.000,22968.0,2014-05-30 15:56:08.000,20.0,1921.0
2014-05-30 15:55:11,A0639,HSIM4,2,22985.0,2014-05-30 15:55:11.000,22976.0,2014-05-30 15:55:52.000,9.0,1068.0
2014-05-30 15:55:11,A0661,HSIM4,1,22985.0,2014-05-30 15:55:11.000,22991.0,2014-05-30 15:57:52.000,6.0,538.0
2014-05-30 15:55:24,A0795,HSIM4,2,22980.0,2014-05-30 15:55:24.000,22994.0,2014-05-30 15:57:57.000,-14.0,604.0
2014-05-30 15:56:14,A0551,HSIM4,2,22965.0,2014-05-30 15:56:14.000,22960.0,2014-05-30 15:59:02.000,5.0,974.0
2014-05-30 15:56:15,A0639,HSIM4,2,22966.0,2014-05-30 15:56:15.000,22958.0,2014-05-30 15:59:03.000,8.0,1076.0
2014-05-30 15:56:49,A0577,HSIM4,1,22977.0,2014-05-30 15:56:49.000,22930.0,2014-05-30 15:59:29.000,-47.0,865.0
2014-05-30 15:57:34,A0577,HSIM4,1,22984.0,2014-05-30 15:57:34.000,22937.0,2014-05-30 15:59:20.000,-47.0,818.0
2014-05-30 15:57:43,A0095,HSIM4,2,22988.0,2014-05-30 15:57:43.000,22969.0,2014-05-30 15:58:46.000,19.0,1940.0
2014-05-30 15:57:50,A0334,HSIM4,2,22988.0,2014-05-30 15:57:50.000,22972.0,2014-05-30 15:58:41.000,16.0,-863.0
2014-05-30 15:58:01,A0369,HSIM4,1,22995.0,2014-05-30 15:58:01.000,22960.0,2014-05-30 15:59:01.000,-35.0,719.0
2014-05-30 15:58:15,A0682,HSIM4,2,22987.0,2014-05-30 15:58:15.000,22968.0,2014-05-30 15:58:53.000,19.0,-500.0
2014-05-30 15:58:35,A0795,HSIM4,2,22973.0,2014-05-30 15:58:35.000,22920.0,2014-05-30 15:59:46.000,53.0,657.0
2014-05-30 15:59:09,A0369,HSIM4,2,22952.0,2014-05-30 15:59:09.000,22899.0,2014-05-30 15:59:57.000,53.0,772.0
2014-05-30 15:59:15,A0682,HSIM4,2,22945.0,2014-05-30 15:59:15.000,22895.0,2014-05-30 16:00:12.000,50.0,-450.0
2014-05-30 15:59:19,A0779,HSIM4,2,22942.0,2014-05-30 15:59:19.000,22900.0,2014-05-30 15:59:55.000,42.0,74.0
2014-05-30 15:59:39,A0343,HSIM4,1,22938.0,2014-05-30 15:59:39.000,22921.0,2014-05-30 16:05:49.000,-17.0,1258.0
2014-05-30 16:00:01,A0661,HSIM4,1,22900.0,2014-05-30 16:00:01.000,22935.0,2014-05-30 16:03:29.000,35.0,573.0
2014-05-30 16:00:34,A0795,HSIM4,1,22924.0,2014-05-30 16:00:34.000,22935.0,2014-05-30 16:03:15.000,11.0,668.0
2014-05-30 16:02:51,A0682,HSIM4,1,22932.0,2014-05-30 16:02:51.000,22939.0,2014-05-30 16:04:28.000,7.0,-443.0
2014-05-30 16:03:19,A0396,HSIM4,1,22934.0,2014-05-30 16:03:19.000,22900.0,2014-05-30 16:13:20.000,-34.0,-439.0
2014-05-30 16:04:33,A0095,HSIM4,2,22935.0,2014-05-30 16:04:33.000,22920.0,2014-05-30 16:08:17.000,15.0,1955.0

In [4]:
df.index.date

array([datetime.date(2013, 5, 2), datetime.date(2013, 5, 2),
       datetime.date(2013, 5, 2), ..., datetime.date(2015, 12, 30),
       datetime.date(2015, 12, 30), datetime.date(2015, 12, 30)], dtype=object)

In [8]:
df1 = pd.read_hdf('C:\\Users\\Administrator\\Desktop\\Work\\data\\hsi_data\\hsi_rate.h5')
df1

            hsi_index      rate
date2
2013-5-2     22668.30       NaN
2013-5-3     22689.96  0.000956
2013-5-6     22915.09  0.009922
2013-5-7     23047.09  0.005760
2013-5-8     23244.35  0.008559
2013-5-9     23211.48 -0.001414
2013-5-10    23321.22  0.004728
2013-5-13    22989.81 -0.014211
2013-5-14    22930.28 -0.002589
2013-5-15    23044.24  0.004970
2013-5-16    23082.68  0.001668
2013-5-20    23493.03  0.017777
2013-5-21    23366.37 -0.005391
2013-5-22    23261.08 -0.004506
2013-5-23    22669.68 -0.025424
2013-5-24    22618.67 -0.002250
2013-5-27    22686.05  0.002979
2013-5-28    22924.25  0.010500
2013-5-29    22554.93 -0.016110
2013-5-30    22484.31 -0.003131
2013-5-31    22392.16 -0.004098
2013-6-3     22282.19 -0.004911
2013-6-4     22285.52  0.000149
2013-6-5     22069.24 -0.009705
2013-6-6     21838.43 -0.010458
2013-6-7     21575.26 -0.012051
2013-6-10    21615.09  0.001846
2013-6-11    21354.66 -0.012049
2013-6-13    20887.04 -0.021898
2013-6-14    20969.14  0.003931
...               ...       ...
2015-11-18   22188.26 -0.003413
2015-11-19   22500.22  0.014060
2015-11-20   22754.72  0.011311
2015-11-23   22665.90 -0.003903
2015-11-24   22587.63 -0.003453
2015-11-25   22498.00 -0.003968
2015-11-26   22488.94 -0.000403
2015-11-27   22068.32 -0.018703
2015-11-30   21996.42 -0.003258
2015-12-1    22381.35  0.017500
2015-12-2    22479.69  0.004394
2015-12-3    22417.01 -0.002788
2015-12-4    22235.89 -0.008080
2015-12-7    22203.22 -0.001469
2015-12-8    21905.13 -0.013426
2015-12-9    21803.76 -0.004628
2015-12-10   21704.61 -0.004547
2015-12-11   21464.05 -0.011083
2015-12-14   21309.85 -0.007184
2015-12-15   21274.37 -0.001665
2015-12-16   21701.21  0.020064
2015-12-17   21872.06  0.007873
2015-12-18   21755.56 -0.005326
2015-12-21   21791.68  0.001660
2015-12-22   21830.02  0.001759
2015-12-23   22040.59  0.009646
2015-12-24   22138.13  0.004425
2015-12-28   21919.62 -0.009870
2015-12-29   21999.62  0.003650
2015-12-30   21882.15 -0.005340

[658 rows x 2 columns]

In [13]:
df1.index = pd.to_datetime(df1.index)

In [17]:
df1.index.date

array([datetime.date(2013, 5, 2), datetime.date(2013, 5, 3),
       datetime.date(2013, 5, 6), datetime.date(2013, 5, 7),
       datetime.date(2013, 5, 8), datetime.date(2013, 5, 9),
       datetime.date(2013, 5, 10), datetime.date(2013, 5, 13),
       datetime.date(2013, 5, 14), datetime.date(2013, 5, 15),
       datetime.date(2013, 5, 16), datetime.date(2013, 5, 20),
       datetime.date(2013, 5, 21), datetime.date(2013, 5, 22),
       datetime.date(2013, 5, 23), datetime.date(2013, 5, 24),
       datetime.date(2013, 5, 27), datetime.date(2013, 5, 28),
       datetime.date(2013, 5, 29), datetime.date(2013, 5, 30),
       datetime.date(2013, 5, 31), datetime.date(2013, 6, 3),
       datetime.date(2013, 6, 4), datetime.date(2013, 6, 5),
       datetime.date(2013, 6, 6), datetime.date(2013, 6, 7),
       datetime.date(2013, 6, 10), datetime.date(2013, 6, 11),
       datetime.date(2013, 6, 13), datetime.date(2013, 6, 14),
       datetime.date(2013, 6, 17), datetime.date(2013, 6, 18),
       datetime.date(2013, 6, 19), datetime.date(2013, 6, 20),
       datetime.date(2013, 6, 21), datetime.date(2013, 6, 24),
       datetime.date(2013, 6, 25), datetime.date(2013, 6, 26),
       datetime.date(2013, 6, 27), datetime.date(2013, 6, 28),
       datetime.date(2013, 7, 2), datetime.date(2013, 7, 3),
       datetime.date(2013, 7, 4), datetime.date(2013, 7, 5),
       datetime.date(2013, 7, 8), datetime.date(2013, 7, 9),
       datetime.date(2013, 7, 10), datetime.date(2013, 7, 11),
       datetime.date(2013, 7, 12), datetime.date(2013, 7, 15),
       datetime.date(2013, 7, 16), datetime.date(2013, 7, 17),
       datetime.date(2013, 7, 18), datetime.date(2013, 7, 19),
       datetime.date(2013, 7, 22), datetime.date(2013, 7, 23),
       datetime.date(2013, 7, 24), datetime.date(2013, 7, 25),
       datetime.date(2013, 7, 26), datetime.date(2013, 7, 29),
       datetime.date(2013, 7, 30), datetime.date(2013, 7, 31),
       datetime.date(2013, 8, 1), datetime.date(2013, 8, 2),
       datetime.date(2013, 8, 5), datetime.date(2013, 8, 6),
       datetime.date(2013, 8, 7), datetime.date(2013, 8, 8),
       datetime.date(2013, 8, 9), datetime.date(2013, 8, 12),
       datetime.date(2013, 8, 13), datetime.date(2013, 8, 15),
       datetime.date(2013, 8, 16), datetime.date(2013, 8, 19),
       datetime.date(2013, 8, 20), datetime.date(2013, 8, 21),
       datetime.date(2013, 8, 22), datetime.date(2013, 8, 23),
       datetime.date(2013, 8, 26), datetime.date(2013, 8, 27),
       datetime.date(2013, 8, 28), datetime.date(2013, 8, 29),
       datetime.date(2013, 8, 30), datetime.date(2013, 9, 2),
       datetime.date(2013, 9, 3), datetime.date(2013, 9, 4),
       datetime.date(2013, 9, 5), datetime.date(2013, 9, 6),
       datetime.date(2013, 9, 9), datetime.date(2013, 9, 10),
       datetime.date(2013, 9, 11), datetime.date(2013, 9, 12),
       datetime.date(2013, 9, 13), datetime.date(2013, 9, 16),
       datetime.date(2013, 9, 17), datetime.date(2013, 9, 18),
       datetime.date(2013, 9, 19), datetime.date(2013, 9, 23),
       datetime.date(2013, 9, 24), datetime.date(2013, 9, 25),
       datetime.date(2013, 9, 26), datetime.date(2013, 9, 27),
       datetime.date(2013, 9, 30), datetime.date(2013, 10, 2),
       datetime.date(2013, 10, 3), datetime.date(2013, 10, 4),
       datetime.date(2013, 10, 7), datetime.date(2013, 10, 8),
       datetime.date(2013, 10, 9), datetime.date(2013, 10, 10),
       datetime.date(2013, 10, 11), datetime.date(2013, 10, 15),
       datetime.date(2013, 10, 16), datetime.date(2013, 10, 17),
       datetime.date(2013, 10, 18), datetime.date(2013, 10, 21),
       datetime.date(2013, 10, 22), datetime.date(2013, 10, 23),
       datetime.date(2013, 10, 24), datetime.date(2013, 10, 25),
       datetime.date(2013, 10, 28), datetime.date(2013, 10, 29),
       datetime.date(2013, 10, 30), datetime.date(2013, 10, 31),
       datetime.date(2013, 11, 1), datetime.date(2013, 11, 4),
       datetime.date(2013, 11, 5), datetime.date(2013, 11, 6),
       datetime.date(2013, 11, 7), datetime.date(2013, 11, 8),
       datetime.date(2013, 11, 11), datetime.date(2013, 11, 12),
       datetime.date(2013, 11, 13), datetime.date(2013, 11, 14),
       datetime.date(2013, 11, 15), datetime.date(2013, 11, 18),
       datetime.date(2013, 11, 19), datetime.date(2013, 11, 20),
       datetime.date(2013, 11, 21), datetime.date(2013, 11, 22),
       datetime.date(2013, 11, 25), datetime.date(2013, 11, 26),
       datetime.date(2013, 11, 27), datetime.date(2013, 11, 28),
       datetime.date(2013, 11, 29), datetime.date(2013, 12, 2),
       datetime.date(2013, 12, 3), datetime.date(2013, 12, 4),
       datetime.date(2013, 12, 5), datetime.date(2013, 12, 6),
       datetime.date(2013, 12, 9), datetime.date(2013, 12, 10),
       datetime.date(2013, 12, 11), datetime.date(2013, 12, 12),
       datetime.date(2013, 12, 13), datetime.date(2013, 12, 16),
       datetime.date(2013, 12, 17), datetime.date(2013, 12, 18),
       datetime.date(2013, 12, 19), datetime.date(2013, 12, 20),
       datetime.date(2013, 12, 23), datetime.date(2013, 12, 24),
       datetime.date(2013, 12, 27), datetime.date(2013, 12, 30),
       datetime.date(2013, 12, 31), datetime.date(2014, 1, 2),
       datetime.date(2014, 1, 3), datetime.date(2014, 1, 6),
       datetime.date(2014, 1, 7), datetime.date(2014, 1, 8),
       datetime.date(2014, 1, 9), datetime.date(2014, 1, 10),
       datetime.date(2014, 1, 13), datetime.date(2014, 1, 14),
       datetime.date(2014, 1, 15), datetime.date(2014, 1, 16),
       datetime.date(2014, 1, 17), datetime.date(2014, 1, 20),
       datetime.date(2014, 1, 21), datetime.date(2014, 1, 22),
       datetime.date(2014, 1, 23), datetime.date(2014, 1, 24),
       datetime.date(2014, 1, 27), datetime.date(2014, 1, 28),
       datetime.date(2014, 1, 29), datetime.date(2014, 1, 30),
       datetime.date(2014, 2, 4), datetime.date(2014, 2, 5),
       datetime.date(2014, 2, 6), datetime.date(2014, 2, 7),
       datetime.date(2014, 2, 10), datetime.date(2014, 2, 11),
       datetime.date(2014, 2, 12), datetime.date(2014, 2, 13),
       datetime.date(2014, 2, 14), datetime.date(2014, 2, 17),
       datetime.date(2014, 2, 18), datetime.date(2014, 2, 19),
       datetime.date(2014, 2, 20), datetime.date(2014, 2, 21),
       datetime.date(2014, 2, 24), datetime.date(2014, 2, 25),
       datetime.date(2014, 2, 26), datetime.date(2014, 2, 27),
       datetime.date(2014, 2, 28), datetime.date(2014, 3, 3),
       datetime.date(2014, 3, 4), datetime.date(2014, 3, 5),
       datetime.date(2014, 3, 6), datetime.date(2014, 3, 7),
       datetime.date(2014, 3, 10), datetime.date(2014, 3, 11),
       datetime.date(2014, 3, 12), datetime.date(2014, 3, 13),
       datetime.date(2014, 3, 14), datetime.date(2014, 3, 17),
       datetime.date(2014, 3, 18), datetime.date(2014, 3, 19),
       datetime.date(2014, 3, 20), datetime.date(2014, 3, 21),
       datetime.date(2014, 3, 24), datetime.date(2014, 3, 25),
       datetime.date(2014, 3, 26), datetime.date(2014, 3, 27),
       datetime.date(2014, 3, 28), datetime.date(2014, 3, 31),
       datetime.date(2014, 4, 1), datetime.date(2014, 4, 2),
       datetime.date(2014, 4, 3), datetime.date(2014, 4, 4),
       datetime.date(2014, 4, 7), datetime.date(2014, 4, 8),
       datetime.date(2014, 4, 9), datetime.date(2014, 4, 10),
       datetime.date(2014, 4, 11), datetime.date(2014, 4, 14),
       datetime.date(2014, 4, 15), datetime.date(2014, 4, 16),
       datetime.date(2014, 4, 17), datetime.date(2014, 4, 22),
       datetime.date(2014, 4, 23), datetime.date(2014, 4, 24),
       datetime.date(2014, 4, 25), datetime.date(2014, 4, 28),
       datetime.date(2014, 4, 29), datetime.date(2014, 4, 30),
       datetime.date(2014, 5, 2), datetime.date(2014, 5, 5),
       datetime.date(2014, 5, 7), datetime.date(2014, 5, 8),
       datetime.date(2014, 5, 9), datetime.date(2014, 5, 12),
       datetime.date(2014, 5, 13), datetime.date(2014, 5, 14),
       datetime.date(2014, 5, 15), datetime.date(2014, 5, 16),
       datetime.date(2014, 5, 19), datetime.date(2014, 5, 20),
       datetime.date(2014, 5, 21), datetime.date(2014, 5, 22),
       datetime.date(2014, 5, 23), datetime.date(2014, 5, 26),
       datetime.date(2014, 5, 27), datetime.date(2014, 5, 28),
       datetime.date(2014, 5, 29), datetime.date(2014, 5, 30),
       datetime.date(2014, 6, 3), datetime.date(2014, 6, 4),
       datetime.date(2014, 6, 5), datetime.date(2014, 6, 6),
       datetime.date(2014, 6, 9), datetime.date(2014, 6, 10),
       datetime.date(2014, 6, 11), datetime.date(2014, 6, 12),
       datetime.date(2014, 6, 13), datetime.date(2014, 6, 16),
       datetime.date(2014, 6, 17), datetime.date(2014, 6, 18),
       datetime.date(2014, 6, 19), datetime.date(2014, 6, 20),
       datetime.date(2014, 6, 23), datetime.date(2014, 6, 24),
       datetime.date(2014, 6, 25), datetime.date(2014, 6, 26),
       datetime.date(2014, 6, 27), datetime.date(2014, 6, 30),
       datetime.date(2014, 7, 2), datetime.date(2014, 7, 3),
       datetime.date(2014, 7, 4), datetime.date(2014, 7, 7),
       datetime.date(2014, 7, 8), datetime.date(2014, 7, 9),
       datetime.date(2014, 7, 10), datetime.date(2014, 7, 11),
       datetime.date(2014, 7, 14), datetime.date(2014, 7, 15),
       datetime.date(2014, 7, 16), datetime.date(2014, 7, 17),
       datetime.date(2014, 7, 18), datetime.date(2014, 7, 21),
       datetime.date(2014, 7, 22), datetime.date(2014, 7, 23),
       datetime.date(2014, 7, 24), datetime.date(2014, 7, 25),
       datetime.date(2014, 7, 28), datetime.date(2014, 7, 29),
       datetime.date(2014, 7, 30), datetime.date(2014, 7, 31),
       datetime.date(2014, 8, 1), datetime.date(2014, 8, 4),
       datetime.date(2014, 8, 5), datetime.date(2014, 8, 6),
       datetime.date(2014, 8, 7), datetime.date(2014, 8, 8),
       datetime.date(2014, 8, 11), datetime.date(2014, 8, 12),
       datetime.date(2014, 8, 13), datetime.date(2014, 8, 14),
       datetime.date(2014, 8, 15), datetime.date(2014, 8, 18),
       datetime.date(2014, 8, 19), datetime.date(2014, 8, 20),
       datetime.date(2014, 8, 21), datetime.date(2014, 8, 22),
       datetime.date(2014, 8, 25), datetime.date(2014, 8, 26),
       datetime.date(2014, 8, 27), datetime.date(2014, 8, 28),
       datetime.date(2014, 8, 29), datetime.date(2014, 9, 1),
       datetime.date(2014, 9, 2), datetime.date(2014, 9, 3),
       datetime.date(2014, 9, 4), datetime.date(2014, 9, 5),
       datetime.date(2014, 9, 8), datetime.date(2014, 9, 10),
       datetime.date(2014, 9, 11), datetime.date(2014, 9, 12),
       datetime.date(2014, 9, 15), datetime.date(2014, 9, 16),
       datetime.date(2014, 9, 17), datetime.date(2014, 9, 18),
       datetime.date(2014, 9, 19), datetime.date(2014, 9, 22),
       datetime.date(2014, 9, 23), datetime.date(2014, 9, 24),
       datetime.date(2014, 9, 25), datetime.date(2014, 9, 26),
       datetime.date(2014, 9, 29), datetime.date(2014, 9, 30),
       datetime.date(2014, 10, 3), datetime.date(2014, 10, 6),
       datetime.date(2014, 10, 7), datetime.date(2014, 10, 8),
       datetime.date(2014, 10, 9), datetime.date(2014, 10, 10),
       datetime.date(2014, 10, 13), datetime.date(2014, 10, 14),
       datetime.date(2014, 10, 15), datetime.date(2014, 10, 16),
       datetime.date(2014, 10, 17), datetime.date(2014, 10, 20),
       datetime.date(2014, 10, 21), datetime.date(2014, 10, 22),
       datetime.date(2014, 10, 23), datetime.date(2014, 10, 24),
       datetime.date(2014, 10, 27), datetime.date(2014, 10, 28),
       datetime.date(2014, 10, 29), datetime.date(2014, 10, 30),
       datetime.date(2014, 10, 31), datetime.date(2014, 11, 3),
       datetime.date(2014, 11, 4), datetime.date(2014, 11, 5),
       datetime.date(2014, 11, 6), datetime.date(2014, 11, 7),
       datetime.date(2014, 11, 10), datetime.date(2014, 11, 11),
       datetime.date(2014, 11, 12), datetime.date(2014, 11, 13),
       datetime.date(2014, 11, 14), datetime.date(2014, 11, 17),
       datetime.date(2014, 11, 18), datetime.date(2014, 11, 19),
       datetime.date(2014, 11, 20), datetime.date(2014, 11, 21),
       datetime.date(2014, 11, 24), datetime.date(2014, 11, 25),
       datetime.date(2014, 11, 26), datetime.date(2014, 11, 27),
       datetime.date(2014, 11, 28), datetime.date(2014, 12, 1),
       datetime.date(2014, 12, 2), datetime.date(2014, 12, 3),
       datetime.date(2014, 12, 4), datetime.date(2014, 12, 5),
       datetime.date(2014, 12, 8), datetime.date(2014, 12, 9),
       datetime.date(2014, 12, 10), datetime.date(2014, 12, 11),
       datetime.date(2014, 12, 12), datetime.date(2014, 12, 15),
       datetime.date(2014, 12, 16), datetime.date(2014, 12, 17),
       datetime.date(2014, 12, 18), datetime.date(2014, 12, 19),
       datetime.date(2014, 12, 22), datetime.date(2014, 12, 23),
       datetime.date(2014, 12, 24), datetime.date(2014, 12, 29),
       datetime.date(2014, 12, 30), datetime.date(2014, 12, 31),
       datetime.date(2015, 1, 2), datetime.date(2015, 1, 5),
       datetime.date(2015, 1, 6), datetime.date(2015, 1, 7),
       datetime.date(2015, 1, 8), datetime.date(2015, 1, 9),
       datetime.date(2015, 1, 12), datetime.date(2015, 1, 13),
       datetime.date(2015, 1, 14), datetime.date(2015, 1, 15),
       datetime.date(2015, 1, 16), datetime.date(2015, 1, 19),
       datetime.date(2015, 1, 20), datetime.date(2015, 1, 21),
       datetime.date(2015, 1, 22), datetime.date(2015, 1, 23),
       datetime.date(2015, 1, 26), datetime.date(2015, 1, 27),
       datetime.date(2015, 1, 28), datetime.date(2015, 1, 29),
       datetime.date(2015, 1, 30), datetime.date(2015, 2, 2),
       datetime.date(2015, 2, 3), datetime.date(2015, 2, 4),
       datetime.date(2015, 2, 5), datetime.date(2015, 2, 6),
       datetime.date(2015, 2, 9), datetime.date(2015, 2, 10),
       datetime.date(2015, 2, 11), datetime.date(2015, 2, 12),
       datetime.date(2015, 2, 13), datetime.date(2015, 2, 16),
       datetime.date(2015, 2, 17), datetime.date(2015, 2, 18),
       datetime.date(2015, 2, 23), datetime.date(2015, 2, 24),
       datetime.date(2015, 2, 25), datetime.date(2015, 2, 26),
       datetime.date(2015, 2, 27), datetime.date(2015, 3, 2),
       datetime.date(2015, 3, 3), datetime.date(2015, 3, 4),
       datetime.date(2015, 3, 5), datetime.date(2015, 3, 6),
       datetime.date(2015, 3, 9), datetime.date(2015, 3, 10),
       datetime.date(2015, 3, 11), datetime.date(2015, 3, 12),
       datetime.date(2015, 3, 13), datetime.date(2015, 3, 16),
       datetime.date(2015, 3, 17), datetime.date(2015, 3, 18),
       datetime.date(2015, 3, 19), datetime.date(2015, 3, 20),
       datetime.date(2015, 3, 23), datetime.date(2015, 3, 24),
       datetime.date(2015, 3, 25), datetime.date(2015, 3, 26),
       datetime.date(2015, 3, 27), datetime.date(2015, 3, 30),
       datetime.date(2015, 3, 31), datetime.date(2015, 4, 1),
       datetime.date(2015, 4, 2), datetime.date(2015, 4, 8),
       datetime.date(2015, 4, 9), datetime.date(2015, 4, 10),
       datetime.date(2015, 4, 13), datetime.date(2015, 4, 14),
       datetime.date(2015, 4, 15), datetime.date(2015, 4, 16),
       datetime.date(2015, 4, 17), datetime.date(2015, 4, 20),
       datetime.date(2015, 4, 21), datetime.date(2015, 4, 22),
       datetime.date(2015, 4, 23), datetime.date(2015, 4, 24),
       datetime.date(2015, 4, 27), datetime.date(2015, 4, 28),
       datetime.date(2015, 4, 29), datetime.date(2015, 4, 30),
       datetime.date(2015, 5, 4), datetime.date(2015, 5, 5),
       datetime.date(2015, 5, 6), datetime.date(2015, 5, 7),
       datetime.date(2015, 5, 8), datetime.date(2015, 5, 11),
       datetime.date(2015, 5, 12), datetime.date(2015, 5, 13),
       datetime.date(2015, 5, 14), datetime.date(2015, 5, 15),
       datetime.date(2015, 5, 18), datetime.date(2015, 5, 19),
       datetime.date(2015, 5, 20), datetime.date(2015, 5, 21),
       datetime.date(2015, 5, 22), datetime.date(2015, 5, 26),
       datetime.date(2015, 5, 27), datetime.date(2015, 5, 28),
       datetime.date(2015, 5, 29), datetime.date(2015, 6, 1),
       datetime.date(2015, 6, 2), datetime.date(2015, 6, 3),
       datetime.date(2015, 6, 4), datetime.date(2015, 6, 5),
       datetime.date(2015, 6, 8), datetime.date(2015, 6, 9),
       datetime.date(2015, 6, 10), datetime.date(2015, 6, 11),
       datetime.date(2015, 6, 12), datetime.date(2015, 6, 15),
       datetime.date(2015, 6, 16), datetime.date(2015, 6, 17),
       datetime.date(2015, 6, 18), datetime.date(2015, 6, 19),
       datetime.date(2015, 6, 22), datetime.date(2015, 6, 23),
       datetime.date(2015, 6, 24), datetime.date(2015, 6, 25),
       datetime.date(2015, 6, 26), datetime.date(2015, 6, 29),
       datetime.date(2015, 6, 30), datetime.date(2015, 7, 2),
       datetime.date(2015, 7, 3), datetime.date(2015, 7, 6),
       datetime.date(2015, 7, 7), datetime.date(2015, 7, 8),
       datetime.date(2015, 7, 9), datetime.date(2015, 7, 10),
       datetime.date(2015, 7, 13), datetime.date(2015, 7, 14),
       datetime.date(2015, 7, 15), datetime.date(2015, 7, 16),
       datetime.date(2015, 7, 17), datetime.date(2015, 7, 20),
       datetime.date(2015, 7, 21), datetime.date(2015, 7, 22),
       datetime.date(2015, 7, 23), datetime.date(2015, 7, 24),
       datetime.date(2015, 7, 27), datetime.date(2015, 7, 28),
       datetime.date(2015, 7, 29), datetime.date(2015, 7, 30),
       datetime.date(2015, 7, 31), datetime.date(2015, 8, 3),
       datetime.date(2015, 8, 4), datetime.date(2015, 8, 5),
       datetime.date(2015, 8, 6), datetime.date(2015, 8, 7),
       datetime.date(2015, 8, 10), datetime.date(2015, 8, 11),
       datetime.date(2015, 8, 12), datetime.date(2015, 8, 13),
       datetime.date(2015, 8, 14), datetime.date(2015, 8, 17),
       datetime.date(2015, 8, 18), datetime.date(2015, 8, 19),
       datetime.date(2015, 8, 20), datetime.date(2015, 8, 21),
       datetime.date(2015, 8, 24), datetime.date(2015, 8, 25),
       datetime.date(2015, 8, 26), datetime.date(2015, 8, 27),
       datetime.date(2015, 8, 28), datetime.date(2015, 8, 31),
       datetime.date(2015, 9, 1), datetime.date(2015, 9, 2),
       datetime.date(2015, 9, 4), datetime.date(2015, 9, 7),
       datetime.date(2015, 9, 8), datetime.date(2015, 9, 9),
       datetime.date(2015, 9, 10), datetime.date(2015, 9, 11),
       datetime.date(2015, 9, 14), datetime.date(2015, 9, 15),
       datetime.date(2015, 9, 16), datetime.date(2015, 9, 17),
       datetime.date(2015, 9, 18), datetime.date(2015, 9, 21),
       datetime.date(2015, 9, 22), datetime.date(2015, 9, 23),
       datetime.date(2015, 9, 24), datetime.date(2015, 9, 25),
       datetime.date(2015, 9, 29), datetime.date(2015, 9, 30),
       datetime.date(2015, 10, 2), datetime.date(2015, 10, 5),
       datetime.date(2015, 10, 6), datetime.date(2015, 10, 7),
       datetime.date(2015, 10, 8), datetime.date(2015, 10, 9),
       datetime.date(2015, 10, 12), datetime.date(2015, 10, 13),
       datetime.date(2015, 10, 14), datetime.date(2015, 10, 15),
       datetime.date(2015, 10, 16), datetime.date(2015, 10, 19),
       datetime.date(2015, 10, 20), datetime.date(2015, 10, 22),
       datetime.date(2015, 10, 23), datetime.date(2015, 10, 26),
       datetime.date(2015, 10, 27), datetime.date(2015, 10, 28),
       datetime.date(2015, 10, 29), datetime.date(2015, 10, 30),
       datetime.date(2015, 11, 2), datetime.date(2015, 11, 3),
       datetime.date(2015, 11, 4), datetime.date(2015, 11, 5),
       datetime.date(2015, 11, 6), datetime.date(2015, 11, 9),
       datetime.date(2015, 11, 10), datetime.date(2015, 11, 11),
       datetime.date(2015, 11, 12), datetime.date(2015, 11, 13),
       datetime.date(2015, 11, 16), datetime.date(2015, 11, 17),
       datetime.date(2015, 11, 18), datetime.date(2015, 11, 19),
       datetime.date(2015, 11, 20), datetime.date(2015, 11, 23),
       datetime.date(2015, 11, 24), datetime.date(2015, 11, 25),

In [19]:
df

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit,sum_profit
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000,104.0,104.0
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000,11.0,11.0
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000,25.0,25.0
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000,-27.0,-27.0
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000,104.0,104.0
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0,28.0
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000,20.0,20.0
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000,106.0,106.0
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000,-42.0,-17.0
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000,-47.0,-47.0
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000,15.0,15.0
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000,13.0,-34.0
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000,3.0,3.0
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000,104.0,104.0
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000,-47.0,-27.0
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000,10.0,-7.0
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000,71.0,37.0
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0,-19.0
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000,58.0,69.0
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000,9.0,2.0
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000,17.0,19.0
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000,48.0,21.0
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0,9.0
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000,34.0,34.0
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0,37.0
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000,6.0,110.0
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000,9.0,113.0
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000,46.0,61.0
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000,15.0,119.0
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000,28.0,138.0
...,...,...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000,8.0,-1992.0
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000,8.0,236.0
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000,7.0,13218.0
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000,9.0,4898.0
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000,4.0,47.0
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000,10.0,283.0
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000,8.0,570.0
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000,8.0,360.0
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000,-10.0,-110.0
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000,10.0,293.0
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000,-8.0,1766.0
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000,18.0,588.0
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000,8.0,301.0
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000,10.0,-922.0
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000,4.0,305.0
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000,10.0,315.0
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000,-5.0,1761.0
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000,4.0,-1988.0
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000,9.0,38.0
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000,10.0,91.0
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000,9.0,825.0
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000,-37.0,10.0
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000,-35.0,1087.0
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000,-20.0,1067.0
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000,8.0,-376.0
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000,11.0,-1807.0
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000,6.0,-2373.0
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000,11.0,599.0
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000,11.0,-1796.0
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000,7.0,3938.0

In [28]:
df

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit,sum_profit,rate
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000,104.0,104.0,1
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000,11.0,11.0,1
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000,25.0,25.0,1
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000,-27.0,-27.0,1
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000,104.0,104.0,1
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0,28.0,1
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000,20.0,20.0,1
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000,106.0,106.0,1
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000,-42.0,-17.0,1
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000,-47.0,-47.0,1
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000,15.0,15.0,1
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000,13.0,-34.0,1
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000,3.0,3.0,1
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000,104.0,104.0,1
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000,-47.0,-27.0,1
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000,10.0,-7.0,1
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000,71.0,37.0,1
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0,-19.0,1
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000,58.0,69.0,1
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000,9.0,2.0,1
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000,17.0,19.0,1
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000,48.0,21.0,1
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0,9.0,1
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000,34.0,34.0,1
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0,37.0,1
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000,6.0,110.0,1
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000,9.0,113.0,1
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000,46.0,61.0,1
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000,15.0,119.0,1
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000,28.0,138.0,1
...,...,...,...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000,8.0,-1992.0,1
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000,8.0,236.0,1
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000,7.0,13218.0,1
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000,9.0,4898.0,1
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000,4.0,47.0,1
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000,10.0,283.0,1
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000,8.0,570.0,1
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000,8.0,360.0,1
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000,-10.0,-110.0,1
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000,10.0,293.0,1
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000,-8.0,1766.0,1
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000,18.0,588.0,1
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000,8.0,301.0,1
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000,10.0,-922.0,1
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000,4.0,305.0,1
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000,10.0,315.0,1
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000,-5.0,1761.0,1
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000,4.0,-1988.0,1
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000,9.0,38.0,1
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000,10.0,91.0,1
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000,9.0,825.0,1
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000,-37.0,10.0,1
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000,-35.0,1087.0,1
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000,-20.0,1067.0,1
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000,8.0,-376.0,1
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000,11.0,-1807.0,1
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000,6.0,-2373.0,1
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000,11.0,599.0,1
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000,11.0,-1796.0,1
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000,7.0,3938.0,1

In [38]:
df.groupby(df.account).profit.sum()

account
A0001     441.0
A0002    4147.0
A0003    -442.0
A0004    1479.0
A0005    1368.0
A0006    1967.0
A0007    1111.0
A0008     -11.0
A0009   -1790.0
A0010   -2127.0
A0011    -242.0
A0012    -227.0
A0013     692.0
A0014    2161.0
A0015      77.0
A0016     -59.0
A0017     205.0
A0018    1019.0
A0019    -329.0
A0020    -153.0
A0021     550.0
A0022    -244.0
A0023    1459.0
A0024      43.0
A0025     599.0
A0026      11.0
A0027     320.0
A0028     109.0
A0029     349.0
A0030    -750.0
          ...
A1607    -185.0
A1608    -167.0
A1609     762.0
A1610    1240.0
A1611       2.0
A1612      12.0
A1613     136.0
A1614     -13.0
A1615      11.0
A1616     -50.0
A1617     228.0
A1618    -156.0
A1619    -170.0
A1620    -183.0
A1621    -159.0
A1622     -57.0
A1623      54.0
A1624     -82.0
A1625     -89.0
A1626    -141.0
A1627     -47.0
A1628     -48.0
A1629     -38.0
A1630      10.0
A1631     -50.0
A1632      29.0
A1633     -38.0
A1634      14.0
A1635     -87.0
A1636     -96.0
Name: profit, Length: 1636, dtype: float64

In [41]:
df[df.account =='A0002']

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit,sum_profit
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000,104.0,104.0
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000,15.0,119.0
2013-05-02 10:18:50,A0002,HSIK3,2,22524.0,2013-05-02 10:18:50.000,22490.0,2013-05-02 10:22:08.000,34.0,153.0
2013-05-02 10:20:08,A0002,HSIK3,2,22518.0,2013-05-02 10:20:08.000,22505.0,2013-05-02 10:21:29.000,13.0,166.0
2013-05-03 09:16:54,A0002,HSIK3,1,22728.0,2013-05-03 09:16:54.000,22689.0,2013-05-03 09:22:36.000,-39.0,127.0
2013-05-03 09:17:38,A0002,HSIK3,1,22731.0,2013-05-03 09:17:38.000,22695.0,2013-05-03 09:20:37.000,-36.0,91.0
2013-05-03 09:32:14,A0002,HSIK3,2,22661.0,2013-05-03 09:32:14.000,22658.0,2013-05-03 09:33:07.000,3.0,94.0
2013-05-03 09:52:00,A0002,HSIK3,1,22737.0,2013-05-03 09:52:00.000,22744.0,2013-05-03 09:53:05.000,7.0,101.0
2013-05-03 09:55:01,A0002,HSIK3,1,22734.0,2013-05-03 09:55:01.000,22737.0,2013-05-03 09:55:39.000,3.0,104.0
2013-05-03 10:32:08,A0002,HSIK3,1,22728.0,2013-05-03 10:32:08.000,22737.0,2013-05-03 10:34:30.000,9.0,113.0
2013-05-03 14:11:55,A0002,HSIK3,1,22603.0,2013-05-03 14:11:55.000,22618.0,2013-05-03 14:15:31.000,15.0,128.0
2013-05-06 09:16:33,A0002,HSIK3,2,22862.0,2013-05-06 09:16:33.000,22881.0,2013-05-06 09:20:06.000,-19.0,109.0
2013-05-06 09:33:16,A0002,HSIK3,2,22838.0,2013-05-06 09:33:16.000,22823.0,2013-05-06 09:35:09.000,15.0,124.0
2013-05-06 09:47:41,A0002,HSIK3,1,22789.0,2013-05-06 09:47:41.000,22768.0,2013-05-06 09:50:16.000,-21.0,103.0
2013-05-06 09:54:24,A0002,HSIK3,1,22779.0,2013-05-06 09:54:24.000,22814.0,2013-05-06 09:58:55.000,35.0,138.0
2013-05-06 09:57:46,A0002,HSIK3,1,22786.0,2013-05-06 09:57:46.000,22809.0,2013-05-06 09:58:26.000,23.0,161.0
2013-05-06 10:25:46,A0002,HSIK3,2,22848.0,2013-05-06 10:25:46.000,22842.0,2013-05-06 10:27:49.000,6.0,167.0
2013-05-06 10:30:48,A0002,HSIK3,2,22847.0,2013-05-06 10:30:48.000,22866.0,2013-05-06 10:32:48.000,-19.0,148.0
2013-05-06 10:33:08,A0002,HSIK3,1,22877.0,2013-05-06 10:33:08.000,22859.0,2013-05-06 10:35:45.000,-18.0,130.0
2013-05-06 10:36:23,A0002,HSIK3,2,22855.0,2013-05-06 10:36:23.000,22841.0,2013-05-06 10:41:42.000,14.0,144.0
2013-05-06 11:08:27,A0002,HSIK3,1,22782.0,2013-05-06 11:08:27.000,22787.0,2013-05-06 11:09:12.000,5.0,149.0
2013-05-06 11:16:38,A0002,HSIK3,1,22795.0,2013-05-06 11:16:38.000,22800.0,2013-05-06 11:17:40.000,5.0,154.0
2013-05-06 11:28:38,A0002,HSIK3,1,22784.0,2013-05-06 11:28:38.000,22800.0,2013-05-06 11:33:05.000,16.0,170.0
2013-05-06 13:03:51,A0002,HSIK3,1,22790.0,2013-05-06 13:03:51.000,22796.0,2013-05-06 13:08:02.000,6.0,176.0
2013-05-06 14:11:08,A0002,HSIK3,1,22806.0,2013-05-06 14:11:08.000,22816.0,2013-05-06 14:14:09.000,10.0,186.0
2013-05-06 15:11:41,A0002,HSIK3,2,22776.0,2013-05-06 15:11:41.000,22730.0,2013-05-06 15:14:34.000,46.0,232.0
2013-05-06 15:23:43,A0002,HSIK3,2,22741.0,2013-05-06 15:23:43.000,22750.0,2013-05-06 15:24:20.000,-9.0,223.0
2013-05-07 09:36:25,A0002,HSIK3,2,22758.0,2013-05-07 09:36:25.000,22784.0,2013-05-07 09:39:25.000,-26.0,197.0
2013-05-07 09:44:05,A0002,HSIK3,2,22770.0,2013-05-07 09:44:05.000,22756.0,2013-05-07 09:44:59.000,14.0,211.0
2013-05-07 10:34:49,A0002,HSIK3,1,22842.0,2013-05-07 10:34:49.000,22857.0,2013-05-07 10:35:21.000,15.0,226.0
...,...,...,...,...,...,...,...,...,...
2015-12-22 11:00:05,A0002,HSIZ5,2,21741.0,2015-12-22 11:00:05.000,21784.0,2015-12-22 14:14:03.000,-43.0,3959.0
2015-12-22 11:04:41,A0002,HSIZ5,2,21725.0,2015-12-22 11:04:41.000,21782.0,2015-12-22 14:13:59.000,-57.0,3902.0
2015-12-22 11:10:31,A0002,HSIZ5,2,21716.0,2015-12-22 11:10:31.000,21784.0,2015-12-22 14:13:42.000,-68.0,3834.0
2015-12-22 11:24:33,A0002,HSIZ5,2,21729.0,2015-12-22 11:24:33.000,21783.0,2015-12-22 14:14:22.000,-54.0,3780.0
2015-12-23 09:38:18,A0002,HSIZ5,1,21992.0,2015-12-23 09:38:18.000,22014.0,2015-12-23 09:40:12.000,22.0,3802.0
2015-12-23 09:55:14,A0002,HSIZ5,1,22075.0,2015-12-23 09:55:14.000,22082.0,2015-12-23 09:55:49.000,7.0,3809.0
2015-12-23 10:18:21,A0002,HSIZ5,1,22051.0,2015-12-23 10:18:21.000,22059.0,2015-12-23 10:22:26.000,8.0,3817.0
2015-12-23 11:21:18,A0002,HSIZ5,1,22059.0,2015-12-23 11:21:18.000,22097.0,2015-12-23 14:30:46.000,38.0,3855.0
2015-12-23 11:25:23,A0002,HSIZ5,1,22067.0,2015-12-23 11:25:23.000,22047.0,2015-12-23 15:02:13.000,-20.0,3835.0
2015-12-28 09:15:06,A0002,HSIZ5,2,22140.0,2015-12-28 09:15:06.000,22051.0,2015-12-28 09:41:48.000,89.0,3924.0
2015-12-28 11:19:27,A0002,HSIZ5,2,22025.0,2015-12-28 11:19:27.000,21907.0,2015-12-28 13:31:12.000,118.0,4042.0
2015-12-28 11:25:49,A0002,HSIZ5,2,22029.0,2015-12-28 11:25:49.000,21972.0,2015-12-28 13:26:55.000,57.0,4099.0
2015-12-29 10:53:26,A0002,HSIZ5,1,21961.0,2015-12-29 10:53:26.000,21972.0,2015-12-29 10:54:15.000,11.0,4110.0
2015-12-29 11:05:15,A0002,HSIZ5,2,21972.0,2015-12-29 11:05:15.000,21980.0,2015-12-29 11:08:08.000,-8.0,4102.0
2015-12-29 11:10:16,A0002,HSIZ5,1,21995.0,2015-12-29 11:10:16.000,21989.0,2015-12-29 11:12:47.000,-6.0,4096.0
2015-12-29 11:19:42,A0002,HSIZ5,2,21981.0,2015-12-29 11:19:42.000,22013.0,2015-12-29 11:21:32.000,-32.0,4064.0
2015-12-29 11:20:22,A0002,HSIZ5,2,21990.0,2015-12-29 11:20:22.000,22014.0,2015-12-29 11:21:33.000,-24.0,4040.0
2015-12-29 11:22:22,A0002,HSIZ5,1,22013.0,2015-12-29 11:22:22.000,22019.0,2015-12-29 11:23:06.000,6.0,4046.0
2015-12-29 11:29:15,A0002,HSIZ5,2,22000.0,2015-12-29 11:29:15.000,21982.0,2015-12-29 11:33:50.000,18.0,4064.0
2015-12-29 15:02:24,A0002,HSIZ5,2,21993.0,2015-12-29 15:02:24.000,22040.0,2015-12-29 16:11:38.000,-47.0,4017.0
2015-12-29 15:11:44,A0002,HSIZ5,1,21997.0,2015-12-29 15:11:44.000,22050.0,2015-12-29 16:14:55.000,53.0,4070.0
2015-12-30 09:30:24,A0002,HSIF6,1,22145.0,2015-12-30 09:30:24.000,22008.0,2015-12-30 09:51:30.000,-137.0,3933.0
2015-12-30 09:50:28,A0002,HSIF6,2,22021.0,2015-12-30 09:50:28.000,22005.0,2015-12-30 09:52:09.000,16.0,3949.0
2015-12-30 09:51:25,A0002,HSIF6,2,22011.0,2015-12-30 09:51:25.000,21928.0,2015-12-30 10:15:30.000,83.0,4032.0
2015-12-30 10:02:52,A0002,HSIF6,2,21992.0,2015-12-30 10:02:52.000,21969.0,2015-12-30 10:13:22.000,23.0,4055.0
2015-12-30 10:03:56,A0002,HSIF6,1,22001.0,2015-12-30 10:03:56.000,21954.0,2015-12-30 10:14:05.000,-47.0,4008.0
2015-12-30 10:17:02,A0002,HSIF6,1,21947.0,2015-12-30 10:17:02.000,21952.0,2015-12-30 10:21:56.000,5.0,4013.0
2015-12-30 10:33:45,A0002,HSIF6,2,21964.0,2015-12-30 10:33:45.000,21959.0,2015-12-30 10:41:55.000,5.0,4018.0
2015-12-30 10:45:43,A0002,HSIF6,2,21952.0,2015-12-30 10:45:43.000,21879.0,2015-12-30 13:37:19.000,73.0,4091.0
2015-12-30 11:02:13,A0002,HSIF6,2,21937.0,2015-12-30 11:02:13.000,21881.0,2015-12-30 13:37:24.000,56.0,4147.0

In [44]:
df['rate'] = 1
df

,account,product,buy_sell,take_price,take_time,close_price,close_time,profit,sum_profit,rate
2013-05-02 09:15:05,A0002,HSIK3,2,22565.0,2013-05-02 09:15:05.000,22461.0,2013-05-02 09:32:49.000,104.0,104.0,1
2013-05-02 09:15:12,A0003,HSIK3,2,22560.0,2013-05-02 09:15:12.000,22549.0,2013-05-02 09:27:56.000,11.0,11.0,1
2013-05-02 09:15:53,A0004,HSIK3,2,22554.0,2013-05-02 09:15:53.000,22529.0,2013-05-02 09:16:26.000,25.0,25.0,1
2013-05-02 09:15:55,A0005,HSIK3,1,22553.0,2013-05-02 09:15:55.000,22526.0,2013-05-02 09:19:00.000,-27.0,-27.0,1
2013-05-02 09:16:21,A0001,HSIK3,2,22524.0,2013-05-02 09:16:21.000,22420.0,2013-05-02 09:35:12.000,104.0,104.0,1
2013-05-02 09:17:08,A0006,HSIK3,1,22535.0,2013-05-02 09:17:08.000,22563.0,2013-05-02 09:23:30.000,28.0,28.0,1
2013-05-02 09:18:56,A0007,HSIK3,1,22528.0,2013-05-02 09:18:56.000,22548.0,2013-05-02 09:26:14.000,20.0,20.0,1
2013-05-02 09:19:49,A0008,HSIK3,2,22527.0,2013-05-02 09:19:49.000,22421.0,2013-05-02 09:35:15.000,106.0,106.0,1
2013-05-02 09:22:39,A0004,HSIK3,2,22513.0,2013-05-02 09:22:39.000,22555.0,2013-05-02 09:23:16.000,-42.0,-17.0,1
2013-05-02 09:22:47,A0009,HSIK3,2,22515.0,2013-05-02 09:22:47.000,22562.0,2013-05-02 09:23:23.000,-47.0,-47.0,1
2013-05-02 09:23:07,A0010,HSIK3,1,22540.0,2013-05-02 09:23:07.000,22555.0,2013-05-02 09:25:44.000,15.0,15.0,1
2013-05-02 09:24:09,A0009,HSIK3,2,22552.0,2013-05-02 09:24:09.000,22539.0,2013-05-02 09:24:40.000,13.0,-34.0,1
2013-05-02 09:24:45,A0011,HSIK3,2,22543.0,2013-05-02 09:24:45.000,22540.0,2013-05-02 09:29:48.000,3.0,3.0,1
2013-05-02 09:25:00,A0012,HSIK3,2,22549.0,2013-05-02 09:25:00.000,22445.0,2013-05-02 09:33:02.000,104.0,104.0,1
2013-05-02 09:26:24,A0007,HSIK3,1,22542.0,2013-05-02 09:26:24.000,22495.0,2013-05-02 09:32:36.000,-47.0,-27.0,1
2013-05-02 09:29:04,A0004,HSIK3,2,22538.0,2013-05-02 09:29:04.000,22528.0,2013-05-02 09:30:47.000,10.0,-7.0,1
2013-05-02 09:30:16,A0009,HSIK3,2,22514.0,2013-05-02 09:30:16.000,22443.0,2013-05-02 09:33:16.000,71.0,37.0,1
2013-05-02 09:30:30,A0006,HSIK3,1,22534.0,2013-05-02 09:30:30.000,22487.0,2013-05-02 09:32:39.000,-47.0,-19.0,1
2013-05-02 09:31:06,A0003,HSIK3,2,22510.0,2013-05-02 09:31:06.000,22452.0,2013-05-02 09:32:57.000,58.0,69.0,1
2013-05-02 09:31:25,A0004,HSIK3,2,22508.0,2013-05-02 09:31:25.000,22499.0,2013-05-02 09:32:00.000,9.0,2.0,1
2013-05-02 09:32:51,A0004,HSIK3,2,22451.0,2013-05-02 09:32:51.000,22434.0,2013-05-02 09:33:35.000,17.0,19.0,1
2013-05-02 09:33:04,A0007,HSIK3,1,22442.0,2013-05-02 09:33:04.000,22490.0,2013-05-02 09:41:04.000,48.0,21.0,1
2013-05-02 09:33:16,A0006,HSIK3,1,22442.0,2013-05-02 09:33:16.000,22470.0,2013-05-02 09:36:23.000,28.0,9.0,1
2013-05-02 09:35:23,A0013,HSIK3,1,22425.0,2013-05-02 09:35:23.000,22459.0,2013-05-02 09:35:57.000,34.0,34.0,1
2013-05-02 09:35:34,A0006,HSIK3,1,22432.0,2013-05-02 09:35:34.000,22460.0,2013-05-02 09:36:12.000,28.0,37.0,1
2013-05-02 09:36:08,A0001,HSIK3,2,22457.0,2013-05-02 09:36:08.000,22451.0,2013-05-02 09:48:12.000,6.0,110.0,1
2013-05-02 09:37:18,A0012,HSIK3,1,22472.0,2013-05-02 09:37:18.000,22481.0,2013-05-02 09:43:45.000,9.0,113.0,1
2013-05-02 09:37:19,A0010,HSIK3,1,22472.0,2013-05-02 09:37:19.000,22518.0,2013-05-02 10:15:28.000,46.0,61.0,1
2013-05-02 09:38:03,A0002,HSIK3,2,22476.0,2013-05-02 09:38:03.000,22461.0,2013-05-02 09:38:38.000,15.0,119.0,1
2013-05-02 09:39:46,A0001,HSIK3,2,22481.0,2013-05-02 09:39:46.000,22453.0,2013-05-02 09:46:17.000,28.0,138.0,1
...,...,...,...,...,...,...,...,...,...,...
2015-12-30 15:37:27,A1247,HSIF6,1,21910.0,2015-12-30 15:37:27.000,21918.0,2015-12-30 15:43:50.000,8.0,-1992.0,1
2015-12-30 15:37:54,A1537,HSIF6,1,21908.0,2015-12-30 15:37:54.000,21916.0,2015-12-30 15:53:51.000,8.0,236.0,1
2015-12-30 15:39:08,A0775,HSIF6,2,21912.0,2015-12-30 15:39:08.000,21905.0,2015-12-30 15:40:03.000,7.0,13218.0,1
2015-12-30 15:39:14,A0877,HSIF6,1,21916.0,2015-12-30 15:39:14.000,21925.0,2015-12-30 15:54:27.000,9.0,4898.0,1
2015-12-30 15:39:24,A1630,HSIF6,1,21914.0,2015-12-30 15:39:24.000,21918.0,2015-12-30 15:54:06.000,4.0,47.0,1
2015-12-30 15:40:09,A1502,HSIF6,1,21905.0,2015-12-30 15:40:09.000,21915.0,2015-12-30 15:42:09.000,10.0,283.0,1
2015-12-30 15:40:42,A0025,HSIF6,1,21907.0,2015-12-30 15:40:42.000,21915.0,2015-12-30 15:44:37.000,8.0,570.0,1
2015-12-30 15:40:58,A1207,HSIF6,2,21910.0,2015-12-30 15:40:58.000,21902.0,2015-12-30 16:09:35.000,8.0,360.0,1
2015-12-30 15:44:52,A1583,HSIF6,2,21912.0,2015-12-30 15:44:52.000,21922.0,2015-12-30 15:54:42.000,-10.0,-110.0,1
2015-12-30 15:45:11,A1502,HSIF6,1,21907.0,2015-12-30 15:45:11.000,21917.0,2015-12-30 15:52:37.000,10.0,293.0,1
2015-12-30 15:45:33,A1381,HSIF6,1,21910.0,2015-12-30 15:45:33.000,21902.0,2015-12-30 15:48:34.000,-8.0,1766.0,1
2015-12-30 15:45:47,A0025,HSIF6,1,21910.0,2015-12-30 15:45:47.000,21928.0,2015-12-30 15:55:54.000,18.0,588.0,1
2015-12-30 15:46:34,A1502,HSIF6,1,21909.0,2015-12-30 15:46:34.000,21917.0,2015-12-30 15:53:47.000,8.0,301.0,1
2015-12-30 15:48:11,A0184,HSIF6,1,21905.0,2015-12-30 15:48:11.000,21915.0,2015-12-30 15:52:49.000,10.0,-922.0,1
2015-12-30 15:48:19,A1502,HSIF6,1,21898.0,2015-12-30 15:48:19.000,21902.0,2015-12-30 15:49:12.000,4.0,305.0,1
2015-12-30 15:50:32,A1502,HSIF6,1,21900.0,2015-12-30 15:50:32.000,21910.0,2015-12-30 15:51:28.000,10.0,315.0,1
2015-12-30 15:51:13,A1381,HSIF6,2,21905.0,2015-12-30 15:51:13.000,21910.0,2015-12-30 15:52:22.000,-5.0,1761.0,1
2015-12-30 15:52:10,A1247,HSIF6,1,21911.0,2015-12-30 15:52:10.000,21915.0,2015-12-30 15:52:49.000,4.0,-1988.0,1
2015-12-30 15:52:42,A1058,HSIF6,1,21916.0,2015-12-30 15:52:42.000,21925.0,2015-12-30 15:54:55.000,9.0,38.0,1
2015-12-30 15:52:57,A1600,HSIF6,1,21914.0,2015-12-30 15:52:57.000,21924.0,2015-12-30 15:54:49.000,10.0,91.0,1
2015-12-30 15:53:05,A1516,HSIF6,1,21915.0,2015-12-30 15:53:05.000,21924.0,2015-12-30 15:54:53.000,9.0,825.0,1
2015-12-30 15:56:14,A1630,HSIF6,1,21931.0,2015-12-30 15:56:14.000,21894.0,2015-12-30 15:59:49.000,-37.0,10.0,1
2015-12-30 15:56:51,A0481,HSIF6,1,21930.0,2015-12-30 15:56:51.000,21895.0,2015-12-30 15:59:45.000,-35.0,1087.0,1
2015-12-30 15:57:40,A0481,HSIF6,1,21930.0,2015-12-30 15:57:40.000,21910.0,2015-12-30 16:00:09.000,-20.0,1067.0,1
2015-12-30 15:58:29,A1256,HSIF6,2,21924.0,2015-12-30 15:58:29.000,21916.0,2015-12-30 15:59:04.000,8.0,-376.0,1
2015-12-30 15:58:41,A0305,HSIF6,2,21921.0,2015-12-30 15:58:41.000,21910.0,2015-12-30 16:04:38.000,11.0,-1807.0,1
2015-12-30 15:59:19,A0231,HSIF6,2,21908.0,2015-12-30 15:59:19.000,21902.0,2015-12-30 16:05:07.000,6.0,-2373.0,1
2015-12-30 15:59:20,A0025,HSIF6,1,21907.0,2015-12-30 15:59:20.000,21918.0,2015-12-30 16:00:25.000,11.0,599.0,1
2015-12-30 15:59:28,A0305,HSIF6,2,21912.0,2015-12-30 15:59:28.000,21901.0,2015-12-30 16:05:43.000,11.0,-1796.0,1
2015-12-30 16:08:16,A1116,HSIF6,1,21902.0,2015-12-30 16:08:16.000,21909.0,2015-12-30 16:13:51.000,7.0,3938.0,1

In [45]:
df1

            hsi_index      rate
date2
2013-05-02   22668.30       NaN
2013-05-03   22689.96  0.000956
2013-05-06   22915.09  0.009922
2013-05-07   23047.09  0.005760
2013-05-08   23244.35  0.008559
2013-05-09   23211.48 -0.001414
2013-05-10   23321.22  0.004728
2013-05-13   22989.81 -0.014211
2013-05-14   22930.28 -0.002589
2013-05-15   23044.24  0.004970
2013-05-16   23082.68  0.001668
2013-05-20   23493.03  0.017777
2013-05-21   23366.37 -0.005391
2013-05-22   23261.08 -0.004506
2013-05-23   22669.68 -0.025424
2013-05-24   22618.67 -0.002250
2013-05-27   22686.05  0.002979
2013-05-28   22924.25  0.010500
2013-05-29   22554.93 -0.016110
2013-05-30   22484.31 -0.003131
2013-05-31   22392.16 -0.004098
2013-06-03   22282.19 -0.004911
2013-06-04   22285.52  0.000149
2013-06-05   22069.24 -0.009705
2013-06-06   21838.43 -0.010458
2013-06-07   21575.26 -0.012051
2013-06-10   21615.09  0.001846
2013-06-11   21354.66 -0.012049
2013-06-13   20887.04 -0.021898
2013-06-14   20969.14  0.003931
...               ...       ...
2015-11-18   22188.26 -0.003413
2015-11-19   22500.22  0.014060
2015-11-20   22754.72  0.011311
2015-11-23   22665.90 -0.003903
2015-11-24   22587.63 -0.003453
2015-11-25   22498.00 -0.003968
2015-11-26   22488.94 -0.000403
2015-11-27   22068.32 -0.018703
2015-11-30   21996.42 -0.003258
2015-12-01   22381.35  0.017500
2015-12-02   22479.69  0.004394
2015-12-03   22417.01 -0.002788
2015-12-04   22235.89 -0.008080
2015-12-07   22203.22 -0.001469
2015-12-08   21905.13 -0.013426
2015-12-09   21803.76 -0.004628
2015-12-10   21704.61 -0.004547
2015-12-11   21464.05 -0.011083
2015-12-14   21309.85 -0.007184
2015-12-15   21274.37 -0.001665
2015-12-16   21701.21  0.020064
2015-12-17   21872.06  0.007873
2015-12-18   21755.56 -0.005326
2015-12-21   21791.68  0.001660
2015-12-22   21830.02  0.001759
2015-12-23   22040.59  0.009646
2015-12-24   22138.13  0.004425
2015-12-28   21919.62 -0.009870
2015-12-29   21999.62  0.003650
2015-12-30   21882.15 -0.005340

[658 rows x 2 columns]

In [48]:
date_profit = df.groupby([df.index.date,df.account]).profit.sum()

In [49]:
date_profit

            account
2013-05-02  A0001      173.0
            A0002      166.0
            A0003       98.0
            A0004       42.0
            A0005      -77.0
            A0006      130.0
            A0007      319.0
            A0008      141.0
            A0009       11.0
            A0010      202.0
            A0011       16.0
            A0012      170.0
            A0013       21.0
            A0014     -297.0
            A0015      -21.0
            A0016       -6.0
            A0017       53.0
            A0018       29.0
            A0019      -30.0
            A0020       -8.0
            A0021       -3.0
            A0022       40.0
            A0023       95.0
            A0024        9.0
            A0025      -19.0
            A0026      -42.0
            A0027       56.0
            A0028       29.0
            A0029       14.0
            A0030      -18.0
                       ...
2015-12-30  A1576      -12.0
            A1577        2.0
            A1578      -23.0
            A1580       -6.0
            A1581      -25.0
            A1582       11.0
            A1583     -155.0
            A1584       -6.0
            A1585       -3.0
            A1587      -47.0
            A1589      -44.0
            A1591       31.0
            A1599      -17.0
            A1600        8.0
            A1601     -152.0
            A1604       -8.0
            A1606      -32.0
            A1607      -24.0
            A1609     -119.0
            A1610      192.0
            A1611       -9.0
            A1617       -9.0
            A1618       -8.0
            A1620     -250.0
            A1625       -8.0
            A1628      -14.0
            A1630      -88.0
            A1633      -36.0
            A1635      101.0
            A1636      -96.0
Name: profit, Length: 53204, dtype: float64

In [50]:
df2 = pd.DataFrame([date_profit])

In [53]:
df2 = df2.T

In [54]:
dateallprofit = df.groupby(df.index.date).profit.sum()

In [55]:
dateallprofit

2013-05-02    1322.0
2013-05-03    1364.0
2013-05-06    2261.0
2013-05-07      81.0
2013-05-08     591.0
2013-05-09    1104.0
2013-05-10    -625.0
2013-05-13     407.0
2013-05-14      77.0
2013-05-15     210.0
2013-05-16    1133.0
2013-05-20    -558.0
2013-05-21      99.0
2013-05-22    -263.0
2013-05-23   -1348.0
2013-05-24     944.0
2013-05-27    1683.0
2013-05-28     592.0
2013-05-29   -1028.0
2013-05-30   -2136.0
2013-05-31    1312.0
2013-06-03    -401.0
2013-06-04     808.0
2013-06-05    -917.0
2013-06-06    -168.0
2013-06-07   -1228.0
2013-06-10     673.0
2013-06-11     161.0
2013-06-13   -1631.0
2013-06-14     140.0
               ...
2015-11-18    2822.0
2015-11-19    3731.0
2015-11-20   -1460.0
2015-11-23    1911.0
2015-11-24    3465.0
2015-11-25    3492.0
2015-11-26     457.0
2015-11-27   -8260.0
2015-11-30    4263.0
2015-12-01    1363.0
2015-12-02    2629.0
2015-12-03    2626.0
2015-12-04    1671.0
2015-12-07    2259.0
2015-12-08    2602.0
2015-12-09    2889.0
2015-12-10     914.0
2015-12-11   -2800.0
2015-12-14    2205.0
2015-12-15    1386.0
2015-12-16    2739.0
2015-12-17     422.0
2015-12-18    -322.0
2015-12-21    3755.0
2015-12-22   -2446.0
2015-12-23    -368.0
2015-12-24    1153.0
2015-12-28   -1336.0
2015-12-29    -913.0
2015-12-30   -3017.0
Name: profit, Length: 658, dtype: float64

In [57]:
sr1 = pd.DataFrame([dateallprofit])
sr1 = sr1.T
sr1

            profit
2013-05-02  1322.0
2013-05-03  1364.0
2013-05-06  2261.0
2013-05-07    81.0
2013-05-08   591.0
2013-05-09  1104.0
2013-05-10  -625.0
2013-05-13   407.0
2013-05-14    77.0
2013-05-15   210.0
2013-05-16  1133.0
2013-05-20  -558.0
2013-05-21    99.0
2013-05-22  -263.0
2013-05-23 -1348.0
2013-05-24   944.0
2013-05-27  1683.0
2013-05-28   592.0
2013-05-29 -1028.0
2013-05-30 -2136.0
2013-05-31  1312.0
2013-06-03  -401.0
2013-06-04   808.0
2013-06-05  -917.0
2013-06-06  -168.0
2013-06-07 -1228.0
2013-06-10   673.0
2013-06-11   161.0
2013-06-13 -1631.0
2013-06-14   140.0
...            ...
2015-11-18  2822.0
2015-11-19  3731.0
2015-11-20 -1460.0
2015-11-23  1911.0
2015-11-24  3465.0
2015-11-25  3492.0
2015-11-26   457.0
2015-11-27 -8260.0
2015-11-30  4263.0
2015-12-01  1363.0
2015-12-02  2629.0
2015-12-03  2626.0
2015-12-04  1671.0
2015-12-07  2259.0
2015-12-08  2602.0
2015-12-09  2889.0
2015-12-10   914.0
2015-12-11 -2800.0
2015-12-14  2205.0
2015-12-15  1386.0
2015-12-16  2739.0
2015-12-17   422.0
2015-12-18  -322.0
2015-12-21  3755.0
2015-12-22 -2446.0
2015-12-23  -368.0
2015-12-24  1153.0
2015-12-28 -1336.0
2015-12-29  -913.0
2015-12-30 -3017.0

[658 rows x 1 columns]

In [59]:
df1['date_all_profit'] = sr1

In [60]:
df1

            hsi_index      rate  date_all_profit
date2
2013-05-02   22668.30       NaN           1322.0
2013-05-03   22689.96  0.000956           1364.0
2013-05-06   22915.09  0.009922           2261.0
2013-05-07   23047.09  0.005760             81.0
2013-05-08   23244.35  0.008559            591.0
2013-05-09   23211.48 -0.001414           1104.0
2013-05-10   23321.22  0.004728           -625.0
2013-05-13   22989.81 -0.014211            407.0
2013-05-14   22930.28 -0.002589             77.0
2013-05-15   23044.24  0.004970            210.0
2013-05-16   23082.68  0.001668           1133.0
2013-05-20   23493.03  0.017777           -558.0
2013-05-21   23366.37 -0.005391             99.0
2013-05-22   23261.08 -0.004506           -263.0
2013-05-23   22669.68 -0.025424          -1348.0
2013-05-24   22618.67 -0.002250            944.0
2013-05-27   22686.05  0.002979           1683.0
2013-05-28   22924.25  0.010500            592.0
2013-05-29   22554.93 -0.016110          -1028.0
2013-05-30   22484.31 -0.003131          -2136.0
2013-05-31   22392.16 -0.004098           1312.0
2013-06-03   22282.19 -0.004911           -401.0
2013-06-04   22285.52  0.000149            808.0
2013-06-05   22069.24 -0.009705           -917.0
2013-06-06   21838.43 -0.010458           -168.0
2013-06-07   21575.26 -0.012051          -1228.0
2013-06-10   21615.09  0.001846            673.0
2013-06-11   21354.66 -0.012049            161.0
2013-06-13   20887.04 -0.021898          -1631.0
2013-06-14   20969.14  0.003931            140.0
...               ...       ...              ...
2015-11-18   22188.26 -0.003413           2822.0
2015-11-19   22500.22  0.014060           3731.0
2015-11-20   22754.72  0.011311          -1460.0
2015-11-23   22665.90 -0.003903           1911.0
2015-11-24   22587.63 -0.003453           3465.0
2015-11-25   22498.00 -0.003968           3492.0
2015-11-26   22488.94 -0.000403            457.0
2015-11-27   22068.32 -0.018703          -8260.0
2015-11-30   21996.42 -0.003258           4263.0
2015-12-01   22381.35  0.017500           1363.0
2015-12-02   22479.69  0.004394           2629.0
2015-12-03   22417.01 -0.002788           2626.0
2015-12-04   22235.89 -0.008080           1671.0
2015-12-07   22203.22 -0.001469           2259.0
2015-12-08   21905.13 -0.013426           2602.0
2015-12-09   21803.76 -0.004628           2889.0
2015-12-10   21704.61 -0.004547            914.0
2015-12-11   21464.05 -0.011083          -2800.0
2015-12-14   21309.85 -0.007184           2205.0
2015-12-15   21274.37 -0.001665           1386.0
2015-12-16   21701.21  0.020064           2739.0
2015-12-17   21872.06  0.007873            422.0
2015-12-18   21755.56 -0.005326           -322.0
2015-12-21   21791.68  0.001660           3755.0
2015-12-22   21830.02  0.001759          -2446.0
2015-12-23   22040.59  0.009646           -368.0
2015-12-24   22138.13  0.004425           1153.0
2015-12-28   21919.62 -0.009870          -1336.0
2015-12-29   21999.62  0.003650           -913.0
2015-12-30   21882.15 -0.005340          -3017.0

[658 rows x 3 columns]

In [66]:
df2

                    profit
           account
2013-05-02 A0001     173.0
           A0002     166.0
           A0003      98.0
           A0004      42.0
           A0005     -77.0
           A0006     130.0
           A0007     319.0
           A0008     141.0
           A0009      11.0
           A0010     202.0
           A0011      16.0
           A0012     170.0
           A0013      21.0
           A0014    -297.0
           A0015     -21.0
           A0016      -6.0
           A0017      53.0
           A0018      29.0
           A0019     -30.0
           A0020      -8.0
           A0021      -3.0
           A0022      40.0
           A0023      95.0
           A0024       9.0
           A0025     -19.0
           A0026     -42.0
           A0027      56.0
           A0028      29.0
           A0029      14.0
           A0030     -18.0
...                    ...
2015-12-30 A1576     -12.0
           A1577       2.0
           A1578     -23.0
           A1580      -6.0
           A1581     -25.0
           A1582      11.0
           A1583    -155.0
           A1584      -6.0
           A1585      -3.0
           A1587     -47.0
           A1589     -44.0
           A1591      31.0
           A1599     -17.0
           A1600       8.0
           A1601    -152.0
           A1604      -8.0
           A1606     -32.0
           A1607     -24.0
           A1609    -119.0
           A1610     192.0
           A1611      -9.0
           A1617      -9.0
           A1618      -8.0
           A1620    -250.0
           A1625      -8.0
           A1628     -14.0
           A1630     -88.0
           A1633     -36.0
           A1635     101.0
           A1636     -96.0

[53204 rows x 1 columns]

In [67]:
df1.to_hdf('hsi_with_allprofit.h5','hsi')

In [74]:
df3 = df2.unstack()

In [75]:
df3

           profit                                                         \
account     A0001  A0002  A0003  A0004  A0005  A0006  A0007  A0008 A0009
2013-05-02  173.0  166.0   98.0   42.0  -77.0  130.0  319.0  141.0  11.0
2013-05-03  323.0  -38.0   75.0   86.0  104.0   35.0  -80.0 -135.0  20.0
2013-05-06  478.0   95.0   51.0   21.0    NaN   99.0  -43.0    NaN   NaN
2013-05-07 -223.0  -16.0  -46.0    NaN    NaN  102.0    NaN    NaN -55.0
2013-05-08  -57.0  -28.0  -34.0   10.0    NaN  185.0  117.0  -17.0   NaN
2013-05-09  -43.0   97.0  -54.0   45.0    NaN  156.0  -64.0    NaN  -3.0
2013-05-10   23.0 -111.0 -116.0  -40.0    NaN   29.0   44.0    NaN   5.0
2013-05-13  122.0   82.0  143.0  -30.0    NaN   42.0  253.0    NaN  24.0
2013-05-14 -245.0  -58.0  -87.0   85.0    NaN   48.0 -242.0    NaN -18.0
2013-05-15    NaN  108.0    NaN   23.0    NaN  -76.0  -31.0    NaN -47.0
2013-05-16    NaN   49.0    NaN   47.0    NaN    NaN  340.0    NaN   NaN
2013-05-20    NaN    NaN    NaN  -27.0    NaN    NaN  171.0    NaN  -2.0
2013-05-21    NaN   15.0    NaN  -26.0    NaN    NaN  -75.0    NaN -17.0
2013-05-22    NaN   99.0    NaN   33.0   97.0   52.0  527.0    NaN -47.0
2013-05-23    NaN -266.0    NaN  -17.0  -47.0  -12.0 -277.0    NaN   6.0
2013-05-24    NaN  161.0    NaN  -39.0  179.0   -6.0  331.0    NaN   NaN
2013-05-27    NaN   60.0    NaN   45.0  515.0   33.0  301.0    NaN   NaN
2013-05-28    NaN -103.0    NaN   60.0  189.0   40.0 -147.0    NaN   NaN
2013-05-29    NaN -197.0    NaN  -10.0 -203.0  -71.0  265.0    NaN   8.0
2013-05-30 -110.0   61.0    NaN  120.0 -730.0  263.0  -84.0    NaN -37.0
2013-05-31    NaN   79.0    NaN  130.0   27.0  -82.0    6.0    NaN   NaN
2013-06-03    NaN -300.0    NaN  127.0   23.0  111.0 -135.0    NaN  38.0
2013-06-04    NaN    5.0    NaN   72.0  106.0  190.0  144.0    NaN -63.0
2013-06-05    NaN  109.0    NaN   56.0 -275.0 -224.0  -59.0    NaN  28.0
2013-06-06    NaN  -18.0    NaN   91.0   74.0    NaN -379.0    NaN   2.0
2013-06-07    NaN -242.0    NaN  130.0 -374.0    NaN    NaN    NaN   0.0
2013-06-10    NaN   43.0    NaN  -24.0 -110.0    NaN  247.0    NaN   NaN
2013-06-11    NaN   33.0    NaN   56.0 -158.0    NaN -188.0    NaN  23.0
2013-06-13    NaN -320.0    NaN   65.0  -85.0    NaN -240.0    NaN  41.0
2013-06-14    NaN   -3.0    NaN   26.0  -52.0    NaN  -38.0    NaN   NaN
...           ...    ...    ...    ...    ...    ...    ...    ...   ...
2015-11-18    NaN  105.0    NaN   95.0    NaN    NaN    NaN    NaN   NaN
2015-11-19    NaN   86.0    NaN  -48.0    NaN    NaN    NaN    NaN   NaN
2015-11-20    NaN  -19.0    NaN   42.0    NaN    NaN    NaN    NaN   NaN
2015-11-23    NaN -100.0    NaN   -5.0    NaN    NaN    NaN    NaN   NaN
2015-11-24    NaN  123.0    NaN   15.0    NaN    NaN    NaN    NaN   NaN
2015-11-25    NaN    NaN    NaN -176.0    NaN    NaN    NaN    NaN   NaN
2015-11-26    NaN   53.0    NaN   91.0    NaN    NaN    NaN    NaN   NaN
2015-11-27    NaN    NaN    NaN   35.0    NaN    NaN    NaN    NaN   NaN
2015-11-30    NaN   13.0    NaN   68.0    NaN    NaN    NaN    NaN   NaN
2015-12-01    NaN  178.0    NaN  -70.0    NaN    NaN    NaN    NaN   NaN
2015-12-02    NaN -137.0    NaN  103.0    NaN    NaN    NaN    NaN   NaN
2015-12-03    NaN    NaN    NaN   49.0    NaN    NaN    NaN    NaN   NaN
2015-12-04    NaN  -49.0    NaN   40.0    NaN    NaN    NaN    NaN   NaN
2015-12-07    NaN   94.0    NaN  -32.0    NaN    NaN    NaN    NaN   NaN
2015-12-08    NaN -213.0    NaN -149.0    NaN    NaN    NaN    NaN   NaN
2015-12-09    NaN   37.0    NaN   60.0    NaN    NaN    NaN    NaN   NaN
2015-12-10    NaN  -83.0    NaN -129.0    NaN    NaN    NaN    NaN   NaN
2015-12-11    NaN  304.0    NaN   81.0    NaN    NaN    NaN    NaN   NaN
2015-12-14    NaN  182.0    NaN   46.0    NaN    NaN    NaN    NaN   NaN
2015-12-15    NaN   66.0    NaN   58.0    NaN    NaN    NaN    NaN   NaN
2015-12-16    NaN  103.0    NaN -171.0    NaN    NaN    NaN    NaN   NaN
2015-12-17    NaN  -65.0    NaN   24.0    NaN    NaN    NaN    NaN   NaN
2015-12-18    NaN  104.0    NaN   16.0    NaN    NaN    NaN    NaN   NaN
2015-12-21    NaN  -35.0    NaN  -37.0    NaN    NaN    NaN    NaN   NaN
2015-12-22    NaN -207.0    NaN   23.0    NaN    NaN    NaN    NaN   NaN
2015-12-23    NaN   55.0    NaN    6.0    NaN    NaN    NaN    NaN   NaN
2015-12-24    NaN    NaN    NaN   24.0    NaN    NaN    NaN    NaN   NaN
2015-12-28    NaN  264.0    NaN    NaN    NaN    NaN    NaN    NaN   NaN
2015-12-29    NaN  -29.0    NaN    NaN    NaN    NaN    NaN    NaN   NaN
2015-12-30    NaN   77.0    NaN    8.0    NaN    NaN    NaN    NaN   NaN

                   ...                                                   \
account     A0010  ...  A1627 A1628 A1629 A1630 A1631 A1632 A1633 A1634
2013-05-02  202.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-03  -22.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-06  146.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-07  180.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-08   59.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-09  -96.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-10   -3.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-13 -542.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-14   50.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-15 -207.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-16  240.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-20 -130.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-21   71.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-22 -141.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-23    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-24    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-27    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-28    5.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-29 -117.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-30  185.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-05-31 -411.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-06-03   50.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-06-04  309.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-06-05  -27.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-06-06    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-06-07    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-06-10    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-06-11    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-06-13 -226.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2013-06-14   64.0  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...           ...  ...    ...   ...   ...   ...   ...   ...   ...   ...
2015-11-18    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-11-19    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-11-20    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-11-23    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-11-24    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-11-25    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-11-26    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-11-27    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-11-30    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-12-01    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-12-02    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-12-03    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-12-04    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-12-07    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-12-08    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-12-09    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-12-10    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-12-11    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-12-14    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-12-15    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-12-16    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-12-17    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-12-18    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-12-21    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2015-12-22    NaN  ...  -47.0 -36.0 -38.0   NaN   NaN   NaN   NaN   NaN
2015-12-23    NaN  ...    NaN -63.0   NaN -14.0   NaN   NaN   NaN   NaN
2015-12-24    NaN  ...    NaN  40.0   NaN  54.0   NaN   NaN   NaN   NaN
2015-12-28    NaN  ...    NaN  33.0   NaN  58.0 -50.0  35.0  37.0  14.0
2015-12-29    NaN  ...    NaN  -8.0   NaN   0.0   NaN  -6.0 -39.0   NaN
2015-12-30    NaN  ...    NaN -14.0   NaN -88.0   NaN   NaN -36.0   NaN


account     A1635 A1636
2013-05-02    NaN   NaN
2013-05-03    NaN   NaN
2013-05-06    NaN   NaN
2013-05-07    NaN   NaN
2013-05-08    NaN   NaN
2013-05-09    NaN   NaN
2013-05-10    NaN   NaN
2013-05-13    NaN   NaN
2013-05-14    NaN   NaN
2013-05-15    NaN   NaN
2013-05-16    NaN   NaN
2013-05-20    NaN   NaN
2013-05-21    NaN   NaN
2013-05-22    NaN   NaN
2013-05-23    NaN   NaN
2013-05-24    NaN   NaN
2013-05-27    NaN   NaN
2013-05-28    NaN   NaN
2013-05-29    NaN   NaN
2013-05-30    NaN   NaN
2013-05-31    NaN   NaN
2013-06-03    NaN   NaN
2013-06-04    NaN   NaN
2013-06-05    NaN   NaN
2013-06-06    NaN   NaN
2013-06-07    NaN   NaN
2013-06-10    NaN   NaN
2013-06-11    NaN   NaN
2013-06-13    NaN   NaN
2013-06-14    NaN   NaN
...           ...   ...
2015-11-18    NaN   NaN
2015-11-19    NaN   NaN
2015-11-20    NaN   NaN
2015-11-23    NaN   NaN
2015-11-24    NaN   NaN
2015-11-25    NaN   NaN
2015-11-26    NaN   NaN
2015-11-27    NaN   NaN
2015-11-30    NaN   NaN
2015-12-01    NaN   NaN
2015-12-02    NaN   NaN
2015-12-03    NaN   NaN
2015-12-04    NaN   NaN
2015-12-07    NaN   NaN
2015-12-08    NaN   NaN
2015-12-09    NaN   NaN
2015-12-10    NaN   NaN
2015-12-11    NaN   NaN
2015-12-14    NaN   NaN
2015-12-15    NaN   NaN
2015-12-16    NaN   NaN
2015-12-17    NaN   NaN
2015-12-18    NaN   NaN
2015-12-21    NaN   NaN
2015-12-22    NaN   NaN
2015-12-23    NaN   NaN
2015-12-24    NaN   NaN
2015-12-28    NaN   NaN
2015-12-29 -188.0   NaN
2015-12-30  101.0 -96.0

[658 rows x 1636 columns]

In [77]:
df3.index = pd.to_datetime(df3.index)

In [78]:
df3.index

DatetimeIndex(['2013-05-02', '2013-05-03', '2013-05-06', '2013-05-07',
               '2013-05-08', '2013-05-09', '2013-05-10', '2013-05-13',
               '2013-05-14', '2013-05-15',
               ...
               '2015-12-16', '2015-12-17', '2015-12-18', '2015-12-21',
               '2015-12-22', '2015-12-23', '2015-12-24', '2015-12-28',
               '2015-12-29', '2015-12-30'],
              dtype='datetime64[ns]', length=658, freq=None)

In [79]:
df3.to_hdf('all_account_profit.h5','hsi')